<v-app>
    <v-body title="주변상권 이벤트상세">
        <div class="container">
            <!-- 디자인 수정으로 <div class="flat_round_box bg_white"> 추가 -->
            <div class="flat_round_box bg_white notice_box">
                <div class="notice_title">
                    <p class="sub_title">{{eventDetail?.enmName}}</p>
                    <h4>{{eventDetail?.eventTtl}}</h4>
                    <p class="time">{{eventDetail?.eventStrDt | stringDateFormatDt}}
                        ~ {{eventDetail?.eventEndDt | stringDateFormatDt}}</p>
                </div>
                <div class="notice_link" *ngIf="eventDetail?.linkUrl">
                    <a (click)="goExternalPage(eventDetail)" class="link">{{eventDetail?.linkUrl}}</a>
                </div>
                <!-- 이벤트 상세 -->
                <div class="admin_content">
                    <img [src]="eventDetail?.imgFileIdPath | fileToWebPath" alt="샘플"/>
                </div>
            </div>
            <!-- 목록 보기 -->
            <div class="go_list">
                <a class="btn btn_type2" (click)="goEventBizAroundListPage()">목록 보기</a>
            </div>
        </div>
    </v-body>
</v-app>
