v-body{
    height: 100%;
}
/******  메인  ******/
#Gatepage .container{
    padding: 0;
}
.base_cont{
    position: relative;
    content: "";
    display: block;
    margin: 0;
    padding: 4.833rem 0 0;
    height: 100%;
    overflow: hidden;
    z-index: 2;
}
.base_cont::after{
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/* BG img */
#Gatepage .gate_bg{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}
#Gatepage .gate_bg::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#Gatepage .gate_bg img{
    position: absolute;
    display: block;
    height: 100%;
    max-width: none;
    transform: translate(36%, -50%);
    top: 50%;
    right: 50%;
    z-index: 0;
}
/* 해더 */
#Gatepage .header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2.667rem 1.667rem 0.4167rem;
    box-sizing: border-box;
    z-index: 1;
    height: 4.833rem;
}
#Gatepage .header h1 span{
    display: block;
    text-indent: -9999px;
    background: url(/assets/common/logo_w.svg) no-repeat;
    background-size: 100%;
    width: 6.5rem;
    height: 1.75rem;
}
#Gatepage .header > span{
    font-size: 0.9167rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.05em;
}
/* 문구 */
#Gatepage .txt_title,
#Gatepage .btn_box{
    position: relative;
    z-index: 1;
}
#Gatepage .txt_title{
    color: #fff;
    margin-top: 5.5rem;
    padding-left: 2rem;
}
#Gatepage .txt_title h2{
    line-height:1.3;
    margin-bottom: 2rem;
}
#Gatepage .txt_title h2 span{
    font-weight: 300;
}
#Gatepage .txt_title p{
    position: relative;
    padding-left: 4.5rem;
    font-size: 1.167rem;
}
#Gatepage .txt_title p::before{
    position: absolute;
    content: "";
    width:  3.75rem;
    height: 0.08333rem;
    display: inline-block;
    background: #fff;
    vertical-align: middle;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
/* 버튼 */
#Gatepage .btn_box{
    position: absolute;
    left: 2rem;
    right: 2rem;
    bottom: 3.75rem;
}
#Gatepage .btn_box button{
    position: relative;
    width: 100%;
    color: #fff;
    border: 0.1667rem solid #90B21A;
    box-sizing: border-box;
    border-radius: 0.4167rem;
    line-height: 5rem;
    font-size:1.333rem;
    text-align: left;
    padding-left: 5.5rem;
    background: #140f0c42;
}
#Gatepage .btn_box button::after,
#Gatepage .btn_box button::before{
    position: absolute;
    display: inline-block;
    content: "";
    top: 50%;
    transform: translateY(-50%);
}
#Gatepage .btn_box button::before{
    background: url(/assets/icon/building_green.svg) no-repeat;
    width: 2.333rem;
    height: 1.833rem;
    left: 2rem;
    background-size: 100% 100%;
}
#Gatepage .btn_box button::after{
    background: url(/assets/common/icon_goto_log_in.svg) no-repeat;
    background-size: 100% 100%;
    width: 1.917rem;
    height: 0.9167rem;
    right: 2rem;
}
/********** 팝업 *********/
#Gatepage .popup_box{
    position: absolute;
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#Gatepage .popup_box.on{
    display: block;
}
#Gatepage .popup_box .dim{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background:#5a504a80;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
/* 활성 화 시 숨김 처리 */
#Gatepage .popup_box.on ~ .header,
#Gatepage .popup_box.on ~ .base_cont{
    display: none;
}
/* 팝업 */
#Gatepage .popup_box .popup{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 10;
    background: #00000080;
}
/* 팝업 - 해더 */
#Gatepage .popup_box .popup .pop_head{
    color: #fff;
}
#Gatepage .popup_box .popup .pop_head h2.title{
    position: relative;
    font-size: 1.667rem;
    text-align: center;
    height: 6rem;
    line-height: 6rem;
    background: #0000001a;
}
#Gatepage .popup_box .popup .pop_head h2.title a.close{
  position: absolute;
  font-size: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: url('/assets/icon/gate_close.svg') no-repeat center;
  width: 1.25rem;
  height: 1.25rem;
  top: 50%;
  right: 1.667rem;
  transform: translateY(-50%);
}
#Gatepage .popup_box .popup .pop_head .location{
    position: relative;
    display: none;
    height: 4.167rem;
    padding: 1.083rem 0;
    padding-left: 4rem;
    padding-right: 1.667rem;
    background: #8d878526;
}
#Gatepage .popup_box .popup .pop_head .location.on{
    display: block;
}
#Gatepage .popup_box .popup .pop_head .location:before {
    position: absolute;
    display: inline-block;
    content: "";
    background: url('/assets/icon/icon_locate_w.svg') no-repeat;
    width: 1.333rem;
    height: 1.667rem;
    background-size: 100%;
    left: 1.667rem;
    top: 50%;
    transform: translateY(-50%);
}
#Gatepage .popup_box .popup .pop_head .location h3{
    font-size:1.333rem;
    display: inline-block;
    line-height: 1.4;
}
#Gatepage .popup_box .popup .pop_head .location h3 span{
    color: #90B21A;
    font-weight: bold;
}
#Gatepage .popup_box .popup .pop_head a.back{
    color: #fff;
    border: 0.1667rem solid #fff;
    box-sizing: border-box;
    padding: 0.25rem 0.75rem;
    border-radius: 1.667rem;
    float: right;
}
/* 팝업 - body */
#Gatepage .popup_box .popup .pop_body{
    display: none;
    height: calc(100% - 16rem);
    overflow-y: auto;
    background: #0000001a;
    padding: 2rem 1.667rem 0;
}
#Gatepage .popup_box .popup .chs_city {
    // overflow-y: hidden;
}
#Gatepage .popup_box .popup .pop_body.on{
    display: block;
}
#Gatepage .popup_box .popup .pop_body .check_box .btn_switch{
    display: table;
}
#Gatepage .popup_box .popup .pop_body .check_box .btn_switch .label_on_off,
#Gatepage .popup_box .popup .pop_body .check_box .btn_switch span.switch_txt{
    vertical-align: middle;
    line-height:1.833rem;
}
/* 버튼 리스트 */
#Gatepage .popup_box .popup .pop_body .list_box{
    margin-top: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#Gatepage .popup_box .popup .pop_body .list_box::after {
  content: "";
  flex: auto;
}
#Gatepage .popup_box .popup .pop_body .list_box>div{
    display: table;
    width: 29%;
    min-height: 3rem;
    height: calc((100vh - 28rem)/6);
    text-align: center;
    border:0.1667rem solid #FFFFFF80;
    background: #140F0C99;
    font-size: 1.25rem;
    border-radius: 0.4167rem;
    margin-bottom: 1.083rem;
    box-sizing: border-box;
}
#Gatepage .popup_box .popup .pop_body .list_box>div.on{
    border-color: #fff;
    background: #140F0CCC;
}
#Gatepage .popup_box .popup .pop_body .list_box>div:last-child{
    margin-left: 6.55%;
}
#Gatepage .popup_box .popup .pop_body .list_box>div a{
    display: table-cell;
    height: 100%;
    color: #ffffff80;
    vertical-align: middle;
    font-size: 1.25rem;
    cursor: default;
}
#Gatepage .popup_box .popup .pop_body .list_box>div.on a{
    color: #fff;
    cursor: pointer;
}
#Gatepage .popup_box .popup .pop_body .list_box>div a span{
    display: none;
    margin-left:  0.5rem;
    color: #90B21A;
    font-family:'Montserrat';
    font-weight: bold;
}
#Gatepage .popup_box .popup .pop_body .list_box>div.on a span{
    display: inline-block;
}
/* 단지 설정 */
#Gatepage .popup_box .popup .pop_body .chose_box{
    position: relative;
    width: 100%;
    border: 0.1667rem solid #8D8785;
    padding:2.667rem 2.5rem;
    border-radius: 0.4167rem;
    box-sizing: border-box;
    //margin-top: 1.25rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box + .chose_box{
    margin-top: 2rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box:last-of-type {
    margin-bottom: 2rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box span.tag{
    position: absolute;
    right: -0.08333rem;
    top: -0.08333rem;
    background: #8D8785;
    color: #fff;
    border-radius: 0 0 0 0.4167rem;
    padding: 0.25rem 0.9167rem 0.4167rem 1rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box .title{
    font-size: 1.75rem;
    color: #FFFFFF;
    text-align: center;
}
#Gatepage .popup_box .popup .pop_body .chose_box .title span{
    display: block;
    font-size: 1.167rem;
    color: #ffffff33;
    margin-bottom: 0.35rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page{
    margin-top: 2rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page a{
    width:49%;
    line-height: 3.167rem;
    text-align: center;
    border-radius: 0.25rem;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page a.btn01{
    color: #4B423C;
    background: #fff;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page a.btn02{
    background:#90B21A;
    color: #fff;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page a.full{
    width: 100%;
}
#Gatepage .popup_box .popup .pop_body .chose_box .go_page a + a{
    margin-left: 2%;
}
/* 팝업 - 바닥 공지 */
#Gatepage .popup_box .popup h3.btm_info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5.833rem;
    line-height: 1.8;
    padding: 1.25rem 0;
    background: #8d878526;
    color: #ffffff99;
    text-align: center;
    font-size: 0.9167rem;
}
/* pc */
@media screen and (min-width: 1025px) {
    /******  메인  ******/
    #Gatepage .container{
        width: 100%;
    }
    #Gatepage .gate_bg img{
        width: 100%;
        transform: translate(0, 0);
        top: 0;
        right: 0;
    }
    .base_cont{
        width: 1000px;
        margin: 0 auto;
        padding-top: 80px;
    }
    /* 해더 */
    #Gatepage .header{
        width: 1000px;
        margin: 0 auto;
        padding: 40px 0 0;
        height: 80px;
        z-index: 10;
    }
    #Gatepage .header h1 span{
        width: 97px;
        height: 26px;
    }
    #Gatepage .header > span{
        font-size: 15px;
        letter-spacing: -1px;
    }
    /* 문구 */
    #Gatepage .txt_title{
        color: #fff;
        margin-top: 135px;
        padding-left: 0;
    }
    #Gatepage .txt_title h2{
        margin-bottom: 38px;
        font-size: 40px;
        line-height: 1.55;
    }
    #Gatepage .txt_title p{
        padding-left: 88px;
        font-size: 18px;
    }
    #Gatepage .txt_title p::before{
        width: 67px;
        height: 1px;
    }
    /* 버튼 */
    #Gatepage .btn_box{
        position: relative;
        left: auto;
        right: auto;
        bottom: auto;
        width: 380px;
        height: 76px;
        margin-top: 107px;
    }
    #Gatepage .btn_box button{
        position: relative;
        width: 100%;
        color: #fff;
        border: 0.1667rem solid #90B21A;
        box-sizing: border-box;
        border-radius: 0.4167rem;
        line-height: 5rem;
        font-size:1.333rem;
        text-align: left;
        padding-left: 5.5rem;
        background: #140f0c42;
    }
    #Gatepage .btn_box button::after,
    #Gatepage .btn_box button::before{
        position: absolute;
        display: inline-block;
        content: "";
        top: 50%;
        transform: translateY(-50%);
    }
    #Gatepage .btn_box button::before{
        background: url(/assets/icon/building_green.svg) no-repeat;
        background-size: 100% 100%;
        width: 2.333rem;
        height: 1.833rem;
        left: 2rem;
    }
    #Gatepage .btn_box button::after{
        background: url(/assets/common/icon_goto_log_in.svg) no-repeat;
        background-size: 100% 100%;
        width: 1.917rem;
        height: 0.9167rem;
        right: 2rem;
    }
    /********** 팝업 *********/
    #Gatepage .popup_box .dim{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background:#5a504a80;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }
    /* 활성 화 시 숨김 처리 취소 */
    #Gatepage .popup_box.on ~ .header{
        display: flex;
    }
    #Gatepage .popup_box.on ~ .base_cont{
        display: block;
        opacity: 0.4;
    }
    /* 팝업 */
    #Gatepage .popup_box .popup{
        width: 440px;
        height: 635px;
        top: 50%;
        right: 50%;
        bottom: auto;
        left: auto;
        transform: translate(50%, -50%);
        background: #322822;
        border-radius: 8px;
        box-shadow: 0px 27px 15px -15px rgba(30, 18, 11, 0.68);
    }
    #Gatepage .popup_box .popup::after{
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgb(0 0 0 / 0.4);
        z-index: -1;
    }
    #Gatepage .popup_box .popup .pop_head{
        position: relative;
    }
    #Gatepage .popup_box .popup .pop_head h2.title{
        font-size: 20px;
        height: 72px;
        line-height: 72px;
        background: #00000000;
    }
    #Gatepage .popup_box .popup .pop_head h2.title a.close{
      width: 14px;
      height: 14px;
      right: 21px;
    }
    #Gatepage .popup_box .popup .pop_head .location{
        height: 50px;
        padding: 13px 0;
        padding-left: 46px;
        background: #8d87854d;
    }
    #Gatepage .popup_box .popup .pop_head .location:before {
        width: 16px;
        height: 20px;
        left: 19px;
    }
    #Gatepage .popup_box .popup .pop_head .location h3{
        font-size: 16px;
        line-height: 1.4;
    }
    #Gatepage .popup_box .popup .pop_head a.back{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
    }
    /* 팝업 - body */
    #Gatepage .popup_box .popup .pop_body{
        position: relative;
        height: 465px;
        background: #00000000;
        padding: 30px 20px 30px;
    }
    #Gatepage .popup_box .popup .pop_body.chs_city{
        padding-bottom: 0;
    }
    #Gatepage .popup_box .popup .pop_body.chs_city::-webkit-scrollbar{
        display: none;
    }
    #Gatepage .popup_box .popup .pop_body::-webkit-scrollbar {
        display: block;
        width: 10px;    
      }
    #Gatepage .popup_box .popup .pop_body::-webkit-scrollbar-track {
        background: #8d87854d;
      }
    #Gatepage .popup_box .popup .pop_body::-webkit-scrollbar-thumb {
        background: #ffffff4d;
      }
    #Gatepage .popup_box .popup .pop_body .check_box{
        margin-top: 0;
    }
    /* 버튼 리스트 */
    #Gatepage .popup_box .popup .pop_body .list_box{
        margin-top: 14px;
    }
    #Gatepage .popup_box .popup .pop_body .list_box>div{
        width: 126px;
        height: 52px;
        border: 2px solid #FFFFFF1A;
        background: #140F0CCC;
        font-size: 15px;
        border-radius: 5px;
        margin-bottom: 11px;
    }
    #Gatepage .popup_box .popup .pop_body .list_box>div:last-child{
        margin-left: 11px;
    }
    #Gatepage .popup_box .popup .pop_body .list_box>div a{
        font-size: 15px;
    }
    #Gatepage .popup_box .popup .pop_body .list_box>div a span{
        margin-left: 16px;
    }
    /* 단지 설정 */
    #Gatepage .popup_box .popup .pop_body .chose_box{
        background: #140F0CCC;
        border: 2px solid #8D8785;
        padding:28px 32px 36px;
        border-radius: 5px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box + .chose_box{
        margin-top:  24px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box span.tag{
        right: -1px;
        top: -1px;
        border-radius: 0 0 0 5px;
        padding: 4px 16px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box .title{
        font-size: 22px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box .title span{
        font-size: 14px;
        margin-bottom: 5px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box .go_page{
        margin-top: 25px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box .go_page a{
        width:155px;
        line-height: 38px;
        border-radius: 3px;
    }
    #Gatepage .popup_box .popup .pop_body .chose_box .go_page a + a{
        margin-left: 8px;
    }
    /* 팝업 - 바닥 공지 */
    #Gatepage .popup_box .popup h3.btm_info{
        height: 50px;
        line-height: 50px;
        text-align: left;
        padding: 0;
        padding-left: 30px;
        font-size: 11px;
    }
}