<v-app>
    <v-body title="차량 or 택배">
        <div class="container">
            <!-- 차량 -->
            <div class="round_box iot_det">
                <div class="content">
                    <ul>
                        <li>
                            <div class="info_box">
                                <p class="date">2020.09.17 11:20</p>
                                <span class="info_txt">차량번호 1234</span>
                            </div>
                            <span class="state">입차</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <p class="date">2020.09.17 11:20</p>
                                <span class="info_txt">차량번호 1234</span>
                            </div>
                            <span class="state">입차</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <p class="date">2020.09.17 11:20</p>
                                <span class="info_txt">차량번호 1234</span>
                            </div>
                            <span class="state">입차</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <p class="date">2020.09.17 11:20</p>
                                <span class="info_txt">차량번호 1234</span>
                            </div>
                            <span class="state">입차</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <p class="date">2020.09.17 11:20</p>
                                <span class="info_txt">차량번호 1234</span>
                            </div>
                            <span class="state">입차</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // 차량 -->

            <!-- 택배 -->
            <div class="round_box iot_det">
                <div class="content">
                    <ul>
                        <li>
                            <div class="info_box">
                                <span class="top_txt">[CJ 대한통운]</span>
                                <p class="date">2020.09.17 11:20<span class="tag red">new</span></p>
                                <span class="info_txt">택배함 번호 1</span>
                            </div>
                            <span class="state">택배도착</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <span class="top_txt">[CJ 대한통운]</span>
                                <p class="date">2020.09.17 11:20<span class="tag red">new</span></p>
                                <span class="info_txt">택배함 번호 1</span>
                            </div>
                            <span class="state">택배도착</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <span class="top_txt">[CJ 대한통운]</span>
                                <p class="date">2020.09.17 11:20<span class="tag red">new</span></p>
                                <span class="info_txt">택배함 번호 1</span>
                            </div>
                            <span class="state">택배도착</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <span class="top_txt">[CJ 대한통운]</span>
                                <p class="date">2020.09.17 11:20<span class="tag red">new</span></p>
                                <span class="info_txt">택배함 번호 1</span>
                            </div>
                            <span class="state fc_org">고객수령</span>
                        </li>
                        <li>
                            <div class="info_box">
                                <span class="top_txt">[CJ 대한통운]</span>
                                <p class="date">2020.09.17 11:20<span class="tag red">new</span></p>
                                <span class="info_txt">택배함 번호 1</span>
                            </div>
                            <span class="state fc_org">고객수령</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // 택배 -->
        </div>
    </v-body>
</v-app>