<ion-content>
  <ion-list>
    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/" class="complete">메인 페이지</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/login" class="complete">로그인</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/logout-confirm" class="complete">자동로그아웃</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/pincode" class="complete">핀번호 입력<br>APP 방범 비밀번호</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/gate" class="complete">게이트</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/terms" class="complete">약관</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/assets/email.html">이메일</ion-router-link>
    </ion-item>

    <ion-item>
      <ion-router-link target="_blank" color="secondary" href="/guide" class="guide">가이드 페이지</ion-router-link>
    </ion-item>

    <ion-item>
      <span>빌리브 스토리</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story" class="complete">빌리브 스토리</ion-router-link>
        </ion-item>
        <span class="sub_title">임시 - 마이페이지 상세페이지</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/rent-fee-info" class="ing">임대료안내</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/contract-info" class="complete">계약안내</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/contract-apply">계약대기신청</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/public-rent-info">공공지원민간임대주택</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/position-info" class="complete">입지환경</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/plane-info" class="complete">평면안내</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/interior-info" class="complete">인테리어 정보</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/bz-info" class="complete">단지 정보</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/way-info" class="complete">오시는 길</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/story/magazine" class="complete">빌리브 매거진</ion-router-link>
        </ion-item>

      </ion-list>
    </ion-item>


    <ion-item>
      <span>이벤트 & 혜택</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/event" class="complete">신세계 라이프스타일</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/event/villiv" class="complete">빌리브 이벤트</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/event/villiv-view" class="complete">빌리브 이벤트상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/event/bzaround" class="complete">주변상권 이벤트</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/event/bzaround-view" class="complete">주변상권 이벤트상세</ion-router-link>
        </ion-item>

      </ion-list>
    </ion-item>


    <ion-item>
      <span>커뮤니티</span>

      <ion-list>
        
        <span class="sub_title">기본 리스트</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/notice" class="complete">공지사항</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/notice-view" class="complete">공지사항 상세</ion-router-link>
        </ion-item>

        <span class="sub_title">기본 리스트 - 첨부파일 없음</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-resident" class="complete">입주민 게시판</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-resident-view" class="complete">입주민 게시판 상세</ion-router-link>
        </ion-item>

        <span class="sub_title">이미지형 리스트</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-lancable" class="complete">랜선집들이 게시판</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-lancable-view" class="complete">랜선집들이 게시판 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-lancable-update" class="complete">랜선집들이 게시판 입력/수정</ion-router-link>
        </ion-item>

        <span class="sub_title">이미지형 리스트 - 태그 추가</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-share" class="complete">단지장터 게시판</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-share-view" class="complete">단지장터 게시판 상세</ion-router-link>
        </ion-item>
        
        <!-- 기본 스타일 게시판 - 공통
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-news" class="complete">소식방 게시판</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lifeshare/board-news-view" class="complete">소식방 게시판 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/fleamarket">플리마켓</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/fleamarket-view">플리마켓 상세</ion-router-link>
        </ion-item>
      -->

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/lettering" class="complete">레터링 신청</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/ivst" class="complete">설문조사</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/ivst-view" class="complete">설문조사 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/vote" class="complete">투표</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/vote-view" class="complete">투표 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/community/vote-result" class="complete">투표 결과</ion-router-link>
        </ion-item>

      </ion-list>

    </ion-item>


    <ion-item>
      <span>고객서비스</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/cs/faq" class="complete ">FAQ</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/cs/board-inquire" class="complete">문의하기</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/cs/board-inquire-view" class="complete">문의하기 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/cs/board-inquire-update" class="complete">문의하기 업데이트</ion-router-link>
        </ion-item>

      </ion-list>

    </ion-item>


    <ion-item>
      <span>회원가입</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/signup/agreement" class="complete">약관동의</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/signup/confirm" class="complete">회원정보 확인</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/signup/complete" class="complete">회원등록 완료</ion-router-link>
        </ion-item>


      </ion-list>

    </ion-item>

    <ion-item>
      <span>우리단지 서비스</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/bz-service" class="complete">서비스 정보</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/bz-service/reserv" class="complete">예약 페이지</ion-router-link>
        </ion-item>

        <span class="sub_title">기본 리스트 - 텍스트 죄측 정렬</span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/bz-service/lecture" class="complete">문화강좌</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/bz-service/lecture-view" class="complete">문화강좌 상세</ion-router-link>
        </ion-item>

      </ion-list>

    </ion-item>



    <ion-item>
      <span>스마트 홈</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/iot/iot-control" class="complete">홈 IOT</ion-router-link>
        </ion-item>

        <span class="sub_title"></span>
        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/iot/iot-detail" class="complete">홈 IOT 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/iot/iot-login" class="complete">홈 IOT 로그인</ion-router-link>
        </ion-item>
      </ion-list>
    </ion-item>


    <ion-item>
      <span>마이페이지</span>

      <ion-list>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/bill" class="complete">관리비 조회</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/service-list" class="complete">서비스이용예약관리 목록</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/service-detail" class="complete">서비스이용예약관리 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/my-home-service" class="complete">우리집현황</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/partner-service-list" class="complete">제휴서비스신청내역조회 목록</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/partner-service-detail" class="complete">제휴서비스신청내역조회 상세</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/my-info" class="complete">회원정보</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/setting" class="complete">설정</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/push" class="complete">알림</ion-router-link>
        </ion-item>

        <ion-item>
          <ion-router-link target="_blank" color="secondary" href="/my-page/my-menu" class="complete">마이메뉴</ion-router-link>
        </ion-item>

      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>
