<v-app>
    <v-body title="주변상권 이벤트">
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
                <p>진행중인 이벤트
                    <span class="highlight">
                        <span class="num">6</span>개</span>
                </p>
            </h4>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category">
                <li class="on">
                    <a href="#">전체</a>
                </li>
                <li>
                    <a href="#">병원</a>
                </li>
                <li>
                    <a href="#">학원</a>
                </li>
                <li>
                    <a href="#">미용</a>
                </li>
                <li>
                    <a href="#">외식</a>
                </li>
            </ul>
            
            <!-- 10.29  추가 : 이벤트 없을때 -->
            <div class="no_data icon">
                <p>진행중인 이벤트가 없습니다.</p>
            </div>
            <!-- // 10.29  추가 : 이벤트 없을때 -->

            <!-- 이벤트 리스트 -->
            <ul class="event_list type02">
                <li class="round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <!-- 태그 박스 -->
                                <div class="tag_box">
                                    <!-- 종료 -->
                                    <span class="tag purple">종료</span>
                                </div>
                                <img src="/assets/pc/dummy/sample_around01.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/sample_around01.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <p class="sub_title">명륜진사갈비 하남덕풍점</p>
                                <h4>빌리브 하남 입주기념 축하 이벤트</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box no_img">
                                <!-- 태그 박스 -->
                                <div class="tag_box">
                                    <!-- 종료 -->
                                    <span class="tag purple">종료</span>
                                </div>
                                <!-- 이미지 엑박 테스트 <img src="/assets/pc/dummy/sample_around01.png" class="pc"
                                alt="샘플" /> <img src="/assets/dummy/sample_around01.png" class="mo" alt="샘플" />
                                -->
                            </div>
                            <div class="txt_box">
                                <p class="sub_title">명륜진사갈비 하남덕풍점</p>
                                <h4>빌리브 하남 입주기념 축하 이벤트</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <img src="/assets/pc/dummy/sample_around01.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/sample_around01.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <p class="sub_title">명륜진사갈비 하남덕풍점</p>
                                <h4>빌리브 하남 입주기념 축하 이벤트</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <img src="/assets/pc/dummy/sample_around01.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/sample_around01.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <p class="sub_title">명륜진사갈비 하남덕풍점</p>
                                <h4>빌리브 하남 입주기념 축하 이벤트</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- 더보기 -->
            <a class="add_item" href="#">더보기</a>
        </div>
    </v-body>
</v-app>