.vote .text_area {
  background: #fff;
  border:1px solid #DCDEDD;
  border-radius: 0.4167rem;
  margin-top: 1.083rem;
  margin-bottom: 0.3333rem;
  position: relative;
  height: 12.5rem;
}
.vote .com_texta {
  font-weight: 400;
  border: none;
  padding-bottom: 0;
}
.vote .numb {
  position: absolute;
  bottom: 0.5833rem;
  right: 0.75rem;
  color: #0000004C;
  font-size: 1rem;
  font-family: "Montserrat";
  letter-spacing: 0.04em;
}

@media screen and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
  .vote .text_area {
    margin-top: 15px;
    margin-bottom: 11px;
    border-radius: 5px;
    height: 150px;
  }
  .vote .com_texta {
  }
  .vote .numb {
    font-size: 13px;
  }
}