<v-app id="homenet">
    <v-body title="홈넷 계정 등록">
        <div class="container">
            <div class="homenet">
                <p class="txt">입주민 등록하기에서 생성한<br>현대통신 계정정보를 입력해주세요.</p>
                <div class="login_form">
                    <ul>
                        <li>
                            <div class="input_row">
                                <input type="text" class="com_inp3" placeholder="아이디를 입력해주세요.">
                            </div>
                        </li>
                        <li>
                            <div class="input_row">
                                <input type="password" class="com_inp3" placeholder="비밀번호를 입력하세요.">
                            </div>
                        </li>
                    </ul>
                    <div class="btn_area">
                        <button type="button" class="btn btn_type2">확인</button>
                    </div>
                </div>
                <ul class="dot_list">
                    <li>세대 기기제어 및 정보 확인 등 스마트홈을 이용하시려면, 이부주민 등록 및 관리사무소 승인이 필요합니다.</li>
                </ul>
            </div>
        </div>
    </v-body>

    </v-app>