.event_list{
    // padding-top: 3.333rem;
}
.event_list li{
    margin-bottom: 0;
    // box-shadow: 0px 0.25rem 0.5rem 1px #0000001a;
}
.event_list li .content .img_box{
    height: auto;
}
.event_list li + li {
    margin-top: 2.083rem;
}

.flat_round_box .txt_box {
    padding: 2.083rem 1.667rem;
}
.flat_round_box .txt_box h4{
    font-size: 1.667rem;
    font-weight: bold;
}
.flat_round_box .txt_box h4.gray{
    font-weight: normal;
    color: #8D8785;
    font-size: 1.333rem;
}
.flat_round_box .txt_box p{
    font-size: 1.083rem;
    line-height: 1.5;
}
.btn_area{
    padding: 2.5rem 0 0;
}
.btn_area .btn{
    width: auto;
    padding: 0 2rem;
}
@media screen and (min-width: 1025px) {
    .flat_round_box .txt_box {
        padding: 31px 36px;
    }
    .flat_round_box .txt_box h4{
        font-size: 28px;
    }
    .flat_round_box .txt_box h4.gray{
        font-size: 20px;
    }
    .flat_round_box .txt_box p{
        font-size: 16px;
    }
    .event_list li{
        width: 660px;
        margin: 0 170px;
        margin-right: 0;
        float: none;
    }
    .event_list li + li {
        margin-top: 25px;
    }
    .btn_area{
        padding-top: 30px;
    }
    .btn_area .btn{
        padding: 0 26px;
    }
}