@charset "utf-8";

/* commmon */
.section {position:relative;}
.section .section_box {border-bottom:0.08333rem solid #F1F1F1;padding:0 1.875rem 1.042rem;}
.section .section_box.bdbn {border-bottom:none;}

.form_area {margin:2.5rem 4.375rem 0;}
.form_area > ul > li {margin-bottom:1.125rem;}
.form_area > ul > li:last-child {margin-bottom:0.5rem;}
.form_area .btn_area {margin-top:2.75rem;}
.form_area .btn_area .btn + .btn {margin-top:0.8333rem;}

a.btn_link {display:block;background-image:url('../image/common/arr_right.svg');background-repeat:no-repeat;background-size:0.5rem 0.625rem;background-position:center;width:2.5rem;height:2.5rem;position:absolute;top:50%;right:1.875rem;margin-top:-1.25rem;text-indent:-9999px;}

.hypeon_list {}
.hypeon_list li {font-size:1rem;line-height:1.69;margin-bottom:0.5rem;position:relative;padding-left:0.625rem;letter-spacing:-0.04em;}
.hypeon_list li:before {display:block;content:"";width:0.25rem;height:1px;position:absolute;top:0.8125rem;left:0;background:#6a6a6a;}

.category {display:flex;justify-content:space-between;align-items:center;}
.category span {font-size:1rem;}
.category span:before {display:inline-block;content:"";width:0.875rem;height:0.875rem;background:#fff;border:1px solid #CECECE;border-radius:0.1875rem;vertical-align:-0.125rem;margin-right:0.5rem;}
.category .disabled:before {background:#CECECE;}
.category .selected:before {background:#5F9EDE;border-color:#5F9EDE;}

/* 테이블 스타일 */

/* 회원가입/로그인/비밀번호찾기 */
.login_area {position:relative;}
.login_area #container {padding-top:6.25rem;padding-bottom:8.125rem;}
.login_area .header_top {padding-bottom:3.063rem;}
.login_area .header_top h1 {background-image:url('../image/common/logo.svg');background-repeat:no-repeat;background-size:100%;width:6.313rem;height:6.313rem;margin:0 auto;text-indent:-9999px;}
.login_area .header_top p {text-align:center;color:#396298;line-height:1.92;font-size:1.125rem;margin-top:0.8125rem;}
.login_area .agree_area {margin-top:2.875rem;}
.login_area .agree_area .input_row {position:relative;}
.login_area .agree_area .input_row .checks input[type="checkbox"] + label {font-size:1rem;}
.login_area .agree_area .input_row .btn_view {font-size:0.875rem;color:#396298;position:absolute;top:0.125rem;right:0;}
.login_area .agree_area .input_row + .input_row {margin-top:1.25rem;}

.form_area > ul > li .ps_txt {color:#D4D4D4;font-size:1rem;margin-left:0.2083rem;line-height:1.4375;}
.form_area .input_box .btn_certi_num {position:absolute;bottom:0.3333rem;right:0;color:#396298;font-size:0.875rem;}
.form_area .bot_area {display:flex;justify-content:space-between;align-items:center;}
.form_area .bot_area > div {}
.form_area .bot_area + .btn_area {margin-top:1.75rem;}
.form_area .bot_area > a {color:#396298;font-size:0.875rem;}

/* 이용약관, 개인정보처리방침 */
.terms {}
.terms p {margin-top:1.688rem;line-height:1.92;font-size:0.75rem;word-break:keep-all;}

/* 결제, 쿠폰선택 */
.payment_area {}
.payment_area .section .inner {padding:0 1.875rem;}
.payment_area .section h2 {font-size:1.125rem;color:#396298;font-weight:400;margin-left:1.875rem;padding-top:0.3125rem;}
.payment_area .section h2 span {font-size:1rem;color:#6A6A6A;font-weight:300;}
.payment_area .ticket_area {overflow-x:auto;margin-top:0.75rem;padding:0 0 1.063rem;}
.payment_area .ticket_area ul {display:flex;flex-wrap:nowrap;box-sizing:content-box;}
.payment_area .ticket_area ul li {margin-left:0.3125rem;flex-shrink:0;position:relative;}
.payment_area .ticket_area ul li div {min-width:5.938rem;height:3.75rem;border:1px solid #396298;border-left-width:0.25rem; padding:0.3125rem 0 0.5625rem; box-sizing:border-box;text-align:center;}
.payment_area .ticket_area ul li div strong {font-size:1.125rem;color:#396298;display:block;font-weight:400;}
.payment_area .ticket_area ul li div span {font-size:1rem;display:block;}
.payment_area .ticket_area ul li:first-child {margin-left:1.875rem;}
.payment_area .ticket_area ul li:last-child {padding-right: 1.875rem;}

.payment_area .btn_area {text-align:center;margin-top:1.375rem;}
.payment_area .btn_area button {width:12.81rem;}

.buy_info {display:table;table-layout:fixed;width:100%;margin-top:0.625rem;}
.buy_info dl {display:table-row;vertical-align:top;}
.buy_info dl dt {display:table-cell;width:5.75rem;font-size:1rem;}
.buy_info dl dd {display:table-cell;width:calc(100% - 5.75rem);font-size:1rem;color:#396298;font-weight:300;}

.point_area {/* display:flex;justify-content:space-between;align-items:center; padding-right:1.875rem;*/}
.point_area .section_box {display:flex;justify-content:space-between;align-items:center;margin-top:0.625rem;}
.point_area .point {font-size:1rem;display:block;}
.point_area .inp_area {display:flex;justify-content:flex-end;align-items:center;}
.point_area .input_box {width:9.375rem;margin-right:0.625rem;}
.point_area .input_box input {border:1px solid #707070;text-align:right;}
.point_area > a {font-size:1rem;display:block;}

.dc_area {border-bottom:0.08333rem solid #F1F1F1;padding:0.5625rem 1.875rem 0.8125rem;display:flex;align-items:center;}
.payment_area .section.dc_area h2 {margin-left:0;}
.dc_area span {display:block;font-size:1rem;margin-left:1.125rem;padding-top:0.3125rem;}

.payment_method {margin-top:0.625rem;}

.payment_price {margin-top:0.625rem;}
.payment_price dl {display:flex;justify-content:space-between;align-items:center;font-size:1rem;margin-bottom:0.3125rem;}
.payment_price dl dt {}
.payment_price dl dd {font-weight:400;text-align:right;}

/* QR 코드 */
.qrcode .ps_txt {font-size:1rem;line-height:1.44;margin-top:0.625rem;margin-bottom:7.313rem;}
.qrcode .img_area {text-align:center;}

/* 스터디룸 */
.studyroom {position:relative;overflow:hidden;}
.studyroom h2 {font-size:1rem;margin-top:1.438rem;margin-left:3.063rem;font-weight:400;color:#396298;}
.studyroom .form_area {margin:1.063rem 3.063rem 1.75rem;}
.studyroom .time_area {position:relative;}
.studyroom .time_area .btn_link {right:0;background-size:0.375rem 0.625rem;width:1.875rem;height:1.875rem;margin-top:-1rem;}
.studyroom .btn_area {margin-top:2.625rem;}

/* 마이페이지 */
.tab_box {margin-top:0.625rem;}
.tab_box .tab_menu {display:flex;}
.tab_box .tab_menu li {width:2.5rem;height:1.375rem;margin-right:0.3125rem;}
.tab_box .tab_menu li a {display:block;width:100%;height:100%;background:#fff;border:1px solid #D1D1D1;color:#6A6A6A;text-align:center;border-radius:0.3125rem;}
.tab_box .tab_menu li a.on {background:#396298;border-color:#396298;color:#fff;}
.tab_box .tab_cont {margin-top:0.4375rem;display:none;}
.tab_box .tab_cont dl {display:flex;align-items:center;}
.tab_box .tab_cont dl dt {font-size:1rem;width:50%;}
.tab_box .tab_cont dl dd {font-size:1rem;color:#396298;width:50%;font-weight:400;}
.tab_box .tab_cont .rank {display:inline-block;background-image:url('../image/icon/crown.svg');background-repeat:no-repeat;width:1.125rem;height:0.9375rem;background-size:100%;vertical-align:-0.125rem;margin-right:0.25rem;}

.attendance {margin-top:1.125rem;}
.attendance ul {display:flex;justify-content:center;align-items:center;}
.attendance ul li {border:1px solid #707070;border-left:none;position:relative;flex:1;height:2.625rem;display:flex;align-items:center;}
.attendance ul li:first-child {border-left:1px solid #707070;}
.attendance ul li .num {font-size:0.75rem;position:absolute;top:0;left:0.1875rem;}
.attendance ul li .stamp {display:block;background-image:url('../image/icon/chk_circle.svg');background-repeat:no-repeat;background-size:100%;width:1.5rem;height:1.5rem;margin:0 auto;text-indent:-9999px;}

/* 시작시간 선택 */
.time_section {}
.time_top {margin-top:1.25rem;}
.time_top p {position:relative;text-align:center;}
.time_top p a {display:inline-block;width:1.25rem;height:1.25rem;text-indent:-9999px;vertical-align:middle;}
.time_top p .btn_prev {background-image:url('../image/common/arr_left.svg');background-repeat:no-repeat;background-size:0.375rem 0.625rem;background-position:center;}
.time_top p .btn_next {background-image:url('../image/common/arr_right2.svg');background-repeat:no-repeat;background-size:0.375rem 0.625rem;background-position:center;}
.time_top p span {display:inline-block;vertical-align:middle;font-size:1rem;color:#396298;margin-left:0.5rem;margin-right:0.5rem;}
.time_top > a {position:absolute;top:1px;right:2.188rem;font-weight:400;color:#396298;}

.time_list {margin-top:1.438rem;}
.time_list ul {display:flex;flex-wrap:wrap;align-items:center;margin-top:1.063rem;}
.time_list ul li {margin-right:0.125rem;width:calc(100%/6 - 0.25rem);height:2.938rem;margin-bottom:0.125rem;border:1px solid #C9C9C9;border-radius:0.1875rem;position:relative;background:#fff;}
.time_list ul li:nth-child(6n) {margin-right:0;}
.time_list ul li.disabled:before {display:block; content:"";background:rgba(201, 201, 201, .8);width:100%;height:100%;position:absolute;top:-1px;left:-1px;border:1px solid #C9C9C9;border-radius:0.1875rem}
.time_list ul li a {display:block;width:100%;height:100%;text-align:center;}
/* .time_list ul li.selected a:before {display:block; content:"";background:rgba(95, 158, 222, 1);width:100%;height:100%;position:absolute;top:-1px;left:-1px;border:1px solid #C9C9C9;border-radius:0.1875rem} */
.time_list ul li.selected {background:rgba(95, 158, 222, 1);border:1px solid #C9C9C9;border-radius:0.1875rem}
.time_list ul li a span {display:block;font-size:0.8125rem;line-height:0.85;padding-top:0.4375rem;}
.time_list ul li.selected a span {color:#fff;z-index:2;}
.time_list p {margin-top:1.125rem;text-align:center;}
.time_list p .title {}
.time_list p .time_txt {display:block;margin-top:0.3125rem;color:#396298;}

.time_section .btn_area {margin-top:1.25rem;text-align:center;}
.time_section .btn_area .btn {width:12.81rem;}

/* 공지사항 */
.notice_list {}
.notice_list li {display:flex;justify-content:space-between;align-items:center;padding:1.25rem 1.875rem;border-bottom:1px solid #F1F1F1;}
.notice_list li a {font-size:0.875rem;width:75%;/* white-space:nowrap;text-overflow:ellipsis;overflow:hidden; */}
.notice_list li .date {font-size:0.875rem;}

/* 환불규정 */
.refund {}
.refund .section_box {padding-top:1.5rem;padding-bottom:1.5rem;}
.refund h2 {color:#396298;font-size:1rem;font-weight:400;}
.refund p {line-height:1.44;}

/* 알림 설정 */
.alarm_settings {}
.alarm_settings p {font-size:1rem;color:#396298;line-height:1.44;padding-top:1.25rem;}
.alarm_settings .setting {}
.alarm_settings .setting li {padding-top:1rem;}

/*  보호자 등록 */
.protector {}
.protector_info {padding-top:1.25rem;width:13.75rem;margin:0 auto;}
.protector_info em {display:block;font-size:1.125rem;color:#396298;font-weight:400;}
.protector_info span {display:block;font-size:1.125rem;}
.protector .input_box {position:relative;width:13.75rem;margin:1.375rem auto 0;}
.protector .input_box input {padding-right:5.938rem;}
.protector .input_box .btn_enrollment {position:absolute;bottom:0.3125rem;right:0;font-size:1rem;color:#396298;font-weight:400;}
.protector .hypeon_list {margin-top:1.438rem;}
.protector .hypeon_list li {letter-spacing:-0.07em;}

/* 좌석현황/사물함 */
.section > .category {padding:1.25rem 1.875rem 1rem;border-bottom:0.08333rem solid #F1F1F1;}
.section > .category span {font-size:0.875rem;}
.section > .category span:before {margin-right:0.1875rem;}
.section > .category a {font-size:0.875rem;color:#396298;font-weight:400;}