@charset "utf-8";
/* NanumSquare */
@font-face {
 font-family:"NanumSquare";
 font-weight:300;
 src:url(../font/NanumSquareL.woff) format('woff');
}
@font-face {
 font-family:"NanumSquare";
 font-weight:400;
 src:url(../font/NanumSquareR.woff) format('woff');
}
@font-face {
 font-family:"NanumSquare";
 font-weight:700;
 src:url(../font/NanumSquareB.woff) format('woff');
}
