@charset "utf-8";

/********************
    Theme1 : Blue
*********************/

/* common */
.btn-basic5 {color:#fff !important;border:1px solid #3b98e6;background-color:#3b98e6;}
.btn-basic5:hover {background-color:#3b98e6;}
.btn-basic5:active {color:#90caf9 !important;}
.btn-basic6 {color:#3b98e6 !important;border:1px solid #3b98e6;background-color:#fff;}
.btn-basic6:active {color:#99d0ff !important;}

/* header */
#header .upper{background:#3877c2;}
#header .info .info-user li a .num{background:#0092d7;}
#header .count-point{color:#0092c9;}
#header .btn-category.on{background:#0092d7;}
#header .btn-category.on .txt{color:#fff;}

/* container */
#container .visual .slide-bar .per{background:#00adff;}


/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #00a5e1;}
.loadingio-spinner .ldio div:nth-child(2) {background: #45cdba;}
.loadingio-spinner .ldio div:nth-child(3) {background: #00a5e1;}