<v-app>
    <v-body title="약관/정책">
        <div class="container">
            <div class="round_box">
                <div class="content">
                    <div class="nav_bar">
                        <ul>
                            <li class="on"><a href="#">서비스 이용약관</a></li>
                            <li><a href="#">개인정보처리방침</a></li>
                        </ul>
                    </div>
                    <!-- 서비스 이용약관 -->
                    <div class="terms_box" style="display:block;">
                        <h4 class="hide">서비스 이용약관</h4>
                        <ng-select [items]="[
                                { name: '[Ver.1.0] 2020-00-00'},
                                { name: '[Ver.1.1] 2020-00-00'}
                            ]"
                                [searchable]="false"
                                bindLabel="name"
                                placeholder="[Ver.1.0] 2020-00-00  "
                        >
                        </ng-select>
                        <div class="terms_cont">
                            <h5>제 1 장 총칙</h5>
                            <h6>제 1 조 (목적)</h6>
                            <p>본 약관은 신세계건설(주)이 제공하는 빌리브 라이프 서비스의 이용과 관련하여 회사와 회원의 권리, 의무, 책임사항 및 기타 필요한 사항을 규정함을 목적으로 합니다.</p>

                            <h6>제 2 조 (공지)</h6>
                            <ol>
                                <li>본 규정은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력을 발생합니다.</li>
                                <li>회사는 필요한 경우 관련 법령을 위배하지 않는 범위 내에서 본 약관을 변경할 수 있으며 변경된 규정은 제1항과 같은 방법으로 공지함으로써 효력을 발생합니다.</li>
                            </ol>

                            <h6>제 3 조 (약관 외 준칙)</h6>
                            <p>본 약관에 규정되지 않은 사항은 전기통신사업법 및 정보통신망 이용촉진 및 정보보호 등에 관한 법률 기타 관련법령의 규정에 의합니다.</p>

                            <h6>제 4 조 (용어의 정의)</h6>
                            <p>본 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
                            <ol>
                                <li>"서비스"라 함은 회원이 이용할 수 있는 빌리브 라이프 서비스 홈페이지 내 제반 서비스를 의미합니다.</li>
                                <li>"회원"이라 함은 회사와 서비스 이용계약을 체결한 자를 말합니다.</li>
                                <li>"아이디(ID, 휴대폰번호로 대신함)"라 함은 "회원"의 식별과 서비스 이용을 위하여 회사와 서비스 이용계약을 체결한 개인을 말합니다.</li>
                                <li>"비밀번호(SMS인증번호로 대신함)"라 함은 회원이 부여 받은 아이디(ID)와 일치되는 회원임을 확인하고 비밀보호를 위해 시스템에서 발송한 불규칙한 숫자의 조합을 말합니다.</li>
                                <li>"운영자"라 함은 서비스의 전반적인 관리와 원활한 운영을 위하여 회사에서 선정한 사람을 말합니다.</li>
                                <li>"게시물"이라 함은 회원이 서비스를 이용함에 있어 서비스상에 게시한 부호·문자·음성·음향·화상·동영상 등의 정보 형태의 글, 사진, 동영상 및 각종 파일과 링크 등을 의미합니다.</li>
                            </ol>

                            <h5>제 2 장 서비스 이용 계약</h5>
                            <h6>제 5 조 (이용계약의 성립)</h6>
                            <ol>
                                <li>이용계약은 회원이 이용약관에 대한 "동의" 버튼을 클릭하면 이 약관에 동의하는 것으로 간주하며, 회원은 회원가입신청을 하여야 합니다.</li>
                                <li>이용계약은 회원의 가입 신청에 대하여 회사가 승낙함으로써 성립합니다.</li>
                            </ol>

                            <h6>제 6 조 (이용계약의 유보 및 거절)</h6>
                            <ol>
                                <li>회사는 다음에 해당하는 경우에는 이용계약의 승낙을 유보할 수 있습니다.
                                    <ul>
                                        <li>가. 서비스 설비용량에 여유가 없는 경우</li>
                                        <li>나. 서비스를 제공하기에는 기술적으로 문제가 있다고 판단되는 경우</li>
                                        <li>다. 기타 회사가 필요하다고 인정되는 경우</li>
                                    </ul>
                                </li>
                                <li>회사는 다음에 해당하는 경우에는 이용계약의 승낙을 거절할 수 있습니다.
                                    <ul>
                                        <li>가. 실명이 아니거나 타인의 명의를 이용한 경우</li>
                                        <li>나. 이용신청서의 내용을 허위로 기재하였거나 허위서류를 첨부하여 이용신청을 하였을 경우</li>
                                        <li>다. 기타 규정한 제반 사항을 위반하여 신청하는 경우</li>
                                    </ul>
                                </li>
                            </ol>

                            <h6>제 7 조 (아이디(ID) 등의 관리)</h6>
                            <ol>
                                <li>아이디(ID)는 본인(실명)의 휴대폰번호로 개인에게 하나만을 발급하는 것을 원칙으로 합니다.</li>
                                <li>아이디(ID)는 본인(실명)이 사용하는 휴대폰번호와 연계되어야 합니다. 아이디(ID)를 소유한 회원은 아이디(ID) 및 비밀번호에 대한 관리 책임이 있으며, 서비스 이용상의 과실 또는 제 3자에 의한 부정사용 등으로 인해 발생하는 모든 불이익에 대해 책임을 져야 합니다. 다만 회사에 고의 또는 중대한 과실이 있는 경우에는 그러하지 않습니다.</li>
                            </ol>

                            <h6>제 8 조 (이용계약사항의 변경)</h6>
                            <ol>
                                <li>회원은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람할 수 있습니다. 다만, 서비스 이용을 위해 회원이 직접 개인정보를 수정할 수 없습니다.</li>
                                <li>회원은 회원가입 시 기재한 사항이 변경되었을 경우 즉시 회사에 변경사항을 알려야 합니다.</li>
                                <li>회원이 변경사항을 수정하지 않아 발생한 불이익에 대하여 회사는 책임지지 않습니다. </li>
                            </ol>

                            <h5>제 3 장 서비스 이용</h5>
                            <h6>제 9 조 (회사의 의무)</h6>
                            <p>회사는 서비스 제공과 관련해서 알고 있는 회원의 신상정보를 본인의 승낙 없이 제 3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 법률의 규정에 의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 정보통신윤리위원회의 요청이 있는 경우 또는 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우에는 그러하지 않습니다.</p>

                            <h6>제 10 조 (광고주와의 거래)</h6>
                            <p>본 사이트에는 회사 이외의 광고주의 판촉활동을 위한 서비스가 포함 될 수 있습니다. 이 경우 회사는 본 사이트에 게재되어 있거나 본 서비스를 통한 광고주의 판촉활동에 회원이 참여하여 거래한 결과로서 발생하는 모든 손실과 손해에 대해 책임을 지지 않습니다.</p>

                            <h6>제 11 조 (회원의 게시물)</h6>
                            <p>회사는 회원이 본 서비스를 통하여 게시, 게재, 전자메일 또는 달리 전송한 내용물에 대해 일체 민, 형사상의 책임을 지지 않으며, 다음의 경우에 해당될 경우 사전통지 없이 삭제할 수 있습니다.</p>
                            <ul>
                                <li>가. 다른 회원이나 타인을 비방하거나, 프라이버시를 침해하거나, 중상모략으로 명예를 손상시키는 내용인 경우</li>
                                <li>나. 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있는 경우</li>
                                <li>다. 범죄적 행위에 관련된다고 인정되는 내용일 경우</li>
                                <li>라. 회사의 지적재산권, 타인의 지적재산권 등 기타 권리를 침해하는 내용인 경우</li>
                                <li>마. 회사에서 규정한 게시기간이 있을 경우 이를 초과한 경우</li>
                                <li>바. 기타 관계법령에 위반된다고 판단되는 경우</li>
                            </ul>

                            <h6>제 12 조 (게시물에 대한 권리 및 책임)</h6>
                            <p>본 사이트의 모든 게시물에 대한 저작권은 회사에 귀속됩니다.<br>회원이 게시한 저작물의 저작권은 회원의 소유에 속합니다. 다만 회원은 회사에 무료로 이용할 수 있는 권리를 허락한 것으로 봅니다.<br>회사소유의 게시물에 대한 보호는 회사에서 하며, 회사의 허가 없이 타인에 의해 게시물이 다른 사이트에서 사용 또는 인용되는 것은 금지 됩니다.</p>

                            <h6>제 13 조 (아이디(ID)와 비밀번호 관리에 대한 의무)</h6>
                            <ol>
                                <li>아이디(ID)와 비밀번호에 관한 모든 관리 책임은 회원에게 있습니다. 아이디(ID)와 비밀번호의 관리 소홀, 부정사용 등에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다.</li>
                                <li>자신의 아이디(ID)와 비밀번호가 부정하게 사용되고 있음을 발견한 회원은 즉시 회사에 그 사실을 통보해야 합니다.</li>
                            </ol>

                            <h6>제 14 조 (서비스 전반에 관한 회원의 의무)</h6>
                            <ol>
                                <li>회원은 서비스 이용 시 다음 각 호의 행위를 하지 않아야 합니다.
                                    <ul>
                                        <li>① 다른 회원의 아이디(ID)를 부정하게 사용하는 행위</li>
                                        <li>② 서비스에서 얻은 정보를 회사의 사전승낙 없이 회원의 이용 외의 목적으로 복제하거나 출판 및 방송 등에 사용하거나 제3자에게 제공하는 행위</li>
                                        <li>③ 제 3자의 저작권 등 기타 권리를 침해하는 행위</li>
                                        <li>④ 공공질서 및 미풍양속에 위반되는 내용의 정보, 문장, 도형 등을 타인에게 유포하는 행위</li>
                                        <li>⑤ 범죄와 결부된다고 객관적으로 판단되는 행위</li>
                                        <li>⑥ 타인의 명예를 훼손하거나 불이익을 주는 행위</li>
                                        <li>⑦ 기타 관계법령 및 본 약관을 위배하는 행위</li>
                                    </ul>
                                </li>
                                <li>회원은 본 약관에서 규정하는 사항과 회사가 서비스 이용안내 또는 주의사항 등 회사가 공지하는 사항을 준수하여야 합니다.</li>
                                <li>회원은 회사의 사전승낙 없이는 서비스를 이용하여 영업활동을 할 수 없으며, 그 영업활동으로 인하여 발생된 결과에 대하여 회사는 어떠한 책임도 지지 않습니다.</li>
                            </ol>

                            <h6>제 15 조 (서비스 이용시간)</h6>
                            <ol>
                                <li>서비스의 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 1일 24시간, 연중 무휴 서비스를 원칙으로 합니다. 다만, 시스템 점검, 교체, 보수 등과 같은 필요가 있는 경우는 그러하지 않습니다.</li>
                                <li>회사는 서비스를 일정범위로 분할하여 각 범위별로 이용가능시간을 별도로 정할 수 있습니다.</li>
                            </ol>

                            <h6>제 16 조 (서비스 제공의 중지)</h6>
                            <ol>
                                <li>회사는 전시사변, 천재지변 또는 이에 준하는 국가비상사태가 발생하거나 발생할 우려가 있는 경우와 전기통신사업법에 의한 기간통신사업자가 전기통신 서비스를 중지하는 등 기타 부득이한 사유가 있는 경우에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.</li>
                                <li>회사는 전 항의 규정에 의하여 서비스의 이용을 제한하거나 정지한 때에는 그의 사유 및 제한 기간 등을 지체 없이 회원에게 공지합니다.</li>
                            </ol>

                            <h5>제 4 장 계약 해지 및 이용 제한</h5>
                            <h6>제 17 조 (계약해지 및 이용제한)</h6>
                            <ol>
                                <li>회원이 이용계약을 해지하고자 하는 때에는 본인이 온라인을 통해 회사에 해지신청을 하여야 합니다.</li>
                                <li>회사가 서비스 이용을 제한하고자 하는 경우 그 사유와 일시 등을 회원에게 통지합니다. 다만, 회사가 긴급하게 이용을 정지할 필요가 있다고 인정하는 경우에는 바로 제재를 가할 수 있습니다.</li>
                                <li>전 항의 규정에 의하여 이용정지를 통지 받은 회원은 그 이용 정지의 통지에 대해 부당하다고 생각할 경우 이의신청을 할 수 있습니다.</li>
                                <li>회사는 전 항의 규정에 의한 이의신청에 대하여 그 확인을 위한 기간까지 이용정지를 일시 연기할 수 있으며, 그 경과와 결과를 이용 고객에게 통지합니다.</li>
                                <li>회사는 이용정지 기간 중에 그 이용정지 사유가 해소된 것이 확인된 경우에는 이용정지 조치를 즉시 해제합니다.</li>
                            </ol>

                            <h6>제 18 조 (양도금지)</h6>
                            <p>회원이 서비스의 이용권한, 기타 이용계약상 지위를 타인에게 양도하거나 담보로 제공할 수 없습니다.</p>

                            <h5>제 5 장 손해배상 등</h5>
                            <h6>제 19 조 (손해 배상)</h6>
                            <p>회사는 서비스가 무료인 동안 서비스 이용과 관련하여 회원에게 발생한 손해에 대하여는 어떠한 책임도 지지 않습니다. 서비스 유료화 이후에 관하여는 별도로 정합니다.</p>

                            <h6>제 20 조 (면책조항)</h6>
                            <ol>
                                <li>회사는 천재지변 기타 불가항력적인 사유로 인해 서비스를 제공할 수 없는 경우에는 서비스 제공중지에 대한 책임이 면제 됩니다.</li>
                                <li>회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여는 책임을 지지 않습니다.</li>
                                <li>회사는 회원이 서비스를 이용하여 얻은 정보 등으로 인해 입은 손해 등에 대하여는 책임을 지지 않습니다.</li>
                                <li>회사는 회사의 서비스망을 통해 제공되는 IP 정보와 회원이 게시하거나 전송한 정보 등의 신뢰도나 정확성에 대하여는 책임을 지지 않습니다.</li>
                            </ol>

                            <h6> 제 21 조 (준거법 및 재판관할)</h6>
                            <ol>
                                <li>회사와 회원간 제기된 소송은 대한민국법을 준거법으로 합니다.</li>
                                <li>회사와 회원간 발생한 분쟁에 관한 소송은 민사소송법 상의 관할법원에 제소합니다.</li>
                            </ol>
                            
                            <p class="last">[부칙] 이 약관은 2020년 00월 00일부터 시행합니다.</p>
                        </div>
                    </div>
                    <!-- // 서비스 이용약관 -->
                    <!-- 개인정보처리방침 -->
                    <div class="terms_box" style="display:none;">                        
                        <h4 class="hide">개인정보처리방침</h4>
                        <ng-select [items]="[
                                { name: '[Ver.1.0] 2020-00-00'},
                                { name: '[Ver.1.1] 2020-00-00'}
                            ]"
                                [searchable]="false"
                                bindLabel="name"
                                placeholder="[Ver.1.0] 2020-00-00  "
                        >
                        </ng-select>
                        <div class="terms_cont">
                            <p>
                                신세계건설은 고객의 정보보호를 위해 최선을 다하고 있습니다.
                                <br><br>
                                <strong>신세계건설 빌리브 라이프 서비스 홈페이지 개인정보보호</strong>
                                신세계건설은 이용자 여러분들을 위한 개인보호정책을 다음과 같이 알려드리고 이를 준수합니다.<br>빌리브 라이프 서비스 홈페이지 개인보호정책은 [정보통신망 이용촉진 등의 법률]등 개인정보의 보호를 규정하고 있는 일체의 법규 및 정부지침을 존중하는 사이트운영 규약입니다.<br>신세계건설 빌리브 라이프 서비스 홈페이지 개인보호정책은 다음과 같은 내용을 담고 있습니다.<br><br>본 방침은 2020년 00월 00일부터 시행됩니다.
                            </p>
                            <ul class="anchor_tab">
                                <li><a href="#terms1">제 1 조 수집하는 개인정보 항목</a></li>
                                <li><a href="#terms2">제 2 조 개인정보의 수집 및 이용목적</a></li>
                                <li><a href="#terms3">제 3 조 개인정보의 제 3자 제공</a></li>
                                <li><a href="#terms4">제 4 조 개인정보 취급 위탁</a></li>
                                <li><a href="#terms5">제 5 조 개인정보의 보유 및 이용기간</a></li>
                                <li><a href="#terms6">제 6 조 개인정보의 파기절차 및 방법</a></li>
                                <li><a href="#terms7">제 7 조 이용자 및 법정 대리인의 권리와 그 행사 방법</a></li>
                                <li><a href="#terms8">제 8 조 쿠키의 운영 및 활용</a></li>
                                <li><a href="#terms9">제 9 조 개인정보 관리를 위한 기술적, 관리적 보호조치</a></li>
                                <li><a href="#terms10">제 10 조 개인정보 담당부서</a></li>
                                <li><a href="#terms11">제 11 조 처리방침 변경에 대한 고지의 의무</a></li>
                            </ul>

                            <h5 id="terms1">제 1 조 수집하는 개인정보 항목</h5>
                            <ol>
                                <li>신세계건설 빌리브 라이프 서비스는 회원가입, 회원제 서비스 이용, 스마트홈 이용, 고객 상담, 강좌, 설문/투표에 따른 본인확인 및 회원식별 절차에 이용, 신규 분양 등의 단지 안내 및 상담, 이벤트 및 광고성 정보 제공 등을 위해 아래와 같이 개인정보를 수집하고 있습니다.
                                    <ul>
                                        <li>① 회원가입, 회원제 서비스 이용, 스마트홈 이용, 고객상담, 강좌, 설문/투표</li>
                                        <li>② 필수항목 : 이름, 생년월일, 휴대전화번호, 단지/동/호수, 세대원정보</li>
                                        <li>③ 선택항목 : </li>
                                        <li>④ 수집방법 : 홈페이지, APP, 서면양식, 팩스, 전화, 상담 게시판, 설문조사, 투표</li>
                                    </ul>
                                </li>
                                <li>인터넷 서비스 이용과정에서 아래 개인정보 항목이 자동으로 생성되어 수집될 수 있습니다.
                                    <ul>
                                        <li>① 수집항목 : 서비스 이용 기록, 접속 로그, 쿠키, 접속 IP 정보, 불량이용 기록<br> * 아파트가 사용하는 서비스 구성에 따라 수집하는 입주민의 필수정보가 달라질 수 있습니다.<br> * 동의를 거부할 수 있으며, 거부 시 서비스 이용이 제한될 수 있습니다.</li>
                                    </ul>
                                </li>
                            </ol>

                            <h5 id="terms2">제 2 조 개인정보의 수집 및 이용목적</h5>
                            <p>신세계건설은 서비스 제공을 위하여 필요한 최소한의 범위 내에서 다음 각 항목과 같은 목적으로 개인정보를 수집하고 있습니다.</p>
                            <ul>
                                <li>① 회원제 서비스 이용에 따른 본인확인 및 회원식별 절차에 이용</li>
                                <li>② 스마트홈 이용에 따른 세대확인 및 세대식별 절차에 이용</li>
                                <li>③ 문의처리 등 민원처리, 고지사항 전달</li>
                                <li>④ 신규 분양 등의 단지 안내 및 상담</li>
                                <li>⑤ 마케팅 및 광고에 활용</li>
                                <li>⑥ 서비스 제공에 관한 계약 이행 및 서비스 제공</li>
                            </ul>

                            <h5 id="terms3">제 3 조 개인정보의 제 3자 제공</h5>
                            <ol>
                                <li>신세계건설은 회원의 개인정보를 개인정보의 수집 및 이용목적에 고지한 범위 내에서만 사용합니다.</li>
                                <li>신세계건설은 서비스 이용과정 등에서 개인정보 제공을 사전에 동의하는 경우나 법령에 규정된 경우를 제외하고는 회원의 개인정보를 절대 제 3자에게 제공하거나 공유하지 않습니다. 다만, 아래의 경우에 한해서는 예외로 합니다.
                                    <div class="tbl_area">
                                        <table class="tbl3 col4">
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">업체명</th>
                                                    <th scope="col">목적</th>
                                                    <th scope="col">항목</th>
                                                    <th scope="col">보유 및 이용기간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">(제휴업체명)</th>
                                                    <td>회원제 서비스 이용에 따른 본인확인</td>
                                                    <td></td>
                                                    <td>위탁계약 종료 시 혹은 제휴서비스 이용 시</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">(제휴업체명)</th>
                                                    <td>회원제 서비스 이용요금 부과 정보</td>
                                                    <td></td>
                                                    <td>위탁계약 종료 시</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">현대통신(주)</th>
                                                    <td>스마트홈 이용에 따른 세대확인</td>
                                                    <td></td>
                                                    <td>위탁계약 종료 시</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                            </ol>

                            <h5 id="terms4">제 4 조 개인정보 취급 위탁</h5>
                            <ol>
                                <li>신세계건설은 서비스 이행을 위해 아래와 같이 개인정보 처리 업무를 수탁 또는 외부 전문업체에 위탁하여 운영하고 있습니다.
                                    <div class="tbl_area">
                                        <table class="tbl3 col4">
                                            <colgroup>
                                                <col>
                                                <col>
                                                <col>
                                                <col>
                                            </colgroup>
                                            <thead>
                                                <tr>
                                                    <th scope="col">업체명</th>
                                                    <th scope="col">목적</th>
                                                    <th scope="col">항목</th>
                                                    <th scope="col">보유 및 이용기간</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">(주)신세계아이앤씨</th>
                                                    <td>서버/시스템 홈페이지 관리, 고객정보 DB시스템, 문자메시지 발송, 푸시메시지 발송</td>
                                                    <td></td>
                                                    <td>회원탈퇴 시 혹은 위탁계약 종료 시까지</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">(단지관리업체명)</th>
                                                    <td>단지홈페이지 운영 및 관리, 고객정보 관리, 회원제 서비스 이용에 따른 본인확인</td>
                                                    <td></td>
                                                    <td>위탁계약 종료 시 혹은 회원탈퇴 시 혹은 서비스 이용 시</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>위탁계약 시 개인정보보호의 안전을 기하기 위하여 개인정보보호 관련 지시 엄수, 개인정보에 관한 금지 및 사고시의 책임부담 등을 명확히 규정하고 당해 계약 내용을 서면 및 전자적으로 보관하고 있습니다. 동 업체가 변경될 경우, 회사는 변경된 업체명을 개인정보처리방침 화면에 공지합니다.</li>
                            </ol>

                            <h5 id="terms5">제 5 조 개인정보의 보유 및 이용기간</h5>
                            <ol>
                                <li>신세계건설은 개인정보의 수집목적 또는 제공받은 목적이 달성된 때에는 고객의 개인정보를 지체 없이 파기합니다.</li>
                                <li>구체적인 파기 시점은 다음과 같습니다.
                                    <ul>
                                        <li>① 회원가입 정보: 회원 탈퇴 또는 퇴거하거나 회원에서 제명된 때</li>
                                        <li>② 커뮤니티 이용정보: 커뮤니티 시설 사용 또는 서비스가 완료되거나 제공된 때</li>
                                        <li>③ 설문조사, 투표, 이벤트 등의 목적을 위하여 수집한 경우: 당해 설문조사, 투표, 이벤트 등을 종료한 때</li>
                                        <li>④ 문의하기
                                            <ul>
                                                <li>- 보존 항목: 문의접수 시 기재한 개인정보 및 상담내용</li>
                                                <li>- 보존 근거: 소비자의 불만 또는 분쟁처리에 관한 기록 (전자상거래 등에서의 소비자보호에 관한 법률)</li>
                                                <li>- 보존 기간: 3년</li>
                                            </ul>
                                        </li>
                                        <li>⑤ 상법 등 관련법령의 규정 및 내부 방침에 의하여 다음과 같이 거래 관련 관리 의무 관계의 확인 등을 이유로 일정기간 보유하여야 할 필요가 있을 경우에는 일정기간 보유합니다.
                                            <div class="tbl_area">
                                                <table class="tbl3 col3">
                                                    <colgroup>
                                                        <col>
                                                        <col>
                                                        <col>
                                                    </colgroup>
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">보유정보</th>
                                                            <th scope="col">보유기간</th>
                                                            <th scope="col">근거법령</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">계약 또는 청약철회 등에 관한 기록</th>
                                                            <td>5년</td>
                                                            <td>국세기본법 제26조의 2, 부가가치세법 제32조, 소득세법시행령 제211조</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">대금결제 및 재화 등의 공급에 관한 기록</th>
                                                            <td>5년</td>
                                                            <td>전자상거래등에서의 소비자보호에 관한 법률</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">소비자의 불만 또는 분쟁처리에 관한 기록</th>
                                                            <td>3년</td>
                                                            <td>전자상거래등에서의 소비자보호에 관한 법률</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">본인확인 정보에 관한 기록</th>
                                                            <td>6개월</td>
                                                            <td>정보통신망 이용 촉진 및 정보보호 등에 관한 법률</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">표시/광고에 관한 기록</th>
                                                            <td>6개월</td>
                                                            <td>전자상거래등에서의 소비자보호에 관한 법률</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">웹사이트 방문기록</th>
                                                            <td>3개월</td>
                                                            <td>통신비밀보호법</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ol>

                            <h5 id="terms6">제 6 조 개인정보의 파기절차 및 방법</h5>
                            <p>신세계건설은 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당정보를 지체없이 파기합니다.<br>파기 절차 및 방법은 다음과 같습니다.</p>
                            <ol>
                                <li>파기절차
                                    <p>개인정보는 정보주체의 탈퇴 또는 삭제 요청이 있을 시, 별도의 DB 또는 DB 내 별도의 테이블로 옮겨져(종이의 경우 별도의 서류함) 보유 기간 동안 저장된 후 파기됩니다.<br>별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유 이외의 다른 목적으로 이용되지 않습니다.</p>
                                </li>
                                <li>
                                    파기방법
                                    <p>종이에 출력된 개인정보는 파쇄기로 파쇄하거나 소각을 통하여 파기합니다.<br>정자적 파일 형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.</p>
                                </li>
                            </ol>

                            <h5 id="terms7">제 7 조 이용자 및 법정 대리인의 권리와 그 행사 방법</h5>
                            <ol>
                                <li>이용자는 등록되어 있는 자신의 개인정보를 조회하거나 수정할 수 있으며 삭제를 요청할 수도 있습니다. 이용자들의 개인정보 조회 및 수정을 위해서는 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</li>
                                <li>만 14세 미만의 아동의 경우, 법정대리인이 아동의 개인정보를 조회하거나 수정할 권리, 수집 및 이용 동의를 철회할 권리를 가집니다.</li>
                                <li>이용자가 개인정보의 오류에 대한 정정을 요청한 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.<br>또한, 잘못된 개인정보를 제 3자에게 이미 제공한 경우에는 정정 처리 결과를 제 3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.</li>
                                <li>신세계건설은 이용자의 요청애 의해 해지 또는 삭제된 개인 정보는 '수집한 개인정보의 보유 및 이용기간'에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.</li>
                            </ol>

                            <h5 id="terms8"> 제 8 조 쿠키의 운영 및 활용</h5>
                            <ol>
                                <li>신세계건설은 이용자에게 개별적인 맞춤서비스를 제공하기 위해 이용정보를 저장하고 수시로 불러오는 '쿠키(cookie)'를 사용합니다.</li>
                                <li>쿠키는 웹사이트를 운영하는데 이용되는 서버(http)가 이용자의 컴퓨터 브라우저에게 보내는 소량의 텍스트 정보이며 이용자들의 PC 컴퓨터내의 하드디스크에 저장되기도 합니다.
                                    <ul>
                                        <li>① 쿠키의 사용목적: 이용자가 방문한 각 서비스와 웹 사이트들에 대한 방문 및 이용형태, 인기 검색어, 보안접속 여부 등을 파악하여 이용자에게 최적화된 정보 제공을 위해 사용됩니다.</li>
                                        <li>② 쿠키의 설치·운영 및 거부: 웹브라우저 상단의 도구 > 인터넷 옵션 > 개인정보 메뉴의 옵션 설정을 통해 쿠키 저장을 거부 할 수 있습니다. 다만 쿸키 저장을 거부할 경우 회사에서 제공하는 일부 서비스 이용에 어려움이 발생할 수 있습니다.</li>
                                    </ul>
                                </li>
                            </ol>
                            
                            <h5 id="terms9">제 9 조 개인정보 관리를 위한 기술적, 관리적 보호조치</h5>
                            <p>신세계건설은 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.</p>
                            <ul>
                                <li>① 신세계건설 빌리브 라이프 서비스 홈페이지의 서버 및 네트워크 방화벽 시스템을 갖추고 개인정보 보호에 만전을 기하고 있습니다.</li>
                                <li>② 이용자의 개인정보와 비밀번호는 암호화되어 저장 및 관리되고 있어 본인만이 알 수 있으며 중요한 데이터는 파일 및 전송 데이터를 암호화하거나 파일 잠금 기능을 사용하는 등의 별도 보안기능을 사용하고 있습니다.</li>
                                <li>③ 해킹이나 컴퓨터 바이러스 등에 의한 개인정보 유출 및 훼손을 막기 위하여 보안프로그램을 설치하고 기술적/물리적으로 감시 및 차단하고 있습니다.</li>
                                <li>④ 내부적으로 권한을 가지고 있는 관리자만이 계정을 통해 개인정보에 접근할 수 있으며, 관리자에게는 꾸준한 보안교육을 실시하여 보안의식 강화에 힘쓰고 있습니다.</li>
                            </ul>
                            
                            <h5 id="terms10">제 10 조 개인정보 담당부서</h5>
                            <p>
                                신세계건설은 이용자의 개인정보를 보호하고 관련 불만을 처리하기 위하여 개인정보담당부서를 운영하고 있습니다.<br>
                                - 개인정보 보호 담당부서<br>
                                - 신세계건설 CSR 팀<br>
                                - 연락처: 02-3406-6790<br>
                                - E-mail: <a href="mailto:ssgenc@shinsegae.com">ssgenc@shinsegae.com</a><br><br>
                                이용자는 신세계건설의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보 담당부서로 신고 할 수 있습니다. 신세계건설은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.
                            </p>

                            <h5 id="terms11">제 11 조 처리방침 변경에 대한 고지의 의무</h5>
                            <p>현 개인정보취급방침의 내용 추가, 삭제 및 수정이 있을 시에는 개정 최소 7일전부터 홈페이지의 '공지사항'을 통해 고지할 것입니다.</p>
                        </div>
                    </div>
                    <!-- // 개인정보처리방침 -->
                </div>
            </div>
        </div>
    </v-body>
</v-app>
