<v-app>
  <v-body title="관리비 조회">
    <div class="container">
        <div class="bill">
            <!-- 관리비 청구 이력 없을 경우 -->
            <div class="flat_round_box">
                <div class="content">
                    <div class="txt_box">
                        <em>관리비 청구 이력이 없습니다.</em>
                        <p>최초 입주로 인하여 관리비 청구이력이 없는 경우에는 관리비 조회를 할 수 없습니다.<br>이는 오류가 아니며 입주 후 관리비가 최초 청구되는 시점부터 정상적으로 이용하실 수 있습니다.</p>
                    </div>
                </div>
            </div>
            <!-- // 관리비 청구 이력 없을 경우 -->

            <!-- 관리비 청구 이력 있을 경우 -->
            <div class="search_top">
                <span>조회 연월</span>
                <ng-select [items]="[
                        { name: '2020년'}
                    ]"
                        [searchable]="false"
                        bindLabel="name"
                        placeholder="연도 선택"
                >
                </ng-select>
                <ng-select [items]="[
                        { name: '09월 청구서'},
                        { name: '08월 청구서'}
                    ]"
                        [searchable]="false"
                        bindLabel="name"
                        placeholder="월 선택"
                >
                </ng-select>
            </div>

            <!-- 관리비 요약 -->
            <div class="round_box">
                <div class="content">
                    <h5>관리비 요약</h5>
                    <div class="summary">
                        <div class="price_list">
                            <dl class="claim">
                                <dt>청구금액</dt>
                                <dd>181,150 <span>원</span></dd>
                            </dl>
                            <dl>
                                <dt>당월 부과금액</dt>
                                <dd>181,150 원</dd>
                            </dl>
                            <dl>
                                <dt>전월 미납액</dt>
                                <dd>0 원</dd>
                            </dl>
                            <dl>
                                <dt>전월 미납 연체료</dt>
                                <dd>0 원</dd>
                            </dl>
                        </div>
                        <div class="right_area">
                            <p>납부 마감일<span><strong>2020년 09월 30일</strong> 까지</span></p>
                            <ul class="dot_list">
                                <li>납기 후 금액은 납부일 기준으로 관리사무소에 문의하여 확인하실 수 있습니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 관리비 비교 -->
            <div class="round_box">
                <div class="content">
                    <h5>관리비 비교</h5>
                    <div class="compare">
                        <div class="left_area">
                            <h6>당월 동일면적 비교</h6>
                            <div class="bg_box">
                                <div class="w_graph">
                                    <span class="fill" style="width:42%"></span>
                                    <span class="value" style="left:42%">우리집<strong>181,150 원</strong></span><!-- left:90% 이상일때 class="right" 추가 적용 -->
                                </div>
                                <ul class="g_data">
                                    <li>최저<span>178,970 원</span></li>
                                    <li>평균<span>216,149 원</span></li>
                                    <li>최고<span>353,850 원</span></li>
                                </ul>
                            </div>
                            
                            <h6>전월 비교</h6>
                            <table class="tbl3">
                                <colgroup>
                                    <col width="33.3%">
                                    <col width="33.3%">
                                    <col width="33.4%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">전월(9월)</th>
                                        <th scope="col">당월(10월)</th>
                                        <th scope="col">증감</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>178,970 원</td>
                                        <td>181,150 원</td>
                                        <td><span class="up"> 2,180 원</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="right_area">
                            <h6>기간별 동일면적 비교</h6>
                            <div class="bg_box">
                                <canvas #chart></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 관리비 항목 상세 -->
            <div class="round_box">
                <div class="content">
                    <h5>관리비 항목 상세 <span class="right">단위: 원</span></h5>
                    <div class="bill_det">
                        <table class="tbl4">
                            <colgroup>
                                <col class="col1">
                                <col class="col2">
                                <col class="col3">
                                <col class="col4">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th scope="col">항목</th>
                                    <th scope="col">전월(9월)</th>
                                    <th scope="col">당월(10월)</th>
                                    <th scope="col">증감</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>일반관리비</td>
                                    <td>39,270</td>
                                    <td>39,100</td>
                                    <td><span class="down"> - 170</span></td>
                                </tr>
                                <tr>
                                    <td>청소비</td>
                                    <td>24,830</td>
                                    <td>25,200</td>
                                    <td><span class="up"> 370</span></td>
                                </tr>
                                <tr>
                                    <td>경비비</td>
                                    <td>23,220</td>
                                    <td>22,620</td>
                                    <td><span class="down"> - 600</span></td>
                                </tr>
                                <tr>
                                    <td>소독비</td>
                                    <td>440</td>
                                    <td>440</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>승강기유지비</td>
                                    <td>2,170</td>
                                    <td>2,170</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>수선유지비</td>
                                    <td>2,630</td>
                                    <td>2,850</td>
                                    <td><span class="up"> 220</span></td>
                                </tr>
                                <tr>
                                    <td>대표회의운영비</td>
                                    <td>840</td>
                                    <td>840</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>선거관리운영비</td>
                                    <td>810</td>
                                    <td>810</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>위탁관리비</td>
                                    <td>830</td>
                                    <td>830</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>건물보험료</td>
                                    <td>1,770</td>
                                    <td>1,770</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>세대전기료</td>
                                    <td>40,190</td>
                                    <td>39,190</td>
                                    <td><span class="down"> - 1,000</span></td>
                                </tr>
                                <tr>
                                    <td>TV수신료</td>
                                    <td>2,500</td>
                                    <td>2,500</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>승강기전기</td>
                                    <td>2,650</td>
                                    <td>2,640</td>
                                    <td><span class="down"> - 10</span></td>
                                </tr>
                                <tr>
                                    <td>공동전기료</td>
                                    <td>14,080</td>
                                    <td>15,100</td>
                                    <td><span class="up"> 1,020</span></td>
                                </tr>
                                <tr>
                                    <td>세대수도료</td>
                                    <td>12,790</td>
                                    <td>14,180</td>
                                    <td><span class="up"> - 1,390</span></td>
                                </tr>
                                <tr>
                                    <td>공동수도료</td>
                                    <td>-1,180</td>
                                    <td>-1,450</td>
                                    <td><span class="down"> - 270</span></td>
                                </tr>
                                <tr>
                                    <td>공동난방비</td>
                                    <td>290</td>
                                    <td>490</td>
                                    <td><span class="up"> 200</span></td>
                                </tr>
                                <tr>
                                    <td>기본난방비</td>
                                    <td>6,780</td>
                                    <td>6,780</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>세대급탕비</td>
                                    <td>5,080</td>
                                    <td>6,090</td>
                                    <td><span class="up"> 1,010</span></td>
                                </tr>
                                <tr>
                                    <td>일자리안정차감</td>
                                    <td>-1,020</td>
                                    <td>-1,000</td>
                                    <td><span class="up"> 20</span></td>
                                </tr>
                                <tr>
                                    <td>세대 서비스 이용료</td>
                                    <td>0</td>
                                    <td>123,210</td>
                                    <td><span class="up"> 123,210</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- // 관리비 청구 이력 있을 경우 -->
        </div>
    </div>
  </v-body>
</v-app>
