<ion-header>
  <ion-toolbar>
    <ion-title>VILLV [API TEST]</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-list>
      <ion-item>
        <ion-label>공공 API (날씨정보 조회)</ion-label>
        <ion-button (click)="onWeatherInfo()">조회</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>IoT API (조명 1)</ion-label>
        <ion-button>상태조회</ion-button>
        <ion-button>상태토글</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>IoT API (조명 2)</ion-label>
        <ion-button>상태조회</ion-button>
        <ion-button>상태토글</ion-button>
      </ion-item>
      <ion-item>
        <ion-label>IoT API (환풍)</ion-label>
        <ion-button>상태조회</ion-button>
        <ion-button>상태토글</ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
