/* header */
header {width:100%; height:3.75rem; border-top:solid 1px #ececec; border-bottom:solid 1px #ececec; position:relative;}
header h1 {text-align:center; margin:0;}
header h1 a {display:block; font-size:2.042rem; font-family:"LGSmB", Arial, sans-serif; line-height:3.75rem;}
/*header h1 img {width:10.29rem; height:1.208rem; margin-top:1.292rem;}*/
header > a {text-indent:-9999px; font-size:0;}
header button span {text-indent:-9999px; font-size:0;}
header .btn-navi {position:absolute; top:0.9167rem; left:0.8333rem; display:block; background:url(../image/icon_menu.png) no-repeat 0 0; width:1.542rem; height:2rem; background-size:100%;}
header .top-btn-area {position:absolute; top:0.9167rem; right:0.8333rem;}
header .btn-cart {display:inline-block; background:url(../image/icon_cart.png) no-repeat 0 0; width:1.958rem; height:2rem; background-size:100%;}
header .btn-search {display:inline-block; background:url(../image/icon_search.png) no-repeat 0 0; width:1.5rem; height:2rem; background-size:100%; margin-left:1.875rem;}


header nav {position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:rgba(0,0,0,.5); z-index:999;}

#gnbMobile {width:100%; height:100%; position:absolute; top:0; left:0; right:0; bottom:0; color:#fff;}
#gnbMobile > .nav-top {overflow:hidden; background:#fff; height:3.625rem;}
#gnbMobile .nav-top .btn-close {display:block; width:1.25rem; height:3.625rem; padding-right:1.125rem; background:url(../image/btn_nav_close.jpg) no-repeat 0 1.208rem; background-size:100%; margin:0 1.25rem;}
#gnbMobile .nav-top .btn-close span {text-indent:-9999px; font-size:0;}
#gnbMobile.mobile2 .nav-top .btn-close {position:absolute; right:0; top:0;}
#gnbMobile.mobile2 .nav-top .sign-id {display:inline-block; line-height:3.625rem; height:3.625rem; padding:0 0 0 1.417rem; font-size:0.9167rem; color:#666;}
#gnbMobile .nav-top .btn-sign {position:absolute; top:0.7083rem; right:0; display:block; width:4.958rem; height:2.083rem; padding:0 0.4167rem; text-align:center;line-height:2.083rem; border:solid 0.08333rem #3b3b3b; border-radius:0.3333rem; font-size:0.9167rem;}
#gnbMobile.mobile2 .nav-top .btn-sign {right:3.583rem;}
#gnbMobile > .nav-gnb {position:absolute; top:3.625rem; left:0; width:calc(100% - 3.583rem); height:100%; background:#f2f2f2;}
.my-nav-drawer {background:#fff; width:100%; border-top:solid 0.08333rem #f1f2f2;}
.my-nav-drawer:after {display:block; clear:both; content:"";}
.my-nav-drawer > li {display:table; float:left; width:33.33%;}
.my-nav-drawer > li:first-child {border-left:none;}
.my-nav-drawer > li > a {position:relative; display:table-cell; border-left:solid 0.08333rem #f1f2f2; height:4.167rem; font-size:0.9167rem; vertical-align:middle; text-align:center;}
#gnbMobile > .nav-gnb .nav-gnb-depth1 {overflow-y:scroll !important; height:calc(100% - 7.917rem);}
.nav-gnb-depth1 > li {}
.nav-gnb-depth1 > li a {position:relative; display:block; border-bottom:solid 0.08333rem #fff; height:3.125rem; line-height:3.208rem; padding:0 3.333rem 0 1.5rem; font-size:1.208rem; font-weight:300;}
.nav-gnb-depth1 > li.nav-category > a:after {display:block; content:""; position:absolute; top:0.625rem; right:1.083rem; width:1.917rem; height:1.917rem; background:url(../image/arrow_bottom_circle.png) no-repeat 0 0; background-size:100%;}
.nav-gnb-depth1 > li.nav-category.pink > a {color:#ff0060; padding-left:3.5rem;}
.nav-gnb-depth1 > li.nav-category.pink > a:before {display:block; content:""; position:absolute;}
.nav-gnb-depth1 > li a.icon1:before {background:url(../image/icon_menu1.png) no-repeat 0 0; background-size:100%; width:1.375rem; height:1.375rem; top:0.9167rem; left:1.5rem;}
.nav-gnb-depth1 > li a.icon2:before {background:url(../image/icon_menu2.png) no-repeat 0 0; background-size:100%; width:1.333rem; height:1.333rem; top:0.9167rem; left:1.5rem;}
.nav-gnb-depth1 > li a.icon3:before {background:url(../image/icon_menu3.png) no-repeat 0 0; background-size:100%; width:1.417rem; height:1.25rem; top:0.9583rem; left:1.5rem;}
.nav-gnb-depth1 > li.nav-category.pink > a:after {background:url(../image/arrow_bottom_circle_pink.png) no-repeat 0 0; background-size:100%;}
.nav-gnb-depth2 > li > a {background:#fff; border-color:#f2f2f2; padding-left:2.708rem;}

#container {width:100%; padding-bottom:3.333rem;}
#content {}

.sub-title {position:relative; height:3.417rem;}
.sub-title h2 {font-size:1.333rem; padding-top:1.125rem; color:#666; font-weight:bold; text-align:center;}
.sub-title .btn-prev-page {display:block; position:absolute; top:0.8333rem; left:1.042rem; background:url(../image/btn_back.png) no-repeat 0 0; width:1rem; height:1.708rem; background-size:100%; text-indent:-9999px;}

#footer {width:100%; background:#626262; font-family:"LGSmB", Arial, sans-serif; padding-bottom:1rem;}
.footer-inner {}
.footer-inner .notice {text-align:center; font-size:0.8333rem; color:#ddd; line-height:1.47; padding:1.167rem 2.792rem 1.542rem;}
.footer-inner .policy {display:flex; justify-content:center;}
.footer-inner .policy li {}
.footer-inner .policy li a {display:block; position:relative; font-size:0.7917rem; margin-left:0.75rem; padding-left:0.7917rem; color:#eee;} 
.footer-inner .policy li a.fc-pink {color:#ff478c !important;}
.footer-inner .policy li a:before {display:block; content:""; width:0.08333rem; height:0.75rem; background:#4c4c4c; position:absolute; top:0; left:0;}
.footer-inner .policy li:first-child a {margin-left:0; padding-left:0;}
.footer-inner .policy li:first-child a:before {display:none;}
.footer-mypage {display:flex;}
.footer-mypage li {width:calc(100%/3); background:#6c6c6c; border-left:solid 1px #5d5d5d;}
.footer-mypage li:first-child {border-left:none;}
.footer-mypage li a {display:block; text-align:center; padding:1.083rem 0; height:2.958rem; font-size:0.9583rem; color:#ddd;}
.copyright {font-size:0.7917rem; color:#bbb; margin-top:1.25rem; text-align:center;}
.move-top a {position: fixed; right: 0; bottom: 0; width:3rem; height:3rem; background:url(../image/btn_top.png) no-repeat 0 0; background-size:100%; text-indent:-9999px;}