<v-app id="Gatepage">
    <v-body title="게이트 페이지">
        <div class="container">
            <!-- 팝업 활성화시 class="on" 추가 -->
            <div class="popup_box" [ngClass]="isOpenBzPopup ? 'on' : ''">
                <div class="popup">
                    <div class="pop_head">
                        <h2 class="title">단지 선택하기 <a (click)="onClickCloseBzPopup()" class="close">close</a></h2>
                        <!-- 1. 지역 선택 하기 활성화시 class="on" 추가-->
                        <div class="location" [ngClass]="selectedTerrCode != null ? '' : 'on'">
                            <h3>시/도 선택</h3>
                        </div>
                        <!-- 2. 단지 선택 하기 활성화시 class="on" 추가-->
                        <div class="location" [ngClass]="selectedTerrCode != null ? 'on' : ''">
                            <h3>{{selectedTerrCode?.cdName}} <span>{{getTerrListByTerrCd(selectedTerrCode?.cd).length}}</span></h3>
                            <a class="back" (click)="onChangeSelectedTerr()">변경</a>
                        </div>
                    </div>
                    <!-- 1. 지역 선택 하기 활성화시 class="on" 추가-->
                    <div class="pop_body chs_city" [ngClass]="selectedTerrCode != null ? '' : 'on'">
                        <div class="check_box">
                            <div class="btn_switch">
                                <input type="checkbox" id="switch1" name="switch1" class="input_on_off" [defaultChecked]="!isLifeServiceExpected" (change)="onChangeLifeServiceExpected($event)">
                                <label for="switch1" class="label_on_off">
                                    <span class="marble"></span>
                                    <span class="on">on</span>
                                    <span class="off">off</span>
                                </label>
                                <span class="switch_txt" [ngClass]="isLifeServiceExpected ? '' : 'on'">{{isLifeServiceExpected ? '빌리브 전체단지' : '빌리브 라이프 서비스 제공단지'}}</span><!-- 스위치 활성화시 class="on" 추가 적용 필요 -->
                            </div>
                        </div>
                        <!-- 시,도 리스트 클릭 활선화 class="on" 추가-->
                        <div class="list_box on">
                            <div [ngClass]="getTerrListByTerrCd(data.cd).length> 0 ? 'on' : ''" *ngFor="let data of terrCdList;" >
                                <a (click)="onClickTerr(data)">{{data.cdName}} <span>{{getTerrListByTerrCd(data.cd).length}}</span></a>
                            </div>
                        </div>
                    </div>
                    <!-- 2. 단지 선택 하기 활성화시 class="on" 추가-->
                    <div class="pop_body" [ngClass]="selectedTerrCode != null ? 'on' : ''">
                        <div class="chose_box" *ngFor="let data of getTerrListByTerrCd(selectedTerrCode?.cd);">
                            <span *ngIf="data.lsYn==='1'" class="tag">예정</span>
                            <h4 class="title"><span>{{data.terrNm}}</span>{{data.bzNm}}</h4>
                            <div class="go_page">
                                <a *ngIf="data.lsYn==='1'" (click)="openNewPage(data.hpgUrl)" class="btn01">분양 홈페이지</a>
                                <a *ngIf="data.lsYn==='1'" (click)="openNewPage(data.cnstUrl)" class="btn02">공사정보 보기</a>
                                <a *ngIf="data.lsYn!=='1'" (click)="goMainPage(data)" class="full btn02">빌리브 라이프 서비스</a>
                            </div>
                        </div>

                    </div>
                    <h3 class="btm_info">※ 빌리브 라이프 서비스 예정단지는 운영 여건에 따라 <br class="mo">추후 변경될 수 있습니다.</h3>
                </div>
                <!-- 딤 처리 -->
                <div class="dim"></div>
            </div>
            <!-- 해더 -->
            <div class="header">
                <h1>
                    <span>villiv</span>
                </h1>
                <span>빌리브 라이프 서비스</span>
            </div>
            <!-- 버튼 & 안내 -->
            <div class="base_cont">
                <!-- 문구 -->
                <div class="txt_title">
                    <h2>
                        <span>다양함이 존중되는</span><br/>
                        라이프 스타일먼트 실현<br/>
                        빌리브 라이프 서비스가 함께합니다.
                    </h2>
                    <p>Life Service</p>
                </div>
                <!-- 버튼 숨김 시 -->
                <div class="btn_box">
                    <button type="button" (click)="onClickOpenBzPopup()" class="chose_est">단지선택하기</button>
                </div>
            </div>

            <!-- 백그라운드 이미지 -->
            <div class="gate_bg">
                <img src="/assets/bg/gate_bg01.png" alt="샘플"/>
            </div>
        </div>
    </v-body>

</v-app>
