
<v-app id="logout">
  <v-body title="자동 로그아웃">
    <div class="container">
        <div class="flat_round_box">
            <div class="content">
                <div class="txt_box">
                    <h4>자동 로그아웃 되었습니다.</h4>
                    <p class="">로그인 후 30분 동안 서비스를 사용하지 않으면 정보 보호를 위하여 자동 로그아웃 됩니다.<br>계속 사용하시려면 다시 로그인해주세요.</p>
                </div>
            </div>
        </div>
        <div class="btn_area">
            <a href="#" class="btn btn_type2">로그인</a>
        </div>
    </div>
  </v-body>
</v-app>
