v-app {
    /* background: #EFF1F5 url('/assets/bg/t_winter.svg') no-repeat 2.75rem -21.5rem; */
    /* background: #EFF1F5 url('/assets/ic_error.svg') no-repeat 0 2.75rem; */
    background-size: cover;
}

::ng-deep ng-lottie {
    position: absolute;
    top: 2.167rem;
    left: 0;
}

.round_box + .round_box {
    margin-top: 1.25rem;
}

.main_text {  
    color: #413A34;
    display: block;
    margin-top: 2.5rem;
    height: 17.92rem;
    box-sizing: border-box;
}
.main_text em {  
    font-size: 2.667rem;
    display: block;
    text-align: left;
    font-style: normal;
    line-height: 1.25;
    font-weight: 400;
}
.main_text em > span.highlight {
    display: inline-block;
    border-bottom: 1.25rem solid #C9E667;
    line-height: 0.3;
}
.main_text > span {  
    font-size: 1.083rem;
    display: block;
    text-align: left;
    line-height: 1.62;
    font-weight: 300;
    margin-top: 0.75rem;
    color: #5A514C;
}

.round_box .content h2 {
    display:none;
}

.fir_info {
    box-sizing: border-box;
}
.fir_info .top {
    padding-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 0.08333rem solid #fff;
    position: relative;
}
.fir_info .top:after {
    content: "";
    position: absolute;
    height: 0.08333rem;
    background: #abb3c1;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.fir_info .top .date {
    font-family: 'Montserrat';
    font-size: 1rem;
    color: #5A514C;
    font-weight: 400;
    display: block;
    letter-spacing: 0;
}
.fir_info .top .location {
    font-size: 1rem;
    font-weight: 400;
    color: #4B423C;
    display: block;
}
.fir_info .top .location:before {
    display:inline-block;
    content: "";
    background: url('/assets/icon/place.svg') no-repeat;
    width: 1.25rem;
    height: 1.333rem;
    background-size: 100%;
    vertical-align: -0.3333rem;
}
.fr_menu {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.fr_menu > div {
    position: relative; 
    text-align: center;
    flex: 1;
}
.fr_menu > div:before {
    display: block; 
    content: "";
    background: #D4D9E0;
    width: 1px;
    height: 3.333rem;
    position: absolute;
    top: 0.25rem;
    left: 0;
}
.fr_menu > div:after {
    display: block; 
    content: "";
    background: #fff;
    width: 1px;
    height: 3.333rem;
    position: absolute;
    top: 0.25rem;
    left: 1px;
}
.fr_menu > div:first-of-type:before,
.fr_menu > div:first-of-type:after {
    display: none;
}
.fr_menu > div > span {
    color: #4B423C;
    font-size: 1rem;
    display: block;
    margin-top: 0.5rem;
}

.fr_menu > div > div {
    height: 3.667rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.weather {
}
.weather i {
    display: block;
    text-indent: -9999px;
    width: 2.333rem;
    height: 2.333rem;
}
.weather .temp {
    font-size: 1.5rem;
    color: #4B423C;
    font-weight: 600;
    letter-spacing: -0.04em;
    font-family: 'Montserrat';  
    margin-left: 0.4167rem;
    margin-top: 0.1667rem;
}

/* 날씨 아이콘 */
.weather i.w_sunny {
    background: url('/assets/icon/w_sunny.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_blur {
    background: url('/assets/icon/w_blur.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_cloudy {
    background: url('/assets/icon/w_cloudy.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_rain {
    background: url('/assets/icon/w_rain.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 2rem;
}
.weather i.w_rain_snow {
    background: url('/assets/icon/w_rain_snow.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_rain_snow2 {
    background: url('/assets/icon/w_rain_snow2.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_raindrop {
    background: url('/assets/icon/w_raindrop.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_shower {
    background: url('/assets/icon/w_shower.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
}
.weather i.w_snow {
    background: url('/assets/icon/w_snow.svg') no-repeat;
    background-size: 100%;
}
.weather i.w_snowy {
    background: url('/assets/icon/w_snowy.svg') no-repeat;
    background-size: 100%;
}

.schedule {
}
.schedule > p {
    position: relative;
    font-size: 1.167rem;
    line-height: 1.29;
    font-weight: 800;
    color: #4B423C;
    word-break: keep-all;
    letter-spacing: -0.04em;
}
.schedule > p > span.highlight {
    display: inline-block;
    border-bottom: 0.6667rem solid #C9E667;
    line-height: 0.1;
    margin-right: 0 !important;
} 
.schedule > a {
    display: inline-block;
    font-size: 2.167rem;
    color: #413A34;
    font-family: 'Montserrat';
    font-weight: 600;
    vertical-align: bottom;
    border-bottom: 1px solid #413A34;
    line-height: 0.9;
}
.schedule > span {
    display: inline-block;
    font-size: 1.167rem;
    vertical-align: bottom;
}

.notice_box {
    margin-bottom: 0;
    padding: 1.25rem 1.75rem;
}
.notice_box .notice {
    font-size: 1.083rem;
    color: #5A514C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice_box span {
    display: block;
    word-break: keep-all;
}
.notice_box .badge {
    color: #9CC023;
    font-family: 'Montserrat';
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.5833rem;
    margin-top: 0.08333rem;
}

.btn_box_list {
    padding-bottom: 0.4167rem;
}
.btn_box_list h2 {
    display: none;
}
.btn_box_list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}
.btn_box_list ul:before {
    display: block;
    content: "새로움에 살다, 빌리브";
    color: #9CC023;
    font-size: 1rem;
    // background: rgba(199,199,199,.3);
    width: 50%;
    height: 2.583rem;
    text-align: center;
    line-height: 2.8;
    position: absolute;
    bottom: 1.417rem;
    right: 0;
}
.btn_box_list ul:after {
    display: block;
    content: "";
    width: 100%;
    height: 0.25rem;
    background: #EFF1F5;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn_box_list li {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    border-bottom: 1px solid #fff;
    background: #EFF1F5;
}
.btn_box_list li:after {
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #D4D9E0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.btn_box_list li.bill_box {
    width: 100%;
    border-top: none;
    margin-top: 0;
}
.btn_box_list li div {
    position: relative;
    margin: 1.25rem 0;
    height: 2.583rem;
}
.btn_box_list li:first-child div {
    margin-top: 0;
}
.btn_box_list li:nth-child(2n+3) div {
    padding-left: 1.5rem;
}
.btn_box_list li:nth-child(2n+3) div:before {
    display: block;
    content:"";
    width: 1px;
    height: 100%;
    background: #D4D9E0;
    position: absolute;
    top: 0;
    left: 0;
}
.btn_box_list li:nth-child(2n+3) div:after {
    display: block;
    content:"";
    width: 1px;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 1px;
}

.btn_box_list li a {
    display: block;
}
.btn_box_list li .txt_area {
    color: #4B423C;
    text-align: left;
    padding-left: 2.917rem;
    position: relative;
    height: 2.583rem;
    line-height: 2.583rem;
}
.btn_box_list li .txt_area strong {
    font-size: 1.083rem;
    display: inline-block;
    font-weight: 400;
}
.btn_box_list li .txt_area > span {
    font-size: 1rem;
    // margin-top: 0.1667rem;
    display: inline-block;
}
.btn_box_list li .txt_area > span.r_txt {
    position: absolute;
    top: 0;
    right: 1.75rem;
    color: #8D8785;
}
.btn_box_list li .txt_area > span.price {
    float: right;
    margin-right: 1.75rem;
}
.btn_box_list li .txt_area > span.price .num {
    font-family: "Montserrat";
    font-size: 1.25rem;
    vertical-align: 0;
    letter-spacing: 0;
}	
.btn_box_list li .txt_area .badge {
    display: inline-block;
    // height: 1.333rem;
    line-height: 1.24;
    text-align: center;
    border-radius: 0.75rem;
    background: #E44E28;
    font-size: 0.9167rem;
    color: #fff;
    padding: 1px 0.5rem;
    font-family: 'Montserrat';
    letter-spacing: 0;
    margin-left: 0.4167rem;
    margin-top: -0.1667rem;
    vertical-align: middle;
}
.btn_box_list li .txt_area .badge > span {
    font-size: 0.8333rem;
    font-family: "NotoSans";
}
.btn_box_list li .txt_area:before {
    display: block;
    content: "";
    width: 2.417rem;
    height: 2.583rem;
    position: absolute;
    top: 0;
    left: 0;
}
.btn_box_list li.bill_box .txt_area:before {
    background: url('/assets/icon/expenses.svg') no-repeat center;
    background-size: 2.167rem 2.167rem;
}
.btn_box_list li.reserv .txt_area:before {
    background: url('/assets/icon/class.svg') no-repeat center;
    background-size: 2.083rem 2.167rem;
}
.btn_box_list li.breakfast .txt_area:before {
    background: url('/assets/icon/breakfast.svg') no-repeat center;
    background-size: 2.333rem 2.583rem;
}
.btn_box_list li.m_vote .txt_area:before {
    background: url('/assets/icon/vote.svg') no-repeat center;
    background-size: 2.083rem 2.167rem;
}
.btn_box_list li.m_survey .txt_area:before {
    background: url('/assets/icon/survey.svg') no-repeat center;
    background-size: 2.5rem 2.167rem;
}
.btn_box_list li.m_lecture .txt_area:before {
    background: url('/assets/icon/lecture.svg') no-repeat center;
    background-size: 2.167rem 2.583rem;
}

/* 레이어팝업 */
.main_popup {
    width: 26.67rem;
    height: 33.83rem;
    margin-left: -13.33rem;
    margin-top: -16.92rem;
}
.main_popup h1 {
    line-height: 1.33;
}
.main_popup h1:before {
    display: block;
    content:"";
    background: url('/assets/icon/exclamation_mark.svg') no-repeat;
    background-size: 100%;
    width: 3.583rem;
    height: 3.583rem;
    margin: 0.9167rem auto 0.6667rem;
}
.main_popup .cont_pop p {
    font-size: 1.167rem;
    line-height: 1.57;
}

.app_authority {
    height: calc(100vh - 7.667rem);
    top: 5rem;
    margin-left: -13.33rem;
}
.app_authority .cont_pop {
    padding-bottom: 2rem;
}
.app_authority .scroll_box {
    height: calc(100% - 3.5rem);
}
.app_authority h2 {
    font-size: 1.5rem;
}
.app_authority .list dl {
    position: relative;
    padding-left: 6.25rem;
    margin-top: 2rem;
    height: 4.417rem;;
}
.app_authority .list dl:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4.417rem;
    height: 4.417rem;
    border-radius: 50%;
}
.app_authority .list dl.alram:before {
    background: #F5F5F5 url('/assets/icon/alram.svg') no-repeat center;
    background-size: 2.167rem 2.167rem;
}
.app_authority .list dl.camera:before {
    background: #F5F5F5 url('/assets/icon/camera.svg') no-repeat center;
    background-size: 2.167rem 2.167rem;
}
.app_authority .list dl.storage:before {
    background: #F5F5F5 url('/assets/icon/storage.svg') no-repeat center;
    background-size: 2.167rem 2.167rem;
}
.app_authority .list dt {
    font-size: 1.333rem;
    font-weight: 700;
    padding-top: 0.4167rem;
}
.app_authority .list dd {
    font-size: 1.167rem;
    color: #8D8785;
    margin-top: 0.25rem;
    font-weight: 400;
}
.app_authority .dot_list {
    margin-top: 2rem;
}

.reserv_popup {
    height: 40rem;
    margin-top: -20rem;
}
.reserv_popup .dot_tit {
    font-size: 1.167rem;
    position: relative;
    padding-left: 0.6667rem;
}
.reserv_popup .dot_tit:before {
    display: block;
    content: "";
    position: absolute;
    top: 0.5833rem;
    left: 0;
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 50%;
    background: #8D8785;
}
.reserv_popup .list {
    margin-top: 1.667rem;
}
   
/* tablet */
@media screen and (max-width: 1024px) {
    .schedule > p > span {
        margin-right: 0.4167rem;
    }
    .frm3 a {
        width: 5.833rem;
        height: 3rem;
    }
    .frm3 a img {
        width: 100%;
    }
    ::ng-deep ng-lottie {
        width: 100%;
    }
}

  /* pc */
@media screen and (min-width: 1025px) {
    v-app {
        background-size: 50%;
        background-position: 0 75px;
    }
    
   ng-lottie {
       //width: inherit;
        top: 0;
        left: 50%;
        margin-left: -520px;
    }
    
    /* type1 */
    v-body .container {
        padding-top: 75px;
        padding-bottom: 104px;
        display: flex;
        justify-content: space-between;
    }
    .main_text {
        //float: left;
        width: calc(50% - 10px);
        //max-width: 18.75rem;
        margin-top: 0;
        height: auto;
    }

    .main_content {
        //float: right;
        /* width: calc(100% - 28.13rem); */
        width: calc(50% - 10px);
        //max-width: calc(100% - 28.13rem);
        margin-top: 0;
    }

    .round_box + .round_box {
        margin-top: 20px;
    }

    .fir_info {
        margin-top: 0;
    }
    .main_text em {  
        font-size: 44px;
        line-height: 1.32;
    }
    .main_text > span {  
        font-size: 16px;
        margin-top: 22px;
        line-height: 1.6;
    }

    .fir_info .top {
        border-bottom-width: 1px;
    }
    .fir_info .top:after {
        height: 1px;
    }
    .fir_info .top .date {
        font-size: 15px;
        color: #4B423C;
        font-weight: 500;
    }
    .fir_info .top .location {
        color: #5A514C;
        font-size: 14px;
    }
    .fir_info .top .location:before {
        width: 24px;
        height: 23px;
        background: url('/assets/icon/place.svg') no-repeat 0 0;
        background-size: 100%;
        margin-right: 5px;
    }
    .fr_menu {
        padding-bottom: 0;
        padding-top: 30px;
    }
    .fr_menu > div:before,
    .fr_menu > div:after {
        height: 55px;
        top: 1px;
    }
    .fr_menu > div > span {
        color: #5A514C;
        font-size: 14px;
        margin-top: 6px;
    }
    .fr_menu > div > div {
        height: 55px;
    }
    .weather i {
        width: 38px;
        height: 38px;
    }
    .weather i.w_rain {
        width: 36px;
        height: 40px;
    }
    .weather i.w_shower {
        width: 30px;
    }
    .weather .temp {
        font-size: 26px;
        margin-left: 7px;
        margin-top: 3px;
    }
    .schedule > p {
        font-size: 18px;
    }
    .schedule > p > span {
        border-width: 10px;
    }
    .schedule > a {
        font-size: 36px;
    }
    .schedule > span {
        font-size: 18px;
    }

    .notice_box {
        padding: 20px;
    }
    .notice_box .notice {
        font-size: 17px;
    }
    .notice_box .badge {
        font-size: 16px;
        margin-top: 0;
        margin-right: 18px;
        margin-bottom: -1px;
        vertical-align: middle;
    }
    
    .btn_box_list {
        padding-bottom: 8px;
    }
    .btn_box_list ul:before {
        font-size: 16px;
        height: 41px;
        line-height: 2.56;
        bottom: 18px;
    }
    .btn_box_list ul:after {
        height: 2px;
    }
    .btn_box_list li div {
        margin: 17px 0;
        height: 41px;
    }
    .btn_box_list li:nth-child(odd) div {
        padding-left: 27px;
    }
    .btn_box_list li.bill_box div {
        padding-left: 0;
    }
    .btn_box_list li a {
        padding-top: 2px;
    }
    .btn_box_list li .txt_area {
        padding-left: 55px;
        height: 36px;
        line-height: 36px;
    }
    .btn_box_list li .txt_area strong {
        font-size: 17px;
        font-weight: 700;
    }
    .btn_box_list li .txt_area > span {
        font-size: 17px;
    }   
    .btn_box_list li .txt_area > span.r_txt {
        font-size: 16px;
        right: 42px;
    }
    .btn_box_list li .txt_area > span.price {
        margin-right: 48px;
    }
    .btn_box_list li .txt_area > span.price .num {
        font-size: 18px;
    }	 
    .btn_box_list li .txt_area .badge {
        height: 23px;
        line-height: 1.4;
        border-radius: 11px;
        font-size: 16px;
        padding: 1px 11px 0;
        margin-left: 8px;
        margin-top: -3px;
    }
    .btn_box_list li .txt_area .badge > span {
        font-size: 14px;
    }    
    .btn_box_list li .txt_area:before {
        width: 36px;
        height: 36px;
    }
    .btn_box_list li.bill_box .txt_area:before {
        background-size: 36px 35px;
    }
    .btn_box_list li.reserv .txt_area:before {
        background-size: 35px 35px;
    }
    .btn_box_list li.breakfast .txt_area:before {
        background-size: 33px 35px;
    }
    .btn_box_list li.m_vote .txt_area:before {
        background-size: 35px 36px;
    }
    .btn_box_list li.m_survey .txt_area:before {
        background-size: 35px 31px;
    }
    .btn_box_list li.m_lecture .txt_area:before {
        background-size: 33px 36px;
    }
    

    /* 레이어팝업 */
    .main_popup {
        width: 320px;
        height: 406px;
        margin-left: -160px;
        margin-top: -203px;
    }
    .main_popup h1:before {
        width: 43px;
        height: 43px;
        margin: 6px auto 8px;
    }
    .main_popup .cont_pop p {
        font-size: 14px;
    }

    
    .reserv_popup {
        height: 480px;
        margin-top: -240px;
    }    
    .reserv_popup .dot_tit {
        font-size: 14px;
        padding-left: 8px;
    }
    .reserv_popup .dot_tit:before {
        top: 7px;
        width: 3px;
        height: 3px;
    }
    .reserv_popup .list {
        margin-top: 20px;
    }
}
