<v-app>
    <v-body title="빌리브 스토리">

        <div class="container">
            <div class="villiv_story flat_round_box bg_white">
                <div class="content">
                    <dl>
                        <dt>
                            <!-- 타이틀 -->
                            <h4 class="main_title">
                                <p>
                                    다양한 삶에 대한<br/>
                                    믿음으로부터 탄생한<br/>
                                    신세계 빌리브
                                    <span class="highlight">VILLIV</span>
                                </p>
                            </h4>
                            <div class="cont">
                                <p class="green">
                                    아파트먼트 Apartment를 넘어<br/>
                                    라이프스타일먼트 Lifestylement의 실현.
                                </p>
                                <p class="green">
                                    빌리브는 ‘좋은 집과 좋은 삶’에 대한<br/>
                                    신세계건설의 철학을 담았습니다.
                                </p>
                            </div>
                        </dt>
                        <dd class="full_img">
                            <img src="/assets/dummy/story_img_01.png" alt="샘플"/>
                        </dd>
                    </dl>
                    <dl>
                        <dt class="middle_pc">
                            <div class="cont">
                                <h5>빌리브란?</h5>
                                <p>
                                    빌리브VILLIV는 모던한 형태의 마을
                                    <br class="pc"/>‘Village’와<br class="mo"/>
                                    존중되는 삶의 공간 ‘Live’의
                                    <br class="pc"/>의미가 결합된 섬세하고 감각적인
                                    <br class="pc"/>라이프스타일 주거 브랜드입니다.
                                </p>
                            </div>
                        </dt>
                        <dd class="info_box">
                            <div>
                                <h5>VILLAGE + LIVE = VILLIV</h5>
                            </div>
                            <div>
                                <p>내 삶이 집의 중심이 되는 섬세하고 감각적인
                                    <br class="pc"/>라이프 리빙 브랜드</p>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

    </v-body>
</v-app>