/* 텍스트 정보 */
.text_info{
  padding: 2.5rem 0;
}
.text_info .title{
  text-align: center;
  line-height: 1.4;
  font-size: 1.75rem;
  padding-bottom: 2rem;
  font-weight: bold;
}
.text_info .title.left{
  text-align: left;
}
.text_info p{
  font-size: 1.167rem;
  line-height: 1.57;
  color: #5A514C;
}
.text_info p.green{
  color: #9CC023;
}
.flat_round_box + .dot_list {
  margin-top: 3.917rem;
}
/* 일반 정보 */
.normal_info{
  padding: 1.667rem 1.333rem;
}
/* pc에서 좌우 정렬 */ 
.bz_info {
  padding: 1.667rem 1.333rem;
  border-bottom: 1px solid #DBD5CE;
}
.bz_info h4 + dl{
  margin-top: 1.5rem;
}
.bz_info .text_info{
  padding: 2.5rem 0;
}
.bz_info + .normal_info{
  margin-top: 5rem;
}
/* 슬라이드 */
.top_div .swiper-container {
  padding-bottom: 3rem;
}
.top_div .swiper-pagination {
  bottom: 0;
}
.slide_area .btn_prev.round,
.slide_area .btn_next.round{
  transform: translateY(-50%);
  margin-top: -1.5rem;
}
  @media screen and (min-width: 1025px) {
    .operation_info{
      padding:0 40px;
    }
    .text_info{
      padding-top: 0;
    }
    .normal_info .text_info,
    .bz_info .text_info{
      padding-top: 40px;
    }
    .text_info .title{
      font-size: 28px;
      line-height: 1.35;
    }
    .text_info p{
      line-height: 1.75;
      font-size:16px;
    }
    .flat_round_box + .dot_list {
      margin-top: 56px;
    }
    /* pc에서 좌우 정렬 */
    .bz_info, .normal_info{
      padding: 40px;
    }
    .bz_info div.bz_infobox{
      position: relative;
      margin-bottom: 45px;
      padding-bottom: 50px;
      border-bottom: 1px solid #DBD5CE;
    }
    .bz_info div.bz_infobox div.top_div{
      float: right;
      width: 420px;
    }
    .bz_info div.bz_infobox div.top_div .no_img{
      min-height: 240px;
    }
    .bz_info div.bz_infobox div.btm_info{
      position: absolute;
      width: 420px;
      padding-right: 10px;
      left: 0;
      top: 0;
    }
    .bz_info div.bz_infobox div.btm_info .text_info{
      padding: 0;
    }
    .bz_info div.bz_infobox::after{
      content: "";
      display: table;
      clear: both;
    }
    .bz_info div.bz_infobox + div.bz_infobox{
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
    .bz_info + .normal_info{
      margin-top: 60px;
    }
    /* 슬라이드 */
    .top_div .swiper-container {
      padding-bottom: 46px;
    }
    .slide_area .btn_prev.round{
      left: 9px;
    }
    .slide_area .btn_next.round{
      right: 9px;
    }
}