.homenet {}
.homenet > .txt {
    font-size: 1.167rem;
    text-align: center;
    line-height: 1.57;
}
.homenet > .txt:before {    
    display: block;
    content: "";
    background: url('/assets/icon/homenet.svg') no-repeat;
    background-size: 100%;
    width: 7.833rem;
    height: 6.083rem;
    margin: 3.833rem auto 1.833rem;
}

.login_form {
    margin-top: 3.083rem;
}
.login_form li + li {
    margin-top: 0.75rem;
}
.login_form .btn_area {
    margin-top: 2.083rem;
}

.dot_list {
    margin-top: 1.75rem;
}