<v-app>
    <v-body title="빌리브 매거진">
        <div class="full_cont none_top">
            <div class="container">
                <!-- 이벤트 리스트 -->
                <ul class="event_list">
                    <li class="flat_round_box">
                        <a href="#">
                            <div class="content">
                                <div class="img_box">
                                    <img src="/assets/dummy/magazine_img_01.png" alt="샘플"/>
                                </div>
                                <div class="txt_box">
                                    <h4>인류의 미래를 위한 도심 양봉 키트</h4>
                                    <h4 class="gray">스타트업 비잉의 양봉 키트</h4>
                                    <p class="text">
                                        꿀벌이 사라지면 곧 인류도 사라진다는 과학자들의 암울한 전망에 이탈리아 스타트업 비잉이 나섰다. 도심에서 직접 벌을 칠 수 있는 양봉 키트를
                                        선보인 것. 빌딩옥상이나 정원, 심지어 테라스에서도 벌을 키우고 꿀을 채취할 수 있는데, 채취용 마스크와 장갑도 필요 없다. 가장 평화로운
                                        방법으로 꿀벌과 사람이 공존한다.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="flat_round_box">
                        <a href="#">
                            <div class="content">
                                <div class="img_box">
                                    <img src="/assets/dummy/magazine_img_01.png" alt="샘플"/>
                                </div>
                                <div class="txt_box">
                                    <h4>인류의 미래를 위한 도심 양봉 키트</h4>
                                    <h4 class="gray">스타트업 비잉의 양봉 키트</h4>
                                    <p class="text">
                                        꿀벌이 사라지면 곧 인류도 사라진다는 과학자들의 암울한 전망에 이탈리아 스타트업 비잉이 나섰다. 도심에서 직접 벌을 칠 수 있는 양봉 키트를
                                        선보인 것. 빌딩옥상이나 정원, 심지어 테라스에서도 벌을 키우고 꿀을 채취할 수 있는데, 채취용 마스크와 장갑도 필요 없다. 가장 평화로운
                                        방법으로 꿀벌과 사람이 공존한다.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="flat_round_box">
                        <a href="#">
                            <div class="content">
                                <div class="img_box">
                                    <img src="/assets/dummy/magazine_img_01.png" alt="샘플"/>
                                </div>
                                <div class="txt_box">
                                    <h4>인류의 미래를 위한 도심 양봉 키트</h4>
                                    <h4 class="gray">스타트업 비잉의 양봉 키트</h4>
                                    <p class="text">
                                        꿀벌이 사라지면 곧 인류도 사라진다는 과학자들의 암울한 전망에 이탈리아 스타트업 비잉이 나섰다. 도심에서 직접 벌을 칠 수 있는 양봉 키트를
                                        선보인 것. 빌딩옥상이나 정원, 심지어 테라스에서도 벌을 키우고 꿀을 채취할 수 있는데, 채취용 마스크와 장갑도 필요 없다. 가장 평화로운
                                        방법으로 꿀벌과 사람이 공존한다.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="flat_round_box">
                        <a href="#">
                            <div class="content">
                                <div class="img_box">
                                    <img src="/assets/dummy/magazine_img_01.png" alt="샘플"/>
                                </div>
                                <div class="txt_box">
                                    <h4>인류의 미래를 위한 도심 양봉 키트</h4>
                                    <h4 class="gray">스타트업 비잉의 양봉 키트</h4>
                                    <p class="text">
                                        꿀벌이 사라지면 곧 인류도 사라진다는 과학자들의 암울한 전망에 이탈리아 스타트업 비잉이 나섰다. 도심에서 직접 벌을 칠 수 있는 양봉 키트를
                                        선보인 것. 빌딩옥상이나 정원, 심지어 테라스에서도 벌을 키우고 꿀을 채취할 수 있는데, 채취용 마스크와 장갑도 필요 없다. 가장 평화로운
                                        방법으로 꿀벌과 사람이 공존한다.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="btn_area">
                    <button type="button" class="btn btn_type2">빌리브 홈페이지 방문하기</button>
                </div>
            </div>
        </div>
    </v-body>
</v-app>