.container.type3 {
  background: url('/assets/contents/bg_main.jpg') no-repeat;
  background-size: 100%;
  padding-left: 0;
  padding-right: 0;
}
.lettering {
  width: 100%;
  position: relative;
  padding-top: 22.5rem;
//   padding-bottom: 7.917rem;
}
.lettering_apply {
  margin: 0 2.5rem;
  background: #F9F9F9;
}
.lettering_apply .content {
  padding: 2.5rem;
}
.lettering_apply .txt {
  position: relative;
  color: #5A514C;
  padding-bottom: 1.25rem;
  border-bottom: 0.08333rem solid #fff;
  font-size: 1.167rem;
  line-height: 1.71;
  letter-spacing: -0.07em;
}
.lettering_apply .txt:after {
  content: "";
  position: absolute;
  height: 0.08333rem;
  background: #abb3c1;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
}
.lettering_apply .txt strong {
  font-weight: 800;
}
h4 {
  color: #4B423C;
  font-weight: 800;
  margin-top: 2.167rem;
  font-size: 1.5rem;
}
h4 span {
  display: inline-block;
  border-bottom: 0.6667rem solid #C9E667;
  line-height: 0.5;
  vertical-align: 0.5rem;
}
h4 .tooltip {
  display: inline-block;
  background: url('/assets/icon/info.svg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
  vertical-align: 0;
}
.form_area {}
h5 {
  margin-top: 1.667rem;
  color: #4B423C;
  font-size: 1.25rem;
  font-weight: 700;
}
.input_area {
  margin-top: 0.75rem;   
  position: relative;
}
.input_area .com_inp2 {
  padding-right: 3.833rem;
}
.btn_calendar {
  position: absolute;
  top: 0.5rem;
  right: 0.9167rem;
  background: url('/assets/icon/class.svg') no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2.083rem;
  text-indent: -9999px;
}
.com_texta {
  margin-top: 0.75rem;
}
.lettering_apply .btn_type2 {
  width: 100%;
  margin-top: 0.6667rem;
}
.lettering_apply .btn_type2:before {
  display: inline-block;
  content: "" ;
  background: url('/assets/icon/lettering.svg') no-repeat;
  background-size: 100%;
  width: 1.667rem;
  height: 1.667rem;
  vertical-align: -0.3333rem;
  margin-right: 0.1667rem;
}

.lettering_info {
  width: 26.67rem;
  height: 32.17rem;
  margin-top: -16.5rem;
  margin-left: -13.33rem;
}
.lettering_calendar {
  width: 26.67rem;
  height: 39.67rem;
  margin-top: -19.83rem;
  margin-left: -13.33rem;
}

ion-calendar {
    padding: 1.083rem 0 0.8333rem !important;
}

@media screen and (max-width: 1024px) {}

@media screen and (min-width: 1025px) {
    .container.type3 {
        background: #A2A3A5 url('/assets/pc/contents/bg_main.jpg') no-repeat center 0;
        background-size: 1203px;
    }
    .lettering {
        width: 1040px;
        margin: 0 auto;
        padding: 0 0 70px;
    }
    .lettering:after {
        display: block;
        content: "";
        clear: both;
    }
    .lettering_apply {
        float: right;
        margin-top: 84px;
        margin-right: 84px;
        background: #fff;
    }
    .lettering_apply .content {
        padding: 40px;
    }
    .lettering_apply .txt {
        font-size: 15px;
        line-height: 1.6;
            border-bottom-width: 1px;
    }
    .lettering_apply .txt:after {
        height: 1px;
    }
    .lettering_apply .txt strong {}
    h4 {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    h4 span {
        border-bottom-width: 8px;
        vertical-align: 1px;
    }
    h4 .tooltip {
        background: url('/assets/pc/icon/info.png') no-repeat;
        width: 26px;
        height: 26px;
        vertical-align: -5px;
    }
    h5 {
        font-size: 16px;
        margin-top: 15px;
    }
    .input_area {
        margin-top: 7px;
    }
    .input_area .com_inp2 {
        padding-right: 41px;
    }
    .btn_calendar {
        top: 8px;
        right: 9px;
        width: 23px;
        height: 24px;
    }
    .com_texta {
        margin-top: 7px;
    }
    .lettering_apply .btn_type2 {
        margin-top: 12px;
        font-size: 16px;
    }
    .lettering_apply .btn_type2:before {
        width: 21px;
        height: 21px;
        margin-right: 5px;
        vertical-align: -4px;
    }
    .lettering_info {
        width: 320px;
        height: 410px;
        margin-top: -205px;
        margin-left: -160px;
    }

    .lettering_calendar {
        width: 320px;
        height: 480px;
        margin-top: -240px;
        margin-left: -160px;
    }
}