<v-app>
    <v-body title="설문조사">
        <!-- 진행중인 설문조사 -->
        <div class="full_cont">
            <div class="container">
                <!-- 타이틀 -->
                <h4 class="main_title">
                    <p>진행중인 설문조사
                        <span class="highlight"><span class="num">4</span>개</span>
                    </p>
                </h4>
                <div class="vote_list slide_area"><!-- 진행중인 설문조사 없을 때 class="slide_area" 삭제 -->        
                    <!-- 10.29  추가 : 진행중인 설문조사 없을때 -->
                    <div class="no_data icon">
                        <p>진행중인 설문조사가 없습니다.</p>
                    </div>
                    <!-- // 10.29  추가 : 진행중인 설문조사 없을때 -->

                    <!-- 설문조사 리스트 -->
                    <ion-button (click)="swipePrev()" class="btn_prev">
                        <ion-icon name="chevron-back"></ion-icon>
                    </ion-button>
                    <ion-button (click)="swipeNext()" class="btn_next">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </ion-button>
                    <ion-slides  #slider pager="true" [options]="{
                        slidesPerView:2,
                        initialSlide: 1,
                        speed: 400
                    }">
                        <ion-slide>
                            <div class="round_box">
                                <a href="#">
                                    <div class="content">
                                        <h5>여러분에게 가장 매력적인 인프라는 무엇인가요?</h5>
                                        <p class="time">2020.08.07 ~ 2020.08.30</p>
                                    </div>
                                </a>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="round_box">
                                <a href="#">
                                    <div class="content">
                                        <h5>빌리브 하남만의 차별화된 세련된 즐거움을 제공하기 위해 다양한 특화 서비스를 제공하고 있습니다. 여러분이 가장 많이 이용하고 있는 서비스는 무엇인가요?</h5>
                                        <p class="time">2020.08.07 ~ 2020.08.30</p>
                                    </div>
                                </a>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="round_box">
                                <a href="#">
                                    <div class="content">
                                        <h5>여러분에게 가장 매력적인 인프라는 무엇인가요?</h5>
                                        <p class="time">2020.08.07 ~ 2020.08.30</p>
                                    </div>
                                </a>
                            </div>
                        </ion-slide>

                    </ion-slides>
                    <!-- // 설문조사 리스트 -->
                </div>
            </div>
        </div>
        <!-- 종료된 설문조사 -->
        <div class="full_cont">
            <div class="container">
                <!-- 타이틀 -->
                <h4 class="main_title">
                    <p>종료된 설문조사
                        <span class="highlight"><span class="num">4</span>개</span>
                    </p>
                </h4>
                <div class="vote_list">
                    <!-- 10.29  추가 : 종료된 설문조사 없을때 -->
                    <div class="no_data icon">
                        <p>종료된 설문조사가 없습니다.</p>
                    </div>
                    <!-- // 10.29 추가 : 종료된 설문조사 없을때 -->
                    <!-- 설문조사 리스트 -->
                    <ul class="">
                        <li class="round_box disabled"><!-- 설문조사 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>여러분이 최근 3개월 이내 가장 많이 이용하신 교통수단은 무엇인가요?</h5>
                                <p class="time">설문종료</p>
                            </div>
                        </li>
                        <li class="round_box disabled"><!-- 설문조사 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>여러분이 느끼는 장마철 가장 불편한 점은 무엇인가요?</h5>
                                <p class="time">설문종료</p>
                            </div>
                        </li>
                        <li class="round_box disabled"><!-- 설문조사 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>여러분이 최근 3개월 이내 가장 많이 이용하신 교통수단은 무엇인가요?</h5>
                                <p class="time">설문종료</p>
                            </div>
                        </li>
                        <li class="round_box disabled"><!-- 설문조사 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>여러분이 느끼는 가장 불편한 점은 무엇인가요?</h5>
                                <p class="time">설문종료</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- 더보기 -->
                <a class="add_item" href="#">더보기</a>
            </div>
        </div>
    </v-body>


</v-app>