@charset "utf-8";

/* common */
.btn-basic1{background-color:#f7b414;}
.btn-basic1:hover {background-color:#f7b414;}
.btn-basic3 {color:#f4a100 !important;border:1px solid #f4a100;}
.btn-arr{color:#f4a100;}
.btn-arr:after{background-position:-14px 0;}
.fc-point{color:#f4a100;}
.btn-bottom2{background:#faca10;color:#222 !important;}

/* 레이아웃 */
#header .header-top .layer-shop .shop-list li .ico:before{background:#faefd0;}
#side-menu .side-top .info-user .btn-point .txt{color:#fab700;}
.nav-main .gnb .gnb-item.active a{color:#fab700;}
.nav-main .gnb .gnb-item.active a .txt:after{background:#fab700;}
.full-menu-list .full-menu-item.active a,
.full-menu-list .full-menu-item a:hover,
.full-menu-list .full-menu-item a:active {color:#fab700;border:1px solid #fab700;}
.ft-toolbar ul li a.link-cart .num, .mypage-cont .ico-push .num{background:#fab700;color:#222;font-weight:bold;}

/* 로그인 */
.login-cont .checks input[type="checkbox"] + label:active:before,
.login-cont .checks input[type="checkbox"]:checked + label:active:before
{
    border:1px solid #f7b414;
    background:#f7b414 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .checks input[type="checkbox"]:checked + label:before{
  border:1px solid #f7b414;
  background:#f7b414 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .tit-area .txt{color:#74695c;}
.login-cont .password-box .key-display.active:after{background:#f7b414;}

/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #666;}
.loadingio-spinner .ldio div:nth-child(2) {background: #fab700;}
.loadingio-spinner .ldio div:nth-child(3) {background: #666;}

.side-top-wrap .side-top .info-user .btn-point .txt{color:#fab700;}