<v-app>
    <v-body title="마이메뉴 편집">
        <div class="container">
            <div class="round_box">
                <div class="content">
                    <!-- 11.18 추가 : 등록된 메뉴 없을 때 -->
                    <p class="no_data"  *ngIf="!menuList || menuList.length === 0;else emptyMnu">마이메뉴를 추가하려면 각 메뉴 페이지에서<br>별(☆) 아이콘을 클릭하세요.</p>
                    <!-- // 11.18 추가 : 등록된 메뉴 없을 때 -->
                    <ng-template #emptyMnu>
                        <ion-list>
                            <ion-reorder-group (ionItemReorder)="reorder($event)" [disabled]="false">
                                <div *ngFor="let menu of menuList">
                                    <a (click)="toggleFavorites(menu)" class="favorites" [ngClass]="menu.isDelete ? 'off' : ''"></a>
                                    <ion-reorder>
                                        <ion-item class="">
                                            <ion-label>
                                                <span class="txt_area"><i class="micon" [ngClass]="getIconClassName(menu)"></i><span>{{getMenuName(menu)}}</span></span>
                                            </ion-label>
                                        </ion-item>
                                    </ion-reorder>
                                </div>
                            </ion-reorder-group>
                        </ion-list>
                    </ng-template>
                </div>
            </div>
            <div class="btn_area">
                <button type="button" (click)="onClickSave()" class="btn btn_type2">저장</button>
            </div>
        </div>
    </v-body>
</v-app>

