<v-app>
    <v-header title="SSG Life(개발)"></v-header>

    <v-body>
        <button class="ion-margin-horizontal" (click)="onDataLoading()">데이터로딩</button>
        <button class="ion-margin-horizontal" (click)="onClickDataDelete()">초기화</button>
        <button class="ion-margin-horizontal" (click)="onClickDataAdd()">데이터 추가</button>
        <table >
            <tbody>
            <tr *ngFor="let data of dataList; index as i">
                <td>{{i}}</td>
                <td>{{data['id']}}</td>
                <td>{{data['name']}}</td>
                <td>{{data['email']}}</td>
                <td>{{data['age']}}</td>
            </tr>
            </tbody>
        </table>


    </v-body>
</v-app>
