<!-- // 페이지 탭 -->
<div class="operation_info">
    <h4><span class="highlight">오시는 길</span></h4>
    <div class="way_villiv flat_round_box bg_white">
        <div class="map_box">
            <img *ngIf="!isMapLoad" src="/assets/contents/map_sample02.png" alt="샘플" />
            <div id="map" style="width:100%; height:100%; display: none"></div>
        </div>
        <div class="text_info">
            <h4 class="main_title has_btn">
                <p>{{bzMstDetail?.bzNm}}</p>
                <button type="button" class="btn btn_type2" (click)="openExternalMapSite()">지도 보기</button>
            </h4>
            <table class="tbl2">
                <caption>개인정보의 수집 및 이용 동의 표</caption>
                <colgroup>
                    <col style="width: 30%">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th>주소</th>
                    <td class="left">{{bzMstDetail?.bzAddr}}</td>
                </tr>
                <tr>
                    <th>관리사무소</th>
                    <td class="left">{{bzMstDetail?.mofcTelno | parseFormatPhoneNumber}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
