<v-app>
    <v-body title="자주 묻는 질문">
        <div class="container">
            <!-- 글자 크기 조절 -->
            <div class="font_size_fix">
                <a href="#" class="font_btn">글자 크기</a>
                <div class="btn_box">
                    <!-- 보일 시 on 추가 -->
                    <a href="#" class="close">닫기</a>
                    <ul class="list">
                        <li class="small on">
                            <a href="#">
                                <p class="size">가</p>
                                <p>작게</p>
                            </a>
                        </li>
                        <li class="medium">
                            <a href="#">
                                <p class="size">가</p>
                                <p>보통</p>
                            </a>
                        </li>
                        <li class="large">
                            <a href="#">
                                <p class="size">가</p>
                                <p>크게</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 검색 input -->
            <div class="faq_seatch">
                <div class="search_form">
                <input type="text" class="com_inp" placeholder="검색어를 입력하세요.">
                    <a href="#" class="btn_search">검색</a>
                </div>
            </div>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category auto">
                <li class="on">
                    <a href="#">전체</a>
                </li>
                <li>
                    <a href="#">관리비</a>
                </li>
                <li>
                    <a href="#">우리 단지 서비스</a>
                </li>
                <li>
                    <a href="#">이벤트</a>
                </li>
                <li>
                    <a href="#">커뮤니티</a>
                </li>
                <li>
                    <a href="#">회원정보</a>
                </li>
                <li>
                    <a href="#">기타</a>
                </li>
            </ul>

            <!-- FAQ 리스트 -->
            <div class="faq_list">

                <!-- 10.29  추가 : 조회된 글 없을때 -->
                <div class="no_data">
                    <p>조회된 글이 없습니다.</p>
                </div>
                <!-- // 10.29  추가 : 조회된 글 없을때 -->

                <dl class="round_box on">
                    <dt class="title">
                        <p>관리비 조회 내역과 종이고지서 내역이 다릅니다.</p>
                        <a class="toggle_btn"></a>
                    </dt>
                    <dd class="cont">
                        <p>
                            본 서비스의 관리비 데이터는 귀 단지에서 매월 종이고지서를 발행하기 위해 전산업체에 등록하는 데이터와 연동되어 표기하고 있습니다.
                            <br/><br/>
                            이에 저희가 그 항목 및 금액의 타당성을 판단 할 수는 없으나, 어쨌던 원칙은 '종이고지서'이기에 종이고지서에 표기된 금액대로 처리하는 것이
                            올바릅니다.
                            <br/><br/>
                            종이고지서 금액대로 사이트 내 금액을 정정하고나 하시면 관리소로 아파트아이 사이트 내 금액수정이 가능한지 문의하여 보시기 바랍니다.
                            <br/><br/>
                            단, 관리소의 사정이나 수정 기간 존재에 따라 금액수정이 불가할 수 있습니다.
                        </p>
                    </dd>
                </dl>
                <dl class="round_box">
                    <dt class="title">
                        <p>관리비 조회 내역과 종이고지서 내역이 다릅니다.</p>
                        <a class="toggle_btn"></a>
                    </dt>
                    <dd class="cont">
                        <p>
                            본 서비스의 관리비 데이터는 귀 단지에서 매월 종이고지서를 발행하기 위해 전산업체에 등록하는 데이터와 연동되어 표기하고 있습니다.
                            <br/><br/>
                            이에 저희가 그 항목 및 금액의 타당성을 판단 할 수는 없으나, 어쨌던 원칙은 '종이고지서'이기에 종이고지서에 표기된 금액대로 처리하는 것이
                            올바릅니다.
                            <br/><br/>
                            종이고지서 금액대로 사이트 내 금액을 정정하고나 하시면 관리소로 아파트아이 사이트 내 금액수정이 가능한지 문의하여 보시기 바랍니다.
                            <br/><br/>
                            단, 관리소의 사정이나 수정 기간 존재에 따라 금액수정이 불가할 수 있습니다.
                        </p>
                    </dd>
                </dl>
                <dl class="round_box">
                    <dt class="title">
                        <p>관리비 조회 내역과 종이고지서 내역이 다릅니다.</p>
                        <a class="toggle_btn"></a>
                    </dt>
                    <dd class="cont">
                        <p>
                            본 서비스의 관리비 데이터는 귀 단지에서 매월 종이고지서를 발행하기 위해 전산업체에 등록하는 데이터와 연동되어 표기하고 있습니다.
                            <br/><br/>
                            이에 저희가 그 항목 및 금액의 타당성을 판단 할 수는 없으나, 어쨌던 원칙은 '종이고지서'이기에 종이고지서에 표기된 금액대로 처리하는 것이
                            올바릅니다.
                            <br/><br/>
                            종이고지서 금액대로 사이트 내 금액을 정정하고나 하시면 관리소로 아파트아이 사이트 내 금액수정이 가능한지 문의하여 보시기 바랍니다.
                            <br/><br/>
                            단, 관리소의 사정이나 수정 기간 존재에 따라 금액수정이 불가할 수 있습니다.
                        </p>
                    </dd>
                </dl>
            </div>

            <!-- 더보기 -->
            <a class="add_item" href="#">더보기</a>
        </div>
    </v-body>
</v-app>