<v-app>
    <v-body title="알림">
        <div class="container">
            <p class="top_txt">알림 내역은 최대 3개월간 보관됩니다.</p>
            <div class="round_box">
                <div class="content">
                    <!-- 알림없을 때 -->
                    <p *ngIf="!isExistPush ;else other_content" class="no_data">새로운 알림이 없습니다.</p>
                    <!-- // 알림없을 때 -->
                    <!-- 알림있을 때 -->
                    <ng-template #other_content>
                        <ul class="push_list">
                            <li *ngFor="let data of pushList;">
                                <p class="top">
                                    <span class="tit">{{data.title}}</span>
                                    <span class="date">{{data.rsrvtTime | stringDateFormatDt}}</span>
                                </p>
                                <p class="txt">{{data.msgCts}}</p>
                            </li>
                        </ul>
                        <a *ngIf="pushSearchModel?.page < pushSearchModel?.totalEndPage" class="add_item" (click)="morePushList()">더보기</a>
                    </ng-template>
                    <!-- // 알림있을 때 -->
                </div>
            </div>
        </div>
    </v-body>
</v-app>
