@charset "utf-8";
/* 아이콘 */
[class*=iconTy] {display:inline-block; overflow:hidden; max-width:100%; color:transparent; text-overflow:ellipsis; white-space:nowrap; vertical-align:middle;}
.iconTy01 {width:10px; height:16px; background:url('https://devsol.shinhan.com/images/icon_historyback.png') no-repeat 0 0; background-size:100%;}

#header [class*=btn] span.iconTy01, 
#header [class*=btn] span.iconTyHome, 
#header [class*=btn] span.iconTy02, 
#header [class*=btn] span.iconTy03 {width:40px; height:40px;}

/* 달력 */
.calendarTop .scheduleMark {margin-bottom:10px; text-align:right;}
.calendarTop .scheduleMark a {display:inline-block; font-size:13px;}
.calendarTop .scheduleMark a::before {content:""; display:inline-block; width:18px; height:19px; background:url('https: //devsol .shinhan .com/images/in 4px /icon_scheduleMark.png') no-repeat 0 bottom; background-size:12px 14px;}
.calendarTop .sort {text-align:center;}
.calendarTop .sort span {font-family:'shinhan'; font-size:22px; font-weight:500; vertical-align:top;}
.calendarTop .sort a {display:inline-block; overflow:hidden; width:30px; height:30px; text-indent:100%; white-space:nowrap; background:url('https://devsol.shinhan.com/images/in04/icon_arrow_prev.png') no-repeat 50% 50%; background-size:10px 16px;}
.calendarTop .sort a.next {background-image:url('https://devsol.shinhan.com/images/in04/icon_arrow_next.png');}
.calendarTop .sort p {display:inline-block;}

.calendarCont {margin-bottom:20px;}
.calendarCont table {width:100%; table-layout:fixed;}
.calendarCont table th,
.calendarCont table td {text-align:center;}
.calendarCont table th.dateSun,
.calendarCont table td.dateSun span {color:#eb3d4f !important;}
.calendarCont table th.dateSat,
.calendarCont table td.dateSat span {color:#3571d6 !important;}
.calendarCont table th {padding:10px 0; border-bottom:1px solid #dbdbdb;}
.calendarCont table td {padding:5px 0;}
.calendarCont table td span {display:inline-block; width:30px; height:30px; line-height:30px; font-size:14px; font-weight:500; font-family:'shinhan';}
.calendarCont table td .today {background:#1150c5; border-radius:50%; color:#fff;}
.calendarCont table td .on {background:#e9e9e9; border-radius:50%;}
.calendarCont table td {position:relative;}
.calendarCont table td .select::after {content:""; display:inline-block; position:absolute; bottom:0; left:49%; width:5px; height:5px; border-radius:5px; background:#1150c5;}