@charset "utf-8";

.txtWrap .txt,
.referTxt {line-height:1.3;}
.accountList .spcAccountbox a{height:auto !important;overflow:hidden;padding-bottom:11px;}
.formAreaBox dd .fieldTxt{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.btnType span, .btnGroupBox.margin > *, .btnGroupBox.margin .line{padding:0;}
.innerBox .timeBox .listTypeTable.type2 > ul .leftCol{width:50%;}
.size2 .dealState{margin-left:-119px;}
.size2 .layerPopWrap .layerCon .shareList{margin:0 -13px}
.size2 .layerPopWrap .layerCon .shareList > li > a em{white-space:nowrap}
.size2 .topfix .curtainLayer button{font-size:0 !important}
.size2 .accountSelect .conGroup2 button span.text{padding-right:13px;}
.size2 #contentsWrap > .tabTy02 a{padding:0;line-height:39px;}
.size2 .popoverWrap .toolBox li a{display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;box-sizing:border-box;padding-right:0;}

/* 큰글씨*/
body.size2, .size2 input, .size2 textarea, .size2 select, .size2 table, .size2 button, .size2 code,
.size2 .accountSelect .blueBox em.account,
.size2 .accountSelect .blueBox dt, 
.size2 .accountSelect .blueBox dd,
.size2 .accountSelect .blueBox dd strong,
.size2 .formAreaWrap .formAreaBox.type3 .inputBox.price .tit,
.size2 .formAreaBox.type3 .inputBox.price .transPrice,
.size2 .formAreaBox .inputBox .tit,
.size2 .account_link.AccorTitle li a,
.size2 .formAreaBox .inputBox dt,
.size2 .accordionBox .btnOpen .tit,
.size2 .contAccordion .AccorTitle.brdBNone .tit,
.size2 .layerPopBottomWrap .layerHeader .layerTit,
.size2 .listTitleBox .listTit,
.size2 .listAccountNone,
.size2 .boxTyCard01 .cont .summary .text01,
.size2 .boxTyCard01 button,
.size2 .boxTyCard01 a, .size2 .btnAccount dt, .size2 .btnAccount dd,
.size2 .boxTyCard01 .cont .summary .text02 .bt,
.size2 .listTypeTable .row .leftCol .tit,
.size2 .listTypeTable .row .rightCol .txt,
.size2 .formAreaBox .inputBox .tit,
.size2 .innerBox .timeBox .listTypeTable.type2 .time,
.size2 .topCont p, .size2 .btnType,
.size2 .listTypeTable .memoText, .size2 .subTit3,
.size2 .listTypeTable .row,
.size2 .tooltipBox,
.size2 .titleBox .txt span,
.size2 .listOneLineBox li .text2,
.size2 .listOneLineBox li .pay,
.size2 label,
.size2 .toastBox,
.size2 .popoverWrap .toolBox li a,
.size2 .popoverWrap .toolBox .btn,
.size2 .myMenuBox .title,
.size2 .myMenuBox .myMenuList ul > li p span,
.size2 .myCheckBox .boxTyLabel > .txt,
.size2 .myCheckBox .accountSetup.type2 section ul li label,
.size2 .innerBox .timeBox .listTypeTable.type2 .money strong,
.size2 .btnListCycle li a, .size2 .accountList h3, .size2 .accountList .listBox .tl{font-size:16px !important;}
.size2 .fontSSSS,
.size2 .boxTyCard01 .cont .layerTySpeechBubble {font-size:15px !important;}
.size2 .boxTyCard01 .cont .case .text, .size2 .fontSSS{font-size:16px !important;}
.size2 .btnType3, .size2 [class*=btnType].btnSmall,
.size2 .fontSS, .size2 .tabTy01 a, .size2 .tabTyCom a,
.size2 .listOneLineBox .accountSelect .number,
.size2 .listOneLineBox .accountSelect .price,
.size2 .boxTyCard02 .cont .txt,
.size2 .boxTyCard02 .cont .detailList li,
.size2 .curtainLayer .listTypeTable [class*=btnType].btnSmall2.line,
.size2 .smartOfferWrap .text,
.size2 .accountSelect .bankInfo .name,
.size2 .accountSelect .bankInfo .number,
.size2 .accountSelect[class*=skin] .moneyInfo .money,
.size2 .accountSelect .moneyInfo .money2,
.size2 .accountSelect .bntCoinBox,
.size2 .btnType3, .size2 .btnAccount dd .price,
.size2 .formAreaBox.type3 .inputBox.calRange .duration li a,
.size2 .accountSelect[class*=skin] .expansion *,
.size2 .innerBox .data,
.size2 .formAreaBox .inputBox.wrong .error,
.size2 .box1 .often a,
.size2 .csListWrap ul li a, .size2 .accountList .viewBox .resultNone,
.size2 .layerPopBottomWrap .layerCon.full .tabViewWrap .btnRight .btnType2.btnSmall2,
.size2 .contents.full .boxTyGray.notice > .txt, .size2 .boxTyGray.notice > .txt,
.size2 [class*=btnType].btnSmall2, .size2 .accountList .spcAccountbox .leftCol,
.size2 .referTxt, .size2 .accountList .listBox .number, .size2 .accountList .detailList li{font-size:15px !important;}
.size2 .accountSelect .blueBox span.text, .size2 .accountList .btnArea a,
.size2 .layerPopWrap .layerHeader .layerTit,
.size2 .boxTyCard01 .cont .btnArea a,
.size2 .fontNL, .size2 .accountList .listBox .price,
.size2 .passSubmitText .keybox span em {font-size:20px !important;}
.size2 .formAreaBox.type3 .inputBox.price.currnet input,
.size2 .titleBox .txt, .size2 .inputBox .cursor em,
.size2 .fontSL {font-size:22px !important;}
.size2 .accountSelect[class*=skin] .moneyInfo .money > *{font-size:24px;}
.size2 .boxTyCard01 .cont .summary .text02 .at{font-size:26px;}
.size2 .boxTyCard01 .cont .summary .text02 .num{font-size:29px;}
/*size2 etc*/
.size2 .formAreaWrap .formAreaBox.type3 .inputBox.price .transPrice{top:-18px;}
.size2 .formAreaBox.type3 .inputBox.price dl{margin-top:27px;}
.size2 .boxTyCard01 .btnFlip .iconTy54{width:18px;height:21px;}
.size2 .listAccount .cardWrap .front,
.size2 .listAccount .cardWrap,
.size2 .boxTyCard01,
.size2 .boxTyCard02,
.size2 .listAccount .cardWrap{height:248px;}
.size2 .boxTyCard01 .cont .case{width:50px;}
.size2 .accountSelect .bntCoinBox span:before{top:-4px;}
.size2 .formAreaBox.type3 .inputBox.calRange.type02 .duration.type2 li a{height:auto;}
.size2 .formAreaWrap .formAreaBox.type3 .inputBox.dearAcoount .account_link li a {letter-spacing:-2px;}
.size2 .listTitleBox .right .iconTy44 {height:auto;padding-top:0;background-position:0 50%;font-size:17px;}
.size2 .listTypeTable .row .leftCol {width:120px;}
.size2 .referTxt {text-indent:-18px;}
.size2 .topfix .selecter.type2 .current {height:43px;line-height:43px;}
.size2 .popoverWrap .toolBox {width:132px}
.size2 .iconTy108,
.size2 .iconTy107,
.size2 .iconTy109,
.size2 .iconTy110,
.size2 .iconTy111,
.size2 .iconTy111_1 ,
.size2 .iconTy112,
.size2 .iconTy113,
.size2 .iconTy116,
.size2 .iconTy117,
.size2 .iconTyLabel01,
.size2 .iconTyLabel02,
.size2 .iconTyLabel03,
.size2 .iconTyLabel10,
.size2 .iconTyLabel11,
.size2 .iconTyLabel12 {height:18px;font-size:15px !important;line-height:18px;}
.size2 .boxTyCard02 .cont {padding:10px 10px 0 10px;letter-spacing:-1.6px;}
.size2 .boxTyCard02 .cont .tit {width:95%;margin-bottom:2px;}
.size2 .boxTyCard02 .cont .txt {margin-bottom:0;}
.size2 .boxTyCard02 .cont .detailList {height:162px;margin-top:8px;}
.size2 .boxTyCard02 .cont .detailList li {padding:0;}
.size2 .myMenuBox .myMenuList ul > li {padding:15.6%;}
.size2 .myCheckBox .accountSetup section ul li {padding-top:19px;padding-bottom:19px;}
.size2 .boxTyLabel {padding-top:10px;padding-bottom:8px;}
.size2 .accountSelect .defaultInfo {padding-bottom:56px;}
.size2 .accountList .listBox .tl.icon em:first-child{top:1px;}

@media only screen and (max-device-width: 350px) {
	.size2 .smsMassage,
	.size2 .smsMassage.type2 {padding-bottom:6%;background-size:110%;}
	.size2 .smsMassage .textBox {left:8%;right:8%;}
	.size2 .layerPopBottomWrap .layerCon.full .tabViewWrap .btnRight .btnType2 {max-width:130px;}
}
@media only screen and (width: 320px) {
	.size2 .dealState {margin-left:-119px;}
	.size2 .dealState > span + span:before {margin:0 7px 0 3px !important;}
	.size2 .layerPopWrap .layerCon .shareList {margin:0 -10px}
	.size2 .layerPopWrap .layerCon .shareList > li > a em {white-space:initial}
	.size2 .layerPopBottomWrap .layerCon.full .tabViewWrap .btnRight .btnType2 {max-width:120px;}
	.size2 .formAreaWrap .formAreaBox.type3 .inputBox.dearAcoount .account_link li {margin-left:8px;padding-left:7px;}
	.size2 .csListWrap ul li a,
	.size2 .fontSL {letter-spacing:-1.5px}
	.size2 .smartOfferWrap {padding-right:84px;}
	.size2 .smartOfferWrap.type2 {padding-left:94px;}
	.size2 .smartOfferWrap.type2 h3{margin-right:-13px}
}
/*전체계좌조회 메인*/
.size2 .listTypeTable.typeTop .row .leftCol .tit,
.size2 .listTypeTable.typeTop .row .rightCol .txt,
.size2 .cardAccList.type2 .listTypeTable .row .leftCol .tit{font-size:15px !important;}
.size2 .cardAccList.type2 .accBox .accInfo .name span{font-size:16px !important;line-height:20px;}
.size2 .totalAcc.type2 .cardAccList .accBox .accInfo .num > *{font-size:14px;line-height:21px;}
.size2 .totalAcc.type2 .cardAccList .accBox .accInfo .date,
.size2 .cardAccList .accBox .accInfo .txt1{font-size:14px;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox .accInfo .noti{font-size:12px;line-height:23px;padding:0 6px;}
.size2 .cardAccList.type2 .accBox .goveArea span.tit{font-size:16px;height:48px;line-height:48px;}
.size2 .cardAccList.type2 .accBox .goveArea .btnType3{font-size:14px !important;}
.size2 .cardAccList.type2 .accBox .btns > a{height:47px;}
.size2 .totalAcc.type2 .accBox .typeLink{box-shadow:0 2px 3px 0 rgba(0,0,0,0.04);margin-bottom:0;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine1 .typeLink{bottom:-65px;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine1, 
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine1:last-child{margin-bottom:74px;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine2 .typeLink{bottom:-93px;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine2, 
.size2 .totalAcc.type2 .cardAccList.type2 .accBox.boxLine2:last-child{margin-bottom:102px;}
.size2 .totalAcc.type2 .cardAccList.type2 .accBox .accInfo .rb{margin-top:-18px;height:50px;}

/*이체*/
.size2.transfer2 .formAreaBox.account .num{font-size:14px;}
.size2.transfer2 .formAreaBox .inputBox .inputTxt{font-size:13px;}
.size2.transfer2 .formAreaBox.price dd input,
.size2.transfer2 .formAreaBox.price dd input::placeholder,
.size2.transfer2 .formAreaBox.price dl .cursor i,
.size2.transfer2 .formAreaBox.price dl .cursor em{font-size:26px !important;}
.size2.transfer2 .formAreaBox.price dl .cursor:after{top:4px;}
.size2.transfer2 .formAreaBox.price.now dd input,
.size2.transfer2 .formAreaBox.price.now dd input::placeholder,
.size2.transfer2 .formAreaBox.price.now dl .cursor i,
.size2.transfer2 .formAreaBox.price.now dl .cursor em{font-size:32px !important;}
.size2.transfer2 .formAreaBox.price dd{padding:0 13px 4px 0;}
.size2.transfer2 .tooltipBox p,
.size2.transfer2 .tooltipBox .referTxt{font-size:13px !important;}
.size2.transfer2 .tooltipBox .title{font-size:15px !important;}
.size2.transfer2 .btnType3.btnSmall5{font-size:13px !important;}
.size2.transfer2 .formAreaBox.toTab .btnTxt{font-size:14px;}
.size2.transfer2 .memoArea .formAreaBox .inputBox dt,
.size2.transfer2 .memoArea .txtType dd,
.size2.transfer2 .memoArea .formAreaBox .inputBox input{font-size:14px !important;}
.size2.transfer2 .bottomFix .btnGroupBox.type2 .btnType,
.size2.transfer2 .btnGroupBox.type2 .btnType{font-size:20px !important;}
.size2.transfer2 .accTab a{font-size:18px;}
.size2.transfer2 .listOneLineBox.logo2 .name{font-size:16px;}
.size2.transfer2 .listOneLineBox.logo2 .num,
.size2.transfer2 .nameInfo .txtNum{font-size:13px;}
.size2.transfer2 .listOneLineBox.logo2 .date,
.size2.transfer2 .nameInfo2{font-size:14px;}
.size2.transfer2 .layerPopBottomWrap.list .layerTit,
.size2.transfer2 .layerPopBottomWrap.search .layerHeader .layerTit{font-size:18px !important;}
.size2.transfer2 .memoArea2 .listTypeTable .row .leftCol .tit,
.size2.transfer2 .memoArea2 .listTypeTable .row .rightCol .txt,
.size2.transfer2 .memoArea2 .pointChk label,
.size2.transfer2 .memoArea2 .pointBox .inputBox dt,
.size2.transfer2 .memoArea2 .formAreaBox .inputBox .txtType dd,
.size2.transfer2 .memoArea2 .formAreaBox .point .txt,
.size2.transfer2 .memoArea2 .infoTxt span,
.size2.transfer2 .memoArea2 .btnOther,
.size2.transfer2 .reserInfo,
.size2.transfer2 .reserTime span{font-size:14px !important;}
.size2.transfer2 .memoArea2 .formAreaBox .point input{font-size:14px !important;padding-right:63px;}
.size2.transfer2 .tooltipBox .dotList li{font-size:13px;}
.size2.transfer2 .memoInfo{font-size:15px;}
.size2.transfer2 .bottomFix .msgBottom{font-size:12px;}
.size2.transfer2 .boxPlural .nums em.num{font-size:20px;}
.size2.transfer2 .boxPlural .nums em,
.size2.transfer2 .boxPlural .btns a,
.size2.transfer2 .speedList li .row span{font-size:15px;}
.size2.transfer2 .boxPlural .txtBatch,
.size2.transfer2 .oftenSet .btnOften span,
.size2.transfer2 .oftenSet .oftenBox a{font-size:14px;}
.size2.transfer2 .formAreaBox .inputBox.wrong .error{font-size:14px !important;}
.size2.transfer2 .formAreaBox.toForm .inputBox input,
.size2.transfer2 .layerCon .formAreaBox.searchArea dd input,
.size2.transfer2 .layerCon .formAreaBox.searchArea dd input::placeholder,
.size2.transfer2 .speedList li .row.top span{font-size:16px !important;}
.size2.transfer2 .dragPopup .layerTit{font-size:18px;}
.size2.transfer2 .listOneLineBox .accountSelect .number,
.size2.transfer2 .searchTxt{font-size:14px !important;}
.size2.transfer2 .formAreaBox.phoneTxt .inputBox dd input,
.size2.transfer2 .formAreaBox.phoneTxt .inputBox dd input::placeholder,
.size2.transfer2 .phoneTxt .phoneAcc{font-size:15px !important;}
.size2.transfer2 .dateArea .date span{font-size:25px;}
.size2.transfer2 .dateTable thead th,
.size2.transfer2 .dateTable tbody td button{font-size:15px !important;}
.size2.transfer2 .dateTable ~ .referTxt{font-size:13px !important;}
.size2.transfer2 .reserve .formAreaBox .inputBox dt,
.size2.transfer2 .button input[type='text']:read-only,
.size2.transfer2 #contentsWrap > .grayBox em{font-size:16px !important;}
.size2.transfer2 #contentsWrap > .grayBox strong{font-size:18px !important;}
.size2.transfer2 .innerBox.modify .btnDel{font-size:14px !important;}
.size2.transfer2 .innerBox.modify .cType2 input,
.size2.transfer2 .innerBox.modify .cType2 input::placeholder,
.size2.transfer2 .innerBox.modify .cType2 .cursor em,
.size2.transfer2 .innerBox.modify .cType2 .cursor i{font-size:18px !important;}
.size2.transfer2 .btnInfoPop,
.size2.transfer2 .listOneLineBox.logo2 .grpTit,
.size2.transfer2 .dragPopup2 .listOneLineBox.logo2 li.contact .arrow{font-size:14px;}
.size2.transfer2 .dragPopup2 .listOneLineBox.logo2 li.contact p{font-size:15px;}
.size2.transfer2 .noList.type2 p{font-size:16px;}
.size2.transfer2 .transList .rowBox .listTypeTable.acc .row .rightCol{font-size:15px;}
.size2.transfer2 .resultBox2 .name span,
.size2.transfer2 .resultBox2 .msg,
.size2.transfer2 .detailTop .name strong{font-size:20px;}
.size2.transfer2 .resultBox2 .accNum,
.size2.transfer2 .bottomFix .mResult a,
.size2.transfer2 .msgBall,
.size2.transfer2 .listTypeTable.cardType .share,
.size2.transfer2 .resultMsg .txt2,
.size2.transfer2 .dragPopup .reserTxt .dotList li{font-size:14px;}
.size2.transfer2 .resultBox2 .price strong{font-size:30px;}
.size2.transfer2 .resultBox2 .price em{font-size:26px;}
.size2.transfer2 .detailTop .accNum,
.size2.transfer2 .listOneLineBox.logo2 li a.btnDel span{font-size:16px;}
.size2.transfer2 .dragPopup .shareList > li > a em{font-size:13px;}
.size2.transfer2 .detailTop .labelTxt{font-size:12px;}
.size2.transfer2 .resultMsg .btnType3,
.size2.transfer2 .dragPopup .reserTxt .subTit3{font-size:15px;}
.size2.transfer2 .accMotion .accInfo .name,
.size2.transfer2 .accMotion .btnDel span{font-size:16px;}
.size2.transfer2 .accMotion .accInfo .num{font-size:13px;}
.size2.transfer2 .accMotion .accInfo .date{font-size:14px;}
@media all and (max-width:330px){
	.size2.transfer2 .formAreaBox.toTab .btnTxt{font-size:12px;}
	.size2.transfer2 .formAreaBox.price dd input, 
	.size2.transfer2 .formAreaBox.price dd input::placeholder,
	.size2.transfer2 .formAreaBox.price dl dd .cursor em, 
	.size2.transfer2 .formAreaBox.price dl .cursor i{font-size:22px !important;}
	.size2.transfer2 .formAreaBox.price.now dd input,
	.size2.transfer2 .formAreaBox.price.now dd input::placeholder,
	.size2.transfer2 .formAreaBox.price.now dl dd .cursor em, 
	.size2.transfer2 .formAreaBox.price.now dl .cursor i{font-size:26px !important;}
}