@charset "utf-8";

.bancaMallWrap { position:relative;padding-top:16px;background-color:#fff;}
.bancaMallWrap > .inner { padding:0 20px;} 
.bancaBest { position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;border-radius:6px;-webkit-border-radius:6px;overflow:hidden;z-index:2;}

.bancaBest .swiper-container { overflow:hidden;}
.bancaBest .swiper-container .swiper-slide {height:297px;}
.bancaBest .swiper-container .swiper-slide.slide1 { background-color:#4c8ee9;}
.bancaBest .swiper-container .swiper-slide.slide2 { background-color:#8c7dd6;}
.bancaBest .swiper-container .swiper-slide.slide3 { background-color:#48bfc3;}
.bancaBest .swiper-container .swiper-slide .bcPrdItem { padding:23px 20px 45px 20px;}
.bancaBest .swiper-container .swiper-slide .tit { display:block;width:95%;color:#faeaaa;font-size:23px;word-break:break-all;font-weight:700;}
.bancaBest .swiper-container .swiper-slide .prdInfo { margin-top:12px;width:85%;font-size:14px;line-height:1.47;color:#fff;}
.bancaBest .swiper-container .swiper-slide .btnWrap { position:absolute;left:21px;bottom:80px;}
.bancaBest .swiper-container .swiper-slide .viewMoreBtn { position:relative;display:inline-block;padding:0 25px 0 11px;height:36px;border:1px solid #fff;line-height:36px;font-size:14px;color:#fff;font-weight:normal;}
.bancaBest .swiper-container .swiper-slide .viewMoreBtn::before { content:"";display:block;position:absolute;right:8px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);width:6px;height:11px;background:url(../../images/pr/bg_detail_view_arrow.png);background-size:100% auto;}
.bancaBest .swiper-container .swiper-slide .iconBox { position:absolute;bottom:0;right:0;width:151px;height:174px;}
.bancaBest .swiper-container .swiper-slide .iconBox .imgWrap { display:block;width:100%;height:100%;}
.bancaBest .swiper-container .swiper-slide .iconBox .imgWrap img { display:block;width:auto;height:100%}
.bancaBest .swiper-container .swiper-slide-active a { font-size:20px;font-weight:700;opacity:1;}

.bancaMallWrap .EvtBannerWrap { position:relative;margin-top:14px;}
.bancaMallWrap .EvtBannerWrap .link { display:block;border-radius:6px;-webkit-border-radius:6px;overflow:hidden;}
.bancaMallWrap .EvtBannerWrap .link img { display:block;width:100%;}

.bancaMallWrap .EvtBannerWrap.rolling { border-radius:6px;-webkit-border-radius:6px;overflow:hidden;}
.EvtBannerWrap.rolling .swiper-pagination { display:inline-block;left:auto;right:10px;bottom:6px;padding:0 5px;width:auto;font-size:10px;line-height:15px;color:#fff;border-radius:50px;-webkit-border-radius:50px;overflow:hidden;background-color:rgba(0,0,0,.3);}

.bancaMallWrap .recentBtnWrap { margin-top:16px;}
.bancaMallWrap .btnRecent { display:block;position:relative;box-sizing:border-box;-webkit-box-sizing:border-box;padding:0 15px 0 17px;height:45px;line-height:45px;border:1px solid #ccc;border-radius:3px;-webkit-border-radius:3px;}
.bancaMallWrap .btnRecent::before {content:"";display:block;position:absolute;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);right:13px;width:6px;height:11px;background:url(../../images/insurance/icon_bcarrow_side03.png) no-repeat center;background-size:100% auto;}
.bancaMallWrap .btnRecent .txt { font-size:14px;color:#555;}
.bancaMallWrap .btnRecent .num { margin-left:5px;color:#1150c5;font-weight:500;}

.bancaBestControl { position:absolute;left:0;bottom:18px;width:100%;text-align:center;}
.bancaBestControl .btnPlayToggle{ display:none;vertical-align:middle;margin-right:10px;text-indent:-9999px;width:25px;height:25px;}
.bancaBestControl .swiper-pagination { position:relative;display:inline-block;vertical-align:middle;}
.bancaBestControl .swiper-pagination-bullet { display:inline-block;width:8px;height:8px;opacity:.45;border:0;background-color:#fff}
.bancaBestControl .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left:8px;}
.bancaBestControl .swiper-pagination-bullet-active { border-color:transparent;opacity:1;}

.bancaMallWrap .conBtm .tabTy02 { background-color:transparent;}
.bancaMallWrap .conBtm .tabTy02 a { padding:16px 0 10px;}
.bancaMallWrap .conBtm .tabViewWrap { margin-top:0;margin-bottom:10px;}

.bancaMallWrap [class^="bancaList"] { position:relative;}
.bancaMallWrap [class^="bancaList"] li { background-color:transparent;}
.bancaMallWrap [class^="bancaList"] [class^="bancaCate"]{ position:relative;vertical-align:middle;background:transparent;}
.bancaMallWrap [class^="bancaList"] [class^="bancaCate"]::before { content:"";display:block;position:absolute;width:36px;height:36px;background-size:100% auto;}

.bancaMallWrap [class^="bancaList"] .bancaCate01-01::before { background-image:url(../../images/insurance/icon_bancaCate_01.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-02::before { background-image:url(../../images/insurance/icon_bancaCate_02.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-03::before { background-image:url(../../images/insurance/icon_bancaCate_03.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-04::before { background-image:url(../../images/insurance/icon_bancaCate_04.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-05::before { background-image:url(../../images/insurance/icon_bancaCate_05.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-06::before { background-image:url(../../images/insurance/icon_bancaCate_06.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-07::before { background-image:url(../../images/insurance/icon_bancaCate_07.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-08::before { background-image:url(../../images/insurance/icon_bancaCate_08.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-09::before { background-image:url(../../images/insurance/icon_bancaCate_09.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate01-10::before { background-image:url(../../images/insurance/icon_bancaCate_10.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-01::before { background-image:url(../../images/insurance/icon_bancaCate_02.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-02::before { background-image:url(../../images/insurance/icon_bancaCate_05.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-03::before { background-image:url(../../images/insurance/icon_bancaCate_06.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-04::before { background-image:url(../../images/insurance/icon_bancaCate_11.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-05::before { background-image:url(../../images/insurance/icon_bancaCate_12.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-06::before { background-image:url(../../images/insurance/icon_bancaCate_10.png)}
.bancaMallWrap [class^="bancaList"] .bancaCate02-07::before { background-image:url(../../images/insurance/icon_bancaCate_09.png)}

.bancaMallWrap [class^="bancaList"] [class^="bancaCate"] .tit { display:inline-block;vertical-align:middle;font-size:14px;font-weight:400;color:#333;}
.bancaMallWrap [class^="bancaList"] [class^="bancaCate"] .txt { display:inline-block;vertical-align:middle;font-size:14px;color:#777;}
.bancaMallWrap .bancaList01 { margin-top:20px;}
.bancaMallWrap .bancaList01 ul { text-align:center;}
.bancaMallWrap .bancaList01 ul::after{ content:"";display:block;clear:both;}
.bancaMallWrap .bancaList01 li { float:left;margin-bottom:10px;width:25%;border:0;}
.bancaMallWrap .bancaList01 [class^="bancaCate"] { padding:8px 10px;padding-top:38px;height:64px;}
.bancaMallWrap .bancaList01 [class^="bancaCate"]::before { top:3px;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%);}

.bancaMallWrap .bancaList02 ul { text-align:left;}
.bancaMallWrap .bancaList02 [class^="bancaCate"] { display:table;table-layout:fixed;padding:18px 10px 18px 53px;width:100%;}
.bancaMallWrap .bancaList02 [class^="bancaCate"]::before { left:6px;top:50%;transform:translateY(-50%);-webkit-transform:translateY(-50%);}
.bancaMallWrap .bancaList02 [class^="bancaCate"] .tit,
.bancaMallWrap .bancaList02 [class^="bancaCate"] .txt { display:table-cell;}
.bancaMallWrap .bancaList02 [class^="bancaCate"] .tit { width:30%;font-size:15px;}
.bancaMallWrap .bancaList02 [class^="bancaCate"] .txt { width:70%;text-align:right;}

.bancaMallWrap .btmBtnArea { text-align:center;}
.bancaMallWrap .listQuick { padding:0 20px 24px;}
.bancaMallWrap .listQuick ul { display:flex;display:-webkit-flex;flex-direction:row;margin:0 -2px;}
.bancaMallWrap .listQuick li { margin:0 2px;width:100%;}
.bancaMallWrap .listQuick li a { display:block;height:45px;line-height:45px;font-size:14px;color:#555;border:1px solid #ccc;border-radius:3px;-webkit-border-radius:3px;}
.bancaMallWrap .listQuick li a span { font-size:inherit;font-weight:inherit;}
.bancaMallWrap .listQuick .num { margin-left:5px;color:#1150c5;font-weight:500;}
.bancaMallWrap .listQuick .nodata .num { color:#777;}
.bancaMallWrap .listQuick .likePrd { position:relative;}
.bancaMallWrap .listQuick .likePrd::before { content:"";display:inline-block;vertical-align:-3px;margin-right:3px;width:18px;height:18px;background:url(../../images/insurance/icon_like_off.png) no-repeat;background-size:100%;}

.bancaMallWrap .btnBcService { display:block;font-size:13px;color:#555;height:45px;line-height:45px;background-color:#e9e9e9;}