@charset "utf-8";
 

 
 
.capture,
.capture body { overflow:visible;}
.capture #contentsWrap .contents { overflow:visible; height:auto;}
.profit { position:absolute; bottom:14px; left:21px;}
.priceWrap {position: relative;}
.priceWrap .check.boxN {position: absolute; right:0;top:45px;z-index: 10;}
.formAreaBox .priceWrap .inputBox dd .btnDelete {display: none;position: absolute;width: 20px;height: 40px;right: 65px;top: 1px;z-index: 2;font-size: 0;line-height: 0;text-align: center;}
[class*=subTit].number { position:relative; padding-left:14px;}
[class*=subTit].number span { position:absolute; top:0; left:0; font-weight:bold;}
.innerGap .contAccordion .AccorTitle .arrow { right:0;}
.bannerArea {padding: 16px; margin-top:20px; background: url(../../images/pr02/bg_banner01.jpg) no-repeat; background-size:cover; background-position:right;}
.bannerArea .txtArea .tit {font-size: 13px; color:#1c2362;}
.bannerArea .txtArea .tit span {display: block; margin-top: 5px; font-size: 19px; font-weight: 500;}
.bannerArea .txtArea .linkTxt {margin-top: 10px; font-size: 13px; font-weight: bold; color:#07a3da; text-decoration: none;}
.bannerArea.type2 {padding: 8px 16px;}
.bannerArea.transfer {padding: 20px 16px; background-image: url(../../images/pr02/bg_banner02.jpg); background-size:cover; background-position:right;}
.bannerArea.transfer .txtArea .tit {color:#603913;}
.bannerArea.transfer .txtArea .tit em {font-weight: 500;}
.bannerArea.transfer .txtArea .tit span {font-size: 13px; color:#603913;}
.bannerArea.transfer .txtArea .linkTxt {color:#c76a00;}
.innerBox .timeBox > .listTypeTable.type2 .row > .topCont .popoverWrap button { position:absolute; top:0; left:0; width:30px; padding:3px 0 15px; text-align:center;}
.formAreaBox.type3 .inputBox .btnMoreRight { display:block; position:absolute; top:-3px; right:0; padding:3px 10px; border-radius:15px; font-size:13px; border:1px solid #aaa; color:#999;}
.nonMessage { padding:95px 0;}
.smartOfferWrap { overflow:hidden; position:relative; padding:18px 104px 18px 13px ; border-radius:5px; margin:16px 0; background:#d8eefd;box-shadow:0 2px 3px rgba(0,0,0,0.19);}
.smartOfferWrap.bg { background:#f8f3eb;}
.smartOfferWrap h3 { margin-bottom:4px; color:#333; font-size:15px; font-weight:bold;}
.smartOfferWrap .text { min-height:32px; font-size:13px; color:#555;}
.smartOfferWrap .img { position:absolute; bottom:0; right:13px; width:81px; line-height:0;}
.smartOfferWrap .img img { width:100%;}
.smartOfferWrap.type2 { padding:18px 13px 18px 104px;}
.smartOfferWrap.type2 .img { right:inherit; left:13px;}
.smartOfferWrap.type3 { padding:18px 13px; text-align:center;}
.borderLine { height:0; margin:20px -16px; border:0; border-top:1px solid #e9e9e9;}
.speedEdit > ul {background:#f9f9f9;}
.formAreaBox.type3 .inputBox.calRange.calendar .dateInput .formAreaBox .inputBox {z-index:2}
.bgTitBox { padding:15px 0; border-bottom:1px solid #e9e9e9; text-align:left; font-weight:bold; font-size:15px; color:#333;}
.bgTitBox .icon1 { display:inline-block; width:24px; height:28px; margin-right:10px; vertical-align:middle; background:url('../../images/pr01/icon_normalChange_1.png') no-repeat; background-size:100%;}
.bgTitBox .icon2 { display:inline-block; width:24px; height:28px; margin-right:10px; vertical-align:middle; background:url('../../images/pr01/icon_normalChange_3.png') no-repeat; background-size:100%;}
.listTyArrowLink > li .money { margin-top:10px; margin-right:22px; text-align:right; color:#1150c5;}
.headerTitle { font-size:18px; color:#333333; text-align:center;}
.headerTitle + .boxTyGray { margin:20px 0;}
.txtGray { color:#777;}
.bgBox { overflow:hidden; margin:-25px -16px 25px; padding:25px 16px 0px; background:#ebf7ff;}
.bgBox h2 { font-size:19px; color:#333333; text-align:center; font-weight:bold;}
.bgBox .img { margin:35px 0 31px; text-align:center;}
.bgBox .img img { width:260px;}
.bgBox .grayText { margin:6px 0 25px; font-size:14px; color:#777;}
.txtS { font-size:13px;}
.inputGroup .shapeTyBox .radioList > div { display:inline-block;}
.inputGroup .shapeTyBox .radioList > div + div { margin-left:32px;}
.inputGroup + .inputGroup { margin-top:20px;}
.contAccordion.typeCheck.type2 .checkBox { top:15px;}
.id_img {width: 51px; height: 57px; margin: 0 auto 18px; background: url(../../images/pr01/id_img.png) no-repeat; background-size: 51px auto;}
.grayBox { margin:-20px -16px 20px; padding:13px 16px 13px; background:#f2f2f2;}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType {}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType .selecter { padding-left:0;}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType .selecter a { overflow:hidden; position:relative; width:100%; padding-right:17px; text-align:left; text-overflow:ellipsis;white-space:nowrap; box-sizing:border-box; background:none;}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType .selecter .current span { position:absolute; top:50%; right:8px; margin-top:-6.5px; transform: rotate(90deg);-webkit-transform: rotate(90deg);}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType .selecter .sub { left:0; width:110px;}
.formAreaBox.type3 .inputBox.calRange .duration li.selecterType .selecter li { width:100%;}
.innerBox.borderT { border-top:1px solid #e9e9e9;}
.innerBox .searchBox {}
.innerBox .graph { margin-top:20px;}
.dotList.type2 { margin:20px 0;}
.dotList.type2 li { color:#555;}
.exchangeInfoBox .formArea .btnCal { padding: 0 10px; margin-left: -1px;}
.monthSwingCheckbox { margin-top:17px;}
.monthSwingCheckbox.disabled { opacity:0.4;}
.monthSwingCheckbox p { margin-top:7px;}
.formAreaBox > p.price { margin-left:115px; margin-top:10px; color:#3789dc}
.formAreaBox.fixed { position:fixed; width:100%;}
.formAreaBox label ~ label { margin-left:12px;}
.hashTagBox { padding:0 16px; padding-top:65px;}
.hashTagBox p { font-size:13px; color:#777;}
.hashTagBox .hash { overflow:hidden; padding:16px 0;}
.hashTagBox .hash ul { float:left; width:50%;}
.hashTagBox .hash li { margin-bottom:14px;}
.hashTagBox .hash li a { color:#555555}
.alphaLadyBox { padding:20px 16px 0; text-align:center;}
.alphaLadyBox .friendNumber { padding:7px; background:#ebf7ff;}
.alphaLadyBox .friendNumber span { font-weight:bold;}
.alphaLadyBox .title { margin-top:27px; font-size:18px;}
.alphaLadyBox .title .small { display:block; margin-top:5px; font-size:13px; color:#555;}
.alphaLadyBox .bg1 { width:128px; height:100px; margin:17px auto ; background:url('../../images/pr01/img_alphaLady1.png') no-repeat; background-size:100%;}
.alphaLadyBox .bg2 { width:149px; height:100px; margin:17px auto ; background:url('../../images/pr01/img_alphaLady2.png') no-repeat; background-size:100%;}
.alphaLadyBox .bg3 { width:148px; height:112px; margin:17px auto ; background:url('../../images/pr01/img_alphaLady3.png') no-repeat; background-size:100%;}
.alphaLadyBox .text { color:#555;}
.alphaLadyBox .boxTyGray { text-align:left;}
.alphaLadyBox .boxTyGray li { font-size:14px;}
.alphaLadyBox .boxTyGray li:before { top:6px;}
.alphaLadyBox .smsBox { padding:13px; margin-top:25px; border:1px solid #e9e9e9;}
.alphaLadyBox .smsBox p {}
.alphaLadyBox .smsBox ul { margin-top:11px;}
.alphaLadyBox .smsBox li { display:inline-block; margin-right:20px;}
.alphaLadyBox .smsBox li + li { margin:0; margin-left:20px;}
.alphaLadyBox .smsBox li [class*=iconTy] { width:32px; height:32px; margin-right:10px;}
.alphaLadyBox .smsBox li [class*=iconTy21] { background-position:0 -64px}
.anniversaryBox { margin:-20px -16px 17px; background:#fff6f3;}
.anniversaryBox h3 { padding:17px 0; font-size:17px; color:#333333;}
.anniversaryBox .info { overflow:hidden; margin:0 16px; padding:8px 0; background:#f1e4df;}
.anniversaryBox .info li { float:left; width:33.33%; text-align:center;}
.anniversaryBox .info li [class*=icon] { display:inline-block; margin-top:-2px; margin-right:5px; vertical-align: middle;}
.anniversaryBox .monthList { padding:17px 0 0;}
.anniversaryBox .monthList ul { overflow:hidden;}
.anniversaryBox .monthList li { float:left; width:33.33%; margin-bottom:17px; font-size:13px; color:#777;}
.anniversaryBox .monthList li .cycle { position:relative; width:58px; height:58px; margin:0 auto 4px; border-radius:50%; background:#fffbf9;}
.anniversaryBox .monthList li .cycle:before { content:''; display:block; position:absolute; top:2px; left:2px; width:54px; height:54px; border:1px solid #e9e9e9; border-radius:50%; box-sizing:border-box;}
.anniversaryBox .monthList li .cycle [class*=icon] { position:absolute; top:50%; left:50%; margin:-12px 0 0 -13px;}
.anniversaryBox .monthList li.on .cycle { box-shadow:0px 2px 3px rgba(0,0,0,0.2); background:#fff;}
.anniversaryBox .monthList li.on .cycle:before { border-color:#eee;}
.anniversaryBox [class*=icon] { display:block; width:29px; height:26px; margin:0 auto; font-size:0;}
.anniversaryBox [class*=icon].small { width:17px; height:15px;}
.anniversaryBox .icon01 { background:url('../../images/pr01/icon_anniversary1.png'); background-size:100%;}
.anniversaryBox .icon02 { background:url('../../images/pr01/icon_anniversary2.png'); background-size:100%;}
.anniversaryBox .icon03 { background:url('../../images/pr01/icon_anniversary3.png'); background-size:100%;}
.anniversaryDay li { float:left; width:50%; margin-bottom:17px; text-align:center;}
.anniversaryDay li [class*=icon] { display:block; width:58px; height:58px; margin:0 auto 7px; border-radius:50%; background:#fff6f3 url('../../images/pr01/icon_anniversaryDay.png') no-repeat; background-size:116px;}
.anniversaryDay li .tit { color:#333; font-weight:bold;}
.anniversaryDay li .txt { margin-top:6px; font-size:13px; color:#777;}
.anniversaryDay li .icon01 { background-position:0 0px;}
.anniversaryDay li .icon02 { background-position:-58px 0px;}
.anniversaryDay li .icon03 { background-position:0 -58px;}
.anniversaryDay li .icon04 { background-position:-58px -58px;}
.anniversaryDay li .icon05 { background-position:0 -116px;}
.anniversaryDay li .icon06 { background-position:-58px -116px;}
.anniversaryDay li .icon07 { background-position:0 -174px;}
.anniversaryDay li .icon08 { background-position:-58px -174px;}
.anniversaryDay li .icon09 { background-position:0 -232px;}
.anniversaryDay li .icon10 { background-position:-58px -232px;}
.anniversaryDay li .icon11 { background-position:0 -290px;}
.anniversaryDay li .icon12 { background-position:-58px -290px;}
.sHealthBox { padding:20px 16px 0;}
.sHealthBox .title { margin-top:27px; font-size:18px; text-align:center;}
.sHealthBox .title .small { display:block; margin-top:5px; font-size:13px; color:#555;}
.sHealthBox .bg1 { width:148px; height:100px; margin:17px auto ; background:url('../../images/pr01/img_shealth1.png') no-repeat; background-size:100%;}
.sHealthBox .boxTyGray li { font-size:14px;}
.sHealthBox .boxTyGray li:before { top:6px;}
.sHealthBox .imgTxtBox { margin-top:20px; padding:15px; text-align:center; background:#fff8ef;}
.sHealthBox .imgTxtBox .img { display:block; width:136px; height:70px; margin:0 auto 10px; background:url('../../images/pr01/icon_sHealth5.png') no-repeat; background-size:100%;}
.sHealthBox .imgTxtBox .tit { font-size:15px; font-weight:bold;}
.sHealthBox .imgTxtBox .text { margin-top:3px; color:#555;}

.cycleNumberList.mt { margin-top:11px;}
.cycleNumberList li { display:block; position:relative; padding-left:22px;}
.cycleNumberList li span { display:block; font-size:13px; color:#777777;}
.cycleNumberList li + li { margin-top:7px;}
.cycleNumberList .iconCycle { display:table-cell; position:absolute; top:3px; left:0; width:15px; height:15px; border-radius:50%; font-size:11px; text-align:center; color:#fff; background:#959595;}

.sHealthList { margin:-20px -16px 0;}
.sHealthList li { overflow:hidden; position:relative; padding:22px 0 22px; border-bottom:1px solid #e9e9e9; text-align:center;}
.sHealthList li .bookmark { position:absolute; top:0; left:26px; width:36px; height:63px; color:#fff; font-size:13px; background:#3387ce;}
.sHealthList li .bookmark span { display:block; width:14px; height:14px; margin:7px auto 4px; background:url('../../images/pr01/icon_sHealth1.png') no-repeat; background-size:100%;}
.sHealthList li .title { margin-top:6px; font-size:14px; color:#333; font-weight:bold;}
.sHealthList li .count { font-size:20px; color:#3789dc;}
.sHealthList li .total { margin-top:2px; font-size:13px; color:#777;}
.sHealthList li .iconSHealth { width:44px; margin:0 auto;}
.sHealthList li .iconSHealth.icon1 { height:21px; background:url('../../images/pr01/icon_sHealth2.png') no-repeat; background-size:100%;}
.sHealthList li .iconSHealth.icon2 { height:21px; background:url('../../images/pr01/icon_sHealth3.png') no-repeat; background-size:100%;}
.sHealthList li .iconSHealth.icon3 { height:24px; background:url('../../images/pr01/icon_sHealth4.png') no-repeat; background-size:100%;}

.sHealthList li .left { float:left; padding-left:16px; text-align:center;}
.sHealthList li .right { float:right; padding-right:16px; text-align:right;}
.singleText { overflow:hidden;}
.singleText strong { float:left; font-weight:500; color:#555;}
.singleText span { float:right;}

.layerPopWrap .bgGrayBox { margin:-20px -16px 13px; padding:12px 16px; font-size:15px; background:#f2f2f2;}
.layerPopWrap .bgGrayBox.marginN { margin:0}
.layerPopWrap .bgGrayBox span { font-size:14px; color:#555;}
.layerCon .textareaBox {}
.layerCon .textareaBox textarea { width:100%; height:129px; padding:11px 9px; border:1px solid #dbdbdb; box-sizing:border-box; resize:none;}
.layerCon .textareaBox .textCountMax { text-align:right; font-size:13px; color:#777;}
.layerCon .radioList { margin:18px 0;}
.layerCon .radioList li + li { margin-top:10px;}
.formAreaBox.type3 .inputBox.calRange.calendar .dateInput dd.full { position:static; width:100%; border-bottom:1px solid #dbdbdb}
.bgImgService1 { width:241px; height:136px; margin:35px auto; background:url('../../images/pr01/img_service1.png') no-repeat; background-size:241px;}
.bgImgService2 { width:241px; height:136px; margin:35px auto; background:url('../../images/pr01/img_service2.png') no-repeat; background-size:241px;}
.subTit2 [class*=iconTyLabe] { margin-top:15px; margin-bottom:5px; font-weight:normal;}
.innerGap.borderB { padding-bottom:20px !important; border-bottom:1px solid #e9e9e9;}
.productWrap .productBox { padding:20px 16px; border-bottom:1px solid #e9e9e9;}
.productWrap .productBox:first-child { border-top:1px solid #e9e9e9;}
.productWrap .productBox .titProduct { margin-top:5px; padding-bottom:0; border-bottom:0; font-weight:bold;}
.productWrap .productBox .listTypeTable { padding-top:15px;}
.productWrap .conBox { margin:20px 16px;}
.listTypeTable .productWrap .productBox { padding:15px 8px;}
.listTypeTable .productWrap .productBox:first-child { border-top:0;}
.listTypeTable .productWrap .productBox .row { padding:0; border:0;}
.listTypeTable .productWrap .productBox .row + .row { margin-top:10px;}
.editBox .listTyArrowLink .listTypeTable { position:relative;}
.editBox .listTyArrowLink .listTypeTable > ul { padding-right:34px;}
.editBox .listTyArrowLink .ui-sortable-helper { border-top:1px solid #e9e9e9; box-shadow:0 0 5px rgba(0,0,0,0.5);}
.editBox .btnDelete { padding-right:10px;}
.editBox .btnMove { position:absolute; top:0; right:0; bottom:0; width:50px;}
.editBox .btnMove button,
.editBox .btnMove a { position:absolute; top:0; right:0; bottom:0; width:50px; text-align:center; vertical-align:middle;}
.editBox .btnMove a span { position:absolute; top:50%; left:50%; margin:-3.5px 0 0 -7px;}


/* 쏠쏠한 저금통 */
/* .coinboxBg {background:#404763;} */
.coinBoxWrap {position:relative;z-index:3}
.coinBoxWrap .visual {padding:20px 0 20px;background:#fff;}
.coinBoxWrap .visual h2 {width:320px;height:18px;margin:0 auto;background:url(../../images/pr01/tit_coin_box.png) no-repeat;background-size:100%;font-size:0;}
.coinBoxWrap .visual .stepLine {width:263px; height:29px; margin:0 auto; background:url('../../images/pr01/visual_solCoinBox_bar.png') no-repeat; background-size:100%;}
.coinBoxWrap .visual .stepLine.type1 {background-position:0 0;}
.coinBoxWrap .visual .stepLine.type2 {background-position:0 -29px;}
.coinBoxWrap .visual .stepLine.type3 {background-position:0 -58px;}
.coinBoxWrap .visual .stepLine.type4 {background-position:0 -87px;}
.coinBoxWrap .visual .stepLine.type5 {background-position:0 -116px;}
.coinBoxWrap .visual .stepLine li {float:left; position:relative; width:20%; height:29px; font-size:0;}
.coinBoxWrap .visual .stepLine li.on span {position:absolute; bottom:31px; left:0; width:80px; height:30px; opacity:1; transform:translateY(0px);-webkit-transform:translateY(0px); background:url('../../images/pr01/visual_solCoinBox_text.png') no-repeat; background-size:100%;}
.coinBoxWrap .visual .stepLine .icon1.on span {left:-2px; background-position:0 0;}
.coinBoxWrap .visual .stepLine .icon2.on span {left:-19px; background-position:0 -31px;}
.coinBoxWrap .visual .stepLine .icon3.on span {left:-14px; background-position:0 -62px;}
.coinBoxWrap .visual .stepLine .icon4.on span {left:-8px; background-position:0 -93px;}
.coinBoxWrap .visual .stepLine .icon5.on span {left:-23px; background-position:0 -124px;}
.coinBoxWrap .visual .number {margin-top:20px; font-size:24px; color:#555555; text-align:center;}
.coinBoxWrap .visual .number span {margin:0 0px 0 4px; font-size:30px; color:#333; font-weight:bold;}
.boxTyMoney {margin-bottom:-102px;}
.boxTyMoney .floatWrap {height:260px;background:#3f99de;}
.boxTyMoney .moneyInfo {margin:20px 0 0 0;}
.boxTyMoney .moneyInfo .money strong {font-size:31px}
.boxTyMoney .moneyInfo .money2 {margin-top:5px;color:#fff}
.boxTyMoney .bankInfo .number strong {color:#fff}
.boxTyMoney .bankInfo .number strong:after {margin-left:8px;vertical-align:0;}
.coinBoxInfo {margin:0 16px;padding:21px 0 25px;background:#fff;box-shadow:2px 2px 3px 0 rgba(0,0,0,0.33);border-radius:3px;text-align:center;}
.coinBoxInfo h2 {margin:0 auto 11px;font-weight:700;font-size:17px;color:#333}
.coinBoxInfo .txt {margin-bottom:10px;font-size:13px;color:#5e5d5d}
.coinBoxInfo .number {color:#555;vertical-align:middle}
.coinBoxInfo .number .count {font-weight:700;color:#3786c3;}
.coinBoxInfo .number.type1 {font-size:18px;line-height:26px}
.coinBoxInfo .number.type1 .count {font-size:20px;}
.coinBoxInfo .btnWrap {margin-top:15px;text-align:center}
.coinBoxInfo .btnTypeR {width:177px;height:35px;line-height:35px;background:#3786c3;box-sizing:border-box}
.coinBoxInfo .btnTypeR span {font-weight:700}
.coinBoxInfo .btnTypeR .iconPlus {margin-right:5px}
.coinBoxList {padding:20px 16px;}
.coinBoxList .coinBoxItem {position:relative;padding:16px 14px;border:1px solid #c5c5c5;border-radius:3px;}
.coinBoxList .coinBoxItem + .coinBoxItem {margin-top:10px;}
.coinBoxList .coinBoxItem .textBox {padding:40px 0 0;text-align:right}
.coinBoxList .coinBoxItem h3 {font-size:13px;font-weight:normal;}
.coinBoxList .coinBoxItem h3 span {margin-left:5px;}
.coinBoxList .coinBoxItem .data {font-weight:700}
.coinBoxList .coinBoxItem .statusBar {position:relative;height:18px;margin-top:-3px}
.coinBoxList .coinBoxItem .statusBar .bar {overflow:hidden;position:absolute;right:0;top:50%;transform:translateY(-50%);width:70%;height:6px;border-radius:2px;background:rgba(99,173,229,0.5);}
.coinBoxList .coinBoxItem .statusBar .bar span {display:block;position:absolute;top:0;left:0;height:100%;background:#3f99de;}
.coinBoxList .coinBoxItem .statusBar .text {font-size:0;}
.coinBoxList .coinBoxItem .statusBar .count {position:absolute;top:0;left:0;font-weight:700;}
.coinBoxList .coinBoxItem.type2 .statusBar .bar {background:rgba(34, 143, 83, 0.5);}
.coinBoxList .coinBoxItem.type2 .statusBar .bar span {background:#27a35e;}
.coinBoxList .coinBoxItem.type3 .statusBar .bar {background:rgba(190, 190, 266,0.5);}
.coinBoxList .coinBoxItem.type3 .statusBar .bar span {background:#6e6ead;}
.coinBoxList .coinBoxItem.type4 .statusBar .bar {background:rgba(252, 169, 108, 0.5);}
.coinBoxList .coinBoxItem.type4 .statusBar .bar span {background:#f8822b;}
.coinBoxList .coinBoxItem.type5 .statusBar .bar {background:rgba(252, 158, 187, 0.5);}
.coinBoxList .coinBoxItem.type5 .statusBar .bar span {background:#fc5487;}
.coinBoxList .coinBoxItem .money {font-size:13px;text-align:right;}
.coinBoxList .coinBoxItem .money span {font-size:24px;font-weight:700;}
.coinBoxList .coinBoxItem .interest {margin:4px 0 0 62px}
.coinBoxList .coinBoxItem .btn button {display:block;position:absolute;left:13px;bottom:16px;width:62px;height:23px;background:#ccc;border-radius:20px;font-size:12px;line-height:23px;text-align:center;}
.coinBoxList .coinBoxItem.none {padding:22px 0 18px; border-radius:2px; border:1px dashed #b3b5c1;}
.coinBoxList .coinBoxItem.none button {position:relative; width:100%; text-align:center;}
.coinBoxList .coinBoxItem.none .textBox {padding:7px 0 0; padding-top:7px;}
.coinBoxList .coinBoxItem.none .tit {font-size:14px;font-weight:bold;}
.coinBoxList .coinBoxItem.none .text {margin-top:4px; font-size:13px; color:#fff; line-height:1.5;}
.coinBoxList .coinBoxItem.none .btnCycle {display:block; width:30px; height:30px; margin:0 auto; background:url('../../images/pr01/btn_solCoinBox_cycle.png') no-repeat; background-size:100%;}
.coinSliderBox {position:relative; height:80px;}
.coinSliderBox .ui-widget-content {position:absolute; left:20px; right:20px; top:50%; height:9px; margin-top:10px; border:0; background:#dfdfdf;}
.coinSliderBox .ui-widget-content #custom-handle2 {display:block; top:-8px; width:25px; height:25px; border:0; background:url('../../images/pr01/ui-slider-handle.png') no-repeat; background-size:100%;}
.coinSliderBox .ui-widget-content .ui-slider-range {border-radius:15px; background:#3789dc;}
.coinSliderBox .first {position:absolute; top:-30px; left:0;}
.coinSliderBox .last {position:absolute; top:-30px; right:0; color:#444;}
.coinSliderBox .last em {color:#777;}
.sliderTitle {margin-bottom:7px; font-size:14px; color:#555; font-weight:bold;}
.sliderTitle span {margin-left:10px; color:#333; font-weight:normal;}
.sliderMoney span {font-size:29px; color:#1826c3; font-weight:bold;}
.sliderMoney input {padding-right:20px; border:0; font-size:18px; color:#1826c3; font-weight:bold;}

.qrBox { margin-top:20px; text-align:center;}
.qrBox img { display:block; width:111px; margin:0 auto 10px;}

.bankInfoBox { margin:20px 16px; padding:13px; border:1px solid #e9e9e9; border-radius:5px; background:#fffcf8;}
.bankInfoBox .text { margin-bottom:16px; color:#777; font-size:13px;}
.bankInfoBox .text span { color:#333;}
.bankInfoBox .text .logo { display:inline-block; width:51px; height:12px; background:url('../../images/pr01/img_bankInfo_t.png') no-repeat; background-size:100%;}
.bankInfoBox .name { margin-bottom:7px; color:#555;}
.bankInfoBox .name span { font-weight:bold; color:#333;}
.bankInfoBox .dotList { margin-top:10px;}
.bankInfoBox .dotList li { margin-top:7px;}

.bankInfoBox .logoB { display:block; width:79px; height:16px; margin-top:20px; font-size:0; background:url('../../images/pr01/img_bankInfo_b.png') no-repeat; background-size:100%;}

.csListWrap {}
.csListWrap.lineN ul li a:after { display:none;}
.csListWrap.lineN ul li a:before {display:block; width:100%; height:25px; padding:0; margin-bottom:7px;}
.csListWrap.lineN ul li.item04 a:before { background:url('../../images/pr01/icon_item1.png') no-repeat center bottom; background-size:22px;}
.csListWrap.lineN ul li.item05 a:before { background:url('../../images/pr01/icon_item2.png') no-repeat center bottom; background-size:18px;}
.csListWrap.lineN ul li.item06 a:before { background:url('../../images/pr01/icon_item3.png') no-repeat center bottom; background-size:22px;}

.timerText { margin-top:5px; color:#1150c5; font-weight:bold;}
.timerText span { margin-left:5px; font-size:18px; font-weight:bold;}
.phoneSwiper { overflow:hidden; position:relative; text-align:center; background:#fafafa;}
.phoneSwiper .textBox { position:absolute; top:27px; left:0; right:0; z-index:3;}
.phoneSwiper .textBox h3 { font-size:15px; color:#333333; font-weight:bold;}
.phoneSwiper .textBox p { margin-top:10px; color:#555;}
.phoneSwiper .swiper-wrapper .img { width:147px; height:99px; margin:100px auto 10px;}
.phoneSwiper .swiper-wrapper .img.type1 { background:url('../../images/pr01/img_phone1.png') no-repeat; background-size:100%;}
.phoneSwiper .swiper-wrapper .img.type2 { background:url('../../images/pr01/img_phone2.png') no-repeat; background-size:100%;}
.phoneSwiper .swiper-wrapper .img.type3 { background:url('../../images/pr01/img_phone3.png') no-repeat; background-size:100%;}
.phoneSwiper .swiper-wrapper .img.type4 { background:url('../../images/pr01/img_phone4.png') no-repeat; background-size:100%;}
.phoneSwiper .swiper-wrapper .text { color:#555;}
.phoneSwiper .swiper-pagenation { padding:20px 0;}
.phoneSwiper .swiper-pagenation .swiper-pagination-bullet-active { background:#546069;}


.conBox + .contAccordion.border,
.listTitleBox + .borderT,
.listTitleBox + .contAccordion.border { border-top:1px solid #333;}


.boxTyGray { color:#555;}
.boxTyGray.bg2 { background:#fafafa}
.boxTyGray.bg2 .imgArea { width:99px; height:80px; margin:10px auto 15px; background:url('../../images/pr01/img_1020207001.png') no-repeat; background-size:100%;}
.boxTyGray.bg2 .imgArea2 { width:158px; height:81px; margin:0 auto 15px; background:url('../../images/pr01/img_01020206001.png') no-repeat; background-size:100%;}
.boxList.type2 li a { position:relative; padding:15px 30px 15px 15px;}
.boxList.type2 [class*=icon] { display:none; position:absolute; top:50%; left:15px; width:40px; height:40px; margin-top:-20px;}
.boxList.type2 .icon1 { background:url('../../images/pr01/icon_1020207001_1.png') no-repeat; background-size:100%;}
.boxList.type2 .icon2 { background:url('../../images/pr01/icon_1020207001_2.png') no-repeat; background-size:100%;}
.boxList.type2 .icon3 { background:url('../../images/pr01/icon_1020207001_3.png') no-repeat; background-size:100%;}
.radioGroup p { margin-top:15px;}
.innerGap + .innerGap.padding { margin-top:20px; padding-top:20px !important; border-top:1px solid #e9e9e9;}
.smartoper { margin-top:20px;}
.smartoper a { display:block; padding-top:32.5%; font-size:0; background:url('../../images/pr01/img_smartoper.png') no-repeat; background-size:100%;}
.formAreaBox.type3 .inputBox.calRange .dateInput { z-index:1;}
.imgWrap {margin:20px 0;}
.imgWrap .img img {width:100%;}
.grayBox2 { padding:0 16px 20px; background:#fafafa;}
.imgWrap.imgTransfer { width:122px; height:99px; margin:0px auto 30px; padding-top:20px; background:url('../../images/pr01/img_transfer.png') no-repeat 0 20px; background-size:100%;} 
.productBox .subTit2 { margin:0 0 20px;}
.bannerZone { margin:30px 0; text-align:center;box-shadow:0 2px 3px rgba(0,0,0,0.19);}
.contListBox { padding:17px 16px 20px; border-bottom:1px solid #e9e9e9;}
.contListBox h3 { font-size:15px; color:#333; font-weight:bold;}
.contListBox p { margin-top:7px; font-size:13px; color:#777;}
.contListBox .btnGroupBox { margin-top:16px;}
.formAreaBox .inputBox .emailBox .btnDelete { right:50px;}
.emailBox .btnType2 { position:absolute; top:7px; right:0;}
.accountSelect .link { margin-top:7px;}
.layerPopWrap .layerCon.full { padding:0;}
.productInfo {padding-top:30px; color:#555;}
.productInfo .txt {padding-bottom:21px;}
.productInfo .tit {padding-bottom:10px; font-size:14px; font-weight:700;}
.limitBox .subTit2 {margin-top:0;}
.limitBox .listTypeTable {padding-bottom:25px;}
.limitBox .dotList + .subTit2 {margin-top:25px;}
.accountMoveBox .termsBox {margin:0 0 10px;}
.accountMoveBox .termsBox + .termsBox .titArea {border-bottom:none;}
.autoAccoutBox .subTit2 {margin-top:0;}
.autoAccoutBox .txt {padding-bottom:18px; color:#555;}
.autoAccoutBox .txt span {display:block; font-size:13px; color:#777;}
.simpleWrap h3.subTit2 {margin:20px 0 11px 0;}
/* 휴면계좌 */
.humanAccoutBox .refundBox:after { content:''; display:block; clear:both;}
.humanAccoutBox .refundBox .txt {padding-bottom:5px;}
.humanAccoutBox .refundBox .txt + .btnType3 { float:right;}
.humanAccoutBox .humanListBox {padding:20px 0 0 0;}
.humanNoticeBox .subTit2:first-child {margin-top:0;}
.humanNoticeBox p {color:#555;}
.humanNoticeBox .txt {padding-bottom:10px;}
.chargeBox .accountSelect {  margin-bottom: 0;/*border-bottom:5px solid #f2f2f2;*/ } /* 김영훈 주석 처리 2017-12-20 */
.accountBox {border-bottom:5px solid #f2f2f2;}
.accountBox .accountSelect {margin-bottom:0;}
.accountBox .blueBox .text, .accountBox .blueBox em.account {color:#333 !important;}
.accountBox .blueBox .iconTy10 {display:block; position:absolute; top:23px; right:18px; background-position:0 -8px;}
.accountBox .blueBox.on .iconTy10 { background-position:0 0px;}
.chargeBox .tabView .listTypeTable {margin:0 16px;}
.chargeBox .topBox {display:table; position:relative; width:100%; margin:0 0 10px; padding: 10px 16px; table-layout:fixed; box-sizing:border-box; background:#f2f2f2;}
.chargeBox .topBox div {display:table-cell;}
.chargeBox .topBox div.left { width:38%;}
.chargeBox .topBox div.left .date {font-size:13px; font-weight:500; color:#333;}
.chargeBox .topBox div.left .date span {padding-left:5px;}
.chargeBox .topBox div.right {position:relative;}
.chargeBox .topBox div.right .colorList {position:absolute; top:0; right:0;}
.chargeBox .topBox div.right .colorList li {float:left; padding-left:15px;}
.chargeBox .topBox div.right .colorList li:fitst-child {padding-left:0;}
.chargeBox .topBox div.right .colorList li span {position:relative; padding-left:16px; font-size:13px; color:#555; font-weight:500;}
.chargeBox .topBox div.right .colorList li span:before {content:''; display:inline-block; position:absolute; top:50%; left:0; width:10px; height:10px; margin-top:-5px; border:1px solid #3572b0; background:#3789dc; border-radius:50%;  box-sizing:border-box;}
.chargeBox .topBox div.right .colorList li.active span:before { border:1px solid #c7c7c7; box-sizing:border-box; background:#dbdbdb;}
.chargeBox .topBox div.right .colorList li.iconUnlimited span {}
.chargeBox .topBox div.right .colorList li.iconUnlimited span:before { display:block; width:14px; height:7px; margin-top:-3px; border-radius:0; background:url('../../images/pr01/icon_unlimited.png') no-repeat; background-size:100%;}
.chargeBox .chargeListBox { padding:0 16px 30px;}
.chargeBox .chargeListBox li {display:table; width:100%; margin-top:20px; table-layout:fixed;}
.chargeBox .chargeListBox li:first-child {margin-top:0;}
.chargeBox .chargeListBox li dl { overflow:hidden;}
.chargeBox .chargeListBox li dl dt { font-weight:500; color:#555;}
.chargeBox .chargeListBox li dl dt span { font-weight:500;}
.chargeBox .chargeListBox li dl dd { margin-top:5px; color:#1150c5;}
.chargeBox .chargeListBox li dl dd span {font-weight:500; color:#1150c5 !important;}
.chargeBox .chargeListBox li .graph { display:block; position:relative; height:9px; margin-top:5px;}
.chargeBox .chargeListBox li .graph .progress { overflow:hiddne; height:9px; border-radius:9px; background:#dbdbdb;}
.chargeBox .chargeListBox li .graph .progress span { display:block; width:100%; height:9px; border-radius:9px; background:#3789dc;}
.chargeBox .chargeListBox li .graph .text { position:absolute; top:-20px; right:5px; font-size:12px; color:#555;}
.chargeBox .chargeListBox li .graph .text .start + span:before { content:''; display:inline-block; width:1px; height:12px; margin:-3px 4px 0 2px; vertical-align:middle; background:#cccccc;}
.chargeBox .topBox + .listTypeTable.lineType { padding-top:3px;}
.chargeBox .listTypeTable.lineType {padding:20px 0 0 0;}
.chargeBox .listTypeTable.lineType .listTit {font-size:15px;}
.contents.full .chargeBox .boxTyGray.notice { background:#fff; }
.fundTyBox .listTypeTable.productType .tit.type02 {font-size:15px; font-weight:500; color:#333;}
.fundTyBox .listTypeTable.productType .tit.type02 span {display:block; margin-top:6px; font-family:'shinhan'; font-size:13px; color:#555;}
.subTitWrap .snbDep03 .subStateInfo.noneTit{top:15px;}
.bgYellowRed{background:#fff;} /* 2017-11-23 김영훈 background:#f8f3eb; */
.result.brdBGray{margin-top:0;border-bottom:1px solid #dbdbdb;}
.formArea .half .cont.title{width:48%;margin-top:0;}
.formArea .half .cont.text{width:52%;margin-top:0;}
.formArea .half .cont.title .formTit::after{content:'+';float:right;}
.formArea .half2 .cont.title{width:48%;margin-top:0;}
.formArea .half2 .cont.text{width:52%;margin-top:0;}
.formArea .half2 .cont.title .formTit::after{content:'-';float:right;}
.formArea .dateHalf .cont.half{width:calc(47% - 5px)}
.formArea .dateHalf .cont.half + .cont.half{margin-left:7%;}
.formArea .dateHalf::after{content:'~';position:absolute;left:calc(50% - 7px);top:15px;color:#959595;}
.formAreaBox .inputBox.button.formulaP dd::before{content:'+';position:absolute;top:11px;left:10px;}
.formAreaBox .inputBox.button.formulaM dd::before{content:'-';position:absolute;top:11px;left:10px;}
.btnAccount dd .price span.shinhan{color:#3789dc;}
.innerBox p.tit + .rdoAreaTy2 {margin: 15px 0 20px;}
.accountList li.ui-draggable-disabled .spcAccountbox { background:#eee;}
.accountList .spcAccountbox {display: block; padding:0px 11px 15px; background:#fff;}
.accountList .spcAccountbox a { display:block; width: 100%; height: 40px; border:1px solid #dbdbdb;}
.accountList .spcAccountbox:after {display: block;content:'';clear: both;}
.accountList .spcAccountbox .leftCol {float: left;padding-left: 8px;margin-top: 11px;font-size: 13px;color: #333;}
.accountList .spcAccountbox .rightCol {float: right;padding-right: 8px;margin-top: 9px;font-size: 15px;color: #333;}
/* 꾹이체 */
.accountList li.ui-draggable-disabled > a{background-color:#eee !important;}
.accountList li.ui-draggable-dragging{z-index:2;}
.accountList li.ui-droppable-hover{z-index:1;}
.accountList li.ui-droppable-hover a{background-color:lightblue;}

/* 꾹이체 추가 */
.accountList.taphold .listBox{padding:18px;border-width:0;-webkit-transition:.3s;}
.accountList.taphold .listBox .tl{border:0;}
.accountList.taphold .listBox .number{border:0;}
.accountList.taphold > ul > li{border-radius:15px;margin:10px 0 0 0;width:100%;-webkit-transition:.3s;position:relative;box-shadow:none;z-index:2;}
.accountList.taphold .listBox{border-radius:15px;box-shadow:0 2px 3px rgba(0,0,0,0.19);}
.accountList.taphold .listBox .btns .btnSmLine{background:#fff;text-align:center;display:inline-block;font-weight:normal;height:28px;line-height:28px;padding:0 8px;font-size:13px;border:1px solid #dbdbdb;color:#777;border-radius:9999px;padding:0 15px;min-width:30px;}
.accountList.taphold .listBox .btns{margin-left:0;opacity:1;}
.accountList.taphold .listBox .tl.icon em:first-child{left:0;}
.accountList.taphold .listBox .tl.icon{padding-left:25px;}
.accountList.taphold .listBox .tl.icon + .number{padding:2px 0 0 25px;}
.accountList.taphold .listBox .popoverWrap{right:9px;top:12px;}
.accountList.taphold .listBox .btns{height:28px;-webkit-transition:.3s;}
.accountList.taphold .listBox .btns .btnPressAcc{background-image:url(../../images/pr01/icon_press_hard4.png);background-position:left top;background-size:auto 100%;top:-3px;height:35px;width:26px;}
.accountList.taphold .listBox .price em{font-weight:normal;}
.accountList.taphold li .btnPressAcc{opacity:1;-webkit-transition:.3s;}
.accountList.taphold li.ui-droppable .btnPressAcc{opacity:0;}
.accountList.taphold li.ui-draggable-dragging{width:230px;margin:30px auto;z-index:10;}
.accountList.taphold li.ui-draggable-dragging.onDrag{-webkit-transition:0s;}
.accountList.taphold li.ui-draggable-dragging .listBox{border:3px solid #1eb4fa;padding:10px;}
.accountList.taphold li.ui-draggable-dragging .btns{height:0;overflow:hidden;margin-top:0;opacity:0;}
.accountList.taphold li.ui-draggable-dragging .popoverWrap{display:none;}
.accountList.taphold li.ui-draggable-dragging .listBox .tl.icon{padding-right:0;font-size:13px;}
.accountList.taphold li.ui-draggable-dragging .listBox .tl.icon em:nth-child(2){display:block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;}
.accountList.taphold li.ui-draggable-dragging .listBox .price{font-size:16px;padding-top:0;}
.accountList.taphold li.ui-draggable-dragging .listBox .number{font-size:12px;}
.accountList.taphold li.ui-draggable-dragging .listBox:before,
.accountList.taphold li.ui-draggable-dragging .listBox:after{content:"";width:20px;height:15px;background:url(../../images/pr01/icon_arrow_tabhold1.png) no-repeat;background-size:100% auto;position:absolute;left:50%;top:-15px;-webkit-transform:translateX(-50%)}
.accountList.taphold li.ui-draggable-dragging .listBox:after{background-image:url(../../images/pr01/icon_arrow_tabhold2.png);top:auto;bottom:-22px;}
.accountList.taphold li.ui-droppable-hover .listBox{background:#61aefb;}
.accountList.taphold li.ui-droppable-hover .listBox .tl.icon,
.accountList.taphold li.ui-droppable-hover .listBox .number,
.accountList.taphold li.ui-droppable-hover .listBox .price{color:#fff;}
.accountList.taphold li.ui-draggable-disabled{opacity:0.3;}
.accountList.taphold li.ui-droppable-hover.ui-draggable-disabled .listBox{background:#fff}
.accountList.taphold li.ui-droppable-hover.ui-draggable-disabled .listBox .tl.icon,
.accountList.taphold li.ui-droppable-hover.ui-draggable-disabled .listBox .price{color:#333;}
.accountList.taphold li.ui-droppable-hover.ui-draggable-disabled .listBox .number{color:#959595;}
.accountList.taphold li.hidden{margin-top:0;overflow:hidden;opacity:0;z-index:1;position:absolute;}
.accountList.taphold li.hidden .listBox{-webkit-transform:translateX(-100%);}
.accountList.taphold li.ui-draggable-dragging + li.hidden{margin-top:10px;overflow:visible;opacity:1;position:relative;}
.accountList.taphold li.ui-draggable-dragging + li.hidden .listBox{-webkit-transform:translateX(0%);-webkit-transition:.2s;}
.accountList.taphold li.ui-draggable-dragging + li.hidden + li.hidden{margin-top:10px;overflow:visible;opacity:1;position:relative;}
.accountList.taphold li.ui-draggable-dragging + li.hidden + li.hidden .listBox{-webkit-transform:translateX(0%);-webkit-transition:.3s;}
.accountList.taphold li + li.hidden:before{content:"";width:100%;height:120px;background:#f6f6f6;position:absolute;left:0;top:-130px;right:0;border:1px dashed #cdcdcd;border-radius:15px;opacity:0;z-index:-1;}
.accountList.taphold li.ui-draggable-dragging + li.hidden:before{-webkit-animation:anihidden .3s both;}
.accountList.taphold li.hidden .tl.icon{padding-right:0;}
.accountList.taphold li.hidden .tl.icon em:last-child{text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;width:100%;overflow:hidden;display:block;}
@-webkit-keyframes anihidden{
	0%{opacity:0;} 70% {opacity:0;} 100% {opacity:1;}
}
/* 아이폰5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) {
	.formAreaBox > p.price { margin-left:85px;}
}

/* 아이폰4, 4S */
@media only screen and (min-device-width: 320px) and (max-device-height: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.formAreaBox > p.price { margin-left:85px;}
}
/*수수료 우대정보 new*/
.chargeGraph{margin-top:10px;}
.chargeGraph li{border:1px solid #e5e5e5;border-top:none;padding:12px;}
.chargeGraph li:first-child{border:1px solid #e5e5e5;}
.chargeGraph li .redBlock{overflow:hidden;margin:10px 0 5px 0;}
.chargeGraph li .redBlock em{float:left;width:10%;box-sizing:border-box;border-right:1px solid #fff;background:#d5d7d8;height:12px;}
.chargeGraph li .redBlock em:last-child{border-right:0;}
.chargeGraph li .redBlock em.on{background:#f13e51;}

 /* 전체계좌조회 */
.topfix{position:fixed;left:0;top:45px;right:0;z-index:1;}
.topfix .listTop{margin:0;}
.topfix .curtainLayer{margin:0;}
.topfix + .contents{margin-top:39px !important;height:calc(100% - 39px) !important;padding-top:20px !important;}
.topfix .selecter.type2{display:block;padding:0;position:relative;}
.topfix .selecter.type2 .current{display:block;width:100%;height:38px;line-height:38px;font-size:15px;color:#464646;padding:0 20px 0 0;-webkit-box-sizing:border-box; box-sizing:border-box;}
.topfix .selecter.type2 .current span { margin-left:15px; transform:rotate(90deg);-webkit-transform:rotate(90deg);}
.topfix .selecter.type2 .sub{display:none;width:100%;position:absolute;left:-1px;top:100%;z-index:10; margin-top:1px;border:1px solid #d9d9d9;border-top-width:0px; box-shadow:1px 1px 3px rgba(0,0,0,0.5);background:#fff;}
.topfix .selecter.type2.focus{border-bottom-color:#1826c3;}
.topfix .selecter.type2.focus .sub{display:block; min-width:125px;}
.topfix .selecter.type2.focus .sub li{width:100%; line-height:33px;font-size:15px;color:#464646;}
.topfix .selecter.type2.focus .sub li button { width:100%; padding:0 14px; box-sizing:border-box;}
.topfix .selecter.type2.focus .sub li:last-child{border-bottom:none;}
.topfix .selecter.type2.focus .sub li.disabled{color:#757575;}
.topfix .selecter.type2.focus .wdim{position:fixed;left:-16px;top:0;right:-16px;height:103px;background:#fff;opacity:0;z-index:9;}
#contentsWrap .curtainLayer + .tabTy02 + .topfix{top:104px;}
.curtainLayer { position:relative; z-index:2;}
.curtainLayer .btnOn { height:24px;}
.curtainLayer .btnOn button { display:block; width:100%; height:24px; font-size:0; background:url('../../images/pr01/btn_curtain.png') no-repeat center center; background-size:16px;}
.curtainLayer .contViewWrap { overflow:hidden; display:none; position:absolute; top:0; left:0; right:0; z-index:2; box-shadow:0 5px 5px rgba(0,0,0,0.15); background:#fff;}
.curtainLayer .contViewWrap .btnOff button { display:block; width:100%; height:24px; font-size:0; background:url('../../images/pr01/btn_curtain.png') no-repeat center center; background-size:16px;}
.curtainLayer .btnOn{width:100%;height:auto;margin:0 auto;}
.curtainLayer .btnOn button{text-align:center;height:19px;background:none;}
.curtainLayer .btnOn button:before{content:"";display:inline-block;height:4px;width:25px;background:#8f8f8f;border-radius:9999px;}
.curtainLayer .contViewWrap .btnOff{width:100%;height:auto;margin:0 auto;}
.curtainLayer .contViewWrap .btnOff button{background:0;text-align:center;height:19px;}
.curtainLayer .contViewWrap .btnOff button:before{content:"";display:inline-block;height:4px;width:25px;background:#8f8f8f;border-radius:9999px;}
.curtainLayer .curtSlide{display:none;}
.curtainLayer .btnsArea{margin:10px 18px;}
.curtainLayer .curtDim{position:fixed;left:0;top:124px;right:0;bottom:0;background:rgba(0,0,0,0.5);display:none;z-index:1;text-indent:-9999px;}
.curtainLayer .curtSlide .toptit{text-align:center;font-size:16px;font-weight:bold;padding-bottom:15px;}
.curtainLayer .curtSlide .listTypeTable{border:1px solid #3789dc;border-radius:10px;padding:18px 12px;}
.curtainLayer .curtSlide .listTypeTable .txt{font-size:13px;}
.curtainLayer .curtSlide .listTypeTable .txt strong{font-size:14px;}
.curtainLayer .curtSlide .listTypeTable .row.total{border-top:1px solid #e9e9e9;padding-top:15px;margin-top:15px;}
.curtainLayer .curtSlide .banner{position:relative;padding:20px 25px 0 25px;}
.curtainLayer .curtSlide .banner .icon{position:absolute;right:16px;bottom:0;height:80px;}
.curtainLayer .curtSlide .banner .btnBlueCircle{display:inline-block;padding:5px 35px 5px 15px;color:#fff;border-radius:9999px;background: linear-gradient(to right, #1691dd 30%, #5b63de 70%);position:relative;}
.curtainLayer .curtSlide .banner .btnBlueCircle:after{content:"";width:7px;height:7px;border:solid #fff;border-width:1px 1px 0 0;position:absolute;right:20px;top:50%;-webkit-transform:translateY(-50%) rotate(45deg)}
.popoverWrap.por .toolBox{z-index:12;}
.popoverWrap.por .wdim{z-index:11;left:0;right:0;}
.contents{position:relative;}
.contents .wdim{position:fixed;left:-16px;top:0;right:-16px;bottom:0;background:#000;opacity:0;z-index:1;}
.inputBox .selectSet dl{float:left;width:30%;}
.inputBox .selectSet .duration{float:right;width:67%;margin-top:3px;}
.inputBox .selectSet .duration li{width:33.33% !important;}
#contentsWrap .tabTy02 + .topfix{top:85px;}
#contentsWrap .tabTy02 + .topfix + .contents{height:calc(100% - 79px) !important;}

/*서비스리스트*/
.serviceList{border-top:1px solid #333;margin-top:15px;}
.serviceList li{padding:10px 0;position:relative;border-bottom:1px solid #e9e9e9;}
.serviceList li .tr{display:table;width:100%;}
.serviceList li .tr > *{display:table-cell;vertical-align:middle;}
.serviceList li .used{position:absolute;right:0;top:10px;font-size:13px;padding-right:20px;height:16px;}
.serviceList li .used:after{content:"";position:absolute;right:0;top:50%;width:6px;height:6px;border:2px solid #000;border-width:2px 2px 0 0;-webkit-transform:translateY(-20%) rotate(-45deg)}
.serviceList li .info{display:none;}
.serviceList li.on .used:after{-webkit-transform:translateY(-70%) rotate(135deg)}
.serviceList li.on .info{display:block;}
/*쏠쏠한저금통*/
.sliderBox{position:relative;margin:15px;}
.fillBox{position:absolute;left:0;top:50%;-webkit-transform:translateY(-50%)}
.fillBox .tit{font-size:13px;font-weight:700;} 
.fillBox .price{font-size:16px;}
/* .fillBox .price span{font-size:26px;color:#357dd6;font-weight:bold;display:inline-block;border-bottom:1px solid #357dd6;} */
.fillBox .price input{font-size:26px;color:#357dd6;font-weight:bold;display:inline-block;border:0;border-bottom:1px solid #357dd6;width:160px;}
.sliderArea{height:200px;}
.sliderArea .ui-slider-vertical{height:200px;float:right;border:0;background:#dfdfdf;border-radius:9999px;position:relative;}
.sliderArea .ui-state-default, .sliderArea .ui-widget-content .ui-state-default{border:1px solid #dfdfdf;background:#fff;border-radius:100%;width:26px;height:26px;left:50%;box-shadow:-3px 0px 2px -1px rgba(0,0,0,0.1);-webkit-transform:translateX(-50%);}
.priceBall{position:absolute;right:35px;top:-2px;padding:5px 15px;border:1px solid #dfdfdf;border-radius:9999px;color:#333 !important;white-space:nowrap;background:#fff;}
.priceBall:after{content:"";width:8px;height:5px;background:url(../../images/pr01/img_slider_tail.png) no-repeat;background-size:100% auto;position:absolute;right:-2px;bottom:1px;}
.sliderArea .shadow{position:absolute;left:0;right:0;top:0;bottom:50%;background:#357dd6;border-radius:9999px;}
/*자동재예치*/
.accountResultWrap {margin:-20px -16px 0;}
.accountSelect.accountResultWrap .blueBox , .accountSelect.accountResultWrap .innerGap {background:#fafafa;}
.accountSelect.accountResultWrap .blueBox .box {padding-bottom:15px;}
.accountSelect.accountResultWrap .innerGap .listTypeTable {padding:11px 0 20px 0; border-top:1px solid #c8c8c8;} 
.accountSelect.accountResultWrap .innerGap .listTypeTable .row .leftCol .tit {color:#333;}
/*타행이체*/
.listBox .btns{position:relative;margin:10px 0 0 12px;}
.listBox .btns .btnPressAcc{position:absolute;right:0;top:0;background:url(../../images/pr01/icon_press_hard.png) no-repeat center center;text-indent:-9999px;width:30px;height:30px;background-size:26px auto;margin:0;}

/* 계좌상세조회 MY금고, 쏠편한 저금통 */
.defaultListWrap.listA {margin-top:28px;}
.defaultListWrap.listA > li {margin-bottom:7px;background:#5aa8dd;border:1px solid #e9e9e9;border-radius:2px;}
.defaultListWrap.listA > li .listWrap {padding:12px 30px 12px 10px;}
.defaultListWrap.listA > li .listWrap:after {right:9px;background-image: url(../../images/icon_arrow_wh_right.png)}
.defaultListWrap.listA > li .listWrap > .imgArea {width:18px;height:auto;}
.defaultListWrap.listA > li .listWrap > .imgArea + .infoArea {padding-left:30px;}
.defaultListWrap.listA .infoArea {display: table;width:100%;box-sizing:border-box;color:#fff;font-size:13px}
.defaultListWrap.listA .infoArea .flexCont {display: table-cell;}
.selectAm{overflow:hidden;display:flex;display: -webkit-flex;}
.selectAm li{-webkit-flex:1;flex:1;display: flex;display: -webkit-flex;margin-left:9px;}
.selectAm li:first-child{margin-left:0;}
.selectAm li a{position:relative;width:100%;padding:9px 6px;border:1px solid #dcdcdc;border-radius:4px;box-sizing:border-box;font-size:13px;}
.selectAm li a:before{content:"";position:absolute;right:5px;top:5px;width:20px;height:20px;background:url(../../images/icon_radio_57x57.png) no-repeat 0 0;background-size:100% auto;}
.selectAm li.on a{border-color:#509afe;}
.selectAm li.on a:before{background-position-y:34%;}
.selectAm li .current {color:#4581f0;}
/* My금고 상세조회 */
.accountSelect.skinSafe {background:none}
.accountSelect.skinSafe .defaultInfo {background:#4581f0}
.accountSelect.skinSafe .expansion {background:#def0fd}
.accountSelect.skinSafe .moneyInfo .money {font-size:26px;}
.accountSelect.skinSafe .moneyInfo .money strong {font-size:43px} 
.accountSelect.skinSafe .btnToggle {top:0;bottom:initial}
.accountSelect.skinSafe .btnToggle .iconTy07, .accountSelect.skinSafe .btnToggle .iconTy08 {background-image:url(../../images/icon_toggle_36x24.png);}
.mySaftListWrap {position:relative;padding:28px 0 0}
/* My금고 상세조회 roundSlider */
.roundSliderWrap {position:relative;padding:0 16px 30px;}
.roundSliderWrap .btnWrap {position:absolute;top:47%;}
.roundSliderWrap .btnType2 {width:110px;margin-top:12px;font-size:15px;text-align:center;}
.roundSliderWrap .btnType2:first-child {margin-top:0;}
.roundSliderWrap .btnType2 .txt {margin-left:25px;}
.roundSliderWrap .btnType3{margin-top:30px;}
.roundSliderWrap [class*=txtSlider] {position:absolute;right:16px;z-index:3;font-size:12px;color:#4581f0;}
.roundSliderWrap .txtSliderMin {bottom:0;padding-bottom:33px;}
.roundSliderWrap .txtSliderMax {top:-30%;margin-top:-25px;color:#fff}
.sliderSafe.rs-control {position:absolute;right:0;top:-30%;z-index:2;height:100%;}
.sliderSafe .rs-handle-dot {padding:7px;border:none;background:linear-gradient(#37b1ff, #255fc2);box-sizing:border-box;}
.sliderSafe .rs-handle-dot:after {border:none;background:linear-gradient(#255fc2, #37b1ff);}
.sliderSafe .half.left .rs-block {padding:0px !important;}
.sliderSafe .rs-path-color {border:6px solid #f6f9fe;border-bottom:0;left:-1px;}
.sliderSafe .rs-range-color {border:5px solid #37b1ff;border-bottom:0;box-sizing:border-box;}
.sliderSafe .rs-block .rs-inner {overflow:hidden;z-index:2;left:20px;top:20px;width:calc(100% - 40px);height:calc(100% - 40px);border:0 none;background:#fff;border-radius:1000px;box-shadow:0 3px 25px 0 rgba(11,40,114,0.2);}
.sliderSafe .rs-block .rs-inner:after {content:'';position:absolute;left:2%;right:0;top:2%;bottom:0;z-index:10;width:48%;background:url(../../images/pr01/img_round.png) no-repeat 0 0;background-size:100% auto;}
.sliderSafe .rs-block .rs-inner-bg {overflow:hidden;position:absolute;left:0;bottom:0;width:100%;background:#c5e7ff;}
.sliderSafe .rs-block .rs-inner-base {display:block;position:absolute;bottom:0;z-index:1;width:100%;height:50%;background:#e1f3ff;}
.sliderSafe .rs-tooltip {left:10%;padding:0 11% 30px 0;border:0 none;text-align:right;}
.sliderSafe .rs-tooltip-text .tit {display:block;position:relative;font-size:14px;color:#4581f0;}
.sliderSafe .rs-tooltip-text .tit:before {content:'';display:inline-block;width:17px;height:16px;margin-right:3px;vertical-align:-1px;background:url(../../images/pr01/icon_money_safe.png) no-repeat 0 0;background-size:100% auto;}
.sliderSafe .rs-tooltip-text .amount{display:inline-block;font-weight:bold;font-size:27px;color:#333}
.sliderSafe .rs-tooltip-text .num {display:inline-block;height:22px;padding:0 3px;margin-top:10px;border:1px solid #c6c6c6;line-height:20px;color:#555;}
.sliderSafe.rs-control.rs-g1 .rs-tooltip-text .tit, 
.sliderSafe.rs-control.rs-g2 .rs-tooltip-text .tit {color:#999;}
.sliderSafe.rs-control.rs-g1 .rs-tooltip-text .tit:before, 
.sliderSafe.rs-control.rs-g2 .rs-tooltip-text .tit:before {background-image:url(../../images/pr01/icon_money_safe02.png);}
.sliderSafe.rs-control.rs-g1 .rs-tooltip-text .num {font-size:16px;color:#2362f1;border:0 none;}
.sliderSafe.rs-control.rs-g2 .rs-tooltip-text .num {font-size:16px;color:#df3b5d;border:0 none;}
.sliderSafe.rs-control.rs-g1 .rs-inner-bg {background:#c5e7ff;z-index:2;bottom:0;}
.sliderSafe.rs-control.rs-g2 .rs-inner-bg {background:#f9d8df;z-index:3;}
@media only screen and (max-height:568px){
	.roundSliderWrap .btnType2 {width:100px;}
	.roundSliderWrap .btnType2 .txt {margin-left:15px;}
}
/*꾹이체 안내*/
.popInner.firmly{border-radius:16px 16px 0 0;overflow:hidden;}
.popInner.firmly .layerCon{padding:20px 0 0 0;}
.firmly .txt1{font-size:22px;text-align:center;font-weight:bold;margin-top:20px;}
.firmly .txt2{text-align:center;font-size:16px;margin-top:8%;line-height:1.5;}
.layerPopWrap .firmly .btnGroupBox > .btnType{height:55px;line-height:55px;font-size:16px;}
.layerPopWrap .firmly .btnType{background:#3789dc;}
.layerPopWrap .firmly [class*=btnType].btnBlack{background:#e4e4e4;}
.firmly .moving{margin:5% -16px 0 -16px;position:relative;overflow:hidden;}
.firmly .moving .acc{position:absolute;left:23%;top:22%;right:22.4%;}
.firmly.play .moving .acc.img1{-webkit-animation:acc1 5s both;}
.firmly.play .moving .acc.img2{top:45.4%;-webkit-animation:acc2 5s both;}
.firmly.play .moving .acc.img3{left:23.6%;top:22%;right:23%;-webkit-animation:acc3 5s both;}
.firmly.play .moving .acc.img4{left:31%;top:25%;right:31%;-webkit-animation:acc4 5s both;}
.firmly.play .moving .acc.img5{top:45.4%;-webkit-animation:acc5 5s both;}
.firmly.play .moving .hand{position:absolute;left:70%;top:38%;width:50%;-webkit-animation:hand 5s both;}
.firmly.play .moving .pop{position:absolute;left:25.4%;top:28%;right:25%;}
.firmly.play .layerCon .actArea:nth-child(1){-webkit-animation:actstep1 3.5s both;overflow:hidden;}
.firmly.play .layerCon .actArea:nth-child(2){-webkit-animation:actstep2 3.5s both;overflow:hidden;}
.firmly.play .moving .pop.st1{-webkit-animation:st1 7s both;}
.firmly.play .moving .pop.st2{-webkit-animation:st2 7s both;}
.firmly.play .moving .pop.st2:after{content:"";position:absolute;right:47.8%;top:43%;width:20%;height:10%;background:#fff;-webkit-animation:st21 7s both;}
.firmly.play .moving .pop.st3{-webkit-animation:st3 7s both;top:24%;}
.firmly.play .moving .hand2{position:absolute;left:66%;top:83%;width:50%;-webkit-animation:hand2 7s both;}
@-webkit-keyframes hand{0%{left:80%;opacity:0;} 10%{left:80%;opacity:0;} 20%{left:70%;opacity:1;} 40%{top:38%} 50%{top:50%} 60%{left:70%;opacity:1;} 70%{left:80%;opacity:0;} 100%{top:50%;opacity:0;}}
@-webkit-keyframes acc1{25%{left:23%;top:22%;right:22.4%;opacity:1;} 30%{left:28%;top:25%;right:28%;opacity:0} 100%{opacity:0}}
@-webkit-keyframes acc4{0%{opacity:0;} 25%{opacity:0;} 30%{opacity:1;} 40%{top:25%} 50%{top:36%} 100%{top:36%;opacity:1;}}
@-webkit-keyframes acc3{0%{opacity:0;} 25%{opacity:0;} 30%{opacity:1;} 100%{opacity:1;}}
@-webkit-keyframes acc2{45%{opacity:1;} 50%{opacity:0} 100%{opacity:0}}
@-webkit-keyframes acc5{0%{opacity:0;} 45%{opacity:0;} 50%{opacity:1;} 100%{opacity:1;}}
@-webkit-keyframes hand2{0%{opacity:0;} 87%{opacity:0;top:73%} 92%{opacity:1;top:83%} 95%{opacity:1;top:83%} 98%{opacity:0;top:83%} 100%{opacity:0;top:83%}}
@-webkit-keyframes st1{0%{opacity:1} 65%{opacity:1} 65.1%{opacity:0} 100%{opacity:0}}
@-webkit-keyframes st2{0%{opacity:0} 65%{opacity:0} 65.1%{opacity:1} 100%{opacity:1}}
@-webkit-keyframes st21{
	/*20%, 15.8%, 14.8%, 11.5%, 8.3%, 5.3%, 0%*/
	66%{width:20%;} 69%{width:20%;} 
	69.1%{width:15.8%} 72%{width:15.8%} 
	72.1%{width:14.8%} 75%{width:14.8%} 
	75.1%{width:11.5%} 78%{width:11.5%} 
	78.1%{width:8.3%} 81%{width:8.3%}
	81.1%{width:5.3%} 84%{width:5.3%} 
	84.1%{width:0%} 100%{width:0%} 
}
@-webkit-keyframes st3{0%{opacity:0} 97%{opacity:0} 97.1%{opacity:1} 100%{opacity:1}}
@-webkit-keyframes actstep1{0%{height:auto;} 99%{height:auto;} 100%{height:0;}}
@-webkit-keyframes actstep2{0%{height:0;} 99%{height:0;} 100%{height:auto;}}
@media all and (min-width:500px){
	.popInner.firmly{width:382px;}
}



 /* HYEJUNE TEST PROJECT */
 
 /* main page */
 
 .blueBox .addCoinBox{ padding-bottom: 20px; }
 
 .blueBox .bankInfo{ margin-bottom: 15px; }
/*  .blueBox .bankInfo *{ font-size: 14px !important; } */
 
/*  .blueBox .more_btn{ display: block; padding: 9px 10px; } */
 
.blueBox .acc_num{ text-align: left; }
.blueBox .acc_money{text-align: right; font-size: 20px !important; }
.blueBox .acc_money *{ font-size: 34px !important; margin-right: 4px; }

.blueBox .popoverWrap{ width: 24px; height: 34px; text-align: center; }
.blueBox .popoverWrap a{ line-height: 32px; }


.innerBox{ padding-top: 0; }
.option_box_hj{ padding: 16px 16px; background-color: #499cd4; border-top: 1px solid rgba(255,255,255,0.3); height: 52px; box-sizing: border-box; z-index: 50; }
.option_box_hj.on{ position: fixed; top: 45px; z-index: 50; display: block; width: 100%; box-shadow: 0 5px 5px 0 rgba(0,0,0,0.3);}
.option_box_hj .acc_num{ float: left; }
.option_box_hj .dur_img{ margin-bottom: 2px; margin-left: 6px; background-image: url("../../images/icon_bankInfo.png"); width: 9px; height: 6px; background-size: cover; display: inline-block; background-position: center; }

.option_box_hj .search_Wrap_hj{ float: right; }
.option_box_hj #search_text{ color: #fff; display: block; padding-left: 10px; box-sizing: border-box; float: left; width: calc(100% - 35px); height: 100%; border: none; background-color: #499cd4; box-sizing: border-box; }
.option_box_hj #search_text::placeholder{ color: #fff; }
.option_box_hj button{ width: 20px; hegith:100%; float: right; }
.option_box_hj .search_icon_hj{ float:right; background-image: url("../../images/icon_search_black.png"); width: 20px; height: 20px; background-size: cover; display: inline-block; background-position: center;  }



.option_box_hj a{ color: #ffffff; }


/* 여기 display: table; 주의 */
.innerBox .timeBox .acc_changeBox{ display: table; width: 100%; height: 100%; }
.innerBox .timeBox .rightCol{ text-align: right; width: 50%; }
.innerBox .timeBox .leftCol{ width: 50%; }

.innerBox .timeBox .listTypeTable.type2 .time { color: #333; width: 100%; height: 23px; line-height: 23px; display: block; float: left; }
.innerBox .timeBox .listTypeTable.type2 .time .date{ margin-right: 7px; font-size: 15px; }
.innerBox .timeBox .listTypeTable.type2 .time strong{ font-size: 15px; }
.innerBox .timeBox .listTypeTable.type2 .change_memo{ font-size: 11px; margin-top: 5px; height: 16px; display: block; float: left; }

.innerBox .shinhanBlue{ color: #499cd4; }
.innerBox .shinhanG{ color: #333; }
.innerBox .money_balance{ font-size: 13px; color: #666; }


/* bottom Popup_hj */
.bottomPop_hj .layerHeader { margin-bottom: 15px; }
.bottomPop_hj .layerHeader .layerTit{ margin-bottom: 10px; text-align: center; padding: 0 32px; }
.bottomPop_hj .bottomPop_option{ color: #333 !important; text-align: center; }
.bottomPop_hj .listOneLineBox *{ border-bottom: none !important; }
.bottomPop_hj .listOneLineBox div{ margin-top: 0; }
.bottomPop_hj .inputBox .duration li{ padding: 10px 2px; box-sizing: border-box; height: 60px; margin-bottom: 10px; }
.bottomPop_hj .inputBox .duration li a{ height: 100%; box-sizing: border-box; line-height: 18px !important; margin: 0 !important;  }
.bottomPop_hj .last_dur li{ margin-bottom: 0 !important; }
.bottomPop_hj .inputBox .iconTy34{ position: relative; top: -10px; display: block; height: 40px; width: 17px; line-height: 40px; float: right; }
.bottomPop_hj .inputBox .dateInput{ margin-bottom: 30px; margin-top: 0;  }
.bottomPop_hj .duration_01{ margin-bottom:0; }
.bottomPop_hj .dateBox .shinhan{ padding-left: 30px; }

/* acc_manage page */

#acc_manage_page{ padding: 20px 16px; }

#headerWrap .rSec_hj{ position: relative; left:0; top:-45px; }



/* acc_chang page */
.btnGroupBox .btnType{ width: 33.33%; height: 60px; border: none; overflow: hidden; }
.btnGroupBox .acc_change_btn { width: 64px; height: 30px; background-image: url("../../images/icon_share_96x90.png"); background-size: 32px 120px; background-repeat: no-repeat; background-position: center top; }
.btnGroupBox .acc_change_btn02{ background-position: center -30px;}
.btnGroupBox .acc_change_btn03{ background-position: center -60px;}

