@charset "utf-8";

/********************** 전체공통 *****************************/

.solAi .contents.bg {background:#f7f7f8;}
.solAi .innerBox.bg {background: #f7f7f8;}

.solAi .medium {font-weight: 700 !important;}

/* 상단고청타이틀 */
.subTitWrap .snbDep02.type01 .tit {line-height: 1.3;}


/*입력형 일반: 검색*/
.solAi .formAreaBox .inputBox.search dl > dd:first-child {border-color:#eee !important;}

.solAi .inputBox.button input {background-color: transparent;}

/* productChange */
.solAi .productChange.borderT {border-color: #eee;}
.solAi .productChange .productBox {border-color: #eee;}
.solAi .productChange .productBox.full {padding: 20px 0;}
.solAi .productChange .productBox .boxTyGray2 {margin: 20px 0 0 -34px; padding: 20px; border-radius: 6px;}
.solAi .productChange .productBox .boxTyGray2 * {font-size: 13px; color: #666;}
.solAi .productChange .productBox .boxTyGray2.listTypeTable .row .rightCol * {font-weight: 700;}


/********************** SolAI *****************************/

/* 공통 */

.txtYellow2 {color: #fdf68f !important;}
.txtRed2 {color: #ff0000 !important;}

/* tab .aiType01 */
.solAi .tabTy01.aiType01 a {height: 44px; font-size: 15px; color: #666; border: none; border-radius: 0; background: #f7f7f8;}
.solAi .tabTy01.aiType01 .on {color: #fff; background: #7c6fe4;}

.solAi .tabTy02.aiType01 {min-height:52px;}
.solAi .tabTy02.aiType01 a {color:#666;}
.solAi .tabTy02.aiType01 a.on {color:#6d5ee7;}
.solAi .tabTy02.aiType01 a.on:after {height:2px; background:#6d5ee7;}
.solAi .tabTy02.aiType01[class*=swiper-container] {padding: 0 0 1px;}
.solAi .tabTy02.aiType01 .swiper-slide {padding: 15px 10px;}


.solAi .tabTy02.aiType02 {display: flex; background: transparent; border-bottom: none;}
.solAi .tabTy02.aiType02 a {border: 1px solid rgba(255, 255, 255, .25); color: rgba(255, 255, 255, .7); font-size: 13px; border-radius: 17px; padding: 6.5px 11px;}
.solAi .tabTy02.aiType02 a > span {font-weight: 700;}
.solAi .tabTy02.aiType02 a + a {margin-left: 6px;}
.solAi .tabTy02.aiType02 a.on {background: rgba(255, 255, 255, .25); font-weight: 700; color: #fff;}
.solAi .tabTy02.aiType02 a.on::after {content: none;}
.solAi .tabTy02.fixed {position: fixed; left: 0; top: 45px; width: 100%; background: #fff; padding: 16px 18px; z-index: 99; box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);}
.solAi .tabTy02.fixed a {border-color: #ddd; color: #666;}
.solAi .tabTy02.fixed a.on {border-color: #7c6fe4; background: #7c6fe4; color: #fff;}


.solAi .tabTy02.aiType03 {background: #f7f7f7; border-radius: 19.5px; padding: 2px; border-bottom: 0;}
.solAi .tabTy02.aiType03 .swiper-wrapper {align-items: center;}
.solAi .tabTy02.aiType03 a {flex: 1; font-size: 13px; color: #666; padding: 0; line-height: 36px;}
.solAi .tabTy02.aiType03 a.on {background: #fff; color: #333; font-weight: 700; padding: 0; border-radius: 18px;}
.solAi .tabTy02.aiType03 a.on:after {content: none;}






/* label type */
.iconTyLabelAi8 {border-color: #ffc756 !important; background-color: #ffc756;}
.iconTyLabelAi9 {border-color: #64aeea !important; background-color: #64aeea;}
.iconTyRdBox2 {padding:0 8px; min-width: 42px; height:20px; line-height:20px; text-align: center; background:#6d5ee7; border-radius:10px; color:#fff; font-size:10px; font-style:normal; font-weight: 700;}
.iconTyRdBox3 {padding:0 8px; min-width: 56px; height:24px; line-height:24px; text-align: center; background:#f7f7f8; border-radius:13px; color:#333; font-size:13px; font-style:normal;}

[class*=iconTyLabelZone] {min-width: 58px; height: 18px; line-height: 18px; font-size: 10px; font-style: normal; font-weight: 700; text-align: center; border: 1px solid #ffc8c8;}
.iconTyLabelZone1 {color: #ff0000; background-color: #fef6f6;}
.iconTyLabelZone2 {color: #4b60e0; border-color: #b8d3f2; background-color: #f6faff;}
.iconTyLabelZone3 {color: #666; border-color:#b1b2b2; background-color: #f6f7f8;}

/* icon */ 
.iconTySol4 {width: 20px; height: 20px; background: url(../../images/solAI/icon_refresh.png) no-repeat 0 0 ; background-size: 20px auto;}
.iconTySol10 {width: 26px; height: 22px; background: url(../../images/solRobo/TBD/icon_portfolio01.png) no-repeat 0 0; background-size: 100% auto;}
.iconTySol11 {width: 26px; height: 22px; background: url(../../images/solRobo/TBD/icon_portfolio03.png) no-repeat 0 0; background-size: 100% auto;}


/* button */
.solAi .btnSlide span:after {content:"";display:inline-block;width:8px;height:8px;border:solid #777;border-width:1px 1px 0 0;transform:translateY(-30%) rotate(135deg);margin-left:10px;}
.solAi .btnSlide.on span:after {transform:translateY(30%) rotate(-45deg);}
.btnMoreArrow.noline {border: none;}
.btnType2.purple01 {position: relative; display: block; border-radius: 8px; background: #f2f0ff; color: #5d47b1; height: 46px; padding: 0 20px;}
.btnType2.purple01::after {content:"";width:7px;height:7px;border:solid #666;border-width:0 1.5px 1.5px 0;position:absolute;right:23px;top:50%;-webkit-transform:translateY(-90%) rotate(-45deg); margin-top: 4px;}

.solAi .btnType.btnShadow {display: block; height: 48px; background: #fff; color: #333; box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.12); border-radius: 6px;}
.solAi .btnFilter {width: 24px; height: 24px; background: url(../../images/solAI/icon_filter.png) no-repeat; background-size: 24px auto;}

/* input .aiTy1 */
/* 입력필드 */
.formAreaBox.aiTy1 {margin-top: 40px !important;}
.formAreaBox.aiTy1 .inputBox dd,
.formAreaBox.aiTy1.type2.lineTy2 .inputBox dd {border-color: #eee;}
.formAreaBox.aiTy1.type2.lineTy2 .inputBox dd.on {border-color: #6d5ee7 !important;}
.formAreaBox.aiTy1 .inputBox input:not([type="checkbox"]):not([type="radio"]) {font-size: 18px; color: #333;}

/* 기간선택버튼 */
.formAreaBox.aiTy1 .inputBox input[readonly] + .btn {top: 5px;}
.formAreaBox.aiTy1.type3 .inputBox.calRange .duration li a {background-color: #f7f7f8; border-radius: 4px; color: #666; line-height: 40px; margin: 0 6px 6px 0;}
.formAreaBox.aiTy1.type3 .inputBox.calRange .duration li:nth-child(4n) a {margin-right: 0;}
.formAreaBox.aiTy1.type3 .inputBox.calRange .duration li a.on {background-color: #f4f2ff; color: #6d5ee7; font-weight: 700;}

/* 라디오 */
.formAreaBox.aiTy1 .rdoAreaTy2.col2 {display: flex;}
.formAreaBox.aiTy1 .rdoAreaTy2.col2 .inputSel {flex: 1;}
.formAreaBox.aiTy1 .rdoAreaTy2.col2 .inputSel + .inputSel {margin-left: 8px;}
.formAreaBox.aiTy1 .rdoAreaTy2.col2 input + label {height: 45px; display: flex; align-items: center; justify-content: center; background: transparent; border: 1px solid #ddd; border-radius: 6px; color: #666; font-size: 14px;}
.formAreaBox.aiTy1 .rdoAreaTy2.col2 input:checked + label {border-color: #6d5ee7; color: #6d5ee7; font-weight: 700;}

/* 라디오, 체크박스 아이콘 */
input[type="radio"] + label.formAiTy1:before,
input[type="checkbox"] + label.formAiTy1:before {width: 20px; height: 20px; background: url('../../images/solAI/icon_radio.png') no-repeat ; background-size: 20px auto;}
input[type="radio"]:checked + label.formAiTy1:before,
input[type="checkbox"]:checked + label.formAiTy1:before {background: url('../../images/solAI/icon_check_purple.png') no-repeat; background-size: 20px auto;}

input[type="radio"] + label.formAiTy2:before,
input[type="checkbox"] + label.formAiTy2:before {width: 20px; height: 20px; background: url('../../images/solAI/icon_check_square.png') no-repeat; background-size: 20px auto;}
input[type="radio"]:checked + label.formAiTy2:before,
input[type="checkbox"]:checked + label.formAiTy2:before {background: url('../../images/solAI/icon_check_square2.png') no-repeat; background-size: 20px auto;}


/* slider */
.sliderBarWrap {margin-top: 13px; display: flex; align-items: center;}
.sliderBarWrap .txtArea {flex-shrink: 0; font-size: 13px; color: #333;}
.sliderBarWrap .txtArea .tit {margin-right: 10px; font-weight: 700;}
.sliderBarWrap .sliderBar.type2 {margin: 0 0 0 15px; height: 10px; border: none; background-color: #d8d8d8; border-radius: 5px;}
.sliderBarWrap .sliderBar.type2 .bar {border-radius: 5px; background-color: #7575ee;}


/* chart */
.barChart  {display: flex; align-items: center;}
.barChart .colorWrap {display: flex; margin-left: 10px;}
.barChart .colorWrap span {width: 12px; height: 15px; background-color: #016eb3; margin-right: 3px; text-indent: -9999px; overflow: hidden;}
.barChart .colorWrap.redType span {background-color: #b40113;}
.barChart .colorWrap span:first-child {opacity: 0.1;}
.barChart .colorWrap span:nth-child(2) {opacity: 0.25;}
.barChart .colorWrap span:nth-child(3) {opacity: 0.5;}
.barChart .colorWrap span:nth-child(4) {opacity: 0.82;}
.barChart .colorWrap span.on ~ span {display: none !important;}

/* 그래프범례색깔 */
.bggraph01 {background:#826cd6 !important}
.bggraph02 {background:#ffb81e !important}
.bggraph03 {background:#f089f5 !important}
.bggraph04 {background:#81d6be !important}
/* .bggraph05 {background:#94c2eb !important;} solAI.css에있음 */
.bggraph06 {background:#7c56b2 !important}
.bggraph07 {background:#8c8999 !important}
.bggraph08 {background:#9049c7 !important}
.bggraph09 {background:#c7c7d0 !important}
.bggraph10 {background:#d8d8d8 !important}
.bggraph11 {background:#8d7fff !important}
.bggraph12 {background:#1ca1c4 !important}
.bggraph13 {background:#be75fa !important}
.bggraph14 {background:#4fb8ff !important}
.bggraph15 {background:#843bc0 !important}
.bggraph16 {background:#26a488 !important}
.bggraph17 {background:#fa75d6 !important}
.bggraph18 {background:#ccc !important}
.bggraph19 {background:#999 !important}
.bggraph20 {background:#4bbfe0 !important}
.bggraph21 {background:#fe8d81 !important}


/* .productType.boxType */
.productType.boxType ul li.row {background-color: #fff; border-radius: 10px; padding: 20px;}
.productType.boxType .txtPeriod + .tit {margin-top: 12px;}
.productType.boxType .accountNum {font-size: 13px; color: #666; font-weight: 700;}
.productType.boxType .row .rightCol.bold * {font-weight: 700 !important;}
.productType.boxType .tit + .labelTxt {font-size: 14px !important; color: #eb3d50 !important; margin-top: 10px;}

.solAi .listTypeTable.productType > ul .row .listTypeTable .row.brdT2 {margin-top: 20px !important; padding-top: 20px !important; border-radius: 0;}

.solAi .makingPrd .listTypeTable .row.on .prdBtnDel.txtType {background: none; text-indent: 0; width: auto; height: auto; font-size: 12px; color: #666; text-decoration: underline; top: 24px;}




/* Page */

/* 상품선택 */
.solAi.prdChoice input[type="radio"] + label:before {width:18px; height:18px; background: none; border: 1px solid #ddd; border-radius: 100%;}
.solAi.prdChoice input[type="radio"]:checked + label:before {border-color: #6d5ee7;}
.solAi.prdChoice input[type="radio"]:checked + label::after {content:''; display: inline-block; box-sizing: border-box; position: absolute; top: 5px; left: 5px; width:10px; height:10px; border-radius: 100%; background-color: #6d5ee7;}
.solAi.prdChoice input[type="radio"]:checked:disabled + label::before {border-color: #ddd;}
.solAi.prdChoice input[type="radio"]:checked:disabled + label::after {background-color: #ddd;}

.solAi.prdChoice .productChange .productBox:last-child {border-bottom: none;}
.solAi.prdChoice .productChange .productBox input[type="radio"] + label:before {top:27px;}
.solAi.prdChoice .productChange .productBox input[type="radio"]:checked + label:after {top:23px;}
.solAi.prdChoice .productChange .productBox input[type="radio"] {top:48px;}
.solAi.prdChoice .productChange .productBox .titProduct {display:block; position:relative; padding-right:15px; font-weight: 700; font-size: 14px;}
.solAi.prdChoice .productChange .productBox .titProduct::after {content:''; display:block; position:absolute; top:3px; right:0; width:7px; height:13px; background:url(../../images/icon_arrow_right.png) no-repeat 0 0; background-size:7px auto;}

/* 추천이유2 */
.recomReason .bgTitle {box-sizing: border-box; position: relative; background: url(../../images/solAI/bg_reason.png) no-repeat 0 0; background-size: 100% 100%; padding: 23px 25px; margin: 10px 4px 0;}
.recomReason .bgTitle::after {content: ''; display: block; position: absolute; right: 18px; bottom: -30px; width: 140px; height: 101px; background: url(../../images/solAI/img_character07.png) no-repeat 0 0; background-size: 140px auto;}
.recomReason .bgTitle .subTit {color: #fff; margin: 0;}
.recomReason .bgTitle .subTit::after {content: ''; display: inline-block; width: 40px; height: 11px; background: url(../../images/solAI/arrow_half-right2.png) no-repeat 0 0; background-size: 40px auto; vertical-align: top; margin: -10px 0 0 11px;}
.recomReason .titM.mt30 {margin: 30px 4px 10px;}
.recomReason .boxTyRound {padding: 16px; margin: 0 4px;}

/* 포트설계 > 사전정보입력 */
.prevInfoWrite .innerBox {padding: 20px 24px;}
.prevInfoWrite .topArea .titZ {display: inline-block; position: relative; margin-bottom: 10px;}
.prevInfoWrite .topArea .titZ::after {content: ''; width: 66px; height: 45px; background: url(../../images/solAI/img_bubble.png) no-repeat; background-size: 66px auto; position: absolute; top: -24px; right: -45px; animation: motion 0.6s infinite alternate;}
@keyframes motion { 0% {margin-top: 0px;} 100% {margin-top: 5px;} }
.prevInfoWrite .topArea .fontS {margin: 20px 0 32px;}
.prevInfoWrite .topArea .imgBox img {width: 180px; margin: 0 auto;}
.prevInfoWrite .formAreaBox {margin-top: 0 !important;}
.prevInfoWrite .formAreaBox .inputBox.wrong .error {margin-left: 0;}

/* 포트설계 > 포트정보확인 */
.popInfoCheck .boxTyRound {margin-top: 30px; padding: 16px;} 
.popInfoCheck .graphArea .legendList {max-width: 320px; display: flex; flex-wrap: wrap; justify-content: center; margin: 30px auto 0; padding-bottom: 12px;} 
.popInfoCheck .graphArea .legendList > li {margin: 0 8px 8px;} 

/* 포트설계 > 정보입력 */
.portSet .moreBox .btnSlideMore {position: absolute; right: 0; top: 0; bottom: 0; width: 50px; text-indent: -9999px;}
.portSet .moreBox .btnSlideMore:before {content: ''; width: 7px; height: 7px; border: 1px solid #333; border-width: 1px 1px 0 0; position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-70%) rotate(-225deg);}
.portSet .moreBox .btnSlideMore.on:before {-webkit-transform: translateY(-30%) rotate(-45deg);}
.portSet .slideCont {display: none;}
.kodexChk label + .error {display: none; font-size: 13px; color: #e93d4c; vertical-align: middle; margin-left: 2px;}
.kodexChk.wrong label + .error {display: inline-block;}

/* 포트가상투자 > 목록 */
.portSimul .aiPortCard {min-height: auto !important;}

/* 포트관리 > 포트목록 */
.solAi.portManage .portList {background: transparent;}
.solAi .aiPortCard {/*overflow:hidden;*/position:relative;min-height:145px;margin:20px 0;padding:16px 16px 66px;border-radius:5px;box-shadow:0px 2px 2px #c4c4c4;background-color:#fff; box-shadow:0px 2px 6px #c4c4c4;}
/* .solAi .aiPortCard:first-child {margin-top:0;} */
.solAi .aiPortCard:last-child {margin-bottom:0;}
.solAi .aiPortCard .cardHead {position:relative;min-height:19px;}
.solAi .aiPortCard .popoverWrap {position:absolute;right:0;top:-6px;}
.solAi .aiPortCard .popoverWrap .toolBox {left:auto;right:10px;}
.solAi .aiPortCard .cardData {margin-top:10px;text-align:center;color:#777;}
.solAi .aiPortCard .cardData p {font-size:13px;}
.solAi .aiPortCard .cardData .cardName {font-size:15px;color:#333;}
.solAi .aiPortCard .btnGroupBox {overflow:hidden;position:absolute;left:0;bottom:0;width:100%;border-top:1px solid #e5e5e5;border-radius:0 0 5px 5px;}
.solAi .aiPortCard .btnGroupBox .btnType {margin-top:0;border-left:1px solid #e5e5e5;font-size:15px;color:#333;background-color:#fff;}
.solAi .aiPortCard .btnGroupBox .btnType:first-child {border-left:0;}
.solAi .aiPortCard .btnGroupBox.top {position:static;display:none;width:auto;margin:15px -16px 0 -16px;}
.solAi .aiPortCard .img.noSearch {margin: 30px auto 0;}
.solAi .progress {display:table;width:78%;margin:15px auto 0 auto;table-layout:fixed;}
.solAi .progress ul {display:table-row;}
.solAi .progress ul li {display:table-cell;position:relative;border-top:2px solid rgba(141, 127, 255, 0.47)}
.solAi .progress ul li:first-child {width:0;}
.solAi .progress ul li:after {content:"";width:8px;height:8px;border:1px solid #cac3ff;position:absolute;right:0;top:-6px;background:#fff;border-radius:100%;transform:translate(50%, 0);z-index:1;}
.solAi .progress ul li > p {-webkit-transform:translateX(50%);white-space:nowrap;font-size:12px;color:#8d7fff;text-align:center;;display:none;}
.solAi .progress ul li > p:first-child {display:block;}
.solAi .progress ul li:first-child > p {width:50px;-webkit-transform: translateX(-50%);}
.solAi .progress ul li > p:first-child {margin-top:12px;}
.solAi .progress ul li.on > p {color: #6d5ee7;} 
.solAi .progress ul li.on > p:first-child {font-weight: 700;} 
.solAi .progress ul li.on:after {background:#8d7fff;border-color:#8d7fff;}
.solAi .progress ul li.now:before {content:"";width:20px;height:20px;position:absolute;right:0;top:-11px;border-radius:100%;transform:translate(50%, 0);background:#8d7fff ;opacity:0.2;}
.solAi .progress ul li.empty {width:28%;}
.solAi .progress ul li.empty + li {width:28%;}
.solAi .progress ul li.empty p {color:#3789dc;}
.solAi .progress ul li.empty.on:after {background:#3789dc;border-color:#3789dc;}
.solAi .progress ul li.empty:before {content:"";width:20px;height:20px;position:absolute;right:0;top:-11px;border-radius:100%;transform:translate(50%, 0);background:#3789dc;opacity:0.2;}
.solAi .progress ul li.empty p.arrow {height:15px;background:url(../../images/solRobo/TBD/icon_arrow_blue.gif) no-repeat center center;background-size:auto 80%;margin-top:5px;}
.solAi .progress .date {margin-top:5px;}
.solAi .progress .msg {margin-top:8px;}
.solAi .progress .msg > span {display:inline-block;border:1px solid #6d5ee7;border-radius:2px;position:relative;}
.solAi .progress .msg > span:before {content:"";width:5px;height:5px;border:solid #6d5ee7;border-width:1px 1px 0 0;position:absolute;left:50%;top:-4px;-webkit-transform:translateX(-50%) rotate(-45deg);background:#fff;}
.solAi .progress .msg.end > span {border-color:#c5c5c5;color:#777;}
.solAi .progress .msg.end > span:before {border-color:#c5c5c5;}
.solAi .progress .msg span em {display:inline-block;position:relative;padding:0 5px 0 3px;line-height:1.4;}
.solAi .progress .msg span em:before {content:"";width:1px;height:13px;background:#6d5ee7;position:absolute;left:-2px;bottom:0;}
.solAi .progress .msg span em:first-child {padding-left:5px;}
.solAi .progress .msg span em:first-child:before {display:none;}
.solAi .progress .msg .balance {background:#3789dc;display:inline-block;color:#fff;line-height:1.4;padding:0 5px;border:1px solid #3789dc;border-radius:2px;position:relative;padding-right:13px;}
.solAi .progress .msg .balance:after {content:"";width:5px;height:5px;border:solid #fff;border-width:1px 1px 0 0;position:absolute;right:5px;top:50%;-webkit-transform:translateY(-50%) rotate(45deg)}
.solAi .aiPortCard .prdList {display: none; background: #fbfbfb; padding: 20px 16px 0 16px; margin: 0 -16px -16px -16px;}

/* 포트관리 > 포트상세 */
.solAi.portManage .portDetail .aiPortCard {border-radius: none; box-shadow: none; padding-bottom: 16px; margin-top: 0;}
.solAi.portManage .portDetail .aiPortCard .progress ul li > p {display: block;}
.solAi.portManage .portDetail .aiPortCard .btnGroupBox {position: initial; width: initial; box-sizing: border-box; padding: 0 11%; margin: 20px -16px -16px;}
.solAi.portManage .portDetail .aiPortCard .btnGroupBox .btnType {height: 76px; font-size: 12px; color: #777; border-left: none;}
.solAi.portManage .portDetail .aiPortCard .btnGroupBox .btnType[disabled] {background: #fff !important; color: #777 !important; opacity: 0.5;}
.solAi.portManage .portDetail .aiPortCard .btnGroupBox .btnType span {flex-direction: column;}

.solAi.portManage .portDetail .productChange {background-color: #fff;}

/* 포트관리 > 리밸런싱 */
.portRebal .aiPortCard:first-child {margin-top: 0;}
.portRebal .productChange input[type="checkbox"]:checked + label:before {background: url(../../images/solAI/icon_check_purple.png) no-repeat; background-size: 19px auto;}
.portRebal .boxTyGray2 {padding: 20px 24px; background: #f7f7f8;}
.portRebal .RebalBox .conBox.lineType {margin-top: 16px; border-color: #ddd; border-radius: 6px;}
.portRebal .RebalBox .conBox.lineType .formAreaBox .inputBox dd {width: 85px; border-color: #ddd9ff;}
.portRebal .recomPort::before {content: none;}
.portRebal .btnType3.fontS.txtBlack5::after {margin-top: -3px; padding-right: 10px;}
.portRebal .iconTyLabelAi10 {background: #fff1f3; border-color: #fff1f3; color: #eb3d4f; font-weight: 700; height: 18px; line-height: 18px; width: 23px; vertical-align: bottom;}
.portRebal .iconTyLabelAi11 {background: #eaf4ff; border-color: #eaf4ff; color: #3789dc; font-weight: 700; height: 18px; line-height: 18px; width: 23px; vertical-align: bottom;}
.portRebal .iconTyLabelAi12 {background: #f5f5f5; border-color: #f5f5f5; color: #666; font-weight: 700; height: 18px; line-height: 18px; width: 23px; vertical-align: bottom;}
.portRebal .assetPortList li {display: flex; align-items: center; margin-top: 23px;}
.portRebal .assetPortList li .value {margin-left: auto;}
.portRebal .assetPortList li .after::before {content: ''; width: 10px; height: 7px; display: inline-block; background: url(../../images/solAI/arrow2_right.png) no-repeat; background-size: 10px auto; margin: 0 4px 2px;}
.portRebal .assetPortList li .per {padding-right: 10px; font-size: 12px;}

.portRebal .makingPrd .formAreaBox .inputBox dd {border-color: #ddd9ff;}

/* 포트관리 > 보유 포트 현황 */
.portRebal .innerBox.rdTop {border-top-left-radius: 24px; border-top-right-radius: 24px; padding: 40px 16px 0;}
.portRebal .boxTyRound {padding: 20px;}

/* 포트관리 > 포트묶음관리 */
.solAi.portBundle .aiPortCard:first-child {margin-top: 0;}
.solAi.portBundle .makingPrd .listTypeTable .row .prdBtnDel {top: 8px; right: 5px;}
.portBundle .btnWrap {display: flex; flex-direction: column; align-items: center; padding: 20px 0;}
.portBundle .btnWrap .btnSmall.line {width: 90px; background: transparent; margin-top: 15px;}

/* 자산/건강도 진단 */
.assetHealth .boxTyList.colType {display: block;}
.assetHealth .boxTyList.colType > div {width: 100%;}
.assetHealth .boxTyList.colType > div:nth-of-type(even) {margin: 10px 0 0;}
.assetHealth .boxType .boxTyRound {padding: 10px;}

.assetHealth .contAccordion {margin-top: 3px;}
.assetHealth .contAccordion .AccorTitle .tit {height: 62px; background-color: #f8f9fb; font-size: 14px; font-weight: 400;}
.assetHealth .contAccordion.on .AccorTitle .tit {background-color: #eee; font-weight: 700;}
.assetHealth .contAccordion .AccorCont {background-color: #f7f7f8; padding: 30px 20px;}

.assetHealth .assetChkUp .graphArea .annotation {margin: 20px -9px 0; background-color: #f8f9fb; padding: 7.5px 12px; border-radius: 4px;}
.assetHealth .assetChkUp .graphArea .annotation .dateNote {display: flex; align-items: center; justify-content: center;}
.assetHealth .assetChkUp .graphArea .annotation .dateNote li:first-child .mark {width: 20px; height: 3px;}
.assetHealth .assetChkUp .graphArea .annotation .dateNote li:last-child .mark {width: 21px;}
.assetHealth .assetChkUp .graphArea .annotation .dateNote li + li {margin-left: 10px;}

.assetHealth .graphArea.totalAssets {margin-top: 20px;}
.assetHealth .graphArea.totalAssets .legendList {width: 288px; margin: 20px auto 0; display: flex; flex-wrap: wrap; justify-content: center;}
.assetHealth .graphArea.totalAssets .legendList > li {width: 50%; margin-bottom: 4px;}



/* 자산/건강도 진단 > 항목별 진단 */
.solAi.assetHealth .graphArea.profitLoss {padding-bottom: 7px;}
.solAi.assetHealth .graphArea.profitLoss .legendList {margin-top: 13px; display: flex; padding-left: 46px;}
.solAi.assetHealth .graphArea.profitLoss .legendList > li {margin-right: 10px;}
.solAi.assetHealth .graphArea.assetTrend .legendList {margin-top: 12px; display: flex; flex-wrap: wrap;}
.solAi.assetHealth .graphArea.assetTrend .legendList > li {width: 50%; margin-bottom: 4px;}
.solAi.assetHealth .boxTyRound ul {padding: 0 5px;}
.solAi.assetHealth .boxTyRound ul .sliderBarWrap .txtArea .tit {color: #6161e9;}
.solAi.assetHealth .boxTyRound ul .sliderBarWrap:nth-child(2) .txtArea .tit {color: #0abfb0;}
.solAi.assetHealth .boxTyRound ul .sliderBarWrap:last-child .txtArea .tit {color: #fd8d10;}
.solAi.assetHealth .boxTyRound ul .sliderBarWrap:nth-child(2) .sliderBar.type2 .bar {background-color: #0abfb0;}
.solAi.assetHealth .boxTyRound ul .sliderBarWrap:last-child .sliderBar.type2 .bar {background-color: #f9c12b;}
.solAi.assetHealth .boxTyList .sliderBarWrap:first-child {margin-top: 20px;}

/* 자산/건강도 진단 > 포트진단 */ 
.assetHealth .diagNone .fontSS {display: flex; align-items: center; justify-content: center; text-align: center;}
.assetHealth .diagNone .fontSS .iconTySol8 {display: none;}
.assetHealth .diagNone .boxTyShadow {padding: 24px 20px 20px; margin-top: 18px;}
.assetHealth .diagNone .boxTyShadow .txtBlack5 {height: 184px; padding-right: 140px; line-height: 1.7; background: url('../../images/solAI/img_main_character02.png') no-repeat right 10px top 18px; background-size: 122px 166px; margin: 20px 0 24px;}
.assetHealth .listTitleBox .subTit .num {font-size: 15px; padding: 0 10px; height: 24px; line-height: 24px; border-radius: 12px; border: 1px solid #dedee1; margin-left: 6px;}
.assetHealth .portStatusList {margin: 0 -20px;}
.assetHealth .portStatusList > li  + li {margin-top: 30px;}
.assetHealth .portStatusList > li .topCard {background-color: #f7f6ff; border-top-left-radius: 35px; padding: 30px 24px 25px;}
.assetHealth .portStatusList > li.diyTy .topCard {background-color: #f4f9ff;}
.assetHealth .portStatusList > li .topCard [class*=iconTyLabelAi] {height: 18px; line-height: 18px; vertical-align: top;}
.assetHealth .portStatusList > li .topCard .listTypeTable .row + .row {margin-top: 15px;}
.assetHealth .portStatusList > li .topCard .boxTyRound {display: flex;}
.assetHealth .portStatusList > li .topCard .boxTyRound .barChart {flex: 1; padding: 20px 0 20px 20px;}
.assetHealth .portStatusList > li .topCard .tit .fontNL {font-weight: 700; padding-left: 9px;}
.assetHealth .portStatusList > li .topCard .tit +  .boxTyRound {padding: 10px 20px; display: block;}
.assetHealth .portStatusList .contAccordion .AccorCont .txt.al {margin-top: 16px;}

.assetHealth .graphArea.assetPort {margin-top: 20px; padding-bottom: 4px; display: flex; align-items: center; justify-content: center;}
.assetHealth .graphArea.assetPort .legendList {padding-left: 20px;}
.assetHealth .graphArea.assetPort .legendList > li + li {margin-top: 6px;}

/* 자산/건강도 진단 > 개별상품진단 */
.assetHealth .assetChkUp .boxTyRound.round6 {padding: 15px 20px; margin-top: 10px;}

/* 자산/건강도 진단 > 투자가이던스 */
.assetHealth .btnType3.fontS::after {margin-top: -3px;} 

/* 프리미어 서비스 > 서비스안내 */
.premierService .serviceList {position: relative; padding-top: 50px; margin-top: 20px;}
.premierService .serviceList::before {content: ''; display: block; width: 1px; height: 30px; background: #ccc; position: absolute; top: 0; left: 50%;}
.premierService .serviceList li {text-align: center; padding: 0 14.5px;}
.premierService .serviceList li + li {margin-top: 30px;}

/* 프리미어 서비스 > 프리미어 이벤트 > 목록 */
.solAi .eventList li {margin-top: 30px; position: relative;}
.solAi .eventList li a {display: block;}
.solAi .eventList li .imgBox {margin-bottom: 8px;}
.solAi .eventList li .tit {font-size: 13px;}
.solAi .eventList li .date {font-size: 12px; color: #999; margin-top: 4px;}
.solAi .eventList li .iconTyRdBox2 {position: absolute; top: 8px; left: 8px; z-index: 9;}
.solAi .eventList li .imgBox {position: relative;}
.solAi .eventList li.end .imgBox::after {content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color: #000; opacity: 0.6;}
.solAi .eventList li .iconTyRdLine1 {height: 18px; line-height: 18px; font-size: 10px; border-radius: 10px; min-width: 36px; text-align: center; font-weight: 700; margin-bottom: 9px;}

/* 프리미어 서비스 > 프리미어 이벤트 > 상세 */
.premierEvent .eventTop {text-align: center; background-color: #f7f7f8; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px; padding: 20px;}
.premierEvent .eventTop .giftImg {overflow: hidden; margin-top: 20px;}
.premierEvent .eventTop .giftImg > .swiper-pagination-bullets {position: unset; margin-top: 10px;}
.premierEvent .eventTop .giftImg > .swiper-pagination-bullets .swiper-pagination-bullet {border: none; background-color: #d8d8d8; margin: 0 3px;}
.premierEvent .eventTop .giftImg > .swiper-pagination-bullets .swiper-pagination-bullet-active {width: 39px; border-radius: 3px; background-color: #aaa;}
.premierEvent .quizeArea {margin: 57px 0 10px;}
.premierEvent .quizeArea .question::before {content: ''; position: absolute; top: -70px; right: 4px; width: 191px; height: 70px; background: url(../../images/solAI/img_character04.png) no-repeat; background-size: 191px auto;}
.premierEvent .quizeArea .question {position: relative; padding: 16px 16px 20px; margin-bottom: 40px; border-radius: 8px; background: #7c6fe4; color: #fff; font-weight: 700; font-size: 16px; line-height: 1.625; box-shadow: 6px 6px 0 0 #e8e6f7;}
.premierEvent .quizeArea .question::after {content: ""; display: block; background: #7c6fe4; height: 24px; width: 23px; position: absolute; bottom: -11px; left: 40px; transform: rotate(62deg) skew(24deg); box-shadow: 8px 1px 0 0 #e8e6f7;}
.premierEvent .quizeArea .formAreaBox .inputBox dd {border-color: #eee;}
.premierEvent .quizeArea .formAreaBox .inputBox input {font-size: 18px;}
.premierEvent .quizeArea .checkList input + label {padding-left: 40px;}


.eventApply .formAreaBox .inputBox.tel .telDiv input:first-child,
.premierEvent .formAreaBox .inputBox.tel .telDiv input:first-child {width: 33px;}

.premierEvent .innerBox.lineType {padding: 20px 16px;}
.premierEvent .innerBox.lineType .subTit2 {margin: 0 0 5px;}
.premierEvent .iconTyRdLine1 {height: 18px; line-height: 18px; min-width: 36px; text-align: center; border-radius: 10px; font-weight: 700; margin-bottom: 8px;}

/* 프리미어 서비스 > 프리미어 Monthly Report > 내 자산 현황 */
.monthlyReport .tabViewWrap {margin-top: 30px;}
.monthlyReport .monthlyBg {position: relative; background: url(../../images/solAI/bg_round.png) no-repeat 0 0; background-size: 100% 360px; padding: 40px 16px 0;}
.monthlyReport .titM {margin-bottom: 20px;}
.monthlyReport .titM + .fontZ {margin-top: -10px;}
.monthlyReport .formAreaBox.bold {color: #fff; font-size: 22px;}
.monthlyReport .formAreaBox.bold .inputBox {display: inline-block; vertical-align: -2px; margin-top: 2px; margin-right: 8px; width: 66px;}
.monthlyReport .formAreaBox.bold .inputBox dl {display: inline-block; vertical-align: bottom; min-height: 32px;}
.monthlyReport .formAreaBox.bold .inputBox dd {border-color: #fdde80;}
.monthlyReport .formAreaBox.bold .inputBox input {font-size: 22px; color: #fdde80; font-weight: 700; height: 32px; background: transparent;}
.monthlyReport .formAreaBox.bold .inputBox input[readonly] + .btn {top: 2px;}
.monthlyReport .formAreaBox.bold .inputBox .btn .iconTy40 {background: url('../../images/solAI/arrow_bot_yellow.png') no-repeat; width: 16px; height: 16px; background-size: 16px auto;}
.monthlyReport .fontSSS.txtWhite1 {opacity: 0.7; margin: 12px 0 40px;}
.monthlyReport .boxTyShadow {padding: 24px 20px;}
.monthlyReport .boxTyShadow + .boxTyShadow {margin-top: 11px;}
.monthlyReport .btnArea {margin-top: 40px;}
.monthlyReport .btnArea button {width: 100%; display: block; justify-content: center; text-align: center; height: 56px; border-radius: 6px; font-size: 16px; font-weight: 700;}

.monthlyReport .AssetsTxt {font-size: 12px; color: #666; margin-top: 6px;}
.monthlyReport .AssetsTxt .txtRed1::before {content: ''; display: inline-block; background: url(../../images/icon_stock.png) no-repeat 0 0; width: 8px; height: 6px; background-size: 8px auto; margin: 0 4px 2px 6px;}
.monthlyReport .AssetsTxt .txtRed1.down::before {transform: rotate(180deg);}
.monthlyReport .AssetsTxt .txtBlue2::before {content: ''; display: inline-block; background: url(../../images/icon_stock.png) no-repeat 0 -8px; width: 8px; height: 6px; background-size: 8px auto; margin: 0 4px 2px 6px; transform: rotate(180deg);}
.monthlyReport .AssetsTxt .txtBlue2.down::before {transform: rotate(0deg);}
.monthlyReport .graphArea {margin-top: 34px;}
.monthlyReport .graphArea .legendList {margin-top: 30px;}
.monthlyReport .graphArea .legendList li {display: flex; align-items: center; margin-bottom: 12px;}
.monthlyReport .graphArea .legendList li:last-child {margin-bottom: 0;}
.monthlyReport .graphArea .legendList span {margin-right: 6px;}
.monthlyReport .legendList .legend {display: inline-block; width: 10px; height: 10px; border-radius: 100%; flex-shrink: 0;}
.monthlyReport .graphArea .legendList p {margin-left: auto;}

/* 프리미어 서비스 > 프리미어 Monthly Report > 초개인화그룹 비교 */
.monthlyReport .filterPick {font-size: 0; margin-bottom: 20px;}
.monthlyReport .filterPick li {padding: 4px 10px; border-radius: 20.5px; border: 1px solid #eee; font-size: 12px; display: inline-block; margin: 0 4px 6px 0; color: #6d5ee7;}
.monthlyReport .filterPick + .boxTyRound {padding: 16px;}
.monthlyReport .swipe {overflow: hidden; margin-top: 30px; padding-bottom: 7px;}
.monthlyReport .swipe .legendList {display: flex; margin-top: 15px;}
.monthlyReport .swipe .legendList > li {font-size: 0; margin-right: 16px;}
.monthlyReport .swipe .legendList > li .legend {width: 12px; height: 12px; margin-right: 8px; vertical-align: sub;}
.monthlyReport .tabTy01.aiType01 .swiper-wrapper {display: table; width: 100%; table-layout: fixed; margin: 0 -1px;}

.monthlyReport .iconTySol4 {width: 18px; height: 18px; background-size: 18px auto; margin: 0 3px 4px;}
.monthlyReport .formAreaBox.type3 .inputBox {margin-top: 30px;}
.monthlyReport .formAreaBox.type3 .inputBox:first-child {margin-top: 20px;}
.monthlyReport .formAreaBox.type3 .inputBox.transTerm .dateInput dd .btn {top: 5px; right: 0;}

/* 프리미어 서비스 > 프리미어 Monthly Report > 이달의 스케쥴 */
.monthlyReport .boxTyRound {padding: 20px;}
.monthlyReport .eventList li {margin-top: 20px;}
.monthlyReport .newsList li {margin-top: 20px;} 
.monthlyReport .newsList li > a {display: flex;} 
.monthlyReport .newsList li > a .imgBox {width: 100px; height: 70px; background-color: #f7f7f8; border-radius: 6px; flex-shrink: 0; margin-right: 16px; background-image: url(../../images/solAI/icon_shinhan_gray.png); background-repeat: no-repeat; background-size: 44px auto; background-position: center;} 
.monthlyReport .newsList li > a .tit {font-size: 14px;} 
.monthlyReport .newsList li > a .date {font-size: 12px; color: #999; margin-top: 8px;} 
.monthlyReport .js-tab-swiper-type4 {overflow: hidden; width: 100%;} 
.monthlyReport .swiper-pagination {position: unset; margin-top: 15px;} 
.monthlyReport .swiper-pagination .swiper-pagination-bullet {border: none; background: #d8d8d8; margin: 0 3px;} 
.monthlyReport .swiper-pagination .swiper-pagination-bullet-active {background: #aaa; width: 39px; border-radius: 3px;} 
.monthlyReport .topList {border-top: 1px solid #eee; margin-top: 20px;} 
.monthlyReport .topList li {display: flex; align-items: center; padding: 20px 0; border-bottom: 1px solid #eee;} 
.monthlyReport .topList li .rank {width: 46px; flex-shrink: 0; font-weight: 700; font-size: 12px;} 
.monthlyReport .topList li:first-child .rank::before {content: ''; width: 16px; height: 16px; display: block; background: url(../../images/solAI/icon_grade1.png) no-repeat 0 0; background-size: 16px auto; margin-left: 1px;} 
.monthlyReport .topList li:nth-child(2) .rank::before {content: ''; width: 16px; height: 16px; display: block; background: url(../../images/solAI/icon_grade2.png) no-repeat 0 0; background-size: 16px auto; margin-left: 1px;} 
.monthlyReport .topList li:nth-child(3) .rank::before {content: ''; width: 16px; height: 16px; display: block; background: url(../../images/solAI/icon_grade3.png) no-repeat 0 0; background-size: 16px auto; margin-left: 1px;} 
.monthlyReport .topList li .tit {margin-top: 10px; font-weight: 700;} 

/* 프리미어 서비스 > 1:1전문가 상담 안내 */
.proConsult .boxTyShadow {padding: 24px;}
.proConsult .btnType2.purple02 {display: block; border-radius: 4px; text-align: center; height: 46px; line-height: 46px; margin-top: 30px;}


/* 프리미어 서비스 > 1:1전문가 상담 > 자산관리컨시어지뱅킹 */
.conciBank .topGuide {padding: 30px 16px; background-color: #5840a6; border-bottom-left-radius: 24px; border-bottom-right-radius: 24px;}
.conciBank .topGuide .sBubble {padding: 30px 16px; margin-top: 23px; text-align: left; background: #fff; border-radius: 10px;}
.conciBank .topGuide .sBubble::before {transform: none; top: -12px; left: 10%; border-width: 12px; border-bottom-color: #fff;}
.conciBank .topGuide .sBubble::after {content: ''; width: 94px; height: 81px; background: url(../../images/solAI/img_main_character02.png) no-repeat; background-size: 94px auto; position: absolute; top: -81px; right: 24px;}
.conciBank .topGuide .imgBox img {max-width: 296px; height: auto; margin: 0 auto;}
.conciBank .topGuide .flexBox {display: flex;}
.conciBank .topGuide .flexBox > strong {flex-shrink: 0;}

.conciBank .topGuide .boxTyRound {border-radius: 10px; padding: 20px; margin-top: 8px;}
.conciBank .topGuide .boxTyRound ul li {margin-bottom: 5px;}

.conciBank .stepArea {position: relative; padding: 6px 0 6px 5px;}
.conciBank .stepArea li {display: flex; position: relative;}
.conciBank .stepArea::before {content: ''; background-color: #f2f1ff; width: 30px; height: 100%; position: absolute; top: 0; left: 0; border-radius: 14.5px;}
.conciBank .stepArea li .step {width: 20px; height: 20px; flex-shrink: 0; background-color: #7c6fe4; color: #fff; border-radius: 100%; font-size: 12px; color: #fff; font-weight: 700; text-align: center; line-height: 20px;}
.conciBank .stepArea li .step::after {content: ''; display: block; width: 8px; height: 25px; background: url(../../images/solAI/arrow_step_next.png) no-repeat; background-size: 8px auto; margin: 11px auto 0;}
.conciBank .stepArea li:last-child .step::after {content: none}
.conciBank .stepArea li .txtWrap {margin-left: 18px;}
.conciBank .stepArea li .txtWrap .txtBlack5 {padding-bottom: 20px;}

/* 프리미어 서비스 > 1:1전문가 상담 > 세무상담 */
.taxConsult .boxTyRound {position: relative; padding: 24px; margin: 114px 0 24px; overflow: unset;}
.taxConsult .boxTyRound::before {content: ''; width: 180px; height: 121px; position: absolute; top: -95px; right: 0; background: url(../../images/solAI/img_character03.png); background-size: 180px auto;}
.taxConsult .boxTyRound .dotList > li {padding-left: 11px;}
.taxConsult .boxTyRound .dotList > li::before {background: #333;}

/* 프리미어 서비스 > WM매거진 */
.wmLetter .innerBox.type02 {padding: 40px 24px 20px !important;}
.wmLetter .conBox.lineType {margin-top: 30px; padding: 20px 20px 24px; border-color: #ddd; border-radius: 10px;}
.wmLetter .conBox.lineType .dotList.half {display: flex; flex-wrap: wrap;}
.wmLetter .conBox.lineType .dotList.half li {box-sizing: border-box; width: 50%; margin-bottom: 4px;}
.wmLetter .conBox.lineType .dotList.half li + li {margin-top: 0;}
.wmLetter .btnType3.fontS::after {margin-bottom: 3px;}
.wmLetter input[type="radio"] + label:before {width:18px; height:18px; background: none; border: 1px solid #ddd; border-radius: 100%;}
.wmLetter input[type="radio"]:checked + label:before {border-color: #6d5ee7;}
.wmLetter input[type="radio"]:checked + label::after {content:''; display: inline-block; box-sizing: border-box; position: absolute; top: 6px; left: 5px; width:10px; height:10px; border-radius: 100%; background-color: #6d5ee7;}