@charset "utf-8";

/*ux basic*/
body.uxBasic{color:#121619;}
body.uxBasic input, body.uxBasic textarea, body.uxBasic select, body.uxBasic table, body.uxBasic button, body.uxBasic code {color:#121619;}
body.uxBasic, .uxBasic p, .uxBasic h1, .uxBasic h2, .uxBasic h3, .uxBasic h4, .uxBasic h5, .uxBasic h6, .uxBasic ul, .uxBasic ol, .uxBasic li, .uxBasic dl, .uxBasic dt, .uxBasic dd, .uxBasic table, .uxBasic th, .uxBasic td, .uxBasic form, .uxBasic fieldset, .uxBasic legend, .uxBasic input, .uxBasic textarea, .uxBasic button, .uxBasic menu, .uxBasic a, .uxBasic span{line-height:1.6;}
body.uxBasic .subTitWrap .snbDep02.type01 .tit,
body.uxBasic .subTitWrap .snbDep02.type01 .tit *{line-height:1.3;}

/* color */
.txtBlack7{color:#565c63 !important;}
.txtBlack8{color:#808892 !important;}
.txtBlack9{color:#121619 !important;}
.txtBlack10{color:#b9c1c9 !important;}
.txtBlack11{color:#343a3f !important;}

/* form */
.formAreaBox.boxTy2 .inputBox + .inputBox{margin-top:22px;}
.formAreaBox.boxTy2 .inputBox dl{display:block;}
.formAreaBox.boxTy2 .inputBox dt{display:block;color:#121619;width:auto;}
.formAreaBox.boxTy2 .inputBox dd{display:block;border:1px solid #d6dbe1;border-radius:6px;overflow:hidden;margin-top:10px;}
.formAreaBox.boxTy2 .inputBox dd.on{border:1px solid #0471e9;}
.formAreaBox.boxTy2 .inputBox{margin:0;}
.formAreaBox.boxTy2 .inputBox input:not([type="checkbox"]):not([type="radio"]){height:54px;line-height:54px;font-size:14px;padding-left:16px;font-weight:normal;color:#121619;background:none;}
.formAreaBox.boxTy2 .inputBox input:not([type="checkbox"]):not([type="radio"])::placeholder{color:#b9c1c9;}
.formAreaBox.boxTy2 .inputBox dd .btnDelete{right:0;top:0;height:auto;width:auto;bottom:0;padding-right:18px;}
.formAreaBox.boxTy2 .iconTy28{width:20px;height:20px;background-image:url(../../images/icon_delete5.png);}
.formAreaBox.boxTy2 .inputBox.wrong dd{border-color:#eb3d4f !important;}
.formAreaBox.boxTy2 .inputBox.wrong dd.on{border:1px solid #0471e9 !important;}
.formAreaBox.boxTy2 .inputBox.wrong .error{font-size:11px;line-height:1.6;margin:6px 0 0 16px;}
.formAreaBox.boxTy2 .inputBox.wrong .error:before{display:none;}
.formAreaBox.boxTy2 .inputBox.disabled dd,
.formAreaBox.boxTy2 .inputBox.readonly dd{background:#f8f9fc;}
.formAreaBox.boxTy2 .inputBox input:not([type="checkbox"]):not([type="radio"])[disabled=disabled]{color:#b9c1c9 !important;}
.formAreaBox.boxTy2 .inputBox input:not([type="checkbox"]):not([type="radio"])[readonly=readonly]{color:#565c63 !important;}
.formAreaBox.boxTy2 .inputBox .btn{top:0;right:0;width:54px;height:54px;line-height:54px;padding:0 16px;box-sizing:border-box;}
.formAreaBox.boxTy2 .inputBox .btn .iconTy29{width:20px;height:20px;background-image:url(../../images/icon_search6.png);}
.formAreaBox.boxTy2 .inputBox .btn .iconTy40 {width:12px;margin:0 3px}
.formAreaBox.boxTy2 .inputBox.button input:not([type="checkbox"]):not([type="radio"]) {padding-right:88px;}
.formAreaBox.boxTy2 .inputBox.button input:not([type="checkbox"]):not([type="radio"])[readonly=readonly] {padding-right:52px;}
.formAreaBox.boxTy2 .inputBox.button dd .btnDelete {right:52px;padding-right:0;}
.formAreaBox.boxTy2 .inputBox.button2 input:not([type="checkbox"]):not([type="radio"]) {width:calc(100% - 100px);}
.formAreaBox.boxTy2 .inputBox.button2 .btnDelete {right:77px;}
.formAreaBox.boxTy2 .inputBox.button2 .btnCheck {position:absolute;right:11px;top:50%;transform:translateY(-50%);padding:0 9px;height:32px;line-height:30px;color:#121619;border:1px solid #d6dbe1;border-radius:3px;background:#fff;}
.formAreaBox.boxTy2 .inputBox.button2 .btnCheck[disabled] {color:#b9c1c9 !important;}
.formAreaBox.boxTy2 .inputBox .fieldTxt{width:100%;height:54px;line-height:54px;padding:0 52px 0 16px;font-weight:normal;font-size:14px;}
.formAreaBox.boxTy2 .textarea {display:block;width:100%;height:101px;padding:16px;box-sizing:border-box;}
.formAreaBox.boxTy2 .textarea::placeholder{color:#b9c1c9;}
.formAreaBox.boxTy2 .memo2 dl {padding-bottom:25px;}
.formAreaBox.boxTy2 .memo2 dd {position:initial;}
.formAreaBox.boxTy2 .memo2 .textareaCount {top:initial;bottom:0;}
.formAreaBox.type2.lineTy2 .inputBox + .inputBox{margin-top:24px;padding-top:0;}
.formAreaBox.type2.lineTy2 .inputBox dt{color:#368ded;padding-bottom:0;position:relative;}
.formAreaBox.type2.lineTy2 .inputBox dd{border-color:#d6dbe1;}
.formAreaBox.type2.lineTy2 .inputBox dd.on{border-bottom:1px solid #0471e9;}
.formAreaBox.type2.lineTy2 input:not([type="checkbox"]):not([type="radio"]){color:#121619;font-size:16px;height:43px;line-height:43px;font-weight:normal;}
.formAreaBox.type2.lineTy2 input:not([type="checkbox"]):not([type="radio"])::placeholder{color:#b9c1c9;}
.formAreaBox.type2.lineTy2 .inputBox dd .btnDelete{width:24px;}
.formAreaBox.type2.lineTy2 .iconTy28{width:20px;height:20px;background-image:url(../../images/icon_delete5.png);}
.formAreaBox.type2.lineTy2 .inputBox.wrong dd{border-color:#eb3d4f !important;}
.formAreaBox.type2.lineTy2 .inputBox.wrong dd.on{border-bottom:1px solid #0471e9 !important;}
.formAreaBox.type2.lineTy2 .inputBox.wrong .error{font-size:12px;line-height:1.7;margin-top:4px;}
.formAreaBox.type2.lineTy2 .inputBox.wrong .error:before{display:none;}
.formAreaBox.type2.lineTy2 .inputBox input:not([type="checkbox"]):not([type="radio"])[disabled=disabled]{color:#b9c1c9 !important;}
.formAreaBox.type2.lineTy2 .inputBox input:not([type="checkbox"]):not([type="radio"])[readonly=readonly]{color:#808892 !important;}
.formAreaBox.type2.lineTy2 .inputBox.button input:not([type="checkbox"]):not([type="radio"])[readonly=readonly]{color:#121619 !important;}
.formAreaBox.type2.lineTy2 .inputBox.col{display:flex;}
.formAreaBox.type2.lineTy2 .inputBox.col > *:first-child{margin-right:30px;}
.formAreaBox.type2.lineTy2 .fieldTxt > *{vertical-align:middle;}
.formAreaBox.type2.lineTy2 .fieldTxt img{width:18px;}
.formAreaBox.type2.lineTy2 .fieldTxt span{display:inline-block;font-size:16px;line-height:43px;}

.formAreaBox.type2.lineTy2 .inputBox .price .tit{position:absolute;left:0;top:10px;font-size:16px;color:#121619;font-weight:normal;}
.formAreaBox.type2.lineTy2 .inputBox .price input:not([type="checkbox"]):not([type="radio"]){text-align:right;padding:0 0 0 50px;font-weight:bold;}
.formAreaBox.type2.lineTy2 .inputBox .price + dd{margin-top:15px;}
.formAreaBox.type2.lineTy2 .inputBox dt .titInfo{position:absolute;right:0;top:2px;font-size:12px;color:#565c63;}
.formAreaBox.type2.lineTy2 .inputBox.address dd .txtAddr{font-weight:normal;color:#121619;min-height:0;padding:9px 30px 10px 0;}
.formAreaBox.type2.lineTy2 .inputBox.address dd .btn{top:5px;}
.formAreaBox.type2.lineTy2 .inputBox.address dd .btn .iconTy29{width:20px;height:20px;background:url(../../images/icon_search6.png) no-repeat;background-size:100% auto;}
.formAreaBox.type2.lineTy2 .inputBox.address dd + dd{margin-top:15px;}
.formAreaBox.type2.lineTy2 .inputBox .btn{height:33px;line-height:33px;right:0;width:100%;text-align:right;}
.formAreaBox.type2.lineTy2 .inputBox .btn .iconTy40{width:20px;height:20px;background:url(../../images/icon_fromBoxArrow_4.png) no-repeat;background-size:100% auto;}
.formAreaBox.type2.lineTy2 .inputBox.address .tyInput input:not([type="checkbox"]):not([type="radio"]){padding-right:58px;}
.formAreaBox.type2.lineTy2 .inputBox.address .tyInput .btnDelete {right:27px}
.formAreaBox.type2.lineTy2 .inputBox.address .tyInput .btn {width:30px;}
.formAreaBox.type2.lineTy2 .inputBox.search2 .btn {width:40px;right:-11px;text-align:center}
.formAreaBox.type2.lineTy2 .inputBox.search2 input {padding-right:70px}
.formAreaBox.type2.lineTy2 .inputBox.search2 dd .btnDelete {right:30px}

.formAreaBox.type2.lineTy2 .inputBox dd.radio {margin-top:10px;border-bottom:0}
.formAreaBox.type2.lineTy2 .inputBox dd.radio span + span {margin-left:30px}

/* 디자인 가이드 없이 작업(임시) */
.formAreaBox.type2.lineTy2 .inputBox.tel .telDiv {-webkit-display:flex;display:flex;-webkit-flex-direction:row;flex-direction:row;-webkit-align-items:center;align-items:center;padding-right:110px}
.formAreaBox.type2.lineTy2 .inputBox.tel .telDiv input:first-of-type {width:25%}
.formAreaBox.type2.lineTy2 .inputBox.tel .telDiv input {width:37.5%;padding-right:0}
.formAreaBox.type2.lineTy2 .inputBox.tel .telDiv .btnDelete {right:80px}

.formAreaBox.type2.lineTy2 .inputBox.btnR input {padding-right:110px}
/* 인풋 내에 삭제 버튼 + 변경버튼 있을때 */
.formAreaBox.type2.lineTy2 .inputBox.btnR2 input {padding-right:86px}
.formAreaBox.type2.lineTy2 .inputBox.btnR2 .btnDelete {right:56px;}
.formAreaBox .inputBox .btnLineR {display:block;position:absolute;right:0;bottom:6px;padding:0 9px;height:32px;border:1px solid #d6dbe1;border-radius:4px;text-align:center;line-height:30px;box-sizing:border-box}
.formAreaBox .inputBox .btnLineR.on {color:#0471e9;border-color:#0471e0}
.formAreaBox .inputBox .btnLineR[disabled] {border-color:#d6dbe1;color:#d6dbe1}
.formAreaBox .inputBox.wrong .btnLineR {color:#121619}
.formAreaBox.boxTy2 .inputBox.btnR input {padding-right:125px}
.formAreaBox.boxTy2 .btnLineR {right:12px;bottom:11px}

.formAreaBox.accountSelect.tyN01 button {position:relative;padding-bottom:5px;border-bottom:1px solid #d6dbe1}
.formAreaBox.accountSelect.tyN01 .tit {margin-bottom:10px}
.formAreaBox.accountSelect.tyN01 .text {color:#121619;font-weight:normal}
.formAreaBox.accountSelect.tyN01 .account {color:#565c63;font-size:12px}
.formAreaBox.accountSelect.tyN01 .price {margin-top:4px;color:#565c63;font-size:12px}
.formAreaBox.accountSelect.tyN01 .price em {font-size:12px}
.formAreaBox.accountSelect.tyN01 button > .btn {position:absolute;right:0;bottom:9px}
.formAreaBox.accountSelect.tyN01 .btn .iconTy40 {width:20px;height:20px;background:url('../../images/icon_fromBoxArrow_4.png') no-repeat;background-size:100% auto}
.formAreaBox.accountSelect.tyN01 .error {font-size:12px}
.formAreaBox.accountSelect.tyN01.wrong button{border-color:#eb3d4f;}
.formAreaBox.accountSelect.tyN01 .placeholder{color:#b9c1c9;font-size:16px}
.formAreaBox.accountSelect.tyN02 button {position:relative;padding:16px;border:1px solid #ebeff5;border-radius:12px;box-shadow:0 2px 4px 0 rgba(0,0,0,0.04);}
.formAreaBox.accountSelect.tyN02 .tit {margin-bottom:10px;color:#121619;}
.formAreaBox.accountSelect.tyN02 .text {color:#121619;line-height:1.3;}
.formAreaBox.accountSelect.tyN02 .account {font-size:12px;line-height:1;color:#121619;}
.formAreaBox.accountSelect.tyN02 .account.icon {padding-left:25px;}
.formAreaBox.accountSelect.tyN02 .account.tyBrd {position:relative;display:inline-block}
.formAreaBox.accountSelect.tyN02 .account.tyBrd:before {content:'';display:block;position:absolute;bottom:-3px;right:0;width:calc(100% - 25px);height:1px;background:#b9c1c9}
.formAreaBox.accountSelect.tyN02 button > .btn {position:absolute;top:17px;right:20px}
.formAreaBox.accountSelect.tyN02 .btn .iconTy40{width:12px;opacity:0.5;}
.formAreaBox .inputBox.tyN01 .rdoAreaTy2 {margin-top:6px}
.formAreaBox .inputBox.tyN01 .rdoAreaTy2 input[type="radio"] + label {color:#121619;background:#f3f6fb}
.formAreaBox .inputBox.tyN01 .rdoAreaTy2 input[type="radio"]:checked + label {color:#fff;background:#368ded}

.formAreaBox.type3.tyN01 .tit {color:#368ded}
.formAreaBox.type3.tyN01 .inputBox.calRange.type02 .dateBox {margin-top:0}
.formAreaBox.type3.tyN01 .inputBox.calRange.type02 .dateBox dd {width:calc((100% - 32px) / 2);border-color:#d6dbe1}
.formAreaBox.type3.tyN01 .inputBox.calRange.type02 .dateBox dd input {height:44px;font-size:16px;font-weight:400}
.formAreaBox.type3.tyN01 .inputBox.calRange.type02 .dateBox dd:first-child:after {width:28px;color:#b9c1c9}
.formAreaBox.type3.tyN01 .inputBox.wrong .error {margin-top:4px;font-size:12px}
.formAreaBox.type3.tyN01 .inputBox.wrong .error:before {display:none}
.formAreaBox.type3.tyN01 .inputBox + .inputBox {margin-top:24px}
.formAreaBox.type3.tyN02 .inputBox.calRange.type02 .dateBox dd {padding:0 10px;border:1px solid #ddd;border-radius:6px;box-sizing:border-box;}
.formAreaBox.type3.tyN02 .inputBox.calRange.type02 .dateBox dd:first-child:after{content:"-";height:44px;line-height:44px;}
.formAreaBox.type3.tyN02 .inputBox.calRange.type02 .dateBox dd input {height:44px;font-size:16px;font-weight:400}
.formAreaBox.type3.tyN02 .inputBox.calRange.type02 .dateBox dd .btn {width:calc(100% - 26px);right:10px;top:7px;}
.formAreaBox.type3.tyN02 .inputBox.calRange.type02 .dateBox input:not([type="checkbox"]):not([type="radio"]) {text-align:center;}

/* 상단 sub title step */
.uxBasic div[class*=subTitWrap] .titCont {background:#f8f9fc}
.uxBasic .subTitWrap .snbDep02 {padding:15px 16px;border-bottom:0}
.uxBasic .subTitWrap .snbDep02.type01 .tit {font-size:14px;color:#565c63}
.uxBasic .subTitWrap .snbDep02.type01 .subStateInfo {top:14px}
.uxBasic .subTitWrap .subStateInfo li {margin-left:4px;font-size:10px;color:#808892;border-color:#d6dbe1}
.uxBasic .subTitWrap .subStateInfo li.on {color:#fff;border-color:#368ded;background:#368ded}
.uxBasic .subTitWrap .subStateInfo li.off {border-color:#368ded;background-size:15px auto}

/* bullet */
.dotList.tyGuide > li{color:#808892;padding-left:6px;}
.dotList.tyGuide > li:before{background:#808892;top:9px;}
.dotList[class*=tyNm] > li{color:#121619;}
.dotList[class*=tyNm] > li:before{background:#565c63;top:9px;}
.dotList.tyNm > li + li{margin-top:2px;}
.boxTyGray4 {padding:16px 20px;border-radius:8px;background:#f8f9fc}
.boxTyGray4 .dotList li {color:#121619}
.boxTyGray4 .dotList > li:before {background:#21272a}
.boxTyGray4.notice{padding:16px;border-radius:0;word-break:keep-all;}
.iconTit{position:relative;padding-left:40px;margin-top:30px;margin-bottom:13px;}
.iconTit img{position:absolute;left:0;bottom:0;width:34px;} 
.iconTit span{font-size:18px;font-weight:bold;}

/* checkbox */
input[type="checkbox"].chk.ty2 {width:20px;height:20px;background-image:url('../../images/icon_checkbox_60x60.png');background-size:20px auto}
input[type="checkbox"].chk.ty2:checked {background-position:0 -20px}
input[type="checkbox"].chk.ty2:disabled {background-position:0 -40px}
input[type="checkbox"].chk.ty2:checked:disabled {background-position:0 -60px}
.chkLabel {margin-right:2px;color:#343a3f}
.chkLabel.disabled {color:#bbb}
input[type="checkbox"].chk.ty2 + .chkLabel {top:unset;margin-left:2px;margin-right:0;padding:0;vertical-align:middle}
.chkLong{position:relative;margin:3px 0 0;}
.chkLong input[type="checkbox"]{position:absolute;left:0;top:0;}
.chkLong input[type="checkbox"] + label{display:block;padding:1px 0 0 21px;}

/* radio */
input[type="radio"].chk.ty2 {width:20px;height:20px;background-image:url('../../images/icon_radio_60x60.png');background-size:20px auto}
input[type="radio"].chk.ty2:checked {background-position:0 -20px}
input[type="radio"].chk.ty2:disabled {background-position:0 -40px}
input[type="radio"].chk.ty2:checked:disabled {background-position:0 -60px}
input[type="radio"].chk.ty2 + label {margin-left:2px;margin-right:0;padding:0;top:0;vertical-align:middle}
.rdoLabel {margin-right:2px;color:#121619}
.rdoLabel.disabled {color:#bbb}

/* label */
[class*="txtLabel"] {display:inline-block;padding:3px;font-style:normal;font-size:12px;vertical-align:middle;border:1px solid;border-radius:2px;box-sizing:border-box;line-height:1}
.txtLabelRed1 {color:#eb3d4f;border-color:#eb3d4f}
.txtLabelBlue1 {color:#0471e9;border-color:#0471e9}

/*button*/
.btnType3.tyBlue{font-size:14px;color:#0471e9;position:relative;padding-right:20px;}
.btnType3.tyBlue:after{width:6px;height:6px;border:solid #0471e9;background:0;border-width:1.5px 1.5px 0 0;position:absolute;right:8px;top:50%;-webkit-transform:translateY(-50%) rotate(45deg)}
.btnType3.txtBlue9 span{font-weight:bold;font-size:14px;}
.btnType3.txtBlue9:after{border-color:#368ded;border-width:1.5px 1.5px 0 0}
.btnMoreArrow{border:1px solid #d6dbe1;border-radius:6px;display:block;text-align:center;margin-top:12px;}
.btnMoreArrow span{display:inline-block;height:46px;line-height:46px;position:relative;padding-right:17px;}
.btnMoreArrow span:after{content:"";width:7px;height:7px;border:solid #121619;border-width:0 1.5px 1.5px 0;position:absolute;right:0;top:50%;-webkit-transform:translateY(-90%) rotate(45deg)}
.btnMoreArrow2{display:block;margin-top:12px;padding:0 16px;border-radius:6px;background:#ebeff5}
.btnMoreArrow2 span{display:block;position:relative;height:50px;line-height:50px;}
.btnMoreArrow2 span:after{content:"";position:absolute;right:2px;top:50%;-webkit-transform:translateY(-50%) rotate(45deg);width:7px;height:7px;border:solid #808892;border-width:1px 1px 0 0;}

/* 하단 버튼 */
.uxBasic [class*=btnType].btnBlack {background:#ebeff5;color:#121619}
.uxBasic [class*=btnType][disabled] {background:#ebeff5 !important;color:#b9c1c9 !important}
.uxBasic [class*=btnType].btnBlack[disabled] {color:#b9c1c9 !important}

/* line */
.lineTy09{height:1px;margin-top:30px;margin-bottom:30px;background:#ebeff5;border: none;}

/* tab */
.tabTy01.tabN01 a {color:#121619;background:#f3f6fb}
.tabTy01.tabN01 a.on {color:#fff;background:#368ded}

/* box */
.uxBasic .innerBox.line:after, .innerBox:after {background:#f3f6fb}

/* icon */
.iconTy27_5{width:16px;height:16px;background:url('../../images/icon_q05.png') no-repeat 0 0;background-size:100% auto;}

/* listTitle */
.listTitleBox.tyN01 {margin-bottom:10px}
.listTitleBox.tyN01 .listTit {font-size:14px !important;color:#121619;}
/* list table */
.listTypeTable.tyN01 + .listTypeTable.tyN01 {margin-top:24px}
.listTypeTable.tyN01 .listTitleBox .listTit {font-size:16px;color:#121619}
.listTypeTable.lineType.tyN01 > ul {border-top:1px solid #565c63}
.listTypeTable.lineType.tyN01 .row {padding:10px 0;border-bottom:1px solid #ebeff5}
.listTypeTable.tyN01 .row .leftCol {vertical-align:middle}
.listTypeTable.tyN01 .row .leftCol .tit {color:#808892}
.listTypeTable.tyN01 .row .leftCol .tit2 {color:#343a3f;font-weight:bold;}
.listTypeTable.tyN01 .row .rightCol .txt {color:#565c63}
.listTypeTable.tyN01 .row .rightCol .txt2 {color:#121619;font-weight:bold;}

.listTypeTable.lineType2.tyN01 .listTitleBox {margin-bottom:10px}
.listTypeTable.lineType2.tyN01 .listTitleBox .listTit {font-size:14px;font-weight:700}
.listTypeTable.lineType2.tyN01 > ul {padding:13px 0;border-top:1px solid #565c63;border-bottom:0}
.listTypeTable.lineType2.tyN01 .row .leftCol {width:116px;padding-right:10px;vertical-align:top}
.listTypeTable.lineType2.tyN01 .row .leftCol .tit {line-height:1.8}
.listTypeTable.lineType2.tyN01 .row .rightCol {vertical-align:top}
.listTypeTable.lineType2.tyN01 .row .rightCol .txt {color:#121619;line-height:1.8}
.listTypeTable.lineType2.tyN01 .row + .row {margin-top:7px}
.listTypeTable.lineType2.tyN01 + .listTypeTable.lineType2.tyN01 {margin-top:11px}

/* table */
.tblTyDefault2{width:100%;}
.tblTyDefault2 th, .tblTyDefault2 td {border-width:1px 0;border-style:solid;border-color:#ebeff5;word-break:keep-all;word-break:break-word;text-align:center;}
.tblTyDefault2 thead th {padding:10px;border-top-color:#565c63;background-color:#f8f9fc;}
.tblTyDefault2 td {padding:15px 10px;}
.tblTyDefault2 tbody th, .tblTyDefault2 tfoot th {color:#808892;}
.tblTyDefault2.line td {padding:10px;}
.tblTyDefault2.line th, .tblTyDefault2.line td {border-width:1px;}
.tblTyDefault2.line th:first-child, .tblTyDefault2.line td:first-child {border-left-width:0;}
.tblTyDefault2.line th:last-child, .tblTyDefault2.line td:last-child {border-right-width:0;}
.tblTyDefault2.line thead tr:first-child th{position:relative;border-top:0;}
.tblTyDefault2.line thead tr:first-child th:before{content:"";position:absolute;left:0;top:-1px;right:-1px;height:1px;background:#565c63;}
.tblTyDefault2.line thead th:last-child:before{right:0;}
.tblTyDefault2.rowType tbody th{background:#f8f9fc;color:#121619;}
.tblTyDefault2.rowType.line tr:first-child > *{position:relative;border-top:0;}
.tblTyDefault2.rowType.line tr:first-child > *:before{content:"";position:absolute;left:0;top:0;right:-1px;height:1px;background:#565c63;}

/* terms */
.termsBox.tyN01 {overflow:hidden;margin:20px 0 0;border-color:#d6dbe1;border-radius:6px;position:relative;z-index:1;}
.termsBox.tyN01 .titArea {padding:0 16px;background:#f8f9fc;}
.termsBox.tyN01 .titArea input[type="checkbox"].chk.ty2 {position:absolute;left:16px;z-index:2;margin-top:-10px;}
.termsBox.tyN01 .titArea input[type="checkbox"].chk.ty2 + .chkLabel,
.termsBox.tyN01 .titArea .label {padding:14px 0 14px 32px;font-size:14px;color:#21272a;} /* 링크타입 : ux 정리 안됨(2021-08-23 추후 수정가능) */
.termsBox.tyN01 .titArea input[type="checkbox"].chk.ty2 + .chkLabel {margin-left:0;}
.termsBox.tyN01 .titArea .label:before {width:20px;height:20px;background-image:url(../../images/icon_checkbox_60x60.png);background-size:20px auto}
.termsBox.tyN01 .titArea .on .label:before {background-position:0 -20px;}
.termsBox.tyN01 .contArea {padding:16px 16px 20px;border-top:1px solid #d6dbe1;}
.termsBox.tyN01 + .error {margin-top:12px;} /* ux 정리 안됨 */
.termsBox.tyN01 .titArea .arrowLink.slide{background:0;}
.termsBox.tyN01 .titArea .arrowLink.slide:after{content:"";width:7px;height:7px;border:solid #121619;border-width:0 1.5px 1.5px 0;position:absolute;right:16px;top:50%;-webkit-transform:translateY(-70%) rotate(45deg)}
.termsBox.tyN01 .titArea .arrowLink.slide.on:after{-webkit-transform:translateY(-30%) rotate(225deg)}
/* 링크 타입 추가 2021-10-13 */
.termsBox.tyN01 .termsList {padding:16px 0 20px}
.termsBox.tyN01 .termsList > li {padding:0 52px 0 16px}
.termsBox.tyN01 .termsList > li > a {font-size:14px;color:#21272a}
.termsBox.tyN01 .termsList > li .label {padding-left:24px}
.termsBox.tyN01 .termsList > li .label:before {width:20px;height:20px;top:0;left:-2px}
.termsBox.tyN01 .termsList > li .label.on:before {background-position:4px 6px}
.termsBox.tyN01 .termsList li .arrowLink {width:52px;top:2px;background:none}
.termsBox.tyN01 .termsList li .arrowLink:after {content:'';display:block;position:absolute;top:50%;left:50%;width:7px;height:7px;border:solid #121619;border-width:1.5px 1.5px 0 0;transform:translate(-50%, -50%) rotate(45deg)}

/* layer popup */
.uxBasic .layerPopWrap .layerHeader .layerTit {line-height:1.3;}
.layerPopWrap.type4 .popInner{left:20px;right:20px;-webkit-transform:translateY(-50%);width:auto;}
.layerPopWrap.type4 .layerCon{padding:30px 20px;margin:0;}
.layerPopWrap.type4 .btnGroupBox > .btnType{height:56px;line-height:56px;font-size:17px;background:#0471e9;}
.layerPopWrap.type4 .btnGroupBox > .btnType.btnBlack{background:#ebeff5;color:#121619;}
.layerPopWrap.type5 .popInner{background:#fff;}
.layerPopWrap.type5 .layerCon{padding:30px 20px;}
.layerPopWrap.type5 .btnGroupBox > .btnType{height:50px;line-height:50px;font-size:16px;background:#0471e9;}
.layerPopWrap.type5 .btnGroupBox > .btnType.btnBlack{background:#e8ebf0;color:#121619;}

/* bs */
.layerPopBottomWrap.type4 .btnPopClose {background:url('../../images/icon_close7.png') no-repeat center / 24px}

/* Message(img+tit+txt) */
.noDataBox2 {padding:55px 0;text-align:center;}
.noDataBox2 .tit {margin-top:10px;font-size:16px;font-weight:bold;}
.noDataBox2 .txt {margin-top:2px;color:#808892}

.productChange.tyN01 .productBox{border-bottom:1px solid #ebeff5;}
.productChange.tyN01 .productBox:last-child {border-bottom:none;}
.productChange.tyN01 .productBox input[type="checkbox"].chk.ty2 {position:absolute;left:16px;top:50%;transform:translateY(-50%);margin-top:0;}
.productChange.tyN01 .titProduct {font-size:16px;color:#121619;}
.productChange.tyN01 .labelGroup {margin-bottom:10px}
.productChange.tyN01 .labelGroup [class*=iconTy] {height:18px;line-height:18px;border-radius:2px;}
.boxList.tyN01 {padding:0 20px;border-color:#ebeff5;border-radius:12px;box-shadow:0 2px 8px 0 rgba(0,0,0,0.04)}
.boxList.tyN01 li {border-color:#ebeff5;}
.boxList.tyN01 li a {padding:16px 19px 16px 0;font-size:14px;}
.boxList.tyN01 li a:after {right:4px;}
.boxList.tyN02 {border:0 none}
.boxList.tyN02 li {margin-top:12px;border:1px solid #ebeff5;border-radius:12px;}
.boxList.tyN02 li .inner {padding:13px 19px;}
.boxList.tyN02 li input[type="checkbox"].chk.ty2 + .chkLabel {margin-left:8px}
.boxListN li {margin-top:8px;border:1px solid #d6dbe1;border-radius:4px;}
.boxListN li a {display:block;position:relative;padding:6px 8px;color:#121619;}
.boxListN li:first-chlid {margin-top:0;}

/* 설문조사 */
.surveyWrap .shortPageInner {padding-bottom:0}
.surveyWrap .surveyTop {padding:50px 20px 20px;height:102.4vw;background:url('../../images/bg_survey_top.png') no-repeat left top / 100% auto;box-sizing:border-box}
.surveyWrap .surveyTop .surveyTit {font-weight:bold;font-size:14px}
.surveyWrap .surveyTop .surveyTit span {font-size:24px}
.surveyWrap .surveyTop .surveyTit .txtLineBl {position:relative;color:#368ded;}
.surveyWrap .surveyTop .surveyTit .txtLineBl:before {content:'';display:block;position:absolute;bottom:2px;left:0;width:100%;height:12px;background:rgba(4, 113, 233, 0.1)}
.surveyWrap .surveyTop .surveyTxt {margin-top:20px;color:#808892}
.surveyWrap .surveyCont {padding:24px 20px 90px;background:#f3f6fb}
.surveyWrap .surveyBox {padding:20px 16px;border-radius:12px;box-shadow:0 2px 4px 0 rgba(22, 37, 66, 0.08);background:#fff}
.surveyWrap .surveyBox + .surveyBox {margin-top:12px}
.surveyWrap .surveyBox .surveyNum {display:inline-block;padding:1px 5px 2px;font-size:11px;font-weight:bold;color:#368ded;text-align:center;border-radius:2px;background:#e5f0fc}
.surveyWrap .surveyBox .surveyQ {margin-top:7px;color:#000;font-weight:bold;font-size:14px;line-height:1.8}
.surveyWrap .surveyBox .surveyQ span {color:#565c63}
.surveyWrap .surveyBox .surveyA {margin-top:16px}
.surveyWrap .surveyBox .surveyA .chk {margin-top:2px;vertical-align:top}
.surveyWrap .surveyBox .surveyA label {margin-left:5px !important;color:#121619;width:calc(100% - 30px);line-height:1.7}
.surveyWrap .surveyBox .surveyA li + li {margin-top:10px}
.surveyWrap .surveyBox .surveyA.typCol {-webkit-display:flex;display:flex;-webkit-justify-content:space-between;justify-content:space-between;margin-bottom:24px}
.surveyWrap .surveyBox .surveyA.typCol li + li {margin-top:0}
.surveyWrap .surveyBox .surveyA.typCol label {width:auto}
.surveyWrap .surveyBox .surveyDefault {-webkit-display:flex;display:flex;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;height:385px;background:#f8f9fc;border-radius:12px}
.surveyWrap .surveyBox .surveyDefault .txt {text-align:center;color:#0471e9}
.surveyWrap .surveySelList li {display:none}
.surveyWrap .surveySelList li.on {display:block;text-align:center}
.surveyWrap .surveySelList img {width:240px}
.surveyWrap .surveyBox .surveyTxtarea {display:block;padding:16px;width:100%;height:152px;border:1px solid #d6dbe1;border-radius:6px;box-sizing:border-box;resize:none}
.surveyWrap .surveyBox .surveyTxtarea::placeholder {color:#b9c1c9}

