<ion-header>

    <div class="header_top">
        <h1>
            <a (click)="goPage('/',false)">villiv</a>
        </h1>
        <span><img src="assets/common/logo_right.svg" alt="빌리브 라이프 서비스"><!-- 빌리브 라이프 서비스 --></span>
    </div>

    <div id="menu-dimmer" (click)="closeMenu()" [ngClass]="{'on' : isShow, 'off' : !isShow}"></div>

    <nav [ngClass]="getMenuClassName()" ><!-- 모바일에선 하단 fixed_menu - 메뉴 클릭시 class="on" 적용 -->
        <div class="nav_wrap">
            <div class="right">
                <span>
                    <img class="mo" src="assets/common/logo_right_mo.svg" alt="빌리브 라이프 서비스">
                    <img class="pc" src="assets/common/logo_right_pc.svg" alt="빌리브 라이프 서비스"><!-- 빌리브 라이프 서비스 -->
                </span>
                <div class="apt_info">
                    <span class="">{{globalVars.bzNm}}</span>
                    <!-- 앱에서는 비노출 -->
                    <a *ngIf="!globalVars.isApp" (click)="openSelectBzPopup()" class="btn_gray">단지선택</a>
                    <!-- 앱에서만 노출 -->
                    <div class="app_right" *ngIf="globalVars.isApp">
                        <!-- TODO 미확인 알림 개수 api-->
                        <a (click)="goPage(menuTypeConstants.PUSH.URL)" class="btn_notification">알림함<span>2</span></a>
                        <a (click)="goPage(menuTypeConstants.SETTING.URL,false)" class="btn_app_settings">{{menuTypeConstants.SETTING.MNU_NM}}</a>
                    </div>
                </div>
            </div>
            <div class="util">
                <ul>
                    <!-- 로그인 전 -->
                    <li *ngIf="!globalVars.isLogin;else other_content">
                        <a (click)="goPage(menuTypeConstants.LOGIN.URL,false)">{{menuTypeConstants.LOGIN.MNU_NM}}</a>
                    </li>
                    <!-- // 로그인 전 -->
                    <!-- 로그인 후 -->
                    <ng-template #other_content>
                        <li>
                             <span>{{globalVars.userDetail?.blNo}}동 {{globalVars.userDetail?.rmNo}}호 {{globalVars.userDetail?.custNm}}</span>
                        </li>
                        <li class="gnb_mym">
                            <a (click)="openMyMnuPopup()">마이메뉴</a>
                        </li>
                        <!-- 앱에서는 비노출 -->
                        <li *ngIf="!globalVars.isApp" >
                            <a (click)="onClickLogout()">로그아웃</a>
                        </li>
                    </ng-template>
                    <!-- // 로그인 후 -->
                </ul>
            </div>
            <div class="gnb_area_wrap">
                <!-- pc일때 메뉴-->
                <ul *ngIf="globalVars.isPc" class="gnb menu-list">
                    <li (mouseleave)="onMouseLeave(menu1)">
                        <h2 [ngClass]="menu1.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu1)" class="acc_header">
                            <a title="빌리브 스토리">빌리브 스토리</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu1>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.VLV_STORY.MNU_ID)">
                                <a [dir]="menuTypeConstants.VLV_STORY.URL" (click)="goPage(menuTypeConstants.VLV_STORY.URL,false)" class="link">{{menuTypeConstants.VLV_STORY.MNU_NM}}</a>
                            </li>
                            <li>
                                <a [dir]="menuTypeConstants.VLV_LSM.URL" (click)="goPage(menuTypeConstants.VLV_LSM.URL,false)" class="link">{{menuTypeConstants.VLV_LSM.MNU_NM}}</a>
                            </li>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.VLV_LSM_MGZ.MNU_ID)">
                                <a [dir]="menuTypeConstants.VLV_LSM_MGZ.URL" (click)="goPage(menuTypeConstants.VLV_LSM_MGZ.URL,false)" class="link">{{menuTypeConstants.VLV_LSM_MGZ.MNU_NM}}</a>
                            </li>
                        </ul>
                    </li>
                    <li (mouseleave)="onMouseLeave(menu2)">
                        <h2 [ngClass]="menu2.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu2)" class="acc_header">
                            <a title="우리 단지 서비스">우리 단지 서비스</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu2>
                            <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_KIDSCARE.MNU_ID)">
                                <a class="subm acc_header">{{menuTypeConstants.BS_KIDSCARE.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_KIDSCARE.MNU_ID);">
                                        <a [dir]="menuTypeConstants.BS_KIDSCARE.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_KIDSCARE.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_HEALTH.MNU_ID)">
                                <a class="subm acc_header">{{menuTypeConstants.BS_HEALTH.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_HEALTH.MNU_ID);">
                                        <a [dir]="menuTypeConstants.BS_HEALTH.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_HEALTH.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_SOCIAL.MNU_ID)">
                                <a class="subm acc_header">{{menuTypeConstants.BS_SOCIAL.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_SOCIAL.MNU_ID);">
                                        <a [dir]="menuTypeConstants.BS_SOCIAL.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_SOCIAL.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_LIFE.MNU_ID)">
                                <a class="subm acc_header">{{menuTypeConstants.BS_LIFE.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_LIFE.MNU_ID);">
                                        <a [dir]="menuTypeConstants.BS_LIFE.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_LIFE.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_SSG.MNU_ID)">
                                <a class="subm acc_header">{{menuTypeConstants.BS_SSG.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_SSG.MNU_ID);">
                                        <a [dir]="menuTypeConstants.BS_SSG.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_SSG.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a [dir]="menuTypeConstants.BS_CULTURE.URL" (click)="goPage(menuTypeConstants.BS_CULTURE.URL)">{{menuTypeConstants.BS_CULTURE.MNU_NM}}</a>
                            </li>
                        </ul>
                    </li>
                    <li (mouseleave)="onMouseLeave(menu3)">
                        <h2 [ngClass]="menu3.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu3)" class="acc_header">
                            <a title="커뮤니티" >커뮤니티</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu3>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_NTC.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_CM_NTC.URL" (click)="goPage(menuTypeConstants.LC_CM_NTC.URL)" >{{menuTypeConstants.LC_CM_NTC.MNU_NM}}</a>
                            </li>
                            <li class="" *ngIf="isExistChildMnu([menuTypeConstants.LC_CM_CSB.MNU_ID,menuTypeConstants.LC_CM_LAN.MNU_ID,menuTypeConstants.LC_CM_CNW.MNU_ID,menuTypeConstants.LC_CM_SHR.MNU_ID])">
                                <a title="빌리브 생활공감" class="subm acc_header">{{menuTypeConstants.LC_CM_CSB.MNU_NM}}</a>
                                <ul class="dep3 on">
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_CSB.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_CSB.URL" (click)="goPage(menuTypeConstants.LC_CM_CSB.URL)" >{{menuTypeConstants.LC_CM_CSB.MNU_NM}}</a>
                                    </li>
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_LAN.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_LAN.URL" (click)="goPage(menuTypeConstants.LC_CM_LAN.URL)" >{{menuTypeConstants.LC_CM_LAN.MNU_NM}}</a>
                                    </li>
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_CNW.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_CNW.URL" (click)="goPage(menuTypeConstants.LC_CM_CNW.URL)" >{{menuTypeConstants.LC_CM_CNW.MNU_NM}}</a>
                                    </li>
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_SHR.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_SHR.URL" (click)="goPage(menuTypeConstants.LC_CM_SHR.URL)" >{{menuTypeConstants.LC_CM_SHR.MNU_NM}}</a>
                                    </li>
                                </ul>
                            </li>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_LET.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_CM_LET.URL" (click)="goPage(menuTypeConstants.LC_CM_LET.URL)" >{{menuTypeConstants.LC_CM_LET.MNU_NM}}</a>
                            </li>
                            <li *ngIf="isExistChildMnu([menuTypeConstants.LC_CM_POL.MNU_ID,menuTypeConstants.LC_CM_VOT.MNU_ID])">
                                <a title="설문/투표" class="subm acc_header">설문/투표</a>
                                <ul class="dep3 on" >
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_POL.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_POL.URL" (click)="goPage(menuTypeConstants.LC_CM_POL.URL)" >{{menuTypeConstants.LC_CM_POL.MNU_NM}}</a>
                                    </li>
                                    <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_VOT.MNU_ID)">
                                        <a [dir]="menuTypeConstants.LC_CM_VOT.URL" (click)="goPage(menuTypeConstants.LC_CM_VOT.URL)" >{{menuTypeConstants.LC_CM_VOT.MNU_NM}}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li (mouseleave)="onMouseLeave(menu4)">
                        <h2 [ngClass]="menu4.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu4)" class="acc_header">
                            <a title="이벤트&혜택">이벤트&혜택</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu4>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_SSG.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_EVT_SSG.URL" (click)="goPage(menuTypeConstants.LC_EVT_SSG.URL)" title="신세계 라이프스타일">{{menuTypeConstants.LC_EVT_SSG.MNU_NM}}</a>
                            </li>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_VLV.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_EVT_VLV.URL" (click)="goPage(menuTypeConstants.LC_EVT_VLV.URL)" >{{menuTypeConstants.LC_EVT_VLV.MNU_NM}}</a>
                            </li>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_CCL.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_EVT_CCL.URL" (click)="goPage(menuTypeConstants.LC_EVT_CCL.URL)" >{{menuTypeConstants.LC_EVT_CCL.MNU_NM}}</a>
                            </li>
                        </ul>
                    </li>
                    <li (mouseleave)="onMouseLeave(menu5)">
                        <h2 [ngClass]="menu5.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu5)" class="acc_header">
                            <a title="고객 서비스">고객 서비스</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu5>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CS_FAQ.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_CS_FAQ.URL" (click)="goPage(menuTypeConstants.LC_CS_FAQ.URL,false)" >{{menuTypeConstants.LC_CS_FAQ.MNU_NM}}</a>
                            </li>
                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CS_INQ.MNU_ID)">
                                <a [dir]="menuTypeConstants.LC_CS_INQ.URL" (click)="goPage(menuTypeConstants.LC_CS_INQ.URL)" >{{menuTypeConstants.LC_CS_INQ.MNU_NM}}</a>
                            </li>
                            <!-- 10.29 추가 : 카카오톡 채널 -->
                            <li *ngIf="isExistKakaoChnl()" class="channel">
                                <a (click)="goPage(this.kakaoChnl,true,true)" >{{menuTypeConstants.LC_CS_KAKAO.MNU_NM}}</a>
                            </li>
                            <!-- // 10.29 추가 : 카카오톡 채널 -->
                        </ul>
                    </li>
                    <li (mouseleave)="onMouseLeave(menu6)">
                        <h2 [ngClass]="menu6.hidden ? '' : 'on'" (mouseenter)="onMouseEnter(menu6)" class="acc_header">
                            <a title="마이 페이지">마이 페이지</a>
                        </h2>
                        <ul class="dep2 on" [hidden]="true" #menu6>
                            <li>
                                <a [dir]="menuTypeConstants.MP_INFO.URL" (click)="goPage(menuTypeConstants.MP_INFO.URL)" >{{menuTypeConstants.MP_INFO.MNU_NM}}</a>
                            </li>
                            <li>
                                <a [dir]="menuTypeConstants.MP_HOME.URL" (click)="goPage(menuTypeConstants.MP_HOME.URL)" >{{menuTypeConstants.MP_HOME.MNU_NM}}</a>
                            </li>
                            <li>
                                <a [dir]="menuTypeConstants.MP_BILL.URL" (click)="goPage(menuTypeConstants.MP_BILL.URL)" >{{menuTypeConstants.MP_BILL.MNU_NM}}</a>
                            </li>
                            <li>
                                <a [dir]="menuTypeConstants.MP_PARTNER.URL" (click)="goPage(menuTypeConstants.MP_PARTNER.URL)" >{{menuTypeConstants.MP_PARTNER.MNU_NM}}</a>
<!--                                <a (click)="ingPage()" >{{menuTypeConstants.MP_PARTNER.MNU_NM}}</a>-->
                            </li>
                            <li>
                                <a (click)="goPage(menuTypeConstants.MP_SVC.URL)" >{{menuTypeConstants.MP_SVC.MNU_NM}}</a>
<!--                                <a [dir]="menuTypeConstants.MP_SVC.URL" (click)="ingPage()" >{{menuTypeConstants.MP_SVC.MNU_NM}}</a>-->
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--// pc일때 메뉴-->
                <!-- mobile 일때 메뉴-->
                <ng-container *ngIf="!globalVars.isPc">
                    <ul class="gnb_tab">
                        <li [ngClass]="selectedMenuTabIndex == 0 ? 'on' : 'off'"><a (click)="changeMenuTab(0)">메뉴</a></li>
                        <li [ngClass]="selectedMenuTabIndex == 1 ? 'on' : 'off'"><a (click)="changeMenuTab(1)">우리 단지 서비스</a></li>
                    </ul>
                    <ion-slides #menuSlider
                                (ionSlideDidChange)="onSlideChanged()"
                                pager="false"
                                style="height: 100%"
                                [options]="{
                                    initialSlide: 0,
                                    speed: 600}"
                    >


                            <ion-slide style="display: block;">
                                <div [ngClass]="globalVars.isApp ? 'app-menu-wrapper' : 'menu-wrapper' ">
                                    <ul style="text-align: left;" class="gnb menu-list">
                                    <li>
                                        <h2 class="acc_header on">
                                            <a title="빌리브 스토리">빌리브 스토리</a>
                                            </h2>
                                            <ul class="dep2 on">
                                                <li *ngIf="isExistMnuByMnuId(menuTypeConstants.VLV_STORY.MNU_ID)">
                                                <a [dir]="menuTypeConstants.VLV_STORY.URL" (click)="goPage(menuTypeConstants.VLV_STORY.URL,false)" class="link">{{menuTypeConstants.VLV_STORY.MNU_NM}}</a>
                                            </li>
                                            <li>
                                                <a [dir]="menuTypeConstants.VLV_LSM.URL" (click)="goPage(menuTypeConstants.VLV_LSM.URL,false)" class="link">{{menuTypeConstants.VLV_LSM.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.VLV_LSM_MGZ.MNU_ID)">
                                                <a [dir]="menuTypeConstants.VLV_LSM_MGZ.URL" (click)="goPage(menuTypeConstants.VLV_LSM_MGZ.URL,false)" class="link">{{menuTypeConstants.VLV_LSM_MGZ.MNU_NM}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li >
                                        <h2 class="acc_header on">
                                            <a title="커뮤니티" >커뮤니티</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_NTC.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_NTC.URL" (click)="goPage(menuTypeConstants.LC_CM_NTC.URL)" >{{menuTypeConstants.LC_CM_NTC.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_CSB.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_CSB.URL" (click)="goPage(menuTypeConstants.LC_CM_CSB.URL)" >{{menuTypeConstants.LC_CM_CSB.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_LAN.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_LAN.URL" (click)="goPage(menuTypeConstants.LC_CM_LAN.URL)" >{{menuTypeConstants.LC_CM_LAN.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_CNW.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_CNW.URL" (click)="goPage(menuTypeConstants.LC_CM_CNW.URL)" >{{menuTypeConstants.LC_CM_CNW.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_SHR.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_SHR.URL" (click)="goPage(menuTypeConstants.LC_CM_SHR.URL)" >{{menuTypeConstants.LC_CM_SHR.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_LET.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_LET.URL" (click)="goPage(menuTypeConstants.LC_CM_LET.URL)" >{{menuTypeConstants.LC_CM_LET.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_POL.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_POL.URL" (click)="goPage(menuTypeConstants.LC_CM_POL.URL)" >{{menuTypeConstants.LC_CM_POL.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CM_VOT.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CM_VOT.URL" (click)="goPage(menuTypeConstants.LC_CM_VOT.URL)" >{{menuTypeConstants.LC_CM_VOT.MNU_NM}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h2 class="acc_header on">
                                            <a title="이벤트&혜택">이벤트&혜택</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_SSG.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_EVT_SSG.URL" (click)="goPage(menuTypeConstants.LC_EVT_SSG.URL)" title="신세계 라이프스타일">{{menuTypeConstants.LC_EVT_SSG.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_VLV.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_EVT_VLV.URL" (click)="goPage(menuTypeConstants.LC_EVT_VLV.URL)" >{{menuTypeConstants.LC_EVT_VLV.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_EVT_CCL.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_EVT_CCL.URL" (click)="goPage(menuTypeConstants.LC_EVT_CCL.URL)" >{{menuTypeConstants.LC_EVT_CCL.MNU_NM}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h2 class="acc_header on">
                                            <a title="고객 서비스">고객 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CS_FAQ.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CS_FAQ.URL" (click)="goPage(menuTypeConstants.LC_CS_FAQ.URL,false)" >{{menuTypeConstants.LC_CS_FAQ.MNU_NM}}</a>
                                            </li>
                                            <li *ngIf="isExistMnuByMnuId(menuTypeConstants.LC_CS_INQ.MNU_ID)">
                                                <a [dir]="menuTypeConstants.LC_CS_INQ.URL" (click)="goPage(menuTypeConstants.LC_CS_INQ.URL)" >{{menuTypeConstants.LC_CS_INQ.MNU_NM}}</a>
                                            </li>
                                            <!-- 10.29 추가 : 카카오톡 채널 -->
                                            <li *ngIf="isExistKakaoChnl()" class="channel">
                                                <a (click)="goPage(this.kakaoChnl,true,true)" >{{menuTypeConstants.LC_CS_KAKAO.MNU_NM}}</a>
                                            </li>
                                            <!-- // 10.29 추가 : 카카오톡 채널 -->
                                        </ul>
                                    </li>
                                    <li >
                                        <h2 class="acc_header on">
                                            <a title="마이 페이지">마이 페이지</a>
                                        </h2>
                                        <ul class="dep2 on" >
                                            <li>
                                                <a [dir]="menuTypeConstants.MP_INFO.URL" (click)="goPage(menuTypeConstants.MP_INFO.URL)" >{{menuTypeConstants.MP_INFO.MNU_NM}}</a>
                                            </li>
                                            <li>
                                                <a [dir]="menuTypeConstants.MP_HOME.URL" (click)="goPage(menuTypeConstants.MP_HOME.URL)" >{{menuTypeConstants.MP_HOME.MNU_NM}}</a>
                                            </li>
                                            <li>
                                                <a [dir]="menuTypeConstants.MP_BILL.URL" (click)="goPage(menuTypeConstants.MP_BILL.URL)" >{{menuTypeConstants.MP_BILL.MNU_NM}}</a>
                                            </li>
                                            <li>
                                                <a [dir]="menuTypeConstants.MP_PARTNER.URL" (click)="goPage(menuTypeConstants.MP_PARTNER.URL)" >{{menuTypeConstants.MP_PARTNER.MNU_NM}}</a>
                                                <!--                                <a (click)="ingPage()" >{{menuTypeConstants.MP_PARTNER.MNU_NM}}</a>-->
                                            </li>
                                            <li>
                                                                                <a (click)="goPage(menuTypeConstants.MP_SVC.URL)" >{{menuTypeConstants.MP_SVC.MNU_NM}}</a>
<!--                                                <a [dir]="menuTypeConstants.MP_SVC.URL" (click)="ingPage()" >{{menuTypeConstants.MP_SVC.MNU_NM}}</a>-->
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </div>
                            </ion-slide>
                            <ion-slide style="display: block;">
                                <div [ngClass]="globalVars.isApp ? 'app-menu-wrapper' : 'menu-wrapper' ">
                                    <ul style="text-align: left;" class="gnb menu-list">
                                    <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_KIDSCARE.MNU_ID)">
                                        <h2 class="acc_header on">
                                            <a title="보육 서비스">보육 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_KIDSCARE.MNU_ID);">
                                                <a [dir]="menuTypeConstants.BS_KIDSCARE.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_KIDSCARE.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_HEALTH.MNU_ID)">
                                        <h2 class="acc_header on">
                                            <a title="건강 서비스">건강 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_HEALTH.MNU_ID);">
                                                <a [dir]="menuTypeConstants.BS_HEALTH.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_HEALTH.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_SOCIAL.MNU_ID)">
                                        <h2 class="acc_header on">
                                            <a title="소셜 서비스">소셜 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_SOCIAL.MNU_ID);">
                                                <a [dir]="menuTypeConstants.BS_SOCIAL.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_SOCIAL.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_LIFE.MNU_ID)">
                                        <h2 class="acc_header on">
                                            <a title="생활 서비스">생활 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_LIFE.MNU_ID);">
                                                <a [dir]="menuTypeConstants.BS_LIFE.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_LIFE.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li *ngIf="isExistMnuListBygrpId(menuTypeConstants.BS_SSG.MNU_ID)">
                                        <h2 class="acc_header on">
                                            <a title="신세계 서비스">신세계 서비스</a>
                                        </h2>
                                        <ul class="dep2 on">
                                            <li *ngFor="let mnu of getMnuListBygrpId(menuTypeConstants.BS_SSG.MNU_ID);">
                                                <a [dir]="menuTypeConstants.BS_SSG.URL+'/'+mnu.mnuId" (click)="goPage(menuTypeConstants.BS_SSG.URL+'/'+mnu.mnuId,false)">{{mnu.mnuNm}}</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h2 class="acc_header on h2_link"><!-- 2depth 가 없는 1depth일 경우 class="h2_link" 추가 적용 : 2depth 추가될 경우 class="h2_link" 삭제 -->
                                            <a [dir]="menuTypeConstants.BS_CULTURE.URL" (click)="goPage(menuTypeConstants.BS_CULTURE.URL)">{{menuTypeConstants.BS_CULTURE.MNU_NM}}</a>
                                        </h2>
                                    </li>
                                </ul>
                                </div>
                            </ion-slide>

                    </ion-slides>
                </ng-container>
<!--                // mobile 일때 메뉴-->
                <div style="position: absolute; bottom: 150px;width: 100%;z-index: 999;" class="app_down" *ngIf="!globalVars.isApp && !globalVars.isPc">
                    <p><strong>빌리브 라이프 서비스</strong>앱을 다운받으시고 스마트홈 제어 등<br>편리하게 빌리브 라이프 서비스를<br>이용해보세요.</p>
                    <span class="btn_area">
                                            <a (click)="goPage(menuTypeConstants.IOS_STORE.URL,false,true)" class="btn_ios">{{menuTypeConstants.IOS_STORE.MNU_NM}}</a>
                                            <a href="{{menuTypeConstants.ANDROID_STORE.URL}}" class="btn_android">{{menuTypeConstants.ANDROID_STORE.MNU_NM}}</a>
                                        </span>
                </div>
            </div>
        </div>
        <!-- <div class="bg_box"></div> -->
        <a (click)="closeMenu()" class="btn_nav_close">메뉴 닫기</a>

    </nav>
</ion-header>

<!-- 레이어팝업 : 단지선택 -->
<ng-container *ngIf="isShowSelectBzPopup">
    <div class="dimmed" [ngClass]="{'inactiveDimmer': !isShowSelectBzPopup}"></div>
    <div class="layer_popup coms_popup" [ngClass]="{'active' : isShowSelectBzPopup, 'inactive': !isShowSelectBzPopup}">
        <div class="content">
            <h1>단지 선택</h1>
            <div class="cont_pop">
                <dl>
                    <dt>지역</dt>
                    <dd>
                        <ng-select class="type2" [items]="existBzTerrCdList"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [(ngModel)]="selectedTerrCd"
                                   (change)="onChangeTerrCode()"
                                   bindLabel="cdName"
                                   bindValue="cd"
                                   placeholder="선택"
                        >
                        </ng-select>
                    </dd>
                </dl>
                <dl>
                    <dt>단지</dt>
                    <dd>
                        <ng-select class="type2" [items]="terrListByCd"
                                   [clearable]="false"
                                   [searchable]="false"
                                   [(ngModel)]="selectedBzId"
                                   (change)="onChangeBzId($event)"
                                   bindLabel="bzNm"
                                   bindValue="bzId"
                                   placeholder="선택"
                        >
                        </ng-select>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="btn_area">
            <button (click)="closeSelectBzPopup()" class="btn btn_type1">닫기</button>
            <button (click)="onClickChangeBz()" class="btn btn_type2">이동하기</button>
        </div>
    </div>
</ng-container>
<!-- // 레이어팝업 : 단지선택 -->
