@charset "utf-8";

/*------------------------------------------------------------------------------------------------------------------------------------------
	File : common.css(Front)
 	Author : Jihye, Yun 2021-08
 	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
--------------------------------------------------------------------------------------------------------------------------------------------*/

@import url('style.css'); /* style 설정 */

*, *:before, *:after {margin:0px; padding:0px; outline:0; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
html,body {height:100%; font-family:"Malgun Gothic", "맑은 고딕", "notokr-regular", "Dotum", "돋음"; font-size:14px; line-height:1; color:#222; letter-spacing:-0.05em; -webkit-text-size-adjust:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box;}
address, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, section {display:block\9; margin:0\9; padding:0\9;}
hr {display:none;}
caption {overflow:hidden; height:0px; font-size:0px; line-height:0px;}
h1, h2, h3, h4, h5, h6 ,h7 {font-weight:normal;}
img {max-width:100%; border:none; vertical-align:middle;}
ol, ul, li, dl, dt, dd {list-style:none;}
table {background:#fff; table-layout:fixed; width:100%; border:0px; border-spacing:0px; border-collapse:collapse;}
th, td {border:0px;word-break: break-all;white-space: normal;}
th {font-weight:normal;}
fieldset {width:100%; border:0px;}
legend {display:none;}
frameset {border:0px;}
iframe {width:100%; border:0px;}
em, address, i {font-style:normal;}
button, a, input, label, textarea {font-family:"Malgun Gothic", "맑은 고딕", "notokr-regular", "Dotum", "돋음"; vertical-align:middle; font-size:14px;}
input {display:inline-block; height:35px; padding:0 14px; border:1px solid #c7c7c7; background:#f8f6f5; color:#9a9a9a; width:100%; border-radius:5px;}
input:focus {background:#fff; color:#222;}
input[readonly] {background-color:#; color:#222;}
input[readonly]:focus {background:#f8f6f5;}
input:disabled {background-color:#;}
textarea {padding:14px 20px; border:1px solid #c7c7c7; color:#222; font-weight:300; resize:none; width:100%; border-radius:5px;}
select {min-width:180px; height:35px; padding:0 0 0 10px; border:1px solid #555; border-radius:3px; font-size:14px; color:#222; vertical-align:middle; background:#fff url('../images/icon_select_down.png') no-repeat calc(100% - 12px) center; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select option {color:#999;}
button {overflow:visible; appearance:none; outline:none; background:none;cursor:pointer; border:0px;}
button::-moz-focus-inner {padding:0px;}
::-ms-clear { display: none !important; width : 0;  height: 0;}
::-ms-reveal {display: none;}

a {color:#666;text-decoration:none;}
a:hover {text-decoration:none;}
/*-------------------------- PLACEHOLDER -------------------------*/
:-ms-input-placeholder {font-weight:400; color:#9a9a9a !important;} /* IE 10 + */
::-webkit-input-placeholder {font-weight:400; color:#9a9a9a !important;} /* Webkit Browser */
:-moz-placeholder {font-weight:400; color:#9a9a9a !important;}	/* Mozilla Firefox 4 to 18*/
::-moz-placeholder {font-weight:400; color:#9a9a9a !important;} /* Mozilla Firefox 19+ */
:focus::placeholder {font-weight:300 !important;}
/*----------------------------------------------------------------*/
.ir { overflow:hidden; position:absolute; top:-9999px; left:-9999px; z-index:-1; width:0; height:0; font-size:0; line-height:0;}

.skip_txt {text-indent:-9999px; font-size:0; line-height:0;}
.show {display:block !important;}
.hide {display:none !important;}
.hidden{visibility:hidden !important;}
.visible{visibility:visible !important;}
.tx_ovf{display:block; white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

/* flex box */
.d_flex {display:flex; justify-content:space-between; align-items:stretch;}
.aitems_c {align-items:center !important;}
.aitems_s {align-items:flex-start !important;}
.aitems_e {align-items:flex-end !important;}
.jcontent_c {justify-content:center !important;}
.jcontent_s {justify-content:flex-start !important;}
.jcontent_e {justify-content:flex-end !important;}

.i_block {display:inline-block !important;}

.pos_r {position:relative !important;}

.fl{float:left;}
.fr{float:right;}

.after:after {display:block; clear:both; content:"";}

.tl{text-align:left !important;}
.tr{text-align:right !important;}
.tc{text-align:center !important;}

.valign_t {vertical-align:top !important;}
.valign_m {vertical-align:middle !important;}
.valign_b {vertical-align:bottom !important;}

.mauto {margin:0 auto;}

.mt0 {margin-top:0 !important;}
.mt5 {margin-top:5px !important;}
.mt10 {margin-top:10px !important;}
.mt15 {margin-top:15px !important;}
.mt20 {margin-top:20px !important;}
.mt30 {margin-top:30px !important;}

.mr0 {margin-right:0 !important;}

.mb0 {margin-bottom:0 !important;}
.mb5 {margin-bottom:5px !important;}

.ml0 {margin-left:0 !important;}
.ml5 {margin-left:5px !important;}
.ml10 {margin-left:10px !important;}

.pt0 {padding-top:0 !important;}
.pt20 {padding-top:20px !important;}

.pr0 {padding-right:0 !important;}

.pb0 {padding-bottom:0 !important;}

.pl0 {padding-left:0 !important;}

.w_auto {width:auto !important;}
.w_full {width:100% !important;}
.w_140 {width:140px !important;}
.w_300 {width:300px !important;}
.w_600 {width:600px !important;}

.fs_22 {font-size:22px !important;}
.fs_24 {font-size:24px !important;}

.fw_300 {font-weight:300 !important;}
.fw_400 {font-weight:400 !important;}
.fw_700 {font-weight:700 !important;}

.fc_red {color:#e21837 !important;}
.fc_orange {color:#f48025 !important;}
.fc_blue {color:#0997e5 !important;}

.scroll_y {position:relative; overflow-y:auto; max-height:240px;}

/* heading */
h1, h2, h3, h4, h5 {color:#333; font-weight:bold;}
h2 {font-size:32px; text-align:center; }
h2.page_title {font-size:26px; font-weight:normal; padding-bottom:15px; border-bottom:1px solid #dfdfdf; position:relative; text-align:left; padding-left:3px; margin-bottom:30px;}
h2.page_title::after {display:block; content:""; background: linear-gradient(90deg, rgba(226,24,55,1) 0%, rgba(226,24,55,1) 18%, rgba(244,128,37,1) 18%, rgba(244,128,37,1) 100%); width:184px; height:3px; position:absolute; bottom:-1px; left:0;}
h3 {font-size:20px;}

/* form */
.form_row {display:flex; align-items:center; width:100%;}
.form_row label.tit + div {width:calc(100% - 150px);}
.form_row label.tit + .txt {font-size:16px; margin-top:-3px;}
.form_row select + .period {margin-left:10px;}
.form_row.col_2 .form_col:nth-child(1) {width:calc(100% - 150px); flex:auto;}
.form_row.col_2 .form_col:nth-child(2) {width:150px; flex:auto;}
.form_row.col_2.rv .form_col:nth-child(1) {width:150px;}
.form_row.col_2.rv .form_col:nth-child(2) {width:calc(100% - 150px);}
.form_col {}
.form_col {flex:1;}
/* .form_col .btn {height:40px;} */
.form_col + .form_col {margin-left:10px;}

label.tit {font-size:16px; display:inline-block !important; width:150px; font-weight:700;}

.file {position:relative;}
.file input {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0; z-index:2; cursor:pointer;}
.file button {background:#000; color:#fff; height:35px; width:100px; border-radius:5px;}

.checkbox {position:relative; display:inline-block; vertical-align:top;}
.checkbox input[type=checkbox] {position:absolute; top:0; left:0; width:24px; height:24px; opacity:0; cursor:pointer;}
.checkbox label {line-height:31px;  color:#6a6a6a;}
.checkbox input[type=checkbox]:not(:disabled) + label {cursor: pointer; }
.checkbox label:not(.only)::before {margin-right:8px;}
.checkbox label.only {font-size:0;}
.checkbox label::before {content:''; display:inline-block; vertical-align:-6px; width:24px; height:24px; background:#fff; border-radius:2px; border:1px solid #c7c7c7;}
.checkbox  :disabled + label {color:#c7c7c7;}
.checkbox :checked + label::before {background:#fff url('../images/icon_chk.png') no-repeat center; }
.checkbox :disabled + label::before {}
.checkbox :checked:disabled + label::before {}

.radio {position:relative; display:inline-block; vertical-align:top;}
.radio input[type=radio] {position:absolute; top:0; left:0; width:24px; height:24px; opacity:0;}
.radio label {line-height:31px;  color:#6a6a6a;}
.radio input[type=radio]:not(:disabled) + label {cursor: pointer; }
.radio label:not(.only)::before {margin-right:8px;}
.radio label.only {font-size:0;}
.radio label::before {content:''; display:inline-block; vertical-align:top; width:24px; height:24px; background:#fff; border-radius:50%; border:1px solid #c7c7c7;}
.radio  :disabled + label {color:#c7c7c7;}
.radio :checked + label::before {background:#fff url('../images/icon_chk.png') no-repeat center 7px; background-size:15px 10px;}
.radio :disabled + label::before {}
.radio :checked:disabled + label::before {}


/* btn */
.btn {display:inline-block; text-align:center; width:150px; height:35px; flex:1; background:#f48025; color:#fff; font-size:15px; border-radius:5px;}
.btn.black {background:#000;}
.btn.lgray {background:#9a9a9a;}
.btn.more {background:#000;}
.btn.sm {width:100px;}
.btn.txt {width:auto; height:auto; padding:3px 10px;}
.btn.big {height:55px; width:460px; font-size:18px; font-weight:700; border-radius:6px; margin-top:30px;}
.btn:disabled {background:#c7c7c7; cursor:default;}

.btn_switch {position:relative; cursor:pointer;}
.btn_switch input[type="checkbox"] {display:none;}
.btn_switch .label_on_off {position:relative; display:inline-block; width:71px; height:27px; border-radius:7px; background:#dbdbdb; transition:all 0.5s; /* box-shadow: 1px 1px 0.25rem 0px rgba(0, 0, 0, 0.22) inset; */}
.btn_switch .label_on_off .marble {position:absolute; top:3px; left:4px; display:block; width:25px; height:21px; transition:all 0.5s; background:#fff; background-image:linear-gradient(90deg, rgb(0,0,0,.1) 0%, rgb(255,255,255,.1) 100%); /* box-shadow: 0px 0.1667rem 0.25rem 0px rgba(0, 0, 0, 0.22),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.004); */ border:1px solid #d6d6d6; border-radius:5px; z-index:2;}
.btn_switch .label_on_off .txt {font-size:14px; color:#a8a8a8; position:absolute; top:6px; left:36px; font-weight:700; line-height:1;}
.btn_switch .label_on_off .on {display:none; left:14px; color:#fff;}
.btn_switch .input_on_off:checked+.label_on_off {/* background:#f58325; */ background:red; transition:all 0.5s;}
.btn_switch .input_on_off:checked+.label_on_off .marble {left:43px; transition:all 0.5s;}
.btn_switch .input_on_off:checked+.label_on_off .on {display:block;}
.btn_switch .input_on_off:checked+.label_on_off .off {display:none;}


/* link */
.btn_underline {color:#f48025; padding-bottom:2px; border-bottom:2px solid #f48025;}

/* tab */
.tab_menu {margin-bottom:30px;}
.tab_menu ul {display:flex; border-bottom:1px solid #c9c9c9; height:45px;}
.tab_menu li {width:233px; height:45px; background:#f5f5f5; border:1px solid #c7c7c7; border-bottom:1px solid #c9c9c9;}
.tab_menu li a {display:block; text-align:center; color:#000222; font-size:16px; line-height:45px;}
.tab_menu li.on, .tab_menu li:hover {background:#fff; border:1px solid #c9c9c9; border-bottom:1px solid #fff;}
.tab_menu li.on a {}
.tab_menu li + li {margin-left:2px;}

.tab_cont > div {height:0; overflow:hidden; transform:translateY(-100%); visibility:hidden;}
.tab_cont > div.on {transform:translateY(0); height:auto; overflow:visible; visibility:visible;}

/* table */
.tbl_list {background:#fff; position:relative;}
.tbl_list.bdt {border-top:2px solid #555;}
.tbl_list thead {}
.tbl_list thead tr {border-bottom:1px solid #555;}
.tbl_list thead tr.sticky {position:sticky; top:0; left:0; background:#fff; box-shadow:inset 0 2px 0 #555, inset 0 -1px 0 #555; z-index:3;}
.tbl_list thead th {border-top:2px solid #555; font-weight:700; background:#fff; height:32px;}  
.tbl_list tbody {}
.tbl_list tbody tr {border-bottom:1px solid #c7c7c7;}
.tbl_list tbody tr:hover td {color:#e21837; cursor:pointer;}
.tbl_list tbody th {text-align:left; padding-left:10px; font-weight:700; background:#efefef;}
.tbl_list tbody th + td {text-align:left; padding-left:10px; font-size:14px;}
.tbl_list tbody td .tbl_list th {text-align:center; padding-left:0; background:#fff;}
.tbl_list tr {z-index:1;}
.tbl_list th {font-size:14px; color:#222; padding:5px 0; line-height:1.45; text-align:center;}
.tbl_list td {font-size:13px; color:#222; text-align:center; padding:3px 0; line-height:1.45;}
.tbl_list td.left {text-align:left; padding:3px 10px 3px;}
.tbl_list td button + button {margin-left:5px;}
.tbl_list .btn.txt {font-size:12px;}

/* paging */
.paging {display:flex; align-items:center; justify-content:center; margin-top:20px;}
.paging a {color:#222; font-size:16px; width:32px; height:32px; line-height:29px; border:1px solid #c7c7c7; border-radius:3px; text-align:center;}  
.paging a + a {margin-left:5px;}
.paging .on {color:#fff; background:#555;}
.paging .prev_more, 
.paging .prev, 
.paging .next,
.paging .next_more {background-position: center center; background-repeat: no-repeat;}
.paging .prev_more span, .paging .prev span, .paging .next span, .paging .next_more span {font-size:0;} 
.paging .prev_more {background-image:url('../images/btn_prev_more.png');}
.paging .prev {background-image:url('../images//btn_prev.png');}
.paging .next {background-image:url('../images//btn_next.png');}
.paging .next_more {background-image:url('../images//btn_next_more.png');}

/* popup */
.layer_popup {display:none; position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(17,17,17,.5); z-index:100; overflow:hidden;}
.popup {min-width:270px; width:auto; max-height:calc(100vh - 100px); position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); z-index:101; background:#fff; padding:30px;}
.popup h1 {font-size:27px;}
.popup h2.tit {font-size:20px; text-align:left;}
.popup h2.tit span {font-size:16px;}
.popup .pop_body {}
.popup .cont_area {padding:30px 0;}
.popup .tbl_list {min-width:300px;}
.popup .tbl_list tr:hover td {color:#222; cursor:auto;}
.popup .tbl_list .scroll_y {margin-top:10px; max-height:300px; background:; padding:0 0 10px;}
.popup .tbl_list .scroll_y .tbl_list {width:100%;}
.popup .board_top .r_area select {min-width:100px;}
.popup .board_top .r_area select + .sch_box {width:auto;}
.popup .d_flex .pos_r {}
.popup .d_flex .pos_r + .pos_r {margin-left:15px;}
.popup .btn_area {}
.popup .btn_close {position:absolute; top:3px; right:24px; font-size:50px; text-shadow:0 1px 0 #fff; color:#565656;}
