.svc_list  .tbl_list li {
    flex-wrap: wrap;
}
.svc_list  .tbl_list li > div {
    width: 100%;
}
.svc_list  .tbl_list li > p {
    width: 100%;
    text-align: left;
    margin-top: 0.8333rem;
}
.svc_list .tbl_list li.no_data p {
    margin-top: 0;
}


@media screen and (min-width: 1025px) {
    .svc_list  .search_area {
        // justify-content: flex-start;
    }
    .svc_list  .search_area dl:nth-child(odd) {
        width: 295px;
    }
    .svc_list  .search_area dl.date_area {
        // margin-left: 47px;
        width: 530px;
    }

    .svc_list  .tbl_list li.thead .th {
        width: 30%;
    }
    .svc_list  .tbl_list li.thead .th:first-child {
        width: 40%;
    }
    .svc_list  .tbl_list li > div {
        width: 40%;
    }
    .svc_list  .tbl_list li > p {
        width: 30%;
        text-align: center;
        margin-top: 0;
    }
}