.smart_home {}
.smart_home .top {
    position: relative;
}
.smart_home .top .btn_refresh {
    width: 1.667rem;
    height: 1.667rem;
    background: url('/assets/icon/refresh.svg') no-repeat;
    background-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-indent: -9999px;
}
.tab_menu {
    display: flex;
    align-items: center;
}
.tab_menu li {
    margin-right: 0.75rem;
}
.tab_menu li a {
    width: 7.917rem; 
    height: 3rem;
    box-shadow: 0px 0.25rem 0.5rem #463A3866;
    border-radius: 1.75rem;
    background: #FFFFFF;
    color: #8D8785;
    font-size: 1.167rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab_menu li a.on {
    background: #4B423C;
    color: #FFFFFF;
}

.tab_cont {
    margin-top: 2.083rem;
}

.round_box h5 {
    font-size: 1.333rem;
    font-weight: 800;
    position: relative;
    border-bottom: none;
    padding-bottom: 0;
}
.round_box h5:after {
    display: none;
}

.link_area .round_box .content > a {
    display: block;
    position: relative;
    color: #4B423C;
    padding-left: 3.333rem;
}
.link_area .round_box .content > a:before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
}
.link_area .round_box.car .content > a:before {
    background: url('/assets/icon/car.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 1.833rem;
}
.link_area .round_box.delivery .content > a:before {
    background: url('/assets/icon/delivery.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 1.833rem;
}
.link_area .round_box .content > a:after {
    display: block;
    content: "";
    background: url('/assets/common/arr_right_gry2.svg') no-repeat;
    background-size: 100%;
    width: 0.8333rem;
    height: 1.417rem;
    position: absolute;
    top: 1px;
    right: 0;
}

.round_box + .round_box {
    margin-top: 1.25rem;
}

.energy_usage {
    margin-top: 1.25rem;
}
.energy_usage .round_box h5 {
    border-bottom: 0.08333rem solid #fff;
    padding-bottom: 1rem;
}
.energy_usage .round_box h5:after {
    display: block;
    content: "";
    position: absolute;
    height: 0.08333rem;
    background: #abb3c1;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
}
.energy_usage .round_box h5 span {
    color: #8D8785;
    font-size: 1.167rem;
    font-weight: 300;
    margin-left: 0.4167rem;
} 
.energy_list {}
.energy_list li {
    background: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #70707033;
}
.energy_list li:last-child {
    border-bottom: none;
}
.energy_list li > div {
    padding: 1.417rem 1.583rem 2.5rem;
}
.energy_list li > div dl {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.energy_list li > div dl dt {
    font-size: 1.25rem;
}
.energy_list li > div dl dt:before {
    display: inline-block;
    content: "";
    margin-right: 1rem;
    vertical-align: middle;
}
.energy_list li > div dl dt.electricity:before {
    background: url('/assets/icon/electricity.svg') no-repeat;
    background-size: 100%;
    width: 1.667rem;
    height: 1.667rem;
}
.energy_list li > div dl dt.waterworks:before {
    background: url('/assets/icon/waterworks.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 2.167rem;
}
.energy_list li > div dl dt.gas:before {
    background: url('/assets/icon/gas2.svg') no-repeat;
    background-size: 100%;
    width: 1.917rem;
    height: 1.5rem;
    vertical-align: -0.25rem;
}
.energy_list li > div dl dt.hot_water:before {
    background: url('/assets/icon/hot_water.svg') no-repeat;
    background-size: 100%;
    width: 1.75rem;
    height: 1.5rem;
    vertical-align: -0.3333rem;
}
.energy_list li > div dl dt.heating:before {
    background: url('/assets/icon/heating.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 2rem;
    vertical-align: -0.5rem;
}
.energy_list li > div dl dd {}
.energy_list li > div dl dd span {
    display: inline-block;
    vertical-align: 0;
    font-family: "Montserrat";
    font-size: 1rem;
    color: #4B423C;
}
.energy_list li > div dl dd .num {
    font-size: 1.667rem;
    color: #9CC023;
    margin-right: 0.1667rem;
}
.energy_list li > div .graph {
    position: relative;
    width: 100%;
    height: 0.6667rem;
    border-radius: 0.75rem;
    background: #D4D9E0;
    margin-top: 0.8333rem;
}
.energy_list li > div .graph, .energy_list li > div .graph .fill {
    display: inline-block;
}
.energy_list li > div .graph .fill {      
    line-height: 0;
    vertical-align: top;
    height: 0.6667rem;
    background: #9CC023;
    border-radius: 0.75rem;
}
.energy_list li > div .graph .average {
    font-size: 1rem;
    position: absolute;
    top: 0; 
    left: 50%;
    color: #8D8785;
    text-align: center;
    width: 8.333rem;
    margin-left: -4.167rem;
}
.energy_list li > div .graph .average:before {      
    display: block;
    content: "";
    background: #B2B3B5;
    border-radius: 50%;
    width: 0.6667rem;
    height: 0.6667rem;
    margin: 0 auto 0.5833rem;
}
.energy_list li > div .graph .average.over:before {
    background: #6D8719;
}

.ctrl_list {}
.ctrl_list li {}
 
.ctrl_list .round_box .content {
    padding-top: 0;
    padding-bottom: 0;
}

.ctrl_top {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.333rem;
}
.ctrl_top h5 {
    font-size: 1.333rem;
    padding-left: 3.333rem;
}
.ctrl_top h5 > span {
    font-size: 0.8333rem;
    color: #8E8E8E;
    display: block;
    font-weight: 300;
}
.ctrl_top h5 > span .on {
    color: #9CC023;
}
.ctrl_top h5:before {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.083rem;
}
.ctrl_top h5.light:before {
    background: url('/assets/icon/light.svg') no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2.333rem;
}
.ctrl_top h5.cooling:before {
    background: url('/assets/icon/cooling.svg') no-repeat;
    background-size: 100%;
    width: 1.917rem;
    height: 2.25rem;
}
.ctrl_top h5.heating:before {
    background: url('/assets/icon/heating.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 2rem;
    margin-top: -1rem;
}
.ctrl_top h5.gas:before {
    background: url('/assets/icon/gas.svg') no-repeat;
    background-size: 100%;
    width: 1.667rem;
    height: 2.333rem;
    margin-top: -1.167rem;
}
.ctrl_top h5.ventilation:before {
    background: url('/assets/icon/ventilation.svg') no-repeat;
    background-size: 100%;
    width: 1.833rem;
    height: 1.917rem;
    margin-top: -0.9167rem;
}
.ctrl_top h5.standby_power:before {
    background: url('/assets/icon/standby_power.svg') no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2.333rem;
    margin-top: -1.167rem;
}
.ctrl_top h5.guard:before {
    background: url('/assets/icon/guard.svg') no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2.333rem;
    margin-top: -1.167rem;
}
.ctrl_top .btn_group {
    display: block;
    margin-right: 4.167rem;
    margin-top: -0.25rem;
}
.ctrl_top .btn_group.right {
    margin-right: 0;
}
.ctrl_top .btn_group .txt_btn {
    color: #8D8785;
    text-decoration: underline;
    font-size: 1rem;
}
.ctrl_top .btn_group .txt_btn + .txt_btn {
    margin-left: 0.6667rem;
}
.ctrl_top .btn_group .btn {
    background: #9EBB3D;
    border-radius: 2.667rem;
    font-size: 0.8333rem;
    color: #FFFFFF;
    width: 4.417rem;
    height: 1.917rem;
    line-height: 0;
    margin-top: 0.1667rem;
    font-weight: 300;
}
.ctrl_top .btn_group .btn.disabled {
    background: #DCDEDD;
    color: #8D8785;
    box-shadow: none;
}
.ctrl_top .btn_switch {
    margin-right: 4.167rem;
}
.ctrl_top .btn_toggle {
    text-indent: -9999px;
    font-size: 0;
    width: 2.75rem;
    height: 3.333rem;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 0.08333rem solid rgba(171, 179, 193, 0.4);
}
.ctrl_top .btn_toggle:before {
    display: block;
    content: "";
}
.ctrl_top .btn_toggle:after {
    display: block;
    content: "";
    background: url('/assets/common/arr_btm_gry.svg') no-repeat;
    background-size: 100%;
    width: 1.167rem;
    height: 0.75rem;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -0.3333rem;
}
.ctrl_top .btn_toggle.on:after {
    transform: rotate(-180deg);
}

.ctrl_area {
    //display: none;
    background: #fff;
    position: relative;
    margin-top: 1.333rem;
    // margin-bottom: 1.25rem;
}
.ctrl_area > ul li {
    border-top: 0.08333rem solid rgba(171, 179, 193, 0.4);
    padding: 0.9167rem 1rem;
}
.ctrl_area .btn_area {
    padding-bottom: 1.667rem;
}
.ctrl_area .btn_area .btn {
    width: 7.333rem;
    height: 3.333rem;
    line-height: 0;
}

.switch_area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.083rem;
    position: relative;
}
.switch_area em {
    color: #4B423C;
    font-size: 1.25rem;
    display: block;
}
.switch_area em span {
    display: inline-block;
    vertical-align: 0.1667rem;
    font-size: 0.8333rem;
    font-weight: 700;
    color: #8E8E8E;
    margin-left: 0.25rem;
}
.switch_area em span.on {
    color: #9CC023;
}

.ctrl_box {
    position: relative;
}
.ctrl_box .ctrl_det {
    margin: 0 0.4167rem 0.75rem;
}
.ctrl_box .ctrl_det dl {
    margin-top: 1.75rem;
}
.ctrl_box .ctrl_det dl:first-of-type {
    margin-top: 0;
}
.ctrl_box .ctrl_det dl dt {
    font-size: 1.083rem;
    color: #8D8785;
}
.ctrl_box .ctrl_det dl dd {
    margin-top: 0.9167rem;
}
.ctrl_box .ctrl_det dl dd.btn_group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.switch_area + .ctrl_det {
    margin-top: 1.75rem;
}

.ctrl_btn {}
.ctrl_btn input[type="radio"] {
    display: none;
}
.ctrl_btn label {
    display: block;
    color: #8D8785; 
    font-size: 1.167rem;
    width: 4.75rem;
    height: 3rem;
    border-radius: 1.75rem;
    border: 1px solid #DCDEDD;
    background: #fff;
    text-align: center;
    line-height: 2.4;
    box-sizing: border-box;
}
.ctrl_btn input:checked + label {
    background: #4B423C;
    color: #fff;
    border-color: #4B423C;
}
.ctrl_btn + .ctrl_btn {
    margin-left: 0.4167rem;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider > button {
    width: 2.167rem;
    height: 2.167rem;
    background: #fff;
    border: 0.08333rem solid #DCDEDD;
    border-radius: 0.25rem;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
}
.slider > button:before {
    display: block;
    content: "";
    text-align: center;
    width: 0.9167rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.4167rem;
}
.slider > button.btn_minus:before {
    // content: "-";
    // font-size: 3.167rem;
    // color: #8D8785;
    // line-height: 0.38;
    background: url('/assets/icon/minus.svg') no-repeat center;
    background-size: 100%;
    height: 0.3333rem;
    margin-top: -0.1667rem;
}
.slider > button.btn_plus:before {
    // content: "+";
    // font-size: 1.75rem;
    // color: #8D8785;
    // line-height: 1.1;
    background: url('/assets/icon/plus.svg') no-repeat center;
    background-size: 100%;
    height: 0.9167rem;
    margin-top: -0.4167rem;
}
.slider.cooling ion-range {
    --bar-background-active: #3E8FD6;
}
.slider.heating ion-range {
    --bar-background-active:#E44E28;
}

.time_ctrl {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time_ctrl > button {
    display: block;
    width: 2.167rem;
    height: 2.167rem;
    background: #fff;
    border: 0.08333rem solid #DCDEDD;
    border-radius: 0.25rem;
    font-size: 0;
    position: relative;
    box-sizing: border-box;
}
.time_ctrl > button:before {
    display: block;
    content: "";
    width: 0.5rem;
    height: 0.9167rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.4167rem;
}
.time_ctrl > button.disabled:before {
    opacity: .4;
}
.time_ctrl .btn_left:before {
    background: url('/assets/common/arr_left_gry2.svg') no-repeat;
    background-size: 100%;
}
.time_ctrl .btn_right:before {
    background: url('/assets/common/arr_right_gry3.svg') no-repeat;
    background-size: 100%;
    margin-left: -0.1667rem;
}
.time_ctrl > span {
    font-size: 1.5rem;
}
