<v-app>
    <v-body title="빌리브 이벤트" mnuId="LC_EVT_VLV">
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
                <p>진행중인 이벤트 <span class="highlight"><span class="num">{{progressCount}}</span>개</span></p>
            </h4>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category">
                <li *ngFor="let cate of eventCatCdList; index as i"
                    [ngClass]="search.catCd === cate.cd ? 'on' : ''"
                >
                    <a (click)="onClickEventCatCd(cate.cd)">{{cate.cdName}}</a>
                </li>
            </ul>

            <!-- 이벤트 없을때 -->
            <div class="no_data icon" *ngIf="!isExistList;else other_content">
                <p>진행중인 이벤트가 없습니다.</p>
            </div>
            <!-- 이벤트 리스트 -->
            <ng-template #other_content>
                <ul class="event_list">
                    <li class="flat_round_box" *ngFor="let data of eventList;">
                        <a *ngIf="!(data?.eventEndDt | checkDateIsEnd); else endEvent" (click)="goEventDetailPage(data?.eventId)">
                            <div class="content">
                                <div class="img_box" #ctsImg>
                                    <img [src]="data?.pcThumbFileIdPath | fileToWebPath" class="pc" alt="샘플" (error)="ctsImg.classList.add('no_img')" />
                                    <img [src]="data?.mpThumbFileIdPath | fileToWebPath" class="mo" alt="샘플" (error)="ctsImg.classList.add('no_img')" />
                                </div>
                                <div class="txt_box">
                                    <h4>{{data?.eventTtl}}</h4>
                                    <p class="time">{{data?.eventStrDt | stringDateFormatDt}} ~ {{data?.eventEndDt | stringDateFormatDt}}</p>
                                </div>
                            </div>
                        </a>
                        <ng-template #endEvent>
                            <div class="content">
                                <div class="img_box" #endCtsImg>
                                    <!-- 태그 박스 -->
                                    <div class="tag_box">
                                        <!-- 종료 -->
                                        <span class="tag purple">종료</span>
                                    </div>
                                    <img [src]="data?.pcThumbFileIdPath | fileToWebPath" class="pc" alt="샘플" (error)="endCtsImg.classList.add('no_img')"/>
                                    <img [src]="data?.mpThumbFileIdPath | fileToWebPath" class="mo" alt="샘플" (error)="endCtsImg.classList.add('no_img')"/>
                                </div>
                                <div class="txt_box">
                                    <h4>{{data?.eventTtl}}</h4>
                                    <p class="time">{{data?.eventStrDt | stringDateFormatDt}} ~ {{data?.eventEndDt | stringDateFormatDt}}</p>
                                </div>
                            </div>
                        </ng-template>
                    </li>
                </ul>
                <!-- 더보기 -->
                <a *ngIf="search?.page < search?.totalEndPage" class="add_item" (click)="moreEventList()">더보기</a>
            </ng-template>
        </div>
    </v-body>
</v-app>
