<v-app>
    <v-body title="공지사항">
      <div class="container">
        <!-- 글자 크기 조절 -->
        <div class="font_size_fix">
          <a href="#" class="font_btn">글자 크기</a>
          <div class="btn_box"><!-- 보일 시 on 추가 -->
              <a href="#" class="close">닫기</a>
              <ul class="list">
              <li class="small on">
                  <a href="#">
                  <p class="size">가</p>
                  <p>작게</p>
                  </a>
              </li>
              <li class="medium">
                  <a href="#">
                  <p class="size">가</p>
                  <p>보통</p>
                  </a>
              </li>
              <li class="large">
                  <a href="#">
                  <p class="size">가</p>
                  <p>크게</p>
                  </a>
              </li>
              </ul>
          </div>
        </div>
        <!-- 디자인 수정으로 <div class="flat_round_box bg_white"> 추가 -->
        <div class="flat_round_box bg_white notice_box mgt0">
          <div class="notice_title">
            <h4>2020 SUMMER EVENT</h4>
            <p class="writer_time"><span>관리자</span><span class="time">2020.08.07</span></p>
          </div>
          <div class="notice_link">
              <a href="#" class="clip">첨부파일.ppt</a>
              <!-- 주소 링크
              <a href="#" class="link">www.villiv.com</a> -->
              <!-- 첨부 파일 
              <a href="#" class="clip">첨부파일.ppt</a> -->
              <!-- 첨부된 파일 없음 
              <p>첨부된 파일이 없습니다.</p> -->
          </div>
          <!-- 이벤트 상세 - 글자 크키 조절 -->
          <div class="admin_content ft_m">
              <p>여름맞이 플리마켓을<br />아래와 같이 개최합니다.</p>
              <br />
              <br />
              <p>- 아래 -</p>
              <br />
              <br />
              <p>1.이전 일자: 2020.04.27 (월)</p>
              <br />
              <br />
              <p>2. 이전하는 주소 : 서울 중구 소월로 10  단암타워 21층</p>
              <br />
              <br />
              <p>3. 이전 후 연락 번호 : 기존 사용번호와 동일</p>
              <br />
              <br />
              <p>* Tel : 02-3406-6620     Fax : 02-3406-6700</p>
          </div>
        </div>
          
        <!-- 목록 보기 -->
        <div class="bottom_nav">
          <div class="content">
            <div class="nav">
              <a class="prev">이전 글</a>
              <a class="next">다음 글</a>
            </div>
            <!-- 목록 보기 -->
            <div class="go_list">
              <a class="btn btn_type2" href="#">목록 보기</a>
            </div>
          </div>
        </div>
      </div>
    </v-body>
  </v-app>