/***
  게시판 스타일
***/

/********** 사용자 등록 게시판 상세 **********/
.user_community{
  /* padding: 2rem 1.667rem; */
  /* margin-top: 4.333rem; */
  box-shadow: 0px 0.3333rem 0.5rem #2c28281c;
}
.user_community .img_box img {
    margin-bottom: 1.083rem;
}

.user_community .view_cont {
    padding: 2rem 1.667rem;
}
.user_community .input_cont {
    background: #F5F5F5;
    padding: 2.5rem 1.667rem 1.667rem;
}

/* 타이틀 */
.user_community .title_box{
  position: relative;
  /* margin:2.92rem 0 0; */
  /* margin: 1.083rem 0 0; */
  padding-bottom: 1.667rem;
  border-bottom: 1px solid #797979;
}
.user_community .title_box h4{
  font-size: 1.667rem;
  font-weight: 700;
  line-height: 1.23;
}
.user_community .title_box h4 .tag{
  margin-left: 0.5rem;
}
.user_community .title_box p.writer_time{
  margin-top: 1.25rem;
  font-size: 1rem;
}
.user_community .admin_content{
    padding: 1.25rem 0 0;
}
/* 첨부파일 */
.user_community .notice_link{
  /* border-bottom: none; */
}
/* 댓글 인풋 */
.user_community .comment_input_box{
  margin:0;
  padding: 0 0 2.25rem;
}
.user_community .comment_input_box .input_box{
  position: relative;
  width: 100%;
  /* float: left; */
  border: 1px solid #DCDEDD;
  box-sizing: border-box;
  padding:1.25rem 1.25rem 2rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0.3333rem 0.5rem #2c28281c;
  height: 7.91rem;
  background: #fff;
}
.user_community .comment_input_box .input_box span{
  position: absolute;
  color: #3333334d;
  font-size:1rem;
  bottom: 0.5rem;
  right: 0.75rem;
}
.user_community .comment_input_box .input_box textarea{
  color: #5A514C;
  opacity: 1;
  border: 0;
  padding:0;
  line-height: 1.4;
  height: 5rem;
}
.user_community .comment_input_box .input_box textarea::-webkit-input-placeholder {
color: #3333334d;
}
.user_community .comment_input_box .input_box textarea:-ms-input-placeholder {
color: #3333334d;
}
.user_community .comment_input_box .input_box textarea:-mos-input-placeholder {
color: #3333334d;
}
.user_community .comment_input_box .btn_area {
    margin-top: 1.25rem;
}
.user_community .comment_input_box .btn_type2 {
    width: 8rem;    
}
/* 댓글 창 */
.user_community .comment_box{
  /* padding-bottom:  2.5rem; */
}
.user_community .comment_box h4.title{
  font-size: 1.17rem;
  font-weight: 700;
}
.user_community .comment_box h4.title .red{
  color:#E44E28;
}
.user_community .comment_box .no_info{
  margin: 3.333rem auto 1.667rem;
}
.user_community .comments_list{
  position: relative;
}
.user_community .comments_list>div{
  padding: 0.4167rem 0 1.25rem;
  position: relative;
  border-top: 1px solid #D8D7D6;
}
.user_community .comments_list>div:first-child{
  border-top: 0;
}
.user_community .comments_list>div .user_pic{
  position: absolute;
  width: 3.33rem;
  height: 3.33rem;
  border-radius: 2rem;
  overflow: hidden;
  left: 0;
  top: 1.75rem;
}
.user_community .comments_list>div .user_pic img{
  width: 100%;
  height: 100%;
}
.user_community .comments_list>div .info .writer_time{
  line-height: 3.33rem;;
}
.user_community .comments_list>div .info p.text{
  line-height: 1.7;
}
.user_community .comments_list>div .info a.delet{
  position: relative;
  font-size: 1.08rem;
  margin-top: 0.75rem;
  color: #8D8785;
  padding-left: 1.67rem;
}
.user_community .comments_list>div .info a.delet::before{
  content: "";
  position: absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width:1.33rem;
  height: 1.33rem;
  background: url('/assets/common/trash_gray_icon.svg') no-repeat;
  background-size: contain;
}
.user_community .comments_list + .add_item{
  border-bottom: 1px solid #D8D7D6;
  padding-bottom: 2.5rem;
}

/* v-font-size + .user_community {
    margin-top: 0.8333rem;
} */

/********** 게시판 형식 리스트 **********/
.container.type3 .notice_list_box{
  padding-left: 0;
  padding-right: 0;
}
.notice_box{
  /* box-shadow: 0px 4px 6px #2c28281c; */
  /* margin: 0 0 4.167rem; */
  padding: 0 1.333rem;
}
.notice_box.mgt0{
  margin-top: 0;
}
.notice_box .admin_content {
  padding-left: 0;
  padding-right: 0;
}
.notice_list_box .list_count{
  padding-top: 3rem;
  padding-bottom: 1.417rem;
}

.notice_list_box .no_data {
    /* padding: 10.42rem 0; */
    padding: 3.333rem 0;
}

.no_data {
    padding: 0.8333rem 0 0;
    text-align: center;
}
.no_data p {
    font-size: 1.083rem;
    color: #8D8785;
}
.no_data.icon:before {
    display: block;
    content: "";
    background: url('/assets/icon/no_data.svg') no-repeat;
    background-size: 100%;
    width: 4.167rem;
    height: 4.583rem;
    margin: 0 auto 0.8333rem;
}

/* 총 개수 + 분류 */
.notice_list_box .list_count .btn_box{
  display: block;
  padding-top: 0.83rem;
  padding-bottom: 1.42rem;
}
.notice_list_box .list_count .btn_box button{
  width: 31%;
  height: 3rem;
  background: #fff;
  color: #8D8785;
  line-height: 1em;
  box-shadow: 0px 4px 6px #2c28281c;
  font-size: 1.167rem;
}
.notice_list_box .list_count .btn_box button.on{
  background: #4B423C;
  color: #fff;
}
.notice_list_box .list_count .btn_box button + button{
  margin-left: 3.5%;
}
.notice_list_box .sub_title{
position: relative;
}
.notice_list_box .notice_list_title{
  display: none;
}
.notice_list_box .notice_list_title.answer{
  position: relative;
  display: block;
  width: auto;
  height: 2.5rem;
  /* border-bottom: 1px solid #fff; */
}
.notice_list_box .notice_list_title.answer::after{
  position: absolute;
  content: "";
  display: none;
  width: 100%;
  height: 1px;
  background: #D4D9E0;
  left: 0;
  right: 0;
  bottom: 0;
}
.notice_list_box .notice_list_title.answer div{
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  /* line-height: 3.667rem; */
  width: 28%;
  color: #4B423C;
  font-size:1.083rem;
}
.notice_list_box .notice_list_title.answer .table_w01{
  width: 72%;
}

.notice_list_box .notice_list{
  margin:0;
}
.notice_list_box .notice_list div{
  position: relative;
  padding: 0.8333rem 0.8333rem 1.083rem;
  display: block;
  width: 100%;
  border-top: 1px solid #D4D9E0;
}
.notice_list_box .notice_list div::before{
  position: absolute;
  display: table;
  content: "";
  width: 100%;
  height: 1px;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
}
.notice_list_box .notice_list div:last-of-type {
    border-bottom: 1px solid #fff;
}
.notice_list_box .notice_list div:last-of-type:after {
    position: absolute;
    display: table;
    content: "";
    width: 100%;
    height: 1px;
    background: #D4D9E0;
    bottom: 0;
    left: 0;
    right: 0;
}
.notice_list_box .notice_list div .no{
  display: none;
}
.notice_list_box .notice_list div .title{
  position: relative;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  line-height: 1.37;
  padding-right: 1.4rem;
}
.notice_list_box .notice_list div .title::after{
  display: table;
  content: "";
  clear: both;
}
.notice_list_box .notice_list div .title a{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 1.25;
  max-width: 100%;
  float: left;
  font-weight: 700;
}
.notice_list_box .notice_list div .title a.tag_block {
  max-width: 18rem;
}
.notice_list_box .notice_list div .title .tag{
  margin-left: 0.5rem;
}
.notice_list_box .notice_list div .title .clip{
  position: absolute;
  width: 1.17rem;
  height: 1.25rem;
  background: url('/assets/icon/clip_icon.svg') no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.notice_list_box .notice_list div p{
  font-size: 1rem;
}
.notice_list_box .notice_list div p span.time{
  position: relative;
  color: #8D8785;
  padding-left: 1.25rem;
  font-family:'Montserrat';
}
.notice_list_box .notice_list div p span.time::after{
  position: absolute;
  content: "";
  display: block;
  width: 1px;
  height: 0.6667rem;
  background: #D4D5D2;
  top: 50%;
  margin-top: -0.33rem;
  left:  0.5833rem;
}
.notice_list_box .notice_list div.import .title a{
  position: relative;
  z-index: 0;
}
.notice_list_box .notice_list div.import .title a::after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 0.5rem;
  background: #C9E667;
  z-index: -1;
}
.notice_list_box .notice_list.answer div{
  position: relative;
  display: table;
}
.notice_list_box .notice_list.answer div:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
.notice_list_box .notice_list.answer div:last-of-type p.answer {
    transform: translateY(-30.5%);
}
.notice_list_box .notice_list.answer div::after{
  content: "";
  display: none;
  clear: both;
}
.notice_list_box .notice_list.answer div .title{
  letter-spacing: -1px;
  width: 74%;
  padding-right: 0;
}
.notice_list_box .notice_list.answer div .title a{
  max-width:15.3rem;
}
.notice_list_box .notice_list.answer div .title a.tag_block {
  max-width: 11.8rem;
}
.notice_list_box .notice_list.answer div .title .clip{
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin-left: 0.5rem;
  top: auto;
  right: auto;
  transform: none;
}
.notice_list_box .notice_list.answer div p{
  float: left;
  width: 72%;
}
.notice_list_box .notice_list.answer div p.answer {
  width: 28%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.notice_list_box .notice_list.answer div p.answer span{
  display: block;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  margin-bottom: 0.5rem; 
  font-size: 1.167rem;
}
.notice_list_box .notice_list.answer div p.answer span.time{
  padding-left: 0;
  font-weight: normal;
  margin-bottom:0;
  font-size: 1rem;
}
.notice_list_box .notice_list.answer div p.answer span.time::after{
  display: none;
}

.notice_list_box .add_item{
  margin-bottom: 0;
  padding: 1.5rem 0;
  position: relative;
}

/* 게시판 상세*/
.notice_title{
  padding: 2rem 0;
  border-bottom: 1px solid #898989;
}
.notice_title h4{
  font-size: 2rem;
  margin:0 0 1.25rem;
  line-height: 1.37;
  color: #4B423C;
  font-weight: 700;
}
.notice_title p{
  font-size: 1.2rem;
  color: #4B423C;
}
.notice_title p.time{
  font-family:'Montserrat';
  color: #8D8785;
  font-size: 1rem;
}
.notice_title p.sub_title{
  margin-bottom: 0.5rem;
}
.notice_title p.writer_time{
  font-size: 1rem;
}
.notice_title p.writer_time span.time{
  position: relative;
  color: #8D8785;
  padding-left: 1.25rem;
  font-family:'Montserrat';
}
.notice_title p.writer_time span.time::after{
  position: absolute;
  content: "";
  display: block;
  width: 0.08333rem;
  height: 0.6667rem;
  background: #D4D5D2;
  top: 50%;
  margin-top: -0.33rem;
  left:  0.5833rem;
}
.notice_title.top_line{
  border-top: 2px solid #898989;
}
.notice_link{
  position: relative;
  line-height: 3.33rem;
  
  border-bottom: 1px solid #DBD5CE;
}
.notice_link a{
  position: relative;
  color: #8D8785;
  font-family: 'Montserrat';
  font-size: 1rem;
  text-decoration: underline;
  padding-left: 1.9rem;
  display: block;
}
.notice_link a.clip{
  text-decoration: none;
  padding-left: 1.333rem;
}
.notice_link a::after{
  position: absolute;
  content: "";
  width: 1.67rem;
  height: 1.67rem;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
}
.notice_link a.link::after{
  background: url('/assets/icon/link.svg') no-repeat center left;
  background-size: 100%;
}
.notice_link a.clip::after{
  background: url('/assets/icon/clip_icon.svg') no-repeat center left;
  background-size: 100%;
  width: 1rem;
  height: 1.083rem; 
}
.notice_link p{
  color: #8D8785;
  font-family: 'Montserrat';
  font-size: 1rem;
  padding-left:0;
}

/********** 이벤트 리스트 **********/
.event_list li{
  margin:0 0 2.083rem;
}
.event_list li a{
  width: 100%;
}
.event_list li .content .img_box{
  height: 13.75rem;
  overflow: hidden;
  /* background: #f9f9f9; */
  display: flex;
  align-items: center;
}
.event_list li .content .no_img:after {
    line-height: 9.17;
}
.event_list .flat_round_box .content {
    padding: 0;
}
.event_list .flat_round_box .txt_box {
    padding: 1.333rem 1.25rem 1.833rem;
    border-top: 1px solid #efefef;
}

/* 어드민 등록 공통 */
.admin_content{
  display: block; 
  padding: 1.25rem 1.67rem 3.333rem;
  line-height: 1.6;
  font-size: 1.083rem;
}
.admin_content img,
.flat_round_box .admin_content img{
  width: auto;
  max-width: 100% !important;
  height: auto !important;
  display: block;
  margin: 0 auto;
}
.admin_content p{
}

/* 목록보기 */
.go_list{
  display: none;
}
.go_list.block{
  display: block;
}
/* 404 공통 */
.no_info{
  width: 13.33rem;
  margin: 0 auto;
  text-align: center;
}
.no_info .comment{
  padding-top:5.33rem;
  background: url('/assets/icon/comment_icon.svg') no-repeat;
  background-size: 4rem auto;
  background-position: top center;
}

/* 유져 아이디, 날짜 정보 */
.writer_time{
  font-size: 1rem;
}
.writer_time span.time{
  position: relative;
  color: #8D8785;
  padding-left: 1.25rem;
  font-family:'Montserrat';
}
.writer_time span.time::after{
  position: absolute;
  content: "";
  display: block;
  width: 0.08333rem;
  height: 0.6667rem;
  background: #D4D5D2;
  top: 50%;
  margin-top: -0.33rem;
  left:  0.5833rem;
}

/* 페이징 */
.bottom_nav{
  position: relative;
}
.bottom_nav .content > div{
  display: none;
}

/* 수정, 삭제 btn */
.bottom_nav .content > div.fix_n_del{
  display: block;
}
.btn_area.fix_n_del{
  display: block;
  margin-top: 2.5rem;
  text-align: right;
}
.btn_area.fix_n_del .btn{
  width: auto;
  padding: 0 1.75rem;
}
.btn_area.fix_n_del .btn_type3 {
  float: left;
}
.btn_area.fix_n_del:after {
    display: block;
    content: "";
    clear: both;
}

/********** 문의사항 박스 **********/
.inqui_box{
  padding: 0 1.333rem;
  background: #fff;
}
.inqui_box + .main_title{
  padding-top: 5rem !important;
}
.inqui_box.answer{
  border-bottom:0;
}
.inqui_box .admin_content {
  padding-left: 0;
  padding-right: 0;
}
/* pc */
@media screen and (min-width: 1025px) {

    /********** 사용자 등록 게시판 상세 **********/
    .user_community{
        padding: 0;
    }
    .user_community .img_box img {
        margin-bottom: 40px;
    }
    .user_community .view_cont {
        padding: 40px 40px 30px;
    }
    .user_community .input_cont {
        background: #F5F5F5;
        padding: 40px 40px 30px;
    }
    
    /* 타이틀 */
    .user_community .title_box{
        /* margin:40px 0 0; */
        padding-bottom: 35px;
    }
    .user_community .title_box h4{
        font-size: 26px;
    }
    .user_community .title_box h4 .tag{
        margin-left: 6px;
    }
    .user_community .title_box p.writer_time{
        margin-top: 10px;
        font-size: 14px;
    }
    /* 댓글 인풋 */
    .user_community .comment_input_box{
        margin:0;
        padding: 0 0 36px;
    }
    .user_community .comment_input_box .input_box{
        padding: 14px 14px 27px;
        height: 85px;
        box-shadow: 0px 4px 6px #2c28281c;
    }
    .user_community .comment_input_box .input_box textarea{
        font-size: 16px;
        height: 44px;
    }
    .user_community .comment_input_box .btn_area {
        margin-top: 20px;
    }
    .user_community .comment_input_box .btn_type2 {
        width: 123px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }
    /* 댓글 창 */
    .user_community .comment_box{
        margin:0;
        /* padding-bottom: 30px; */
    }
    .user_community .comment_box h4.title {
        font-size: 16px;
    }
    .user_community .comments_list>div{
        padding: 18px 0;
    }
    .user_community .comments_list>div .user_pic{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        top: 25px;
    }
    .user_community .comments_list>div .info .writer_time{
        font-size: 14px;
        line-height: 24px;
    }
    .user_community .comments_list>div .info p.text{
        font-size: 16px;
        line-height: 1.3125‬;
    }
    .user_community .comments_list>div .info a.delet{
        font-size: 13px;
        margin-top: 12px;
        padding-left: 18px;
    }
    .user_community .comments_list>div .info a.delet::before{
        width:14px;
        height: 14.5px;
    }
    .user_community .comments_list + .add_item{
        padding-bottom: 30px;
    }

    /********** 게시판 형식 리스트 **********/
    .container.type3 .notice_list_box{
    position: relative;
    padding: 0;
    }
    .notice_box{
        /* margin: 20px 0 0; */
        padding: 0 40px;
    }
    /* 검색 필터 */
    .notice_list_box .serch_2tab{
        position: absolute;
        background: none;
        width: 380px;
        padding: 0 !important;
        /* bottom: 28px; */
        bottom: 37px;
        right: 0;
    }
    /* #board_share .notice_list_box .serch_2tab{
        bottom: 37px;
    } */
    .notice_list_box .serch_2tab .com_sel{
        border-radius: 5px;
        height: 40px;
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .notice_list_box .no_data {
        padding: 140px 0;
        border-top: 1px solid #D4D9E0;
        position: relative;
    }
    .notice_list_box .no_data:before {
        display: block;
        content: "";
        width: 100%;
        height: 1px;
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
    }
    .no_data {
        padding: 30px 0 76px;
    }
    .no_data p {
        font-size: 16px;
    }
    .no_data.icon:before {
        width: 87px;
        height: 95px;  
        margin-bottom: 22px;
    }

    /* 총 개수 */
    .notice_list_box .list_count{
        padding:80px 0 38px;
    }
    .notice_list_box .list_count.has_btn{
        padding-top: 50px;
    }
    /* 총 개수 + 분류 */
    .notice_list_box .list_count .btn_box{
        display: inline-block;
        padding-bottom: 0;
        padding-top: 17px;
    }
    .notice_list_box .list_count .btn_box button{
        width: 120px;
        height: 42px;
        font-size: 16px;
    }
    .notice_list_box .list_count .btn_box button + button{
        margin-left: 7px;
    }

    ng-select + .search_form {
        margin-left: 8px;
    }

    /* 리스트 타이틀 테이블 형식 */
    .notice_list_box .notice_list_title{
        position: relative;
        display: table;
        width: 100%;
        border-top: 1px solid #D4D9E0;
    }
    .notice_list_box .notice_list_title::before{
        position: absolute;
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: #fff;
        left: 0;
        right: 0;
        top: 0;
    }
    .notice_list_box .notice_list_title div{
        display: table-cell;
        table-layout: auto;
        width: auto;
        text-align: center;
        font-size: 14px;
        padding: 17px 0;
        font-weight: 700;
    }
    .notice_list_box .notice_list_title div.table_w01{
        width: 105px;
    }
    .notice_list_box .notice_list_title div.table_w02{
        width: 155px;
    }
    .notice_list_box .notice_list_title div.table_w03{
        width: 80px;
    }
    /* 리스트 테이블 형식 */
    .notice_list_box .notice_list{
        border-top: 0;
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .notice_list_box .notice_list div{
        display: table;
        width: 100%;
        padding: 0;
    }
    .notice_list_box .notice_list div > *{
        padding: 13px 0;
        display: table-cell;
        text-align: center;
        font-size: 14px;
        width: auto;
        vertical-align: middle;
    }
    .notice_list_box .notice_list div p {
        font-size: 14px;
    }
    .notice_list_box .notice_list div.import .no span{
        color: #E74536;
        border: 1px solid #E74536;
        border-radius: 3px;
        background: #fff;
        font-size: 13px;
        padding: 2px 6px;
    }
    .notice_list_box .notice_list div.import .title a::after{
        height: 6px;
        bottom: 0;
    }
    .notice_list_box .notice_list div .no{
        display: table-cell;
        width: 105px;
    }
    .notice_list_box .notice_list div .title{
        font-weight: 700;
        text-align: left;
        table-layout: auto;
        padding-right: 105px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .notice_list_box .notice_list div .title a{
        width: auto;
        max-width: 100%;
        padding-right: 0;
        /* min-height: 24px; */
        vertical-align: middle;
        line-height: 1.43;
    }
    .notice_list_box .notice_list div .title a.tag_block {    
        max-width: 87%;
    }
    .notice_list_box .notice_list div .title .tag{
        margin-left: 6px;
        word-break: keep-all;
        vertical-align: 1px;
    }
    .notice_list_box .notice_list div .title .clip{
        width: 105px;
        background-position: center;
        /* background-size: 18px; */
    }
    .notice_list_box .notice_list div .writer_time{
        width: 260px;
    }
    .notice_list_box .notice_list div .writer_time span{
        float: left;
        width: 105px;
        padding: 0;
    }
    .notice_list_box .notice_list div .writer_time span.time{
        width: 154px;
        color: #5A514C;
        padding: 0;
    }
    .notice_list_box .notice_list div .writer_time span.time::after{
        display: none;
    }
    .notice_list_box .notice_list.answer div:last-of-type {
        /* border-bottom: 1px solid #fff; */
    }
    .notice_list_box .notice_list.answer div:last-of-type > * {
        padding-bottom: 0;
    }
    .notice_list_box .notice_list.answer div:last-of-type p.answer {
        transform: none;
    }
    .notice_list_box .notice_list.answer div:last-of-type:after {
        /* display: table; */
    }
    .notice_list_box .notice_list.answer div p{
        float: none;
    }
    .notice_list_box .notice_list.answer div p.answer span {
        font-size: 14px;
    }
    .notice_list_box .notice_list.answer div p.answer span.time {
        font-size: 14px;
    }
    .notice_list_box .notice_list.answer div .no{
        width: 80px;
    }
    .notice_list_box .notice_list.answer div .title{
        width: auto;
    }
    .notice_list_box .notice_list.answer div .title a{
        padding-right: 80px;
        max-width: 100%;
    }
    .notice_list_box .notice_list.answer div .title a.tag_block {
        padding-right: 0;
        max-width: 70%;
        letter-spacing: 0;
    }
    .notice_list_box .notice_list.answer div .title .clip{
        position: absolute;
        margin-left: 0;
        width: 1.17rem;
        width: 80px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    .notice_list_box .notice_list.answer div .writer_time{
        width: 212px;
    }
    .notice_list_box .notice_list.answer div .writer_time span.time{
        width: 105px;
    }
    .notice_list_box .notice_list.answer div .writer_time.answer{
        width: 187px;
        position: relative;
        top: auto;
        right: auto;
        transform:none;
    }
    .notice_list_box .notice_list.answer div .writer_time.answer span{
        width: 80px;
        margin: 0;
        display: inline-block;
    }
    .notice_list_box .notice_list.answer div .writer_time.answer span.time{
        width: 105px;
    }

    .notice_title{
        position: relative;
        padding: 35px 180px 36px 0;
        border-bottom: 1px solid #898989;
    }
    .notice_title h4{
        font-size: 22px;
        margin: 0;
        font-weight: 700;
    }
    .notice_title p{
        font-size: 16px;
    }
    .notice_title p.time{
        font-size: 13px;
        position: absolute;
        right: 20px;
        bottom: 40px;
    }
    .notice_title p.writer_time{
        font-size: 14px;
        position: absolute;
        right: 0;
        bottom: 50px;
    }
    .notice_title p.writer_time span.time{
        font-size: 13px;
    }
    .notice_title p.sub_title{
        margin-bottom: 8px;
    }
    .notice_title.top_line{
        padding-top: 40px;
    }
    .notice_title.top_line::after{
        display: none;
    }
    .notice_link{
        line-height: 40px;
    }
    .notice_link a{
        padding-left: 30px;
        padding-right: 12px;
        font-size: 12px;
    }
    .notice_link a.clip {
        padding-left: 20px;
    }
    .notice_link a::after{
        width: 25px;
        height: 25px;
        left: 2px;
    }
    .notice_link a.clip::after{
        width: 14px;
        height: 15px;
    }
    .notice_link p{
        font-size: 12px;
    }
    /********** 이벤트 리스트 **********/
    .event_list{
        padding: 0;
    }
    .event_list::after{
        content: "";
        display: table;
        clear: both;
    }
    .event_list li{
        width: 490px;
        float: left;
        margin-right: 20px;
        margin-bottom: 25px;
        /* box-shadow: 0px 4px 6px #2c28281c; */
    }
    .event_list li:nth-child(2n){
        margin-right: 0;
    }
    .event_list li .content .img_box{
        height: 224px;
    }
    .event_list li .content .no_img:after {
        line-height: 8;
    }
    .event_list .flat_round_box .txt_box {
        padding: 13px 16px 22px;
    }
    
    /* 커뮤니티 - 단지장터, 랜선집들이 */
    .notice_list_box .event_list li{
        width: 320px;
        margin-right: 20px !important;
    }
    .notice_list_box .event_list li:nth-child(3n){
        margin-right: 0 !important;
    }
    .notice_list_box .event_list li:nth-child(4){
        width: 320px;
    }
    .notice_list_box .event_list li .content .img_box{
        height: 165px;
    }
    .notice_list_box .event_list li .content .no_img:after {
        line-height: 6.15;
    }
    .notice_list_box .flat_round_box .txt_box h4{
        white-space: normal;
        line-height: 1.25;
        height: 43px;
        text-align: left;
        word-wrap: break-word;
        display: -webkit-box; 
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: break-all;
        font-size: 16px;
    }
    .notice_list_box .flat_round_box .txt_box h4 .tag{
        word-break: keep-all;
    }

    .notice_list_box .add_item {
        padding: 24px 0 0;
    }


  /* 어드민 등록 공통 */
  .admin_content{
    padding: 25px 40px 100px;
    font-size: 14px;
    line-height: 1.71;
  }
  .admin_content p{
  }

  .user_community .admin_content {
      padding-top: 30px;
  }
  
  /* 목록보기 */
  .go_list{
    display: block;
    text-align: center;
  }
  .go_list a{
    margin:30px auto 100px;
  }

  /* 페이징 */
  .bottom_nav{
    display: block;
    width: 100%;
    text-align: center;
  }
  .container.type3 >.bottom_nav{
    width: 100%;
  }
  .bottom_nav .content > div{
    display: inline-block;
  }
  .bottom_nav .content{
      width: 1000px;
      margin: 30px auto 100px;
  }
  .bottom_nav .content::after{
      content: "";
      display: table;
      clear: both;
  }
  .bottom_nav .content .nav{
      float: left;
      line-height: 60px;
      width: 153px;
      position: relative;
      text-align: left;
  }
  .bottom_nav .content .nav a{
      position: relative;
      padding-right:18px;
      text-decoration: underline;
  }
  .bottom_nav .content .nav a::after{
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      display: inline-block;
      text-decoration: none;
      width: 7px;
      height: 20px;
      background: url('/assets/common/paging_nav.svg') no-repeat;
      background-size: 13px 14px;
      background-position: right center;
      /* vertical-align: -5px;
      margin-left: 5px; */
  }
  .bottom_nav .content .nav a.prev{
      /* color:#8D8785 */
      padding-left: 18px;
  }
  .bottom_nav .content .nav a.prev::after{
      right: auto;
      left: 0;
      background-position: left center;
  }
  .bottom_nav .content .nav a + a {
      padding-left: 18px;
  }
  .bottom_nav .content .go_list{
      border-top: none;
      /* float: right; */
      /* margin-left: -148px; */
  }
  .bottom_nav .content .go_list a{
      margin: 0;
  }

  .bottom_nav .content .nav + .go_list {
      margin-left: -153px;
  }
  .bottom_nav .content .fix_n_del{
    float: right;
    margin-top: 0;
  }

  /* 수정, 삭제 btn */
  .btn_area.fix_n_del{
    margin-top: 30px;
  }
  .btn_area.fix_n_del .btn{
    padding: 0 32px;
  }
  .btn_area.fix_n_del .btn.type2{
    color: #fff;
    background: #4B423C;
  }
  
  /********** 문의사항 박스 **********/
  .inqui_box{
    padding: 40px 40px 0;
  }
  .inqui_box .notice_title{
    padding-top: 0;
  }
  .inqui_box + .main_title{
    padding-top: 50px;
  }
  .inqui_box.answer{
    margin-bottom: 0;
  }
}