<v-app>
    <v-body title="서비스 이용/예약 신청">
        <div class="container">
            <div class="reservation">
                <!-- 이마트24 조식서비스 -->
                <h4 class="main_title"><span class="highlight">이마트24 조식</span></h4>
                <div class="round_box menu_slide">
                    <div class="content">
                        <h5>조식메뉴</h5>
                        <div class="scroll_box">
                            <ul class="menu_info">
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>간장불고기덮밥1</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>스팸&계란말이도시락2</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>유부초밥세트(대왕불고기&새콤유부)3</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>매콤오리불고기정찬4</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>매콤오리불고기정찬4</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="menu_area">
                                        <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                        <span>매콤오리불고기정찬4</span>
                                    </div>
                                    <div class="btn_area">
                                        <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                        <button type="button" class="btn btn_type2">담기</button>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- 11.19 기능 변경 : slide -> scroll
                        <div class="slide_area">
                            <ion-button (click)="swipePrev()" class="btn_prev">
                                <ion-icon name="chevron-back"></ion-icon>
                            </ion-button>
                            <ion-button (click)="swipeNext()" class="btn_next">
                                <ion-icon name="chevron-forward"></ion-icon>
                            </ion-button>
                            // 슬라이드 : 모바일은 세로정렬(2개씩) option : slidesPerColumn: 2, 추가 / 웹은 가로정렬(4개씩)
                            <ion-slides pager="false" [options]="{
                                slidesPerView:4,                                
                                speed: 400,
                                spaceBetween: 20
                                }">
                                <ion-slide>
                                    <div class="menu_info">
                                        <div class="menu_area">
                                            <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                            <span>간장불고기덮밥1</span>
                                        </div>
                                        <div class="btn_area">
                                            <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                            <button type="button" class="btn btn_type2">담기</button>
                                        </div>
                                    </div>
                                </ion-slide>
                                <ion-slide>
                                    <div class="menu_info">
                                        <div class="menu_area">
                                            <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                            <span>스팸&계란말이도시락2</span>
                                        </div>
                                        <div class="btn_area">
                                            <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                            <button type="button" class="btn btn_type2">담기</button>
                                        </div>
                                    </div>
                                </ion-slide>
                                <ion-slide>
                                    <div class="menu_info">
                                        <div class="menu_area">
                                            <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                            <span>유부초밥세트(대왕불고기&새콤유부)3</span>
                                        </div>
                                        <div class="btn_area">
                                            <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                            <button type="button" class="btn btn_type2">담기</button>
                                        </div>
                                    </div>
                                </ion-slide>
                                <ion-slide>
                                    <div class="menu_info">
                                        <div class="menu_area">
                                            <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                            <span>매콤오리불고기정찬4</span>
                                        </div>
                                        <div class="btn_area">
                                            <a href="javascript:void(0);" class="btn btn_type1">상세정보</a>
                                            <button type="button" class="btn btn_type2">담기</button>
                                        </div>
                                    </div>
                                </ion-slide>
                            </ion-slides>
                        </div> -->
                    </div>
                </div>
                <div class="round_box reserv_area">
                    <div class="content">
                        <div class="odmenu_section">
                            <h5><span>주문 메뉴</span></h5>
                            <div class="order_list">
                                <p class="txt">주문할 메뉴를 담아주세요.</p>
                                <ul>
                                    <li>
                                        <div>
                                            <div class="menu_area">
                                                <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                                <p>
                                                    <span class="tit">유부초밥세트(대왕불고기&새콤유부)</span>
                                                    <span class="price">(5,800원)</span>
                                                </p>
                                            </div>
                                            <div class="price_area">
                                                <span class="total_p">
                                                    <span class="num">232,980</span>
                                                    <span>원</span>
                                                </span>
                                                <div class="amount">
                                                    <button type="button" class="btn_minus">감소</button>
                                                    <span>40</span>
                                                    <button type="button" class="btn_plus">증가</button>
                                                </div>
                                            </div>
                                            <a href="#" class="btn_del">메뉴 삭제</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="menu_area">
                                                <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                                <p>
                                                    <span class="tit">스팸&계란말이도시락</span>
                                                    <span class="price">(5,800원)</span>
                                                </p>
                                            </div>
                                            <div class="price_area">
                                                <span class="total_p">
                                                    <span class="num">232,980</span>
                                                    <span>원</span>
                                                </span>
                                                <div class="amount">
                                                    <button type="button" class="btn_minus">감소</button>
                                                    <span>40</span>
                                                    <button type="button" class="btn_plus">증가</button>
                                                </div>
                                            </div>
                                            <a href="#" class="btn_del">메뉴 삭제</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="menu_area">
                                                <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                                <p>
                                                    <span class="tit">매콤닭갈비&돈까스도시락</span>
                                                    <span class="price">(5,800원)</span>
                                                </p>
                                            </div>
                                            <div class="price_area">
                                                <span class="total_p">
                                                    <span class="num">232,980</span>
                                                    <span>원</span>
                                                </span>
                                                <div class="amount">
                                                    <button type="button" class="btn_minus">감소</button>
                                                    <span>40</span>
                                                    <button type="button" class="btn_plus">증가</button>
                                                </div>
                                            </div>
                                            <a href="#" class="btn_del">메뉴 삭제</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="menu_area">
                                                <span class="img"><img src="/assets/dummy/food.png" alt="메뉴이미지"></span>
                                                <p>
                                                    <span class="tit">뉴참치마요덮밥</span>
                                                    <span class="price">(5,800원)</span>
                                                </p>
                                            </div>
                                            <div class="price_area">
                                                <span class="total_p">
                                                    <span class="num">232,980</span>
                                                    <span>원</span>
                                                </span>
                                                <div class="amount">
                                                    <button type="button" class="btn_minus">감소</button>
                                                    <span>40</span>
                                                    <button type="button" class="btn_plus">증가</button>
                                                </div>
                                            </div>
                                            <a href="#" class="btn_del">메뉴 삭제</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="total_price">
                                <dl>
                                    <dt>총 이용요금</dt>
                                    <dd>
                                        <em class="price"><span class="num fc_default">200,000</span>원</em>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info">
                                <div class="reserv_ibox">
                                    <dl>
                                        <dt>예약일자</dt>
                                        <dd>
                                            <div class="input_row rsv_ip">
                                                <input type="text" class="com_inp2" placeholder="예약일자를 선택하세요.">
                                                <a href="#" class="btn_calendar">달력보기</a>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>주문금액</dt>
                                        <dd><span class="fc_org">246,300 원 (총 주문수량 : 44개)</span></dd>
                                    </dl>
                                    <dl>
                                        <dt>무료혜택</dt>
                                        <dd>
                                            <a href="#" class="btn btn_type1 btn_menu">메뉴선택</a>
                                            <span class="menu_txt none">적용할 메뉴를 선택해주세요.</span>
                                            <span class="menu_txt">유부초밥 세트(대왕불고기&새콤유부)<span class="fc_org">-5,800 원</span><a href="#" class="btn_del">메뉴 삭제</a></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><span>01012****78</span></dd>
                                    </dl>
                                </div>
                                <div class="total_price">
                                    <dl>
                                        <dt>총 이용요금</dt>
                                        <dd>
                                            <em class="price"><span class="num">200,000</span>원</em>
                                            <span class="txt">(관리비 합산 부과)</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bot_area">
                                <div class="radio lt">
                                    <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="radio" id="reserv_agree1" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 이마트24 조식서비스 -->

                <!-- 영구크린 청소서비스 -->
                <h4 class="main_title"><span class="highlight">영구크린 청소서비스</span></h4>
                <div class="round_box reserv_area">
                    <div class="content">
                        <div class="reserv_section">
                            <h5><span class="num">01.</span> <span>예약일자 선택</span></h5>
                            <div class="calendar_area">
                                <ion-calendar
                                    [options]="{
                                        from:1,
                                        monthFormat: 'YYYY년 MM월 ',
                                        monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                                        weekdays: ['일','월','화','수','목','금','토']
                                    }"
                                    type="string"
                                    format="YYYY-MM-DD">
                                </ion-calendar>
                                <p class="category"><span class="today">오늘</span><span class="choice">선택</span></p>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info">
                                <div class="reserv_ibox">
                                    <dl>
                                        <dt>예약일자</dt>
                                        <dd>
                                            <span class="fc_lgry">예약일자를 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">2020년 9월 30일 (수)</span> <!-- 일 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>요청사항</dt>
                                        <dd><textarea class="com_texta" placeholder="※ 이용하실 내용 등을 입력해 주세요." rows="6"></textarea></dd>
                                    </dl>
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><br><span>01012****78</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bot_area">
                                <div class="radio lt">
                                    <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="radio" id="reserv_agree1" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 영구크린 청소서비스 -->

                <!-- 휘트니스 센터 -->
                <h4 class="main_title">
                    <span class="highlight">휘트니스 센터</span>
                    <dl class="right_txt">
                        <dt>이용요금</dt> 
                        <dd><span class="fc_org">20,000</span> 원 / 월 <span class="fc_org">(1인당)</span></dd>
                    </dl>
                </h4>
                <div class="round_box reserv_area">
                    <div class="content">
                        <div class="reserv_section">
                            <h5><span class="num">01.</span> <span>이용 월 선택</span></h5>
                            <div class="month_choice">
                                <ul>
                                    <li class="on"><!-- 선택 시 class="on" 적용 -->
                                        <div class="radio lt">
                                            <label for="month_c">당월(9월)<span class="txt">신청 완료 후, 익일부터 이용이 가능합니다.</span><!-- <span class="txt">선착순 마감 되었습니다.</span> -->
                                                <input type="radio" id="month_c" name="month" checked>
                                                <span class="chkmark"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li class="disabled"><!-- 선착순 마감/신청기간 아닐 경우 class="disabled" 적용 -->
                                        <div class="radio lt">
                                            <label for="month_n">익월(10월)<span class="txt">신청기간이 아닙니다.</span><!-- <span class="txt">신청 완료 후, 익월부터 이용이 가능합니다.</span> -->
                                                <input type="radio" id="month_n" name="month">
                                                <span class="chkmark"></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info">
                                <div class="reserv_ibox">
                                    <dl>
                                        <dt class="necessary">이용 월</dt>
                                        <dd>
                                            <span class="fc_lgry">이용 월을 선택해주세요</span><br> <!-- 월 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">2020년 9월 (1일~30일)</span> <!-- 월 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>이용요금</dt>
                                        <dd>
                                            <span class="fc_lgry">이용 월을 선택해주세요</span><br> <!-- 월 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">20,000 원</span> <!-- 월 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt class="pt">자동연장</dt>
                                        <dd>
                                            <div class="input_row">
                                                <div class="radio lt">
                                                    <label for="extension1">신청안함
                                                        <input type="radio" id="extension1" name="extension">
                                                        <span class="chkmark"></span>
                                                   </label>
                                                </div>
                                                <div class="radio lt">
                                                    <label for="extension2">신청함
                                                        <input type="radio" id="extension2" name="extension">
                                                        <span class="chkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><span>01012****78</span></dd>
                                    </dl>
                                </div>
                                <div class="total_price">
                                    <dl>
                                        <dt>총 이용요금</dt>
                                        <dd>
                                            <em class="price"><span class="num">200,000</span>원</em>
                                            <span class="txt">(관리비 합산 부과)</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bot_area">
                                <div class="radio lt">
                                    <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="radio" id="reserv_agree1" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 휘트니스 센터 -->

                <!-- 파티오하우스 -->
                <h4 class="main_title">
                    <span class="highlight">파티오하우스-게스트룸 A</span>
                    <dl class="right_txt">
                        <dt>이용요금</dt> 
                        <dd><span class="fc_org">50,000</span> 원 / 1박</dd>
                    </dl>
                </h4>
                <div class="round_box reserv_area type2">
                    <div class="content">
                        <div class="reserv_section">
                            <h5><span class="num">01.</span> <span>예약일자 선택</span></h5>
                            <div class="calendar_area">
                                <div class="cal">
                                    <ion-calendar
                                        [options]="{
                                            showMonthPicker:false,
                                            showToggleButtons:false,
                                            pickMode: 'range',
                                            from:1,
                                            monthFormat: 'YYYY년 MM월 ',
                                            monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                                            weekdays: ['일','월','화','수','목','금','토']
                                        }"
                                        type="string"
                                        format="YYYY-MM-DD">
                                    </ion-calendar>
                                    <a href="#" class="btn_prev">이전 달</a>
                                </div>
                                <div class="cal">
                                    <ion-calendar
                                        [options]="{
                                            showMonthPicker:false,
                                            showToggleButtons:false,
                                            pickMode: 'range',
                                            from:1,
                                            monthFormat: 'YYYY년 MM월 ',
                                            monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                                            weekdays: ['일','월','화','수','목','금','토']
                                        }"
                                        type="string"
                                        format="YYYY-MM-DD">
                                    </ion-calendar>
                                    <a href="#" class="btn_next">다음 달</a>
                                </div>
                                <p class="category"><span class="today">오늘</span><span class="choice">선택</span></p>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div>
                                <div class="reserv_info">
                                    <div class="reserv_ibox">
                                        <dl>
                                            <dt>체크인</dt>
                                            <dd>
                                                <span class="fc_lgry">체크인 일자를 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                                <span class="fc_org">2020년 9월 30일 (수)</span> <!-- 일 선택 후 -->
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>체크아웃</dt>
                                            <dd>
                                                <span class="fc_lgry">체크아웃 일자를 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                                <span class="fc_org">2020년 10월 2일 (금)</span> <!-- 일 선택 후 -->
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>이용요금</dt>
                                            <dd>
                                                <span class="fc_lgry">체크인/체크아웃 일자를 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                                <span class="fc_org">100,000 원 (2박)</span> <!-- 일 선택 후 -->
                                            </dd>
                                        </dl>
                                        <dl>
                                            <dt>신청자</dt>
                                            <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><span>01012****78</span></dd>
                                        </dl>
                                    </div>
                                    <div class="total_price">
                                        <dl>
                                            <dt>총 이용요금</dt>
                                            <dd>
                                                <em class="price"><span class="num">200,000</span>원</em>
                                                <span class="txt">(관리비 합산 부과)</span>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="bot_area">
                                    <div class="radio lt">
                                        <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                            <input type="radio" id="reserv_agree1" name="reserv_agree">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="btn_area">
                                        <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 파티오하우스 -->

                <!-- 공유키친 -->
                <h4 class="main_title">
                    <span class="highlight">공유키친</span>
                    <dl class="right_txt">
                        <dt>이용요금</dt> 
                        <dd><span class="fc_org">20,000</span> 원 / 시간 <span class="fc_org">(최소 2시간부터 신청가능)</span></dd>
                    </dl>
                </h4>
                <div class="round_box reserv_area">
                    <div class="content">
                        <div class="reserv_section">
                            <h5><span class="num">01.</span> <span>일자 선택</span></h5>
                            <div class="calendar_area">
                                <ion-calendar
                                    [options]="{
                                        pickMode: 'range',
                                        from:1,
                                        monthFormat: 'YYYY년 MM월 ',
                                        monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                                        weekdays: ['일','월','화','수','목','금','토']
                                    }"
                                    type="string"
                                    format="YYYY-MM-DD">
                                </ion-calendar>
                                <p class="category"><span class="today">오늘</span><span class="choice">선택</span></p>
                            </div>
                            <h5><span class="num">02.</span> <span>시간 선택</span></h5>
                            <div class="time_area">
                                <div class="time_wrap">
                                    <p class="txt">예약일자를 선택해주세요.</p><!-- 선택 전 -->
                                    <!-- 선택 후 -->
                                    <div class="slide_area time_list">
                                        <ion-button (click)="swipePrev()" class="btn_prev">
                                            <ion-icon name="chevron-back"></ion-icon>
                                        </ion-button>
                                        <ion-button (click)="swipeNext()" class="btn_next">
                                            <ion-icon name="chevron-forward"></ion-icon>
                                        </ion-button>
                                        <ion-slides pager="false" [options]="{
                                            slidesPerView:5,
                                        initialSlide: 1,
                                        speed: 400,
                                        spaceBetween: 0
                                        }">
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">09</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide class="selected"><!-- 선택 시 class="selected" 적용 -->
                                                <a class="time_box">
                                                    <span class="time">10</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide class="selected"><!-- 선택 시 class="selected" 적용 -->
                                                <a class="time_box">
                                                    <span class="time">11</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide class="disabled"><!-- 예약불가일 경우 class="disabled" -->
                                                <a class="time_box">
                                                    <span class="time">12</span>
                                                    <span class="price"></span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">13</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">14</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">15</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">16</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                            <ion-slide>
                                                <a class="time_box">
                                                    <span class="time">17</span>
                                                    <span class="price">1,000</span>
                                                </a>
                                            </ion-slide>
                                        </ion-slides>
                                    </div>
                                    <!-- // 선택 후 -->
                                </div>
                                <p class="category"><span class="impossible">예약불가</span><span class="possible">예약가능</span><span class="choice">선택</span></p>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info">
                                <div class="reserv_ibox">
                                    <dl>
                                        <dt>예약일자</dt>
                                        <dd>
                                            <span class="fc_lgry">예약일자를 선택해주세요.</span><br> <!-- 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">2020년 9월 30일 (수)</span> <!-- 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>예약시간</dt>
                                        <dd>
                                            <span class="fc_lgry">예약시간을 선택해주세요.</span><br> <!-- 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">10:00 ~ 12:00 (2시간)</span> <!-- 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>이용요금</dt>
                                        <dd>
                                            <span class="fc_lgry">예약일자 및 시간을 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">40,000 원</span> <!-- 일 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt class="pt">자동연장</dt>
                                        <dd>
                                            <div class="input_row">
                                                <div class="radio lt">
                                                    <label for="extension">+ 10,000 원
                                                        <input type="radio" id="extension" name="extension2">
                                                        <span class="chkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><span>01012****78</span></dd>
                                    </dl>
                                </div>
                                <div class="total_price">
                                    <dl>
                                        <dt>총 이용요금</dt>
                                        <dd>
                                            <em class="price"><span class="num">50,000</span>원</em>
                                            <span class="txt">(관리비 합산 부과)</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bot_area">
                                <div class="radio lt">
                                    <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="radio" id="reserv_agree1" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 공유키친 -->

                <!-- 영랑호 리조트 -->
                <h4 class="main_title">
                    <span class="highlight">영랑호 리조트</span>
                </h4>
                <div class="round_box reserv_area">
                    <div class="content">
                        <div class="reserv_section">
                            <h5><span class="num">01.</span> <span>예약일자 선택</span></h5>
                            <div class="calendar_area">
                                <ion-calendar
                                    [options]="{
                                        from:1,
                                        monthFormat: 'YYYY년 MM월 ',
                                        monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                                        weekdays: ['일','월','화','수','목','금','토']
                                    }"
                                    type="string"
                                    format="YYYY-MM-DD">
                                </ion-calendar>
                                <p class="category"><span class="today">오늘</span><span class="choice">선택</span></p>
                            </div>
                        </div>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info">
                                <div class="reserv_ibox">
                                    <dl>
                                        <dt>예약일자</dt>
                                        <dd>
                                            <span class="fc_lgry">예약일자를 선택해주세요.</span><br> <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                            <span class="fc_org">2020년 9월 30일 (수)</span> <!-- 일 선택 후 -->
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt class="pt">객실타입</dt>
                                        <dd>
                                            <ul class="room_type">
                                                <li>
                                                    <div class="radio lt">
                                                        <label for="room1">타워스위트<span class="txt">(38평형, 정원 5명)</span>
                                                            <input type="radio" id="room1" name="room">
                                                            <span class="chkmark"></span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio lt">
                                                        <label for="room2">스탠다드A<span class="txt">(18평형, 정원 5명)</span>
                                                            <input type="radio" id="room2" name="room">
                                                            <span class="chkmark"></span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio lt">
                                                        <label for="room3">스탠다드B<span class="txt">(20평형, 정원 5명)</span>
                                                            <input type="radio" id="room3" name="room">
                                                            <span class="chkmark"></span>
                                                        </label>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="radio lt">
                                                        <label for="room4">갤러리하우스<span class="txt">(43평형, 정원 7명)</span>
                                                            <input type="radio" id="room4" name="room">
                                                            <span class="chkmark"></span>
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group"><span>신세계</span><span>103동 2404호</span><span>01012****78</span></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="bot_area">
                                <div class="radio lt">
                                    <label for="reserv_agree1">유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="radio" id="reserv_agree1" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 영랑호 리조트 -->
                
                <!-- 10-21 추가 : 버튼 -->
                <div class="btn_area">
                    <a href="#" class="btn btn_type3">목록보기</a>
                </div>
                <!-- // 10-21 추가 : 버튼 -->

                <!-- 유의사항 : tab 형태 -->
                <div class="round_box btm_info_box">
                    <div class="content">
                        <div class="tab_list">
                            <div>
                                <ul>
                                    <li class="on">
                                        <a href="#">유의사항</a>
                                    </li>
                                    <li>
                                        <a href="#">취소/환불규정</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="tab_block">
                            <li class="on">
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li>유의사항1</li>
                                        <li>유의사항2</li>
                                        <li>유의사항3</li>
                                        <li>유의사항4</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li>취소/환불정책 1</li>
                                        <li>취소/환불정책 2</li>
                                        <li>취소/환불정책 3</li>
                                        <li>취소/환불정책 4</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </v-body>

    <!-- 레이어팝업 : 이마트24 조식 -->
    <div class="dimmed" style="display:none"></div>
    <!-- 메뉴 상세정보 -->
    <div class="layer_popup menu_det" style="display:none">
        <div class="content">
            <h1>상세정보</h1>
            <div class="cont_pop">
                <div class="scroll_box">
                    <p class="menu_tit">유부초밥세트(대왕불고기&새콤유부)</p>
                    <span class="img">메뉴이미지</span>
                    <p class="txt">메뉴설명</p>
                </div>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" class="btn btn_type2 w_100">확인</button>
        </div>
        <a href="#" class="btn_popup_close">닫기</a>
    </div>
    <!-- // 메뉴 상세정보 -->
    <!-- 무료혜택 메뉴선택 -->
    <div class="layer_popup free_benefits" style="display:none">
        <div class="content">
            <h1>무료혜택 메뉴선택</h1>
            <div class="cont_pop">
                <div class="scroll_box">
                    <p class="dot_tit">무료혜택을 적용할 메뉴를 선택해주세요.</p>
                    <ul class="list">
                        <li class="on"><!-- 선택 시 class="on" 적용 -->
                            <div class="radio lt">
                                <label for="fb1">유부초밥세트(대왕불고기&새콤유부) <span class="price">-5,800원</span>
                                    <input type="radio" id="fb1" name="free_benefits" checked>
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio lt">
                                <label for="fb2">스팸&계란말이도시락 <span class="price">-5,800원</span>
                                    <input type="radio" id="fb2" name="free_benefits">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio lt">
                                <label for="fb3">매콤닭갈비&돈까스도시락 <span class="price">-5,800원</span>
                                    <input type="radio" id="fb3" name="free_benefits">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio lt">
                                <label for="fb4">뉴참치마요덮밥 <span class="price">-5,800원</span>
                                    <input type="radio" id="fb4" name="free_benefits">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio lt">
                                <label for="fb5">올뉴기찬도시락 <span class="price">-5,800원</span>
                                    <input type="radio" id="fb5" name="free_benefits">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" class="btn btn_type2 w_100">확인</button>
        </div>
        <a href="#" class="btn_popup_close">닫기</a>
    </div>
    <!-- // 무료혜택 메뉴선택 -->
    <!-- 예약일자 선택 -->
    <div class="layer_popup reserv_date" style="display:none">
        <div class="content">
            <h1>예약일자 선택</h1>
            <div class="cont_pop">
                <ion-calendar
                    [options]="{
                        showMonthPicker:false,
                        from:1,
                        monthFormat: 'YYYY년 MM월 ',
                        monthPickerFormat: ['1월','2월','3월','4월' ,'5월','6월','7월','8월','9월','10월','11월','12월'],
                        weekdays: ['일','월','화','수','목','금','토']
                    }"
                    type="string"
                    format="YYYY-MM-DD">
                </ion-calendar>
                <p class="category"><span class="impossible">예약불가</span><span class="today">오늘</span><span class="choice">선택</span></p>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" class="btn btn_type1">취소하기</button>
            <button type="button" class="btn btn_type2">선택완료</button>
        </div>
        <a href="#" class="btn_popup_close">닫기</a>
    </div>
    <!-- // 예약일자 선택 -->
    <!-- // 레이어팝업 : 이마트24 조식 -->
</v-app>
