<v-app id="pincode">
  <v-body title="핀번호 잠금">
    <!-- 핀번호 잠금화면 : 페이지 -->
    <div class="pincode_wrap">
      <div class="pin_inp_area">
        <h2>암호 입력</h2>
        <p>빌리브 암호를 입력해주세요</p>
        <div class="pin_center">
          <span class="key_inp on"></span>
          <span class="key_inp"></span>
          <span class="key_inp"></span>
          <span class="key_inp"></span>
        </div>
      </div>

      <div class="keyboard_area">
        <table class="keyboard_tbl">
          <tbody>
          <tr>
            <td class="">
              <a href="#" class="round_box key">
                <span class="knum key1-1">1</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key1-2">2</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key1-3">3</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key2-1">4</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key2-2">5</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key2-3">6</span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key3-1">7</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key3-2">8</span>
              </a>
            </td>
            <td>
              <a href="#" class="round_box key">
                <span class="knum key3-3">9</span>
              </a>
            </td>
          </tr>
          <tr>
            <td></td>
            <!-- 빈 태그 -->
            <td>
              <a href="#" class="round_box key">
                <span class="knum key4-2">0</span>
              </a>
            </td>
            <td>
              <a href="#" class="key">
                <span class="knum btn_backspace">글자삭제</span>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <p class="txt">비밀번호를 분실하신 경우 앱을 삭제 후 재설치 하시기 바랍니다.</p>
    </div>
    <!-- // 핀번호 잠금화면 : 페이지 -->

<!--    &lt;!&ndash; APP 방범 비밀번호 입력화면 : 팝업  &ndash;&gt;-->
<!--    <div class="pincode_wrap popup">-->
<!--      <div class="pin_inp_area">-->
<!--        <h2>비밀번호 입력</h2>-->
<!--        <p>비밀번호를 입력해주세요</p>-->
<!--        <div class="pin_center">-->
<!--          <span class="key_inp on"></span>-->
<!--          <span class="key_inp"></span>-->
<!--          <span class="key_inp"></span>-->
<!--          <span class="key_inp"></span>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="keyboard_area">-->
<!--        <table class="keyboard_tbl">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <td class="">-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key1-1">1</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key1-2">2</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key1-3">3</span>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key2-1">4</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key2-2">5</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key2-3">6</span>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key3-1">7</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key3-2">8</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key3-3">9</span>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td></td>-->
<!--            &lt;!&ndash; 빈 태그 &ndash;&gt;-->
<!--            <td>-->
<!--              <a href="#" class="round_box key">-->
<!--                <span class="knum key4-2">0</span>-->
<!--              </a>-->
<!--            </td>-->
<!--            <td>-->
<!--              <a href="#" class="key">-->
<!--                <span class="knum btn_backspace">글자삭제</span>-->
<!--              </a>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->

<!--      <div class="btn_area">-->
<!--        <button type="button" class="btn btn_type1">취소</button>-->
<!--        <button type="button" class="btn btn_type2">확인</button>-->
<!--      </div>-->

<!--      <a href="#" class="btn_pclose">팝업 닫기</a>-->
<!--    </div>-->
    <!-- // APP 방범 비밀번호 입력화면 : 팝업  -->
  </v-body>
</v-app>