.pincode_wrap {
    padding: 0 2.5rem;
    background: #EFF1F5;
}
.pin_inp_area {
    margin-top: 4.167rem;
}
.pin_inp_area h2 {
    font-size: 2.333rem;
    font-weight: 800;
    text-align: center;
}
.pin_inp_area > p {
    font-size: 1.167rem;
    font-weight: 300;
    text-align: center;
    margin-top: 1.083rem;
}
.pin_inp_area .pin_center {
    margin-top: 1.667rem;
    flex: 1 100%;
    text-align: center;
}
.pin_inp_area .pin_center .key_inp {
    display: inline-block;
    width: 1.083rem;
    height: 1.083rem;
    background: #D4D9E0;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 0.8333rem;
}
.pin_inp_area .pin_center .key_inp.on {
    background: #4B423C;
}

.keyboard_area {
    margin-top: 4.583rem;
}
.keyboard_tbl {
    table-layout: fixed;
    width: 100%;
}
.keyboard_tbl td {
    padding: 0.08333rem 0.4167rem;
    vertical-align: middle;
}
.keyboard_tbl td a {
    display: block;
    height: 100%;
    text-align: center;
    height: 6.167rem;
}
.keyboard_tbl td a span {
    display: block;
    color: #4B423C;
    font-size: 2rem;
    font-weight: 800;
    font-family: "Montserrat";
    line-height: 3.1; 
}
.keyboard_tbl td a.round_box span {
    line-height: 1.9; 
}
.keyboard_tbl td a span.btn_backspace {
    text-indent: -9999px;
    background: url('/assets/icon/btn_backspace.svg') no-repeat center 58%;
    background-size: 5rem 3.667rem;
    width: 100%;
    height: 100%;
}

.txt {
    margin-top: 3.083rem;
    font-size: 1rem;
    font-weight: 300;
    color: #8D8785;
}

.pincode_wrap.popup {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
}
.pincode_wrap.popup .pin_inp_area {
    margin-top: 6.667rem;
}
.pincode_wrap.popup .keyboard_area {
    margin-top: 2.917rem;
}
.mt50 {
    margin-top: 4.167rem !important;
}
.btn_area {
    margin-top: 2.833rem;
}
a.btn_pclose {
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
    width: 1.5rem;
    height: 1.5rem;
    background: url('/assets/common/btn_close_black.svg') no-repeat;
    background-size: 100%;
    text-indent: -9999px;
    opacity: .5;
}