/** fold type **/
.flat_round_box {
    box-shadow: 0px 0.25rem 0.5rem #2C28281C;
}
.flat_round_box .content {
    padding: 0;
}

.fold{
    background: #fff;
    margin:0 0 2.083rem;
}
.fold:last-child{
    margin-bottom: 0;
}
/* 폴드 타입 메인 컨텐츠 - 그룹사 소개 영역 */
.fold .fold_main_title{
    position: relative;
    padding: 2rem 1.17rem 1.17rem 6.417rem;
}
.fold .fold_main_title .id_img{
    position: absolute;
    width:4rem;
    height: 4rem;
    left: 1.167rem;
    top: 2rem;
    border-radius: 50%;
    overflow: hidden;
}
.fold .fold_main_title .id_img.no_img{
    min-height: 4rem;
}
.fold .fold_main_title .id_img.no_img::after{
    font-size: 1rem;
    line-height: 1;
    padding-top: 0.9167rem;
    padding-bottom: 0.8333rem;
}
.fold .fold_main_title .id_img img{
    width: 100%;
    height: 100%;
}
.fold .fold_main_title .info_box{
    min-height: 4rem;
}
.fold .fold_main_title .info_box h4{
    color: #4B423C;
    font-weight: bold;
    font-size: 1.34rem;
    line-height: 1.37;
    font-family: "Montserrat", "NotoSans";
}
.fold .fold_main_title .info_box p{
    font-size: 0.8333rem;
    line-height: 1.3;
    color: #8D8785;
}
.fold .fold_main_title .info_box p span{
    display: block;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: 0;
}
/* 폴드 타입 메인 컨텐츠 -  그룹사 소개 영역 - 상세 소개 */
.fold .fold_main_cont{
    display: block;
    padding:0 1.167rem;
}
.fold .fold_main_cont .img_box{
    height: 12.5rem;
}
.fold .fold_main_cont img{
    width: 100%;
    cursor: pointer;
}
.fold .fold_main_cont p{
    padding: 1.667rem 0.9167rem 2rem;
    font-size: 1.08rem;
    line-height: 1.38
}

/* 폴드 타입 폴딩 컨텐츠 - 그룹사 라이프 스타일 제안 영역 */
.fold .fold_box{
    display: block;
}
/* 폴드 타입 폴딩 컨텐츠 - 그룹사 라이프 스타일 제안 영역 - 제목 */
.fold .fold_box .title{
    position: relative;
    background: #F9F9F9;
    border-top:0.084rem solid #D4D9E0;
    padding: 1.667rem 3.5rem 1.667rem 1.167rem;
    border-radius: 0 0 0.5833rem 0.5833rem;
    overflow: hidden;
    -webkit-transition: all 1s; 
    transition: all 1s;
}
.fold .fold_box .title a{
    position: relative;
    font-size: 1.17rem;
    line-height: 1.43;
    font-weight: bold;
    display: block;
    width: 100%;
}
.fold .fold_box .title a::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 1.17rem;
    height: 0.67rem;
    right: -2.337rem;
    background: url('/assets/icon/fold_down_icon.svg') no-repeat;
    background-size: 100%;
    top: 50%;
    margin-top: -0.3rem;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s; 
}
.fold .fold_box .title.show a::after{
    transform: rotate(180deg);
}
.fold .fold_box .title a span{
    display: block;
}
/* 폴드 타입 폴딩 컨텐츠 - 그룹사 라이프 스타일 제안 영역 - 제안 콘텐츠 */
.fold .fold_box .cont{
    display: none;
    -webkit-transition: all 1s; 
    transition: all 1s;
}
.fold .fold_box .title.show + .cont{
    height: auto;
    display: block;
}
.fold .fold_box .cont ul{
    padding: 0 1.16667rem;
    background: #F9F9F9;
}
.fold .fold_box .cont ul li{
    border-bottom: 0.083rem solid #D9D9D9;
    padding: 2.5rem 0;
}
.fold .fold_box .cont ul li:first-child{
    padding-top: 0;
}
.fold .fold_box .cont ul li:last-child{
    border-bottom: 0;
}
.fold .fold_box .cont ul li .img_box{
    height: 12.5rem;
}
.fold .fold_box .cont ul li img{
    width: 100%;
}
.fold .fold_box .cont ul li .info_box{
    color: #4B423C;
}
.fold .fold_box .cont ul li .info_box h4{
    color: #4B423C;
    margin:1.67rem 0 1rem ;
    font-size: 1.33rem;
    line-height: 1.37;
    font-weight: bold;
}
.fold .fold_box .cont ul li .info_box p{
    font-size: 1.083rem;
    line-height: 1.5;
}
.fold .fold_box .cont .bottom_btn{
    background: #8FB21A;

}
.fold .fold_box .cont .bottom_btn a{
    display: block;
    position: relative;
    color: #fff;
    text-decoration: underline;
    padding:1.667rem 2.9rem 1.667rem 1.17rem;
    font-size: 1.17rem;
    line-height: 1.6;
}
.fold .fold_box .cont .bottom_btn a::after{
    position: absolute;
    content: "";
    display: block;
    width: 0.67rem;
    height: 1.17rem;
    background: url('/assets/icon/white_arrow_right.svg') no-repeat;
    background-size: 100%;
    right: 1.17rem;
    top: 50%;
    transform: translateY(-50%);;
}
.fold .fold_box .cont .bottom_btn a span{
    display: block;
}
/**** pc ****/
@media screen and (min-width: 1025px) {
    .flat_round_box {
        box-shadow: 0px 3px 6px #2C28281C;
    }

    .fold{
        display: block;
        margin:0 0 60px;
        border-radius: 8px;
    }
    .fold .fold_main_box::after{
        display: table;
        content: "";
        clear: both;
    }
    /* 폴드 타입 메인 컨텐츠 - 그룹사 소개 영역 */
    .fold .fold_main_title{
        position: relative;
        padding:48px 0 20px 120px;
        float: left;
        max-width: 330px;
    }
    .fold .fold_main_title .id_img{
        width: 60px;
        height: 60px;
        left: 40px ;
        top: 48px ;
    }
    .fold .fold_main_title .id_img.no_img{
        min-height: 60px;
    }
    .fold .fold_main_title .id_img.no_img::after{
        font-size: 12px;
        line-height: 5;
        padding-top: 0;
    }
    .fold .fold_main_title .info_box{
        min-height: 48px ;
    }
    .fold .fold_main_title .info_box h4 {
        font-size: 20px;
        line-height: 20px;
    }
    .fold .fold_main_title .info_box h4 + p {
        font-size: 12px;
        margin-top: 4px;
    }
    .fold .fold_main_title .info_box p{
        font-size: 16px;
        line-height: 24px;
    }
    /* 폴드 타입 메인 컨텐츠 -  그룹사 소개 영역 - 상세 소개 */
    .fold .fold_main_cont{
        float: right;
        width: 670px;
        padding: 48px 40px 0 25px;
    }
    .fold .fold_main_cont .img_box{
        height: 306px;
    }
    .fold .fold_main_cont p{
        font-size: 16px;
        line-height: 1.31;
    }
    /* 폴드 타입 폴딩 컨텐츠 - 하단 정보 타이틀 */
    .fold .fold_box .title{
        text-align: center;
        border-top: 0.5px solid #D4D9E0;;
        padding: 26px 0;
    }
    .fold .fold_box .title a{
        display: block;
        line-height: 1.28;
        font-size: 18px;
    }
    .fold .fold_box .title a span{
        display: inline-block;
    }
    .fold .fold_box .title a span+span{
        padding-left: 3px;
    }
    .fold .fold_box .title a::after{
        position: relative;
        width: 16px;
        height: 9px;
        background-size: 100% 100%;
        // margin-top: 0;
        top: 0;
        right: 0;
        margin-left: 36px;
        vertical-align: middle;
    }
    /* 폴드 타입 폴딩 컨텐츠 - 그룹사 라이프 스타일 제안 영역 */
    .fold .fold_box{
        background-color: #F9F9F9;
    }
    /* 폴드 타입 폴딩 컨텐츠 - 그룹사 라이프 스타일 제안 영역 - 제안 콘텐츠 */
    .fold .fold_box .cont ul{
        padding: 0 40px;
    }
    .fold .fold_box .cont ul::after{
        content: "";
        display: table;
        clear: both;
    }
    .fold .fold_box .cont ul li{
        border-bottom: 0;
        padding: 0 0 30px;
        width: 290px;
        float: left;
        margin-right: 25px;
    }
    .fold .fold_box .cont ul li:nth-child(3n){
        margin-right: 0;
    }
    .fold .fold_box .cont ul li .img_box{
        width: 290px;
        height: 160px;
    }
    .fold .fold_box .cont .bottom_btn a{
        text-align: center;
        padding: 20px;
        font-size: 18px;
    }
    .fold .fold_box .cont .bottom_btn a::after{
        display: inline-block;
        position: relative;
        margin-left:30px;
        top:0;
        bottom: 0;
        transform: none;
        right: 0;
        height: 16px;
        width: 9px;
        vertical-align: middle;
    }
    .fold .fold_box .cont ul li .info_box h4 {
        font-size: 18px;
    }
    .fold .fold_box .cont ul li .info_box p {
        font-size: 16px;
    }
    .fold .fold_box .cont .bottom_btn a span{
        display: inline-block;
        text-decoration: underline;
    }
}