.top_txt {
  font-size: 2.167rem;
  line-height: 1.38;
  text-align: center;
  margin: 3.333rem 0 2.25rem;
}
.top_txt .highlight {
  display: inline-block;
  border-bottom: 1rem solid #C9E667;
  line-height: 0.3;
}

.login_form {}
.login_form ul {}
.login_form ul li {
  margin-bottom: 0.8333rem;
}
.login_form ul li:last-child {
  margin-bottom: 0;
}
.login_form ul li .input_row {
  display: flex;
}
.login_form ul li .input_row ng-select {
  flex: 1;
}

ng-select {
  width: 100%;
}
ng-select + ng-select {
  margin-left: 0.5rem;
}

.btn_area {
  margin-top: 2.083rem;
  margin-bottom: 2.5rem;
}
.btn {
  width: 100%;
}

.certi_num {
  position: relative;
}
.certi_num .input_row {
}
.certi_num span {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  font-size: 1.333rem;
  font-weight: 300;
}
.certi_num .btn_area {
  margin-top: 0.8333rem;
}

.ps_txt {
  font-size: 1.167rem;
  line-height: 1.57;
  margin-top: 2.583rem;
  color: #5A514C;
  text-align: center;
}
.ps_txt a {
  text-decoration: underline;
  font-weight: 800;
  color: #4B423C;
}

.app_down {
  margin: 1.25rem 0 0;
}
.app_down .btn_area {
  margin: 0.3333rem 0 0;
}

@media screen and (min-width: 1025px) {
  
  .login {
    width: 420px;
    margin: 0 auto;
    padding: 0;
  }

  .top_txt {
    font-size: 28px;
    margin: 54px 0 36px;
  }
  .top_txt .highlight {
    border-bottom-width: 12px;
  }
  
  .btn_area {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .certi_num {
    display: flex;
    justify-content: space-between;
  }
  .certi_num .input_row {
    width: calc(100% - 112px);
  }
  .certi_num span {
    top: 15px;
    right: 12px;
    font-size: 16px;
  }
  .certi_num .btn_area {
    margin: 0;
    width: 102px;
  }
  .certi_num .btn_area .btn {
    height: 50px;
    font-size: 16px;
    line-height: 3.125;
  }
  
  .ps_txt {
    font-size: 14px;
    margin-top: 25px;
  }

  .app_down.bot_area {
    margin: 50px 0 0;
    padding: 20px;
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 128px;
    display: flex;
  }
  .app_down.bot_area p {
    font-size: 14px;
    word-break: keep-all;
    text-align: left;
  }
  .app_down.bot_area p strong {
    font-size: 20px;
  }
  .app_down a {
    width: 120px;
    height: 30px;
    font-size: 12px;
  }
  .app_down a:before {
    margin-right: 6px;
  }
  .app_down a.btn_ios:before {
    margin-top: 7px;
    width: 12px;
    height: 15px;
  }
  .app_down a.btn_android:before {
    margin-top: 9px;
    width: 11px;
    height: 13px;
  }
}