ion-list {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
  position: relative;
}

ion-list > ion-item {
  width: 220px;
  font-size: 13px;
  display: block;
  --inner-border-width: 0;
  align-items: flex-start;
  padding-top: 8px;
  list-style-type: none;
  text-align: center;
  --padding-start: 0;
  --inner-padding-end: 0;
}
ion-list > ion-item:first-of-type {
  width: 150px;
  padding-left: 10px;
  box-sizing: border-box;
}
ion-list > ion-item:nth-of-type(2) {
  width: 140px;
  position: absolute;
  top: 38px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(3) {
  width: 140px;
  position: absolute;
  top: 68px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(4) {
  width: 140px;
  position: absolute;
  top: 98px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(5) {
  width: 140px;
  position: absolute;
  top: 143px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(6) {
  width: 140px;
  position: absolute;
  top: 173px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(7) {
  width: 140px;
  position: absolute;
  top: 203px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item:nth-of-type(8) {
  width: 140px;
  position: absolute;
  top: 233px;
  left: 10px;
  text-align: left;
}
ion-list > ion-item .guide {
  color: yellow;
}
ion-list > ion-item > span {
  display: block; 
  width: 100%;
  height: 30px;  
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
ion-list > ion-item > ion-list {
  display: block;
  margin-top: 30px;
  margin-left: -215px;
  width: 100%;
}
ion-list > ion-item > ion-list > ion-item {
  width: 100%;
  text-align: center;
  padding: 0;
  align-items: center;
}
ion-list > ion-item > ion-list > ion-item:nth-of-type(2),
ion-list > ion-item > ion-list > ion-item:nth-of-type(3),
ion-list > ion-item > ion-list > ion-item:nth-of-type(4),
ion-list > ion-item > ion-list > ion-item:nth-of-type(5),
ion-list > ion-item > ion-list > ion-item:nth-of-type(6),
ion-list > ion-item > ion-list > ion-item:nth-of-type(7),
ion-list > ion-item > ion-list > ion-item:nth-of-type(8) {
  position: relative;
  top: 0;
  left: 0;
}
ion-list > ion-item > ion-list > ion-item > ion-router-link {
  margin: 0 auto;
  position: relative;
  width: 100%;
  text-align: center;
}
.ing:before {
  display: block; 
  content: "- 진행중";
  font-size: 13px;
  color: #11FE00;
  position: absolute;
  top:50%; 
  right:0;
  margin-top: -7px;
}
.complete:before {
  display: block; 
  content: "- 완료";
  font-size: 12px;
  color: #D6854E;
  position: absolute;
  top:0; right:0;
}
.fix:before {
  display: block; 
  content: "- 수정,검토";
  font-size: 12px;
  color: red;
  position: absolute;
  top:0; right:0;
}
span.sub_title{
  color: #949494;
}