.mem_enrollment .top h4 {
    margin: 0 auto;
}
.mem_enrollment .top h4:after {
    display: inline-block;
    content: "";
    background: url('/assets/icon/icon_check.svg') no-repeat;
    background-size: 100%;
    width: 2.083rem;
    height: 2.083rem;
    vertical-align: -0.25rem;
    margin-left: 0.8333rem;
}
.stxt {
    word-break: keep-all;
}

.mem_comp {
    margin-top: 2.917rem;
}
.mem_comp .content {
    padding: 0.8333rem 0 1.25rem;
}
.mem_comp p {
    color: #8D8785;
    font-size: 1.167rem;
    text-align: center;
}
.mem_comp p strong {
    display: block;
    margin-bottom: 0.4167rem;
    color: #4B423C;
    font-size: 1.833rem;
}
.mem_comp .btn_area {
    margin-top: 1.417rem;
}

@media screen and (min-width: 1025px) {
    .mem_enrollment .top h4:after {
        width: 26px;
        height: 26px;
        margin-left: 10px;
        vertical-align: -4px;
    }

    .mem_comp {
        margin: 40px auto 0;
        width: 490px;
    }
    .mem_comp .content {
        padding: 10px;
    }
    .mem_comp p {
        font-size: 14px;
    }
    .mem_comp p strong {
        font-size: 24px;
    }
    .mem_comp .btn_area {
        margin-top: 23px;
    }
}