<v-app>
    <v-body title="빌리브 이벤트">
        <!-- 10.29 페이지명 수정 -->
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
                <p>진행중인 이벤트
                    <span class="highlight">
                        <span class="num">6</span>개
                    </span>
                </p>
            </h4>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category">
                <li class="on">
                    <a href="#">전체</a>
                </li>
                <li>
                    <a href="#">신세계</a>
                </li>
                <li>
                    <a href="#">빌리브</a>
                </li>
            </ul>
            
            <!-- 10.29  추가 : 이벤트 없을때 -->
            <div class="no_data icon">
                <p>진행중인 이벤트가 없습니다.</p>
            </div>
            <!-- // 10.29  추가 : 이벤트 없을때 -->

            <!-- 이벤트 리스트 -->
            <ul class="event_list">
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <!-- 태그 박스 -->
                                <div class="tag_box">
                                    <!-- 종료 -->
                                    <span class="tag purple">종료</span>
                                </div>
                                <img src="/assets/dummy/event_list.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box no_img">
                                <!-- 태그 박스 -->
                                <div class="tag_box">
                                    <!-- 종료 -->
                                    <span class="tag purple">종료</span>
                                </div>
                                <!-- 이미지 엑박 테스트 <img src="/assets/dummy/event_list.png" class="pc" alt="샘플" />
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플" /> -->
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <!-- 태그 박스 -->
                                <div class="tag_box">
                                    <!-- 종료 -->
                                    <span class="tag purple">종료</span>
                                </div>
                                <img src="/assets/dummy/event_list.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <img src="/assets/dummy/event_list.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <img src="/assets/dummy/event_list.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="flat_round_box">
                    <a href="#">
                        <div class="content">
                            <div class="img_box">
                                <img src="/assets/dummy/event_list.png" class="pc" alt="샘플"/>
                                <img src="/assets/dummy/event_list_mo.png" class="mo" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>스타일 있는 언니의 집들이</h4>
                                <p class="time">2020.08.07 ~ 2020.08.07</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <!-- 더보기 -->
            <a class="add_item" href="#">더보기</a>
        </div>

    </v-body>

</v-app>