<v-app id="setting">
    <v-body title="설정">
        <div class="container">
            <div class="setting_box">
                <dl>
                    <dt>
                        <em>로그인정보</em>
                        <strong>01012345677</strong>
                    </dt>
                    <dd>
                        <button type="button" class="btn btn_type4">로그아웃</button>
                    </dd>
                </dl>
                <dl class="va_top">
                    <dt>
                        <em>푸시알림</em>
                        <span>알림은 ON 해주세요. 빌리브 이벤트&혜택, 서비스 이용/예약, 문의하기 답변 알림을 받으실 수 있습니다.</span>
                    </dt>
                    <dd>
                        <div class="btn_switch type2">
                            <span class="switch_txt on">ON</span><!-- 스위치 활성화시 class="on" 추가 적용 필요 -->
                            <input type="checkbox" id="setting_switch1" name="setting_switch1" class="input_on_off" checked>
                            <label for="setting_switch1" class="label_on_off">
                                <span class="marble"></span>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </label>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt><em>암호설정</em></dt>
                    <dd>
                        <div class="btn_switch type2">
                            <span class="switch_txt">OFF</span><!-- 스위치 활성화시 class="on" 추가 적용 필요 -->
                            <input type="checkbox" id="setting_switch2" name="setting_switch2" class="input_on_off">
                            <label for="setting_switch2" class="label_on_off">
                                <span class="marble"></span>
                                <span class="on">on</span>
                                <span class="off">off</span>
                            </label>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        <em>버전정보</em>
                        <strong>1.0.0</strong>
                    </dt>
                    <dd>
                        <span>최신버전입니다.</span>
                        <button type="button" class="btn btn_type4">업데이트</button>
                    </dd>
                </dl>
            </div>
        </div>
    </v-body>
</v-app>