<!-- 글자 크기 조절 -->
<div class="font_size_fix">
    <ul class="list">
        <li class="small" [ngClass]="fontClassName==='' ? 'on' : ''">
            <a (click)="setFontClassName('')">작게</a>
        </li>
        <li class="medium" [ngClass]="fontClassName==='ft_m' ? 'on' : ''">
            <a (click)="setFontClassName('ft_m')">보통</a>
        </li>
        <li class="large" [ngClass]="fontClassName==='ft_l' ? 'on' : ''">
            <a (click)="setFontClassName('ft_l')">크게</a>
        </li>
    </ul>
    <!-- 12.10 삭제 
    <a (click)="openFontSizePopup()" class="font_btn">글자 크기</a>
    <div class="btn_box" [ngClass]="isShowFontSizePopup? 'on' : ''">
        <a class="close" (click)="closeFontSizePopup()">닫기</a>
        <ul class="list">
            <li class="small" [ngClass]="fontClassName==='' ? 'on' : ''">
                <a (click)="setFontClassName('')">
                    <p class="size">가</p>
                    <p>작게</p>
                </a>
            </li>
            <li class="medium" [ngClass]="fontClassName==='ft_m' ? 'on' : ''">
                <a (click)="setFontClassName('ft_m')">
                    <p class="size">가</p>
                    <p>보통</p>
                </a>
            </li>
            <li class="large" [ngClass]="fontClassName==='ft_l' ? 'on' : ''">
                <a (click)="setFontClassName('ft_l')">
                    <p class="size">가</p>
                    <p>크게</p>
                </a>
            </li>
        </ul>
    </div> -->
</div>