/* Font */
@font-face {
	font-family: 'NanumSquare_acB';
	font-weight: 600;
	src: url('./font/NanumSquareOTF_acB.otf') format('opentype'),
		url('./font/NanumSquare_acB.ttf')  format('truetype');
	src:local(※), url(./font/NanumSquare_acB.woff) format('woff');
}

@font-face {
	font-family: 'NanumGothic';
	font-weight: 100;
	src: url('./font/NanumGothic.otf') format('opentype'),
		url('./font/NanumGothic.ttf')  format('truetype');
	src:local(※), url(./font/NanumGothic.woff) format('woff');
}

/* reset */
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select{
	margin: 0;
	padding: 0;
}
body,
input,
textarea,
select,
button,
table{
	font-family: 'NanumGothic';
	font-size: 13px;
}
img,fieldset{
	border: 0;
}
ul,ol{
	list-style: none;
}
em,address{
	font-style: normal;
}
a{
	color: #0066cc;
	text-decoration: none;
}
a:active{
	color: #0066cc;
}
a:hover{text-decoration:underline}
:focus{
outline: 0;
}
h1{
	font-family: NanumGothic;
}
html,
body{
	height: 100%;
}
table{
	border-collapse: collapse;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
}
select::-ms-expand {display:none}

.hide,
caption,
legend,
.ico em{
	overflow: hidden;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	text-indent: -9999px;
	white-space: nowrap;
}
button{
	position: relative;
	background: none;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
button span{
	position: relative;
}
