// output: ../../../../../../publish/html/ko/Legal/news/sub_main_layout.html
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    .skip_navi
      a(href='#content') 본문 바로가기
    header.header_wrap 
    
    // 각 서브별 검색 노출 타입 다름
    .container.news
      .top_visual_box
        .breadcrumb.main
          ul
            li: a(href='javascript:void(0);') Home 
            li: span 자료와 소식
        h2 <strong>INSIGHTS</strong>자료와 소식
      .content
        .search_top
          span.big_input
            input(type='text')
            a(href='javascript:void(0);').btn_delete.hidden_text 검색어 삭제
            a(href='javascript:void(0);').btn_search.hidden_text 검색
          a(href='javascript:void(0);').btn_expertise 업무분야
        
        // 19.01.28 업무분야 영역 pc/mo 기능 달라지면서 분기 처리
        .category_area
          // 19.01.22 각 li 내 span class='bar_up' 추가 s
          // pc
          .pc 
            ul.highLight_tab.tab_menu.top_tab
              li
                a(href='javascript:void(0);' data-value='tab1') Practice 
                  span 분야별
                span.bar_up 
                span.bar
              li
                a(href='javascript:void(0);' data-value='tab2') Industry
                  span 산업별
                span.bar_up
                span.bar
              li
                a(href='javascript:void(0);' data-value='tab3') Region
                  span 지역별
                span.bar_up
                span.bar
              // 19.01.22 각 li 내 span class='bar_up' 추가 e
                
            .tab_container.bg
              .tab_section.on
                ul.field_list.highLight_js
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 공공감사 지원
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 공정거래
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 관세 및 국제통상
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 국제중재·소송
                  li(data-value='tab1').select
                    a(href='javascript:void(0);') 금융 규제
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 기업구조조정
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 기업인수·합병
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 기업지배구조
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 방송·통신
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 베트남
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 보험
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 부동산·건설
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 부패방지·준법경영
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 비은행 금융회사
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 사모투자
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 소송
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 에너지
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 유럽
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 은행
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 인사·노무
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 일본
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 자본시장
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 자산운용
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 전자금융·핀테크
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 조세
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 중국
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 증권
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 지식재산권
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 파생상품
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 파이낸싱
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 프라이버시·정보보호
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 항공우주·방산 
                  li(data-value='tab2')
                    a(href='javascript:void(0);') 해상
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 해외법무
                  li(data-value='tab3')
                    a(href='javascript:void(0);') 홍콩
                  li(data-value='tab1')
                    a(href='javascript:void(0);') 환경
                  li(data-value='tab1')
                    a(href='javascript:void(0);') AML
                  li(data-value='tab1')
                    a(href='javascript:void(0);') FX
          // mo
          .mo
            ul.tab_menu.top_tab.mob_tab
              li
                a(href='javascript:void(0);' data-value='tab1') Practice 
                  span 분야별
              li
                a(href='javascript:void(0);' data-value='tab2') Industry
                  span 산업별
              li
                a(href='javascript:void(0);' data-value='tab3') Region
                  span 국가별
                
            .tab_container.mob_tab_container
              .tab_section
                .field_list.mo
                  .tab_box.accordion_wrap
                    p 
                      a.btn_toggle.first(href='javascript:void(0);')
                        규제 및 컴플라이언스 
                        span.hidden_text 접기
                    // 3n개씩 노출 필요. 빈 li는 a태그 삭제
                    .box_open.select_box_open
                      .scroll
                        ul.field_list
                          li
                            a(href='javascript:void(0);') 공공감사 지원
                          li.on
                            a(href='javascript:void(0);') 공정거래
                          li
                            a(href='javascript:void(0);') 인사·노무
                          li
                            a(href='javascript:void(0);') 관세 및 국제통상
                          li
                            a(href='javascript:void(0);') 조세
                          li
                            a(href='javascript:void(0);') 금융 규제
                          li
                            a(href='javascript:void(0);') 프라이버시·정보보호
                          li
                            a(href='javascript:void(0);') 부패방지·준법경영
                          li
                            a(href='javascript:void(0);') 환경
                  .tab_box.accordion_wrap
                    p 
                      a.btn_toggle(href='javascript:void(0);')
                        경영 및 거래 법률 자문 
                        span.hidden_text 펼치기
                    .box_open.select_box_open
                      .scroll
                        ul.field_list
                          li
                            a(href='javascript:void(0);') 방송·통신
                          li
                            a(href='javascript:void(0);') 기업구조조정
                          li
                            a(href='javascript:void(0);') 지식재산권
                          li
                            a(href='javascript:void(0);') 기업인수·합병
                          li
                            a(href='javascript:void(0);') 파생상품
                          li
                            a(href='javascript:void(0);') 기업지배구조
                          li
                            a(href='javascript:void(0);') 파이낸싱
                          li
                            a(href='javascript:void(0);') 사모투자
                          li
                            a(href='javascript:void(0);') 해외법무
                          li
                            a(href='javascript:void(0);') 자본시장
                  .tab_box.accordion_wrap
                    p 
                      a.btn_toggle(href='javascript:void(0);')
                        분쟁 해결 
                        span.hidden_text 펼치기
                    .box_open.select_box_open
                      .scroll
                        ul.field_list
                          li
                            a(href='javascript:void(0);') 국제중재·소송
                          li
                            a(href='javascript:void(0);') 기업형사·화이트칼라범죄
                          li
                            a(href='javascript:void(0);') 소송
                    
              .tab_section 
                // pc : 4개씩 , mo : 3개씩 열 맞춰서 노출
                .select_box_open 
                  .scroll
                    ul.field_list
                      li
                        a(href='javascript:void(0);') 방송·통신
                      li
                        a(href='javascript:void(0);') 보험
                      li
                        a(href='javascript:void(0);') 부동산·건설
                      li
                        a(href='javascript:void(0);') 비은행 금융회사
                      li
                        a(href='javascript:void(0);') 에너지
                      li
                        a(href='javascript:void(0);') 엔터테인먼트·스포츠·레저
                      li
                        a(href='javascript:void(0);') 은행
                      li
                        a(href='javascript:void(0);') 자산운용
                      li
                        a(href='javascript:void(0);') 전자금융·핀테크
                      li
                        a(href='javascript:void(0);') 제약·의료기기·식품·화장품
                      li
                        a(href='javascript:void(0);') 증권
                      li
                        a(href='javascript:void(0);') 항공우주·방산 
                      li
                        a(href='javascript:void(0);') 해상
              .tab_section 
                // pc : 4개씩 , mo : 3개씩 열 맞춰서 노출
                .select_box_open 
                  .scroll
                    ul.field_list
                      li
                        a(href='javascript:void(0);') 베트남
                      li
                        a(href='javascript:void(0);') 유럽
                      li
                        a(href='javascript:void(0);') 일본
                      li
                        a(href='javascript:void(0);') 중국
                      li
                        a(href='javascript:void(0);') 홍콩

        .btn_center_box
          a(href='javascript:void(0);').btn_white.btn_search_reset.btn_hover.bg_black
            span 초기화
          a(href='javascript:void(0);').btn_orange.btn_search_js.btn_hover.bg_orange
            span 검색
          
        .notice_news.bg_news
          .inner_cont.notice_news_js
            h3.white 최근 소식
            .notice_slide 
              ul.notice_list
                -for(var i = 0; i < 6; i ++)
                  li
                    a(href='javascript:void(0);')
                      h4.notice_title 수상
                      p.notice_txt 4년 연속 ‘National Law Firm of the Year - South Korea’ 수상 – Asialaw Asia-Pacific
                      span.notice_date 2018.08.30
              .slide_control
                span.btn_prev  
                span.btn_next
        .news_content_area
          .content_box
            h3 법률 자료 
            ul.btn_group
              li 
                a(href='javascript:void(0);') 뉴스레터
              li 
                a(href='javascript:void(0);') 기고문 
            ul.board_list
              -for(var i = 0; i < 6; i ++)
                li
                  a(href='javascript:void(0);')
                    p.title 노동조합 운영비 지원 금지 조항에 대한 헌법불합치 결정
                    p.tag_area 
                      span #4차산업혁명
                      span #패널토론
                      span #규제개혁
                      span #김독혁신
                      span #뉴스
                      span #사회공헌위원회
                      span #4차산업혁명
                    span.date 2018.11.21  
            .btn_center_box
              a.btn_text_more(href='javascript:void(0)') 더 보기
              
          .content_box
            h3 K&C 소식
            ul.btn_group
              li 
                a(href='javascript:void(0);').on 업무사례
              li 
                a(href='javascript:void(0);') 뉴스
              li 
                a(href='javascript:void(0);') 수상
            ul.board_list
              -for(var i = 0; i < 6; i ++)
                li
                  a(href='javascript:void(0);')
                    p.title 노동조합 운영비 지원 금지 조항에 대한 헌법불합치 결정
                    p.tag_area 
                      span #4차산업혁명
                      span #패널토론
                      span #규제개혁
                      span #김독혁신
                      span #뉴스
                      span #사회공헌위원회
                      span #4차산업혁명
                    span.date 2018.11.21  
            .btn_center_box
              a.btn_text_more(href='javascript:void(0)') 더 보기
        
    footer.footer_wrap
    .dimm
    
    script(type='text/javascript').
      var header = $('header.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {/* callback */});
      var footer = $('footer.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
      $(function() {
        
        // expertise 버튼 클릭시 
        $('.btn_expertise').click(function(event){
          event.preventDefault();
          if ($('.btn_expertise').hasClass('on')) { 
            $(this).removeClass('on');
            $('.category_area').removeClass('on');
            btnCateTab.removeClass('on');
            $('.highLight_js').find('li').removeClass('on');
            //$('.tab_section').removeClass('on');
          }else {
            $(this).addClass('on');
            $('.category_area').addClass('on');
            //$('.tab_section').addClass('on');
          }
        });
        
        var btnCateTab = $('.mob_tab > li > a');
        var tabContents = $('.mob_tab_container');
        
        front.tabMenu(btnCateTab, 'on', tabContents, function() {
          
        });
        
        var accordionWrap = '.accordion_wrap';
        var btnAccordion = $(accordionWrap).find('.btn_toggle');
        front.accordion(btnAccordion, accordionWrap, 'active', 200, function() {
          
        });
        
        var btnHighLight = $('.highLight_tab > li > a');
        var targetElement = $('.highLight_js');
        front.highLight(btnHighLight, 'on', targetElement);
        
        // 최근 소식 슬라이드 함수
        var slideWrap = $('.notice_slide');
        front.newsSlider(slideWrap);
        
      });
