<v-app>
    <v-body [title]="selectedTypeCode === 'parking' ? '차량' : '택배'">
        <div class="container">
            <!-- 차량 -->
            <div class="round_box iot_det" *ngIf="selectedTypeCode==='parking';else other_content">
                <div class="content">
                    <ul>
                        <li *ngFor="let parking of parkingHistoryList;">
                            <div class="info_box">
                                <p class="date">{{ parking.inoutCreDt | parseTimestampToDtmPipe | stringDateFormatDtm:{separator:'.'} }}</p>
                                <span class="info_txt">차량번호 {{parking.carNo}}</span>
                            </div>
                            <span class="state">{{getParkingInputTypeName(parking?.inoutType)}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- // 차량 -->
            <!-- 택배 -->
            <ng-template #other_content>
                <div class="round_box iot_det">
                    <div class="content">
                        <ul>
                            <li *ngFor="let parcel of parcelHistoryList;">
                                <div class="info_box">
                                    <span class="top_txt" *ngIf="parcel?.parcelCompany">[{{parcel.parcelCompany}}]</span>
                                    <p class="date">
                                        {{ parcel.parcelStatusChangeDt | parseTimestampToDtmPipe | stringDateFormatDtm:{separator:'.'} }}
                                        <span *ngIf="parcel.parcelStatusChangeDt | parseTimestampToDtmPipe | checkDateIsNew" class="tag red">new</span>
                                    </p>
                                    <span class="info_txt" *ngIf="parcel?.parcelBoxNo">택배함 번호 {{parcel.parcelBoxNo}}</span>
                                </div>
                                <span class="state" [ngClass]="parcel.parcelStatus==='택배수령' ? 'fc_org' : ''"
                                      *ngIf="parcel.parcelStatus">{{parcel.parcelStatus}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-template>
            <!-- // 택배 -->
        </div>
    </v-body>
</v-app>
