.reservation {}


.main_title.flt_left {
    padding-bottom: 1.833rem;
}

.slide_area + .main_title.flt_left {
    padding-top: 2rem;
}

/* 위치 정보 */
.main_title .locate_box{
    position: absolute;
    bottom: 0.75rem;
    font-size: 1.167rem;
    line-height: 1.67rem;
    display: block;
    width: 100%;
    text-align: right;
}
.main_title .locate_box dt,
.main_title .locate_box dd{
    padding-left: 1.333rem;
    display: inline-block;
}
.main_title .locate_box dt{
    position: relative;
    color: #8D8785;
}
.main_title .locate_box dt:before {
    position: absolute;
    display: inline-block;
    content: "";
    background: url('/assets/icon/icon_locate.svg') no-repeat;
    width: 1rem;
    height: 1.25rem;
    background-size: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
.main_title .locate_box dd{
    color: #4B423C;
}
/* 이용안내 내용 출력 */
.use_info{
    // padding-top: 1rem;
}
.use_info dl{
    position: relative;
    width: 100%;
    margin-bottom: 1.25rem; 
    color: #4B423C;
    font-size: 1.083rem;
    line-height: 1.43;
}
.use_info dl:last-child {
    margin-bottom: 0;
}
.use_info dl dt{
    position: absolute;
    width: 30%;
    color: #8D8785;
    left: 0;
    top: 0;
}
.use_info dl dd{
    padding-left: 30%;
    // font-size: 1.083rem;
}

/* 버튼 기본 */
.btn_area .btn_type2{
    width: auto;
    padding:0 1.25rem;
    font-size: 1.25rem;
    // min-width: 51%;
    display: block;
    margin: 0 auto;
}
.btn_area .btn_type2.link span{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    float: left;
    max-width: 21.5rem;
}
.btn_area .btn_type2.link:after {
    display: inline-block;
    content: "";
    background: url(/assets/icon/link2.svg) no-repeat;
    background-size: 100%;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.4rem;
    vertical-align: -0.08333rem;
}
/* 외부 링크 버튼 */
.btn_area.external_link{
    display: block;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}
.btn_area.external_link .btn + .btn{
    margin-top: 1rem;
}

/* 타이틀 체크박스 */
dt.title{
    position: relative;
}
.ur_sel {
    position: relative;
    display: block;
    color: #4B423C;
    // padding-top: 0.75rem;
    padding-bottom: 1.167rem;
    font-size: 1.5rem;
}
/* dl .title .chkbox{
    position: relative;
    display: block;
    color: #4B423C;
    padding-top: 0.75rem;
    padding-bottom: 1.167rem;
}
dl .title .chkbox .checkb{
    display: block;
    height: auto;
}
dl .title .chkbox label{
    position: relative;
    font-size: 1.5rem;
}
dl .title .chkbox.has_btn{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 1.667rem;
}
dl .title .chkbox.has_btn::after{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background:#abb3c1b3;
    opacity: .4;
}
dl .title .chkbox .chk_round{
    top: 50%;
    transform: translateY(-50%);
}  */

/* 타이틀 체크박스 - 상세 정보 */
dl .title_info{
    // padding-bottom: 1.667rem;
}
dl .title_info dl{
    position: relative;
    padding-left:1.583rem;
}
dl .title_info dl + dl{
    margin-top:0.75rem;
}
dl .title_info dl dt{
    color: #8D8785;
    display: inline-block;
}
dl .title_info dl dd{
    color: #4B423C;
    display: inline-block;
    padding-left: 1.583rem;
}
dl .title_info dl::after{
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
dl .title_info dl.personnel::after{
    width: 1.083rem;
    height: 1.167rem;
    background: url(/assets/icon/icon_person.svg) no-repeat;
    background-size: 100% 100%;
}
dl .title_info dl.location::after{
    width: 1rem;
    height: 1.25rem;
    background: url(/assets/icon/icon_locate.svg) no-repeat;
    background-size: 100% 100%;
}

/* 버튼 가운데 정렬 */
dl button{
    display: block;
    width: auto;
    padding:0 1.75rem;
    margin: 0 auto;
    font-size: 1.2rem;
}

/* 다중 접/피기 */
.multi_list{
    margin-bottom: 2.5rem;
}
/* .multi_list dl{
    margin-bottom: 0;
}
.multi_list dl + dl{
    // margin-top: 1.75rem;
} */
.multi_list dl dd.cont{
    position: relative;
    // border-top: 1px solid #abb3c1b3;
    border-top: 1px solid rgba(171,179,193,.3);
    background: rgba(255,255,255,.5);
    padding: 1.75rem 1.5rem;
    overflow: hidden;
    height: 0;
    display: none;
    margin-top: 1.667rem;
    font-size: 1.083rem;
}
.multi_list dl.on dd.cont{
    height: auto;
    display: block;
}
.multi_list dl dd.cont::after{
    content: ""; 
    position: absolute;
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.multi_list dl dd.cont dl{
    position: relative;
    line-height: 1.43;
}
.multi_list dl dd.cont dl + dl{
    margin-top:1.25rem;
}
.multi_list dl dd.cont dl dt{
    position: absolute;
    width: 5.5rem;
    color: #8D8785;
}
.multi_list dl dd.cont dl dd{
    position: relative;
    padding-left:5.5rem;
}
.multi_list .info {
    margin-bottom: 1.25rem;
}
.multi_list dl dd.cont .btn_box button{
    margin-top:1.5rem;
    min-width: 18rem;
    padding: 0;
}
/* 기타 정보 */
.round_box{
    // margin-bottom: 2.5rem;
}
.round_box + dl {
    margin-top: 1.75rem;
}
.round_box + h4 {
    margin-top: 3.333rem;
}
.round_box + .round_box {
    margin-top: 2.5rem;
}
.flat_round_box ul.dot_list li:last-child{
    margin-bottom:0;
}
.slide_area .slides-md, 
.slide_area .slides-ios {
    padding-bottom: 3rem;
}

/* .btm_info_box {
    margin-top: 0;
} */
.btm_info_box .txt_box {
    padding-top: 0;
}


/* pc */
@media screen and (min-width: 1025px) {
    .reservation {
        // padding-top: 20px;
    }

    .img_extend img {
        border-radius: 8px;
    }
    .img_extend .btm_box h5.title {
        border-radius: 0 0 8px 8px;
        font-size: 20px;
    }

    /* 위치 정보 */
    .main_title{
        padding-bottom: 30px;
    }
    .main_title .locate_box{
        bottom: 25px;
        font-size: 16px;
        line-height: 16px;
        line-height: 1.5;
    }
    .main_title .locate_box dt,
    .main_title .locate_box dd{
        padding-left: 21px;
    }
    .main_title .locate_box dt:before {
        width: 15px;
        height: 19px;
    }
    
    /* 이용안내 내용 출력 */
    .use_info .content {
        display: flex;
        flex-wrap:wrap;
    }
    .use_info dl{
        width: 50%;
        margin-bottom: 20px; 
        font-size: 14px;
        line-height: 1.5;
    }
    .use_info dl dt{
        position: absolute;
        width: 90px;
        color: #8D8785;
        left: 0;
        top: 0;
    }
    .use_info dl dd{
        padding-left: 90px;
        padding-right: 60px ;
    }
    /* 버튼 기본 */
    .btn_area .btn_type2{
        padding:0 25px;
        font-size: 18px;
        min-width: 0;
        margin: 0;
    }
    .btn_area .btn_type2.link:after {
        width: 17px;
        height: 17px;
        margin-left: 5px;
        vertical-align: 0;
        margin-bottom: 3px;
    }
    /* 외부 링크 버튼 */
    .btn_area.external_link{
        display: flex;
        margin: 20px 0 0;
        flex-wrap: wrap;
    }
    .btn_area.external_link .btn{
        display: flex;
        align-items: center;
        width: 45%;
        margin-bottom: 12px;
        justify-content: center;
    }
    .btn_area.external_link .btn + .btn{
        margin-left: 0;
        margin-top: 0;
    }
    .btn_area.external_link .btn:nth-child(2n){
        margin-left: 2% !important;
    }

    /* 타이틀 체크박스 */
    dl .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ur_sel {
        // float: left;
        width: 50%;
        font-size: 18px;
        padding: 0;
    }
    .ur_sel + .btn {
        // float: right;
    }
    /* dl .title .chkbox {
        width: 50%;
        float: left;
        font-size: 18px;
        line-height: 1.28;
        padding: 0;
    }
    dl .title .chkbox + .btn {
        float: right;
    }
    dl .title .chkbox.has_btn {
        border-bottom: 0;
        margin-bottom: 0;
        margin-top: 4px;
    }
    dl .title .chkbox.has_btn::after{
        display: none;
    }
    dl .title .chkbox label {
      font-size: 18px;
    } */

    /* 타이틀 체크박스 - 상세 정보 */
    dl .title_info{
        position: absolute;
        display: inline-block;
        padding-bottom:0;
        width: auto;
        text-align: right;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    dl .title_info dl{
        width: auto;
        padding-left: 24px;
        float: left;
    }
    dl .title_info dl + dl{
        margin-top: 0;
        margin-left: 80px;
    }
    dl .title_info dl dd{
        padding-left: 24px;
    }
    dl .title_info dl::after{
        width: 14px;
        height: 16px;
    }
    /* 버튼 가운데 정렬 */
    dl button{
        padding:0 30px;
        margin: 0;
        font-size: 16px;
        height: 40px;
        line-height: 40px;
    }

    /* 다중 접/피기 */
    .multi_list{
        margin-bottom: 0;
    }
    .multi_list dl + dl{
        // margin-top: 30px;
    }
    .multi_list dl dd.cont{
        margin-top: 20px;
        padding: 20px;
        margin-bottom: 0;
    }
    .multi_list dl dd.cont div{
        // padding-left: 40px;
        width: 50%;
        float: left;
    }
    .multi_list dl dd.cont dl + dl{
        margin-top: 20px;
    }
    .multi_list dl dd.cont dl dt{
        width: 90px;
    }
    .multi_list dl dd.cont dl dd{
        padding-left:90px;
    }
    .multi_list dl dd.cont .btn_box {
        padding-left: 40px;
    }
    .multi_list dl dd.cont .btn_box button{
        margin: 20px 0 0;
        margin-left: 90px;
        min-width: 240px;
        padding: 0;
    }
    .multi_list dl dd.cont .btn_box button + dl{
        margin-top: 20px;
    }
    /* 기타 정보 */
    .round_box{
        margin-bottom: 0;
    }
    .round_box + .round_box {
        margin-top: 30px;
    }
    .flat_round_box ul.dot_list{
        margin: 0;
    }
    .slide_area .slides-md, 
    .slide_area .slides-ios {
        padding-bottom: 50px;
    }
    .slide_area .btn_prev.round,
    .slide_area .btn_next.round{
        margin-top: -46px ;
    }
    .slide_area .btn_prev.round{
      left: 9px;
    }
    .slide_area .btn_next.round{
      right: 9px;
    }
    
    .btm_info_box .txt_box {
        padding-top: 27px;
    }
}