<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>커리어넷</title>
    <link rel="stylesheet" href="../../../css/library.css">
    <link rel="stylesheet" href="../../../css/common.css">
    <link rel="stylesheet" href="../../../css/layout.css">
    <link rel="stylesheet" href="../../../css/contents.css">
    <script src="../../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../../js/libs/library.js"></script>
    <script src="../../../js/ui/layout.js"></script>
</head>
<body>
    <div class="wrapper career_user">
        <header class="smain"></header><!-- inc_header.html -->
        
        <nav></nav><!-- 사이드메뉴 : inc_sidemenu.html-->       

        <section>
            <h2 class="skip_txt">개인 서비스</h2>
            
        </section>

        <footer></footer><!-- inc_footer.html -->
    </div>
</body>
</html>