/*======================================
  폰트 크기 조절
======================================*/

/* 설문/투표 */
/* 글자크기 - M (s+2px)*/
.ft_m .vote_top h4 {
  font-size: 1.5rem;
}
.ft_m .vote_top .date {
  font-size: 1.167rem;
}
.ft_m.vote .info_txt {
  font-size: 1.25rem;
}
.ft_m.vote h5 {
  font-size: 1.5rem;
}
.ft_m.vote ul {
  margin-top: 1.25rem;
}
.ft_m.vote ul li .radio label {
  font-size: 1.333rem;
}
.ft_m.vote .com_texta {
    font-size: 1.333rem;
}
/* 글자크기 - L (s+4px) */
.ft_l .vote_top h4 {
  font-size: 1.667rem;
}
.ft_l .vote_top .date {
  font-size: 1.333rem;
}
.ft_l.vote .info_txt {
  font-size: 1.417rem;
}
.ft_l.vote h5 {
  font-size: 1.667rem;
}
.ft_l.vote ul {
  margin-top: 1.417rem;
}
.ft_l.vote ul li .radio label {
  font-size: 1.5rem;
}
.ft_l.vote .com_texta {
    font-size: 1.5rem;
}

/* 어드민에서 등록하는 게시글 */
/* 글자크기 - M (s+2px)*/
.admin_content.ft_m {
    font-size: 1.25rem;
}
/* 글자크기 - L (s+4px) */
.admin_content.ft_l {
    font-size: 1.417rem;
}

@media screen and (min-width: 1025px) { 
  
  /* 설문/투표 글자확대 */
  /* 글자크기 - M (s+2px)*/
  .ft_m .vote_top h4 {
    font-size: 24px;
  }
  .ft_m .vote_top .date {
    font-size: 17px;
  }
  .ft_m.vote .info_txt {
    font-size: 18px;
  }
  .ft_m.vote h5 {
    font-size: 20px;
  }
  .ft_m.vote ul {
    margin-top: 18px;
  }
  .ft_m.vote ul li .radio label {
    font-size: 18px;
  }
  .ft_m.vote .com_texta {
      font-size: 18px;
  }
  /* 글자크기 - L (s+4px) */
  .ft_l .vote_top h4 {
    font-size: 26px;
  }
  .ft_l .vote_top .date {
    font-size: 19px;
  }
  .ft_l.vote .info_txt {
    font-size: 20px;
  }
  .ft_l.vote h5 {
    font-size: 22px;
  }
  .ft_l.vote ul {
    margin-top: 20px;
  }
  .ft_l.vote ul li .radio label {
    font-size: 20px;
  }
  .ft_l.vote .com_texta {
      font-size: 20px;
  }
  
  /* 어드민에서 등록하는 게시글 */
  /* 글자크기 - M (s+2px)*/
  .admin_content.ft_m {
    font-size: 16px;
  }
  /* 글자크기 - L (s+4px) */
  .admin_content.ft_l {
    font-size: 18px;
  }
}