.setting_box {
    margin-top: 2.917rem;
}
.setting_box dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.167rem;
    padding-bottom: 1.167rem;
    border-bottom: 0.08333rem solid #fff;
    position:relative;
}
.setting_box dl:first-child {
    padding-top: 0;
}
.setting_box dl.va_top {
    align-items: flex-start;
}
.setting_box dl:after {
    display: block;
    content: "";
    width: 100%;
    height: 0.08333rem;
    background: #D4D9E0;
    position: absolute;
    bottom: 0;
    left: 0;
}
.setting_box dl dt {
    width: 19.58rem;
}
.setting_box dl dt em {
    width: 7.667rem;
    display: inline-block;
}
.setting_box dl dt strong {
    display: inline-block;
    font-size: 1.333rem;
    font-weight: 700;
    margin-left: 2.083rem;
}
.setting_box dl dt span {
    display: block;
    font-size: 1rem;
    color: #8D8785;
    line-height: 1.25;
    margin-top: 0.6667rem;
}
.setting_box dl dd {
}
.setting_box dl dd > span {
    font-size: 1rem;
    color: #8D8785;
    display: block;
}
.setting_box dl.va_top dt {
    margin-top: 0.3333rem;
}

.btn_type4 {
    width: 5.25rem;
    height: 2.333rem;
    font-size: 1rem;
    line-height: 2.33;
}

.btn_switch .switch_txt {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0.8333rem;  
    vertical-align: -0.08333rem;
    color: #8D8785;
}
.btn_switch .switch_txt.on {
    color: #9EBB3D;
}