<v-app>
  <v-body title="공공지원 민간임대주택">
    <div class="container type2">
      <div class="villiv_info">
        <!-- 상단 단지별 탭 -->
        <div class="round_box tab_slide">
          <div>
            <ul>
              <li><a href="#">빌리브 하남</a></li>
              <li class="on"><a href="#">빌리브 울산</a></li>
              <li><a href="#">빌리브 하남</a></li>
              <li><a href="#">빌리브 하남</a></li>
            </ul>
          </div>
          <a href="#" class="ts_btn btn_left">왼쪽</a>
          <a href="#" class="ts_btn btn_right">오른쪽</a>
        </div>
        <!-- // 상단 단지별 탭 -->
        <div class="apt_complex_info">
          <!-- 페이지 탭 -->
          <div class="nav_bar">
            <ul>
              <li><a href="#">임대료/계약 안내</a></li>
              <li><a href="#">단지정보</a></li>
              <li class="on"><a href="#">입지환경</a></li>
              <li><a href="#">평면안내</a></li>
              <li><a href="#">인테리어</a></li>
              <li><a href="#">오시는 길</a></li>
            </ul>
          </div>
          <!-- // 페이지 탭 -->
          <div class="operation_info">
            <h4><span class="highlight">입지환경</span></h4>
            <div class="environment_now flat_round_box bg_white">
              <div class="img_box">
                <img src="/assets/dummy/map_sample02.png" alt="샘플" />
              </div>
              <div class="middle_title">
                <h4>빌리브 울산</h4>
                <p>울산에 없던 삶을 누리는 당신이 신세계</p>
              </div>
              <ul class="info_box">
                <li>
                  <div class="icon_box">
                    <img src="/assets/dummy/environment_img01.png" alt="교통" />
                  </div>
                  <h5>
                    울산 전역을 잇는
                    <span>쾌속교통</span>
                  </h5>
                  <p>단지와 인접한 번영로, 북두순환도로를<br />통해 울산시 전역으로 빠른 이동</p>
                </li>
                <li>
                  <div class="icon_box">
                    <img src="/assets/dummy/environment_img01.png" alt="교통" />
                  </div>
                  <h5>
                    내 자녀의 안심
                    <span>교육환경</span>
                  </h5>
                  <p>함월초, 옥성초, 울산고, 선신고 등<br />보도통학이 가능한 안심학군</p>
                </li>
                <li>
                  <div class="icon_box">
                    <img src="/assets/dummy/environment_img01.png" alt="교통" />
                  </div>
                  <h5>
                    다채롭고 편리한
                    <span>생활환경</span>
                  </h5>
                  <p>홈플러스, 역전시장, 젊음의 거리<br />울산 세민 병원 등 풍부한 생활 인프라</p>
                </li>
                <li>
                  <div class="icon_box">
                    <img src="/assets/dummy/environment_img01.png" alt="교통" />
                  </div>
                  <h5>
                    자연을 곁에 둔
                    <span>푸른일상</span>
                  </h5>
                  <p>탁 트인 태화강 조망 및<br />태화강변공원, 학성공원 등 쾌적한 자연</p>
                </li>
              </ul>
            </div>
            <div class="text_info">
              <ul>
                <li>상기 CG는 소비자의 이해를 돕기 위해 제작된 것으로 분양대상물을 확대 표현하여 실제 크기 및 거리 등과 차이가 있을 수 있습니다.</li>
                <li>건물의 색채, 외관, 조경, 식재 및 보행로 등은 입주자의 이해를 돕기 위한 것으로 실제와 다를 수 있으며, 추후 인허가 과정 및 실제 시공시 변경될 수 있습니다.</li>
                <li>상기 동·호수 배치도의 층수표기는 입주자의 이해를 돕기 위한 것으로 건축허가도면과 다를 수 있습니다.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>