<div class="dimmed" [ngClass]="{'inactiveDimmer': !isActive}"></div>
<div class="layer_popup_wrapper">
<div class="layer_popup" [ngClass]="{'active' : isActive, 'inactive': !isActive}" >
    <div class="content">
        <h1>확인</h1>
        <div class="cont_pop" [innerHTML]="_popupInfo?.content | parseEnterToHtmlTag"></div>
    </div>
    <div class="btn_area">
        <button type="button" class="btn btn_type1" (click)="onClick(true)" >취소</button>
        <button type="button" class="btn btn_type2" (click)="onClick(false)" >{{_popupInfo?.confirmBtnNm}}</button>
    </div>

</div>
</div>
