<v-app>
  <v-body title="랜선집들이">
      <!-- 수정 -->
      <div class="container">
        <!-- 이미지 title -->
        <div class="flat_round_box img_title">
          <div class="content">
            <img src="/assets/dummy/sample_cont_01.png" alt="샘플" class="mo" />
            <img src="/assets/dummy/sample_cont_pc_01.png" alt="샘플" class="pc" />
              <div class="info_float">
                  <h4>랜선집들이</h4>
                  <p>다양한 삶 속 모든 순간의 중심이 되는 공간을 나누는 곳 입니다.</p>
                  <p>각자만의 취향을 소중이 나누어 주세요.</p>
                  <button class="posting">게시글 작성하기</button>
              </div>
          </div>
        </div>
        <div class="user_write_box">
          <div class="write_inst">
            <a href="#" class="info">게시글 작성 유의사항</a>
          </div>
          <div class="editor_box">
            <input type="text" class="title" placeholder="제목을 입력하세요." />
            <div class="put_text" >dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br>dfshjdfhdskjhfkdjhfksdhfjk<br><br></div>
          </div>
          <div class="attached_file">
            <!-- 삭제됨
            <div class="statis">
              <span class="title">첨부파일</span>
              <p class="numb"><span class="bold">0</span>/5 (<span class="bold">0.00</span>MB / 5.00MB)</p>
            </div>
            <div class="upload_box">
              <input type="file" class="uploading" id="uploading" />
              <label for="uploading" class="uploading">선택된 파일이 없습니다.</label>
            </div>
            <ul class="uploaded_box">
              <li>
                <a href="#" class="title">첫번째 첨부파일.hwp <span class="size">( 924.2KB )</span></a>
                <a href="#" class="delet">삭제</a>
              </li>
              <li>
                <a href="#" class="title">두번째 첨부파일.doc <span class="size">( 924.2KB )</span></a>
                <a href="#" class="delet">삭제</a>
              </li>
            </ul>
            <p class="info">첨부파일은 최대 5개까지 등록이 가능하며, 전체 첨부파일의 용량은 5MB를 초과할 수 없습니다.</p>
             -->
            <!-- 이미지 삽입 버튼 -->
            <div class="put_img">
              <input type="file" accept=".gif, .jpg, .jpeg, .png" class="upload_img" id="upload_img" />
              <label for="upload_img" class="upload_img">이미지 삽입</label>
            </div>
          </div>
          <div class="enroll_btn_box">
            <a href="#" class="btn btn_type1">취소하기</a>
            <a href="#" class="btn btn_type2 upload">등록하기</a>
          </div>
        </div>
      </div>
      
      <!-- 레이어팝업 -->
      <div class="dimmed"></div>
      <div class="layer_popup write_popup_info">
        <div class="content">
          <h1>게시글 작성 유의사항</h1>
          <div class="cont_pop">
            <ul class="dot_list">
              <li>등록한 글은 수정이 불가 하오니 등록 전 작성 내용을 꼭! 확인해주세요</li>
              <li>등록한 글은 댓글이 등록되기 전까지 수정, 삭제가 가능합니다</li>
              <li>광고성 글, 게시판의 성격과 맞지않은 글, 사회통념 등에 어긋나는 내용의 글은 별도의 사전 통보 없이 관리자에 의해 삭제 될 수 있습니다.</li>
            </ul>
          </div>   
        </div>
        <div class="btn_area">
          <button type="button" class="btn btn_type2 w_100">확인</button>
        </div>
      </div>
      <!-- // 레이어팝업 -->
  </v-body>


</v-app>