.selectify
{
    position: relative;
    width:100%;
    color:#555;
}

.selectify .options
{
    
    z-index:2;
    width:100%;
    max-height:250px;
    overflow-y:auto;
}

.selectify .header
{
    position:relative;
    height:40px;
    line-height:40px;
    background:#fff;
    border:1px solid #e1e1e1;
    cursor:pointer;
    box-sizing:border-box;
}

.selectify .header .icon
{
    position:absolute;
    top:50%;
    right:15px;
    display:block;
    width:7px;
    height:7px;
    margin-top:-5px;
    border: 1px solid #888;
    border-width: 0 1px 1px 0;
    background:none;
    -webkit-transform:rotate(45deg);transform:rotate(45deg);
}

.selectify .header .selected
{
    color:#222;
    font-size: 14px;
    height:40px;
    line-height:40px;
    padding: 0 15px;
    box-sizing:border-box;
}

.selectify .header.hover{border:1px solid #484848;}

.selectify .header.hover .selected
{
    color:#555;
}

/* .selectify.focus .header.hover .icon
{
    top:5px;
    right:0;
    width:32px;
    height:38px;
    border:0;
    background:url('../img/common/btn-layer-close.png') no-repeat center center;
    background-size:12px;
    -webkit-transform:rotate(0);transform:rotate(0);
} */
.selectify .options{border-bottom:1px solid #484848;}
.selectify .option
{
	position:relative;
    border: 1px solid #484848;
    border-bottom:1px solid #eee;
    cursor:pointer;
    border-top:0;
    color:#333;
    padding: 12px 15px;
    background:#FFF;
}

.selectify .option .price{position:absolute;top:10px;right:15px;color:#333;}

.selectify .option.hover
{
    background:#f6f6f6;
}

.selectify .option.active
{
    background:#f6f6f6;
    color:#333;
}