<v-app>
    <v-body title="랜선집들이">
        <!-- 게시판 글 작성/수정 -->
        <v-bltbrd-update
            #bltbrdUpdate
            [bltbrdTpCd]="bltbrdTpCd"
            [(isShowInfoPopup)]="isShowInfoPopup"
        >
            <!-- 이미지 title -->
            <div class="flat_round_box img_title">
                <div class="content">
                    <img src="/assets/contents/lifeshare02_m.png" alt="샘플" class="mo" />
                    <img src="/assets/contents/lifeshare02_p.png" alt="샘플" class="pc" />
                    <div class="info_float">
                        <h4>랜선집들이</h4>
                        <p>다양한 삶 속 모든 순간의 중심이 되는 공간을 나누는 곳 입니다.</p>
                        <p>각자만의 취향을 소중이 나누어 주세요.</p>
                    </div>
                </div>
            </div>
        </v-bltbrd-update>
    </v-body>

</v-app>
