<ng-content></ng-content>
<!-- 게시판 리스트 -->
<div class="notice_list_box">
    <div class="sub_title">
        <!-- 검색 필더 -->
        <div class="serch_2tab no_top">
            <ng-select
                    [items]="searchTypeList"
                    [searchable]="false"
                    [(ngModel)]="bltbrdSearchModel.searchType"
                    bindLabel="cdName"
                    bindValue="cd"
            >
            </ng-select>
            <div class="search_form">
                <input [(ngModel)]="bltbrdSearchModel.searchWord" (keyup.enter)="onClickSearch()" type="text" class="com_inp" placeholder="검색어를 입력하세요.">
                <a (click)="onClickSearch()" class="btn_search">검색</a>
            </div>
        </div>
        <!-- 총 개수 -->
        <div class="list_count" [ngClass]="CodeConstants.BLTBRD.SHARE===bltbrdTpCd ? 'has_btn' : ''">
            <p>총 <span class="red">{{bltbrdSearchModel?.totalCount}}</span>건</p>
            <!--분류 추가 -->
            <div class="btn_box" *ngIf="CodeConstants.BLTBRD.SHARE===bltbrdTpCd">
                <button (click)="onClickShareCatCd(cate.cd)"
                        class="btn"
                        [ngClass]="bltbrdSearchModel.bltbrdStats === cate.cd ? 'on' : ''"
                        *ngFor="let cate of shareTypeList;"
                >
                    {{cate.cdName}}
                </button>
            </div>
        </div>
    </div>
    <div class="no_data" *ngIf="!isExistList;else other_content">
        <p>조회된 글이 없습니다.</p>
    </div>
    <ng-template #other_content>
        <!-- 이미지 리스트 -->
        <ul class="event_list">
            <ng-container *ngFor="let data of bltbrdList; index as i" >
                <li *ngIf="CodeConstants.BLTBRD.LANCABLE===bltbrdTpCd && bnerModel && i==3;" class="flat_round_box banner">
                    <a (click)="onClickBner()">
                        <img [src]="globalVars.isPc ? (bnerModel?.pcImgFileIdPath | fileToWebPath ) : (bnerModel?.mpImgFileIdPath | fileToWebPath )" alt="샘플" />
                    </a>
                </li>
    <!--            <ng-template #other_content>-->
                <li class="flat_round_box" >
                    <a (click)="goDetailPage(data.bltbrdId)">
                        <div class="content">
                            <div class="img_box" #img>
                                <div class="tag_box">
                                    <span class="tag" *ngIf="CodeConstants.BLTBRD.SHARE===bltbrdTpCd" [ngClass]="data.bltbrdStats===GlobalConstants.BLTBRD_STATS.SALE_COMPLETED.TYPE ? 'purple' : 'green'">
                                        {{data.bltbrdStats===GlobalConstants.BLTBRD_STATS.SALE_COMPLETED.TYPE ? GlobalConstants.BLTBRD_STATS.SALE_COMPLETED.NAME : GlobalConstants.BLTBRD_STATS.SALE.NAME}}
                                    </span>
                                    <!-- NEW 위치 수정 -->
                                    <span class="tag red" *ngIf="data.iptDtm | checkDateIsNew">NEW</span>
                                </div>
                                <img [src]="getFirstImageSrc(data.bltbrdCts) | parseFileToSmallName:{size:'M'}" alt="샘플" (error)="img.classList.add('no_img')" />
                            </div>
                            <div class="txt_box">
                                <h4>{{data.bltbrdTtl}}</h4>
                                <p class="writer_time"><span>{{data.custBlNo}}동 {{data.custNmMasked}}</span><span class="time">{{data.iptDtm | stringDateFormatDt }}</span></p>
                            </div>
                        </div>
                    </a>
                </li>
    <!--            </ng-template>-->
            </ng-container>
        </ul>
        <!-- 더보기 -->
        <a *ngIf="bltbrdSearchModel?.page < bltbrdSearchModel?.totalEndPage" class="add_item" (click)="moreBltbrdList()">더보기</a>
    </ng-template>
</div>
