@charset "UTF-8";
/* variable */
/* background */
/* reset */
.r_mp {
  margin: 0;
  padding: 0;
}
.r_li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* font */
/* line height */
/* size */
.full {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.fullWidth {
  width: 100%;
}
/* margin */
/* padding */
/* border */
/* align */
.center {
  text-align: center;
}
.flex {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
}
/* display */
.block {
  display: block;
}
.i_block {
  display: inline-block;
  vertical-align: middle;
}
/* overflow hidden */
.hidden {
  overflow: hidden;
}
/* table */
/* design */
/* position */
/* float */
.clear {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: both;
}
/* font family */
.lato {
  font-family: 'Lato' !important;
}
.light {
  font-family: 'NotoSansLight' !important;
}
.demi_light {
  font-family: 'NotoSansDemiLight' !important;
}
.medium {
  font-family: 'NotoSansMedium' !important;
}
.serif {
  font-family: 'NotoSerif' !important;
}
.serif_bold {
  font-family: 'NotoSerifBold' !important;
}
.hidden_text {
  overflow: hidden !important;
  padding: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  text-indent: -9999px !important;
}
.lato {
  font-family: 'Lato' !important;
}
.light {
  font-family: 'NotoSansLight' !important;
}
.demi_light {
  font-family: 'NotoSansDemiLight' !important;
}
.medium {
  font-family: 'NotoSansMedium' !important;
}
.serif {
  font-family: 'NotoSerif' !important;
}
.serif_bold {
  font-family: 'NotoSerifBold' !important;
}
.p_top0 {
  padding-top: 0 !important;
}
.p_right0 {
  padding-right: 0 !important;
}
.p_bottom0 {
  padding-bottom: 0 !important;
}
.p_left0 {
  padding-left: 0 !important;
}
