<v-app>
    <v-body title="회원등록">
        <div class="container">
            <div class="mem_enrollment">
                <div class="top">
                    <h4 class="main_title">
                        <span class="highlight">회원정보 확인</span>
                    </h4>
                    <ul class="step">
                        <li>1</li>
                        <li class="on">2</li>
                        <li>3</li>
                    </ul>
                </div>
                <p class="stxt">안전한 서비스 제공을 위해 회원정보를 확인하세요.</p>
                <div class="round_box mem_info">
                    <div class="content">
                        <h5>회원정보</h5>
                        <div class="mem_box">
                            <div class="left">
                                <dl>
                                    <dt>이름</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2 disabled" value="홍길동" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>생년월일</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" value="1990-09-07" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>휴대폰번호</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" value="010-1234-5678" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="right">
                                <dl>
                                    <dt>단지명</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" value="빌리브 하남" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>동/호</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" value="1동" title="" disabled>
                                            <input type="text" class="com_inp2" value="103호" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>세대원정보</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" value="세대원 대표" title="" disabled>
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <p class="dot_ps_txt">회원정보가 잘못된 경우 관리사무실에 문의하세요.</p>
                    </div>
                </div>
                <p class="txt">빌리브 라이프 서비스 회원등록을 완료하시겠습니까?</p>
                <div class="btn_area">
                    <button type="button" class="btn btn_type1">이전</button>
                    <button type="button" class="btn btn_type2">다음</button>
                </div>
            </div>
        </div>
    </v-body>
</v-app>