// output: ../../../../../../publish/html/ko/Legal/news_letter/news_letter.html

include ../include/jadeUtil.jade
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    +metaProperty('og:title', '김·장 법률사무소')
    +metaProperty('og:site_name', '김·장 법률사무소')
    +metaProperty('og:url', 'http://www.kimchang.com')
    +metaProperty('og:image', 'http://www.kimchang.com/images/common/logo.gif')
    +metaProperty('og:description', 'Kim & Chang, widely recognized as Korea’s premier law firm, has set the standard for excellence for legal services in every major area of practice since its establishment in 1973.')
    +httpEquiv('X-UA-Compatible', 'IE=edge')
    +metaCharset('utf-8')
    +httpEquiv('Cache-Control', 'no-cache')
    +httpEquiv('Pragma', 'no-cache')
    +httpEquiv('imagetoolbar', 'no')
    +metaName('robots', 'index,follow')
    +metaName('subject', '김앤장 홈페이지에 접속하신 것을 환영합니다.')
    +metaName('copyright', 'Copyright ⓒ KIM & CHANG. All Rights Reserved.')
    +metaName('classification', 'internet')
    +metaName('language', 'en')
    +metaName('generator', 'editplus')
    +metaName('distribution', 'global')
    +metaName('keywords', '')
    +metaName('description', '본 페이지는 XHTML-1.0-transitional DTD를 준수하고, 웹 콘텐츠(의) 접근성a(을 높이기 위한 제작) 지침 1.0 W3C 권고안을 최대한 준수하여 김앤장에서 제작하였습니다.')
    +pageName('KIM & CHANG Newsletter')
    | <link href="http://www.kimchang.com/images/ico.ico" rel="shortcut icon" />
  body
  //
    table(cellpadding='0' cellspacing='0' width='1600' style='width:1600px; color:#555; font-family:arial; font-size: 10pt;' align='center')
      tbody
        tr
          td(colspan='3')
            table(cellpadding='0' cellspacing='0' width='100%' border='0')
              tbody
                tr
                  td(width='565' height='3' bgcolor='#682c1a')
                  td(width='215' bgcolor='#f1590e')
                tr
                  td(height='38')
                  td(align='center')
                    a(href='javascript:void(0);' target='_blank')
                      img(src='http://www.kimchang.com/newsletter/img/legal_logo.gif' alt='KIM&amp;CHANG' border='0')
                tr
                  td(colspan="2" style="padding-left: 20px;")
                    font(face="Arial" color="#7d7d7d" style="font-size: 14px;") Newsletter | July 2016, Issue 2
                tr
                  td(colspan="2" height="7")
                tr
                  td(height="9" bgcolor="#682c1a")
                  td(bgcolor="#f1590e")
        //- tr
        //-   td(colspan="3" height="45")
        tr
          td(colspan="3")
            //img(src='http://www.http://kimchang-tobe.etribe.co.kr/images/dummy/img_news_top.gif' alt='KIM&amp;CHANG' border='0')
            img(src='http://kimchang-tobe.etribe.co.kr/html/ko/Legal/images/dummy/img_news_top.jpg' width="1600" alt='KIM&amp;CHANG' border='0')
        tr
          td(width="250")
          td(width="1100")
            //img(src='http://www.http://kimchang-tobe.etribe.co.kr/images/dummy/img_news_top.gif' alt='KIM&amp;CHANG' border='0')
            img(src='http://kimchang-tobe.etribe.co.kr/html/ko/Legal/images/dummy/img_news_body.jpg' width="1100" alt='KIM&amp;CHANG' border='0')
          td(width="250")
        tr
          td(colspan="3")
            //img(src='http://www.http://kimchang-tobe.etribe.co.kr/images/dummy/img_news_top.gif' alt='KIM&amp;CHANG' border='0')
            img(src='http://kimchang-tobe.etribe.co.kr/html/ko/Legal/images/dummy/img_news_footer.jpg' width="1600" alt='KIM&amp;CHANG' border='0')
        //- tr
        //-   td(colspan="3" height="5")
        //- tr
        //-   td(width="20")
        //-   td(width="740" style="font-family:Meiryo; color:#682c1a; font-size: 28px; font-weight: bold;line-height:32px;word-wrap: break-word; word-break:break-all;") 不公正取引行為審査指針の改正及び施行
        //-   td(width="20")
        //- tr
        //-   td(colspan="3" height="40")
        //- tr
        //-   td
        //-   td(style="font-family:Meiryo; font-size: 10pt; line-height:16px;word-wrap: break-word; word-break:break-all;") 公正取引委員会は、不公正取引行為の類型及び基準を具体的に規定している「不公正取引行為審査指針」を<font style="font-family:arial;">2015</font>年<font style="font-family:arial;">12</font>月<font style="font-family:arial;">31</font>日付で改正・施行しました。改正審査指針では、違法性の判断基準となる競争制限性の意味を明確にし、競争制限性に関する細かな判断基準が設けられました。また、不公正取引行為の個別類型については、抱き合わせ販売の違法性を競争制限性を中心に判断するよう修正し、取引上地位の判断基準を補完し、技術・人材の不当な利用・採用行為の違法性要件を緩和することを主要な骨子としています。
        //-   td
        //- tr
        //-   td(colspan="3" height="20")
        //- tr
        //-   td
        //-   td(style="font-family:Meiryo; font-size: 10pt;line-height:16px;word-wrap: break-word; word-break:break-all;")
        //-     strong
        //-       u 競争制限性の判断基準の具体化
