.svc_list  .tbl_list li > p {
    display: none;
    width: 20%;
}
.svc_list  .tbl_list li > p:last-child {
    display: block;
}

@media screen and (min-width: 1025px) {

    .svc_list  .search_area dl:nth-child(odd) {
        width: 53%;
    }
    .svc_list  .search_area dl:nth-child(2) {
        width: 370px;
    }        
    .svc_list  .search_area dl.date_area {
        margin-top: 15px;
    }
    .svc_list  .search_area .btn {
        margin-top: 15px;
    }

    .svc_list  .tbl_list li > p {
        display: block;
        width: calc((100% - 330px)/4);
        line-height: 1.375;
    }


}