<div>
    <!--    화면잠금-->
    <v-pincode
            *ngIf="pinCodePopupInfo != null && pinCodePopupInfo?.show"
            [popupInfo]="pinCodePopupInfo"
            (confirmEvent)="confirmEvent($event)"
    ></v-pincode>
    <!--    alert -->
    <v-alert
            *ngIf="alertPopupInfo != null && alertPopupInfo?.show"
            [popupInfo]="alertPopupInfo"
            (confirmEvent)="confirmEvent($event)" 
    ></v-alert>
    <!--    confirm -->
    <v-confirm
            *ngIf="confirmPopupInfo != null && confirmPopupInfo?.show"
            [popupInfo]="confirmPopupInfo"
            (confirmEvent)="confirmEvent($event)"
    ></v-confirm>
    <!--    핀코드 설정-->
    <v-set-pincode
            *ngIf="setPinCodePopupInfo != null && setPinCodePopupInfo?.show"
            [popupInfo]="setPinCodePopupInfo"
            (confirmEvent)="confirmEvent($event)"
    ></v-set-pincode>
    <!--    error -->
    <v-error
            *ngIf="errorPopupInfo != null && errorPopupInfo?.show"
            [popupInfo]="errorPopupInfo"
            (confirmEvent)="confirmEvent($event)"
    ></v-error>

    <!--    자동로그아웃 -->
    <v-logout-confirm></v-logout-confirm>
    <!--    앱 업데이트 -->
    <!-- <v-app-update></v-app-update> -->
</div>
