<v-app>
    <v-body title="회원정보" mnuId="MP_INFO">
        <div class="container">
            <div class="round_box">
                <div class="content">
                    <h5>회원정보<button (click)="onClickWithdraw()" type="button" class="">회원탈퇴</button></h5>
                    <div>
                        <dl>
                            <dt>이름</dt>
                            <dd>{{custMstModel?.custNm}}</dd>
                        </dl>
                        <dl>
                            <dt>생년월일</dt>
                            <dd>{{custMstModel?.brth | stringDateFormatDt:{separator:'.'} }}</dd>
                        </dl>
                        <dl>
                            <dt>휴대폰번호</dt>
                            <dd>{{custMstModel?.mpPhoneNo | parseFormatPhoneNumber}}</dd>
                        </dl>
                        <dl>
                            <dt>단지명</dt>
                            <dd>{{custMstModel?.bzNm}}</dd>
                        </dl>
                        <dl>
                            <dt>동/호</dt>
                            <dd>{{custMstModel?.blNo}}동 / {{custMstModel?.rmNo}}호</dd>
                        </dl>
                        <dl>
                            <dt>세대원정보</dt>
                            <dd>{{custMstModel?.hoReprYn === "1" ? '세대원대표' : '세대원'}}</dd>
                        </dl>
                        <dl>
                            <dt>회원등록일</dt>
                            <dd>{{custMstModel?.iptDtm | stringDateFormatDtm}}</dd>
                        </dl>
                    </div>
                    <p>회원정보가 잘못된 경우 또는 변경된 경우에는 관리사무실에 문의해주세요.</p>
                </div>
            </div>
            <div class="btn_area">
                <button type="button" (click)="goHome()" class="btn btn_type3">홈으로 이동</button><!-- 12.04 버튼명 변경 -->
            </div>
        </div>
    </v-body>
</v-app>
