body {
  margin: 0;
  padding: 0;
}

.images {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 3rem;
}

span {
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: red;
}

img {
  height: 80vh;
}

.center {
  position: fixed;
  top: 0;
  height: 100%;
  left: 50%;
  width: 1px;
  background-color: black;
}