<v-app>
    <v-body title="신세계 라이프스타일" mnuId="LC_EVT_SSG">
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
                <p>신세계가 제안하는</p>
                <p>트렌디한 <span class="highlight">라이프스타일</span></p>
            </h4>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category">
                <li *ngFor="let cate of ssgGrpcCatCdList; index as i"
                    [ngClass]="search.catCd === cate.cd ? 'on' : ''"
                >
                    <a (click)="onClickSsgGrpcCatCd(cate.cd)">{{cate.cdName}}</a>
                </li>
            </ul>
            <!-- 이벤트 없을때 -->
            <div class="no_data icon" *ngIf="!isExistList;else other_content">
                <p>등록된 내역이 없습니다.</p>
            </div>


            <!-- 접이식 flat_round_box -->
            <ng-template #other_content>
                <div class="flat_round_box fold" *ngFor="let data of ssgGrpcList; index as i">
                    <div class="content">
                        <!-- 그룹사 소개 영역 -->
                        <div class="fold_main_box">
                            <!-- 그룹사 소개 -->
                            <div class="fold_main_title">
                                <div class="id_img" #logo>
                                    <img [src]="data?.pcLogoFileIdPath | fileToWebPath" alt="샘플" class="pc" (error)="logo.classList.add('no_img')" />
                                    <img [src]="data?.mpLogoFileIdPath | fileToWebPath" alt="샘플" class="mo" (error)="logo.classList.add('no_img')" />
<!--                                    <img [src]="data?.pcLogoFileIdPath " alt="샘플" class="pc" (error)="logoPc.src = 'assets/dummy/no_img_id.png'" #logoPc />-->
<!--                                    <img [src]="data?.mpLogoFileIdPath " alt="샘플" class="mo" (error)="logoMp.src = 'assets/dummy/no_img_id.png'" #logoMp/>-->
                                </div>
                                <div class="info_box">
                                    <h4>{{data?.grpcNm}}</h4>
                                    <p>
                                        <span [innerHTML]="(data?.grpcIntd | parseEnterToHtmlTag)"></span>
                                    </p>
                                </div>
                            </div>
                            <!-- //그룹사 소개 -->
                            <!-- 상세 소개 -->
                            <div class="fold_main_cont">
                                <!-- 11.13 마크업 추가 -->
                                <div class="img_area " #areaImg (click)="goExternalPage(data)">
                                    <img [src]="data?.pcImgFileIdPath | fileToWebPath" alt="샘플" class="pc" (error)="areaImg.classList.add('no_img')" />
                                    <img [src]="data?.mpImgFileIdPath | fileToWebPath" alt="샘플" class="mo" (error)="areaImg.classList.add('no_img')"/>
                                </div>                                
                                <!-- // 11.13 마크업 추가 -->
<!--                                <img [src]="data?.pcImgFileIdPath " alt="샘플" class="pc" />-->
<!--                                <img [src]="data?.mpImgFileIdPath " alt="샘플" class="mo" />-->
                                <p>{{data?.grpDtlIntd}}</p>
                            </div>
                            <!-- //상세 소개 -->
                        </div>
                        <!-- //그룹사 소개 영역 -->
                        <!-- 그룹사 라이프 스타일 제안 영역 -->
                        <div class="fold_box">
                            <div class="title" [ngClass]="data?.isShowCts ? 'show' : ''"><!-- 숨길 시 show 제거 -->
                                <a (click)="toggleContentArea(data)">
                                    <span>{{data?.ctsTtl}}</span>
                                </a>
                            </div>
                            <div class="cont">
                                <ul>
                                    <li *ngFor="let contents of data?.contentsList;">
                                        <!-- 11.13 마크업 추가 -->
                                        <div class="img_area " #contentsImg>
                                            <img [src]="contents?.pcCtsFileIdPath | fileToWebPath" alt="샘플" class="pc" (error)="contentsImg.classList.add('no_img')"/>
                                            <img [src]="contents?.mpCtsFileIdPath | fileToWebPath" alt="샘플" class="mo" (error)="contentsImg.classList.add('no_img')"/>
    <!--                                        <img [src]="contents?.pcContensFileIdPath " alt="샘플" class="pc" />-->
    <!--                                        <img [src]="contents?.mpContensFileIdPath " alt="샘플" class="mo" />-->
                                        </div>
                                        <!-- // 11.13 마크업 추가 -->
                                        <div class="info_box">
                                            <h4>{{contents?.ctsTtl}}</h4>
                                            <p>{{contents?.ctsDesc}}</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="bottom_btn">
                                    <a (click)="goExternalPage(data)">
                                        <span>{{data?.linkTtl}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- //그룹사 라이프 스타일 제안 영역 -->
                    </div>
                </div>
                <!-- 접이식 flat_round_box -->
            </ng-template>
        </div>
    </v-body>
</v-app>
