<v-app>
  <v-body title="평면안내">
    <div class="container type2">
      <div class="villiv_info">
        <!-- 상단 단지별 탭 -->
        <div class="round_box tab_slide">
          <div>
            <ul>
              <li><a href="#">빌리브 하남</a></li>
              <li class="on"><a href="#">빌리브 울산</a></li>
              <li><a href="#">빌리브 하남</a></li>
              <li><a href="#">빌리브 하남</a></li>
            </ul>
          </div>
          <a href="#" class="ts_btn btn_left">왼쪽</a>
          <a href="#" class="ts_btn btn_right">오른쪽</a>
        </div>
        <!-- // 상단 단지별 탭 -->
        <div class="apt_complex_info">
          <!-- 페이지 탭 -->
          <div class="nav_bar">
            <ul>
              <li><a href="#">임대료/계약 안내</a></li>
              <li><a href="#">단지정보</a></li>
              <li><a href="#">입지환경</a></li>
              <li class="on"><a href="#">평면안내</a></li>
              <li><a href="#">인테리어</a></li>
              <li><a href="#">오시는 길</a></li>
            </ul>
          </div>
          <div>
            <h4 class="title_mg"><span class="highlight">TYPE</span></h4>
          </div>
          <div class="tab slide">
            <ul>
              <li class="on"><a href="#">51㎡ A</a></li>
              <li><a href="#">56㎡ A</a></li>
              <li><a href="#">56㎡ B</a></li>
              <li><a href="#">63㎡ A</a></li>
              <li><a href="#">63㎡ B</a></li>
              <li><a href="#">63㎡ C</a></li>
              <li><a href="#">63㎡ D</a></li>
              <li><a href="#">56㎡ B</a></li>
              <li><a href="#">63㎡ A</a></li>
              <li><a href="#">63㎡ B</a></li>
              <li><a href="#">63㎡ C</a></li>
              <li><a href="#">63㎡ D</a></li>
              <li><a href="#">42㎡ OT</a></li>
            </ul>
          </div>
          <div class="operation_info">
            <div class="plane_area flat_round_box bg_white">
              <!-- 데이터 노출 영역 -->
              <div class="top_area">
                <!-- 평면 이미지 노출 -->
                <div class="img_extend floor">
                  <img src="/assets/dummy/img_plane.jpg" alt="type 평면도">
                  <div class="btm_box">
                    <a href="#" class="extend_btn">원본보기</a>
                  </div>
                </div>
                <div class="float_right">
                  <p class="type_tit">
                    <span class="tit">51㎡ A</span>
                    <span>56세대</span>
                  </p>
                  <table class="tbl2">
                    <caption>56세대</caption>
                    <colgroup>
                      <col width="50%">
                      <col width="50%">
                    </colgroup>
                    <tbody>
                      <tr>
                        <th scope="row">전용면적</th>
                        <td class="left">63.9470㎡</td>
                      </tr>
                      <tr>
                        <th scope="row">주거공용면적</th>
                        <td class="left">63.9470㎡</td>
                      </tr>
                      <tr>
                        <th scope="row">공급면적</th>
                        <td class="left">63.9470㎡</td>
                      </tr>
                      <tr>
                        <th scope="row">기타공용면적</th>
                        <td class="left">63.9470㎡</td>
                      </tr>
                      <tr>
                        <th scope="row">계약면적</th>
                        <td class="left">63.9470㎡</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- 배치도 이미지 노출 -->
              <div class="img_extend">
                <img src="/assets/dummy/img_plane.jpg" alt="type 평면도">
                <div class="btm_box">
                  <a href="#" class="extend_btn">원본보기</a>
                </div>
              </div>
              <!-- // 데이터 노출 영역 -->
            </div>
            <ul class="dot_list">
              <li>상기 CG는 소비자의 이해를 돕기 위한 것으로 실제와 차이가 있을 수 있습니다.</li>
              <li>상기 면적은 소수점 다섯째 자리에서 반올림 방식으로 소수점 넷째 자리까지 표현되므로 약간의 오차가 생길 수 있습니다.</li>
              <li>본 홍보물은 인쇄(제작) 과정상 오류가 있을 수 있으니 계약 전 모델하우스를 방문 후 확인하시길 바랍니다.</li>
              <li>마감재 이외의 디스플레이를 위한 상품이 포함되어 있으므로 모델하우스를 관람하시고 분양가에 포함된 항목을 확인하시기 바랍니다.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>