<v-app>
    <v-body title="빌리브 매거진" mnuId="VLV_LSM_MGZ">
        <div class="full_cont none_top">
            <div class="container">
                <!-- 매거진 -->
                <ul class="event_list">
                    <li class="flat_round_box" *ngIf="vlvMgz?.imgFileId1Path">
                        <div class="content">
                            <div class="img_box">
                                <img [src]="vlvMgz?.imgFileId1Path | fileToWebPath" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>{{vlvMgz?.mgzTtl1}}</h4>
                                <h4 class="gray">{{vlvMgz?.mgzSubTtl1}}</h4>
                                <p class="text" [innerHTML]="(vlvMgz?.mgzCts1 | parseEnterToHtmlTag)"></p>
                            </div>
                        </div>
                    </li>
                    <li class="flat_round_box" *ngIf="vlvMgz?.imgFileId2Path | fileToWebPath">
                        <div class="content">
                            <div class="img_box">
                                <img [src]="vlvMgz?.imgFileId2Path | fileToWebPath" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>{{vlvMgz?.mgzTtl2}}</h4>
                                <h4 class="gray">{{vlvMgz?.mgzSubTtl2}}</h4>
                                <p class="text" [innerHTML]="(vlvMgz?.mgzCts2 | parseEnterToHtmlTag)"></p>
                            </div>
                        </div>

                    </li>
                    <li class="flat_round_box" *ngIf="vlvMgz?.imgFileId3Path">
                        <div class="content">
                            <div class="img_box">
                                <img [src]="vlvMgz?.imgFileId3Path | fileToWebPath" alt="샘플"/>
                            </div>
                            <div class="txt_box">
                                <h4>{{vlvMgz?.mgzTtl3}}</h4>
                                <h4 class="gray">{{vlvMgz?.mgzSubTtl3}}</h4>
                                <p class="text" [innerHTML]="(vlvMgz?.mgzCts3 | parseEnterToHtmlTag)"></p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="btn_area">
                    <button (click)="openVillivHomePage()" type="button" class="btn btn_type2">빌리브 홈페이지 방문하기</button>
                </div>
            </div>
        </div>
    </v-body>

</v-app>
