<v-app>
  <v-body title="오시는 길">
    <div class="container type2">
      <div class="villiv_info">
        <!-- 상단 단지별 탭 -->
        <div class="round_box tab_slide">
          <div>
            <ul>
              <li><a href="#">빌리브 하남</a></li>
              <li class="on"><a href="#">빌리브 울산</a></li>
              <li><a href="#">빌리브 하남</a></li>
              <li><a href="#">빌리브 하남</a></li>
            </ul>
          </div>
          <a href="#" class="ts_btn btn_left">왼쪽</a>
          <a href="#" class="ts_btn btn_right">오른쪽</a>
        </div>
        <!-- // 상단 단지별 탭 -->
        <div class="apt_complex_info">
          <!-- 페이지 탭 -->
          <div class="nav_bar">
            <ul>
              <li><a href="#">임대료/계약 안내</a></li>
              <li><a href="#">단지정보</a></li>
              <li><a href="#">입지환경</a></li>
              <li><a href="#">평면안내</a></li>
              <li><a href="#">인테리어</a></li>
              <li class="on"><a href="#">오시는 길</a></li>
            </ul>
          </div>
          <!-- // 페이지 탭 -->
          <div class="operation_info">
            <h4><span class="highlight">오시는 길</span></h4>
            <div class="way_villiv flat_round_box bg_white">
              <div class="map_box">
                <img src="/assets/dummy/map_sample02.png" alt="샘플" />
                <!-- 핀 이미지 
                  <img src="/assets/common/viliv_location.png" alt="핀" />
                -->
              </div>
              <div class="text_info">
                <h4 class="main_title has_btn">
                  <p>빌리브 울산</p>
                  <button type="button" class="btn btn_type2">지도 보기</button>
                </h4>
                <table class="tbl2">
                  <caption>개인정보의 수집 및 이용 동의 표</caption>
                  <colgroup>
                    <col style="width: 30%">
                    <col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <th>주소</th>
                      <td class="left">울산시 중구 구교로 59</td>
                    </tr>
                    <tr>
                      <th>관리사무소</th>
                      <td class="left">052-1234-1234</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>