@charset "utf-8";

/* common */
.btn-basic1{background-color:#cf4759;}
.btn-basic1:hover {background-color:#cf4759;}
.btn-basic3 {color:#cf4759 !important;border:1px solid #cf4759;}
.btn-arr{color:#c22f4d;}
.btn-arr:after{background-position:-7px 0;}
.fc-point{color:#c22f4d;}
.btn-bottom2{background:#d63350;}

/* 레이아웃 */
#header .header-top .layer-shop .shop-list li .ico:before{background:#f8dee1;}
#side-menu .side-top .info-user .btn-point .txt{color:#d63350;}
.nav-main .gnb .gnb-item.active a{color:#d63350;}
.nav-main .gnb .gnb-item.active a .txt:after{background:#d63350;}
.full-menu-list .full-menu-item.active a,
.full-menu-list .full-menu-item a:hover,
.full-menu-list .full-menu-item a:active {color:#d63350;border:1px solid #d63350;}
.ft-toolbar ul li a.link-cart .num, .mypage-cont .ico-push .num{background:#d63350;}


/* 로그인 */
.login-cont .checks input[type="checkbox"] + label:active:before,
.login-cont .checks input[type="checkbox"]:checked + label:active:before
{
    border:1px solid #cf4759;
    background:#cf4759 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .checks input[type="checkbox"]:checked + label:before{
  border:1px solid #cf4759;
  background:#cf4759 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .tit-area .txt{color:#c22f4d;}
.login-cont .password-box .key-display.active:after{background:#c22f4d;}

/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #666;}
.loadingio-spinner .ldio div:nth-child(2) {background: #e04762;}
.loadingio-spinner .ldio div:nth-child(3) {background: #666;}

.side-top-wrap .side-top .info-user .btn-point .txt{color:#d63350;}