@charset "utf-8";

/* common */
.btn-basic1{background-color:#3d9de0;}
.btn-basic1:hover {background-color:#3d9de0;}
.btn-basic3 {color:#3d9de0 !important;border:1px solid #3d9de0;}
.btn-arr{color:#506ce7;}
.btn-arr:after{background-position:0 0;}
.btn-bottom2{background:#0092d7;}

/* layout */
#header .header-top .layer-shop .shop-list li .ico:before{background:#cee8f5;}
#side-menu .side-top .info-user .btn-point .txt{color:#0097df;}
.nav-main .gnb .gnb-item.active a{color:#0097df;}
.nav-main .gnb .gnb-item.active a .txt:after{background:#0097df;}
.full-menu-list .full-menu-item.active a,
.full-menu-list .full-menu-item a:hover,
.full-menu-list .full-menu-item a:active {color:#0097df;border:1px solid #0097df;}
.ft-toolbar ul li a.link-cart .num, .mypage-cont .ico-push .num{background:#0097df;}

/* 로그인 */
.login-cont .checks input[type="checkbox"] + label:active:before,
.login-cont .checks input[type="checkbox"]:checked + label:active:before
{
    border:1px solid #3d9de0;
    background:#3d9de0 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .checks input[type="checkbox"]:checked + label:before{
  border:1px solid #3d9de0;
  background:#3d9de0 url(../../img/form/ico-checkbox-style.png) no-repeat;
}
.login-cont .tit-area .txt{color:#148cdf;}

/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #00a5e1;}
.loadingio-spinner .ldio div:nth-child(2) {background: #45cdba;}
.loadingio-spinner .ldio div:nth-child(3) {background: #00a5e1;}

.side-top-wrap .side-top .info-user .btn-point .txt{color:#0097df;}