<!-- 페이지 내용 -->
<div class="operation_info">
    <h4>
        <span class="highlight">공공지원 민간임대주택</span>
    </h4>
    <div class="flat_round_box">
        <div class="content">
            <div class="left_area">
                <h5>기업형 임대주택 정책에<br>공공성을 강화한<br>새로워진 <span class="highlight">공공지원 민간임대주택</span></h5>
                <p>임대료 상승이 연 5%로 제한되는 주택에서<br>8년간 안정적으로 거주할 수 있습니다.</p>
                <div class="btn_area">
                    <a href="http://www.molit.go.kr/pr-housing/" target="_blank" class="btn btn_type2">공공지원 민간 임대주택 공식홈페이지</a>
                </div>
            </div>
            <div class="right_area">
                <ul>
                    <li>
                        <span class="img"><img src="/assets/contents/img_contract_01.jpg" alt="이미지"></span>
                        <p>
                            <strong>최대 8년 동안 내 집처럼</strong>
                            안정적인 의무임대 기간을 장기 거주 보장!
                        </p>
                    </li>
                    <li>
                        <span class="img"><img src="/assets/contents/img_contract_02.jpg" alt="이미지"></span>
                        <p>
                            <strong>2년 5% 임대료 인상 제한</strong>
                            치솟는 임대료 상승에 대한 부담 해소!
                        </p>
                    </li>
                    <li>
                        <span class="img"><img src="/assets/contents/img_contract_03.jpg" alt="이미지"></span>
                        <p>
                            <strong>차원이 다른 주거서비스</strong>
                            신세계그룹 특화 서비스로 누리는 다양한 혜택!
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <h4>
        <span class="highlight">임대조건</span>
    </h4>
    <div class="flat_round_box">
        <div class="content">
            <div class="flex">
                <div class="down_area">
                    <h5>전용 면적(타입)별 임대조건표</h5>
                    <a (click)="onClickDownloadPDF()" class="btn btn_type3">PDF 다운로드</a>
                </div>
                <div class="down_area">
                    <h5>계약대기 신청을 하시면<br>전문 상담원이 안내해 드립니다.</h5>
                    <a (click)="openPopup()" class="btn btn_type2 a">계약대기 신청</a>
                </div>
            </div>
        </div>
    </div>
    <h4>
        <span class="highlight">계약체결 시 구비서류</span>
    </h4>
    <div class="flat_round_box">
        <div class="content">
            <div class="scroll_x_box">
                <table class="tbl">
                    <caption>계약체결 시 구비서류 목록</caption>
                    <colgroup>
                        <col class="col1_1">
                        <col class="col1_2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">구분</th>
                            <th scope="col">내용</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>본인 계약 시</td>
                            <td class="left">
                                <ul class="dot_list">
                                    <li>신분증 (주민등록증, 운전면허증)</li>
                                    <li>인감증명서 1통 (아파트 임대차계약용), 주민등록등본 1통, 인감도장</li>
                                    <li>계약금 입금증 (무통장 입금증 및 계좌이체 영수증 등)</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>대리인 계약 시<br>(배우자 포함)</td>
                            <td class="left">
                                <p>본인 계약 시 구비서류 외 추가서류</p>
                                <ul class="dot_list">
                                    <li>대리인 신분증 (주민등록증, 운전면허증) 및 대리인 도장</li>
                                    <li>위임장 (견본주택 비치)</li>
                                    <li>청약자의 인감증명서 (용도 : 아파트 임대차계약 위임용) 1종</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h4>
        <span class="highlight">임대보증금(계약금,잔금) 납부</span>
    </h4>
    <div class="flat_round_box">
        <div class="content">
            <div class="scroll_x_box">
                <table class="tbl">
                    <caption>임대보증금(계약금,잔금) 납부 계좌 정보</caption>
                    <colgroup>
                        <col width="115px">
                        <col width="123px">
                        <col width="145px">
                        <col width="355px">
                        <col width="100px">
                    </colgroup>
                    <thead>
                        <tr>
                            <th scope="col">구분</th>
                            <th scope="col">금융기관명</th>
                            <th scope="col">납부 계좌</th>
                            <th scope="col">예금주</th>
                            <th scope="col">비고</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>계약금, 잔금</td>
                            <td>KEB 하나은행</td>
                            <td>203-910043-31104</td>
                            <td>㈜신세계하나제1호기업형임대위탁관리부동산투자회사</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <ul class="dot_list">
        <li>무통장입금 시 동, 호수를 필히 기재하여 주시기 바랍니다. (예:101-902)</li>
        <li>상기계좌로 납부하지 아니한 납부금은 인정하지 않으며 견본주택에서는 대금을 수납하지 않으니 반드시 해당 계좌로 입금하시기 바랍니다.</li>
        <li>지정계약기간 내 계약금 또는 일부금액을 납부하더라도 계약 미체결 시에는 당첨효력이 상실됩니다.</li>
        <li>무통장 입금증 또는 계좌이체 영수증은 계약체결 시 지참하여 주시기 바랍니다. (무통장 입금증 또는 계좌이체 영수증은 계약금 납부영수증으로
            갈음되며, 별도의 영수증은 발행되지 않으므로 필히 보관하시기 바람)</li>
    </ul>
</div>

<!-- 레이어 팝업 : 계약대기신청 -->
<ng-container *ngIf="isShowPopup">
    <div class="dimmed" [ngClass]="{'inactiveDimmer': !isShowPopupLayer}"></div>
    <div
        class="layer_popup contract_form"
        [ngClass]="{'active' : isShowPopupLayer, 'inactive': !isShowPopupLayer}">
        <div class="content">
            <h1>계약대기신청</h1>
            <div class="cont_pop">
                <div class="scroll_box">
                    <div class="agree_area">
                        <h2>개인정보의 수집 및 이용 동의
                            <span class="fc_org">(필수)</span>
                        </h2>
                        <div class="agree_info">
                            <table class="tbl">
                                <caption>개인정보의 수집 및 이용 동의 표</caption>
                                <colgroup>
                                    <col style="width: 33%">
                                    <col style="width: 34%">
                                    <col style="width: 33%">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th scope="col">목적</th>
                                        <th scope="col">항목</th>
                                        <th scope="col">보유기간</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="left">빌리브 울산 계약대기 확인 및 안내</td>
                                        <td class="left">이름, 휴대전화번호, 이메일, 신청 주택형</td>
                                        <td class="left">빌리브 울산 입주 완료 시</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="ps_txt">※ 고객님께서는 필수항목 수집·이용에 대한 동의를 거부할 권리가 있습니다. 단, 해당 항목 동의 거부 시에는 계약대기신청을 이용하실 수 없습니다.</p>
                        </div>
                        <p>개인정보 수집 및 이용에 동의하시겠습니까?</p>
                        <div class="input_row">
                            <div class="radio lt">
                                <label>동의
                                    <!-- <input type="radio" [(ngModel)]="ansList[row.rowNo-1]"
                                    [name]="row.rowNo.toString()" [value]="item.itemNo.toString()">-->
                                    <input type="radio" [(ngModel)]="contAplModel.termsCsntYn" name="termsCsntYn" value="1">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                            <div class="radio lt">
                                <label>미동의
                                    <input type="radio" [(ngModel)]="contAplModel.termsCsntYn" name="termsCsntYn" value="0">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form_area">
                        <div>
                            <h2 class="necessary">이름</h2>
                            <div class="txt">
                                <div class="input_row">
                                    <input [(ngModel)]="contAplModel.name" type="text" class="com_inp" title="이름" [maxlength]="10" koOnly="koOnly">
                                </div>
                                <p class="dot_ps_txt">계약대기신청자와 임차인은 동일해야 합니다.</p>
                            </div>
                        </div>
                        <div>
                            <h2 class="necessary">휴대전화</h2>
                            <div class="input_row phone">
                                <ng-select [items]="[
                                                    { name: '010'},
                                                    { name: '011'},
                                                    { name: '012'},
                                                    { name: '017'},
                                                    { name: '019'}
                                                    ]" 
                                    [searchable]="false" [clearable]="false" [(ngModel)]="contAplModel.tel0" bindLabel="name" bindValue="name" placeholder="선택">
                                </ng-select>
                                <span>-</span>
                                <input [(ngModel)]="contAplModel.tel1" type="text" class="com_inp" [maxlength]="4" numbersOnly="numbersOnly">
                                <span>-</span>
                                <input [(ngModel)]="contAplModel.tel2" type="text" class="com_inp" [maxlength]="4" numbersOnly="numbersOnly">
                            </div>
                        </div>
                        <div>
                            <h2 class="necessary">이메일</h2>
                            <div class="input_row">
                                <input [(ngModel)]="contAplModel.email" type="email" class="com_inp" title="이메일">
                            </div>
                        </div>
                        <div>
                            <h2 class="necessary">주택형</h2>
                            <div>
                                <div class="input_row chk_group">
                                    <div class="radio lt">
                                        <label>51㎡ A
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="51㎡ A">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>51㎡ B
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="51㎡ B">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>53㎡ OT
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="53㎡ OT">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>55㎡ OT
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="55㎡ OT">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>56㎡ A
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="56㎡ A">
                                                <span class="chkmark"></span>
                                            </label>
                                        </div>
                                    <div class="radio lt">
                                        <label>56㎡ B
                                        <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="56㎡ B">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>62㎡ OT
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="62㎡ OT">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>63㎡ A
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="63㎡ A">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>63㎡ B
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="63㎡ B">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>63㎡ C
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="63㎡ C">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>63㎡ D
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="63㎡ D">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>64㎡ OT
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="64㎡ OT">
                                            <span class="chkmark"></span>
                                        </label>
                                    </div>
                                    <div class="radio lt">
                                        <label>84㎡
                                            <input type="radio" [(ngModel)]="contAplModel.supTp" name="supTp" value="84㎡">
                                                <span class="chkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h2 class="">요청사항</h2>
                            <div class="txt">
                                <div class="input_row">
                                    <input [(ngModel)]="contAplModel.reqMatt" type="text" class="com_inp" title="요청사항">
                                </div>
                                <p class="dot_ps_txt">선호하는 동이나 층수가 있다면 입력해 주세요.</p>
                            </div>
                        </div>
                    </div>
                    <ul class="dot_list">
                        <li>계약대기신청은 공정성을 위해 온라인으로만 신청이 가능합니다.</li>
                        <li>순번이 도래하여 연락했으나 통화 연결이 안 될 경우, 문자 등을 전송했으나 무응답인 경우 입주대기에서 제외됩니다.</li>
                        <li>공공지원 민간임대주택은 임차권 양도 및 전대가 불가하며, 이를 위반할 경우 임대차 계약이 해지될 수 있습니다.</li>
                        <li>공공지원 민간임대주택은 관련중앙부처의 유권해석에 따라 임차인 대상을 외국인 또는 외국인 법인 등은 제한하고 있음을 양지하여 주시기 바랍니다.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" (click)="closePopup()" class="btn btn_type1">취소하기</button>
            <button type="button" (click)="onClickApply()" class="btn btn_type2">신청하기</button>
        </div>
    </div>
    <!-- // 레이어 팝업 : 계약대기신청 -->
</ng-container>