@charset "utf-8";

/*------------------------------------------------------------------------------------------------------------------------------------------
	File : style.css(Front)
 	Author : Jihye, Yun 2021-08
 	CSS 적용순서 : 아이디 > 태그와 클래스 > 클래스 > 태그
	CSS 선택자 선언순서 : Type Selector, Layout Selector, Class Selector, Etc
--------------------------------------------------------------------------------------------------------------------------------------------*/

/* layout */
#wrapper {min-width:1400px; position:relative; display:flex; background:#fff;}
#left_wrap {position:fixed; background:#faf9f8; width:300px; height:100vh; padding-top:29px; overflow-y:auto; border-right:1px solid #dedede;}
#left_wrap + #container {width:calc(100% - 300px); margin-left:300px;}
#container {width:100%; position:relative;}
#contents {position:relative; min-height:calc(100vh - 85px); padding:45px 0 0 30px;} 
.cont_inner {/* max-width:1200px; */ margin-right:30px; padding-bottom:140px;}
#footer {border-top:1px solid #f5f5f5; }

#wrapper h1 {margin-left:53px; position:relative; font-size:0;}
#wrapper h1::before {display:block; content:""; background:url('../images/logo.png') no-repeat; background-size:100%; width:184px; height:60px;}
#wrapper h1 span {display:inline-block; margin-top:15px; font-size:21px; letter-spacing:-0.05em; margin-bottom:43px;} 

.util_menu {display:flex; align-items:stretch; height:108px; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#f0ebe8;}
.util_menu a {flex:1; text-align:center; border-left:1px solid #fff; border-right:1px solid #dedede; color:#333; font-weight:700;}
.util_menu a:first-of-type {border-left:none;}
.util_menu a:nth-of-type(3) {border-right:none;}
.util_menu a::before {display:block; content:""; margin:24px auto 0; width:39px; height:39px;}
.util_menu a:first-of-type::before {background:url('../images/icon_util01.png') no-repeat center top;}
.util_menu a:nth-of-type(2)::before {background:url('../images/icon_util02.png') no-repeat center top;}
.util_menu a:nth-of-type(3)::before {background:url('../images/icon_util03.png') no-repeat center top; margin-left:33px;}
.util_menu a span {display:block; margin-top:10px;}
.util_menu a:nth-of-type(3) span {letter-spacing:-0.02em;}

.lnb_area {}
.lnb_area > ul > li {position:relative; min-height:51px; line-height:51px; border-bottom:1px solid #dedede; border-top:1px solid #fff;}
.lnb_area > ul > li:first-child {border-top:none;}
.lnb_area li .ico {display:none; margin-right:24px; vertical-align:text-top;}
.lnb_area li a {display:block; padding:0 15px; font-size:18px; font-weight:300;color:#222;letter-spacing:-0.05em;white-space:nowrap;}
.lnb_area > ul > li > a::before {display:inline-block; content:""; width:24px; height:24px; vertical-align:-5px; margin-right:21px;}
.lnb_area > ul > li:first-child > a::before {background:url('../images/icon_lnb01.png') no-repeat;}
.lnb_area > ul > li:nth-child(2) > a::before {background:url('../images/icon_lnb02.png') no-repeat; height:27px;}
.lnb_area > ul > li:nth-child(3) > a::before {background:url('../images/icon_lnb03.png') no-repeat; height:26px;}
.lnb_area > ul > li:nth-child(4) > a::before {background:url('../images/icon_lnb04.png') no-repeat; height:25px;}
.lnb_area > ul > li:nth-child(5) > a::before {background:url('../images/icon_lnb05.png') no-repeat;}
.lnb_area > ul > li:nth-child(6) > a::before {background:url('../images/icon_lnb06.png') no-repeat; height:22px;}
.lnb_area > ul > li:first-child.on > a::before {background:url('../images/icon_lnb01_on.png') no-repeat;}
.lnb_area > ul > li:nth-child(2).on > a::before {background:url('../images/icon_lnb02_on.png') no-repeat;}
.lnb_area > ul > li:nth-child(3).on > a::before {background:url('../images/icon_lnb03_on.png') no-repeat;}
.lnb_area > ul > li:nth-child(4).on > a::before {background:url('../images/icon_lnb04_on.png') no-repeat;}
.lnb_area > ul > li:nth-child(5).on > a::before {background:url('../images/icon_lnb05_on.png') no-repeat;}
.lnb_area > ul > li:nth-child(6).on > a::before {background:url('../images/icon_lnb06_on.png') no-repeat;}
.lnb_area li li a {font-size:14px; letter-spacing:-0.03em;}
.lnb_area li.on .depth01 {font-weight:700; color:#fff; background:#f48025;}
.lnb_area li .depth02 {display:none; padding:10px 0 20px; background-color:#fff; border-top:1px solid #dedede;}
.lnb_area .on .depth02 {display:block;}
.lnb_area li .depth02 li {height:34px; line-height:34px; padding:0 10px 0 59px;}
.lnb_area li .depth02 li a {display:inline-block; padding:0; line-height:1.2;}
.lnb_area li .depth02 li.on a {color:#f48025; font-weight:700; border-bottom:1px solid #f48025; }

#contents.login {width:460px; margin:0 auto; padding:68px 0 110px;}
#contents.login h1 {width:216px; height:69px; margin:0 auto;}
#contents.login h1 + h2 {margin-top:50px; color:#222;}
#contents.login h2 + .form_area {margin-top:68px;}

.form_area {position:relative;}
.form_area .form_row + .form_row {margin-top:5px;}

.btn_area {text-align:center;}
.btn_area a {display:inline-block;}

.board_top {display:flex; justify-content:space-between; align-items:center; margin-bottom:27px;}
.board_top .rst_txt {font-size:16px;}
.board_top .r_area {display:flex; align-items:center;}
.board_top .r_area .stit {font-size:16px;}
.board_top .r_area .stit + select {margin-left:13px;}
.board_top .r_area select + .sch_box {margin-left:11px; width:346px;}

.sch_box {position:relative; width:346px; height:45px; border:1px solid #555; border-radius:3px;}
.sch_box input {background:#fff; width:calc(100% - 36px); padding-right:18px; height:100%; border:none; font-size:16px;}
.sch_box input:focus {border-width:0;}
.sch_box ::placeholder, 
.sch_box :focus::placeholder {color:#d1d1d1 !important;}
.sch_box .btn_sch {text-indent:-9999px; background:url('../images/icon_search.png') no-repeat; width:18px; height:18px;} 

.ico_switch {display:inline-block; background:url('../images/btn_switch_off.png') no-repeat; width:71px; height:27px;}
.ico_switch.on {background:url('../images/btn_switch_on.png') no-repeat;}

.footer_info {padding:35px 0; text-align:center; color:#6a6a6a;}


