<v-app>
    <v-body [title]="bzSvcDetail?.svcNm" [svcId]="svcId">
        <div class="container">
            <div class="reservation"><!-- 10-21 class 수정 -->
                <div class="slide_area" *ngIf="bzSvcDetail?.bsSvcImgList && bzSvcDetail?.bsSvcImgList.length>0">
                    <ion-button (click)="slidePrev(slider)" class="btn_prev round">
                        <ion-icon name="chevron-back"></ion-icon>
                    </ion-button>
                    <ion-button (click)="slideNext(slider)" class="btn_next round">
                        <ion-icon name="chevron-forward"></ion-icon>
                    </ion-button>
                    <ion-slides #slider pager="true" [options]="{
                        initialSlide: 0,
                        speed: 400
                      }">
                        <ion-slide *ngFor="let image of bzSvcDetail?.bsSvcImgList">
                            <div class="img_extend">
                                <img [src]="image?.imgFileIdPath | fileToWebPath" alt="샘플" />
                                <div class="btm_box">
                                    <a (click)="openFullImageModal(image?.imgFileIdPath)" class="extend_btn"></a>
                                    <h5 class="title">{{image?.imgTtl}}</h5>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
                <!-- 타이틀 -->
                <h4 class="main_title flt_left">
                    <p>
                        <span class="highlight">이용안내</span>
                    </p>
                    <!-- 위치 정보 -->
                    <dl *ngIf="bzSvcDetail?.descLoc" class="locate_box">
                        <dt>위치</dt>
                        <dd>{{bzSvcDetail?.descLoc | parseEnterToHtmlTag}}</dd>
                    </dl>
                    <!-- //위치 정보 -->
                </h4>
                <!-- 이용안내 내용 출력 -->
                <div class="round_box use_info">
                    <div class="content">
                        <dl>
                            <dt>이용대상</dt>
                            <dd [innerHTML]="bzSvcDetail?.descTrg | parseEnterToHtmlTag"></dd>
                        </dl>
                        <dl>
                            <dt>이용요금</dt>
                            <dd [innerHTML]="bzSvcDetail?.descFee | parseEnterToHtmlTag"></dd>
                        </dl>
                        <dl>
                            <dt>휴무일</dt>
                            <dd [innerHTML]="bzSvcDetail?.descDayoff | parseEnterToHtmlTag"></dd>
                        </dl>
                        <dl>
                            <dt>운영시간</dt>
                            <dd [innerHTML]="bzSvcDetail?.descOpTm | parseEnterToHtmlTag"></dd>
                        </dl>
                        <dl>
                            <dt>이용방법</dt>
                            <dd [innerHTML]="bzSvcDetail?.descMthd | parseEnterToHtmlTag"></dd>
                        </dl>
                        <dl>
                            <dt>문의처</dt>
                            <dd [innerHTML]="bzSvcDetail?.descRefer | parseEnterToHtmlTag"></dd>
                        </dl>
                    </div>
                </div>
                <!-- //이용안내 내용 출력 -->

                <!-- 외부 링크 -->
                <div class="btn_area external_link" *ngIf="bzSvcDetail?.bsSvcLinkList?.length>0">
                    <button (click)="goExternalPage(link.linkUrl)" *ngFor="let link of bzSvcDetail?.bsSvcLinkList;" type="button" class="btn btn_type2 link">
                        <span>{{link.linkTtl}}</span>
                    </button>
                </div>
                <!-- //외부 링크 -->

                <!-- 제휴예약 -->
                <ng-container *ngIf="bzSvcDetail?.svcTp==='C'">
                    <h4 class="main_title flt_left">
                        <p>
                            <span class="highlight">이용/예약 선택</span>
                        </p>
                    </h4>

                    <!-- 외부 예약 - 상세 펼침 없음 -->
                    <div class="round_box" *ngFor="let ptnr of bzSvcDetail?.bsSvcPtnrList">
                        <div class="content">
                            <dl>       
                                <dt class="title">                            
                                    <span class="ur_sel">{{ptnr.ptnrNm}}</span>
                                    <button type="button" (click)="
                                    goResvPage(ptnr.ptnrId)" class="btn btn_type2">이용/예약 신청하기</button>
                                </dt>
                            </dl>
                        </div>
                    </div>
                </ng-container>
                <!-- 조식 -->
                <ng-container *ngIf="bzSvcDetail?.svcTp==='D'">
                    <h4 class="main_title flt_left">
                        <p>
                            <span class="highlight">이용/예약 선택</span>
                        </p>
                    </h4>

                    <!-- 외부 예약 - 상세 펼침 없음 -->
                    <div class="round_box">
                        <div class="content">
                            <dl>
                                <dt class="title">
                                    <span class="ur_sel">{{bzSvcDetail?.lnchMstDetail?.lnchNm}}</span>
                                    <button *ngIf="bzSvcDetail?.lnchMstDetail?.opYn==='1'" type="button" (click)="goResvPage(bzSvcDetail?.svcId)" class="btn btn_type2">이용/예약 신청하기</button>
                                    <button *ngIf="bzSvcDetail?.lnchMstDetail?.opYn!=='1'" type="button" disabled class="btn btn_type2 disabled">{{bzSvcDetail?.lnchMstDetail?.rejectRsn}}</button>
                                </dt>
                            </dl>
                        </div>
                    </div>
                </ng-container>
                <!-- 타이틀 -->
                <ng-container *ngIf="bzSvcDetail?.svcTp==='B'">
                    <h4 class="main_title flt_left">
                        <p>
                            <span class="highlight">이용/예약 선택</span>
                        </p>
                    </h4>
                    <!-- 내부 예약 & 다중 -->
                    <div class="multi_list">
                        <!-- 11.30 디자인 개선으로 마크업 수정 : dl.round_box -> div.flat_round_box -->
                        <div class="round_box" *ngFor="let prd of bzSvcDetail?.resvPrdList">
                            <div class="content">
                                <dl [ngClass]="selectedPrdId === prd.prdId ? 'on' : ''">
                                    <dt class="title">
                                        <span class="ur_sel"><a (click)="onClickPrd(prd.prdId)">{{prd.prdNm}}</a></span>
                                        <div class="title_info">
                                            <dl class="personnel">
                                                <dt>수용인원</dt>
                                                <dd>{{prd.fclObj?.descPcnt}}</dd>
                                            </dl>
                                            <dl class="location">
                                                <dt>위치</dt>
                                                <dd>{{prd.fclObj?.descLoc}}</dd>
                                            </dl>
                                        </div>
                                    </dt>
                                    <dd class="cont">
                                        <div class="info">
                                            <dl>
                                                <dt>운영시간</dt>
                                                <dd>{{prd.fclObj?.opStrTm.substring(0,2)}}:{{prd.fclObj?.opStrTm.substring(2,4)}} ~ {{prd.fclObj?.opEndTm.substring(0,2) }}:{{prd.fclObj?.opEndTm.substring(2,4) }}</dd>
                                            </dl>
                                            <dl>
                                                <dt>휴무일</dt>
                                                <dd>{{prd.fclObj?.descDyof}}</dd>
                                            </dl>
                                            <dl>
                                                <dt>신청기간</dt>
                                                <dd>{{prd.fclObj?.descApplTerms}}</dd>
                                            </dl>
                                            <dl>
                                                <dt>시설물</dt>
                                                <dd>{{prd.fclObj?.descFacility}}</dd>
                                            </dl>
                                        </div>
                                        <!-- 버튼 박스 (PC에선 우측 정렬) -->
                                        <!-- 일+시간(F)타입 제외 -->
                                        <div class="btn_box" *ngIf="prd.resvCd!=='F';else otherType">
                                            <dl>
                                                <dt>이용요금</dt>
                                                <dd>
                                                    <span class="fc_org">{{prd.prdPrc | numberFormatWithComma}}</span>원 / {{getTopFeeUnit(prd.resvCd)}} <span class="fc_org">{{ prd.prdPrcDesc }}</span>
                                                </dd>
                                            </dl>
                                            <button type="button" (click)="goResvPage(prd.prdId)" class="btn btn_type2 link">이용/예약 신청하기</button>
                                        </div>
                                        <!-- 일+시간(F)타입 일때만 -->
                                        <ng-template #otherType>
                                            <div class="btn_box">
                                                <dl>
                                                    <dt>이용요금</dt>
                                                    <dd>
                                                        <span class="fc_org">{{prd.timeResv?.prdPrc | numberFormatWithComma}}</span>원 / 시간<span class="fc_org">
                                                        {{prd.timeResv?.prdPrcDesc}}</span>
                                                    </dd>
                                                </dl>
                                                <button type="button" (click)="goResvPage(prd.timeResv?.prdId)" class="btn btn_type2 link">시간 단위 이용/예약 신청하기</button>
                                                <dl>
                                                    <dd>
                                                        <span class="fc_org">{{prd.everyResv?.prdPrc | numberFormatWithComma}}</span>원 / 일<span class="fc_org">
                                                        {{prd.everyResv?.prdPrcDesc}}</span>
                                                    </dd>
                                                </dl>
                                                <button type="button" (click)="goResvPage(prd.everyResv?.prdId)" class="btn btn_type2 link">일 단위 이용/예약 신청하기</button>
                                            </div>
                                        </ng-template>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <!-- // 11.30 디자인 개선으로 마크업 수정 : round_box -> flat_round_box -->
                    </div>
                </ng-container>
                <!-- 유의사항 : 10-21 tab 형태로 변경 / 11.30 디자인개선으로 마크업 변경 : round_box -> flat_round_box -->
                <div class="round_box btm_info_box">
                    <div class="content">
                        <div class="tab_list">
                            <div>
                                <ul>
                                    <li [ngClass]="!selectedTab || selectedTab==='descEtc' ? 'on' : ''">
                                        <a (click)="onClickTab('descEtc')">기타 이용정보</a>
                                    </li>
                                    <li [ngClass]="selectedTab==='ntcMatt' ? 'on' : ''">
                                        <a (click)="onClickTab('ntcMatt')">유의사항</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="tab_block">
                            <li [ngClass]="!selectedTab || selectedTab==='descEtc' ? 'on' : ''">
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li *ngFor="let str of bzSvcDetail?.descEtc?.split('\n')">{{str}}</li>
                                    </ul>
                                </div>
                            </li>
                            <li [ngClass]="selectedTab==='ntcMatt' ? 'on' : ''">
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li *ngFor="let str of bzSvcDetail?.ntcMatt?.split('\n')">{{str}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // 유의사항 : 10-21 tab 형태로 변경 -->
            </div>
        </div>
    </v-body>

</v-app>
