<v-app>
    <v-body title="제휴 서비스 신청내역 조회">
        <div class="container">
            <div class="svc_mng">
                <!-- 이용/예약 신청정보 -->
                <div class="round_box apply">
                    <div class="content">
                        <h5>이용/예약 신청정보</h5>                        
                        <div>
                            <dl>
                                <dt>서비스 구분</dt>
                                <dd>영구크린 청소서비스</dd>
                            </dl>
                            <dl>
                                <dt>객실타입</dt>
                                <dd>갤러리하우스 (43평형, 정원 7명)</dd>
                            </dl>
                            <dl>
                                <dt>예약일자</dt>
                                <dd>2020.09.21 (월)</dd>
                            </dl>
                            <dl>
                                <dt>요청사항</dt>
                                <dd>입주 청소를 예약하려고 합니다. 18평형 거실, 방2, 주방, 화장실1 이구요, 오후에 청소를 시작할 수 있습니다. 요청사항 내용입니다. 요청사항 내용입니다. 요청사항 내용입니다.</dd>
                            </dl>
                            <dl>
                                <dt>신청자</dt>
                                <dd>빌리브 / 1동 1201A호 / 01012****78</dd>
                            </dl>
                            <dl>
                                <dt>신청일시</dt>
                                <dd>2020.08.26 10:23</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="btn_area">
                    <a href="#" class="btn btn_type3">목록보기</a>
                </div>
                
                <!-- 유의사항 : tab 형태 -->
                <div class="round_box btm_info_box">
                    <div class="content">
                        <div class="tab_list">
                            <div>
                                <ul>
                                    <li class="on">
                                        <a href="#">유의사항</a>
                                    </li>
                                    <li>
                                        <a href="#">취소/환불규정</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="tab_block">
                            <li class="on">
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li>유의사항1</li>
                                        <li>유의사항2</li>
                                        <li>유의사항3</li>
                                        <li>유의사항4</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div class="admin_content">
                                    <ul class="dot_list">
                                        <li>취소/환불정책 1</li>
                                        <li>취소/환불정책 2</li>
                                        <li>취소/환불정책 3</li>
                                        <li>취소/환불정책 4</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </v-body>
</v-app>
