<div>
    <!-- pc일떄 상단 메뉴바 -->
    <v-top [title]="title" [(isShow)]="isShowTop" (openMyMnu)="openMyMnuPopup()" ></v-top>
    <!-- 타이틀 영역 : sticky 기능때문에 v-top에서 분리 -->
    <div class="title_wrap">
        <div class="title_bar">
            <!-- 참고 : https://ionicframework.com/docs/api/back-button -->
            <ion-back-button *ngIf="!(globalVars.isApp && !globalVars.isLogin)" defaultHref="/" icon="chevron-back"></ion-back-button>
            <!-- <a href="#" class="btn_back">이전</a> -->
            <h3>{{title}}</h3>
            <!-- 페이지 타이틀 -->
            <a *ngIf="mnuId || svcId" (click)="onClickMyMenuFavorites()" class="btn_mymenu_add" [ngClass]="isExistMyMnuFavorites ? 'on' : ''">마이메뉴 추가</a>
        </div>
    </div>
    <!-- // 타이틀 영역 -->
    <!-- content -->
    <div class="page-body" id="pageBody" [style.visibility]="'hidden'"
         [ngClass]="{'active-mymnu' : (myMnuStatus == 'show'),
            'inactive-mymnu' : (myMnuStatus == 'hide')}">

        <ng-content>
        </ng-content>

    </div>
    <!-- footer -->
    <footer *ngIf="!(globalVars.isApp && !globalVars.isLogin)">
        <ul class="f_menu">
            <li>
                <a (click)="goPage(menuTypeConstants.TERMS.URL,{tabCode: 'A', replaceUrl: true})">서비스이용약관</a>
            </li>
            <li>

                <a (click)="goPage(menuTypeConstants.TERMS.URL,{tabCode: 'D', replaceUrl: true})">개인정보취급방침</a>
            </li>
        </ul>
        <a (click)="openVillivHomePage()" class="link_btn">빌리브 홈페이지</a>
        <p class="f_txt">
            <span>서울특별시 중구 소월로 10 단암타워 21층</span>
            <span>신세계건설 대표이사 윤명규</span>
            <span>사업자등록번호 201-81-44158</span>
            <span>TEL 02-3406-6620 FAX 02-3406-6700</span>
        </p>
        <p class="copyright">ⓒ 2020 SHINSEGAE E&C. All Rights Reserved</p>
        <span class="f_logo"></span>
    </footer>

    <!-- 모바일일때 하단 메뉴바  -->
<!--    <v-bottom *ngIf="!(globalVars.isApp && !globalVars.isLogin)" [isShowBottom]="isShowBottom" [(isShowTop)]="isShowTop" (openMyMnu)="openMyMnuPopup()"></v-bottom>-->
    <v-bottom *ngIf="!(globalVars.isApp && !globalVars.isLogin)" [(isShowTop)]="isShowTop" (openMyMnu)="openMyMnuPopup()"></v-bottom>

</div>
<!-- 마이메뉴 팝업 -->
<ng-container *ngIf="isShowMyMnuPopup">
    <div class="dimmed" [ngClass]="{'active-mymnu' : (myMnuStatus == 'show'), 'inactive-mymnu' : (myMnuStatus == 'hide')}"></div>
    <div class="layer_popup mymenu_popup" [ngClass]="{'active' : (this.myMnuStatus == 'show'), 'inactive': (this.myMnuStatus == 'hide')}">
        <div class="content">
            <h1>마이메뉴</h1>
            <div class="cont_pop">
                <!-- 11.18 추가 : 등록한 메뉴 없을 때 -->
                <p class="no_data" *ngIf="!mnuList || mnuList.length === 0;else emptyMnu">마이메뉴를 추가하려면 각 메뉴 페이지에서<br>별(☆) 아이콘을 클릭하세요.</p>
                <!-- // 11.18 추가 : 등록한 메뉴 없을 때 -->
                <ng-template #emptyMnu>
                    <ul class="mymenu_list"> <!-- 11.10 최대 12개까지 노출 -->
                        <li *ngFor="let menu of mnuList">
                            <a (click)="goPage(getMenuUrl(menu))">
                                <i class="micon" [ngClass]="getIconClassName(menu)"></i>
                                <span>{{getMenuName(menu)}}</span>
                            </a>
                        </li>
                    </ul>
                </ng-template>
            </div>
        </div>
        <div class="btn_area">
            <a (click)="closeMyMnuPopup(true)" class="btn btn_type1">닫기</a>
            <a (click)="goPageFromMyMnu(menuTypeConstants.MP_MENU.URL)" class="btn btn_type2">편집</a>
        </div>
        <a (click)="closeMyMnuPopup(true)" class="btn_popup_close">닫기</a>
    </div>


</ng-container>
<!-- // 마이메뉴 팝업 -->
