ion-content {
    --ion-background-color: #EFF1F5;
    --color: #222;
}

ion-content > div {
    padding: 0 1.667rem;
}
ion-content > div > h1 {
    margin-bottom: 0.8333rem;
    color: #111;
}
ion-content > div > span {
    font-size: 1rem ;
    display: block;
    margin-bottom: 0.4167rem;
    color: #111;
}
h1 {color: #333;}
h2 {color: #333;}
h3 {color: #333;}
h4 {color: #333;}
h5 {color: #333;}

button {
    /* color: #333;
    border: 1px solid #333;
    width: 5.833rem;
    height: 2.083rem;
    vertical-align: middle;
    display: inline-block; */
}
.btn + .btn {
    margin-left: 0.8333rem;
}
.switch_txt {
    color: #000;
}

.round_box {
    border-radius: 1.333rem;
}

.dot_list li {
  color: #000
}

.tbl th {
  color: #4B423C;
}

#layer_popup .cont_pop {
  color: #000;
}

.slide_area {
    background: #000;
}
.slide_area .btn_prev {
    left: 0;
}
.slide_area .btn_next {
    right: 0;
}