
.way_villiv {
    padding: 1.667rem 1.333rem;
    margin-bottom: 0;
}

.way_villiv .map_box {
    height: 15rem;
    border: 1px solid #DCDEDD;
    box-sizing: border-box;
    overflow: hidden;
}

.way_villiv .main_title.has_btn {
    padding-top: 1.667rem;
} 
.way_villiv .main_title p {
    font-size: 1.5rem;
    font-weight: bold;
}

.way_villiv .main_title .btn {
    width: auto;
    padding: 0 1.667rem;
}

.way_villiv .main_title .btn::before {
    display: inline-block;
    content: "";
    background: url(/assets/icon/link2.svg) no-repeat;
    background-size: 100%;
    width: 1.417rem;
    height: 1.417rem;
    margin-right: 0.6667rem;
    vertical-align: -0.08333rem;
}

.tbl2 th {
    font-size: 1.167rem;
}

@media screen and (min-width: 1025px) {
    .way_villiv {
        padding: 40px;
    }
    .way_villiv .map_box {
        height: 346px;
    }
    .way_villiv .main_title.has_btn {
        padding-top: 27px;
    }
    .way_villiv .main_title p {
        font-size: 26px;
    }
    .way_villiv .main_title .btn {
        font-size: 16px;
        padding: 0 30px;
    }
    .way_villiv .main_title .btn::before {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        vertical-align: 0;
    }

    .tbl2 th {
        font-size: 16px;
    }
}