@charset "utf-8";

/********************
    Theme3 : Yellow
*********************/

/* common */
.btn-basic5 {color:#222 !important;border:1px solid #fece0a;background-color:#fece0a;}
.btn-basic5:hover {background-color:#fece0a;}
.btn-basic5:active {color:#969696 !important;}
.btn-basic6 {color:#222 !important;border:1px solid #fece0a;background-color:#fff;}
.btn-basic6:active {color:#969696 !important;}

/* header */
#header .upper{background:#524f4a;}
#header .info .info-user li a .num{background:#fece0a;}
#header .count-point{color:#f38f00;}
#header .btn-category.on{background:#fece0a;}
#header .btn-category.on .txt{color:#222;}
#header .btn-category.on .txt:before{background-position-y:0;}
#header .category .category-list{background:#524f4a;}

/* container */
#container .visual .slide-bar .per{background:#fece0a;}

/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #666;}
.loadingio-spinner .ldio div:nth-child(2) {background: #fab700;}
.loadingio-spinner .ldio div:nth-child(3) {background: #666;}

/* 마이페이지(aside) point */
#aside .aside-hd .member li .point, 
#aside .aside-hd .member li .point a {color:#f38f00;}

/* login */
.login-form .checks input[type="checkbox"] + label:active:before,
.login-form .checks input[type="checkbox"]:checked + label:active:before {border:1px solid #fece0a;background-color:#fece0a;}
.login-form .checks input[type="checkbox"]:checked + label:before {border:1px solid #fece0a;background-color:#fece0a;}

/* pay */
.btn-basic5.btn-pay{background:#fece0a url("../img/common/arw-btn.png") no-repeat 171px 23px;}