@charset "utf-8";

/********************
    Theme2 : Red
*********************/

/* common */
.btn-basic5 {color:#fff !important;border:1px solid #d63350;background-color:#d63350;}
.btn-basic5:hover {background-color:#d63350;}
.btn-basic5:active {color:#fa9aab !important;}
.btn-basic6 {color:#d63350 !important;border:1px solid #d63350;background-color:#fff;}
.btn-basic6:active {color:#fa9aab !important;}

/* header */
#header .upper{background:#545454;}
#header .info .info-user li a .num{background:#d63350;}
#header .count-point{color:#db2e47;}
#header .btn-category.on{background:#d63350;}
#header .btn-category.on .txt{color:#fff;}
#header .category .category-list{background:#545454;}

/* container */
#container .visual .slide-bar .per{background:#d63350;}

/* 로딩중 */
.loadingio-spinner .ldio div:nth-child(1) {background: #666;}
.loadingio-spinner .ldio div:nth-child(2) {background: #e04762;}
.loadingio-spinner .ldio div:nth-child(3) {background: #666;}

/* 마이페이지(aside) point */
#aside .aside-hd .member li .point, 
#aside .aside-hd .member li .point a {color:#db2e47;}

/* login */
.login-form .checks input[type="checkbox"] + label:active:before,
.login-form .checks input[type="checkbox"]:checked + label:active:before {border:1px solid #d63350;background-color:#d63350;}
.login-form .checks input[type="checkbox"]:checked + label:before {border:1px solid #d63350;background-color:#d63350;}

/* pay */
.btn-basic5.btn-pay{background:#d63350 url("../img/common/arw-btn.png") no-repeat 171px 23px;}