.bill {}
/* 관리비 청구 이력 없을 때 */
.flat_round_box {
    // box-shadow: 0px 0.25rem 0.5rem #2C28281C;
    // margin-top: 3.333rem;
}
.flat_round_box em {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}
.flat_round_box em:before {
    display: block;
    content: "";
    background:url('/assets/icon/exclamation_mark2.svg') no-repeat;
    background-size: 100%;
    width: 7rem;
    height: 6.25rem;
    margin: 10rem auto 2.083rem;
}
.flat_round_box p {
    font-size: 1.167rem;
    line-height: 1.57;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
    color: #5A514C;
}

h5 .right {
    position: absolute;
    top: 0.3333rem;
    right: 0;
    font-size: 1.167rem;
    font-weight: 400;
}
h6 {
    font-size: 1.333rem;
    margin-top: 1.667rem;
}

.search_top {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-shrink: 0;
    // margin-top: 3.333rem;
    margin-bottom: 3.333rem;
}
.search_top span {
    font-size: 1.333rem;
    width: 6.75rem;
    // margin-right: 0.8333rem;
}
.search_top ng-select {
    width: 8.333rem;
}
.search_top ng-select + ng-select {
    width: 10.42rem;
    margin-left: 0.8333rem;
}

.round_box + .round_box {
    margin-top: 1.667rem;
}

.bg_box {
    background: #FFFFFF;
    padding: 0.8333rem 1.083rem;
    margin-top: 1.333rem;
}

.w_graph {
    position: relative;
    width: 100%;
    height: 0.6667rem;
    background: #DEDEDE;
    margin-top: 4.167rem;
}
.w_graph .fill {
    line-height: 0;
    vertical-align: top;
    height: 0.667rem;
    background: #4B423C;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.w_graph .value {
    display: inline-block;
    font-size: 1.083rem;
    line-height: 1.43;
    text-align: center;
    position: absolute;
    bottom: -0.25rem;
    margin-left: -4.167rem;
    width: 8.333rem;
}
.w_graph .value strong {
    font-weight: 700;
    display: block;
}
.w_graph .value:after {
    display: block;
    content: "";
    width: 1.167rem;
    height: 1.167rem;
    border-radius: 50%;
    background: #90B21A;   
    margin: 0.5rem auto 0;
}
.w_graph .value.right {
    text-align: right;
    margin-left: -7.75rem;
}
.w_graph .value.right:after {
    margin-left: calc(100% - 1.167rem);
}

.g_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0.8333rem;
}
.g_data li {
    //flex: 1;
    font-size: 1.083rem;
    text-align: center;
    line-height: 1.43;
}
.g_data li span {
    display: block;
}

.tbl3 {
    margin-top: 1rem;
}

.tbl4 col {}
.tbl4 col:nth-child(2),
.tbl4 th:nth-child(2) {
    display: none;
}
.tbl4 td:first-child {
    text-align: left;
    font-weight: 400;
    padding-right: 0;
}
.tbl4 td:nth-child(2) {
    display: none;
    font-weight: 400;
}
.tbl4 span.up, .tbl4 span.down {
    font-size: 1.083rem;
}
.tbl4 span.down:before {
    vertical-align: 1px;
}

@media screen and (min-width: 1025px) {
    .flat_round_box {
        /* box-shadow: 0px 3px 6px #2C28281C;
        margin-top: 64px; */
    }
    .flat_round_box em {
        font-size: 20px;
    }
    .flat_round_box em:before {
        width: 114px;
        height: 101px;
        margin: 79px auto 28px;
    }
    .flat_round_box p {
        font-size: 16px;
        line-height: 1.375;
        margin-top: 13px;
        margin-bottom: 80px;
    }

    h5 .right {
        top: 6px;
        font-size: 16px;
    }
    h6 {
        font-size: 20px;
        margin-top: 27px;
    }
    
    .search_top {
        justify-content: center;
        // margin-top: 23px;
        margin-bottom: 31px;
    }
    .search_top span {
        font-size: 18px;
        width: 100px;
        // margin-right: 15px;

    }
    .search_top ng-select {
        width: 180px;
    }
    .search_top ng-select + ng-select {
        width: 180px;
        margin-left: 10px;
    }
    
    .round_box .content {
        padding: 0;
    }
    .round_box + .round_box {
        margin-top: 46px;
    }

    .left_area {
        float: left;
        width: calc(50% - 22px);
    }

    .compare {

    }
    .compare .right_area .bg_box {
        height:320px;
        box-sizing: border-box;
    }
    .compare:after {
        display: block;
        content: "";
        clear: both;
    }
        
    .bg_box {
        padding: 24px 19px;
        margin-top: 11px;
    }
    
    .w_graph {
        height: 10px;
        margin-top: 58px;
    }
    .w_graph .fill {
        height: 10px;
    }
    .w_graph .value {
        font-size: 16px;
        line-height: 1.25;
        bottom: -6px;
        margin-left: -50px;
        width: 100px;
    }
    .w_graph .value:after {
        width: 22px;
        height: 22px;
        margin: 11px auto 0;
    }
    .w_graph .value.right {
        margin-left: -90px;
    }
    .w_graph .value.right:after {
        margin-left: calc(100% - 22px);
    }
    
    .g_data {
        margin-top: 12px;
    }
    .g_data li {
        font-size: 16px;
        line-height: 1.25;
    }
       
    .tbl3 {
        margin-top: 1rem;
    }

    .tbl4 col:nth-child(2),
    .tbl4 th:nth-child(2), 
    .tbl4 td:nth-child(2) {
        display: table-cell;
    }
    .tbl4 span.up, .tbl4 span.down {
        font-size: 16px;
    }
    .tbl4 span.down:before {
        vertical-align: 1px;
    }
}