@charset 'utf-8';

/* cs common */
#cs{position:relative;}
#cs .contents_left h2{padding:100px 0 46px;text-align:center;color:#fff;font-size:24px;line-height:1;background:#e60013 url(../images/cs/bg_lnb_h2.gif) no-repeat center 44px;font-weight:300;}
#cs .lnb{padding-top:15px;border:1px solid #c6c6c6;border-top:0 none;}
#cs .lnb a{display:block;}
#cs .contents_left .lnb li.dep1{border-top:1px solid #eaeaea;border-bottom:0;}
#cs .contents_left .lnb li.dep1:first-child{border-top:0 none;}
#cs .contents_left .lnb li.dep1>a{font-weight:500;}
#cs .contents_left .lnb li.dep1>a:hover,
#cs .contents_left .lnb li.dep1>a:focus,
#cs .contents_left .lnb li.dep1>a:active,
#cs .contents_left .lnb li.dep1.active>a{color:#ed1b2f;}
#cs .contents_left .lnb li.dep1>ul{padding:15px 0 5px;}
#cs .contents_left .lnb li.dep1>ul>li{position:relative;margin-bottom:10px;}
#cs .contents_left .lnb li.dep1>ul>li.hover .dep3{display:block;}
#cs .contents_left .lnb li.dep1>ul>li>a{font-weight:200;}
#cs .contents_left .lnb li.dep1>ul>li>a:hover,
#cs .contents_left .lnb li.dep1>ul>li>a:focus,
#cs .contents_left .lnb li.dep1>ul>li>a:active,
#cs .contents_left .lnb li.dep1>ul>li.active>a{color:#ed1b2f;}
#cs .lnb .dep3{display:none;position:absolute;width:120px;left:138px;top:-12px;padding:13px 9px;border:1px solid #333333;background:#fff;z-index:10;}
#cs .lnb .dep3>i{display:block;position:absolute;top:13px;left:-8px;width:8px;height:13px;background:url(../images/cs/bg_lnb_dep3.png) no-repeat;}
#cs .lnb .dep3>p{border-bottom:0 none;font-size:16px;color:#333;font-weight:500;line-height:1;}
#cs .lnb .dep3>ul{padding:0;margin-top:16px;border-top:0 none;}
#cs .lnb .dep3>ul>li{margin:10px 0 0;}
#cs .lnb .dep3>ul>li:first-child{margin-top:0;}
#cs .lnb .dep3>ul>li>a{font-size:13px;font-weight:200;line-height:1;color:#666;}
#cs .lnb .dep3>ul>li>a:hover,
#cs .lnb .dep3>ul>li>a:focus,
#cs .lnb .dep3>ul>li>a:active,
#cs .lnb .dep3>ul>li.active>a{color:#ed1b2f;}
#cs .contents_right{float:right;width:970px;}
.lnb_qr{margin-top:10px;padding:18px 0 23px;border:1px solid #c6c6c6;border-top:2px solid #333;text-align:center;}
.lnb_qr h3{margin-bottom:5px;font-size:20px;color:#333333;line-height:1;}
.lnb_qr p{font-size:14px;line-height:1.2;}
.lnb_qr p span{display:block;font-size:14px;line-height:1.2;color:#42a6ec;}
.lnb_qr .lnb_qr_img{margin-top:13px;}

#cs table{width:100%;}
#cs .mt3{margin-top:3px;}
#cs .mt4{margin-top:4px;}
#cs .mt5{margin-top:5px;}
#cs .mt10{margin-top:10px;}
#cs .mt14{margin-top:14px;}
#cs .mt15{margin-top:15px;}
#cs .mt18{margin-top:18px;}
#cs .mt20{margin-top:20px;}
#cs .mt25{margin-top:25px;}
#cs .mt30{margin-top:30px;}
#cs .mt40{margin-top:40px;}
#cs .mt50{margin-top:50px;}
#cs .mt60{margin-top:60px;}
#cs .mb5{margin-bottom:5px;}
#cs .ml5{margin-left:5px;}
#cs .ml10{margin-left:10px;}
#cs .ml20{margin-left:20px;}
#cs .mr10{margin-right:10px;}
#cs .mr20{margin-right:20px;}
#cs .mr25{margin-right:25px;}
#cs .mr30{margin-right:30px;}
#cs .pt10{padding-top:10px;}
#cs .pb10{padding-bottom:10px;}
#cs .t_left{text-align:left;}
#cs .t_center{text-align:center;}
#cs .t_right{text-align:right;}
#cs .ft_size13 *{font-size:13px;}
#cs .ft_size14 *{font-size:14px;}
#cs .ft_size16 *{font-size:16px;}
#cs .lh35{line-height:35px;}
#cs .w130{width:130px;}
#cs .dashed_hr{position:static;width:100%;margin:15px 0;background:url(../images/detail/dashed_hr.gif) repeat-x left top;border:0 none;}
#cs .select_area select{width:100%;}

#cs .fw_200 {font-weight:200;}
#cs .fw_500 {font-weight:500;}

/* tab */
.red_tab.tab_area{}
.red_tab.tab_area .tab_tit{border-bottom:2px solid #f2f2f2;}
.red_tab.tab_area .tab_tit li{width:195px;}
.red_tab.tab_area .tab_tit li:first-child{width:194px;}
.red_tab.tab_area.red_tab_li4 .tab_tit li{width:243px;}
.red_tab.tab_area.red_tab_li4 .tab_tit li:first-child{width:244px;}
.red_tab.tab_area .tab_tit li a{padding-top:14px;height:34px;background:#fff;border-bottom:1px solid #c6c6c6;}
.red_tab.tab_area .tab_tit li a:hover,
.red_tab.tab_area .tab_tit li a:focus,
.red_tab.tab_area .tab_tit li a:active,
.red_tab.tab_area .tab_tit li.active a{border:1px solid #e60013;background:#e60013;color:#fff;}
.red_tab.tab_area .tab_body{margin-top:0;border:0 none;}

.faq_tab.tab_area.st_small{margin-top:35px;}
.faq_tab.tab_area.st_small .tab_tit li{width:98px;}
.faq_tab.tab_area.st_small .tab_tit li:first-child{width:97px;}
.faq_tab.tab_area.st_small .tab_tit li a{padding-top:12px;height:45px;background:#fff;font-size:14px;}
.faq_tab.tab_area.st_small .tab_tit li a span{font-size:14px;}
.faq_tab.tab_area.st_small .tab_tit li.active a span{font-weight:200;color:#41a5eb;}
.faq_tab.tab_area.st_small .tab_body{border-top-color:#333;border-width:1px;padding:35px 35px 25px;}
.faq_tab .dot_list{overflow:hidden;}
.faq_tab .dot_list li{float:left;width:12.5%;color:#333;font-weight:200;font-size:16px;background-position:left 8px;}
.faq_tab .dot_list li.active a{font-weight:500;}
.dot_list li{margin-bottom:10px;padding-left:9px;background:url(../images/cs/bg_dot_list.gif) no-repeat left 7px;font-size:14px;line-height:1;}

/* table */
#cs table.tred td{color:#666;}
.tbl_info{margin-top:60px;}
.tbl_info:after{content:'';display:block;clear:both;}
.tbl_info .cs_tit{float:left;}
.tbl_info p{font-size:16px;line-height:1;color:#333;}
.tbl_info .cs_tit + p{float:left;padding-top:3px;margin-left:40px;color:#333;}
.tbl_info p span{font-size:16px;line-height:1;color:#41a5eb;}
#cs table.tred td a.new {background:url("../images/cs/icon_new.gif") no-repeat left 5px;padding-left:23px;margin-left:-23px;}

.tred.faq_tbl td{vertical-align:top;}
.tred.faq_tbl tbody tr:last-child td{padding-bottom:23px;}
.tred.faq_tbl tbody tr:last-child td.br{padding:0;}
.tred.faq_tbl .faq_txt{display:none;margin:20px -160px -20px -190px;padding:30px 30px 50px;font-size:14px;border-top:1px solid #d9d9d9;background:#f4f4f4;font-weight:300;}
.tred.faq_tbl .btn_faq{display:inline-block;width:31px;height:16px;text-indent:-999em;font-size:0;background:url(../../common/images/cs/bg_btn_faq.gif) no-repeat center;vertical-align:middle;transform:rotate(0);transition:transform .5s ease;}
.tred.faq_tbl .active td, .tred.faq_tbl .active td a {color:#333;}
.tred.faq_tbl td.active{color:#666;background:#f4f4f4;text-align:left;padding:30px;line-height:1.4;height:157px;}
.tred.faq_tbl .active .btn_faq{transform:rotate(180deg);}
.tred .search_none{height:224px;background:#f4f4f4 url(../images/common/bg_search_none.png) no-repeat center 69px;padding-top:135px;font-size:14px;color:#888;font-weight:300;}

.tbl_style_01{width:100%;border-top:2px solid #333;border-bottom:1px solid #333;}
.tbl_style_01 th{position:relative;padding:20px 10px 12px 25px;color:#333;font-size:14px;line-height;1;font-weight:500;text-align:left;border-top:1px solid #e5e5e5;}
.tbl_style_01 .need{display:inline-block;width:11px;height:14px;margin:0 6px 0 -13px;background:url(../images/member/icon_check.png) no-repeat center;text-indent:-999em;font-size:0;}
.tbl_style_01 .stxt {font-size:13px;display:inline-block;margin:9px 0 0 10px;font-weight:200;}
.tbl_style_01 th label{color:#333;font-size:14px;line-height:1;font-weight:500;text-align:left;}
.tbl_style_01 td{padding:12px 10px 12px 10px;border-top:1px solid #e5e5e5;line-height:1;}
.tbl_style_01 tr:first-child th,.tbl_style_01 tbody tr:first-child td{border-top:0 none}
.tbl_style_01 tr.line th, .tbl_style_01 tr.line td{border-top-color:#333;}
.tbl_style_01 tr.line2 th, .tbl_style_01 tr.line2 td{border-top:none;padding-top:0;}
.tbl_style_01 td.file2 .input_file_form span {position:absolute;top:0;left:5px;font-size:13px;font-weight:200;}
.tbl_style_01 td.file2 .input_file_hide {width:571px;height:77px;}
.tbl_style_01 td.file2 .input_file_show {margin-top:40px;}
.tbl_style_01 td.file2 .input_file_form .btn_reset {top:58px;}
.tbl_style_01 .bg_th{background:url(../images/cs/bg_th_line.gif) no-repeat left center;}
.tbl_style_01 .w_100{width:100%;box-sizing:border-box;}
.tbl_style_01 .botton_st_03{font-size:13px;}
.tbl_style_01 .textarea{box-sizing:border-box;line-height:1.5;height:120px;}
.tbl_style_01 .inp_wrap{display:inline-block;position:relative;}
.tbl_style_01 .inp_wrap input{padding-right:36px;}
.tbl_style_01 .inp_wrap .btn_reset{position:absolute;right:5px;top:50%;display:block;width:21px;height:21px;margin-top:-10px;text-indent:-999em;font-size:0;background:url(../images/cs/btn_reset.gif) no-repeat;}
.tbl_style_01 .label{line-height:35px;margin-right:30px;}
.tbl_style_01 .label span{display:inline-block;margin-left:2px;font-size:14px;font-weight:200;color:#333;line-height:35px;}

.prd_tit_input {display:inline-block;width:375px;}
.prd_tit_input .inp_wrap {margin-bottom:2px;}
.qna_view{width:100%;border:1px solid #333;border-width:2px 0 1px;}
.qna_view th,.qna_view td{padding:18px 10px;border-top:1px solid #e5e5e5;text-align:left;font-size:14px;}
.qna_view tr:first-child th,.qna_view tr:first-child td{border-top:0 none;}
.qna_view th, .qna_view td strong{font-weight:500;color:#333;}
.qna_view th.bg_th{background:url(../images/cs/bg_th_line.gif) no-repeat left center;}
.qna_view .line th,.qna_view .line td{border-color:#333;}
.qna_view_txt{min-height:120px;font-size:14px;line-height:1.3;}
.qna_view_txt img{max-width:100%;}
.qna_view_file a{color:#41a5eb;margin-right:10px;}
.qna_view_file a:hover, .qna_view_file a:focus, .qna_view_file a:active{text-decoration:underline;}

.tbl_view{width:100%;border-top:2px solid #e60013;border-bottom:1px solid #c6c6c6;box-shadow:0 1px 3px #f4f4f4;}
.tbl_view th, .tbl_view td{font-size:14px;padding:18px 10px;border-top:1px solid #d9d9d9;}
.tbl_view th, .tbl_view td strong{font-weight:200;color:#333;font-size:16px;}
.tbl_view tr:first-child th,.tbl_view table tr:first-child td{border-top:0 none;}
.tbl_view .tbl_view_date{text-align:center;}
.tbl_view_txt{min-height:120px;padding:0px 10px;font-size:14px;line-height:1.3;}
.tbl_view_txt img{max-width:100%;}
.tbl_view .tbl_view_file{background:#f4f4f4;}
.tbl_view_file a{color:#41a5eb;margin-right:10px;}
.tbl_view_file a:hover, .qna_view_file a:focus, .qna_view_file a:active{text-decoration:underline;}
.tbl_view.tbl_navi{border-top-color:#333;}

/* cs content */
h2.cs_tit{font-size:32px;line-height:1;color:#333;}
.cs_tit.tit_line{padding-bottom:20px;border-bottom:1px solid #eaeaea;}
h3.cs_tit{font-size:20px;line-height:1;color:#333;font-weight:500;}
#cs .cs_tit span.arr{display:inline-block;width:5px;height:20px;margin:0 5px;background:url("../images/cs/bg_cs_tit_arr.gif") no-repeat center;position:relative;}

.contents_right form {position:relative;padding-bottom:21px;}
.cs_search_box{}
.cs_search_box>div{border:2px solid #333333;}
.cs_search_box_top{padding:20px 20px 22px;}
.cs_search_box_top:after{content:'';display:block;clear:both;}
.cs_search_box_left{position:relative;float:left;width:670px;padding-left:130px;border-right:1px dashed #d9d9d9;height:132px;}
.cs_search_box_left h3{position:absolute;left:0;top:59px;font-size:32px;color:#333;line-height:1;font-weight:200;}
.cs_search_box_left h3 span{font-size:32px;color:#e60013;line-height:1;}
.cs_search_box_left > p{font-size:14px;line-height:1;padding:24px 0 14px;color:#333;}
.cs_search_box_inp:after{content:'';display:block;clear:both;}
.cs_search_box_inp>p{float:left;width:418px;padding:7px 0;border:1px solid #c6c6c6;border-right:0 none;}
.cs_search_box_inp>p input{border:0 none;width:100%;}
.cs_search_box_inp .botton_st_04{float:left;width:80px;font-size:16px;}
.cs_search_box_keyword{clear:both;padding:36px 30px 30px;border-bottom:solid 1px #c6c6c6;background:#f4f4f4;margin-top:-21px;}
.cs_search_box_keyword:after{content:'';display:block;clear:both;}
.cs_search_box_keyword strong{display:block;float:left;color:#333;line-height:1;font-weight:500;font-size:20px;}
.cs_search_box_keyword strong span {font-size:20px;color:#e60013;font-weight:bold;vertical-align:0;}
.cs_search_box_keyword>ul{float:left;/*margin-left:18px;*/}
.cs_search_box_keyword>ul>li{float:left;padding-left:22px;background:url(../images/cs/blt_01.gif) no-repeat left 2px;height:17px;margin-left:59px;font-size:16px;}
.cs_search_box_keyword>ul>li>a{line-height:1;display:block;color:#333;}
.cs_search_box_right{float:right;width:203px;}
.cs_search_box_right .txt{font-size:16px;line-height:1.5;padding:0px 0 6px;color:#333;}
.cs_search_box_right .txt>span{display:inline-block;color:#41a5eb;font-size:16px;line-height:1.5;}
.cs_search_box_right .txt2{font-size:20px;line-height:1.2;padding:8px 0 6px;color:#333;}
.cs_search_box_right .txt2>span{display:inline-block;color:#41a5eb;font-size:20px;line-height:1.2;}
.cs_search_box_right .btn{margin-top:5px;}
.cs_search_box_right .btn>a{width:180px;display:inline-block;box-sizing:border-box;text-align:left;}
.cs_search_box_bottom{border-top:1px solid #d9d9d9;padding:35px 15px;}
.cs_search_box_bottom>ul:after{content:'';display:block;clear:both;}
.cs_search_box_bottom>ul>li{float:left;width:12.5%;text-align:center;}
.cs_search_box_bottom>ul>li>a{display:inline-block;}
.cs_search_box_bottom>ul>li>a>span{display:block;font-size:14px;line-height:1;color:#333;}
.cs_search_box_bottom>ul>li>a>span>img{transform:scale(1);transition:transform .5s ease;}
.cs_search_box_bottom>ul>li>a:hover>span>img,
.cs_search_box_bottom>ul>li>a:focus>span>img,
.cs_search_box_bottom>ul>li>a:active>span>img{transform:scale(1.2);}
.cs_search_box_bottom>ul>li>a>span:first-child{margin-bottom:15px;}
.contents_right form .bg_shadow {background:url(../images/mypage/bg_myhs_shadow.png) no-repeat left bottom;width:970px;height:21px;display:block;position:absolute;bottom:0;left:0;}

.cs_main_row{margin-top:60px;}
.cs_main_row+.cs_main_row{margin-top:60px;}
.cs_main_row:after{content:'';display:block;clear:both;}
.cs_main_left{float:left;width:470px;}
.cs_main_right{float:right;width:470px;}
.cs_main_row h3{font-size:20px;line-height:1;color:#333;font-weight:500;position:relative;}
.cs_main_row h3 a {font-family:'Dotum',돋움,sans-serif;font-size:11px;font-weight:normal;color:#888;position:absolute;top:8px;right:0;background:url("../images/cs/blt_02.gif") no-repeat left 2px;padding-left:10px;}
.cs_main_list h3{padding-bottom:20px;border-bottom:2px solid #333333;}
.cs_main_list ul.faq li a {width:auto;}
.cs_main_list ul{padding-top:5px;}
.cs_main_list ul li{margin-top:16px;position:relative;}
.cs_main_list ul li.new {background:url("../images/cs/icon_new.gif") no-repeat left center;padding-left:21px;}
.cs_main_list ul li a{display:block;font-size:14px;color:#666;font-weight:200;width:335px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow:ellipsis;}
.cs_main_list ul li.new a {color:#333;}
.cs_main_list ul li span.date {position:absolute;top:-2px;right:0;font-size:13px;color:#666;}
.cs_main_box{position:relative;height:180px;padding:20px;border:solid 1px #d9d9d9;border-top:2px solid #333;background:url(../images/cs/bg_cs_main_as.gif) no-repeat 304px 54px;}
.cs_main_box h3{padding-bottom:15px;}
.cs_main_as P{font-size:14px;line-height:1.5;font-weight:200;}
.cs_main_as a{position:absolute;left:20px;bottom:25px;font-size:14px;line-height:1;}
.cs_main_box.cs_main_call{background:none;}
.cs_main_call .call_number{}
.cs_main_call .call_number dt{display:inline-block;font-size:13px;text-decoration:underline;margin:3px 9px 18px 0;color:#333;}
.cs_main_call .call_number dt.wd {width:87px;margin-right:0;}
.cs_main_call .call_number dd{display:inline-block;font-size:28px;color:#333;margin-bottom:18px;font-weight:200;}
.cs_main_call .time {margin-top:8px;}
.cs_main_call .time dt {display:inline-block;font-size:13px;}
.cs_main_call .time dd {display:inline-block;font-size:13px;}
.cs_main_call h4{padding-left:7px;margin-bottom:3px;color:#333;line-height:1;font-size:13px;}
.cs_main_call h4+p{padding-left:7px;font-size:13px;line-height:1.5;font-weight:200;}
.cs_mem {border:solid 1px #c6c6c6;border-top:solid 2px #e60013;margin-top:30px;background:url("../images/cs/bg_membership_01.jpg") no-repeat right top;padding:20px;height:160px;}
.cs_mem h3 {font-size:20px;color:#333;font-weight:500;}
.cs_mem h3 strong {font-weight:500;color:#ed1b2f;}
.cs_mem p {font-size:14px;line-height:1.41;color:#888;font-weight:200;}
.cs_mem a {font-weight:200;margin-top:5px;display:inline-block;}

.cs_rule_box{margin-top:20px;border:1px solid #333333;}
.cs_rule_box>div{padding:20px;}
.cs_rule_box>div:first-child{padding-bottom:10px;}
.cs_rule_box>div.check{text-align:right;background:#f4f4f4;border-top:1px solid #d9d9d9;}
.cs_rule_box>div.check .checkbox_area{display:inline-block;}
.cs_rule_box h4{font-size:14px;color:#333;margin-bottom:15px;font-weight:500;}
.cs_rule_box>div.check label{font-size:16px;}

.list_search_inp{text-align:center;margin-top:43px;}
.list_search_inp label{display:inline-block;width:77px;font-size:20px;line-height:36px;padding-left:27px;background:url(../images/cs/bg_list_search.gif) no-repeat left center;}
.list_search_inp input{width:373px;}
.list_search_inp .botton_st_03{font-size:13px;width:70px;margin-left:-4px;}

.cs_membership_tit{height:119px;background:url(../images/cs/bg_membership.jpg) no-repeat right bottom;}
.cs_membership_tit .cs_tit{margin-bottom:17px;}
.cs_membership_tit p{line-height:1.5;font-size:14px;}

.cs_mebership_info{padding-top:50px;}
.cs_mebership_info h4{font-size:32px;line-height:1.2;color:#333;font-weight:200;text-align:center;}
.cs_mebership_info h4 span{font-size:32px;line-height:1.2;color:#e60013;}
.cs_mebership_info h5{margin:15px 0 10px;font-size:20px;line-height:1;color:#333;font-weight:500;}
.cs_mebership_info p{line-height:1.8;font-size:14px;font-weight:200;}
.cs_mebership_info .txt01{margin:15px 0 25px;font-size:20px;line-height:1;color:#333;text-align:center;}
.cs_mebership_info .txt02{font-size:16px;line-height:1;text-align:center;}
.cs_mebership_card{margin:35px 0;text-align:center;}
.cs_mebership_card img{margin:0 16px;}
.cs_membership_tbl{margin:25px 0 15px;padding:20px 0;border:2px solid #333;border-width:2px 0 1px;}
.cs_membership_tbl table{width:100%;}
.cs_membership_tbl table thead th{color:#ffa902;padding:5px 0 25px;line-height:1;font-size:20px;font-weight:400;border-left:1px solid #d9d9d9;}
.cs_membership_tbl table tr th:first-child{border-left:0 none;}
.cs_membership_tbl table tbody th, .cs_membership_tbl table tbody td{padding:20px;}
.cs_membership_tbl table tbody th{font-size:14px;font-weight:200;vertical-align:middle;}
.cs_membership_tbl table tbody td{border-left:1px solid #d9d9d9;}
.cs_membership_tbl table tbody td strong{display:block;font-size:16px;font-weight:200;line-height:1.3;color:#333;}
.cs_membership_tbl table tbody td p{margin-top:5px;font-size:14px;line-height:1.3;}
.cs_membership_tbl .line{position:absolute;left:20px;right:20px;bottom:0;display:block;height:1px;}
.cs_membership_tbl th,.cs_membership_tbl td{position:relative;}
.cs_membership_tbl th.vat {vertical-align:top;padding-top:42px;}
.cs_membership_tbl th .line{background:#c6c6c6;}
.cs_membership_tbl td .line, .cs_membership_tbl tbody th .line{background:#eaeaea;}
.cs_membership_tbl2{width:770px !important;margin:0 auto;}
.cs_membership_tbl2 td{padding:20px 0;vertical-align:middle;border-bottom:1px solid #d9d9d9;}
.cs_membership_tbl2 td.img{padding:28px 30px 28px 0;width:110px;}
.cs_membership_tbl2 td strong{display:block;margin-bottom:5px;color:#333;font-size:20px;line-height:1;font-weight:400;}
.cs_membership_tbl2 td p{font-size:16px;line-height:1.3;letter-spacing:-0.08em;}

.cs_membership_list{width:810px;margin:75px auto 50px;}
.cs_membership_list:after{content:'';display:block;clear:both;}
.cs_membership_list>li{width:230px;float:left;margin:0 20px 20px;height:100px;}
.cs_membership_list>li>strong{display:block;font-size:16px;line-height:1;padding-bottom:9px;border-bottom:2px solid #333;color:#333;font-weight:500;}
.cs_membership_list>li>p{font-size:14px;line-height:1.3;padding-top:5px;}
.cs_membership_list a{display:block;padding:26px 0;border:1px solid #c6c6c6;background:#f4f4f4;text-align:center;}
.cs_membership_list a span{display:inline-block;padding-left:23px;background:url(../images/cs/bg_list_search2.png) no-repeat left center;font-size:16px;}
.cs_membership_list2{width:769px;margin:25px auto;border:1px solid #333;}
.cs_membership_list2:after{content:'';display:block;clear:both;}
.cs_membership_list2>li{float:left;width:255px;height:77px;padding-top:31px;border-left:1px solid #333;text-align:center;box-sizing:content-box;}
.cs_membership_list2>li:first-child{border-left:0 none;}
.cs_membership_list2>li>strong{display:block;font-size:20px;line-height:1;color:#333;font-weight:500;}
.cs_membership_list2>li>p{font-size:16px;line-height:1;color:#333;margin-top:10px;}

/* popup */
.layer_popup.pop_product_search{display:none;;position:absolute;top:150px;left:50%;width:650px;margin-left:-325px;}
.layer_popup .pop_btn_area{text-align:center;margin-top:50px;}
.layer_popup.pop_product_search .botton_st_04{width:285px;font-size:16px;color:#333;}
.layer_popup.pop_product_search .botton_st_04.purple {margin-right:5px;color:#fff;}

.pop_tbl{border-top:solid 2px #333;border-bottom:solid 1px #333;border-collapse:separate;}
.pop_tbl th,.pop_tbl td{font-size:14px;padding:15px 10px;vertical-align:middle;border-bottom:solid 1px #e5e5e5;line-height:1.5;text-align:center;}
.pop_tbl thead th{background:#f4f4f4;color:#333;}
.pop_tbl tbody td, .pop_tbl tbody th{font-weight:200;}
.pop_tbl .prd{text-align:left;color:#333;font-weight:400;}
.pop_tbl .prd span{color:#41a5eb;font-size:14px;line-height:1.5;}

.pop_product_search_inp{text-align:center;margin:15px 0 30px;}
.pop_product_search_inp label{display:inline-block;width:90px;font-size:20px;text-align:center;line-height:36px;color:#333;}
.pop_product_search_inp input{width:283px;}
.pop_product_search_inp .botton_st_03{font-size:13px;width:70px;}

/* other */
#wrap.other{width:970px;margin:0 auto;}
#wrap.other #header .header_middle_area{position:relative;width:970px;height:150px;padding-top:90px;border-bottom:2px solid #e60013;}
#wrap.other #header .header_middle_area .header_right{float:right;position:relative;margin:15px 35px 0 0;font-size:24px;color:#333;font-weight:500;}
#wrap.other #header .header_middle_area:after{content:"";display:block;clear:both;}
#wrap.other #header .util_info{position:absolute;right:0;bottom:20px;}
#wrap.other #header .util_info:after{content:'';display:block;clear:both;}
#wrap.other #header .util_info li{float:left;background:url(../images/common/top_util_bar.gif) 0 50% no-repeat; padding:0 6px;letter-spacing:-0.5px;vertical-align:middle;font-size:14px;font-weight:200;}
#wrap.other #header .util_info li:first-child{background:none;}
#wrap.other #container{margin-top:0;}
#wrap.other #container .content_sub{width:970px;}

.other_layout_tit{line-height:1;color:#333;}
h2.other_layout_tit{font-size:40px;font-weight:300;text-align:center;}
h2.other_layout_tit span{font-size:40px;line-height:1;color:#ed1b2f;}
h3.other_layout_tit{font-size:20px;font-weight:500;}
.cs_partner_flow{margin:20px 0 60px;border:1px solid #d9d9d9;}
.cs_partner_flow:after{content:'';display:block;clear:both;}
.cs_partner_flow>li{position:relative;float:left;width:161px;border-left:1px solid #d9d9d9;text-align:center;padding-top:20px;height:198px;background:#fff;}
.cs_partner_flow>li .tit{font-size:16px;color:#333;line-height:1.3;margin-top:20px;}
.cs_partner_flow>li .txt{font-size:13px;margin-top:10px;font-weight:200;}
.cs_partner_flow>li .txt.row1{padding-top:10px;font-weight:200;}
.cs_partner_flow>li .txt strong{display:inline-block;padding-left:9px;background:url(../images/cs/bg_dot_list.gif) no-repeat left center;font-weight:500;}
.cs_partner_flow>li .arr{position:absolute;right:-22px;top:21px;display:block;width:43px;height:43px;background:url(../images/cs/img_partner_flow_arr.png) no-repeat center;text-indent:-999em;font-size:0;z-index:1;}
.cs_partner_flow>li.on{background:#f4f4f4;}
.cs_partner_flow>li.on .tit{color:#ed1b2f;font-weight:500;}
.cs_partner_flow>li:first-child{border-left:0 none;}
.cs_search_box_right .botton_st_04.arrow {background:#5c4c4f url("../images/cs/bg_arr.png") no-repeat 159px center;padding-left:15px;font-size:16px;} 
.cs_search_box_right .botton_st_04.arrow img {margin-right:6px;vertical-align:-3px;}
.cs_search_box_inp .botton_st_04.black {background:#333;border:solid 1px #333;color:#fff;}
.cs_search_box_right .botton_st_03.arrow_04 {position:relative;padding-right:25px;background:#fff;color:#666;border:solid 1px #c6c6c6;}
.cs_search_box_right .botton_st_03.arrow_04:after {content:"";display:inline-block;width:5px;height:10px;position:absolute;right:14px;top:50%;margin-top:-5px;background:url(../images/common/btn_bg_arrow.gif) no-repeat 0 0;}
