@charset 'utf-8';

body{background:#f2f2f2;}
/* layout */
.error_wrap{padding:100px 0;}
.error_ci{padding:25px 0;text-align:center;}
.error_ci a{margin-right:15px;}
.error_ci img{vertical-align:top;}
.error_copy{text-align:center;font-size:11px;margin-top:5px;font-weight:300;color:#d5d5d5;}
.error_box{width:620px;padding:50px;height:360px;margin:0px auto 10px;border-top:5px solid #e60013;border-radius:7px;background:#fff;box-shadow:0 3px 5px #aaa;text-align:center;box-sizing:content-box;}
.error_box .error_icon{margin:0 0 35px;}
.error_box > p{font-size:29px;font-weight:300;line-height:1.3;color:#333;}
.error_box > div{margin-top:25px;}
.error_box > div.btn{margin-top:65px;}
.error_box > div p{font-size:15px;line-height:1.3;font-weight:200;}
.error_list{width:320px;margin:25px auto 0;background:#eaeaea;border-radius:7px;padding:15px 10px 12px 110px;box-sizing:content-box;text-align:left;}
.error_list ul li{margin-bottom:3px;font-size:13px;padding-left:10px;background:url(../images/cs/bg_dot_list.gif) no-repeat left center;}
.error_list ul li span{display:inline-block;width:60px;font-size:13px;color:#333;}
