@charset 'utf-8';
/* lnb */
#header #gnb_area .gnb .lnb_wrap {position:absolute;top:46px;left:0;width:170px;z-index:10;}
#header #gnb_area .gnb .lnb_wrap .lnb {z-index:10;width:170px;padding:26px 0;background:url(../images/main/bg_lnb.png) repeat-y 0 100%;}
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 {margin-top:8px;font-size:14px;font-weight:400;line-height:30px;background:none;border-bottom:none;padding:0;letter-spacing:-1.4px;}/* 11.17 ie8 ê¹¨ì§ - letter-spacing ì¶”ê°€ */
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 a{display:block;padding:0 5px 0 24px;color:#fff;}
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1.active a,
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 a:hover{background:#333;color:#fff;}
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1:first-child {margin-top:0;}
/*#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 a:hover,
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 a:focus,
#header #gnb_area .gnb .lnb_wrap .lnb li.dep1 a:active{color:#e60013;} */

#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer{display:none;position:absolute;top:0;left:169px;width:1000px;padding:43px 12px 40px ;background:#fff;border:3px solid #333;z-index:10;-moz-box-shadow:8px 8px 0px rgba(0,0,0,0.2);-webkit-box-shadow:8px 8px 0px rgba(0,0,0,0.2);box-shadow:8px 8px 0px rgba(0,0,0,0.2);}
#header #gnb_area .gnb .lnb_wrap .lnb .active .lnb_sub_layer{display:block;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu{float:left;padding-left:13px;width:300px;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>h3{font-size:28px;line-height:1;margin-top:0;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul{margin-top:19px;overflow-y:auto;height:292px;padding-bottom:0;padding-top:0;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li{margin:8px 0 0;padding-left:6px;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li:first-child{margin-top:0;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li>a{display:inline-block;background:none;font-size:16px;padding:3px 1px;line-height:1;color:#333;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li>a:hover,
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li>a:focus,
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_menu>ul>li>a:active{border-bottom:1px solid #333;padding-bottom:2px;} 
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd{float:right;width:615px;padding:0;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li{float:left;width:270px;margin-right:30px;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li>a{padding:0;;background:none;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li>a>.tit{margin-top:13px;font-size:16px;line-height:1.4;height:42px;overflow:hidden;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li>p{margin-top:15px;color:#000;font-size:16px;line-height:1;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li>p>strong{font-size:22px;} 
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_prd>li span.img img {border:solid 1px #e5e5e5;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_banner{clear:both;padding-top:38px;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_banner>a{padding:0;background:none;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_banner>ul.list {text-align:center;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_banner>ul.list>li{display:inline-block;width:320px;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer>.lnb_sub_layer_banner>ul.list>li>a{padding:0;background:none;}
#header #gnb_area .gnb .lnb_wrap .lnb .lnb_sub_layer .btn_sub_layer_close{position:absolute;right:15px;top:15px;display:block;width:23px;height:23px;background:url(../images/category/btn_sub_layer_close.png) no-repeat center;text-indent:-999em;font-size:0;}

#container_main {clear:both;margin:0 0 50px 0;}
#container_main #main {width:100%;margin:0 auto;}
#container_main #main .main_bbs {color:#333;font-size:22px;border-bottom:2px solid #000;padding-bottom:15px;position:relative;margin-bottom:9px;}
#container_main #main .main_bbs a {position:absolute;top:7px;right:0;padding-left:10px;display:inline-block;background:url(../images/main/btn_more.gif) no-repeat 0 4px;font-family:Dotum;font-size:11px;}

/* main title */
#main .tit {display:inline-block;width:100%;margin-top:50px;}
#main .tit h2 {float:left;margin:0 14px 18px 5px;color:#333;font-size:28px;font-weight:400;}
#main .tit span {float:left;margin-top:6px;font-size:14px;font-weight:400;color:#666;}

/* main visual */
#main {margin-top:-24px;}
#main .visual_banner {position:relative;}
#main .visual_banner .banner_list {overflow:hidden;width:100%;height:610px;}
#main .visual_banner .banner_list li {float:left;width:100%;height:610px;position:absolute;left:0px;top:0px;}
#main .visual_banner .banner_list li a {display:block;width:100%;height:610px;font-size:0;}

#main .visual_banner .count_list {position:absolute;top:480px;left:50%;}
#main .visual_banner .count_list li {float:left;margin-left:4px;}
#main .visual_banner .count_list li:first-child {margin-left:0;}
#main .visual_banner .count_list li a {display:block;background:url(../images/main/main_icon_banner_com.png) 50% 0 no-repeat;width:15px;height:15px;font-size:0;}
#main .visual_banner .count_list .active a{background:url(../images/main/main_icon_banner_com_on.png) 50% 0 no-repeat;width:62px;height:15px;}

/* top_banner */
#main .top_banner {position:relative;width:1170px;margin:-72px auto 0;background-color:#fff;border:2px solid #333;}
#main .top_banner .list_area {float:left;overflow:hidden;width:1080px;height:200px;margin:37px 43px 35px;}
#main .top_banner .list li {float:left;border:1px solid #e5e5e5;margin-left:20px;width:200px;height:200px;}
#main .top_banner .list li a {position:relative;display:block;width:100%;}
#main .top_banner .list li a img {width:198px;height:198px;}
#main .top_banner .list li a span.text_box {position:absolute;display:block;width:198px;height:80px;bottom:0;left:0;background:url(../images/main/bg_text_S.png) repeat-x 0 bottom;}
#main .top_banner .list li a span.text_box span.main_tit {position:absolute;bottom:5px;display:block;color:#fff;font-size:14px;height:40px;width:192px;overflow:hidden;padding-left:7px;}
#main .top_banner .list li:first-child {margin-left:0;}
#main .top_banner .btn_left {position:absolute;top:122px;left:12px;}
#main .top_banner .btn_right {position:absolute;top:122px;right:12px;}
#main .top_banner .btn_left a.disabled,
#main .top_banner .btn_right a.disabled{opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

/* check list */
#main .check_list {width:100%;height:650px;margin-top:50px;background:url(../images/main/bg_ckeck_list.jpg) 50% 0 no-repeat;}
#main .check_list .list {width:1170px;margin:138px auto 0;}
#main .check_list .list li {float:left;margin-left:30px;}
#main .check_list .list li:first-child {margin-left:0;}

/* best pick */
#main .best_pick {clear:both;position:relative;width:1170px;margin:0 auto 30px;}
#main .best_pick .relative {position:relative;overflow:hidden;width:1170px;height:602px;}
#main .best_pick .prodect_list {clear:both;position:absolute;top:0;left:0;}
#main .best_pick .prodect_list li {float:left;}
#main .best_pick .prodect_list .left {float:left;width:584px;margin-right:1px;}
#main .best_pick .prodect_list .left li:first-child {margin-bottom:1px;}
#main .best_pick .prodect_list .middle {float:left;width:292px;margin-right:1px;}
#main .best_pick .prodect_list .middle li {margin-top:1px;}
#main .best_pick .prodect_list .middle li:first-child {margin-top:0;}
#main .best_pick .prodect_list .right {float:left;width:292px;}
#main .best_pick .prodect_list .right li:first-child {margin-bottom:1px;}

#main .best_pick .prodect_list dl {position:relative;}
#main .best_pick .prodect_list dl dd {position:absolute;bottom:0;left:0;background:url(../images/main/bg_text_s.png) 0 100% repeat-x;width:100%;height:80px;padding:34px 16px;font-size:14px;font-weight:300;color:#fff;}
#main .best_pick .prodect_list dl dd span {display:block;color:#fff;font-size:14px;}

#main .best_pick .prodect_list dl.st_large dd {background:url(../images/main/bg_text_L.png) 0 100% repeat-x;height:121px;padding:58px 25px 60px;font-size:20px;}/* 15.12.14 padding-top 수정 */
#main .best_pick .prodect_list dl.st_large dd span {font-size:20px;margin-top:8px;}
/* white bg */
#main .best_pick .prodect_list .right li:first-child dl dt {position:relative;}
#main .best_pick .prodect_list .right li:first-child dl dt span {position:absolute;top:0;left:0;width:292px;height:401px;background-color:#fff;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}

#main .best_pick .prodect_list dl.st_large dt {position:relative;}
#main .best_pick .prodect_list dl.st_large dt span {position:absolute;top:0;left:0;width:584px;height:401px;background-color:#fff;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}

#main .best_pick .prodect_list .ui-list-item-child dl dt {position:relative;}
#main .best_pick .prodect_list .ui-list-item-child dl span.color_layer {position:absolute;top:0;left:0;width:292px;height:200px;background-color:#fff;z-index:100;opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}


#main .main_count_area {position:absolute;left:50%;bottom:-28px;}

/* weekly best pick */
#main .weekly_best {position:relative;clear:both;width:1170px;margin:0 auto;}
#main .weekly_best .best_list {clear:both;display:inline-block;position:relative;margin-top:10px;width:1170px;height:370px;overflow:hidden;}
#main .weekly_best .controll .btn_left {position:absolute;top:246px;left:-18px;}
#main .weekly_best .controll .btn_right {position:absolute;top:246px;right:-18px;}

#main .weekly_best .best_list > ul {float:left;margin-left:-30px;width:1200px;}
#main .weekly_best .best_list li {float:left;margin:80px 0 0 30px;width:170px;}
#main .weekly_best .best_list li dl dt {position:relative;width:170px;height:170px;overflow:hidden;}
#main .weekly_best .best_list li dl dt span.bg_circle {position:absolute;top:0;left:0;width:170px;height:170px;display:inline-block;background:url(../images/common/bg_circle.png) no-repeat  0 0;}
#main .weekly_best .best_list li dl dt img {width:170px;height:170px;}
#main .weekly_best .best_list li:first-child dl {margin-left:0;}
#main .weekly_best .best_list li dd {color:#888;font-weight:700;text-align:center;margin-top:9px;}
#main .weekly_best .best_list li.banner_center {margin-left:113px;margin-right:113px;} 

#main .weekly_best .best_list .view_03 {position:absolute;top:0;left:400px;width:370px;height:370px;overflow:hidden;z-index:5;}
#main .weekly_best .best_list .view_03 .img {position:relative;width:370px;height:370px;z-index:6;}
#main .weekly_best .best_list .view_03 .img img {position:absolute;top:0;left:0;width:370px;height:370px;}
#main .weekly_best .best_list .view_03 .img span.bg_circle {position:absolute;top:0;left:0;width:370px;height:370px;background:url(../images/common/bg_circle_view_opacity50.png) no-repeat  0 0;z-index:100;}
#main .weekly_best .best_list .view_03 ul {position:absolute;top:0;left:0;;z-index:7;}
#main .weekly_best .best_list .view_03 li {float:left;width:370px;height:262px;margin:108px 0 0;}
#main .weekly_best .best_list .view_03 li a {display:block;font-size:60px;font-weight:700;color:#ffba00;text-align:center;}
#main .weekly_best .best_list .view_03 li a .txt {display:block;width:300px;margintop:50px auto 0 auto;color:#fff;font-size:24px;font-weight:400;line-height:26px;height:55px;overflow:hidden;}/* 15.12.14 height,overflow 추가 */

/* 한샘 pick */
#main .hanss_pick {clear:both;width:1170px;margin:0 auto;}
#main .hanss_pick .hanss_pick_list {clear:both;display:inline-block;width:100%;margin-top:8px;}
#main .hanss_pick .hanss_pick_list .relative {position:relative;}
#main .hanss_pick .hanss_pick_list .view {position:absolute;top:0;left:0;/*background:url(../images/main/bg_hanss_view.png) 0 100% repeat-x;width:585px;height:585px;*/}

#main .hanss_pick .hanss_pick_list .view dl {position:relative;}
#main .hanss_pick .hanss_pick_list .view dl dt {border:1px solid #e5e5e5;padding:21px 12px;}
#main .hanss_pick .hanss_pick_list .view dl dt img {width:550px;height:550px;}
#main .hanss_pick .hanss_pick_list .view dl dd {position:absolute;bottom:22px;left:13px;background:url(../images/main/bg_hanss_view.png) 0 100% repeat-x;width:550px;height:550px;padding:510px 16px 0 29px;font-size:20px;font-weight:300;color:#fff;}
#main .hanss_pick .hanss_pick_list .view dl dd p {font-size:20px;font-weight:300;color:#fff;position:absolute;bottom:0;padding:0 10px 17px 0;}
#main .hanss_pick .hanss_pick_list .view dl dd span {display:block;font-size:20px;color:#fff;margin-top:8px;}
#main .hanss_pick .hanss_pick_list .view dl dd span .base_cost {display:inline-block;font-size:16px;color:#fff;font-weight:200;text-decoration:line-through;margin-right:5px;margin-top:0;}
#main .hanss_pick .hanss_pick_list .list {float:right;width:594px;height:594px;}
#main .hanss_pick .hanss_pick_list .list li {float:left;width:198px;height:198px;}
#main .hanss_pick .hanss_pick_list .list li a {display:block;position:relative;}
#main .hanss_pick .hanss_pick_list .list li a img {width:198px;height:198px;}
#main .hanss_pick .hanss_pick_list .list li a:hover span{position:absolute;top:0;left:0;width:198px;height:198px;border:5px solid red;}
#main .hanss_pick .hanss_pick_list .list li.active span{position:absolute;top:0;left:0;width:198px;height:198px;border:5px solid red;}
/* 기획전 */
#main .exhib {clear:both;width:1170px;margin:0 auto;}
#main .exhib .exhib_list{display:inline-block;overflow:hidden;width:1170px;height:393px;position:relative;border:2px solid #333333;}
#main .exhib .exhib_list .left {float:left;border-right:1px solid #c5c5c5;}
#main .exhib .exhib_list .left li:first-child {border-bottom:1px solid #c5c5c5;}
#main .exhib .exhib_list .middle {float:left;border-bottom:1px solid #c5c5c5;}
#main .exhib .exhib_list .right {float:left;border-left:1px solid #c5c5c5;}
#main .exhib .exhib_list .right li:first-child {border-bottom:1px solid #c5c5c5;}

#main .exhib .exhib_list .controll .btn_left {position:absolute;top:173px;left:-2px;}
#main .exhib .exhib_list .controll .btn_right {position:absolute;top:173px;right:-2px;}
#main .exhib .exhib_list .controll .btn_left a.disabled,
#main .exhib .exhib_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

/* 브랜드 체험관 */
#main .bland_exper {position:relative;overflow:hidden;clear:both;width:1170px;margin:0 auto;}
#main .bland_exper .bland_list{display:inline-block;}
#main .bland_exper .bland_list li {float:left;margin-left:30px;width:270px;height:270px;}
#main .bland_exper .bland_list li:first-child {margin-left:0;}

#main .bland_exper .controll .btn_left {position:absolute;top:200px;left:0;}
#main .bland_exper .controll .btn_right {position:absolute;top:200px;right:0;}
#main .bland_exper .controll .btn_left a.disabled, 
#main .bland_exper .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

/* 브랜드 shop */
#main .bland_shop {clear:both;width:1170px;margin:0 auto;}
#main .bland_shop .shop_list {display:inline-block;position:relative;}
#main .bland_shop .shop_list .list_area {width:1170px;height:120px;overflow:hidden;border:2px solid #333333;}
#main .bland_shop .shop_list .list {width:1124px;overflow:hidden;margin-left:21px;}
#main .bland_shop .shop_list .list li {display:table-cell;height:115px;vertical-align:middle;}
#main .bland_shop .shop_list .list li a {display:block;margin:0 28px;}

#main .bland_shop .shop_list .controll .btn_left {position:absolute;top:39px;left:0;}
#main .bland_shop .shop_list .controll .btn_right {position:absolute;top:39px;right:0;}

#main .bland_shop .shop_list .controll .btn_left a.disabled, 
#main .bland_shop .shop_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

#main .bland_shop .shop_list .brand_shop_view {position:absolute;top:0;display:none;width:280px;}
#main .bland_shop .shop_list .brand_shop_view dl {position:absolute;top:88px;width:280px;height:88px;border:2px solid #333333;background-color:#fff;z-index:200;
	-webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
	}
#main .bland_shop .shop_list .brand_shop_view dt,
#main .bland_shop .shop_list .brand_shop_view dd {display:table-cell;height:84px;}
#main .bland_shop .shop_list .brand_shop_view dt {padding:0 20px 0 9px;vertical-align:middle;}
#main .bland_shop .shop_list .brand_shop_view dd {padding-top:15px;vertical-align:top;}
#main .bland_shop .shop_list .brand_shop_view dd span {display:block;}

/* girdle type banner */
#main .girdle_banner {clear:both;position:relative;margin-top:48px;}
#main .girdle_banner ul {clear:both;position:relative;height:205px;}
#main .girdle_banner li {position:absolute;width:100%;margin-top:55px;}
#main .girdle_banner li .banner_img {width:1170px;margin:-55px auto 0;}
#main .girdle_banner .controller {position:relative;width:1170px;margin:0 auto;}

#main .girdle_banner .controller .btn_left {position:absolute;left:13px;bottom:58px;}
#main .girdle_banner .controller .btn_right {position:absolute;right:13px;bottom:58px;}

#main .girdle_banner .controller .btn_left a.disabled, 
#main .girdle_banner .controller .btn_right a.disabled{opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";} 
/* hanssem service*/
#main .hanssem_service {clear:both;width:1170px;margin:50px auto 0;}
#main .hanssem_service .service_tit {margin-bottom:30px;}
#main .hanssem_service .service_tit dt {color:#333;font-size:40px;font-weight:100;line-height:60px;text-align:center;}
#main .hanssem_service .service_tit dd {color:#888;font-size:16px;font-weight:200;line-height:30px;text-align:center;}
#main .hanssem_service .home_care {clear:both;}
#main .hanssem_service .home_care .left {float:left;}
#main .hanssem_service .home_care .right {float:left;}
#main .hanssem_service .home_care .right p.tit_txt {font-size:24px;margin-bottom:17px;color:#333;}
#main .hanssem_service .home_care .list li {font-size:18px;color:#3d3d3d;line-height:36px;letter-spacing:0.8px;}
#main .hanssem_service .home_care.service1 {padding:40px 0 0 40px;background:url(../images/main/bg_pic_service_01.jpg) 100% 0 no-repeat;height:253px;}
#main .hanssem_service .home_care.service1 .left {width:350px;}
#main .hanssem_service .home_care.service1 .left ul li span {padding-left:23px;background:url(../images/main/icon_check.gif) no-repeat 1px 9px;font-size:20px;font-weight:400;color:#333;line-height:32px;}
#main .hanssem_service .home_care.service1 .left ul li p {font-size:24px;font-weight:500;color:#333;line-height:32px;}
#main .hanssem_service .home_care.service1 .left ul li:first-child {margin-bottom:25px;}
#main .hanssem_service .home_care.service2 {padding:40px 0 0 40px;background:url(../images/main/bg_pic_service_02.jpg) 100% 0 no-repeat;height:253px;}
#main .hanssem_service .home_care.service2 .left {width:350px;}
#main .hanssem_service .home_care.service2 .left span {display:block;font-size:20px;color:#333;}
#main .hanssem_service .home_care.service2 .left p {margin-top:7px;}
#main .hanssem_service .home_care.service2 .left p, #main .hanssem_service .home_care.service2 .left p span {font-size:32px;color:#333;font-weight:300;line-height:38px;}
#main .hanssem_service .home_care.service2 .left div {margin-top:17px;font-size:16px;line-height:21px;font-weight:300;}
#main .hanssem_service .home_care.service3 {padding:50px 0 0 410px;background:url(../images/main/bg_pic_service_03.jpg) 100% 0 no-repeat;height:253px;}
#main .hanssem_service .home_care.service3 ul {clear:both;}
#main .hanssem_service .home_care.service3 ul li {float:left;width:265px;height:160px;border-left:1px solid #eaeaea;padding-left:20px;}
#main .hanssem_service .home_care.service3 ul li dl dt {margin-bottom:18px;font-size:24px;line-height:30px;color:#333;font-weight:400;}
#main .hanssem_service .home_care.service3 ul li dl dt span {font-size:24px;line-height:30px;font-weight:400;}
#main .hanssem_service .home_care.service3 ul li dl dd {margin-bottom:15px;padding-left:10px;font-size:16px;color:#3d3d3d;line-height:22px;background:url(../images/main/blt_dot.gif) no-repeat 0 7px;}
#main .hanssem_service .home_care.service3 ul li:first-child {padding-left:0;border-left:none;width:237px}
#main .hanssem_service .home_care.service3 ul li.last {width:237px}
#main .hanssem_service .home_care.service3 ul:after {content:"";display:block;clear:both;}
#main .hanssem_service .home_care:after {content:"";display:block;clear:both;}
#main .hanssem_service .tab_cont .video-area {position:absolute;top:47px;left:459px;}
#main .hanssem_service .home_care .list li span {margin-right:5px;background:url(../images/main/bg_homcare-num.png) 0 2px no-repeat;padding:3px 8px 3px 5px;font-size:14px;color:#fff;line-height:36px;}
#main .hanssem_service .tab_cont {position:relative;}
#main .hanssem_service .tab_area .tab_tit li {width:390px;}
#main .hanssem_service .tab_area .tab_tit li:first-child {width:391px;}

/* bbs list*/
#main .bbs_list {clear:both;width:1170px;height:178px;margin:0 auto;}
/* #main .bbs_list:after {display:block;content:'';clear:both;margin-top:20px;} */
#main .bbs_list > ul {float:left;width:370px;height:178px;margin-left:30px;margin-top:50px;}
#main .bbs_list > ul:first-child {margin-left:0;}
#main .bbs_list > ul  li {clear:both;padding:0 0 8px 0;}
#main .bbs_list > ul li a {background:url(../images/main/blt_main_bbs.png) 8px 9px no-repeat;padding-left:17px;font-size:14px;font-weight:200;color:#888;}

#main .bbs_list .cust .cust_info {display:table-cell;width:215px;vertical-align:middle;padding-top:45px;}
#main .bbs_list .cust .cust_info .num {color:#ff2e2e;font-size:40px;font-weight:100;}
#main .bbs_list .cust .cust_info .mail {margin:15px 4px;}
#main .bbs_list .cust .cust_info .mail a {font-family:Tahoma;background:url(../images/main/icon_mail.gif) 0 4px no-repeat;padding-left:14px;color:#666;font-size:11px;}
#main .bbs_list .cust .list {display:table-cell;width:155px;}
#main .bbs_list .cust .list li {padding:0 0 4px 8px;}
#main .bbs_list .qna .list {float:left;width:50%;}

/* mall info*/
#main .mall_info {clear:both;width:1170px;height:129px;margin:0 auto;}
#main .mall_info > div {float:left;width:370px;margin-left:30px;margin-top:50px;}
#main .mall_info > div:first-child {margin-left:0;}
#main .mall_info > div dl {margin:19px 13px;}
#main .mall_info > div dt,
#main .mall_info > div dd {display:table-cell;vertical-align:middle;}
#main .mall_info > div dd {font-size:20px;font-weight:200;padding-left:18px;}
#main .mall_info > div dd span {display:block;margin-top:8px;}
#main .mall_info > div dd span a {color:#666;font-weight:200;}
#main .mall_info > div .mobile_mall dd {font-size:14px}

/* category info */
#main .category_info {clear:both;width:1170px;margin:0 auto;}
#main .category_info .boder_line {display:inline-block;width:100%;margin-top:50px;border:2px solid #333333;}
#main .category_info .boder_line > li:first-child {border-bottom:1px solid #c5c5c5;}
#main .category_info .boder_line dt,
#main .category_info .boder_line dd {display:table-cell;height:65px;vertical-align:middle;}
#main .category_info .boder_line dt {font-size:20px;color:#333;padding:0 41px 0 28px;}
#main .category_info .boder_line dd a {font-size:14px;color:#333;}
#main .category_info .boder_line dd li {display:table-cell;background:url(../images/main/category_bar.jpg) 0 50% no-repeat;padding:0 12px 0 12px;}
#main .category_info .boder_line dd li:first-child {background:none;padding:0 12px 0 0;}

/* mai1-01 */
.main1-1.tit {float:none;height:36px}
#main .main_vbanner {width:1170px;height:500px;margin:0 auto;padding-left:170px;background: url(../images/main/main_visual_05.jpg) 50% 0 repeat;margin-bottom:38px;overflow:hidden}
#main .main_vbanner > li {width:500px;height:500px;float:left;position:relative}
#container_main #main.main1-1 {width:100%;margin:0 auto}
.main1-1.visual_banner {width:500px;height:500px;}
.main1-1.visual_banner .vb_list {width:100%;height:500px;overflow:hidden}
.main1-1.visual_banner .vb_list li {width:500px;height:500px;float:left;position:absolute;left:0px;top:0px;}
.main1-1.visual_banner .vb_list li a {display:block;width:100%;height:100%;text-indent:-9999px}
.main1-1.visual_banner .vb_count_list {overflow:hidden;height:15px;position:absolute;top:455px;left:0;text-align:center;width:100%;}
.main1-1.visual_banner .vb_count_list li {width:15px;height:15px; display:inline-block; background:url(../images/main/vb_pager.png) no-repeat 0 0;margin: 0 4px;}
.main1-1.visual_banner .vb_count_list li a {display:block;width:100%;height:100%;text-indent:-9999px}
.main1-1.visual_banner .vb_count_list li.active {width:62px;background:url(../images/main/main_icon_banner_com_on.png) no-repeat 0 0}
.main1-1.mbanner1 {border:2px solid #333;width:1170px;height:584px;padding:20px;margin:0 auto;position:relative;margin-bottom:50px;overflow:hidden}
.main1-1.mbanner1 .list_area {width:100%;height:100%;overflow:hidden}
.main1-1.mbanner1 .list_area ul {height:540px;width:1170px;overflow:hidden;float:left}
.main1-1.mbanner1 .list_area ul li {width:270px;height:270px;float:left}
.main1-1.mbanner1 .list_area ul li.long {width:316px;height:540px}
.main1-1.mbanner1 .controll {width:23px;height:43px;position:absolute;left:0px;top:259px}
.main1-1.mbanner1 .controll .btn_right {position:absolute;left:1145px}
.main1-1.check_list {height:484px;width:100%;overflow:hidden;position:relative;background:none}
.main1-1.check_list .relative {width:100%;height:100%;}
.main1-1.check_list .tit {position:absolute;top:0px;left:50%;width:276px;height:46px;background:url(../images/main/tit_check_list.png) no-repeat 0 0;text-indent:-9999px;z-index:50;margin-left:-575px;float:none;display:none}
.main1-1.check_list .view {width:100%;height:100%;position:absolute;top:0;left:0}
.main1-1.check_list .view a {display:block;width:1170px;height:484px;margin:0 auto;position:relative;}
.main1-1.check_list .cl_list {width:414px;height:414px; position:absolute;top:41px;left:50%;overflow:hidden;margin-left:151px}
.main1-1.check_list .cl_list li {width:128px;height:128px;float:left;margin:0 5px 10px;position:relative;background:#fff}
.main1-1.check_list .cl_list li a {display:block;width:100%;height:100%}
.main1-1.check_list .cl_list li a img {width:128px;}
.main1-1.check_list .cl_list li a span {display:none}
.main1-1.check_list .cl_list li.active a span,
.main1-1.check_list .cl_list li:hover a span
{display:table-cell;width:128px;height:128px;box-sizing:border-box;border:4px solid #e60013;letter-spacing:-.75px;
	position:relative;top:-128px;left:0px;background:url(../images/main/dim80.png) repeat 0 0;color:#fff;font-size:16px;text-align:center;vertical-align:middle}
#main .hanssem_pick2 {width:1170px;margin:0 auto;}
#main .hanssem_pick2 .hp2_con {width:100%;height:440px;border:1px solid #e5e5e5;box-sizing:border-box;padding:30px 80px 0;position:relative}
#main .hanssem_pick2 .hp2_con .banner_list {width:100%;height:360px;overflow:hidden}
#main .hanssem_pick2 .hp2_con .banner_list ul {width:1008px;height:360px;}
#main .hanssem_pick2 .hp2_con .banner_list ul li {width:1008px;height:360px;float:left}
#main .hanssem_pick2 .hp2_con .side {padding-top:10px;float:left;width:320px;}
#main .hanssem_pick2 .hp2_con .side dl {overflow:hidden;width:100%;}
#main .hanssem_pick2 .hp2_con .side dt {width:128px;height:128px;float:left;}
#main .hanssem_pick2 .hp2_con .side dd {display:table-cell;height:128px;width:192px;vertical-align:middle;padding:0 10px}
#main .hanssem_pick2 .hp2_con .side dl:first-child {margin-bottom:50px}
#main .hanssem_pick2 .hp2_con .side dd span , #main .hanssem_pick2 .hp2_con .center dd span {font-size:14px;color:#666;line-height:18px}
#main .hanssem_pick2 .hp2_con .side dd .price , #main .hanssem_pick2 .hp2_con .center dd .price {color:#333;margin-top:5px}
#main .hanssem_pick2 .hp2_con .side dd .price strong , #main .hanssem_pick2 .hp2_con .center dd .price strong {display:inline-block;font-size:22px;margin-top:5px}
#main .hanssem_pick2 .hp2_con .side dd .price .base_cost {display:block;font-size:16px;color:#333;font-weight:500;text-decoration:line-through;margin-top:5px;}
#main .hanssem_pick2 .hp2_con .center dd .price .base_cost {display:inline-block;font-size:16px;color:#333;font-weight:500;text-decoration:line-through;margin-right:5px;margin-top:5px;}
#main .hanssem_pick2 .hp2_con .side .right dt {float:right}
#main .hanssem_pick2 .hp2_con .center {width:268px;margin: 0 50px;float:left;height:100%;}
#main .hanssem_pick2 .hp2_con .center dt {width:268px;height:268px;overflow:hidden}
#main .hanssem_pick2 .hp2_con .center dt img {width:268px}
#main .hanssem_pick2 .hp2_con .center dd {display:block;height:90px;width:268px;padding-top:10px}
#main .hanssem_pick2 .controll {overflow:hidden;height:10px;text-align:center;width:100%;margin-top:19px}
#main .hanssem_pick2 .controll .btn_left {width:16px;height:31px;position:absolute;top:195px;left:14px}
#main .hanssem_pick2 .controll .btn_right {width:16px;height:31px;position:absolute;top:195px;right:14px}
#main .hanssem_pick2 .controll li {width:10px;height:10px; display:inline-block; background:url(../images/main/vb_page10.png) no-repeat 0 0;margin: 0 2.5px}
#main .hanssem_pick2 .controll li a {display:block;width:100%;height:100%;text-indent:-9999px}
#main .hanssem_pick2 .controll li.active {width:41px;background:url(../images/main/vb_page_active10.png) no-repeat 0 0}
.main1-1.exhib2 {width:1170px;margin:0 auto}

.main1-1.exhib2 .exhib_list {border:2px solid #333;position:relative;overflow:hidden}
.main1-1.exhib2 .exhib_list .list_con ul {width:1170px;height:460px;padding:10px 33px;float:left} 
.main1-1.exhib2 .exhib_list .list_con ul li {width:200px;height:200px;margin:10px;float:left;position:relative;border-radius:10px}
.main1-1.exhib2 .exhib_list .list_con ul li p {width:100%;height:100%;background:url(../images/main/bg_text_L.png) repeat-x 0 100%;position:absolute;top:0;left:0;box-sizing:border-box;font-size:14px;color:#fff;padding:15px 17px;line-height:18px;padding-top:149px;border-radius:10px}
.main1-1.exhib2 .exhib_list .list_con ul li span {display:block;width:100%;height:100%;background:url() no-repeat 0 0;position:absolute;top:0;left:0}
.main1-1.exhib2 .exhib_list .controll {width:23px;height:43px;position:absolute;left:0px;top:209px}
.main1-1.exhib2 .exhib_list .controll .btn_right {position:absolute;top:0px;left:1145px}
/* mai1-02 */
/* visual_banner_st03 */
#main .visual_banner_st03 {clear:both;width:1170px;height:500px;margin:0 auto;}
#main .visual_banner_st03 .left {float:left;width:170px;height:500px;background:url(../images/main/bg_left_st03.jpg) 0 0 no-repeat;}
#main .visual_banner_st03 .center {float:left;position:relative;width:500px;height:500px;overflow:hidden;} 
#main .visual_banner_st03 .center .banner_list li {width:500px;height:500px}
#main .visual_banner_st03 .center .count_list {position:absolute;bottom:30px;left:50%;margin-left:-78.5px}
#main .visual_banner_st03 .center .count_list li {float:left;margin-left:4px;}
#main .visual_banner_st03 .center .count_list li:first-child {margin-left:0;}
#main .visual_banner_st03 .center .count_list li a {display:block;background:url(../images/main/main_icon_banner_com.png) 50% 0 no-repeat;width:15px;height:15px;font-size:0;}
#main .visual_banner_st03 .center .count_list .active a{background:url(../images/main/main_icon_banner_com_on.png) 50% 0 no-repeat;width:62px;height:15px;}
#main .visual_banner_st03 .right {float:left;width:500px;height:500px;overflow:hidden;} 
#main .visual_banner_st03 .right li {float:left;}

/* 한샘 pick st02 */
#main .hanss_pick_st02 {width:1170px;margin:0 auto;}
#main .hanss_pick_st02 .hanss_pick_list {border:1px solid #e5e5e5;padding:20px 49px;overflow:hidden;width:1170px;position:relative;}
#main .hanss_pick_st02 .hanss_pick_list .hanss_pick_inner {width:1070px;overflow:hidden;}
#main .hanss_pick_st02 .hanss_pick_list .list_items {clear:both;width:10000px;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item {float:left;overflow:hidden;width:1120px;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item {clear:both;margin-right:49px;margin-top:15px;height:280px;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li {float:left;margin-left:20px;width:198px;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li .item_img img {width:198px;height:198px;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li .item_tit {font-size:14px;height:39px;margin-top:10px;overflow:hidden;}/* 15.12.14 height 수정, overflow 추가 */
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li .item_price {font-size:16px;color:#333;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li .item_price span {font-size:22px;color:#333;font-weight:bold;vertical-align:-1px;letter-spacing:-0.1em;}/* 15.12.14 letter-spacing 추가 */
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li .item_price .base_cost {display:inline-block;font-size:14px;color:#333;font-weight:500;text-decoration:line-through;margin-right:5px;vertical-align:1px;}/* 15.12.14 font-size 수정 */



#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item li:first-child {margin-left:0;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item:after {content:"";display:block;clear:both;}
#main .hanss_pick_st02 .hanss_pick_list .list_items .list_item ul.pick_item:first-child {margin-top:0;}
#main .hanss_pick_st02 .hanss_pick_list .list_items:after {content:"";display:block;clear:both;}
#main .hanss_pick_st02 .hanss_pick_list .controll .btn_left {position:absolute;top:276px;left:-2px;}
#main .hanss_pick_st02 .hanss_pick_list .controll .btn_right {position:absolute;top:276px;right:-2px;}
#main .hanss_pick_st02 .hanss_pick_list .controll .btn_left a.disabled,
#main .hanss_pick_st02 .hanss_pick_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

/* 이벤트배너 */
#main .event_ban {clear:both;width:1170px;margin:16px auto 0 auto;}
#main .event_ban img {letter-spacing:0;}
#main .event_ban.type2 .event_ban_list {display:inline-block;overflow:hidden;width:1170px;height:150px;position:relative;}
#main .event_ban.type2 .event_ban_list .list_items {clear:both;width:10000px;}
#main .event_ban.type2 .event_ban_list .list_items .list_item {float:left;overflow:hidden;}
#main .event_ban.type2 .event_ban_list .list_items .list_item img {display:block;width:585px;height:150px;float:left;}
#main .event_ban.type2 .event_ban_list .list_items:after {content:"";display:block;clear:both;}
#main .event_ban.type2 .event_ban_list .controll .btn_left {position:absolute;top:54px;left:-2px;}
#main .event_ban.type2 .event_ban_list .controll .btn_right {position:absolute;top:54px;right:-2px;}
#main .event_ban.type2 .event_ban_list .controll .btn_left a.disabled,
#main .event_ban.type2 .event_ban_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

#main .event_ban.type3 .event_ban_list {display:inline-block;overflow:hidden;width:1170px;height:150px;position:relative;}
#main .event_ban.type3 .event_ban_list .list_items {clear:both;width:10000px;}
#main .event_ban.type3 .event_ban_list .list_items .list_item {float:left;overflow:hidden;}
#main .event_ban.type3 .event_ban_list .list_items .list_item img {display:block;width:390px;height:150px;float:left;}
#main .event_ban.type3 .event_ban_list .list_items:after {content:"";display:block;clear:both;}
#main .event_ban.type3 .event_ban_list .controll .btn_left {position:absolute;top:54px;left:-2px;}
#main .event_ban.type3 .event_ban_list .controll .btn_right {position:absolute;top:54px;right:-2px;}
#main .event_ban.type3 .event_ban_list .controll .btn_left a.disabled,
#main .event_ban.type3 .event_ban_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

#main .event_ban.type4 .event_ban_list {display:inline-block;overflow:hidden;width:1170px;height:150px;position:relative;}
#main .event_ban.type4 .event_ban_list .list_items {clear:both;width:10000px;}
#main .event_ban.type4 .event_ban_list .list_items .list_item {float:left;overflow:hidden;}
#main .event_ban.type4 .event_ban_list .list_items .list_item img {display:block;width:293px;height:150px;float:left;}
#main .event_ban.type4 .event_ban_list .list_items:after {content:"";display:block;clear:both;}
#main .event_ban.type4 .event_ban_list .controll .btn_left {position:absolute;top:54px;left:-2px;}
#main .event_ban.type4 .event_ban_list .controll .btn_right {position:absolute;top:54px;right:-2px;}
#main .event_ban.type4 .event_ban_list .controll .btn_left a.disabled,
#main .event_ban.type4 .event_ban_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

/* 15.12.14 추가 */
#main .best_pick .prodect_list dl dd p.pr_tit {font-size:14px;color:#fff;height:22px;overflow:hidden;}
#main .best_pick .prodect_list dl.st_large dd p.pr_tit {font-size:20px;}
#main .hanss_pick .hanss_pick_list .view dl dd span.pr_tit {height:21px;margin-top:0;overflow:hidden;}
#main .bland_exper .bland_view {overflow:hidden;height:270px;}
#main .hanssem_pick2 .hp2_con .side dd span.title {height:38px;display:block;overflow:hidden;}
.main1-1.exhib2 .exhib_list .list_con ul li p span {height:39px;font-size:14px;display:block;overflow:hidden;position:relative;color:#fff;}

/* 이벤트 배너 */
.event_bann_wrap {width:1170px;margin:50px auto 0 auto;}
/* 2~4단 */
.event_bann.type2 .event_ban_list {display:inline-block;overflow:hidden;width:1170px;height:154px;position:relative;margin-top:16px;}
.event_bann.type2 .event_ban_list .list_items {clear:both;width:10000px;}
.event_bann.type2 .event_ban_list .list_items .list_item {float:left;overflow:hidden;}
.event_bann.type2 .event_ban_list .list_items .list_item img {float:left}
.event_bann.type2 .event_ban_list .list_items:after {content:"";display:block;clear:both;}
.event_bann.type2 .event_ban_list .controll .btn_left {position:absolute;top:41px;left:-2px;}
.event_bann.type2 .event_ban_list .controll .btn_right {position:absolute;top:41px;right:1px;}
.event_bann.type2 .event_ban_list .controll .btn_left a.disabled,
.event_bann.type2 .event_ban_list .controll .btn_right a.disabled {opacity: 0.4;cursor: default; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

.bgimg_no {background-image:none !important;}
