@charset 'utf-8';

.box_gray {background:#f4f4f4;border:1px solid #c6c6c6;}
.box_white {background:#fff;border:2px solid #333;}
.box_white_bg {background:#fff;border:2px solid #333;-moz-box-shadow:0px 10px 18px #ddd;-webkit-box-shadow:0px 10px 18px #ddd;box-shadow:0px 10px 18px #ddd;}
.mb14 {margin-bottom:14px;}



/* reg1  */
.member_area {position:relative;width:970px;margin:0 auto;padding-top:20px;text-align:center;}
.member_area .intro_message {margin-bottom:30px;font-size:32px;line-height:46px;}
.member_area .intro_message span {display:block;font-size:40px;line-height:46px;color:#333;}
.member_area .intro_message .point_red {display:inline-block;color:#ed1b2f;font-weight:500;}
.member_area .intro_submsg {margin-bottom:42px;font-size:16px;font-weight:350;}
.member_area .mem_divide {margin-bottom:100px;border:2px solid #333;}
.member_area .mem_divide > ul:after {content:" "; display:block; clear:both;}
.member_area .mem_divide > ul > li {position:relative;float:left;width:50%;padding:39px 0 30px 0;background:url(../images/member/bg_mem_02.jpg) no-repeat 50% 144px;border-left:1px solid #c6c6c6;}
.member_area .mem_divide > ul > li:first-child {border-left:none;background:url(../images/member/bg_mem_01.jpg) no-repeat 50% 144px;}
.member_area .mem_divide > ul > li > h3 {margin-bottom:13px;font-size:32px;line-height:40px;font-weight:500;}
.member_area .mem_divide > ul > li .condition {height:42px;padding-bottom:125px;color:#666;font-size:16px;font-weight:350;}

/* reg2 */
#member .tab_tit > li {width:585px;}
#member .tab_tit > li:first-child {width:586px;}
/*#member .tab_tit > li {width:50%;}*/
.tab_member_cont {padding-top:26px;}
.tab_member_cont > div > h2.title {margin-bottom:30px;color:#333;font-size:40px;line-height:1;letter-spacing:-1px;text-align:center;}
.tab_member_cont > div > h2.title > span {font-size:40px;line-height:1;letter-spacing:-1px;font-weight:500;font-style:normal;}
.tab_member_cont .guide_membership {margin-bottom:26px;color:#333;font-size:16px;line-height:1.4;text-align:center;}
.tab_member_cont .guide_membership > span {color:#333;font-size:16px;font-weight:500;}
.tab_member_cont fieldset {position:relative;clear:both;}
.tab_member_cont h3.title {float:left;margin:0 20px 20px 0;color:#333;font-size:20px;line-height:1;font-weight:500;}
.tab_member_cont .guide_txt {float:left;margin-top:6px;color:#666;font-size:14px;line-height:1;font-weight:400;}
.tab_member_cont .guide_txt_02 {/*margin-top:8px;*/color:#666;font-size:13px;line-height:35px;font-weight:400;letter-spacing:-1px;}
.tab_member_cont .error_msg {margin-top:8px;color:#ed1b2f;font-size:12px;line-height:1;font-weight:400;letter-spacing:-1px;}
.tab_member_cont .end_msg {margin-top:8px;color:#41a5eb;font-size:12px;line-height:1;font-weight:400;letter-spacing:-1px;}
/* table_style */
.table_area {clear:both;}
.tbl_style_01 {width:100%;border-top:2px solid #333;border-bottom:1px solid #333;}
.tbl_style_01 tbody > tr {border-top:1px solid #e5e5e5;}
.tbl_style_01 tbody > tr:first-child {border-top:0px solid #fff;}
.tbl_style_01 tbody th {padding:22px 10px 12px 0;color:#333;font-size:14px;line-height;1;font-weight:500;text-align:left;}
.tbl_style_01 tbody th label {color:#333;font-size:14px;line-height;1;font-weight:500;text-align:left;}
.tbl_style_01 tbody td {padding:12px 10px 12px 10px;}

.tbl_style_01 tbody td input {margin-right:10px;}
.tbl_style_01 tbody td input[type="text"], .tbl_style_01 tbody td input[type="password"] {width:161px;}
.tbl_style_01 tbody td div.cell {overflow:hidden;}
.tbl_style_01 tbody td div.cell:after {content:" "; display:block; clear:both;}
.tbl_style_01 tbody td div.cell input {margin-right:10px;}
.tbl_style_01 tbody td div.cell input, .tbl_style_01 tbody td div.cell .guide_txt_02 {float:left;}
.tbl_style_01 .need {padding-left:16px;background:url(../images/member/icon_check.png) no-repeat 0 28px;}
.tbl_style_01 tbody td .guide_txt_02 {line-height:35px;}

.hp_case .error_msg {line-height:2;}
.hp_case .error_msg button {margin-left:6px;}
.hp_case_02 {margin-top:10px;padding:20px;border:1px solid #c6c6c6;background:#f4f4f4;}
.hp_case_02 p {color:#333;font-size:14px;line-height:1;font-weight:400;}
.hp_case_02 p > span.point_txt {color:#ed1b2f;font-size:14px;line-height:1;font-weight:400;}
.hp_case_02 p .datetime {color:#ed1b2f;font-size:14px;line-height:1;font-weight:500;}
.hp_case_02 input[type="text"], .hp_case_02 button {margin-right:4px;}
.hp_case_02 p.space {margin-bottom:10px;}
.hp_case_02 p.space_02 {margin:10px 0;}
.hp_case_03 .end_msg > button {margin-left:6px;}
.hp_case_04 .error_msg > button {margin-left:6px;}

.tab_member_cont ul.term {padding:18px 10px;}
.tab_member_cont ul.term:after {content:" "; display:block; clear:both;}
.tab_member_cont ul.term li {float:left;width:26%;padding-left:10px;color:#333;font-size:14px;font-weight:500;background:url(../images/member/icon_dot.gif) no-repeat 0 10px;position:relative;}
.tab_member_cont ul.term li > button {margin-left:10px;}

.agree_txt {margin-bottom:24px;color:#333;font-size:16px;font-weight:500;}
.agree_txt label {font-size:16px;font-weight:500;}
.agree_txt span {color:#ed1b2f;font-size:16px;font-weight:500;}
.service_agree_area {padding:10px 20px;border:1px solid #c6c6c6;background:#f4f4f4;}
.service_agree_area > ul > li {padding:10px 0;border-top:1px solid #e5e5e5;font-size:14px;line-height:1;}
.service_agree_area > ul > li:first-child {border-top:0px;}
.service_agree_area > ul > li:last-child {border-top:0px;padding-top:0px}
.service_agree_area > ul > li:after {content:" "; display:block; clear:both;}
.service_agree_area > ul > li > p {clear:both;font-size:13px;padding:10px 0;}
.service_agree_area h4 {margin-right:20px;color:#333;}
.service_agree_area h4, .service_agree_area div.tot_agree {float:left;font-size:14px;line-height:1;}
.service_agree_area > ul > li > h4.title > span {color:#41a5eb;font-size:14px;line-height:1;}
.service_agree_area > ul > li > h4.title > .txt_red {color:#ed1b2f}
.service_agree_area label {font-size:14px;}
.service_agree_area button {margin-top:-2px;}
.service_agree_area .tot_agree span {margin:0 10px;}
.service_agree_area .cell_area {width:100%;border:1px solid #c6c6c6;background:#ffffff;padding:20px 30px}
.service_agree_area .cell_area dt {font-size:14px;float:left;padding-top:10px;color:#333333;margin-right:20px}
.service_agree_area .cell_area dd {padding-left:81px;}
.service_agree_area .cell_area dd .hp_case_02 {width:627px}
.service_agree_area .cell_area dd .hp_case_03 button {margin-top:0}
.service_agree_area .cell_area dd .hp_case_04 .error_msg {padding-top:0}
.service_agree_area .cell_area dd input {margin-right:10px}
.service_agree_area .cell_area .error_msg {padding-top:5px}
.service_agree_area .cell_area .error_msg button {margin-left:10px}
.total_membership_hp {padding:30px;background:#fff;border:1px solid #c6c6c6;} 
.total_membership_hp > li:after {content:" "; display:block; clear:both;}
.total_membership_hp > li:first-child {padding-bottom:10px;}
.total_membership_hp > li > h5, .total_membership_hp li > input, .total_membership_hp li > p  {float:left;margin-right:10px;vertical-align:middle;}
.total_membership_hp > li:first-child > h5, .total_membership_hp > li:first-child > p {margin-top:6px;}
.total_membership_hp > li > h5 {margin-right:38px;color:#333;font-size:14px;}
.total_membership_hp > li > p {font-size:13px;}
.total_membership_hp > li > .err_msg {text-indent:100px;color:#ed1b2f;font-size:13px;}


/* reg2_1 : 통합멤버십 회원가입 완료 */
/*#member .tab_tit > li {width:50%;}*/
.tit_bg {margin-top:20px;padding-top:35px;background:url(../images/member/bg_thank_txt.gif) no-repeat 50% 0;}
.member_end_login {width:766px;margin:0 auto 80px;padding:30px 168px;border:2px solid #333;}
.member_end_login h3.title {width:100%;color:#333;font-size:32px;font-weight:500;text-align:center;}
.member_end_login > dl.mem_login_form:after {content:" "; display:block; clear:both;}
.member_end_login > dl.mem_login_form > dt {float:left;width:114px;margin-top:10px;color:#333;font-size:16px;font-weight:500;}
.member_end_login > dl.mem_login_form > dd {float:left;width:312px;margin-bottom:10px;}
.member_end_login > dl.mem_login_form > dd > input[type="text"], .member_end_login > dl.mem_login_form > dd > input[type="password"] {width:300px;}
.member_end_login > dl.mem_login_form > dd .sav_userid,
.member_end_login > dl.mem_login_form > dd .checkbox_area {padding:6px 0;} 
.member_end_login > dl.mem_login_form > dd .sav_userid label {color:#333;font-size:13px;}
/* reg2_2 : 개인 일반회원 가입완료 안내 */
/*#member .tab_tit > li {width:50%;}*/
.guide_membership_02 {width:766px;margin:0 auto;padding:20px 0;text-align:center;border-top:1px solid #c6c6c6;}
.guide_membership_02 > p {margin-bottom:6px;}
.guide_membership_02 > p > span {font-weight:500 !important;}


/*reg3 : 법인사업자 구매회원 가입 */
.tab_corpor_cont {padding-top:26px;}
.tab_corpor_cont > div > h2.title {margin-bottom:36px;color:#333;font-size:40px;line-height:1;letter-spacing:-1px;text-align:center;}
.tab_corpor_cont > div > h2.title > span {font-size:40px;line-height:1;letter-spacing:-1px;font-weight:500;font-style:normal;}
.tab_corpor_cont h3.title {float:left;margin:0 20px 20px 0;color:#333;font-size:20px;line-height:1;font-weight:500;}
.tab_corpor_cont .guide_txt {float:left;margin-top:6px;color:#666;font-size:14px;line-height:1;font-weight:400;}
.tab_corpor_cont .corporate_step {position:relative;width:970px;margin:0 auto;margin-bottom:70px;text-align:center;}
.tab_corpor_cont .corporate_step > button {position:absolute;right:42px;top:166px;}
.membership_find {padding:28px;}
.membership_find h3 {margin-bottom:28px;color:#333;font-size:28px;font-weight:500;}
.membership_find dl {margin:0 100px;}
.membership_find dl:after {content:" "; display:block; clear:both;}
.membership_find dl > dt , .membership_find dl > dd {float:left;margin-bottom:10px;}
.membership_find dl > dt {width:16%;text-align:right;}
.membership_find dl > dt label {color:#333;font-size:16px;line-height:35px;font-weight:500;}
.membership_find dl > dd {width:84%;padding-left:10px;text-align:left;}
.membership_find dl > dd input[type="text"] {width:98px;}
.membership_find dl > dd span.space {display:inline-block;width:16px;text-align:center;font-size:16px;line-height:35px;}
.membership_find dl > dd button {margin-left:6px;}
#member .space_01 {margin-bottom:50px;}
#member .space_02 {margin-bottom:10px;}
.cell_02 {}
.cell_02 .img_icon {display:inline-block;width:28px;text-align:center;vertical-align:middle;}
.cell_02 input[type="text"] {width:308px !important;}
.file_upload_area {margin-bottom:20px;clear:both;}
.tbl_design {padding:20px 10px 0 10px;border-top:2px solid #333;border-bottom:1px solid #333;}
.tbl_design dl > dt {width:12%;color:#333;font-size:15px;line-height:35px;}
.tbl_design dl > dd {width:88%;}
.tbl_design dl > dt ,.tbl_design dl > dd {float:left;margin-bottom:10px;}
.tbl_design dl {padding:20px 0;}
.tbl_design dl:after {content:" "; display:block; clear:both;}
.tab_corpor_cont ul.term {padding:18px 10px;}
.tab_corpor_cont ul.term:after {content:" "; display:block; clear:both;}
.tab_corpor_cont ul.term li {float:left;width:26%;padding-left:10px;color:#333;font-size:14px;font-weight:500;background:url(../images/member/icon_dot.gif) no-repeat 0 10px;position:relative;}
.tab_corpor_cont ul.term li > button {margin-left:10px;}
.tab_corpor_cont .end_msg {margin-bottom:20px;color:#333;font-size:16px;font-weight:500;text-align:center;}
.end_corporate {width:766px;margin:0 auto;padding:20px 0;padding-top:110px;text-align:center;border:1px solid #c6c6c6;border-left:0px;border-right:0px;background:url(../images/member/bg_mem_02.jpg) no-repeat 50% 30px;}
.end_corporate ul {width:570px;margin:0 auto;}
.end_corporate ul > li {margin-bottom:10px;padding-left:16px;color:#333;font-size:20px;background:url(../images/member/icon_dot.gif) no-repeat 0 10px;text-align:left;letter-spacing:-1px;}
.end_corporate ul > li > span {color:#333;font-size:20px;font-weight:500;}
.tab_corpor_cont .end_msg_02 {width:430px;margin:0 auto;margin-top:30px;text-align:center;}
.tab_corpor_cont .end_msg_02 p {margin-bottom:30px;color:#333;font-size:16px;line-height:1.4;}
.tab_corpor_cont .end_msg_02 button {width:430px;}


/* 로그인페이지 */
.login_fieldset {width:370px;}
dl.login_form {margin-top:20px;width:370px;}
dl.login_form dt {margin-top:20px;font-size:16px;color:#333;}
dl.login_form dt label {font-size:16px;color:#333;width:140px}
dl.login_form dd {margin-top:10px;}
dl.login_form dd input[type=text], dl.login_form dd input[type=password] {width:348px;}
dl.login_form dt:first-child {margin-top:0;}
.caption_txt {margin-top:10px;}
.caption_txt.order_txt {margin-top:45px;font-size:13px;line-height:20px;}
.caption_txt.order_txt .point_txt13 {line-height:20px;}
.caption_txt p {color:#666;margin-top:6px;font-weight:400;}
.caption_txt p:first-child {margin-top:0;}
.caption_txt p label {color:#333;font-size:13px;}
.button_area .inquiry_btn {margin-bottom:5px;}
.button_area .inquiry_btn button {display:block;width:100%;}
.button_area .user_gate button {font-size:16px;margin-left:1px;width:182px;float:right;}
.button_area .user_gate button:first-child {margin-left:0;float:left;}
.button_area .user_gate:after {content:"";dispaly:blcok;clear:both;}
.tip_red {margin-top:6px;color:#ed1b2f !important;font-size:12px;font-weight:500 !important;}
.point_red {color:#ed1b2f !important;font-size:12px;font-weight:400 !important;}

.ordernum {}
.orderphone {}
.orderphone .num_input {margin-bottom:15px;}
.orderphone .num_input input[type=text] {width:237px !important;margin-right:2px;}/* ie8 - width:238->237 */
.orderphone .num_input button {width:105px !important;}
.check_phone {margin-top:7px;}
.check_phone .button_area .inquiry_btn.send_btn {margin-top:0 !important;margin-bottom:12px;}
.check_phone p {font-size:14px;font-weight:300;}
.check_phone .check_number {margin-top:8px;}
.check_phone .check_number button {margin-left:2px;border:1px solid #c6c6c6;}
.check_phone .check_number button.botton_st_03.gray {width:70px;border:1px solid #666;}
.check_phone input[type=text] {width:157px !important;}
.check_phone .time_ing {line-height:24px;}
.check_phone .time_ing span {font-size:14px;color:#ed1b2f;line-height:24px;}
.graybox {clear:both;padding:15px 0 15px 20px;background:#f4f4f4;border:1px solid #eaeaea;}

.member_area.loginform {text-align:left;}
.member_area.loginform .intro_message {text-align:center;}
.member_area.loginform .mem_divide > ul > li {background:none;}
.member_area.loginform .mem_divide > ul > li > h3 {text-align:center;color:#333;}
.member_area.loginform .mem_divide > ul > li >.login_fieldset {margin-left:55px;}

/* 아이디찾기 */
.intro_tit {margin:20px 0 30px;text-align:center;font-size:40px;line-height:46px;color:#333;}
.h3_tit {margin-bottom:13px;font-size:32px;line-height:40px;font-weight:500;text-align:center;color:#333;}
.h3_tit.light {font-weight:400;}
.id_pw_search {width:970px;margin:0 auto;}
.id_pw_search .tab_area .tab_body .tab-cont {padding:40px 55px;}
.id_pw_search .tab_area .tab_body.st_border {padding:30px 10px 0 10px}
.id_pw_search .tab_area .tab_tit li {width:486px !important;}
.id_pw_search .tab_area .tab_tit li:first-child {width:485px !important;}
.id_pw_search .tab_area .tab_area .tab_tit {padding:0 29px}
.id_pw_search .tab_area .tab_area .tab_tit li {width:438px;}
.id_pw_search .tab_area .tab_area .tab_tit li:first-child {margin-right:12px}
.id_pw_search .tab_area.red .tab_body.bdt1 {border-top:1px solid #000!important;margin-top:0px}
.id_pw_search .st_border .tab_area.red .tab_tit li {width:437px !important;}
.id_pw_search .st_border .tab_area.red .tab_tit li a {border:1px solid #c6c6c6;height:34px;border-top-left-radius:6px;border-top-right-radius:6px;background:#d6d6d6;border-bottom:0px;color:#fff}
.id_pw_search .st_border .tab_area.red .tab_tit li.active a {border:1px solid #000!important;border-bottom:0!important;font-size:20px;}
.id_pw_search .tab_area.red .tab_tit li.active a::before {content:url("../images/common/ico_choice2.png"); margin-right:10px;margin-top:-3px}
.both_part {clear:both;width:855px;margin:0 auto;padding:40px 0;background:url(../images/common/bg_line_y.gif) repeat-y 427px 0;}
.both_part .left_area {float:left;width:427px;}
.both_part .left_area .login_fieldset .point_txt {margin-top:18px;}
.both_part .left_area dl.login_form {margin-top:14px;}
.both_part .left_area .button_area .inquiry_btn {margin-top:20px;}
.both_part .right_area {float:left;width:370px;margin-left:58px;}
.both_part:after {content:"";display:block;clear:both;}
.graybox {clear:both;padding:15px 0 15px 20px;background:#f4f4f4;border:1px solid #eaeaea;}
.graybox p {font-size:13px;}
.graybox .tit_confirm {float:left;width:90px;color:#333;font-size:16px;padding-top:42px;}
.graybox .inner_right {float:left;width:254px;font-size:13px;line-height:24px;}
.graybox .inner_right p {letter-spacing:-1px;}
.graybox .inner_right p.mt6 {margin-top:6px;}
.graybox .inner_right p.ft_mid {font-weight:500;}
.graybox.first {margin-bottom:10px;}
.graybox.first .tit_confirm {padding-top:52px;}
.graybox:after {content:"";display:block;clear:both;}
.button_confirm {margin-top:7px;}
.button_confirm button {width:130px;padding:8px 0;}

/* 아이디찾기 - 법인사업자 */
.com_mem {text-align:center;padding:40px 80px;}
.com_mem_form {margin-top:20px;border-top:1px solid #c6c6c6;padding:30px 0 0px 110px;width:770px}
.com_mem_form dt {font-size:16px;color:#333;width:130px;letter-spacing:-1px;text-align:right;float:left;margin-right:10px;padding-top:10px}/* 11.15 ie8-width:115 -> 130 */
.com_mem_form dt.gb {padding-top:16px}
.com_mem_form dd {text-align:left;padding-left:144px;padding-bottom:19px}/* 11.15 ie8-padding-left:124 -> 144 */
.com_mem_form dd input[type=text] {width:120px;box-sizing:border-box}
.com_mem_form dd span {color:#888;padding:0 10px;line-height:36px}
.com_mem_form dd .graybox {width:418px;background:#f4f4f4;border:1px solid #c6c6c6;padding:17px 39px;text-align:center;clear:none} 
.com_mem_form dd .graybox .checked_box {margin-left:0}
.com_mem_form dd .graybox label {font-size:14px}
.com_mem_form dd .graybox .check_phone {text-align:left}
.com_mem_form dd .graybox .check_phone .time_ing span {font-size: 14px;color: #ed1b2f;line-height: 24px;padding:0}
.com_mem .button_area {margin-top:8px}

/* 아이디찾기 완료 */
.search_result {text-align:center;padding:40px 80px;}


/* 비밀버호찾기 */
.blt_txt {padding-left:7px;background:url(../images/common/blt_dot.png) no-repeat 0 6px;color:#666;}
.add_txt {font-size:14px;color:#333;}
.add_txt_mid {font-size:20px;color:#333;}
.add_txt_mid span {font-size:20px;}
.graybox.radio_check {padding-right:20px;}
.graybox.radio_check .checked_box {margin-left:30px;}
.graybox.radio_check label {font-size:14px;}
.graybox.radio_check label.email {margin-right:55px;}
.check_phone {margin-top:7px;}
.check_phone .button_area .inquiry_btn.send_btn {margin-top:0 !important;margin-bottom:12px;}
.check_phone p {font-size:14px;}
.check_phone .check_number {margin-top:8px;}
.check_phone .check_number button {margin-left:2px;}
.check_phone .check_number button.botton_st_03.gray {width:70px;}
.check_phone input[type=text] {width:157px !important;}
.check_phone .time_ing {margin-top:7px;line-height:24px;}
.check_phone .time_ing span {font-size:14px;color:#ed1b2f;line-height:24px;}
.id_input {margin:27px 0 30px 0;}
.id_input span {display:inline-block;width:105px;vertical-align:middle;font-size:16px;}
.id_input input[type="text"] {width:243px;}
.both_part .left_area .button_area .inquiry_btn.search {margin-top:30px;}
.info_area {margin:16px 0 50px 0;}
.info_area li {font-size:14px;line-height:30px;}
.info_area li.blt_txt {padding-left:10px;background:url(../images/common/blt_dot_black.gif) no-repeat 0 14px;}
.info_area li span {font-size:14px;line-height:30px;}
.info_area li span.tit {font-weight:500;}
.search_result .box_gray {padding:30px 0;margin-top:20px;text-align:center;}
.search_result .box_gray p, .search_result .box_gray span {font-size:20px;}
.search_result .button_area {margin-top:30px;}
.search_result .add_txt_mid {margin-bottom:10px;}
.search_result .add_txt_mid, .search_result .add_txt_mid span {line-height:30px;}
.search_result.mail_send_box {padding:80px 0;}
.pw_chane_area {text-align:left;margin:0 auto;}
.pw_chane_area .blt_txt {line-height:24px;font-size:14px;background-position:0 11px;}
.pw_input {width:380px;margin:0 auto;}
.pw_input li {margin-top:10px;}
.pw_input li span {display:inline-block;width:110px;vertical-align:middle;font-size:14px !important;color:#333;letter-spacing:-1px;}
.pw_input li .tip_red {font-size:12px;text-align:left;padding-left:110px;box-sizing:border-box}
.pw_input li input[type="password"] {width:245px;}
.pw_input li:first-child {margin-top:0;}
.button_area.ok_change {margin-top:20px;}

/* 휴먼계정 로그인 */
#wrap.other {width:970px;margin:0 auto;}
#wrap.other #header .header_middle_area {width:970px;height:150px;padding-top:90px;border-bottom:2px solid #e60013;}
#wrap.other #header .header_middle_area .header_right {float:right;position:relative;margin:15px 35px 0 0;font-size:24px;color:#333;font-weight:500;}
#wrap.other #header .header_middle_area:after {content:"";display:block;clear:both;}
#wrap.other #container {margin-top:0;}
#wrap.other #container .content_sub {width:970px;}
#wrap.other .vi_cont {height:212px;padding:71px 0 0 236px;background:url(../images/member/bg_dormant.jpg) no-repeat 114px 54px;}
#wrap.other .vi_cont p {font-size:16px;color:#333;line-height:30px;}
#wrap.other .vi_cont p:first-child, #wrap.other .vi_cont p:first-child span {font-size:32px;line-height:50px;}
#wrap.other .vi_cont p:first-child strong {color:#ed1b2f;font-weight:500}
.dormant_confirm {padding:40px 20px;border:2px solid #333;background:#fff;text-align:center;}
.dormant_confirm p {font-size:14px;color:#888;line-height:28px;}
.dormant_confirm p.tip_red {font-size:12px;line-height:18px;}
.dormant_confirm p:first-child, #wrap.other .vi_cont p:first-child span {font-size:20px;color:#333;}
.confirm_way {clear:both;margin-top:50px;}
.confirm_way li {float:left;width:308px;height:220px;padding:0 20px;border-left:1px solid #d9d9d9;}
.confirm_way li h2.h2_tit, .confirm_way li h2.h2_tit span {font-size:24px;}
.confirm_way .button_area {margin:25px 0 15px 0;}
.confirm_way .button_area button {display:block;width:100%;}
.confirm_way .button_area button.botton_st_05.user {background:#5c4c4f url(../images/common/icon_user.png) no-repeat 61px 12px;}
.confirm_way .button_area button.botton_st_05.mobile {background:#5c4c4f url(../images/common/icon_mobile.png) no-repeat 51px 12px;}
.confirm_way .button_area button.botton_st_05.ipin {background:#5c4c4f url(../images/common/icon_ipin.png) no-repeat 61px 12px;}
.confirm_way .point_txt13, .confirm_way .tip_txt13 {color:#666!important;font-size:13px !important;line-height:20px;font-weight:300 !important;letter-spacing:-1px;}
.confirm_way li:first-child {border-left:0;}
.confirm_way:after {content:"";display:block;clear:both;}
#member .com_mem_form {border-top:1px solid #d9d9d9;padding-top:30px;width:770px;margin:0 auto;margin-top:20px;padding-left:;}/* 11.16 border-style,width,padding-left 수정 */
#member .com_mem_form dd:last-child {padding-bottom:0}

/* 비밀번호 대상자 캠폐인 */
.info_msg {padding-top:52px;text-align:center;}
.info_msg p {font-size:14px;color:#888;line-height:28px;}
.info_msg .intro_tit {margin:0 0 15px 0;font-size:40px;line-height:50px;color:#333;}
.info_msg .intro_tit .point_red.ft_size40 {font-size:40px;line-height:50px;}
.info_msg .half_year_txt {font-size:20px;color:#333;line-height:34px;}
.info_msg .half_year_txt span {line-height:34px;font-weight:300;font-size:20px;}

.pw_campaign {margin-top:20px;padding:40px 20px;border:2px solid #333;background:#fff;text-align:center;}
.pw_campaign_info {width:882px;height:66px;margin:0 auto;border-bottom:1px dashed #d9d9d9;}
.pw_campaign_info li {font-size:14px;color:#666;line-height:24px;}
.pw_rule_box {clear:both;margin-top:20px;position:relative;}
.pw_rule_box .left {width:440px;margin-right:5px;margin-left:80px;}
.pw_rule_box .right {position:absolute;bottom:5px;left:550px;width:290px;margin-top:45px;vertical-align:bottom;text-align:left;}
.pw_rule_box .right .tit_rule {font-size:16px;color:#333;line-height:26px;margin-bottom:3px;}
.pw_rule_box .right .info_rule li {line-height:20px;}
.pw_rule_box:after {content:"";display:block;clear:both;}

.pw_input2 li {margin-top:10px;}
.pw_input2 li dl {clear:both;margin-top:5px;}
.pw_input2 li dl dt {padding-top:6px;display:inline-block;float:left;width:140px;padding-right:20px;vertical-align:middle;font-size:16px !important;color:#333;letter-spacing:-1px;text-align:right;}
.pw_input2 li dl dd {float:left;text-align:left;}/* 11.16 text-align 추가 */
.pw_input2 li dl dd input[type="password"] {width:248px;}
.pw_input2 li dl dd p {text-align:left;}
.pw_input li:first-child {margin-top:0;}
.pw_input2 li dl:after {content:"";display:block;clear:both;}

/* tab cou*/
#member .cur_default {cursor:default;}

/* 2015-11-30 */
.busi_num_result.com_layer_popup {top:17%;}
.pw_error, .pw_error span {margin-bottom:26px;font-size:16px;line-height:24px;letter-spacing:-1px;}
.pstyle2 .box_gray {border:1px solid #c6c6c6;background:#f4f4f4;text-align:center;padding:12px 0;font-size:14px;line-height:24px}
.cell_area dd .hp_case_02 {width:627px;}
.cell_area dd .hp_case_04 .error_msg {padding-top:0;}
.cell_area .error_msg {margin-top:8px;color:#ed1b2f;font-size:12px;line-height:1;font-weight:400;letter-spacing:-1px;}
.cell_area .end_msg {margin-top:8px;color:#41a5eb;font-size:12px;line-height:1;font-weight:400;letter-spacing:-1px;text-align:left;margin-bottom:0;}
.useterm_pop {margin-left: -149px;top:-490px;} /*top:34px*/
.person_info_pop {margin-left: -149px;top:-490px;} /*top:34px*/
.tot_useterm_pop {margin-left: -149px;top:-490px;;} /*top:34px*/