@charset 'utf-8';

/* 회원가입 안내 페이지 /member/reg1.html */
.member_area .mem_divide {width:700px;margin:0 auto;}
.member_area .mem_divide > ul > li {display:none;}
.member_area .mem_divide > ul > li:first-child {width:483px;margin:0 auto;float:none;display:block !important;}
.member_area.loginform .mem_divide {width:970px;}
.member_area.loginform .mem_divide > ul > li {display:block !important;}
.member_area.loginform .mem_divide > ul > li:first-child {width:50%;margin:0;float:left;display:block !important;}

/* 아이디/비밀번호 찾기 /member/mem5.html ,  mem6-1.html, mem6-3.html */
.tab_area.red .ui-tabs.tab_tit {display:none;}
.id_pw_search .tab_area.red .tab_body.bdt1 {border-top:0 !important;}
.tab_area.red .tab_body.bdt1 .tab_cont {border-top:0 !important;margin:40px 0 30px 0;}
.id_pw_search .tab_area .tab_body.st_border {padding-top:0;}