<v-app>
  <v-body title="소식방">
    <div class="container">
      <!-- class flat_round_box bg_white 추가 확인 -->
      <div class="flat_round_box bg_white user_community">
        <div class="img_box">
          <img src="/assets/dummy/sample_cont_05.png" alt="샘플" />
        </div>
        <div class="title_box">
          <h4>스타일 있는 언니의 집들이<span class="tag red">New</span></h4>
          <p class="writer_time"><span>1동 신*계님</span><span class="time">2020.08.07</span></p>
        </div>
        <div class="notice_link">
            <a href="#" class="clip">첨부파일.ppt</a>
        </div>
        <div class="admin_content">
            <p>처음에 이사했을 때만 해도 급하게 물건을 두느라 집을 돌아볼 여유가 없었어요. 그래서 집을 어떻게 꾸며야 할지 막막했던 기억들이 떠오릅니다. 큰 그림을 빨리 그려나가기보다는 차근차근 하나씩 골라 공간을 채워나갔습니다. 그렇게, 평소의 취향과 좋아하는 색감이 오롯이 집에 스며들어서 가장 나답고 내가 편안한 공간이 되었어요.</p>
            <br />
            <p>안방</p>
            <br />
            <img src="/assets/dummy/sample_cont_05.png" alt="샘플" />
            <br />
            <p>이제 현관에서 바로 처음으로 볼 수 있는 문을 열면 안방입니다. 보이는 건 정말 침대뿐인 곳입니다. 침대 앞쪽에도 그 어떤 가구도 두지 않았어요.</p>
            <br />
            <p>대신 저 포인트가 되는 벽돌무늬 벽은 사실 가벽으로 세워진 옷장입니다. 방 하나를 드레스룸으로 만들까 생각도 했지만 동선이 길어지는 게 걸려서 고민을 많이 했는데,  안방이 좀 큰 편이라 다행히 가벽을 세워 공간을 분할해 사용할 수 있겠더라고요. 정말 만족하고 있습니다.</p>
        </div>
        <div class="comment_input_box">
          <div class="input_box">
            <textarea class="com_texta" id="comment" name="comment" placeholder="댓글은 200자 이내로 입력할 수 있으며, 입주민간 서로를 배려하는 댓글 부탁드립니다."></textarea>
            <span>0/200</span>
          </div>
          <a href="#" class="enroll">등록</a>
        </div>
        <div class="comment_box">
          <!-- 등록 수 -->
          <h4 class="title">등록 된 댓글 <span class="red">2</span></h4>

          <!-- 댓글 없음 -->
          <div class="no_info">
            <div class="comment">
              등록된 댓글이 없습니다.
            </div>
          </div>

          <!-- 댓글 -->
          <div class="comments_list">
            <div>
              <div class="info">
                <p class="writer_time"><span>1동 신*계님</span><span class="time">2020.08.07</span></p>
                <p class="text">
                  집이 너무 이뻐요!! 저의 드림하우스네요!!<br />
                  집이 너무 이뻐요!! 저의 드림하우스네요!!
                </p>
                <a href="#" class="delet">삭제</a>
              </div>
            </div>
            <div>
              <div class="info">
                <p class="writer_time"><span>1동 신*계님</span><span class="time">2020.08.07 12:50</span></p>
                <p class="text">
                  집이 너무 이뻐요!! 저의 드림하우스네요!!<br />
                  집이 너무 이뻐요!! 저의 드림하우스네요!!
                </p>
              </div>
            </div>
          </div>
          <!-- 더보기 -->
          <a class="add_item" href="#">더보기</a>
          <!-- 수정, 삭제 추가 -->
          <div class="btn_area fix_n_del">
            <button type="button" class="btn">수정</button>
            <button type="button" class="btn">삭제</button>
          </div>
        </div>
      </div>
      <div class="bottom_nav">
        <div class="content">
          <div class="nav">
            <a class="prev">이전 글</a>
            <a class="next">다음 글</a>
          </div>
          <!-- 목록 보기 -->
          <div class="go_list">
            <a class="btn btn_type2" href="#">목록 보기</a>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>