.flat_round_box {
    margin-top: 9.667rem;
}
.flat_round_box .txt_box {
    padding: 2.083rem;
}
.flat_round_box .txt_box h4 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}
.flat_round_box .txt_box p {
    font-size: 1.167rem;
    color: #5A514C;
    text-align: center;
    font-weight: 300;
    margin-top: 1rem;
    line-height: 1.57;
    word-break: keep-all;
}
.btn_area {
    margin-top: 2.083rem;
}
@media screen and (min-width: 1025px) {
    .flat_round_box {
        margin-top: 176px;
    }
    .flat_round_box .txt_box {
        padding: 35px;
    }
    .flat_round_box .txt_box h4 {
        font-size: 20px;
    }
    .flat_round_box .txt_box p {
        font-size: 16px;
        margin-top: 13px;
    }
    .btn_area {
        margin-top: 30px;
    }
}