<v-app>
  <v-body title="입지환경">
    <div class="container type2">
      <div class="villiv_info">
        <!-- 상단 단지별 탭 -->
        <div class="round_box tab_slide">
          <div>
            <ul>
              <li><a href="#">빌리브 하남</a></li>
              <li class="on"><a href="#">빌리브 울산</a></li>
              <li><a href="#">빌리브 하남</a></li>
              <li><a href="#">빌리브 하남</a></li>
            </ul>
          </div>
          <a href="#" class="ts_btn btn_left">왼쪽</a>
          <a href="#" class="ts_btn btn_right">오른쪽</a>
        </div>
        <!-- // 상단 단지별 탭 -->
        <div class="apt_complex_info">
          <!-- 페이지 탭 -->
          <div class="nav_bar">
            <ul>
              <li><a href="#">임대료/계약 안내</a></li>
              <li><a href="#">단지정보</a></li>
              <li class="on"><a href="#">입지환경</a></li>
              <li><a href="#">평면안내</a></li>
              <li><a href="#">인테리어</a></li>
              <li><a href="#">오시는 길</a></li>
            </ul>
          </div>
          <!-- // 페이지 탭 -->
          <div class="operation_info">
            <h4><span class="highlight">입지환경</span></h4>
            <div class="environment_now flat_round_box bg_white">
              <div class="img_extend">
                <img src="/assets/dummy/position_info_01.png" alt="샘플" />
                <div class="btm_box">
                  <a href="#" class="extend_btn"></a>
                </div>
              </div>
            </div>
            <ul class="dot_list">
              <li>상기 CG는 소비자의 이해를 돕기 위해 제작된 것으로 분양대상물을 확대 표현하여 실제 크기 및 거리 등과 차이가 있을 수 있습니다.</li>
              <li>건물의 색채, 외관, 조경, 식재 및 보행로 등은 입주자의 이해를 돕기 위한 것으로 실제와 다를 수 있으며, 추후 인허가 과정 및 실제 시공시 변경될 수 있습니다.</li>
              <li>각종 개발계획, 예정사항 등은 사업주체, 국가기관, 지자체 등 관계기관의 사업추진 중 일부 변경, 지연, 취소될 수 있습니다.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>