.iot_det {
}
.iot_det ul {}
.iot_det ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.583rem 0;
    border-bottom: 1px solid #FFFFFF;
    position:relative;
}
.iot_det ul li:after {
    display: block;
    content: "";
    background: #D4D9E0;
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
.iot_det ul li:first-child {
    padding-top: 0;
}
.iot_det ul li:last-child {
    border-bottom: none;
    padding-bottom: 0;
}
.iot_det ul li:last-child:after {
    display: none;
}
.iot_det ul li .info_box {}
.iot_det ul li .info_box > span {
    display: block;
    font-size: 1.167rem;
}
.iot_det ul li .info_box .top_txt {
    margin-bottom: 0.25rem;
}
.iot_det ul li .info_box .info_txt {
    margin-top: 0.75rem;
}
.iot_det ul li .info_box .date {
    font-size: 1.333rem;
    font-weight: 800;
}
.iot_det ul li .info_box .date .tag {
    margin-left: 0.4167rem;
}
.iot_det ul li .state {    
    font-size: 1.167rem;
}