<v-app>
    <v-body title="회원정보">
        <div class="container">
            <div class="round_box">
                <div class="content">
                    <h5>회원정보</h5>
                    <div>
                        <dl>
                            <dt>이름</dt>
                            <dd>빌리브</dd>
                        </dl>
                        <dl>
                            <dt>생년월일</dt>
                            <dd>1990.09.07</dd>
                        </dl>
                        <dl>
                            <dt>휴대폰번호</dt>
                            <dd>010-1234-2345</dd>
                        </dl>
                        <dl>
                            <dt>단지명</dt>
                            <dd>빌리브 하남</dd>
                        </dl>
                        <dl>
                            <dt>동/호</dt>
                            <dd>1동 / 103호</dd>
                        </dl>
                        <dl>
                            <dt>세대원정보</dt>
                            <dd>세대원대표</dd>
                        </dl>
                        <dl>
                            <dt>회원등록일</dt>
                            <dd>2020.10.03 12:43</dd>
                        </dl>
                    </div>
                    <p>회원정보가 잘못된 경우 또는 변경된 경우에는 관리사무실에 문의해주세요.</p>
                </div>
            </div>
            <div class="btn_area">
                <button type="button" class="btn btn_type3">회원탈퇴</button>
            </div>
        </div>
    </v-body>
</v-app>
