<v-app>
  <v-body title="문의하기">
    <div class="container">
      <!-- 글자 크기 조절 -->
      <div class="font_size_fix">
        <a href="#" class="font_btn">글자 크기</a>
        <div class="btn_box"><!-- 보일 시 on 추가 -->
            <a href="#" class="close">닫기</a>
            <ul class="list">
            <li class="small on">
                <a href="#">
                <p class="size">가</p>
                <p>작게</p>
                </a>
            </li>
            <li class="medium">
                <a href="#">
                <p class="size">가</p>
                <p>보통</p>
                </a>
            </li>
            <li class="large">
                <a href="#">
                <p class="size">가</p>
                <p>크게</p>
                </a>
            </li>
            </ul>
        </div>
      </div>
      <!-- 타이틀 죄측정렬 -->
      <h4 class="main_title flt_left">
        <p>나의 <span class="highlight">문의내용</span></p>
      </h4>
      <!-- 나의 질문 20-09-15 class="inqui_box flat_round_box" 변경 -->
      <div class="inqui_box flat_round_box">
        <div class="notice_title">
          <h4>세대 차량 추가등록 문의</h4>
          <p class="time">2020.09.17</p>
        </div>
        <div class="notice_link">
          <a href="#" class="clip">첨부파일.ppt</a>
          <a href="#" class="clip">첨부파일.ppt</a>
          <!-- 주소 링크
          <a href="#" class="link">www.villiv.com</a> -->
          <!-- 첨부 파일 
          <a href="#" class="clip">첨부파일.ppt</a> -->
          <!-- 첨부된 파일 없음 
          <p>첨부된 파일이 없습니다.</p> -->
        </div>
        <!-- 질문 내용 -->
        <div class="admin_content">
          <p>기존에 기본 차량 1대가 등록되어 있습니다.</p>
          <br />
          <br />
          <p>추가적으로 차량 등록하고자 합니다.</p>
          <br />
          <br />
          <p>등록에 필요한 서류 첨부하오니, 등록이 가능할 경우 처리해주세요.</p>
        </div>
      </div>

      <!-- 답변내용 - 답변 후 노출 -->
      <h4 class="main_title flt_left">
        <p><span class="highlight">답변내용</span></p>
      </h4>
      <div class="inqui_box flat_round_box answer">
        <div class="notice_title">
          <h4>세대 차량 추가등록 문의</h4>
          <p class="writer_time"><span>관리자</span><span class="time">2020.08.07</span></p>
        </div>
        <div class="notice_link">
          <p>첨부된 파일이 없습니다.</p>
        </div>
        <!-- 답변 내용 -->
        <div class="admin_content">
          <p>안녕하세요. 관리사무소입니다.</p>
          <br />
          <br />
          <p>세대 차량 추가등록은 관리사무소에 직접 내방하시어 관련서류를 제출하셔야 합니다.</p>
          <br />
          <br />
          <p>  세대 차량 추가등록 시, 추가 비용이 매월 관리비에 합산되어 청구됩니다.</p>
          <br />
          <br />
          <p>  1차량 추가 등록 시 5,000원, 2차량 추가 등록시 10,000원 입니다.</p>
          <br />
          <br />
          <p>감사합니다.</p>
        </div>
      </div>
      
      <!-- 목록 보기 -->
      <div class="go_list block">
        <a href="#" class="btn btn_type2 only_pc">목록 보기</a>
        <!-- 답변 전 에만 노출 -->
        <a href="#" class="btn btn_type1">게시글 삭제하기</a>
      </div>
    </div>
  </v-body>
</v-app>