<div class="pincode_wrap popup">
    <div class="pin_inp_area">
        <h2>암호 입력</h2>
        <p>{{title}}</p>
        <div class="pin_center">
            <span class="key_inp" [ngClass]="password.length >0 ? 'on' : ''"></span>
            <span class="key_inp" [ngClass]="password.length >1 ? 'on' : ''"></span>
            <span class="key_inp" [ngClass]="password.length >2 ? 'on' : ''"></span>
            <span class="key_inp" [ngClass]="password.length >3 ? 'on' : ''"></span>
        </div>
    </div>

    <div class="keyboard_area">
        <table class="keyboard_tbl">
            <tbody>
                <tr>
                    <td class="">
                        <a (click)="onClickNumber('1')" class="round_box key">
                            <span class="knum key1-1">1</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('2')" class="round_box key">
                            <span class="knum key1-2">2</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('3')" class="round_box key">
                            <span class="knum key1-3">3</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a (click)="onClickNumber('4')" class="round_box key">
                            <span class="knum key2-1">4</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('5')" class="round_box key">
                            <span class="knum key2-2">5</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('6')" class="round_box key">
                            <span class="knum key2-3">6</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a (click)="onClickNumber('7')" class="round_box key">
                            <span class="knum key3-1">7</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('8')" class="round_box key">
                            <span class="knum key3-2">8</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickNumber('9')" class="round_box key">
                            <span class="knum key3-3">9</span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <!-- 빈 태그 -->
                    <td>
                        <a (click)="onClickNumber('0')" class="round_box key">
                            <span class="knum key4-2">0</span>
                        </a>
                    </td>
                    <td>
                        <a (click)="onClickCancel()" class="key">
                            <span class="knum btn_backspace">글자삭제</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a (click)="onClickClose()" class="btn_pclose">팝업 닫기</a>
</div>