<v-app>
    <v-body title="약관/정책">
        <div class="container">
            <div class="round_box">
                <div class="content">
                    <div class="nav_bar">
                        <ul>
                            <li [ngClass]="selectedTermsKnd==='A' ? 'on' : ''"><a (click)="onClickTab('A')">서비스 이용약관</a>
                            </li>
                            <li [ngClass]="selectedTermsKnd==='D' ? 'on' : ''"><a (click)="onClickTab('D')">개인정보처리방침</a>
                            </li>
                        </ul>
                    </div>
                    <!-- 서비스 이용약관 -->
                    <div class="terms_box" [hidden]="selectedTermsKnd!=='A'">
                        <h4 class="hide">서비스 이용약관</h4>
                        <ng-select [items]="termsAVerList"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [(ngModel)]="selectedTermsAVer"
                                   (change)="onChangeTermVer()"

                        >
                        </ng-select>
                        <div class="terms_cont" [innerHTML]="termsAInf?.termsCts"></div>
                    </div>
                    <!-- // 서비스 이용약관 -->
                    <!-- 개인정보처리방침 -->
                    <div class="terms_box" [hidden]="selectedTermsKnd!=='D'">
                        <h4 class="hide">개인정보처리방침</h4>
                        <ng-select [items]="termsDVerList"
                                   [searchable]="false"
                                   [clearable]="false"
                                   [(ngModel)]="selectedTermsDVer"
                                   (change)="onChangeTermVer()"
                        >
                        </ng-select>
                        <div class="terms_cont" [innerHTML]="termsDInf?.termsCts"></div>
                    </div>
                    <!-- // 개인정보처리방침 -->
                </div>
            </div>
        </div>
    </v-body>
</v-app>
