<v-app>
  <v-body title="빌리브 이벤트상세">
    <div class="container">
      <!-- 디자인 수정으로 <div class="flat_round_box bg_white"> 추가 -->
      <div class="flat_round_box bg_white notice_box">
        <div class="notice_title">
          <h4>2020 SUMMER EVENT</h4>
          <p class="time">2020.08.07 ~ 2020.08.31</p>
        </div>
        <div class="notice_link">
          <a href="#" class="link">www.hosu2.kr</a>
        </div>
        <!-- 이벤트 상세 -->
        <div class="admin_content">
          <!--PC 노출-->
          <img src="/assets/dummy/sample_event02.png" alt="샘플" class="pc"/>
          
          <!--MO 노출-->
          <img src="/assets/dummy/sample_event02.png" alt="샘플" class="mo"/>
        </div>
      </div>
      <!-- 목록 보기 -->
      <div class="go_list">
        <a class="btn btn_type2" href="#">목록 보기</a>
      </div>
    </div>
  </v-body>
</v-app>