<v-app>
    <v-body title="자주 묻는 질문" mnuId="LC_CS_FAQ">
        <div class="container">
            <v-font-size
                [(fontClassName)]="fontSizeClassName"
            ></v-font-size>

            <!-- 검색 input -->
            <div class="faq_seatch">
                <div class="search_form">
                    <input [(ngModel)]="bltbrdSearchModel.searchWord" type="text" (keyup.enter)="onClickSearch()" class="com_inp" placeholder="검색어를 입력하세요.">
                    <a (click)="onClickSearch()" class="btn_search">검색</a>
                </div>
            </div>

            <!-- 탭 카테고리 타입 -->
            <ul class="tab category auto">
                <li *ngFor="let cate of searchTypeList; index as i"
                    [ngClass]="bltbrdSearchModel.bltbrdCat === cate.cd ? 'on' : ''"
                >
                    <a (click)="onClickFaqCatCd(cate.cd)">{{cate.cdName}}</a>
                </li>
            </ul>
<!--            FAQ 리스트-->
            <div class="faq_list" [ngClass]="fontSizeClassName">
                <div class="no_data" *ngIf="!isExistList;else other_content">
                    <p>조회된 글이 없습니다.</p>
                </div>
                <ng-template #other_content>
                    <dl class="round_box" [ngClass]="data.isShowCts ? 'on' : ''" *ngFor="let data of bltbrdList;">
                        <dt class="title">
                            <p><a (click)="toggleContentArea(data)" class="toggle_btn">{{data.bltbrdTtl}}</a></p>
                        </dt>
                        <dd class="cont">
                            <p [ngClass]="fontSizeClassName" [innerHTML]="data.bltbrdCts"></p>
                        </dd>
                    </dl>
                </ng-template>
            </div>

            <!-- 더보기 -->
            <a *ngIf="bltbrdSearchModel?.page < bltbrdSearchModel?.totalEndPage" class="add_item" (click)="moreBltbrdList()">더보기</a>
        </div>
    </v-body>
</v-app>
