@charset "utf-8";

.accordion {}
.accordion .acc_title {}
.accordion .acc_title a {display:block;}
.accordion .acc_title i {transition:all .3s; content:"f078";}
.accordion .acc_cont {display:none;}
.accordion.on {}
.accordion.on .acc_title i {transform:rotate(180deg);}
.accordion.on .acc_cont {display:;}