@charset "UTF-8";
/* variable */
/* background */
/* reset */
.r_mp {
  margin: 0;
  padding: 0;
}
.r_li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* font */
/* line height */
/* size */
.full {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.fullWidth {
  width: 100%;
}
/* margin */
/* padding */
/* border */
/* align */
.center {
  text-align: center;
}
.flex {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
}
/* display */
.block {
  display: block;
}
.i_block {
  display: inline-block;
  vertical-align: middle;
}
/* overflow hidden */
.hidden {
  overflow: hidden;
}
/* table */
/* design */
/* position */
/* float */
.clear {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: both;
}
/* font family */
.lato {
  font-family: 'Lato' !important;
}
.demi_light {
  font-family: 'NotoSansDemiLight' !important;
}
.medium {
  font-family: 'NotoSansMedium' !important;
}
.serif {
  font-family: 'NotoSerif' !important;
}
.serif_bold {
  font-family: 'NotoSerifBold' !important;
}
@media screen and (min-width: 760px) {
  html {
    font-size: 16px;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 23.98px;
  }
}
@media screen and (max-width: 740px) {
  html {
    font-size: 23.66px;
  }
}
@media screen and (max-width: 730px) {
  html {
    font-size: 23.33px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 23.01px;
  }
}
@media screen and (max-width: 710px) {
  html {
    font-size: 22.69px;
  }
}
@media screen and (max-width: 700px) {
  html {
    font-size: 22.36px;
  }
}
@media screen and (max-width: 690px) {
  html {
    font-size: 22.04px;
  }
}
@media screen and (max-width: 680px) {
  html {
    font-size: 21.72px;
  }
}
@media screen and (max-width: 670px) {
  html {
    font-size: 21.39px;
  }
}
@media screen and (max-width: 660px) {
  html {
    font-size: 21.07px;
  }
}
@media screen and (max-width: 650px) {
  html {
    font-size: 20.75px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 20.42px;
  }
}
@media screen and (max-width: 630px) {
  html {
    font-size: 20.1px;
  }
}
@media screen and (max-width: 620px) {
  html {
    font-size: 19.77px;
  }
}
@media screen and (max-width: 610px) {
  html {
    font-size: 19.45px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 19.13px;
  }
}
@media screen and (max-width: 590px) {
  html {
    font-size: 18.8px;
  }
}
@media screen and (max-width: 580px) {
  html {
    font-size: 18.48px;
  }
}
@media screen and (max-width: 570px) {
  html {
    font-size: 18.17px;
  }
}
@media screen and (max-width: 560px) {
  html {
    font-size: 17.84px;
  }
}
@media screen and (max-width: 550px) {
  html {
    font-size: 17.53px;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 17.21px;
  }
}
@media screen and (max-width: 530px) {
  html {
    font-size: 16.89px;
  }
}
@media screen and (max-width: 520px) {
  html {
    font-size: 16.57px;
  }
}
@media screen and (max-width: 510px) {
  html {
    font-size: 16.25px;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 15.93px;
  }
}
@media screen and (max-width: 490px) {
  html {
    font-size: 15.62px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15.29px;
  }
}
@media screen and (max-width: 470px) {
  html {
    font-size: 14.98px;
  }
}
@media screen and (max-width: 460px) {
  html {
    font-size: 14.66px;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 14.34px;
  }
}
@media screen and (max-width: 440px) {
  html {
    font-size: 14.02px;
  }
}
@media screen and (max-width: 430px) {
  html {
    font-size: 13.71px;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 13.38px;
  }
}
@media screen and (max-width: 410px) {
  html {
    font-size: 13.07px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 12.75px;
  }
}
@media screen and (max-width: 390px) {
  html {
    font-size: 12.43px;
  }
}
@media screen and (max-width: 380px) {
  html {
    font-size: 12.11px;
  }
}
@media screen and (max-width: 370px) {
  html {
    font-size: 11.79px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 11.47px;
  }
}
@media screen and (max-width: 350px) {
  html {
    font-size: 11.16px;
  }
}
@media screen and (max-width: 340px) {
  html {
    font-size: 10.83px;
  }
}
@media screen and (max-width: 330px) {
  html {
    font-size: 10.52px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 10.2px;
  }
}
/* web font */
@font-face {
  font-family: "NotoSansMedium";
  src: url('../fonts/NotoSans-Medium.eot');
  src: local('※'), url('../fonts/NotoSans-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-Medium.woff') format('woff'), url('../fonts/NotoSans-Medium.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansDemiLight";
  src: url('../fonts/NotoSans-DemiLight.eot');
  src: local('※'), url('../fonts/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'), url('../fonts/NotoSans-DemiLight.woff') format('woff'), url('../fonts/NotoSans-DemiLight.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url('../fonts/lato-light.eot');
  src: local('※'), url('../fonts/lato-light.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light.woff') format('woff'), url('../fonts/lato-light.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-all;
  font-family: 'NotoSansDemiLight';
  line-height: 1.2;
  letter-spacing: -0.04em;
}
a {
  text-decoration: none;
}
img,
button {
  border: none solid #ccc;
}
input:focus,
textarea:focus,
select:focus {
  border: none;
  outline: none;
}
/* caption */
caption {
  font-size: 0;
  text-indent: -9999px;
}
.hidden_text {
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  width: 0 !important;
  height: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  text-indent: -9999px !important;
}
.text_orange {
  color: #ba2e12 !important;
  text-decoration: underline;
}
.mobile.iphone.hidden {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.mobile.android.hidden {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
::placeholder {
  color: #999;
  opacity: 1;
  /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999 !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999;
}
.skip_navi {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.skip_navi a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #000;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
.skip_navi a:focus {
  top: 30px;
}
header.header_wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  transition: all 0.5s;
}
header.header_wrap .gnb_wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 34px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  animation-name: gnbAni;
  animation-duration: 2s;
}
header.header_wrap .gnb_wrap .inner {
  max-width: 1440px;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  width: 96%;
}
header.header_wrap .gnb_wrap .inner:after {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: both;
}
header.header_wrap .gnb_wrap .inner a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #bcbcbc;
  font-weight: normal;
  margin-left: 12px;
  padding-left: 12px;
  line-height: 34px;
}
header.header_wrap .gnb_wrap .inner a:first-child {
  margin-left: 0;
  padding-left: 0;
}
header.header_wrap .gnb_wrap .inner a:first-child:before {
  display: none;
}
header.header_wrap .gnb_wrap .inner a:before {
  display: block;
  content: "";
  position: absolute;
  top: 12px;
  left: 0;
  width: 1px;
  height: 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.2);
}
header.header_wrap .gnb_wrap .inner .lang_wrap {
  float: left;
  vertical-align: top;
}
header.header_wrap .gnb_wrap .inner .family_site_wrap {
  float: right;
  vertical-align: top;
}
header.header_wrap .gnb_wrap .inner .family_site_wrap a {
  color: #fff;
  font-family: 'NotoSansDemiLight' !important;
}
header.header_wrap .gnb_wrap .inner .family_site_wrap a:first-child {
  font-family: 'NotoSansMedium' !important;
}
header.header_wrap .header {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  width: 96%;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 60px;
}
header.header_wrap .header .btn_menu {
  position: absolute;
  top: 62px;
  left: 0;
  z-index: 58;
  display: block;
  width: 28px;
  height: 25px;
  box-sizing: border-box;
  background: url(../images/main/main_sprite_pannel.png) -95px -152px no-repeat;
  animation-name: opacityAni;
  animation-duration: 3s;
}
header.header_wrap .header .logo {
  position: relative;
  display: block;
  z-index: 12;
  width: 250px;
  height: 25px;
  box-sizing: border-box;
  margin: 0 auto;
  background: url('../images/common/pc/img_sprite.png') no-repeat 0 0;
  -webkit-background-size: 600px 600px;
  -ms-background-size: 600px 600px;
  -moz-background-size: 600px 600px;
  -o-background-size: 600px 600px;
  background-size: 600px 600px;
}
header.header_wrap .header .search_top_area {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 55;
  width: 414px;
  height: 54px;
  box-sizing: border-box;
  animation-name: opacityAni;
  animation-duration: 1s;
}
header.header_wrap .header .search_top_area .custom_input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform: translate(100%, 0);
  border-bottom: 2px solid #fff;
  transition: all 0.5s;
}
header.header_wrap .header .search_top_area .custom_input input[type="text"] {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  font-size: 18px;
  color: #fff;
  font-weight: normal;
  border: none;
}
header.header_wrap .header .search_top_area .custom_input input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
}
header.header_wrap .header .search_top_area .custom_input.on {
  transform: translate(0, 0);
}
header.header_wrap .header .search_top_area .btn_search {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 10;
  width: 30px;
  height: 29px;
  box-sizing: border-box;
  background: url(../images/main/main_sprite_pannel.png) 0 -152px no-repeat;
}
header.header_wrap .header:after {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: both;
}
header.header_wrap.active .main_logo {
  display: block;
}
header.header_wrap.active .search_top_area {
  display: block;
}
.container:after {
  display: block;
  content: '';
  height: 0;
  font-size: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  clear: both;
}
.sroll_down {
  display: block;
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 20;
  width: 90px;
  height: 54px;
  box-sizing: border-box;
  margin-left: -45px;
  background: url(../images/main/bg_scroll_down.png) 0 0 no-repeat;
  background-size: contain;
  text-indent: -999em;
}
section .gate_title {
  margin: 0;
  padding: 0;
  padding-top: 90px;
  text-align: center;
  font-family: 'NotoSansMedium' !important;
}
section .gate_title span.top {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 22px;
  color: #2c55af;
  font-weight: normal;
  padding-bottom: 4px;
  border-bottom: 2px solid #2c55af;
}
section .gate_title p {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 29px;
  font-size: 60px;
  color: #222;
  font-weight: normal;
}
section .gate_title span.text {
  display: block;
  font-size: 18px;
  color: #666;
  font-weight: normal;
  line-height: 1.67;
  font-family: 'NotoSansDemiLight' !important;
}
section#section01 {
  background: url('../images/main/bg_gate.jpg') no-repeat left top;
  background-size: cover;
  width: 100%;
  height: 100%;
  padding-top: 115px;
}
section#section01 .gate_title {
  padding-top: 43px;
}
section#section01 .gate_title span.top {
  color: #fff;
  border-bottom: 2px solid #fff;
}
section#section01 .gate_title p {
  color: #fff;
}
section#section01 .gate_title span.text {
  color: #fff;
}
section#section01 ul.job_recruit {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  width: 94%;
  padding-top: 48px;
  padding-bottom: 90px;
}
section#section01 ul.job_recruit > li {
  display: flex;
  align-items: center;
  width: calc(100%/5 - 10px);
  max-width: 242px;
  height: 255px;
  box-sizing: border-box;
  margin-top: 9px;
  margin-right: 10px;
  position: relative;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
  font-family: 'NotoSansMedium' !important;
  border: 3px solid #fff;
}
section#section01 ul.job_recruit > li span {
  display: block;
  margin: 0 auto;
}
section#section01 ul.job_recruit > li .hover_box {
  display: none;
  background: #e47740;
  position: absolute;
  top: -3px;
  left: -3px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  padding: 30px 29px 0 29px;
  box-sizing: border-box;
  text-align: left;
}
section#section01 ul.job_recruit > li .hover_box .title {
  font-size: 22px;
  color: #fff;
  font-weight: normal;
  font-family: 'NotoSansMedium' !important;
}
section#section01 ul.job_recruit > li .hover_box .title span {
  display: block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-family: 'NotoSansDemiLight' !important;
  word-break: keep-all;
  line-height: 1.5;
  margin-top: 21px;
}
section#section01 ul.job_recruit > li .hover_box ul.btn_area {
  position: absolute;
  bottom: 26px;
  left: 29px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: calc(100% - 58px);
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  flex-wrap: wrap;
  justify-content: flex-start;
}
section#section01 ul.job_recruit > li .hover_box ul.btn_area li {
  width: 100%;
  text-align: left;
  margin-top: 5px;
  line-height: 1.35;
}
section#section01 ul.job_recruit > li .hover_box ul.btn_area li a {
  position: relative;
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  padding-bottom: 5px;
  padding-right: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  font-family: 'NotoSansDemiLight' !important;
}
section#section01 ul.job_recruit > li .hover_box ul.btn_area li a:after {
  display: block;
  content: '';
  background: url('../images/main/main_sprite_pannel.png') no-repeat -110px -200px;
  width: 7px;
  height: 11px;
  position: absolute;
  top: 8px;
  right: 0;
}
section#section01 ul.job_recruit > li:nth-child(6) {
  width: calc((100%/5)*3 - 10px);
  max-width: 740px;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box {
  background: rgba(255, 255, 255, 0.9);
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box .title {
  color: #222;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box .title span {
  color: #666;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box ul.btn_area {
  bottom: 21px;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box ul.btn_area li {
  width: auto;
  margin-right: 30px;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box ul.btn_area li a {
  color: #000;
  display: block;
  border-bottom: 1px solid #e0e0e0;
}
section#section01 ul.job_recruit > li:nth-child(6) .hover_box ul.btn_area li a:after {
  background-position: -95px -200px;
  top: 4px;
}
section#section01 ul.job_recruit > li:last-child {
  width: calc((100%/5)*2 - 10px);
  max-width: 490px;
}
section#section01 ul.job_recruit > li:hover .hover_box {
  display: block;
}
section#section02 {
  background: #f2f2f2;
  padding-bottom: 100px;
}
section#section02 .tab_menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  padding-top: 65px;
}
section#section02 .tab_menu li {
  position: relative;
  padding: 0 20px;
}
section#section02 .tab_menu li a {
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
section#section02 .tab_menu li a:before {
  display: block;
  content: '';
  background: #e6e6e6;
  width: 1px;
  height: 17px;
  position: absolute;
  top: 2px;
  left: 0;
}
section#section02 .tab_menu li a.on {
  font-family: 'NotoSansMedium' !important;
  color: #000;
  border-bottom: 1px solid #000;
}
section#section02 .tab_menu li:first-child a:before {
  display: none;
}
.btn_anchor_wrap {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 10;
  transform: translateY(-50%);
}
.btn_anchor_wrap ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 155px;
}
.btn_anchor_wrap ul li {
  line-height: 2;
  position: relative;
}
.btn_anchor_wrap ul li a {
  display: block;
  text-indent: -9999px;
  width: 100%;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0);
}
.btn_anchor_wrap ul li a:after {
  display: block;
  content: '';
  background: rgba(0, 0, 0, 0.2);
  width: 10px;
  height: 10px;
  border-radius: 5px;
  position: absolute;
  top: 16px;
  right: 20px;
}
.btn_anchor_wrap ul li.on a {
  text-indent: 0;
  font-size: 16px;
  color: #222;
  font-weight: normal;
  padding-left: 12px;
}
.btn_anchor_wrap ul li.on a:after {
  background: #222222;
  width: 60px;
  height: 1px;
  right: 0;
}
.btn_anchor_wrap ul li:first-child.on a {
  color: #fff;
}
.btn_anchor_wrap ul li:first-child.on a:after {
  background: #ffffff;
}
footer.footer_wrap {
  position: relative;
  min-width: 320px;
  height: 150px;
  box-sizing: border-box;
  background: #2f2f2f;
}
footer.footer_wrap .footer {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  justify-content: space-between;
  max-width: 1240px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
footer.footer_wrap .footer .address {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: flex-start;
}
footer.footer_wrap .footer .address li {
  position: relative;
  margin-left: 15px;
  padding-left: 15px;
}
footer.footer_wrap .footer .address li a {
  display: block;
  font-size: 15px;
  color: #fff;
  font-weight: normal;
  opacity: .5;
}
footer.footer_wrap .footer .address li:first-child {
  margin-left: 0;
  padding-left: 0;
}
footer.footer_wrap .footer .address li:first-child:before {
  display: none;
}
footer.footer_wrap .footer .address li:before {
  display: block;
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 1px;
  height: 17px;
  box-sizing: border-box;
  background: #484848;
}
footer.footer_wrap .footer .copyright {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  opacity: 0.4;
  letter-spacing: 0;
}
.btn_top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 25px;
  background: rgba(255, 255, 255, 0.9);
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  z-index: 20;
  text-indent: -9999px;
  font-size: 0;
}
.btn_top:before {
  display: block;
  content: '';
  background: url('../images/common/pc/img_sprite.png') no-repeat -119px -60px;
  -webkit-background-size: 600px 600px;
  -ms-background-size: 600px 600px;
  -moz-background-size: 600px 600px;
  -o-background-size: 600px 600px;
  background-size: 600px 600px;
  width: 16px;
  height: 18px;
  box-sizing: border-box;
  margin: 15px auto 0 auto;
}
.btn_top.show {
  display: block;
}
.dimm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-out;
  opacity: 0;
  display: none;
}
.dimm.on {
  display: block;
  opacity: 0.6;
}
.layer_dimm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  transition: all 1s ease-out;
  opacity: 0;
  display: none;
}
.layer_dimm.on {
  display: block;
  opacity: 0.6;
}
.search_dimm {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  transition: all 1s ease-out;
  opacity: 0;
  display: none;
}
.search_dimm.on {
  display: block;
  opacity: 0.6;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 0.5s ease-out;
  transform: translate(-100%, 0);
}
.layer .layer_cont {
  position: relative;
}
.layer .btn_layer_close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  background: url(../images/main/main_sprite_pannel.png) 0 -264px no-repeat;
}
.layer.on {
  transform: translate(0, 0);
}
.layer_web_accessibility {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 700px;
  height: 460px;
  box-sizing: border-box;
  background: #fff;
  padding: 45px 60px;
  transition: none;
  opacity: 1;
  transform: translate(-50%, -50%);
}
.layer_web_accessibility .layer_header h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-size: 30px;
  color: #000;
  font-weight: normal;
}
.layer_web_accessibility .layer_header h1.br_bottom {
  border-bottom: 1px solid #e6e6e6;
}
.layer_web_accessibility .layer_cont {
  padding-top: 42px;
  border-top: 1px solid #e6e6e6;
}
.layer_web_accessibility .layer_cont .layer_sub_title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 22px;
  color: #222;
  font-weight: normal;
  line-height: 1.545;
}
.layer_web_accessibility .layer_cont .layer_desc {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #666;
  font-weight: normal;
  line-height: 1.666;
}
.layer_web_accessibility.on {
  display: block;
  transform: translate(-50%, -50%);
}
.layer_exemption {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 700px;
  height: 460px;
  box-sizing: border-box;
  background: #fff;
  padding: 45px 60px;
  transform: translate(-50%, -50%);
}
.layer_exemption .layer_header h1 {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-size: 30px;
  color: #000;
  font-weight: normal;
}
.layer_exemption .layer_header h1.br_bottom {
  border-bottom: 1px solid #e6e6e6;
}
.layer_exemption .layer_cont {
  padding-top: 42px;
  border-top: 1px solid #e6e6e6;
}
.layer_exemption .layer_cont .layer_sub_title {
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  font-size: 22px;
  color: #222;
  font-weight: normal;
  line-height: 1.545;
}
.layer_exemption .layer_cont .layer_desc {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #666;
  font-weight: normal;
  line-height: 1.666;
}
.layer_exemption.on {
  display: block;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1280px) {
  .btn_anchor_wrap ul {
    width: 90px;
  }
  .btn_anchor_wrap ul li.on a:after {
    width: 10px;
  }
  section#section01 ul.job_recruit {
    max-width: 1100px;
  }
  section#section01 ul.job_recruit > li {
    font-size: 22px;
  }
  section#section01 ul.job_recruit > li .hover_box .title {
    font-size: 20px;
  }
  section#section01 ul.job_recruit > li .hover_box .title span {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .skip_navi {
    display: none;
  }
  header.header_wrap {
    height: 4.5416rem;
    box-sizing: border-box;
    padding: 0 1.666rem;
    z-index: 25;
  }
  header.header_wrap .gnb_wrap {
    display: none;
  }
  header.header_wrap .header {
    display: box;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-align: center;
    padding-top: 0;
    transition: all 0.5s;
  }
  header.header_wrap .header .btn_menu {
    top: 1.541rem;
    width: 1.75rem;
    height: 1.5rem;
    box-sizing: border-box;
    background-position: -5.865rem -6.333rem;
    background-size: 25rem 25rem;
  }
  header.header_wrap .header .main_logo {
    width: 13.458rem;
    height: 1.375rem;
    box-sizing: border-box;
    background-position: 0 -4.666rem;
    background-size: 25rem 25rem;
    animation-name: none;
    transform: none;
    animation-name: opacityAni;
    animation-duration: 1s;
  }
  header.header_wrap .header .search_top_area {
    top: 0;
    right: 0;
    width: 100%;
    height: 4.5416rem;
    box-sizing: border-box;
  }
  header.header_wrap .header .search_top_area .custom_input {
    transform: translate(101%, 0);
  }
  header.header_wrap .header .search_top_area .custom_input input[type="text"] {
    font-size: 1.25rem;
    color: #fff;
    font-weight: normal;
  }
  header.header_wrap .header .search_top_area .btn_search {
    top: 1.5rem;
    width: 1.8333rem;
    height: 1.7916rem;
    box-sizing: border-box;
    background-position: -1.625rem -6.333rem;
    background-size: 25rem 25rem;
  }
  .sroll_down {
    bottom: 11.25rem;
  }
  .footer {
    position: relative;
    padding: 0 0;
  }
  .footer.mo {
    display: block;
    height: 24rem;
    box-sizing: border-box;
  }
  .footer.mo .footer_menu {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 0;
    justify-content: center;
    margin-top: 2.25rem;
  }
  .footer.mo .footer_menu li a {
    padding-left: 0.875rem;
    margin-right: 0.875rem;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: normal;
    opacity: 1;
  }
  .footer.mo .footer_menu li a:before {
    top: 0.416rem;
    width: 0.08333rem;
    height: 0.7083rem;
  }
  .footer.mo p.copyright {
    position: static;
    margin-top: 1rem;
    text-align: center;
    opacity: 1;
    font-size: 0.8333rem;
    color: rgba(255, 255, 255, 0.3);
    font-weight: normal;
  }
  .footer.pc {
    display: none;
  }
  .layer .btn_layer_close {
    top: 1.666rem;
    right: 2rem;
    width: 1.2916rem;
    height: 1.2916rem;
    box-sizing: border-box;
    background-position: -1.625rem -11rem;
    background-size: 25rem 25rem;
  }
}
