<v-app>
  <v-body title="회원등록">
    <div class="container">
      <div class="mem_enrollment">
        <div class="top">
          <h4 class="main_title">
            <span class="highlight">회원등록완료</span>
          </h4>
        </div>
        <p class="stxt tc">다양함이 존중되는 라이프스타일먼트의 실현, <br class="mo">빌리브 라이프 서비스가 함께합니다.</p>
        <div class="round_box mem_comp">
          <div class="content">
            <p>
              <strong>{{globalVars.userDetail?.bzNm}}</strong>
              선택하신 단지 메인으로 이동합니다.
            </p>
            <div class="btn_area">
              <button (click)="goMainPage()" type="button" class="btn btn_type2">메인 이동</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>
