.page
    .page_overlay
        %div{:style => 'position: fixed; z-index: -99; width: 2320px; height: 180%; left: -300px;top: -38%;'}
            <iframe frameborder="0" height="100%" width="100%" src="https://youtube.com/embed/G_Q6I7nj23A?start=300&autoplay=1&controls=0&showinfo=0&autohide=1&mute=1"></iframe>
    .page_header
        .page_header__logo.trigger
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cehrnobylLogo.png'}
        .page_header__menu.trigger
            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernmenu.png'}
    .page_slider
        .page_slider__slide
            .slide
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernimage2.png'}
                        .image_burnline
                        .image_ash
                        .image_ashOuter
                        
                .slide_right
                    .slide_right__text
                        %h2 Slide title
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
        .page_slider__slide
            .slide.alt
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cimage11.png'}
                        .image_burnline
                        .image_ash
                        .image_ashOuter
                        
                .slide_right
                    .slide_right__text
                        %h2 Slide title
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
        .page_slider__slide
            .slide
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernImage1.png'}
                        .image_burnline
                        .image_ash
                        .image_ashOuter
                        
                .slide_right
                    .slide_right__text
                        %h2 Slide title
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
        .page_slider__slide
            .slide.alt
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernimage2.png'}
                        .image_burnline
                        .image_ash
                        .image_ashOuter
                        
                .slide_right
                    .slide_right__text
                        %h2 Slide title
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
        .page_slider__slide
            .slide
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/cimage11.png'}
                        .image_burnline
                        .image_ash
                        .image_ashOuter
                        
                .slide_right
                    .slide_right__text
                        %h2 Next
                        %p In 1986 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
        .page_slider__slide
            .slide.alt
                .slide_left
                    .image
                        .image_burn 
                        .image_original
                            %img{:src => 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/chernImage1.png'}
                        .image_burnline
                        .image_ash
                        
                .slide_right
                    .slide_right__text
                        %h2 The reactor explodes
                        %p In 1986 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.
                        %button.trigger next
    .page_sliderprogress
        .page_sliderprogress__point.active
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        .page_sliderprogress__point
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        .page_sliderprogress__point
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        .page_sliderprogress__point
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        .page_sliderprogress__point
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        .page_sliderprogress__point
            .point
            .text
                %h3 September 3rd 1986
                %h4 1:30am
        