.btn_img_close  {
    background: url('/assets/common/btn_popup_close.svg') no-repeat;
    background-size: 100%;
    width: 2.5rem;
    height: 2.5rem;
    text-indent: -9999px;
    position: absolute;
    top: 0;
    right: 0;
}

.img_wrap {
    margin-top: 5rem;
    overflow-y: auto;
}
.img_wrap img {
    width: 100%;
}