<v-app>
    <v-body title="서비스 이용/예약관리">
        <div class="container">
            <div class="svc_list">
                <div class="search_area">
                    <dl>
                        <dt>서비스 구분</dt>
                        <dd>
                            <ng-select [items]="[
                                    { name: '전체'},
                                    { name: '휘트니스 센터'},
                                    { name: '미팅룸'},
                                    { name: '멀티프로그램실'},
                                    { name: '비즈니스센터'}
                                ]"
                                    [searchable]="false"
                                    bindLabel="name"
                                    placeholder="전체"
                            >
                            </ng-select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>이용상태</dt>
                        <dd>
                            <ng-select [items]="[
                                    { name: '전체'},
                                    { name: '이용전'},
                                    { name: '이용중'},
                                    { name: '이용완료'},
                                    { name: '취소'}
                                ]"
                                    [searchable]="false"
                                    bindLabel="name"
                                    placeholder="전체"
                            >
                            </ng-select>
                        </dd>
                    </dl>
                    <dl class="date_area">
                        <dt>이용/예약 월</dt>
                        <dd>
                            <div class="input_row">
                                <ng-select [items]="[
                                        { name: '2020년'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="연도"
                                >
                                </ng-select>
                                <ng-select [items]="[
                                        { name: '01월'},
                                        { name: '02월'},
                                        { name: '03월'},
                                        { name: '04월'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="월"
                                >
                                </ng-select>
                                <span>~</span>
                                <ng-select [items]="[
                                        { name: '2020년'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="연도"
                                >
                                </ng-select>
                                <ng-select [items]="[
                                        { name: '01월'},
                                        { name: '02월'},
                                        { name: '03월'},
                                        { name: '04월'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="월"
                                >
                                </ng-select>
                            </div>
                        </dd>
                    </dl>
                    <div class="btn_area">
                        <button type="button" class="btn btn_type2 w_100">검색</button>
                    </div>
                </div>
                <div class="list_count">
                    <p>총 <span class="red">0</span>건</p>
                </div>
                <div class="round_box">
                    <div class="content">
                        <ul class="tbl_list">
                            <li class="thead">
                                <span class="th">이용/예약 서비스</span>
                                <span class="th">옵션</span>
                                <span class="th">청구예정</span>
                                <span class="th">신청자</span>
                                <span class="th">이용상태</span>
                            </li>
                            <li class="no_data">
                                <p>조회된 서비스 이용/예약 내역이 없습니다.</p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr period">휘트니스 센터</span>
                                    <p><a href="#">휘트니스 센터 / 6층 A-LINE 동측</a></p>
                                    <span class="date">2020.10.01 ~ 2020.10.30</span>
                                </div>
                                <p>자동연장<br>신청안함</p>
                                <p>2020년 11월<span class="block">20,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.25 09:21</span></p>
                                <p>이용전</p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr period">미팅룸</span>
                                    <p><a href="#">7층-미팅룸 C / 1동 7층 B-LINE</a></p>
                                    <span class="date">2020.09.15 ~ 2020.09.30</span>
                                </div>
                                <p>-</p>
                                <p>2020년 10월<span class="block">35,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.14 21:21</span></p>
                                <p>취소<span class="iblock">(이용중)</span><span class="block cancel">2020.09.21 15:33</span></p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr day">멀티프로그램실</span>
                                    <p><a href="#">멀티프로그램실 / 104동 2층</a></p>
                                    <span class="date">2020.09.29 09:00 ~ 21:00</span>
                                </div>
                                <p>-</p>
                                <p>2020년 10월<span class="block">12,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.14 09:21</span></p>
                                <p>이용중</p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr day">비즈니스센터</span>
                                    <p><a href="#">비즈니스센터 / 104동 2층</a></p>
                                    <span class="date">2020.09.18 19:00 ~ 21:00</span>
                                </div>
                                <p>-</p>
                                <p>2020년 10월<span class="block">3,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.14 17:21</span></p>
                                <p>이용완료</p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr day">미디어룸</span>
                                    <p><a href="#">1인 방송실 / 1동 9층 B-LINE</a></p>
                                    <span class="date">2020.09.18 19:00 ~ 21:00</span>
                                </div>
                                <p>방송장비<br>+ 10,000 원</p>
                                <p>2020년 10월<span class="block">12,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.25 10:21</span></p>
                                <p>이용완료</p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr period">파티오하우스</span>
                                    <p><a href="#">전체(게스트룸 A/B 라운지) / 2층 중정</a></p>
                                    <span class="date">2020.09.18 ~ 2020.09.20</span>
                                </div>
                                <p>-</p>
                                <p>-</p>
                                <p>빌리브<span class="block">2020.09.14 21:21</span></p>
                                <p>취소<span class="iblock">(이용전)</span><span class="block cancel">2020.09.10 15:33</span></p>
                            </li>
                            <li>
                                <div>
                                    <span class="ctgr study">바른 자세 성장마사지&요가(3~5세, 성인)</span>
                                    <p><a href="#">7층-미팅룸 A / 1동 7층 B-LINE</a></p>
                                    <span class="date">2020.09.07 ~ 2020.10.30 / 금,토 / 10:00 ~ 12:00</span>
                                </div>
                                <p>-</p>
                                <p>2020년 10월<span class="block">12,000 원</span></p>
                                <p>빌리브<span class="block">2020.09.14 21:21</span></p>
                                <p>이용완료</p>
                            </li>
                        </ul>
                            
                        <!-- 더보기 -->
                        <a class="add_item" href="#">더보기</a>
                    </div>
                </div>
            </div>
        </div>
    </v-body>
</v-app>