<v-app>
    <v-body title="제휴 서비스 신청내역 조회">
        <div class="container">
            <div class="svc_list">
                <div class="search_area">
                    <dl>
                        <dt>서비스 구분</dt>
                        <dd>
                            <ng-select [items]="[
                                    { name: '전체'},
                                    { name: '휘트니스 센터'},
                                    { name: '미팅룸'},
                                    { name: '멀티프로그램실'},
                                    { name: '비즈니스센터'}
                                ]"
                                    [searchable]="false"
                                    bindLabel="name"
                                    placeholder="전체"
                            >
                            </ng-select>
                        </dd>
                    </dl>
                    <dl class="date_area">
                        <dt>이용/예약 월</dt>
                        <dd>
                            <div class="input_row">
                                <ng-select [items]="[
                                        { name: '2020년'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="연도"
                                >
                                </ng-select>
                                <ng-select [items]="[
                                        { name: '01월'},
                                        { name: '02월'},
                                        { name: '03월'},
                                        { name: '04월'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="월"
                                >
                                </ng-select>
                                <span>~</span>
                                <ng-select [items]="[
                                        { name: '2020년'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="연도"
                                >
                                </ng-select>
                                <ng-select [items]="[
                                        { name: '01월'},
                                        { name: '02월'},
                                        { name: '03월'},
                                        { name: '04월'}
                                    ]"
                                        [searchable]="false"
                                        bindLabel="name"
                                        placeholder="월"
                                >
                                </ng-select>
                            </div>
                        </dd>
                    </dl>
                    <div class="btn_area">
                        <button type="button" class="btn btn_type2 w_100">검색</button>
                    </div>
                </div>
                <div class="list_count">
                    <p>총 <span class="red">0</span>건</p>
                </div>
                <div class="round_box">
                    <div class="content">
                        <ul class="tbl_list">
                            <li class="thead">
                                <span class="th">이용/예약 서비스</span>
                                <span class="th">예약일자</span>
                                <span class="th">신청자</span>
                            </li>
                            <li class="no_data">
                                <p>조회된 서비스 이용/예약 내역이 없습니다.</p>
                            </li>
                            <li>
                                <div>
                                    <p><a href="#">영구크린 청소서비스</a></p>
                                </div>
                                <p>2020.10.20 (화)</p>
                                <p>빌리브 / 2020.09.25 09:21</p>
                            </li>
                            <li>
                                <div>
                                    <p><a href="#">영구크린 청소서비스</a></p>
                                </div>
                                <p>2020.10.22 (목)</p>
                                <p>빌리브 / 2020.09.25 09:21</p>
                            </li>
                            <li>
                                <div>
                                    <p><a href="#">영랑호 리조트</a></p>
                                </div>
                                <p>2020.10.20 (화)</p>
                                <p>빌리브 / 2020.09.25 09:21</p>
                            </li>
                            <li>
                                <div>
                                    <p><a href="#">영구크린 청소서비스</a></p>
                                </div>
                                <p>2020.10.20 (화)</p>
                                <p>빌리브 / 2020.09.25 09:21</p>
                            </li>
                            <li>
                                <div>
                                    <p><a href="#">영구크린 청소서비스</a></p>
                                </div>
                                <p>2020.10.20 (화)</p>
                                <p>빌리브 / 2020.09.25 09:21</p>
                            </li>
                        </ul>
                            
                        <!-- 더보기 -->
                        <a class="add_item" href="#">더보기</a>
                    </div>
                </div>
            </div>
        </div>
    </v-body>
</v-app>
