<v-app>
    <v-body title="회원등록">
        <div class="container">
            <div class="mem_enrollment">
                <div class="top">
                    <h4 class="main_title">
                        <span class="highlight">회원정보 확인</span>
                    </h4>
                    <ul class="step">
                        <li>1</li>
                        <li class="on">2</li>
                        <li>3</li>
                    </ul>
                </div>
                <p class="stxt">안전한 서비스 제공을 위해 회원정보를 확인하세요.</p>
                <div class="round_box mem_info">
                    <div class="content">
                        <h5>회원정보</h5>
                        <div class="mem_box">
                            <div class="left">
                                <dl>
                                    <dt>이름</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2 disabled" [value]="custMst.custNm" title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl>
                                <!-- <dl>
                                    <dt>생년월일</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" [value]="custMst.brth | stringDateFormatDt:{isKo:true}" title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl> -->
                                <dl>
                                    <dt>휴대폰번호</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" [value]="custMst.mpPhoneNo | parseFormatPhoneNumber " title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                            <div class="right">
                                <dl>
                                    <dt>단지명</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" [value]="custMst.bzNm" title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>동/호</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" [value]="custMst.blNo + '동'" title="" disabled="disabled">
                                            <input type="text" class="com_inp2" [value]="custMst.rmNo + '호'" title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>세대원정보</dt>
                                    <dd>
                                        <div class="input_row">
                                            <input type="text" class="com_inp2" [value]="'세대원' + (custMst.hoReprYn==='1' ? ' 대표' : '') " title="" disabled="disabled">
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <p class="dot_ps_txt">회원정보가 잘못된 경우 관리사무실에 문의하세요.</p>
                    </div>
                </div>

                <!-- 11.13 생년월일 입력 폼 추가 -->
                <div class="round_box add_info">
                    <div class="content">
                        <h5>부가정보<span>(<span class="necessary"></span>) 필수입력</span></h5>
                        <div class="mem_box">
                            <div class="left">
                                <dl>
                                    <dt>생년월일<span class="necessary"></span></dt>
                                    <dd>
                                        <div class="input_row">
<!--                                            TODO formatting..-->
                                            <input placeholder="예)19901020" type="text" class="com_inp2" [(ngModel)]="brth" [maxLength]="8">
<!--                                            <a class="btn_calendar" (click)="openDatePickerPopup()">날짜 선택</a>-->
                                        </div>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <p class="dot_ps_txt">생년월일을 잘못 입력해 발생하는 예약 건에 대한 책임은 예약자에게 있음을 알려드립니다.</p>
                    </div>
                </div>
                <!-- // 11.13 생년월일 입력 폼 추가 -->
                
                <p class="txt">빌리브 라이프 서비스 회원등록을 완료하시겠습니까?</p>
                <div class="btn_area">
                    <button (click)="onClickPrev()" type="button" class="btn btn_type1">이전</button>
                    <button (click)="onClickNext()" type="button" class="btn btn_type2">다음</button>
                </div>
            </div>
        </div>
    </v-body>
</v-app>
