.round_box {
    // margin-top: 3.333rem;
}
.round_box .content {
    padding: 0.5rem 0;
} 

h5 button {
    font-size: 1rem;
    color: #8D8785;
    position: absolute;
    top: 0.3333rem;
    right: 0;
    border-bottom: 1px solid #8D8785;
    // padding-bottom: 0.1667rem;
}

dl {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 1.917rem;
}
dl dt {
    font-size: 1.25rem;
    width: 6.833rem;
}
dl dd {
    font-size: 1.167rem;
}

p {
    font-size: 1.167rem;
    padding-left: 0.8333rem;
    position: relative;
    margin-top: 2.25rem;
    color: #5A514C;
    line-height: 1.57;
}
p:before {
    display: block;
    content: "*";
    position: absolute;
    top: 0.25rem;
    left: 0;
}

.btn_area {
    margin-top: 2.083rem;
}

@media screen and (min-width: 1025px) {
    .round_box {
        // margin-top: 33px;
    }
    .round_box .content {
        padding: 0;
    } 
    .round_box .content > div {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    h5 button {
        font-size: 14px;
        top: 3px;
    }
    
    dl {
        width: 50%;
        margin-top: 28px;
    }
    dl dt {
        font-size: 18px;
        width: 130px;
    }
    dl dd {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
        padding-left: 0;
        margin-top: 48px;
        margin-bottom: 15px;
        text-align: center;
    }
    p:before {
        display: inline-block;
        position: relative;
        vertical-align: middle;
    }
    
    .btn_area {
        margin-top: 30px;
    }

}