
.svc_mng .apply {}
.svc_mng .apply dl dd > .btn {
    width: 8.5rem;
    height: 3rem;
    font-size: 1.167rem;
    line-height: 2.57;
    font-weight: 300;
    margin-top: 1.167rem;
}

.svc_mng .state {
    margin-top: 2.083rem;
}
.svc_mng .state .left {}
.svc_mng .state .left > div {
    margin-top: 1.917rem;
}
.svc_mng .state .left dl {
    align-items: center;
}
.svc_mng .state .left dl dt {
    width: 10rem;
}
.svc_mng .state .left dl dd {
    color: #E44E28;
}
.svc_mng .state .right {
    margin-top: 3.583rem;
}
.svc_mng .state .right .bot_area {
    margin-top: 2rem;
    margin-bottom: 0.8333rem;
}
.svc_mng .state .right .bot_area p {
    font-size: 1.167rem;
}

.svc_mng .state .right .btn_area {
    margin-top: 0.9167rem;
}

.svc_mng .apply .content .column2 {
    margin-top: 0;
}
.column2 .menu_list {
    background: #fff;
}
.column2 .menu_list ul {
    max-height: 25rem;
    overflow-y: auto;
}
.column2 .menu_list ul li {
    padding: 1.667rem 1rem;
    border-bottom: 0.08333rem solid rgba(112, 112, 112, .2) ;
}
.column2 .menu_list ul li .tit {
    font-size: 1.167rem;
}
.column2 .menu_list ul li .bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 1.417rem;
}
.column2 .menu_list ul li .bot .price {
    font-size: 1.167rem;
    color: #8D8785;
}
.column2 .menu_list ul li .bot .total {
    font-size: 1.5rem;
    font-weight: 700;
}
.column2 .menu_list ul li .bot .total span {
    font-size: 1.333rem;
    font-weight: 400;
}

.column2 .right {
    margin-top: 2.167rem;
}
.column2 .right > div {
    margin-top: 1.917rem;
}
.column2 .right dd .fc_org {
    display: block;
}

@media screen and (min-width: 1025px) {
        
    .svc_mng .apply {}
    .svc_mng .apply .content > div {
    }
    .svc_mng .apply .input_row {
        display: inline-flex;
    }
    .svc_mng .apply dl dd > .btn {
        width: 88px;
        height: 40px;
        font-size: 16px;
        line-height: 2.5;
        margin-top: 0;
        display: inline-block;
        margin-left: 19px;
    }
    
    .svc_mng .state {
        margin-top: 50px;
    }
    .svc_mng .state .left {}
    .svc_mng .state .left > div {
        margin-top: 24px;
    }
    .svc_mng .state .left dl {
        align-items: center;
    }
    .svc_mng .state .left dl dt {
        width: 130px;
    }
    .svc_mng .state .left dl dd {
        color: #E44E28;
    }
    .svc_mng .state .right {
        margin-top: 0;
    }
    .svc_mng .state .right .bot_area {
        margin-top: 24px;
        margin-bottom: 0;
    }
    .svc_mng .state .right .bot_area p {
        font-size: 17px;
        height: 127px;
        line-height: 7.47;
    }    
    .svc_mng .state .right .btn_area {
        margin-top: 47px;
    }
    .svc_mng .state .right .btn_area .btn {
        width: 100%;
    }
    .svc_mng .state:after {
        display: block;
        content: "";
        clear: both;
    }
    
    .left {
        float: left;
        width: 440px
    }
    .right {
        float: right;
        width: 440px;
    }

    .svc_mng .apply .content .column2 {
        display: block;
    }
    .column2 .menu_list ul {
        max-height: 367px;
    }
    .column2 .menu_list ul li {
        padding: 27px 25px;
        border-bottom-width: 1px;
    }
    .column2 .menu_list ul li .tit {
        font-size: 16px;
    }
    .column2 .menu_list ul li .bot {
        margin-top: 22px;
    }
    .column2 .menu_list ul li .bot .price {
        font-size: 16px;
    }
    .column2 .menu_list ul li .bot .total {
        font-size: 20px;
    }
    .column2 .menu_list ul li .bot .total span {
        font-size: 16px;
    }
    
    .column2 .right {
        margin-top: 0;
    }
    .column2 .right > div {
        margin-top: 25px;
    }
    .column2 .right dl {
        width: 100%;
    }
    .column2 .right dl + dl:nth-of-type(2) {
        margin-top: 22px;
    }
    .column2 dl.row2 {
        align-items: flex-start;
    }
    .column2:after {
        display: block;
        content: "";
        clear: both;
    }
}