@charset "utf-8";
/* NotoSans */
@font-face {
 font-family:"NotoSans";
 font-weight:300;
 src:url(../font/notosans/woff/NotoSansKR-Light.woff2) format('woff2'), url(../font/notosans/woff/NotoSansKR-Light.woff) format('woff');
}
@font-face {
 font-family:"NotoSans";
 font-weight:400;
 src:url(../font/notosans/woff/NotoSansKR-Regular.woff2) format('woff2'), url(../font/notosans/woff/NotoSansKR-Regular.woff) format('woff');
}
@font-face {
 font-family:"NotoSans";
 font-weight:700;
 src:url(../font/notosans/woff/NotoSansKR-Bold.woff2) format('woff2'), url(../font/notosans/woff/NotoSansKR-Bold.woff) format('woff');
}

/* Roboto */

@font-face {
 font-family:"RobotoThin";
 src: url(../font/roboto/eot/Roboto-Thin.eot);
 src: url(../font/roboto/eot/Roboto-Thin.eot?#iefix) format('embedded-opentype'),
	  url(../font/roboto/woff/Roboto-Thin.woff) format('woff'),
	  url(../font/roboto/ttf/Roboto-Thin.ttf) format('truetype');
}
@font-face {
 font-family:"RobotoRegular";
 src: url(../font/roboto/eot/Roboto-Regular.eot);
 src: url(../font/roboto/eot/Roboto-Regular.eot?#iefix) format('embedded-opentype'),
	  url(../font/roboto/woff/Roboto-Regular.woff) format('woff'),
	  url(../font/roboto/otf/Roboto-Regular.otf) format('opentype'),
	  url(../font/roboto/ttf/Roboto-Regular.ttf) format('truetype');
}
@font-face {
 font-family:"RobotoMedium";
 src: url(../font/roboto/eot/Roboto-Medium.eot);
 src: url(../font/roboto/eot/Roboto-Medium.eot?#iefix) format('embedded-opentype'),
	  url(../font/roboto/woff/Roboto-Medium.woff) format('woff'),
	  url(../font/roboto/otf/Roboto-Medium.otf) format('opentype'),
	  url(../font/roboto/ttf/Roboto-Medium.ttf) format('truetype');
}
@font-face {
 font-family:"RobotoBold";
 src: url(../font/roboto/eot/Roboto-Bold.eot);
 src: url(../font/roboto/eot/Roboto-Bold.eot?#iefix) format('embedded-opentype'),
	  url(../font/roboto/woff/Roboto-Bold.woff) format('woff'),
	  url(../font/roboto/otf/Roboto-Bold.otf) format('opentype'),
	  url(../font/roboto/ttf/Roboto-Bold.ttf) format('truetype');
}
@font-face {
 font-family:"RobotoBlack";
 src: url(../font/roboto/eot/Roboto-Black.eot);
 src: url(../font/roboto/eot/Roboto-Black.eot?#iefix) format('embedded-opentype'),
	  url(../font/roboto/woff/Roboto-Black.woff) format('woff'),
	  url(../font/roboto/otf/Roboto-Black.otf) format('opentype'),
	  url(../font/roboto/ttf/Roboto-Black.ttf) format('truetype');
}

/* font 적용 */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div, span, strong, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button{
	font-family:"NotoSans", "Roboto", "Apple SD Gothic Neo", "애플 SD 산돌고딕 Neo", "Helvetica Neue", sans-serif; 
	font-weight:400;
	letter-spacing:-.04em;
}

/* font class */
.f-noto-t{font-family:"NotoSansTin";}
/* .f-noto-l{font-family:"NotoSansLight";}
.f-noto-dl{font-family:"NotoSansDemiLight";} */
.f-noto-r{font-family:"NotoSansRegular";}
.f-noto-m{font-family:"NotoSansMedium";}
.f-noto-b{font-family:"NotoSansBold";}
.f-noto-bk{font-family:"NotoSansBlack";}

.f-robo-t{font-family:"RobotoThin";}
.f-robo-r{font-family:"RobotoRegular";}
.f-robo-m{font-family:"RobotoMedium";}
.f-robo-b{font-family:"RobotoBold";}
.f-robo-bk{font-family:"RobotoBlack";}
