.main_title p {
    font-weight: 800;
    line-height: 1.43;
}
.villiv_story dl{
    position: relative;
}
.villiv_story dl + dl{
    margin-top: 2.5rem;
}
.villiv_story dt{
    padding: 0 0 3rem;
}
.villiv_story dd{
    padding:0;
}
.villiv_story dt .main_title{
    margin: 0;
    font-weight: bold;
}
.villiv_story dt .main_title + .cont p:first-child{
    margin-top: 2rem;
}
.villiv_story dt .cont h5{
    color: #4B423C;
    font-size: 1.5rem;
    font-weight: bold;
}
.villiv_story dt .cont p{
    color: #8D8785;
    margin-top: 1rem;
    font-size: 1.167rem;
    line-height: 1.6;
    letter-spacing: -0.05em;
}
.villiv_story dt .cont p.green{
    color: #9CC023;
}
.villiv_story dd.full_img{
    padding:0;
}
.villiv_story dd.full_img img{
    max-width:100%;
    display: block;
    height: auto;
}
.villiv_story dd.info_box div{
    display: table;
    width: 100%;
    color: #fff;
    background: #9CC023;
    padding: 0 2.5rem;
    text-align: center;
    height: 8.417rem;
}
.villiv_story dd.info_box div + div{
    margin-top: 2px;
}
.villiv_story dd.info_box div p{
    font-size: 1.25rem;
    line-height: 1.6;
    display: table-cell;
    vertical-align: middle;
}
.villiv_story dd.info_box div h5{
    display: table-cell;
    vertical-align: middle;
    font-size: 1.667rem;
}
@media screen and (min-width: 1025px) {
    .villiv_story{
        display: table;
    }
    .villiv_story dt, .villiv_story dd{
        display: table-cell;
        padding:0;
        vertical-align: top;
    }
    .villiv_story dl + dl{
        margin-top: 50px;
        padding-top: 50px;
        border-top: 1px solid #DBD5CE;
    }
    .villiv_story dt{
        width: 320px;
        padding-right: 10px;
    }
    .villiv_story dt.middle_pc{
        vertical-align: middle;
    }
    .villiv_story dd{
        width: 600px;
    }
    .villiv_story dt .main_title{
        text-align: left;
        font-size: 28px;
        line-height: 1.36;
    }
    .villiv_story dt .main_title + .cont p:first-child{
        margin-top: 35px;
    }
    .villiv_story dt .cont h5{
        font-size: 18px;
    }
    .villiv_story dt .cont p{
        margin-top: 12px;
        font-size: 15px;
        line-height: 1.6;
    }
    .villiv_story dd.info_box{
        padding-bottom:0;
    }
    .villiv_story dd.info_box div{
        padding: 0 120px;
        height: 101px;
    }
    .villiv_story dd.info_box div + div{
        margin-top: 2px;
    }
    .villiv_story dd.info_box div p{
        font-size: 15px;
    }
    .villiv_story dd.info_box div h5{
        font-size: 22px;
    }
}