// output: ../../../../../../publish/html/ko/Legal/include/breadcrumb.html
// 메인과 상세 font css가 달라 분리 필요. 메인에 class="main" 추가
// 각 서브메인 
.breadcrumb.main
  ul
    li: a(href='javascript:void(0);') Home 
    li: span 업무분야

// 각 서브상세
.breadcrumb
  ul
    li: a(href='javascript:void(0);') Home 
    li: a(href='javascript:void(0);') 업무분야 
    li: a(href='javascript:void(0);') 산업별 
    li: span 자산운용
