// output: ../../../../../../publish/html/ko/Legal/include/head.html

include jadeUtil.jade

head
  +pageName('Kim & Chang')
  +metaCharset('utf-8')
  +metaName('viewport', 'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
  +httpEquiv('X-UA-Compatible', 'ie=edge')
  +metaName('robots', 'noydir, noodp, index, follow')
  +metaName('copyright', '© 2017 Kim & Chang. All Rights Reserved.')
  +metaName('format-detection', 'telephone=no')
  +metaName('description', '')
  +metaName('keywords', 'Kim & Chang')
  +metaProperty('og:title', 'Kim & Chang')
  +linkRel('stylesheet', 'text/css', '../css/kimchang.css', 'all')
  +jsCall('text/javascript', '../js/modernizr.min.js')
  +jsCall('text/javascript', '../js/jquery-2.2.4.min.js')
  +jsCall('text/javascript', '../js/jquery-ui.js')
  +jsCall('text/javascript', '../js/TweenMax.min.js')
  +jsCall('text/javascript', '../js/ScrollMagic.min.js')
  +jsCall('text/javascript', '../js/debug.addIndicators.min.js')
  +jsCall('text/javascript', '../js/jquery.bxslider.min.js')
  +jsCall('text/javascript', '../js/ui-front.js')
