// output: ../../../../../../publish/html/ko/Legal/office/office_global.html
-var imgUrl = '../images/dummy/'
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    .skip_navi
      a(href='#content') 본문 바로가기
    header.header_wrap 
    
    // 각 서브별 검색 노출 타입 다름
    .container.office
      .visual_area.global
        ul.page_tab
          li
            a(href='javascript:void(0);') K&C 소개
          li
            a(href='javascript:void(0);') 연혁
          li
            a(href='javascript:void(0);').on 글로벌 역량
          li
            a(href='javascript:void(0);') 사회공헌
        .text_box
          .big_text
            |Global Standards and Network
            span 세계 680여개의 로펌과 연결된 풍부한 네트워크
          .small_text
            |김·장 법률사무소는 일본, 중국, 유럽 등 별도의 그룹과 함께 해외법무 그룹을 운영하여, <br />
            |고객들이 진출하고자 하는 지역 및 산업분야별로 담당 변호사와 자문인력을 운용하여<br />
            |해외 프로젝트에서 발생할 수 있는 모든 법률문제에 대하여 최적의 서비스를 제공하고 있습니다.
      .global_wrap
        .global_map
          p.img
            img(src='../images/common/pc/img_global_map.png')
          a(href='javascript:void(0)' data-region='europe').europe EUROPE
          a(href='javascript:void(0)' data-region='mena').mena MENA
          a(href='javascript:void(0)' data-region='asia').asia ASIA
          a(href='javascript:void(0)' data-region='africa').africa AFRICA
          a(href='javascript:void(0)' data-region='oceania').oceania OCEANIA
          a(href='javascript:void(0)' data-region='north_america').north_america NORTH<br>AMERICA
          a(href='javascript:void(0)' data-region='south_america').south_america SOUTH<br>AMERICA
          
        // 지도 상세 
        // 아프리카
        .global_detail.africa#africa
          a(href='javascript:void(0)' data-num='0').btn_region.Algeria Algeria
          a(href='javascript:void(0)' data-num='1').btn_region.Angola Angola
          a(href='javascript:void(0)' data-num='2').btn_region.Egypt Egypt
          a(href='javascript:void(0)' data-num='3').btn_region.Kenya Kenya
          a(href='javascript:void(0)' data-num='4').btn_region.Libya Libya
          a(href='javascript:void(0)' data-num='5').btn_region.Madagascar Madagascar
          a(href='javascript:void(0)' data-num='6').btn_region.Mali Mali
          a(href='javascript:void(0)' data-num='7').btn_region.Namibia Namibia
          a(href='javascript:void(0)' data-num='8').btn_region.Niger Niger
          a(href='javascript:void(0)' data-num='9').btn_region.Nigeria Nigeria
          a(href='javascript:void(0)' data-num='10').btn_region.Rwanda Rwanda
          img(src='../images/common/pc/img_global_africa.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 아시아
        .global_detail.asia#asia
          a(href='javascript:void(0)' data-num='11').btn_region.Cambodia Cambodia
          a(href='javascript:void(0)' data-num='12').btn_region.China China
          a(href='javascript:void(0)' data-num='13').btn_region.HongKong Hong Kong
          a(href='javascript:void(0)' data-num='14').btn_region.India India
          a(href='javascript:void(0)' data-num='15').btn_region.Indonesia Indonesia
          a(href='javascript:void(0)' data-num='16').btn_region.Japan Japan
          a(href='javascript:void(0)' data-num='17').btn_region.Kazakhstan Kazakhstan
          a(href='javascript:void(0)' data-num='18').btn_region.Malaysia Malaysia
          a(href='javascript:void(0)' data-num='19').btn_region.NorthKorea North Korea
          a(href='javascript:void(0)' data-num='20').btn_region.Pakistan Pakistan
          a(href='javascript:void(0)' data-num='21').btn_region.Philippines Philippines
          a(href='javascript:void(0)' data-num='22').btn_region.Singapore Singapore
          a(href='javascript:void(0)' data-num='23').btn_region.SriLanka Sri Lanka
          a(href='javascript:void(0)' data-num='24').btn_region.Thailand Thailand
          a(href='javascript:void(0)' data-num='25').btn_region.Vietnam Vietnam
          img(src='../images/common/pc/img_global_asia.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 유럽
        .global_detail.europe#europe
          a(href='javascript:void(0)' data-num='26').btn_region.Azerbaijan Azerbaijan
          a(href='javascript:void(0)' data-num='27').btn_region.Belgium Belgium
          a(href='javascript:void(0)' data-num='28').btn_region.Bulgaria Bulgaria
          a(href='javascript:void(0)' data-num='29').btn_region.France France
          a(href='javascript:void(0)' data-num='30').btn_region.Germany Germany
          a(href='javascript:void(0)' data-num='31').btn_region.Italy Italy
          a(href='javascript:void(0)' data-num='32').btn_region.Norway Norway
          a(href='javascript:void(0)' data-num='33').btn_region.Romania Romania
          a(href='javascript:void(0)' data-num='34').btn_region.Russia Russia
          a(href='javascript:void(0)' data-num='35').btn_region.Slovakia Slovakia
          a(href='javascript:void(0)' data-num='36').btn_region.Spain Spain
          a(href='javascript:void(0)' data-num='37').btn_region.TheNetherlands The Netherlands
          a(href='javascript:void(0)' data-num='38').btn_region.Turkey Turkey
          a(href='javascript:void(0)' data-num='39').btn_region.UK UK
          img(src='../images/common/pc/img_global_europe.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 메나
        .global_detail.mena#mena
          a(href='javascript:void(0)' data-num='40').btn_region.Jordan Jordan
          a(href='javascript:void(0)' data-num='41').btn_region.Oman Oman
          a(href='javascript:void(0)' data-num='42').btn_region.Qatar Qatar
          a(href='javascript:void(0)' data-num='43').btn_region.SaudiArabia Saudi Arabia
          a(href='javascript:void(0)' data-num='44').btn_region.UAE UAE
          a(href='javascript:void(0)' data-num='45').btn_region.Yemen Yemen
          img(src='../images/common/pc/img_global_mena.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 북미
        .global_detail.north_america#north_america
          a(href='javascript:void(0)' data-num='46').btn_region.Canada Canada
          a(href='javascript:void(0)' data-num='47').btn_region.USA USA
          img(src='../images/common/pc/img_global_north_america.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 오세아니아
        .global_detail.oceania#oceania
          a(href='javascript:void(0)' data-num='48').btn_region.Australia Australia
          a(href='javascript:void(0)' data-num='49').btn_region.NewCaledonia New Caledonia
          a(href='javascript:void(0)' data-num='50').btn_region.NewZealand New Zealand
          img(src='../images/common/pc/img_global_oceania.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 남미
        .global_detail.south_america#south_america
          a(href='javascript:void(0)' data-num='51').btn_region.Brazil Brazil
          a(href='javascript:void(0)' data-num='52').btn_region.Haiti Haiti
          a(href='javascript:void(0)' data-num='53').btn_region.Mexico Mexico
          a(href='javascript:void(0)' data-num='54').btn_region.Peru Peru
          img(src='../images/common/pc/img_global_south_america.png')
          a(href='javascript:void(0)').all.btn_all 전체보기
        // 지도 레이어팝업 
        .layer_map
          h1
          .map_scroll
            p Office Location
              span.location
            p Team
              span.team
            p Professionals
              span.professonals
            p Cases
              span.cases
            p Law Firm Network
              span.network
            p Related News
              span.news
          a(href='javascript:void(0);').btn_layer_close 닫기
            
    footer.footer_wrap
    .dimm
      
    
    script(type='text/javascript').
      var header = $('header.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {
        
      });
      var footer = $('footer.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
      $(function() {
        // 사무소위치 페이지 진입시 header 태그 class bg_white 추가
        $('header').addClass('bg_black');
        // 지도 레이어팝업
        var btnCtrl = true;
        var btnMap = $('.global_map > a');
        front.btnClick(btnMap, function($this) {
          var dataRegion = $this.attr('data-region');
          if (btnCtrl) {
            btnCtrl = false;
            TweenMax.to('.global_map', .5, {
              css:{scale:2, opacity:0}, ease:Quad.easeInOut,
              onComplete : function() {
                btnCtrl = true;
              },
            });
            TweenMax.to('#' + dataRegion, .5, {
              css:{scale:1, opacity:1,display:'block'}, ease:Quad.easeInOut
            });
          }
        });
        front.btnClick($('.global_detail > .btn_all'), function() {
          if (btnCtrl) {
            btnCtrl = false;
            front.hideCallback(layerGlobal, function() {
              layerGlobal.find('h1').empty();
              layerGlobal.find('.location').empty();
              layerGlobal.find('.team').empty();
              layerGlobal.find('.professonals').empty();
              layerGlobal.find('.cases').empty();
              layerGlobal.find('.network').empty();
              layerGlobal.find('.news').empty();
            });
            TweenMax.to('.global_detail', .5, {
              css:{scale:2, opacity:0}, ease:Quad.easeInOut,
              onComplete : function() {
                btnCtrl = true;
                $('.global_detail').hide();
              },
            });
            TweenMax.to('.global_map', .5, {
              css:{scale:1, opacity:1,display:'block'}, ease:Quad.easeInOut
            });
          }
        });
        var globalObj = [
          {
            'region' : 'Algeria',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Angola',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Egypt',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Kenya',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Libya',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Madagascar',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Mali',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Namibia',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Niger',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Nigeria',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Rwanda',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Cambodia',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'China',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Hong Kong',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'India',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Indonesia',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Japan',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Kazakhstan',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Malaysia',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'North Korea',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Pakistan',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Philippines',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Singapore',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Sri Lanka',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Thailand',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Vietnam',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Azerbaijan',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Belgium',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Bulgaria',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'France',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Germany',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Italy',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Norway',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Romania',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Russia',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Slovakia',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Spain',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'The Netherlands',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Turkey',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'UK',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Jordan',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Oman',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Qatar',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Saudi Arabia',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'UAE',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Yemen',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Canada',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'USA',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Australia',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'New Caledonia',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'New Zealand',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Brazil',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
          {
            'region' : 'Haiti',
            'location' : '홍콩 사무소',
            'team' : '홍콩 그룹',
            'professonals' : '홍콩 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '홍콩 대표 로펌'
          },
          {
            'region' : 'Mexico',
            'location' : 'xxx 사무소',
            'team' : 'xxx 그룹',
            'professonals' : 'xxx 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트<br>한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'Yes',
            'news' : '나이지리아 대표 로펌'
          },
          {
            'region' : 'Peru',
            'location' : '일본 사무소',
            'team' : '일본 그룹',
            'professonals' : '일본 변호사 | xxx 변호사 | xxx 변호사',
            'cases' : '한국건설사의 나이지리아 철도공사프로젝트',
            'network' : 'No',
            'news' : '일본 대표 로펌'
          },
        ];
        
        var btnGlobal = $('.global_detail > .btn_region');
        var layerGlobal = $('.layer_map');
        front.btnClick(btnGlobal, function($this) {
          var idx = $this.attr('data-num');
          front.showCallback(layerGlobal, function() {
            var btnClose = layerGlobal.find('.btn_layer_close');
            layerGlobal.find('h1').html(globalObj[idx].region);
            layerGlobal.find('.location').html(globalObj[idx].location);
            layerGlobal.find('.team').html(globalObj[idx].team);
            layerGlobal.find('.professonals').html(globalObj[idx].professonals);
            layerGlobal.find('.cases').html(globalObj[idx].cases);
            layerGlobal.find('.network').html(globalObj[idx].network);
            layerGlobal.find('.news').html(globalObj[idx].news);
            front.btnClick(btnClose, function() {
              front.hideCallback(layerGlobal, function() {
                layerGlobal.find('h1').empty();
                layerGlobal.find('.location').empty();
                layerGlobal.find('.team').empty();
                layerGlobal.find('.professonals').empty();
                layerGlobal.find('.cases').empty();
                layerGlobal.find('.network').empty();
                layerGlobal.find('.news').empty();
              });
            });
          });
        });
      });
      
      
