<v-app>
  <v-body title="단지 정보">
    <div class="container">
      <div class="round_box today_sq">
        <div class="content">
          <div class="title has_btn">
            <h2><span class="name">신세계</span>님, 오늘의 일정입니다.</h2>
            <a href="#" class="right_btn date">
                <span class="icn icn_date"></span>
                <span class="month">12월</span>
            </a>
          </div>
          <ul class="date_list">
            <li>
              <a href="#">
                <span class="num">6</span>
                <span class="txt">SUN</span>
              </a>
            </li>
            <li class="on">
              <a href="#">
                <span class="num">7</span>
                <span class="txt">MON</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="num">8</span>
                <span class="txt">TUE</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="num">9</span>
                <span class="txt">WED</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="num">10</span>
                <span class="txt">THU</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="num">11</span>
                <span class="txt">FRI</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="num">12</span>
                <span class="txt">SAT</span>
              </a>
            </li>
          </ul>
          <div class="full">
            <ul class="content schedule">
              <li>
                <p class="sq_title">
                  <span>07:00</span><a href="#none">조식서비스 예약</a>
                </p>
                <div class="cont">
                  <img src="/assets/dummy/sample_01.png" alt="샘플" />
                  <p>
                    <span>[이마트 24]</span>
                    <span>올뉴기찬도시락 외 1개</span>
                  </p>
                </div>
              </li>
              <li>
                <p class="sq_title">
                  <span>11:00</span><a href="#none">조식서비스 예약</a>
                </p>
                <div class="cont">
                  <img src="/assets/dummy/sample_01.png" alt="샘플" />
                  <p>
                    <span>[이마트 24]</span>
                    <span>올뉴기찬도시락 외 1개</span>
                  </p>
                </div>
              </li>
              <li>
                <p class="sq_title">
                  <span>14:00</span><a href="#none">조식서비스 예약</a>
                </p>
                <div class="cont">
                  <img src="/assets/dummy/sample_01.png" alt="샘플" />
                  <p>
                    <span>[이마트 24]</span>
                    <span>올뉴기찬도시락 외 1개</span>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="status">
        <div class="round_box">
            <div class="content">
                <div class="title">
                  <h2>관리비 현황</h2>
                </div>
                <div class="full bg_wt">
                  <ul class="title month">
                    <li><a href="#none">7월분</a></li>
                    <li class="on"><a href="#none">8월분</a></li>
                    <li><a href="#none">9월분</a></li>
                  </ul>
                  <div class="content price">
                    <p>
                      <a href="#none">182,280</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="round_box">
            <div class="content">
                <div class="title">
                  <h2>서비스 이용현황</h2>
                </div>
                <div class="full bg_wt">
                  <ul class="title month">
                    <li><a href="#none">7월분</a></li>
                    <li class="on"><a href="#none">8월분</a></li>
                    <li><a href="#none">9월분</a></li>
                  </ul>
                  <div class="content price">
                    <p>
                      <a class="case">4건</a>
                      <a href="#none">65,000</a>
                    </p>
                  </div>
                </div>
            </div>
        </div>
        <div class="round_box">
            <div class="content">
                <div class="title">
                    <h2>마이 메뉴</h2>
                    <a href="#" class="right_btn">
                    메뉴 편집하기
                    </a>
                </div>
                <div class="full">
                    <div class="title">
                    12개의 마이 메뉴가 등록되어 있습니다.
                    </div>
                    <div class="content">
                      <p>마이 메뉴를 편집하여 편리하게</p>
                      <p>이용할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="round_box">
            <div class="content">
                <div class="title">
                  <h2>회원 정보</h2>
                  <a href="#" class="right_btn">
                    회원정보 변경
                  </a>
                </div>
                <div class="full">
                  <div class="content table">
                    <dl>
                      <dt>주소</dt>
                      <dd>빌리브 하남 1동 917 A호</dd>
                      <dt>연락처</dt>
                      <dd>010-12**-**78</dd>
                      <dt>이메일</dt>
                      <dd>shinsegae@test.co.kr</dd>
                    </dl>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </v-body>
</v-app>