.slideBoxWrap	{width:100%;display:block;overflow:hidden;}

#carouselWrapper {width:100%;margin:0;padding:0;overflow:hidden; height:348px; }

.sliderBoxDesc {position:relative;width:100%;}
/* 
.scrollerBox {position:relative;top:0;left:0;width:100%; // number_of_page*page_width float:left;}


.scrollerBox ul {list-style:none;position:relative;display:block;margin:0;padding:0;top:0;left:0;width:100%;height:100%;}

.scrollerBox li {display:block;float:left;padding:0px 0px 0px 0px;}

.scrollerBox li img {width:100%;border:0px;}

.sliderNav	{position:absolute;bottom:20px;width:100%;z-index:100;text-align:center;font-size:12px;color:#B4B4B4;}

.sliderNav a	{margin:0px 5px 0px 5px;color:#B4B4B4;text-decoration:none;}
 */

.scrollerBox {width:100%; max-width:750px; height:auto; margin:150px auto; /* text-align:center; */}
.scrollerBox ul {width:100%; height:auto; position:relative;}
.scrollerBox ul li {background:#fff; width: 328px; max-width:328px; height: 348px; padding: 20px; border-radius: 10px; box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.13); position:absolute; left:50%; transform:translateX(-50%); -webkit-transition:all .5s ease; transition:all .5s ease; -webkit-transform:perspective(1300px) translate3d(0px, -130px, -500px); transform:perspective(1300px) translate3d(0px, -130px, -500px);}
.scrollerBox ul li:nth-last-child(4) {-webkit-transform: perspective(1300px) translate3d(0px, -110px, -290px); transform: perspective(1300px) translate3d(0px, -110px, -290px);}
.scrollerBox ul li:nth-last-child(3) {-webkit-transform: perspective(1300px) translate3d(0px, -75px, -210px); transform: perspective(1300px) translate3d(0px, -75px, -210px);}
.scrollerBox ul li:nth-last-child(2) {-webkit-transform: perspective(1300px) translate3d(0px, -40px, -130px); transform: perspective(1300px) translate3d(0px, -40px, -130px);}
.scrollerBox ul li:nth-last-child(1) {-webkit-transform: perspective(1300px) translate3d(0px, -5px, -50px); transform: perspective(1300px) translate3d(0px, -5px, -50px);}
.scrollerBox ul li.active {-webkit-transform: perspective(1300px) translate3d(0px, 100px, 0px); transform: perspective(1300px) translate3d(0px, 100px, 0px); opacity: 0;}

.sliderNav	{position:absolute;bottom:20px;width:100%;z-index:100;text-align:center;font-size:12px;color:#B4B4B4;}

.sliderNav a	{margin:0px 5px 0px 5px;color:#B4B4B4;text-decoration:none;}
