<v-app>
    <v-body title="인테리어 정보">
      <div class="container type2">
        <div class="villiv_info">
          <!-- 상단 단지별 탭 -->
          <div class="round_box tab_slide">
            <div>
              <ul>
                <li><a href="#">빌리브 하남</a></li>
                <li class="on"><a href="#">빌리브 울산</a></li>
                <li><a href="#">빌리브 하남</a></li>
                <li><a href="#">빌리브 하남</a></li>
              </ul>
            </div>
            <a href="#" class="ts_btn btn_left">왼쪽</a>
            <a href="#" class="ts_btn btn_right">오른쪽</a>
          </div>
          <!-- // 상단 단지별 탭 -->
          <div class="apt_complex_info">
            <!-- 페이지 탭 -->
            <div class="nav_bar">
              <ul>
                <li><a href="#">임대료/계약 안내</a></li>
                <li><a href="#">단지정보</a></li>
                <li><a href="#">입지환경</a></li>
                <li><a href="#">평면안내</a></li>
                <li class="on"><a href="#">인테리어</a></li>
                <li><a href="#">오시는 길</a></li>
              </ul>
            </div>
            <div><h4 class="title_mg"><span class="highlight">TYPE</span></h4></div>
            <div class="tab slide">
              <ul>
                <li class="on"><a href="#">51㎡ A</a></li>
                <li><a href="#">56㎡ B</a></li>
                <li><a href="#">42㎡ OT</a></li>
              </ul>
            </div>
            <div class="operation_info">
              <div class="plane_area flat_round_box bg_white">
                <!-- 데이터 노출 영역 -->
                <!-- 선택 된 이미지 노출 -->
                <div class="img_extend">
                    <img src="/assets/dummy/inter_img01.png" alt="type 평면도">
                    <div class="btm_box">
                        <a href="#" class="extend_btn">원본보기</a>
                    </div>
                </div>
                <!-- MO- 옵션 slidesPerView:3, --삭제spaceBetween-- -->
                <div class="img_slide mo">
                  <div class="slide_box">
                    <ion-slides pager="false"spaceBetween="-18" [options]="{
                      slidesPerView:3,
                      initialSlide: 1
                    }">
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide class="on">
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                        <button type="submit" float-left ion-button  color="primary" class="btnPrev" >Prev</button>
                        <button type="submit" float-right ion-button color="primary" class="btnNext" >Next</button>

                    </ion-slides>
                  </div>
                </div>
                <!-- PC- 옵션 slidesPerView:5, spaceBetween : 20 수정-->
                <div class="img_slide pc">
                  <div class="slide_box">
                    <ion-slides pager="false"spaceBetween="-18" [options]="{
                      slidesPerView:5,
                      initialSlide: 1,
                      speed: 400,
                      spaceBetween : 20
                    }">
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide class="on">
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                      <ion-slide>
                          <img src="/assets/dummy/inter_simg01.png" alt="">
                      </ion-slide>
                    </ion-slides>
                  </div>
                  <button href="#" class="arrow_btn btn_left">왼쪽</button>
                  <button href="#" class="arrow_btn btn_right">오른쪽</button>
                </div>
                <!-- // 데이터 노출 영역 -->
              </div>
              <ul class="dot_list">
                <li>상기 사진은 모델하우스 촬영컷으로 실제 시공되지 않는 전시품이 포함되어 잇으며, 모델하우스에 적용된 마감재는 실제시공시 유사색상 및 무늬를 지닌 동등 이상 성능의 타제품으로 대체 시공될 수 있으며, 의장이 등록되어 있는 경우에는 모양이나 색상이 바뀔 수 있습니다.</li>
                <li>전시용으로 설치된 장식물 일체 등 기타 실제 시공과 관련없는 전시 및 연출용 인테리어 소품은 실제 시공시 설치되지않습니다.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </v-body>
  </v-app>