::ng-deep {
.environment_now{
    padding: 1.667rem 1.333rem;
}
.environment_now .img_box{
    height:13.08rem;
    border: 1px solid #DCDEDD;
    box-sizing: border-box;
    overflow: hidden;
}
.environment_now .middle_title{
    margin-top:3rem;
    text-align: center;
}
.environment_now .middle_title h4{
    font-size: 1.667rem;
}
.environment_now .middle_title p{
    margin: 1rem 0 1.5rem;
    color: #9CC023;
    font-size: 1.167rem;
}
.environment_now .info_box{
    display: block;
    position: relative;
}
.environment_now .info_box li{
    width: 50%;
    height: 14rem;
    float: left;
    padding:2rem 0.25rem;
}
.environment_now .info_box li .icon_box{
    display: block;
    margin: 0 auto;
    width: 2.5rem;
    min-height: 2.5rem;
}
.environment_now .info_box li .icon_box.no_img::after{
    font-size: 0.5rem;
}
.environment_now .info_box li .icon_box img{
    width: 100%;
}
.environment_now .info_box li h5{
    text-align: center;
    color:#9CC023;
    font-size: 1.167rem;
    margin: 0.5rem 0 1rem;
    font-weight: bold;
    font-family: "Medium";
}
.environment_now .info_box li h5 span{
    color: #4B423C;
    display: block;
    margin-top: 0.25rem;
}
.environment_now .info_box li p{
    font-size: 0.75rem;
    text-align: center;
}

@media screen and (min-width: 1025px) {
    .environment_now{
        padding: 40px ;
        margin-bottom: 60px;
    }
    .environment_now .img_box{
        height:455px;
    }
    .environment_now .middle_title{
        margin-top: 55px;
    }
    .environment_now .middle_title h4{
        font-size: 28px;
    }
    .environment_now .middle_title p{
        margin: 10px 0 50px;
        color: #9CC023;
        font-size: 20px;
    }
    .environment_now .info_box{
        display: flex;
    }
    .environment_now .info_box li{
        flex: 1;
        width: auto;
        height: 180px;
        padding: 0;
    }
    .environment_now .info_box li .icon_box{
        width: 45px;
        height: 45px;
    }
    .environment_now .info_box li .icon_box.no_img::after{
        font-size: 12px;
    }
    .environment_now .info_box li h5{
        font-size: 20px;
        margin: 10px 0 21px;
    }
    .environment_now .info_box li h5 span{
        margin-top: 7px;
    }
    .environment_now .info_box li p{
        font-size: 12px;
        line-height: 1.4;
    }
    .text_info ul li{
      font-size: 14px;
      margin-bottom: 9px;
      padding-left: 9px;
      line-height: 1.57;
    }
    .text_info ul li::after{
      width: 3px;
      height: 3px;
      top: 9px;
    }
}
}