<v-app>
    <v-body title="주민투표">
        <div class="container">
            <!-- 글자 크기 조절 -->
            <div class="font_size_fix">
              <a href="#" class="font_btn">글자 크기</a>
              <div class="btn_box"><!-- 보일 시 on 추가 -->
                  <a href="#" class="close">닫기</a>
                  <ul class="list">
                  <li class="small on">
                      <a href="#">
                      <p class="size">가</p>
                      <p>작게</p>
                      </a>
                  </li>
                  <li class="medium">
                      <a href="#">
                      <p class="size">가</p>
                      <p>보통</p>
                      </a>
                  </li>
                  <li class="large">
                      <a href="#">
                      <p class="size">가</p>
                      <p>크게</p>
                      </a>
                  </li>
                  </ul>
              </div>
            </div>
            <!-- 투표영역 -->
            <div class="round_box vote"><!-- 글자크기 버튼 클릭시 class ft_m, ft_l 적용 -->
                <div class="content">
                    <div class="vote_top">
                        <h4>피트니스 센터 운영 프로그램에 대한 주민 동의 투표</h4>
                        <span class="date">2020.08.10 - 2020.08.30</span>
                    </div>
                    <p class="info_txt">
                        현재 피트니스 센터에서 운영중인 일부 프로그램에 대하여 주민 불만 및 민원이 지속적으로 발생하고 있습니다. 이에 향후 운영 프로그램 선정에
                        있어서 주민의 의견을 수렴하여 반영하고자 하오니, 주민여러분의 많은 참여 부탁드립니다.
                    </p>
                    <!-- 투표 참여 전 -->
                    <!-- 투표항목 1 -->
                    <h5>1. 주민투표 안건 1번 입니다.</h5>
                    <ul>
                        <li>
                            <div class="radio">
                                <label for="vote1_1">투표항목 1
                                    <input type="radio" id="vote1_1" name="vote1">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote1_2">투표항목 투표항목 투표항목 투표항목 투표항목 2
                                    <input type="radio" id="vote1_2" name="vote1">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <!-- // 투표항목 1 -->
                    <!-- 투표항목 2 -->
                    <h5>2. 주민투표 안건 2번 입니다.</h5>
                    <ul>
                        <li>
                            <div class="radio">
                                <label for="vote2_1">투표항목 1
                                    <input type="radio" id="vote2_1" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote2_2">투표항목 2
                                    <input type="radio" id="vote2_2" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote2_3">투표항목 3
                                    <input type="radio" id="vote2_3" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote2_4">투표항목 4
                                    <input type="radio" id="vote2_4" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <!-- // 투표항목 2 -->
                    <!-- // 투표 참여 전 -->
                    <!-- 투표 참여 후 -->
                    <!-- 투표항목 1 -->
                    <h5>1. 주민투표 안건 1번 입니다.</h5>
                    <ul class="disabled">
                        <li class="checked">
                            <div class="radio">
                                <label for="vote1_1">투표항목 1 투표항목 1 투표항목 1 투표항목 1
                                    <input type="radio" id="vote1_1" name="vote1">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote1_2">투표항목 2
                                    <input type="radio" id="vote1_2" name="vote1">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <!-- // 투표항목 1 -->
                    <!-- 투표항목 2 -->
                    <h5>2. 주민투표 안건 2번 입니다.</h5>
                    <ul class="disabled">
                        <li>
                            <div class="radio">
                                <label for="vote2_1">투표항목 1
                                    <input type="radio" id="vote2_1" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote2_2">투표항목 2
                                    <input type="radio" id="vote2_2" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li class="checked">
                            <div class="radio">
                                <label for="vote2_3">투표항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표 항목 3투표항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표 항목 3투표항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표 항목 3투표항목 3 투표 항목 3 투표 항목 3 투표 항목 3 투표 항목 3
                                    <input type="radio" id="vote2_3" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                        <li>
                            <div class="radio">
                                <label for="vote2_4">투표항목 4
                                    <input type="radio" id="vote2_4" name="vote2">
                                    <span class="chkmark"></span>
                                </label>
                            </div>
                        </li>
                    </ul>
                    <!-- // 투표항목 2 -->
                    <!-- // 투표 참여 후 -->
                </div>
            </div>
            <!-- // 투표영역 -->
            <!-- 버튼영역 - 참여 전 -->
            <div class="btn_area">
                <button type="button" class="btn btn_type1">취소하기</button>
                <button type="button" class="btn btn_type2">제출하기</button>
            </div>
            <!-- // 버튼영역 - 참여 전 -->
            <!-- 버튼영역 - 참여 후
            <div class="btn_area">
                <button type="button" class="btn btn_type2">목록보기</button>
            </div> -->
            <!-- // 버튼영역 - 참여 후 -->
        </div>
    </v-body>


</v-app>