<v-app>
    <v-body title="서비스 이용/예약 신청">
        <div class="container">
            <div class="reservation">
                <h4 class="main_title">
                    <span class="highlight">휘트니스 센터</span>
                    <dl class="right_txt">
                        <dt>이용요금</dt>
                        <dd>
                            <span class="fc_org">{{resvMstDetail?.prdPrc | numberFormatWithComma }}</span>원 / {{getTopFeeUnit()}} <span *ngIf="resvMstDetail?.prdPrcDesc" class="fc_org">{{resvMstDetail?.prdPrcDesc}}</span>
                        </dd>
                    </dl>
                </h4>
                <div class="round_box reserv_area">
                    <div class="content">
<!--                       월단위 예약일경우만 -->
                        <div class="reserv_section" *ngIf="resvMstDetail?.resvCd==='A' || resvMstDetail?.resvCd==='B';else other_content">
                            <h5><span class="num">01.</span> <span>이용 월 선택</span></h5>
                            <div class="month_choice">
                                <ul>
                                    <li [ngClass]="getMonthDisableClass(resvMstDetail?.monthList[0]?.reservableCode===1,'0')"><!-- 선택 시 class="on" 적용 -->
                                        <div class="radio lt">
                                            <label for="month_c">당월({{resvMstDetail?.monthList[0]?.month }}월)<span class="txt">{{resvMstDetail?.monthList[0]?.desc}}</span>
                                                <!-- <span class="txt">선착순 마감 되었습니다.</span> -->
                                                <input type="radio" [(ngModel)]="selectedMonth" id="month_c" name="month" value="0">
                                                <span class="chkmark"></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li [ngClass]="getMonthDisableClass(resvMstDetail?.monthList[1]?.reservableCode===1,'1')"><!-- 선착순 마감/신청기간 아닐 경우 class="disabled" 적용 -->
                                        <div class="radio lt">
                                            <label for="month_n">익월({{resvMstDetail?.monthList[1]?.month }}월)<span class="txt">{{resvMstDetail?.monthList[1]?.desc}}</span>
                                                <!-- <span class="txt">신청 완료 후, 익월부터 이용이 가능합니다.</span> -->
                                                <input type="radio" [(ngModel)]="selectedMonth" id="month_n" name="month" value="1">
                                                <span class="chkmark"></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
<!--                       월단위 아닐경우 -->
                        <ng-template #other_content>
                            <div class="reserv_section">
                                <h5><span class="num">01.</span> <span>예약일자 선택</span></h5>
                                <div class="calendar_area">
                                    <div class="cal">
                                        <ion-calendar #ionCalendar
                                                [(ngModel)]="selectedDate"
                                                [options]="calendarOption"
                                                (change)="onChangeCalendarDate()"
                                                      type="string"
                                                      format="YYYYMMDD">
                                        </ion-calendar>
                                    </div>
                                    <p class="category"><span class="today">오늘</span><span class="choice">선택</span></p>
                                </div>
    <!--                            시간선택일 경우만 -->
                                <ng-container *ngIf="resvMstDetail?.resvCd==='E'">
                                    <h5><span class="num">02.</span> <span>시간 선택</span></h5>
                                    <div class="time_area">
                                        <div class="time_wrap">
                                            <!-- 선택 후 -->
                                            <div class="slide_area time_list" *ngIf="selectedDate;else emptyTime">
                                                <ion-button (click)="slides.slidePrev()" class="btn_prev">
                                                    <ion-icon name="chevron-back"></ion-icon>
                                                </ion-button>
                                                <ion-button (click)="slides.slideNext()" class="btn_next">
                                                    <ion-icon name="chevron-forward"></ion-icon>
                                                </ion-button>
                                                <ion-slides #slides pager="false" [options]="{
                                                    slidesPerView:globalVars.isPc? 7 : 5,
                                                    initialSlide: 0,
                                                    speed: 400,
                                                    spaceBetween: 0
                                                }">
                                                    <!-- 선택 시 class="selected" 적용 -->
                                                    <!-- 예약불가일 경우 class="disabled" -->
                                                    <ion-slide *ngFor="let time of dayDetail?.resvTimes" [ngClass]="getTimeClass(time)">
                                                        <a class="time_box" (click)="onClickTime(time)">
                                                            <span class="time">{{time.time}}</span>
                                                            <span class="price">{{time.price | numberFormatWithComma}}</span>
                                                        </a>
                                                    </ion-slide>
                                                </ion-slides>
                                            </div>
                                            <!-- // 선택 후 -->
                                            <ng-template #emptyTime>
                                                <p class="txt" >예약일자를 선택해주세요.</p><!-- 선택 전 -->
                                            </ng-template>

                                        </div>
                                        <p class="category"><span class="impossible">예약불가</span><span
                                                class="possible">예약가능</span><span class="choice">선택</span></p>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-template>
                        <div class="info_section">
                            <h5><span>이용/예약 신청정보</span></h5>
                            <div class="reserv_info" >
                                <div class="reserv_ibox">
                                    <!--  월단위 일경우 -->
                                    <dl *ngIf="resvMstDetail?.resvCd==='A' || resvMstDetail?.resvCd==='B'">
                                        <dt class="necessary">이용 월</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="resvMstDetail?.monthList[selectedMonth];else emptyMonth">{{ resvMstDetail?.monthList[selectedMonth]?.year }}년 {{resvMstDetail?.monthList[selectedMonth]?.month }}월 ({{ resvMstDetail?.monthList[selectedMonth]?.resvStartDay }}일~{{ resvMstDetail?.monthList[selectedMonth]?.resvEndDay }}일)</span> <!-- '1일~'+lastDay+'일'  월 선택 후 -->
                                            <ng-template #emptyMonth>
                                                <span class="fc_lgry">이용 월을 선택해주세요</span>
                                            </ng-template>
                                        </dd>
                                    </dl>
                                    <dl *ngIf="resvMstDetail?.resvCd==='A' || resvMstDetail?.resvCd==='B'">
                                        <dt>이용요금</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="resvMstDetail?.monthList[selectedMonth];else emptyMonthPrc">{{this.resvMstDetail?.monthList[selectedMonth]?.price | numberFormatWithComma }} 원</span> <!-- 월 선택 후 -->
                                            <ng-template #emptyMonthPrc>
                                                <span class="fc_lgry" >이용 월을 선택해주세요</span>
                                            </ng-template>
                                        </dd>
                                    </dl>
                                    <dl *ngIf="resvMstDetail?.resvCd==='A'">
                                        <dt class="pt">자동연장</dt>
                                        <dd>
                                            <div class="input_row">
                                                <div class="radio lt">
                                                    <label for="extension1">신청안함
                                                        <input type="radio" [(ngModel)]="selectedExtension" id="extension1" name="extension" value="0">
                                                        <span class="chkmark"></span>
                                                    </label>
                                                </div>
                                                <div class="radio lt">
                                                    <label for="extension2">신청함
                                                        <input type="radio" [(ngModel)]="selectedExtension" id="extension2" name="extension" value="1">
                                                        <span class="chkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <!-- // 월단위 일경우 -->
                                    <!-- 숙박 룸(일)단위 일경우 -->
                                    <dl *ngIf="resvMstDetail?.resvCd==='C'">
                                        <dt>체크인</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="selectedDate;else emptyChkInDate">{{selectedDate?.from | stringDateFormatDt:{isKo:true} }} ({{selectedDate?.from | getDayOfTheWeek:{isKo:true} }})</span> <!-- 일 선택 후 -->
                                            <ng-template #emptyChkInDate>
                                                <span class="fc_lgry">체크인 일자를 선택해주세요.</span>
                                            </ng-template>
                                            <!-- 일 선택 전 : 적용 시 br 태그 삭제 -->
                                        </dd>
                                    </dl>
                                    <dl *ngIf="resvMstDetail?.resvCd==='C'">
                                        <dt>체크아웃</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="selectedDate;else emptyChkOutDate">{{selectedDate?.to | stringDateFormatDt:{isKo:true} }} ({{selectedDate?.to | getDayOfTheWeek:{isKo:true} }})</span> <!-- 일 선택 후 -->
                                            <ng-template #emptyChkOutDate>
                                                <span class="fc_lgry">체크아웃 일자를 선택해주세요.</span>
                                            </ng-template>
                                        </dd>
                                    </dl>
                                    <!-- // 숙박 룸(일)단위 일경우 -->
                                    <!--  일,시간 단위 일경우 -->
                                    <dl *ngIf="resvMstDetail?.resvCd==='D' || resvMstDetail?.resvCd==='E'">
                                        <dt>예약일자</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="selectedDate;else emptyDate">{{selectedDate | stringDateFormatDt:{isKo:true} }} ({{selectedDate | getDayOfTheWeek:{isKo:true} }})</span> <!-- 선택 후 -->
                                            <ng-template #emptyDate>
                                                <span class="fc_lgry">예약일자를 선택해주세요.</span>
                                            </ng-template>
                                        </dd>
                                    </dl>
                                    <dl *ngIf="resvMstDetail?.resvCd==='E'">
                                        <dt>예약시간</dt>
                                        <dd>
                                            <span class="fc_org" *ngIf="timeList && timeList.length>0;else emptyTime">{{getMinMaxTime()}}</span> <!-- 선택 후 -->
                                            <ng-template #emptyTime>
                                                <span class="fc_lgry">예약시간을 선택해주세요.</span>
                                            </ng-template>
                                        </dd>
                                    </dl>
                                    <ng-container *ngIf="resvMstDetail?.resvCd==='D' || resvMstDetail?.resvCd==='E'">
                                        <dl *ngFor="let option of resvMstDetail?.optionList;index as i">
                                            <dt class="pt">{{option.optnNm}}</dt>
                                            <dd>
                                                <div class="input_row">
                                                    <div class="radio lt">
                                                        <label [attr.for]="'option'+i">+ {{option.optnPrc | numberFormatWithComma}} 원
                                                            <input type="checkbox" (change)="onChangeCheckbox(option,$event)" [attr.id]="'option'+i" [name]="'option'+i">
                                                            <span class="chkmark"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </dd>
                                        </dl>
                                    </ng-container>
                                    <!--  // 일,시간 단위 일경우 -->
                                    <dl>
                                        <dt>신청자</dt>
                                        <dd class="txt_group">
                                            <span>{{globalVars.userDetail?.custNm}}</span><span>{{globalVars.userDetail?.blNo}}동 {{globalVars.userDetail?.rmNo}}호</span><br class="mo"><span>{{globalVars.userDetail?.mpPhoneNo | parseFormatPhoneNumber:{ withMasking:true } }}</span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="total_price">
                                    <dl>
                                        <dt>총 이용요금</dt>
                                        <dd>
                                            <em class="price"><span class="num">{{getTotalFee() | numberFormatWithComma }}</span>원</em>
                                            <span class="txt">(관리비 합산 부과)</span>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            <div class="bot_area">
                                <div class="radio lt">
                                    <label >유의사항 및 취소/환불정책을 확인하였습니다.
                                        <input type="checkbox" [(ngModel)]="selectedAgree" name="reserv_agree">
                                        <span class="chkmark"></span>
                                    </label>
                                </div>
                                <div class="btn_area">
                                    <button type="button" (click)="onClickResv()" class="btn btn_type2">서비스 이용/예약 신청</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn_area">
                    <a (click)="goServiceInfoPage()" class="btn btn_type3">취소하기</a>
<!--&lt;!&ndash;                TODO remove 테스트용 &ndash;&gt;-->
<!--                    <a (click)="testType('A')" class="btn btn_type3">월/자동연장</a>-->
<!--                    <a (click)="testType('B')" class="btn btn_type3">월/선착순</a>-->
<!--                    <a (click)="testType('C')" class="btn btn_type3">숙박-룸</a>-->
<!--                    <a (click)="testType('D')" class="btn btn_type3">일일</a>-->
<!--                    <a (click)="testType('E')" class="btn btn_type3">시간</a>-->
                </div>

                <!-- 유의사항 : tab 형태 -->
                <div class="round_box btm_info_box">
                    <div class="content">
                        <div class="tab_list">
                            <div>
                                <ul>
                                    <li [ngClass]="!selectedTab || selectedTab==='ntcMatt' ? 'on' : ''">
                                        <a (click)="onClickTab('ntcMatt')">유의사항</a>
                                    </li>
                                    <li [ngClass]="selectedTab==='cncPlcy' ? 'on' : ''">
                                        <a (click)="onClickTab('cncPlcy')">취소/환불규정</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="tab_block">
                            <li [ngClass]="!selectedTab || selectedTab==='ntcMatt' ? 'on' : ''">
                                <div class="admin_content">
                                    <ul class="dot_list">
<!--                                        fcl 에 있는 유의사항-->
                                        <li *ngFor="let str of resvMstDetail?.ntcMatt?.split('\n')">{{str}}</li>
                                    </ul>
                                </div>
                            </li>
                            <li [ngClass]="selectedTab==='cncPlcy' ? 'on' : ''">
                                <div class="admin_content">
                                    <ul class="dot_list">
<!--                                        ResvcncInf 에 있는 환불정책-->
                                        <li *ngFor="let str of resvMstDetail?.cncInf?.cncDesc.split('\n')">{{str}}</li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </v-body>
</v-app>
