<v-app>
  <v-body title="주민투표">
    <!-- 진행중인 투표 -->
    <div class="full_cont">
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
            <p>진행중인 투표
                <span class="highlight"><span class="num">4</span>개</span>
            </p>
            </h4>
            <div class="vote_list slide_area"><!-- 진행중인 투표 없을 때 class="slide_area" 삭제 -->        
                <!-- 10.29  추가 : 진행중인 투표 없을때 -->
                <div class="no_data icon">
                    <p>진행중인 투표가 없습니다.</p>
                </div>
                <!-- // 10.29  추가 : 진행중인 투표 없을때 -->
                <!-- 투표 리스트 -->
                <ion-button (click)="swipePrev()" class="btn_prev">
                    <ion-icon name="chevron-back"></ion-icon>
                </ion-button>
                <ion-button (click)="swipeNext()" class="btn_next">
                    <ion-icon name="chevron-forward"></ion-icon>
                </ion-button>
                <ion-slides  #slider pager="true" [options]="{
                initialSlide: 1,
                speed: 400
                }">
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에
                                        대한 주민 동의 투표 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>빌리브 하남만의 차별화된 세련된 즐거움을 제공하기 위해 다양한 특화 서비스를 제공하고 있습니다. 여러분이 가장 많이 이용하고 있는 서비스는 무엇인가요?</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에
                                        대한 주민 동의 투표 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>빌리브 하남만의 차별화된 세련된 즐거움을 제공하기 위해 다양한 특화 서비스를 제공하고 있습니다. 여러분이 가장 많이 이용하고 있는 서비스는 무엇인가요?</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="round_box">
                            <a href="#">
                                <div class="content">
                                    <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                    <p class="time">2020.08.07 ~ 2020.08.30</p>
                                </div>
                            </a>
                        </div>
                    </ion-slide>
                </ion-slides>
            </div>
        </div>
    </div>

    <!-- 종료된 투표 -->
    <div class="full_cont">
        <div class="container">
            <!-- 타이틀 -->
            <h4 class="main_title">
                <p>종료된 투표
                    <span class="highlight"><span class="num">4</span>개</span>
                </p>
            </h4>
            <div class="vote_list">
                <!-- 10.29  추가 : 종료된 투표 없을때 -->
                <div class="no_data icon">
                    <p>종료된 투표가 없습니다.</p>
                </div>
                <!-- // 10.29  추가 : 종료된 투표 없을때 -->
                <!-- 투표 리스트 -->
                <ul>
                    <li class="round_box">
                        <a href="#" class="disabled"><!-- 투표 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에
                                    대한 주민 동의 투표 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                <p class="time">투표종료</p>
                            </div>
                        </a>
                    </li>
                    <li class="round_box">
                        <a href="#" class="disabled"><!-- 투표 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                <p class="time">투표종료</p>
                            </div>
                        </a>
                    </li>
                    <li class="round_box">
                        <a href="#" class="disabled"><!-- 투표 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에 대한 주민 동의 투표 피트니스 센터 운영 프로그램에
                                    대한 주민 동의 투표</h5>
                                <p class="time">투표종료</p>
                            </div>
                        </a>
                    </li>
                    <li class="round_box">
                        <a href="#" class="disabled"><!-- 투표 종료 시 class="disabled" 적용  -->
                            <div class="content">
                                <h5>피트니스 센터 운영 프로그램에 대한 주민 동의 투표</h5>
                                <p class="time">투표종료</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 더보기 -->
            <a class="add_item" href="#">더보기</a>
        </div>
    </div>
  </v-body>


</v-app>