// output: ../../../../../publish/html/ko/recruit/error_404.html
include include/jadeUtil.jade
-var imgUrl = './images/dummy/'
doctype html
html(lang='ko')

  head
    +pageName('Kim & Chang')
    +metaCharset('utf-8')
    +metaName('viewport', 'width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no')
    +httpEquiv('X-UA-Compatible', 'ie=edge')
    +metaName('robots', 'noydir, noodp, index, follow')
    +metaName('copyright', '© 2017 Kim & Chang. All Rights Reserved.')
    +metaName('description', '')
    +metaName('keywords', 'Kim & Chang')
    +metaProperty('og:title', 'Kim & Chang')
    +linkRel('stylesheet', 'text/css', './css/kimchang.css', 'all')
  body(style='height:100%;')
    .skip_navi
      a(href='#content') 본문 바로가기
    .error_wrap
      .inner
        h1.h1_error
          a(href='javascript:void(0);') kim&chang
        p.error_title 죄송합니다.<br>요청하신  페이지를 찾을 수가 없습니다.
        .error_desc
          p 방문하시려는 페이지의 주소가 잘못 입력되었거나,<br>변경 혹은 삭제되어 요청하신 페이지를 찾을 수 없습니다.<br><br>입력하신 주소가 정확한지 다시 한번 확인해 주시기 바랍니다.
          //p 불편사항은 <a href="mailto:lawkim@kimchang.com" class="text_orange">lawkim@kimchang.com</a>으로 연락 주시면 친절하게 안내해 드리겠습니다.
        .error_btn_wrap
          a(href='javascript:void(0);').btn_link.btn_hover.bg_black
            span 홈화면 바로가기
      
