#wrap
 #panels
  %section.panel
   %h1{"data-splitting" => "words"} Holy Moly Stromboli
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Welcome to Flavortown
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} I’ve Been Stricken by Chicken
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Peace, Love and Taco Grease
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} That’ll Do, Donkey That’ll Do
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Tastes Really Funky, It’s Funkalicious
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} It's a Festival of Funk
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Serve It on a Trashcan Lid
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Shut the Front Door
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  %section.panel
   %h1{"data-splitting" => "words"} Bomb Dot Com Tasty
   .image
    .inner
   .image.right
    .inner
   .image
    .inner
  #backgrounds
   -10.times do
    .bg