<v-app>
    <v-body title="레터링 신청" mnuId="LC_CM_LET">
        <div class="container type3">
            <div class="lettering">
                <div class="flat_round_box lettering_apply">
                    <div class="content">
                        <p class="txt">
                            <strong>누군가에게</strong><br>
                            내가 가진 마음의 이유를 말해주고 싶을 때,<br>
                            내가 가진 마음을 나눠주고 싶을 때,<br>
                            <strong>라이프 서비스 홈 화면에 진심을 띄워보세요!</strong><br>
                            화려한 손글씨나 글재주는 필요 없습니다.
                        </p>
                        <h4><span>레터링 신청</span> <a (click)="openInfoPopup()" class="tooltip"></a></h4>
                        <div class="form_area">
                            <h5>오픈일</h5>
                            <div class="input_area">
                                <input type="text" class="com_inp2" [ngModel]="selectedOpenDate" readonly>
                                <a (click)="openDatePickerPopup()" class="btn_calendar">날짜 선택</a>
                            </div>
                            <h5>내용</h5>
                            <textarea class="com_texta" rows="5" [(ngModel)]="contents" [maxlength]="100"  placeholder="100글자 이내로 내용을 입력하세요."
                                      ></textarea>
                        </div>
                        <div class="btn_area">
                            <button (click)="onClickSubmit()" type="button" class="btn btn_type2">레터링 띄우기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-body>

    <!-- 레이어팝업 : 레터링 이용안내 -->
    <ng-container *ngIf="isShowInfoPopup.container">
    <div class="dimmed" [ngClass]="{'inactiveDimmer': !isShowInfoPopup.layer}"></div>
    <div class="layer_popup lettering_info" [ngClass]="{'active' : isShowInfoPopup.layer, 'inactive': !isShowInfoPopup.layer}">
        <div class="content">
            <h1>레터링 이용안내</h1>
            <div class="cont_pop">
                <ul class="dot_list">
                    <li>레터링 오픈일은 발송한 레터링이 라이프 서비스 홈 화면에 게재되는 일자 입니다.</li>
                    <li>레터링 오픈일은 신청일 기준 2일 이후부터 10일 이내로 지정이 가능합니다.</li>
                    <li>신청한 레터링은 수정, 삭제가 불가하오니 발송 전 작성내용을 꼭! 확인해주세요.</li>
                    <li>광고성 글, 사회통념 등에 어긋나는 내용의 글은 별도의 사전 통보 없이 관리자에 의해 삭제될 수 있습니다.</li>
                </ul>
            </div>
        </div>
        <div class="btn_area">
            <button type="button" (click)="closeInfoPopup()" class="btn btn_type2 w_100">확인</button>
        </div>
    </div>
    </ng-container>
    <!-- // 레이어팝업 : 레터링 이용안내 -->

    <!-- 레이어팝업 : 레터링 날짜선택 -->
    <ng-container *ngIf="isShowDatePickerPopup.container">
        <div class="dimmed" [ngClass]="{'inactiveDimmer': !isShowDatePickerPopup.layer}"></div>
        <div class="layer_popup lettering_calendar" [ngClass]="{'active' : isShowDatePickerPopup.layer, 'inactive': !isShowDatePickerPopup.layer}">
            <div class="content">
                <h1>레터링 오픈일 선택</h1>
                <ion-calendar [(ngModel)]="selectedDate"
                              (change)="onChange($event)"
                              [options]="options"
                              type="string"
                              format="YYYY.MM.DD">
                </ion-calendar>
            </div>
            <div class="btn_area">
                <button type="button" (click)="closeDatePickerPopup()" class="btn btn_type1">취소</button>
                <button type="button" (click)="closeDatePickerPopup(true)" class="btn btn_type2">확인</button>
            </div>
        </div>
    </ng-container>
    <!-- // 레이어팝업 : 레터링 날짜선택 -->
</v-app>
