<v-app>
    <v-body title="알림">
        <div class="container">
            <p class="top_txt">알림 내역은 최대 3개월간 보관됩니다.</p>
            <div class="round_box">
                <div class="content">
                    <!-- 알림없을 때 -->
                    <p class="no_data">새로운 알림이 없습니다.</p>
                    <!-- // 알림없을 때 -->
                    <!-- 알림있을 때 -->
                    <ul class="push_list">
                        <li>
                            <p class="top">
                                <span class="tit">서비스 이용/예약 일정 안내</span>
                                <span class="date">2020.10.15</span>
                            </p>
                            <p class="txt">금일 우리단지 서비스 이용/예약 일정이 있습니다. 일정내용을 확인해주세요.</p>
                        </li>
                        <li>
                            <p class="top">
                                <span class="tit">서비스 이용/예약 신청결과 안내</span>
                                <span class="date">2020.10.15</span>
                            </p>
                            <p class="txt">금일 우리단지 서비스 이용/예약 신청내역이 등록되었습니다. 신청 내용을 확인해주세요.</p>
                        </li>
                        <li>
                            <p class="top">
                                <span class="tit">공지사항 안내</span>
                                <span class="date">2020.10.15</span>
                            </p>
                            <p class="txt">신규 공지사항이 등록되었습니다.</p>
                        </li>
                        <li>
                            <p class="top">
                                <span class="tit">공지사항 안내 공지사항 안내 공지사항 안내</span>
                                <span class="date">2020.10.15</span>
                            </p>
                            <p class="txt">신규 공지사항이 등록되었습니다. 신규 공지사항이 등록되었습니다. 신규 공지사항이 등록되었습니다. 신규 공지사항이 등록되었습니다.</p>
                        </li>
                    </ul>
                    <!-- // 알림있을 때 -->
                    <a href="#" class="add_item">더보기</a>
                </div>
            </div>
        </div>
    </v-body>
</v-app>
