.container {
    // margin-top: 3.667rem;
}

.round_box {
    padding-top: 0.4167rem;
    padding-bottom: 0.4167rem;
}

.no_data {
    color: #8D8785;
    font-size: 1.167rem;
    line-height: 1.57;
    padding: 12.5rem 0;
}

.list-ios, 
.list-md {
    background: #EFF1F5;
    padding: 0;
}
ion-reorder-group > div {
    // background: #fff;
    width: 100%;
    // padding-bottom: 1px;
    position: relative;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 1px;
}
ion-reorder-group > div:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #D4D9E0;
}
ion-reorder-group > div:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}
ion-reorder-group > div:last-of-type:after {
    display: none;
}
ion-reorder {
    width: 100%;
}
ion-item {
    --background: #EFF1F5 url('/assets/icon/list.svg') no-repeat 99% center;
    /* --border-width: 0 0 1px;
    --border-color:#D4D9E0; */
    --padding-start: 0;
    --padding-top: 0.25rem;
    --padding-bottom: 0.3333rem;
    --inner-border-width: 0;
    --color: #4B423C;
    --highlight-height: 0;
    --inner-box-shadow: 0;
    background-size: 1.667rem 1.333rem;    
}
.item.sc-ion-label-md-h, 
.item .sc-ion-label-md-h,
.item.sc-ion-label-ios-h, 
.item .sc-ion-label-ios-h {
    display: flex;
    align-items: center;
}
.ionicon {
    display: none;
}

.favorites {
    display: block;
    width: 2.083rem; 
    height: 1.75rem;
    background: url('/assets/icon/btn_mymenu_fill_on.svg') no-repeat;
    background-size: 100%;
    margin-right: 2rem;
}
.favorites.off {
    background: url('/assets/icon/btn_mymenu_fill_off.svg') no-repeat;
    background-size: 100%;
}

.txt_area {
    font-size: 1.333rem;
    line-height: 1.25;
    display: flex;
    align-items: center;
    font-weight: 700;
    position: relative;
    padding-left: 3.333rem;
    box-sizing: border-box;
    min-height: 2.833rem;
    width: 100%;
}
.txt_area .micon {
    width: 2.25rem;
    height: 2.25rem;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1.083rem;
}
.txt_area .micon.lecture {
    height: 2.5rem;
    margin-top: -1.25rem;
}
.txt_area .micon.mvote {
    height: 2.833rem;
    margin-top: -1.417rem;
}
.txt_area .micon.comp_event {
    width: 2rem;
    height: 2.417rem;
    margin-top: -1.167rem;
}
.txt_area .micon.i_lettering {
    width: 1.833rem;
    height: 2.417rem;
    margin-top: -1.167rem;
}
.txt_area .micon.i_life {
    height: 2.417rem;
    margin-top: -1.167rem;
}
/* .txt_area .micon.kids {
    width: 1.917rem;
    height: 2.5rem;
    margin-top: -1.25rem;
}
.txt_area .micon.business_center {
    width: 1.75rem;
    height: 2.583rem;
    margin-top: -1.25rem;
} 
.txt_area .micon.cafe {
    height: 2.5rem;
    margin-top: -1.25rem;
}
.txt_area .micon.party {
    height: 2.667rem;
    margin-top: -1.333rem;
}
.txt_area .micon.kitchen {
    height: 2.333rem;
    margin-top: -1.167rem;
}
.txt_area .micon.media_room{
    width: 2.5rem;
}
.txt_area .micon.laundry {
    width: 2.083rem;
    height: 2.667rem;
    margin-top: -1.333rem;
}
.txt_area .micon.clean {
    height: 2.333rem;
    margin-top: -1.167rem;
}
.txt_area .micon.resort {
    width: 2.333rem;
    height: 2.333rem;
    margin-top: -1.167rem;
}
.txt_area .micon.ebook_library {
    height: 2.417rem;
    margin-top: -1.167rem;
}
.txt_area .micon.ssg_i {
    height: 2.333rem;
    margin-top: -1.167rem;
}
.txt_area .micon.hotel {
    width: 2.333rem;
    height: 2.333rem;
    margin-top: -1.167rem;
} */
.txt_area span {
    display: block;
    overflow: initial;
    white-space: initial;
    width: 80%;
}


.btn_area {
    margin-top: 2rem;
}
.btn {
    width: 100%;
}

@media screen and (min-width: 1025px) {
    .container {
        // margin-top: 60px;
    }

    .round_box {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .no_data {
        font-size: 16px;
        padding: 140px 0;
    }

    ion-item {
        --background: #EFF1F5 url('/assets/icon/list.svg') no-repeat 97% center;
        --padding-top: 15px;
        --padding-bottom: 15px;
        background-size: 20px 16px;    
    }
    ion-item ion-label {
        margin-top: 0;
        margin-bottom: 0;
    }
    ion-reorder-group > div:first-of-type .favorites {
        // margin-top: -15px;
    }    
    ion-reorder-group > div:first-of-type ion-item {
        // --padding-top: 0;
    }
    ion-reorder-group > div:last-of-type .favorites {
        // margin-bottom: -15px;
    }    
    ion-reorder-group > div:last-of-type ion-item {
        // --padding-bottom: 0;
    }
    .favorites {
        width: 22px; 
        height: 22px;
        margin-right: 53px;
        margin-left: 30px;
    }

    .txt_area {
        font-size: 16px;
        line-height: 1.5;
        padding-left: 53px;
        min-height: 35px;
    }
    .txt_area span {
        width: 100%;
    }
    .txt_area .micon {
        width: 34px;
        height: 34px;
        margin-top: -17px;
    }
    .txt_area .micon.lecture {
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.mvote {
        width: 31px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.comp_event {
        width: 29px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.i_lettering {
        width: 27px;
        height: 34px;
        margin-top: -17px;
    }
    .txt_area .micon.i_life {
        height: 36px;
        margin-top: -18px;
    }
    /* .txt_area .micon.kids {
        width: 27px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.business_center {
        width: 24px;
        height: 34px;
        margin-top: -17px;
    } 
    .txt_area .micon.cafe {
        width: 32px;
        height: 34px;
        margin-top: -17px;
    }
    .txt_area .micon.party {
        width: 30px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.kitchen {
        width: 33px;
        height: 34px;
        margin-top: -17px;
    }
    .txt_area .micon.media_room{
        width: 34px;
    }
    .txt_area .micon.laundry {
        width: 28px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.clean {
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.resort {
        width: 34px;
        height: 30px;
        margin-top: -15px;
    }
    .txt_area .micon.ebook_library {
        width: 32px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.ssg_i {
        width: 34px;
        height: 35px;
        margin-top: -17px;
    }
    .txt_area .micon.hotel {
        width: 34px;
        height: 34px;
        margin-top: -17px;
    } */

    .btn_area {
        margin-top: 30px;
    }
    .btn {
        width: 168px;
    }
}