<ion-footer style="left:0;" [ngClass]=" !isShowTop && !isOpenKeyboard ? 'on' : 'off'">
<!--<ion-footer style="left:0;" [ngClass]="(isShowBottom && !isShowTop && !isOpenKeyboard)? 'on' : 'off'">-->
	<ion-toolbar>
		<ul class="fixed_menu">
			<li>
				<a (click)="goPage('/',false)" class="home" [ngClass]="currentUrl==='/' ? 'on' : ''"><span>홈</span></a>
			</li>
			<li>
				<a (click)="toggleMenu()" class="menu"><span>메뉴</span></a>
			</li>
			<li *ngIf="globalVars.isApp">
				<a (click)="goPage('/iot/iot-control',true)" class="smart" [ngClass]="currentUrl.includes('/iot/') ? 'on' : ''"><span>스마트홈</span></a>
			</li>
			<li>
				<a (click)="goPage('/my-page/bill',true)" class="user" [ngClass]="currentUrl.includes('/my-page/') && !currentUrl.includes('/my-menu') ? 'on' : ''"><span>마이페이지</span></a>
			</li>
			<li>
				<a (click)="openMyMnuPopup()" class="mymenu" [ngClass]="currentUrl.includes('/my-page/my-menu') ? 'on' : ''"><span>마이메뉴</span></a>
			</li>
		</ul>
	</ion-toolbar>
</ion-footer>

