<h4 class="title_mg"><span class="highlight">TYPE</span></h4>
<div class="tab slide">
    <ul>
        <li *ngFor="let data of sqmsList; index as i"
            [ngClass]="data?.supTp===selectedSqms?.supTp ? 'on' : ''"
            (click)="onChangeSupTp(i)"
        >
            <a >{{data?.supTp}}</a>
        </li>
    </ul>
</div>
<div class="operation_info">
    <div class="plane_area flat_round_box bg_white">
        <!-- 데이터 노출 영역 -->
        <div class="top_area">
            <!-- 평면 이미지 노출 -->
            <div class="img_extend floor">
                <img [src]="selectedSqms?.planModel?.imgFileIdPath | fileToWebPath" alt="type 평면도">
                <div class="btm_box">
                    <a (click)="openFullImageModal(selectedSqms?.planModel?.imgFileIdPath)" class="extend_btn">원본보기</a>
                </div>
            </div>
            <div class="float_right">
                <p class="type_tit">
                    <span class="tit">{{selectedSqms?.supTp}}</span>
                    <span>{{selectedSqms?.roomCnt}}세대</span>
                </p>
                <table class="tbl2">
                    <caption>{{selectedSqms?.roomCnt}}세대</caption>
                    <colgroup>
                        <col width="50%">
                        <col width="50%">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">전용면적</th>
                        <td class="left">{{selectedSqms?.exsueArea}}</td>
                    </tr>
                    <tr>
                        <th scope="row">주거공용면적</th>
                        <td class="left">{{selectedSqms?.cmsueArea}}</td>
                    </tr>
                    <tr>
                        <th scope="row">공급면적</th>
                        <td class="left">{{selectedSqms?.supArea}}</td>
                    </tr>
                    <tr>
                        <th scope="row">기타공용면적</th>
                        <td class="left">{{selectedSqms?.etcCmsueArea}}</td>
                    </tr>
                    <tr>
                        <th scope="row">계약면적</th>
                        <td class="left">{{selectedSqms?.contArea}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 배치도 이미지 노출 -->
        <div class="img_extend" *ngIf="selectedSqms?.planLayoutModel?.imgFileIdPath">
            <img [src]="selectedSqms?.planLayoutModel?.imgFileIdPath | fileToWebPath" alt="type 평면도">
            <div class="btm_box">
                <a (click)="openFullImageModal(selectedSqms?.planLayoutModel?.imgFileIdPath)" class="extend_btn">원본보기</a>
            </div>
        </div>
        <!-- // 데이터 노출 영역 -->
    </div>
    <ul class="dot_list">
        <li *ngFor="let str of ntcsModel?.ntcMattList">{{str}}</li>
    </ul>
</div>
