<div class="dimmed" [ngClass]="{'inactiveDimmer': !isActive}"></div>
<div class="layer_popup_wrapper">
    <div class="layer_popup" [ngClass]="{'active' : isActive, 'inactive': !isActive}">
        <div class="content">
            <h1>{{_popupInfo?.title}}</h1>
            <div class="cont_pop" [innerHTML]="_popupInfo?.content | parseEnterToHtmlTag"></div>
        </div>
        <div class="btn_area">
            <button type="button" class="btn btn_type2 w_100" (click)="onClick()">확인</button>
        </div>
    </div>
</div>
