<v-app>
  <v-body title="설문조사">
      <div class="container">
          <!-- 글자 크기 조절 -->
          <div class="font_size_fix">
            <a href="#" class="font_btn">글자 크기</a>
            <div class="btn_box"><!-- 보일 시 on 추가 -->
                <a href="#" class="close">닫기</a>
                <ul class="list">
                <li class="small on">
                    <a href="#">
                    <p class="size">가</p>
                    <p>작게</p>
                    </a>
                </li>
                <li class="medium">
                    <a href="#">
                    <p class="size">가</p>
                    <p>보통</p>
                    </a>
                </li>
                <li class="large">
                    <a href="#">
                    <p class="size">가</p>
                    <p>크게</p>
                    </a>
                </li>
                </ul>
            </div>
          </div>
          <!-- 설문조사영역 -->
          <div class="round_box vote"><!-- 글자크기 버튼 클릭시 class ft_m, ft_l 적용 -->
              <div class="content">
                  <div class="vote_top">
                      <h4>빌리브 하남은 생활 편의를 높여주는 다양한 인프라를 갖추고 있습니다. 이 중, 여러분에게 가장 매력적인 인프라는 무엇인가요?</h4>
                      <span class="date">2020.08.10 - 2020.08.30</span>
                  </div>
                  <!-- 설문조사항목 1 -->
                  <h5>1. 주민설문조사 안건 1번 입니다.</h5>
                  <ul>
                      <li>
                          <div class="radio">
                              <label for="vote1_1">설문조사항목 1 설문 조사 항목 1 설문 조사 항목 1 설문 조사 항목 1 설문 조사 항목 1
                                  <input type="radio" id="vote1_1" name="vote1">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                      <li>
                          <div class="radio">
                              <label for="vote1_2">설문조사항목 2
                                  <input type="radio" id="vote1_2" name="vote1">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                  </ul>
                  <!-- // 설문조사항목 1 -->
                  <!-- 설문조사항목 2 -->
                  <h5>2. 주민설문조사 안건 2번 입니다.</h5>
                  <ul>
                      <li>
                          <div class="radio">
                              <label for="vote2_1">설문조사항목 1
                                  <input type="radio" id="vote2_1" name="vote2">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                      <li>
                          <div class="radio">
                              <label for="vote2_2">설문조사항목 2
                                  <input type="radio" id="vote2_2" name="vote2">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                      <li>
                          <div class="radio">
                              <label for="vote2_3">설문조사항목 3
                                  <input type="radio" id="vote2_3" name="vote2">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                      <li>
                          <div class="radio">
                              <label for="vote2_4">설문조사항목 4
                                  <input type="radio" id="vote2_4" name="vote2">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                      <li>
                          <div class="radio">
                              <label for="vote2_5">설문조사항목 5
                                  <input type="radio" id="vote2_5" name="vote2">
                                  <span class="chkmark"></span>
                              </label>
                          </div>
                      </li>
                  </ul>
                  <!-- // 설문조사항목 2 -->
                  <!-- 설문조사항목 마지막 의견란 -->
                  <h5>3. 기타의견</h5>
                  <div class="text_area">
                    <textarea class="com_texta" placeholder="OOO자 내로 작성해주세요." rows="5"></textarea>
                    <p class="numb">0 / 500</p>
                  </div>
                  <!-- // 설문조사항목 마지막 의견란 -->
              </div>
          </div>
          <!-- // 설문조사영역 -->
          <!-- 버튼영역 - 참여 전 -->
          <div class="btn_area">
              <button type="button" class="btn btn_type1">취소하기</button>
              <button type="button" class="btn btn_type2">제출하기</button>
          </div>
          <!-- // 버튼영역 - 참여 전 -->
          <!-- 버튼영역 - 참여 후
          <div class="btn_area">
              <button type="button" class="btn btn_type2">목록보기</button>
          </div> -->
          <!-- // 버튼영역 - 참여 후 -->
      </div>
  </v-body>
</v-app>