<div class="dimmed" [ngClass]="{'inactiveDimmer': !isActive}"></div>
<div class="layer_popup" [ngClass]="{'active' : isActive, 'inactive': !isActive}">
    <div class="content">
        <h1>오류</h1>
<!--        <div class="cont_pop" [innerHTML]="_popupInfo?.content | parseEnterToHtmlTag"></div>-->
        <div class="cont_pop">
            네트워크에 연결할 수 없습니다.<br>
            확인 후 이용해 주세요.
        </div>
    </div>
    <div class="btn_area">
        <button type="button" class="btn btn_type2 w_100" (click)="onClick()">확인</button>
    </div>
</div>
