<v-app>
    <v-body title="문의하기" mnuId="LC_CS_INQ">
        <div class="full_cont">
            <div class="container">
                <!-- 타이틀 버튼 있는 버전 -->
                <h4 class="main_title has_btn">
                    <p>나의 <span class="highlight">문의내역</span></p>
                    <button (click)="goInsertPage()" type="button" class="btn btn_type2">문의글 작성하기</button>
                </h4>
                <div class="round_box">
                    <!-- 게시판 리스트 -->
                    <div class="notice_list_box">
                        <!-- 리스트 분류 PC에만 노출 -->
                        <div class="notice_list_title">
                            <div class="table_w03">NO</div>
                            <div class="">제목</div>
                            <div class="table_w03">첨부</div>
                            <div class="table_w01">작성자</div>
                            <div class="table_w01">작성일</div>
                            <div class="table_w03">답변 여부</div>
                            <div class="table_w01">작성일</div>
                        </div>
                        <!-- 리스트 분류 MO에만 노출 -->
                        <div class="notice_list_title mo answer">
                            <div class="table_w01">제목</div>
                            <div class="">답변</div>
                        </div>

                        <div class="no_data" *ngIf="!isExistList;else other_content">
                            <p>조회된 글이 없습니다.</p>
                        </div>
                        <ng-template #other_content>
                            <!-- PC-테이블 MO-리스트 -->
                            <!-- 문의 하기는 class="answer" >"추가"< -->
                            <div class="notice_list answer">
                                <div *ngFor="let data of bltbrdList;" >
                                    <p class="no"><span>{{data.bltbrdId}}</span></p>
                                    <h5 class="title">
                                        <!-- new 태그 있을 때 a class="tag_block" 적용 -->
                                        <a (click)="goDetailPage(data?.bltbrdId)" [ngClass]="(data.iptDtm | checkDateIsNew) ? 'tag_block' : ''">{{data.bltbrdTtl}}</a>
                                        <span class="tag red" *ngIf="data.iptDtm | checkDateIsNew">New</span>
                                        <span *ngIf="data.bltbrdAtchList.length>0" class="clip"></span>
                                    </h5>
                                    <p class="writer_time"><span>{{data.custNm}}</span><span class="time">{{data.iptDtm | stringDateFormatDt }}</span></p>
                                    <p class="writer_time answer"><span>{{data.ansStatus=="1" ? 'Y' : 'N'}}</span><span class="time">{{data.ansIptDtm | stringDateFormatDt}}</span></p>
                                </div>
                            </div>
                            <!-- 더보기 -->
                            <a *ngIf="bltbrdSearchModel?.page < bltbrdSearchModel?.totalEndPage" class="add_item" (click)="moreBltbrdList()">더보기</a>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>
    </v-body>
</v-app>
