.sec0{
    background-color: aqua !important;
    font-size: 300%;
}

.sec1{
    background-color: indigo !important;
    font-size: 300%;
    color: blue;
}

.sec2{
    background-color: black !important;
    color: #fff;
    font-size: 300%;
}

.sec3{
    background-color: grey !important;
    font-size: 300%;
}

.sec4{
    background-color: green !important;
    font-size: 300%;
}
