.font_size_fix + .main_title.flt_left{
    padding-top: 0;
}
.go_list.block{
    padding-top: 1.66667rem;
}
.go_list.block a{
    display: block;
    margin: 0 auto;
}
.go_list.block a{
    display: block;
    margin: 0 auto;
}
.go_list.block a.only_pc{
    display: none;
}

/* pc */
@media screen and (min-width: 1025px) {
    .go_list.block {
        padding-top: 31px;
    }
    .go_list.block a,
    .go_list.block a.only_pc{
        display: inline-block;
    }
    .go_list.block a + a{
        margin-left: 1rem;
    }
}