/* 상단 검색 필터 */
.top_filter{
    position: relative;
    padding: 0 0 2rem;
    border-bottom: 1px solid #fff;
}
.top_filter::after{
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    display: block;
    left:0;
    right: 0;
    bottom: 0;
    background: #D7D9DC;
}
.top_filter dl{
    display: block;
    margin-bottom: 2rem;
    width: 100%;
}
.top_filter dl dt{
    width: 23%;
    float: left;
    line-height: 3.667rem;
}
.top_filter dl dd{
    display: inline-block;
    width: 77%;
}
.top_filter dl.btn_box dt{
    line-height: 3rem;
}
.top_filter dl.btn_box dd a{
    display: inline-block;
    width: auto;
    line-height: 3rem;
    min-width: 6rem;
    text-align: center;
    padding: 0 0.6rem;
    background: #fff;
    color: #8D8785;
    box-shadow: 0px 0.25rem 0.5rem 1px #0000001a;
    border-radius: 3rem;
    // margin-bottom: 1.25rem;
}
.top_filter dl.btn_box dd a + a{
    margin-left: 0.75rem;
}
.top_filter dl.btn_box dd a + a:nth-child(4){
    margin: 0;
}
.top_filter dl.btn_box dd a.on{
    color: #fff;
    background: #4B423C;
}
.top_filter dl.btn_box dd::after{
    content: "";
    display: table;
    clear: both;
}
.top_filter a{
    width: 100%;
}
/* 문화 리스트 */
.notice_list_box .notice_list div .no{
    display: block;
    margin-bottom: 0.5rem;
    color: #4B423C;
    font-size: 1.167rem;
}
.notice_list_box .notice_list div .no::after,
.notice_list_box .notice_list div .no::before{
    display: inline-block;
}
.notice_list_box .notice_list div .no::after{
    content: "]";
}
.notice_list_box .notice_list div .no::before{
    content: "[";
}
.notice_list_box .notice_list div{
    padding-right: 6rem;
}
.notice_list_box .notice_list div .title{
    padding-right: 0;
    margin-bottom: 0.2rem;
    border-bottom: none;
}
.notice_list_box .notice_list div .title:after {
    display: none;
}
.notice_list_box .notice_list div .title a{
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    color: #4B423C;
    margin-bottom: 0.5rem;
}
.notice_list_box .notice_list div .title p{
    display: block;
    font-size: 1rem;
    color: #8D8785;
}
.notice_list_box .notice_list div p.writer_time{
    color: #8D8785;
}
.notice_list_box .notice_list div p.writer_time span em::before,
.notice_list_box .notice_list div p.writer_time span + span::before{
    content: "/";
    padding: 0 2px;
}
.notice_list_box .notice_list div p.ft_right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size:  1.167rem;
}
.notice_list_box .notice_list div p.ft_right.ing{
    color: #E44E28;
}
.notice_list_box .notice_list div p.ft_right.end{
    color: #4B423C;
}
.notice_list_box .notice_list div p.ft_right.yet{
    color: #8D8785;
}

@media screen and (min-width: 1025px) {
    /* 상단 검색 필터 */
    .top_filter{
        display: inline-block;
        width: 100%;
        padding: 0 0 30px;
        margin: 0 0 30px;
    }
    .top_filter::after{
        content: "";
        display: table;
        clear: both;
    }
    .top_filter dl{
        float: left;
        margin-bottom: 0;
        width: 260px;
    }
    .top_filter dl dt{
        width: 80px;
        line-height: 40px;
    }
    .top_filter dl dd{
        width: 180px;
    }
    .top_filter dl + dl{
        margin-left: 50px;
        width: 460px;
    }
    .top_filter dl.btn_box dt{
        line-height: 36px;
    }
    .top_filter dl.btn_box dd{
        width: 380px;
    }
    .top_filter dl.btn_box dd a{
        line-height: 36px;
        min-width: 89px;
        border-radius: 36px;
        margin-bottom: 0;
        font-size: 14px;
    }
    .top_filter dl.btn_box dd a + a{
        margin-left: 8px;
    }
    .top_filter dl.btn_box dd a + a:nth-child(4){
        margin-left: 8px;
    }
    .top_filter a.btn{
        position: absolute;
        width: 88px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
    }
    .top_filter + .sub_title .list_count{
        padding-top: 0;
    }
    /* 문화 리스트 */
    .notice_list_box .notice_list_title {
        border-top: none;
    }
    .notice_list_box .notice_list_title:before {
        display: none;
    }
    .notice_list_box .notice_list_title div {
        padding-top: 0;
    }
    .notice_list_box .notice_list div .no{
        display: table-cell;
        margin-bottom: 0;
        font-size: 16px;
    }
    .notice_list_box .notice_list div .no::after,
    .notice_list_box .notice_list div .no::before{
        display: none;
    }
    .notice_list_box .notice_list div .title{
        padding-right: 0;
    }
    .notice_list_box .notice_list div .title a{
        font-size: 16px;
    }
    .notice_list_box .notice_list div .title p{
        font-size: 14px;
    }
    .notice_list_box .notice_list div{
        padding-right: 0;
    }
    .notice_list_box .notice_list div p.ft_right{
        position: relative;
        top: auto;
        transform: none;
        right: auto;
        width: 105px;
        font-size: 16px;
    }
    .notice_list_box .notice_list div .writer_time{
        position: relative;
    }
    .notice_list_box .notice_list div .writer_time span{
        position: absolute;
        width: 155px;
        vertical-align: middle;
        color: #5A514C;
        font-size: 16px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.5;
        text-align: center;
    }
    .notice_list_box .notice_list div .writer_time span + span{
        width: 104px;
        right: 0;
        left: auto;
    }
    .notice_list_box .notice_list div .writer_time span em{
        display: block;
    }
    .notice_list_box .notice_list div p.writer_time span em::before,
    .notice_list_box .notice_list div p.writer_time span + span::before{
        display: none;
    }
}