.round_box .content {
    padding: 0.8333rem 0;
}
.round_box .content h5 {
  padding-bottom: 1.167rem;
  position: relative;
  font-size: 1.333rem;
  font-weight: 800;
}
.round_box + .round_box {
    margin-top: 1.25rem;
}

.mem_info {
  margin-top: 1.667rem;
}
/* .mem_info h5:after {
  content: "";
  position: absolute;
  height: 0.08333rem;
  background: #abb3c1;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.4;
} */

.mem_box {
  margin-top: 1.75rem;
}
.mem_box dl {
  display: flex;
  align-items: center;
  margin-bottom: 0.8333rem;
}
.mem_box dl dt {
  width: 6.667rem;
  font-size: 1.25rem;
}
.mem_box dl dd {
  width: calc(100% - 6.667rem);
}
.mem_box .input_row input {
  flex: 1;
}
.mem_box .input_row input + input {
  margin-left: 0.5833rem;
}


.add_info h5 > span {
    color: #8D8785;
    font-size: 1.083rem;
    margin-left: 0.6667rem;
    font-weight: 300;
    vertical-align: 0.08333rem;
}

.btn_calendar {
    position: absolute;
    top: 0.4167rem;
    right: 0.75rem;
    background: url('/assets/icon/class.svg') no-repeat;
    background-size: 100%;
    width: 2rem;
    height: 2.083rem;
    text-indent: -9999px;
}

.dot_ps_txt {
  color: #8D8785;
  font-size: 1.083rem;
  line-height: 1.84;
  padding-left: 0.4167rem;
  position: relative;
  margin-top: 1.333rem;
}
.dot_ps_txt:before {
  display: block;
  content: "";
  background: #8D8785;
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  position: absolute;
  top: 0.8333rem;
  left: 0;
}

.txt {
  font-size: 1.333rem;
  text-align: center;
  margin-top: 3.75rem;
  margin-bottom: 2.083rem;
  word-break: keep-all;
  font-weight: 800;
}

@media screen and (min-width: 1025px) {
    .round_box .content {
        padding-top: 0;
        padding-bottom: 0;
    }
    .round_box .content h5 {
        padding-bottom: 23px;
        font-size: 22px;
    }
    .round_box + .round_box {
        margin-top: 25px;
    }

    .mem_info {
        margin-top: 37px;
    }
    
    .mem_box {
        margin-top: 30px;
    }
    .mem_box:after {
        display: block;
        content:"";
        clear: both;
    }
    .mem_box .left {
        width: 50%;
        float: left;
    }
    .mem_box .right{
        width: 50%;
        float: right;
    }
    .mem_box dl {
        margin-bottom: 12px;
        padding-right: 80px;
        box-sizing: border-box;
    }
    .mem_box dl:nth-of-type(4), .mem_box dl:nth-of-type(5) {
        float: right;
    }
    .mem_box dl dt { 
        width: 110px;
        font-size: 18px;
    }
    .mem_box dl dd {
        width: calc(100% - 110px);
    }
    .mem_box .input_row input {
        flex: 1;
    }
    .mem_box .input_row input + input {
        margin-left: 0.5833rem;
    }
    
    .add_info h5 > span {
        font-size: 15px;
        margin-left: 8px;
        vertical-align: 3px;
    }

    .dot_ps_txt {
        font-size: 15px;
        padding-left: 8px;
        margin-top: 23px;
    }
    .dot_ps_txt:before {
        width: 3px;
        height: 3px;
        top: 12px;
    }
    
    .txt {
        font-size: 18px;
        margin-top: 54px;
        margin-bottom: 25px;
    }
}